[2017-09-20 17:43] SwampDragons commented on #4675
I just made a PR with the feature @rismoney suggested, but even when I set NoProfile there I still get the "Preparing modules for first use" output.

What is it about this output that's causing a problem?  It's noisy but even official azure docs that explain how to use packer have it in their "expected output" docs: https://docs.microsoft.com/en-us/azure/virtual-machines/windows/build-image-with-p

[2017-09-20 17:48] SwampDragons commented on #4675
I'm going to close this issue since underneath it all, it looks like the real problem is that we can't suppress the XML output stream, which already has its own issue here: https://github.com/hashicorp/packer/issues/4322

[2017-09-20 17:48] #4675 closed

[2017-09-20 19:19] DanHam commented on #4322
@SwampDragons I was not supposed to be spending any more time on this! When I blanked all the commits my intention was to destroy the code and prevent me from being tempted with further tinkering. However, I realised I had the code backed in Time Machine backup... and now I've been sucked right back in!! 😄
I've rebased, reworked due to the latest changes that have been made and resubmitted...

[2017-09-20 19:22] SwampDragons commented on #5258
Ah, I wasn't escaping the $ correctly in the autounattend 🤦‍♀️

[2017-09-20 19:26] SwampDragons commented on #4322
Hah!  Nothing ever dies in git. Thanks for being tempted back into it.

[2017-09-20 19:27] kalpik commented on #4322
Haha! I'm now glad I left that comment :P

[2017-09-20 23:44] dhermans commented on #4857
hi all - can I +1 this issue as well.
We find using winrm over a proxy a bit unreliable. My guess is that packer -> load balanced proxy -> instance will use different round robin proxy ( ttl is 60secs ) and so bounce via a different source IP. WinRM seems to care about this and the provisioner never connects.

Our workaround is to have only a single proxy in the pool during builds which is a bit l

[2017-09-20 23:46] ardrigh commented on #4526
Is there anyone working on a possible builder solution for this?

As much as I would love to contribute one, I don't know Go code well enough to write one myself currently.

It would be helpful to have a `vsphere-iso` type builder using the vSphere API, and matching the `vmware-iso` builder functionality, which we could then use the `vsphere-template` post-processor on.

For our use case, we want

[2017-09-21 00:12] SwampDragons commented on #5258
Okay, repro'd and found a workaround.
If anyone else comes across this, you need to escape the $ using a powershell escape character, which is a backtick.  So your password `Super$ecret` becomes ``Super`$ecret``

[code]

[2017-09-21 02:10] bugbuilder commented on #5354
This is my [first approach](https://github.com/bennu/packer/tree/local-vsphere-template) to accomplish this feature, I tested this on Workstation 12 Pro.

To be able to use the `vsphere-template` with local builders you'll need to use a collection of post-processors that look like this:
[code]
This weekend I'll try to test this on Fusion and Player, @jonmosco @csandertch could you help me with tes

[2017-09-21 02:34] jonmosco commented on #5354
Yea definitely.

Jon

[2017-09-21 10:15] DanHam opened #5368 "Elevated PowerShell: Error dot sourcing file containing env vars"
If the credentials used when executing an elevated PowerShell command are different to the credentials supplied for the user connected over WinRM, an error occurs dot sourcing the file containing the environment variables.

Note that in the run that the console and debug output were taken from (see link to gists below), the WinRM username and password used were both 'vagrant'.
Elevated PowerShell

[2017-09-21 10:43] DanHam commented on #5368
Just thinking about this further... I've now worked out that this is due to the fact that `$env:Temp` will be different for the two users. e.g.

When the file containing the env vars are uploaded it is done by the WinRM user (vagrant) and `$env:Temp` will be:
[code]
When we try and access the file as the elevated PowerShell user (adminuser) `$env:Temp` will be:
[code]

Clearly this would mean that

[2017-09-21 13:46] awalker125 opened #5370 "Feature Request: support ssh agent on docker provisioner with ansible"
Hi,

I'm using the docker builder with the ansible provisioner to create a container image. I'd like to use the anisble git module to pull into the container a private git repo. This doesnt work as it doesnt seem like the ssh proxy support agent forwarding. When ansible makes the request to forward the agent you get (I think)

2017/09/21 13:12:47 packer: 2017/09/21 13:12:47 rejecting auth-agent-re

[2017-09-21 13:48] jonmosco commented on #5354
Started testing today and it looks like it gets stuck trying to upload the artifact:

2017/09/21 09:38:02 packer: 2017/09/21 09:38:02 Writing VMX to: output-ubuntu-16.04-x86_64/packer-ubuntu-16.04-x86_64.vmx
2017/09/21 09:38:02 ui: ==> ubuntu-16.04-x86_64: Skipping export of virtual machine (export is allowed only for ESXi and the format needs to be specified)...
2017/09/21 09:38:02 packer: 2017/0

[2017-09-21 14:56] secbitchris commented on #4684
FYI I experienced this with packer 1.1.0 just as described in this thread. Machine would fail to properly reboot, and script would disconnect.

Replacing "reboot" and "sleep 60" in my script with the following worked:

    echo "====> Shutting down the SSHD service and rebooting..."
    systemctl stop sshd.service
    nohup shutdown -r now < /dev/null > /dev/null 2>&1 &
    exit 0

[2017-09-21 15:14] bugbuilder commented on #5354
It's strange because I didn't change the actual behavior... it's look like a `vsphere ` post-processor issue or network issue, if you check your vSphere you can see the uploading?.  Could you try with the current packer release? also it would be great if you can share your packer log and your template in gist.

[2017-09-21 17:16] jonmosco commented on #5354
Yes, my mistake (password was updated).  Here is the gist of the packer template: https://gist.github.com/jonmosco/b742866f24c3426aad9859a310fd665a

After making the change, I am getting the problem where it can not find the VM and is looking at the "Discovered Virtual Machines" folder:

https://gist.github.com/jonmosco/00fba48ca6b3158ed013b62e39eadec5

[2017-09-21 17:30] bugbuilder commented on #5354
You need to past the post-processor as a collection:
[code]

[2017-09-21 17:32] jonmosco commented on #5354
Yes, the gist I provided has just that.

On Thu, Sep 21, 2017 at 1:31 PM, bugbuilder <notifications@github.com>
wrote:

[2017-09-21 17:34] bugbuilder commented on #5354
I saw you gist and I didn't see the brackets **[ ]** surrounded the post-processors. Check my example above.

[2017-09-21 17:53] jonmosco commented on #5354
Oh yes, my bad.  Here is the latest error then:

https://gist.github.com/jonmosco/544e300357596e4ef3753311b41ba7e0

[2017-09-21 17:57] bugbuilder commented on #5354
that look like your not using my packer version, Did you compile the correct branch (local-vsphere-template)???

[2017-09-21 18:17] jonmosco commented on #5354
Sorry, I guess I did not.  I just tried to build this, correct me if im wrong:

git checkout local-vsphere-template
Branch local-vsphere-template set up to track remote branch local-vsphere-template from origin.
Switched to a new branch 'local-vsphere-template'
go build -o bin/packer
$GOPATH/src/github.com/bennu/packer/bin/packer build -var 'vsphere_password=password' ubuntu/ubuntu-16.04-vmware-ba

[2017-09-21 18:23] bugbuilder commented on #5354
Look weird to me... I'll update the source with log information to be sure that we are using the same version, but I cant do it in this moment, I'll ping you.

[2017-09-21 18:32] jonmosco commented on #5354
No problem, thank you.

On Thu, Sep 21, 2017 at 2:23 PM, bugbuilder <notifications@github.com>
wrote:

[2017-09-21 19:39] PatrickLang opened #5371 "Hyper-V ISO builder needs to disable & delete automatic checkpoints before running Vagrant postprocessor"
Hyper-V added a new feature that automatically takes checkpoints of VMs when they're started. When you stop the VM, it's deleted. [Link](https://blogs.technet.microsoft.com/virtualization/2017/04/20/making-it-easier-to-revert/). This causes a problem for Packer because when the box file is created - it includes a copy of the VM configuration. If that config has a checkpoint but the files aren't co

[2017-09-21 19:58] marema31 commented on #4526
I have proposed a first draft of PR for this (#4591). I was waiting for comments on it.  @mkuzmin is willing to provides another solution. I suppose packer could have a such solution in a near future.

Just my 2cts, I would love that this proposal ( https://github.com/hashicorp/packer/pull/5367#issuecomment-331251166 ) could be integrated also in this builder.

[2017-09-21 22:14] knightsamar opened #5372 "ppc64le releases"
- Packer version `v1.1.0`
- Host platform `ppc64le`

Where are the packer releases for Linux on ppc64le platform? I didn't find it on https://releases.hashicorp.com/packer/1.1.0/

Last time I opened an issue (#5108) about compilation issues, I was given a link to a built and signed file for that version. Now that a new version is out, I want to get it. If it's already built and signed somewhere, I

[2017-09-22 00:06] jvanderpaal commented on #4857
Hitting Winrm directly would be great because our proxies aren't supposed to handle internal addresses, we can't lock it down until this issue is resolved.

[2017-09-22 00:33] jonmosco commented on #5354
Looks like I got the build working correctly, but now a different error:

https://gist.github.com/jonmosco/29e26f573a32dad1fa87b0fb18554aeb

[2017-09-22 00:40] BSick7 commented on #5342
I've actually been thinking more about this functionality.
Instead of `pre-processors`, it may make more sense to call it `sources`.
In my original example, I am providing a source artifact to derive the build.
Another case I thought of today was sourcing a guest additions iso which could be pulled remotely.

The one thing that may not feel consistent with existing packer is that several builders

[2017-09-22 01:19] pscadiz opened #5373 "puppet-masterless provisioner module_paths upload to "dirupload" directory"
Packer version : 1.1.0 (also 1.0.4)

I'm calling the puppet-master provisioner as described
[code]

Puppet provisioner gets run as described:
[code]

And when looking at the module-0 directory, it's listing not the modules but a parent directory
[code]

Checked that directory and that's where the modules reside.

Why are the modules being uploaded into a dirupload/ directory when puppet is setting

[2017-09-22 02:02] pscadiz commented on #5373
Looks like it's more an issue of the file provisioner, seeing #5254

[2017-09-22 03:23] pscadiz commented on #5373
Just for documentation on this issue, the file provisioner works properly with packer version 1.0.1

[2017-09-22 07:35] awalker125 commented on #5370
For anyone else interested in doing something similar. I've worked around this with the following.

#group_vars/all/main.yml
repos:
  - repo: 'git@somegiturl:somegroup/someproject.git'
    version: master
    dest: /deploy
    workspace: "{{ playbook_dir }}/../stage"
    name: someproject

#tasks/main.yml
---
# tasks file for ansible-role-git-deploy
- name: ensure workspace(s) exists
  connection:

[2017-09-22 08:28] karthik101 opened #5375 "Pull docker base image from private repository??"
How can i pull base image from a private repository in "builders" ?
like in post-processors "docker-push".

[2017-09-22 08:30] #5375 closed

[2017-09-22 08:43] karthik101 commented on #5375
It works from the documentation specified underneath ECR options.

"builders":[{
        "type": "docker",
        "image": "hostname/java:0.1",
        "login_server": "https://{{user `repo`}}",
        "login": "true",
        "login_username": "USER",
        "login_password": "PASSWORD",
        "pull": true,
        "commit":true,
        "changes": ["USER {{user `create-user`}}","WORKDIR /{{

[2017-09-22 09:21] nebffa commented on #5006
Hey @mwhooker, you're right that fixing this isn't really your problem. However, it would probably be a really good idea to add some documentation somewhere about this, and that it would be a good workaround to use `http_directory` in order to serve files instead.

[2017-09-22 10:24] quixand commented on #4200
I would really like to put comments in my config files without having to process my config files

[2017-09-22 13:02] lbytnar commented on #5335
**Affected versions:** Packer 1.1.0
**Host platform:** Ubuntu 16.04.3 LTS
**Builder:** lxc
**Provisioner:** ansible-local with Ansible v2.3.2.0

I see similar behavior with lxc builder.

[code]

I run packer with `-debug` parameter, enter lxc container after stage you see above. Then I copied lines from **Executing Ansible:** and run inside container. The out was

[code]
This is how my ansible-loc

[2017-09-22 15:05] bugbuilder commented on #5354
@jonmosco Could you share your ubuntu/ubuntu-16.04-vmware-base.json please

[2017-09-22 15:10] jonmosco commented on #5354
https://gist.github.com/jonmosco/95f724a7d4249a1cf046362669fa96fc

[2017-09-22 15:19] PatrickLang commented on #5371
@taliesins and @StefanScherer do you agree with this approach? Got a PR attached

[2017-09-22 15:54] StefanScherer commented on #5371
@PatrickLang That seems good to me. I haven't encountered this as my HyperV host was a Win2016 14393, but it is good to take care for the upcoming Win10/2016 releases 👍

[2017-09-22 16:11] bugbuilder commented on #5354
@jonmosco Could you tell me the ouput if run $GOPATH/src/github.com/bennu/packer/bin/packer version

[2017-09-22 16:16] jonmosco commented on #5354
https://gist.github.com/jonmosco/491c05c0439184e0d3521d6ae03022d8

[2017-09-22 16:21] lbytnar opened #5377 "lxd will not produce any artifacts when name parameter is set."
**Affected versions:** Packer 1.1.0
**Host platform:** Ubuntu 16.04.3 LTS
**Builder:** lxd
**Provisioner:** ansible-local with Ansible v2.3.2.0

Below packer config fails to produce any artifacts
[code]
Here is the output
[code]

If I remove `name` leaving just

[code]
Then all works as expected

[code]

[code]

[2017-09-22 16:22] PatrickLang commented on #5371
@StefanScherer now that I think about it, the setting could be different on Windows 10 vs Windows Server version 1709. It was intended for desktop users. I'll confirm with @scooley to see if it's different.

[2017-09-22 16:27] bugbuilder commented on #5354
Do you bother you if I share you my packer binary?

[2017-09-22 16:29] jonmosco commented on #5354
Sure, just hope it doesnt have a "remove from inventory" flag set for VCenter.... 😬

[2017-09-22 16:35] Rowern commented on #5330
I also use the `shell-local` post-processor to provision some terraform variables.
Mainly, I parse the manifest to create different `.auto.tfvars` to update the latest available AMI to my terraform.
I can always remove the `shell-local` post-processor and just use my script. But for me its simpler to have it inside packer and not add some intelligence outside of it.

[2017-09-22 16:41] mwrock commented on #5371
Definitely a good idea!

[2017-09-22 16:52] jonmosco commented on #5354
go version
go version go1.9 darwin/amd64

[2017-09-22 16:55] bugbuilder commented on #5354
Ok, I'll build with that version also can you do a pull and build again, I put some logs

[2017-09-22 17:12] jonmosco commented on #5354
https://gist.github.com/jonmosco/778549577a84ec205e7a3afbe7566b75

[2017-09-22 17:18] bugbuilder commented on #5354
Thats strage, because I didnt see the new log

[2017-09-22 17:20] bugbuilder commented on #5354
[this line](https://github.com/bennu/packer/blob/local-vsphere-template/post-processor/vsphere-template/post-processor.go#L90)

[2017-09-22 17:20] jonmosco commented on #5354
`┌[jmosco@ka.forkedprocess.com]-(~/code/go/src/github.com/bennu/packer)(git)[remotes/origin/local-vsphere-template(369)|✔ ]
└>`

Is this the correct branch to be building from?

[2017-09-22 17:21] bugbuilder commented on #5354
yep...

[2017-09-22 17:22] bugbuilder commented on #5354
Could you check the line above?

[2017-09-22 17:35] jonmosco commented on #5354
Which line above?  In the source directory?

git pull origin local-vsphere-template
From https://github.com/bennu/packer
 * branch              local-vsphere-template -> FETCH_HEAD
Updating 644ac5b3..24a8fddf
Fast-forward
 post-processor/vsphere-template/post-processor.go | 1 +
 post-processor/vsphere/post-processor.go          | 2 ++
 2 files changed, 3 insertions(+)

[2017-09-22 17:39] bugbuilder commented on #5354
Lets build:
[code]

[2017-09-22 17:56] jonmosco commented on #5354
Better error output this time, wonder why my build was not doing this?

2017/09/22 13:54:44 ui:     ubuntu-16.04-x86_64 (vsphere-template): Marking as a template...
    ubuntu-16.04-x86_64 (vsphere-template): Marking as a template...
2017/09/22 13:54:47 ui error: ==> ubuntu-16.04-x86_64 (vsphere-template): A specified parameter was not correct.
==> ubuntu-16.04-x86_64 (vsphere-template): path
==>

[2017-09-22 18:03] bugbuilder commented on #5354
Probably dependency and path problems, I bet you that you have packer in your gopath.

Could you change your vsphere-template and remove the datacenter?

[2017-09-22 18:06] bugbuilder commented on #5354
Can you tell me the topology of your vCenter for example how many hosts do you have in your cluster, storages...

[2017-09-22 18:13] bugbuilder commented on #5354
I can continue with this now but I'll back in a few hours, could you share me the full log when you end with your tests please

[2017-09-22 18:13] jonmosco commented on #5354
This cluster is used for testing and has one DataCenter, one Cluster, and 2 hosts.  Attached is 2 NAS via NFS presenting 2 datastores.

VCenter 5.5 Standard

[2017-09-23 00:42] nikolay opened #5378 "Not working with session tokens"
- Packer version: from 0.12.0 to 1.1.0
- OS: macOS High Sierra

I'm using [aws-vault](https://github.com/99designs/aws-vault) to store my AWS key. This works with everything, including Terraform, but not with Packer. I get this error:

[code]

The environment variables that `aws-vault` adds are:
- `AWS_VAULT` (specific to the tool)
- `AWS_SECRET_ACCESS_KEY`
- `AWS_SESSION_TOKEN`
- `AWS_ACCESS_KEY_

[2017-09-23 01:03] #5378 closed

[2017-09-23 01:35] bugbuilder commented on #5354
@jonmosco Could you show me where the `vsphere` post-processor is uploading the local VM, I think that my problem is how I deduce the vmx path.

[2017-09-23 01:45] jonmosco commented on #5354
It us putting it in "vm_folder": "packer_templates", but looking in
VCenter, that is a top level object, so its path is not tied to that
specific datastore...

On Fri, Sep 22, 2017 at 9:35 PM, bugbuilder <notifications@github.com>
wrote:

[2017-09-23 01:49] jonmosco commented on #5354
`"datastore": "datastore",
"disk_mode": "thin",
"host": "vc01.forkedprocess.com",
"password": "{{user `vsphere_password`}}",
"username": "{{user `vsphere_user`}}",
"vm_name": "{{user `template_name`}}",
"vm_folder": "packer_templates",`

[2017-09-23 01:54] bugbuilder commented on #5354
I think I find the problem... give a few minutes... I'm testing..

[2017-09-23 02:09] bugbuilder commented on #5354
Yep I found it! if you change the "name" attribute in the builder section for vm_name the post-precessor will works :). Let me think how to fix this, could you try if that what I'm saying its true?

[2017-09-23 02:28] jonmosco commented on #5354
Yes!  That did it!  Now just have to put the "folder" back in and see if it can be moved.  Not sure why that "name" was not "vm_name" looking back through the documentation..its not even listed as an attribute, but I have been using it for some time now.  Great find.

[2017-09-23 02:40] bugbuilder commented on #5354
I updated the source so now could use name or vm_name without problems :) thanks for you testing you helped me a lot!

[2017-09-23 02:42] bugbuilder commented on #5354
Now I have to test if this could work with .ova and .ovf files... Could you still help me?

[2017-09-23 02:45] jonmosco commented on #5354
Yes, definitely.  Having this feature saves me a lot of time.

Thank you for getting this working!  Very much appreciated.

On Fri, Sep 22, 2017 at 10:42 PM, bugbuilder <notifications@github.com>
wrote:

[2017-09-23 09:52] Chan9390 commented on #5220
Any updates ?

[2017-09-23 21:29] DALDEI commented on #5346
Thank you !!! Worked great.

[2017-09-24 02:28] shibumi opened #5379 "Arch Linux: build fails due to wrong url to go-tools"
Hello,
Currently I am trying to package packer version 1.1.0 for the official Arch Linux Repositories. When I try to build packer I get the following error:
[code]
Any Idea how I can fix this?

[2017-09-24 05:10] rickard-von-essen commented on #5379
I have never packaged anything for Arch but assuming it's conceptual similar to FreeBSD, I would suspect that network access is only allowed in the "download" phase and not during the rest of the build.  We do a few `go get` in our `Makefile`. You should probably add those deps to your sources and then patch the `Makefile` to not try to download.

[2017-09-24 15:12] renaldrozario commented on #5313
This is a much needed addition in packer as we plan to package application on the additional volume,  so does everyone.

[2017-09-24 15:54] rickard-von-essen commented on #5313
Reading the [API docs](https://developer.openstack.org/api-ref/image/v2/index.html#images) can't find any evidence that this is supported.

Can someone give me a counter example?

[2017-09-25 02:26] gaelik commented on #1202
does that still work with 1.1.0 ?

Got a json file with

`"boot_command": "<tab> text ks=http://{{ .HTTPIP }}:{{ .HTTPPort }}/{{user `kickstart-script`}}<enter><wait>"`

In the template I'm using the following entry in the builders:

`"boot_command": "{{user `boot_command`}}",`

When booting redhat, the variables .HTTPIP .HTTPPORT and user `kickstart` are not resolved...

`2017/09/24 20:25:21 pack

[2017-09-25 04:02] rickard-von-essen commented on #1202
@gaelik User variables _are not_ interpolated.

[2017-09-25 07:00] rickard-von-essen opened #5382 "docs: Clearly document built in template variables"
The docs doesn't clearly enumerate the builtin template variables  such as `{{ .Name }}` (and possibly some more).

[2017-09-25 07:02] rickard-von-essen commented on #5382
See https://stackoverflow.com/questions/46393734/what-is-the-value-of-name-in-a-packer-template

[2017-09-25 16:47] SwampDragons commented on #5220
Hadn't gotten a chance to look at it yet -- I'll make sure to let you know when I do.

[2017-09-25 20:53] mwhooker commented on #5220
the output is slightly different from #4994

@Chan9390 could you add the autounattend file so we can try to reproduce this?

[2017-09-25 21:06] #5320 closed

[2017-09-25 21:32] mwhooker commented on #5006
@nebffa I agree. I'll add that to the file provisioner docs

[2017-09-25 21:40] mwhooker commented on #5370
Agreed that this should be added to the docs. I'm not surprised that ansible and docker have some issues.

It's worth mentioning that you can use the [`volumes`](https://www.packer.io/docs/builders/docker.html#volumes) option in the docker builder to mount your ssh socket. You'll need to somehow set the `SSH_AUTH_SOCK` envvar in the context of your provisioner as well

something like this should w

[2017-09-25 22:43] mwhooker commented on #5372
hmm, sorry about that. I don't know why I didn't add it as a build target. Added in 339d768420e6b83dad34c8d4d8ee6c105c7491e0

future releases will now always have builds for ppc64le.
[linux_ppc64le.zip](https://github.com/hashicorp/packer/files/1331160/linux_ppc64le.zip)

[2017-09-25 22:43] #5372 closed

[2017-09-25 22:47] #5368 closed

[2017-09-25 23:14] #4880 closed

[2017-09-25 23:15] mwhooker commented on #4880
Should be fixed now. Can anyone confirm that this works?

[2017-09-25 23:21] mwhooker commented on #5360
hmm, I think this might be in our RPC logic.

here's the text from the log

[code]

We might just need to periodically send an update to the UI letting us know that we're still transferring

[2017-09-25 23:36] #3114 closed

[2017-09-26 00:15] sstent commented on #3506
Saw the same issue trying to use a CIS marketplace image.

[2017-09-26 00:59] rbramwell commented on #3506
@sstent Same in my case.

[2017-09-26 01:04] mwhooker commented on #3506
I'll reopen this, but we need someone to step up and test the patch. Anyone willing to do that? @sstent @rbramwell @njappboy

If you have problems building off of @boumenot's repo, I can help out, but please let me know.

[2017-09-26 01:16] rbramwell commented on #3506
@mwhooker I'm willing to test the patch. Please point me in the right direction. I checked to URL given in https://github.com/hashicorp/packer/issues/3506#issuecomment-235379210 but it returns a 404

[2017-09-26 01:41] rbramwell commented on #3506
Found the PR https://github.com/hashicorp/packer/pull/3665

[2017-09-26 01:57] Chan9390 commented on #5220
Autounattend.xml : [Autounattend.xml.tar.gz](https://github.com/hashicorp/packer/files/1331454/Autounattend.xml.tar.gz)
You can find the windows_2008_r2.json file at https://github.com/rapid7/metasploitable3/blob/windows_chef/windows_2008_r2.json

To reproduce on your side you could clone the repository : https://github.com/rapid7/metasploitable3/tree/windows_chef , checkout to windows_chef branch

[2017-09-26 02:51] boumenot commented on #5257
Thank you for reporting!  I don't think the issue is necessarily particular to Azure.  The fault appears to be in the WinRM client.

[2017-09-26 02:52] boumenot commented on #3506
Thanks for stepping up @rbramwell!  If you get stuck let me know.  I should be able to give this attention next week.

[2017-09-26 13:19] PaulAngus commented on #5330
@mwhooker Isn't using shell scripts outside of Packer kinda missing the point of Packer.  I could run Ansible outside of packer, and I can create EC2 or Google Compute instances outside of Packer, but I want to run one thing that brings it all together/one command.

I use shell-scripts to run OVFTOOL to create an OVA file from the vmware workstation output and also create XenServer VHD files from

[2017-09-26 14:03] bugbuilder commented on #5361
We could be add the docker system prune as a new post-processor, I'll think a lit more about this.

[2017-09-26 14:41] rmwiseman opened #5386 "packer crash when aborting cloudstack build"
As requested by Packer, here's my crash.log.  I pressed ^C to cancel the build during the "Creating instance..." step, and Packer crashed.
[crash.log](https://github.com/hashicorp/packer/files/1333555/crash.log)

[2017-09-26 15:03] lbytnar commented on #5335
I think I have found the cause of this.

When packer run is see the following output:
[code]
Note the quotes after `--extra-vars`. But when I watched processes inside container that is translated to

[code]
And the quotes are gone and ansible ignores everything after `packer_http_addr=`

I wonder if the issue is with `&packer.RemoteCmd` where the quotes are dropped.
https://github.com/hashicorp/pa

[2017-09-26 20:05] mwhooker commented on #5386
thanks for the report. Here's the stack trace

[code]

[2017-09-26 20:19] mwhooker commented on #5330
@PaulAngus The thinking goes that packer should do one thing and do it well (see [the tao of hashicorp](https://www.hashicorp.com/blog/the-tao-of-hashicorp/)). We'll never be able to provide as good an experience as native tools for post-processing, so we should just let you use the proper tools, but empower you to use them effectively.

Additionally, packer is for creating artifacts. Running arbi

[2017-09-26 20:34] mwhooker commented on #5361
either a docker-cleanup post-processor (would need to make sure the artifact gets passed on to it) or a flag in the docker-push pp makes sense to me

[2017-09-26 20:37] mwhooker commented on #5386
@rmwiseman I've got a fix in #5388 if you want to test it

[2017-09-26 22:53] #4322 closed

[2017-09-27 00:14] #5353 closed

[2017-09-27 01:48] bugbuilder commented on #5361
Reading the code I found that the most easy way to fix this is return the input artifact in the [docker-push](https://github.com/hashicorp/packer/blob/master/post-processor/docker-push/post-processor.go#L108), because in that way the destroy will be applied by the [docker-import artifact](https://github.com/hashicorp/packer/blob/master/builder/docker/artifact_import.go#L36) used be the docker-push

[2017-09-27 08:44] rmwiseman commented on #5386
Thanks for such a quick fix!  Is there an easy way of testing it?  I'm using the standard single-executable version of packer so can't really patch it, can I...?

[2017-09-27 08:46] hubertgrzeskowiak opened #5390 "File provisioner doesn't upload directories when using Docker"
When using Docker, it's impossible to upload whole directories. The file provisioner will only upload the contents of a given directory.

- Packer version from `packer version`
  Packer v1.1.0
- Host platform
  Mac OS Sierra 10.12.6
- Debug log output from `PACKER_LOG=1 packer build template.json`.
  Please paste this in a gist https://gist.github.com
  _let me know if this is really necessary_
-

[2017-09-27 10:41] kenwan12 opened #5391 "PowerShell init.ps1 script not working due to built-in env variables not passed properly"
See below pls :-)

On AWS
with packer v0.11.0

with the provisional part of the template.json as :-
. . .
    "provisioners": [
        {
            "type": "powershell",
            "script": "init.ps1"
        }
    ]
. . .

Thanks

Ken

[2017-09-27 10:46] kenwan12 commented on #5391
[code]
packer.error attached which showed
the env vars passed as

[code]
which should be something like

[code]

Thanks

Ken

[packer.error.txt](https://github.com/hashicorp/packer/files/1336739/packer.error.txt)

[2017-09-27 14:24] DanHam commented on #5391
@kenwan12 This was fixed in v0.12.0 of Packer so upgrading should fix the issue for you.

Is there any reason you are still using v0.11.0?

[2017-09-27 14:56] kenwan12 commented on #5391
Thx, will try and will close this ticket if successful :-)

I used this version on Mac sometime ago and forget to get the latest packer when restarting this project now.

Cheers

Ken

[2017-09-27 15:15] sejames commented on #5347
@mikouaj , I had to add the following for modules that we are copying across

`{ "type" : "shell", "inline" : [ "mkdir -p /tmp/packer-puppet-masterless/manifests", "mkdir -p /tmp/packer-puppet-masterless/module-0", "chmod -R 777 /tmp/packer-puppet-masterless" ] },`

 thanks this worked for me after upgrading from packer 0.12.3 to 1.1.0

[2017-09-27 15:46] giseongeom opened #5392 "[Feature Request/azure-arm] Add an option waiting time before power-off"
Add an option waiting time between the last provisiong and power-off VM stage such as ``wait_time_before_poweroff``

**Background**
Recently, I started using packer at azure. BTW, 6 of 10 custom image built by packer launch failed, It's important for me to looking for a workaround.

When creating custom image, source Windows VM should sysprep and shutdown without problems. If not, new VM created f

[2017-09-27 16:32] mwhooker commented on #5391
closing since this has been fixed. please submit a new issue with steps to reproduce if this is still an issue on the latest version of packer

[2017-09-27 16:32] #5391 closed

[2017-09-27 16:40] mwhooker commented on #5390
I'm afraid I'm unable to reproduce this on osx with ubuntu. Can you make sure you're on the latest version of docker?

[code]

[code]

[2017-09-27 16:57] SwampDragons commented on #5327
Okay yeah reading through this description more, it sounds like you're trying to do something that is unsupported in _ansible_, not in packer.  Going to close, but if you think we've misunderstood feel free to reopen with more detail.

[2017-09-27 16:57] #5327 closed

[2017-09-27 17:15] boumenot commented on #5392
A success rate of 40% is terrible.  This hasn't been my experience, but sysprep on Windows is usually a top pain point.  I don't think this is specific to Azure.  I think this is a sysprep issue, but I am happy to be corrected.

There was a PR (#5385) filed the other day with a very similar issue.  The PR updated the docs to help with this exact issue.  Would you please review the doc change, and

[2017-09-27 19:38] aksuna commented on #4684
Im experienced the same thing using packer 1.1.0
`2017/09/27 13:54:27 packer: 2017/09/27 13:54:27 Remote command exited without exit status or exit signal.
2017/09/27 13:54:27 packer: 2017/09/27 13:54:27 [INFO] RPC endpoint: Communicator ended with: 2300218
2017/09/27 13:54:27 [INFO] 3058 bytes written for 'stdout'
2017/09/27 13:54:27 [INFO] 0 bytes written for 'stderr'
2017/09/27 13:54:27 [INFO]

[2017-09-27 19:56] rickard-von-essen commented on #4684
See the CHANGELOG.md there is a backwards incompatible change regarding scripts causing the ssh session to be disconnected.

[2017-09-27 19:57] flmmartins opened #5393 "Contributing Testing Issue"
Hello All,

I am contributing with packer code by solving  this issue: https://github.com/hashicorp/packer/issues/1796

Unfortunately (and I mean it) I am developing in my work machine which is a windows OS.

I runned $make everything went well, now I would like to run the binary I generated but I can't run it cause I can only run packer.exe and not a linux binary one.

Can anyone tell me how to g

[2017-09-27 20:55] SwampDragons commented on #3304
This doesn't crash anymore; instead, the program errors out with "Error uploading script: Upload is not implemented when communicator = 'none'", which I think is clear enough to figure out what the issue is.

[2017-09-27 20:55] #3304 closed

[2017-09-27 21:18] SwampDragons commented on #2297
I can't reproduce; config.json isn't getting deleted for me.

[2017-09-27 21:18] #2297 closed

[2017-09-27 21:37] mwhooker commented on #5307
Can you try with a more recent version of packer? We recently switched file upload to use `docker cp` rather than copying trough a shared volume. Will reopen if this is still an issue, but I believe it's been fixed

[2017-09-27 21:42] mwhooker commented on #5393
Hi @flmmartins,

Thanks for working on packer! Sorry you're having trouble building it. I think our docs might be a bit lacking.

You should be able to build it with `./scripts/build.ps1`. Make sure you have `env:PACKER_DEV` set to `1`.

You will need to first run:

[code]

and make sure you have a recent version of go.

If you continue to have problems, please post here and I will reopen.

[2017-09-27 21:42] #5393 closed

[2017-09-27 21:46] mwhooker commented on #4847
Thanks for creating the test repo. I think this works now. We changed the docker builder to use `docker cp` rather than mounting volumes. Here's the output of your test repo

[code]

Going to close because I think it works. Feel free to post here if I'm wrong and I'll reopen

[2017-09-27 21:46] #4847 closed

[2017-09-27 22:34] #5386 closed

[2017-09-27 23:08] #5191 closed

[2017-09-27 23:59] SwampDragons commented on #3487
Based on the conversation here https://github.com/hashicorp/packer/issues/4137#issuecomment-261324083 and some testing of my own, I think this was likely resolved by https://github.com/hashicorp/packer/pull/4197; if anyone has further problems with the above, please reopen.

[2017-09-27 23:59] #3487 closed

[2017-09-28 01:39] hubertgrzeskowiak commented on #5390
I think I found the reason for this. The ubuntu docker image does not contain a /home/ubuntu directory. Therefore the file provisioner assumed I wanted to rename my directory into ubuntu. When creating the directory beforehand, the behavior was correct.

The [last two sentences of the quoted docs](https://www.packer.io/docs/provisioners/file.html) can be removed I think, as they are misleading.

T

[2017-09-28 02:53] giseongeom commented on #5392
- The powershell code of PR (#5385) also works well. You can see the log [here](https://gist.github.com/giseongeom/586752c5af8c282a29e7ed498afa1dc3)
- Personally, I dislike _lengthy_ one-linear code :-)

[2017-09-28 08:36] rmwiseman opened #5396 "Provisioner sudo sub-shell commands are not fully evident in the final template"
Apologies for the rubbish title, but it's really hard to describe what has been happening!  I've experienced a very weird issue that appears to be to do with my use of a sub-shell within a provisioner.  The short version is that what I see happen in a `sudo -i -u `_`username`_ sub-shell all works but the effects are not evident in the template.

I'm installing Terraform (using a Packer provisioner

[2017-09-28 08:47] rickard-von-essen commented on #5396
Try doing a `sync` instead of the `sleep`. It seems to be an issue with that the snapshot is done before your data has landed on the disk.

[2017-09-28 09:25] rmwiseman commented on #5396
Thanks @rickard-von-essen, I'm trying that now.  It's bizarre to think that you can successfully run a command before the command has been written to persistent storage though!  I'll update you when it has completed...

[2017-09-28 10:13] rmwiseman commented on #5386
Thanks, I've tried the 1.1.1 build and cancelled in [as close as I could manage] the same place and it exited cleanly.

[2017-09-28 10:21] PaulAngus commented on #5330
@mwhooker I get you,  I want to create appliances for XenServer, VMware workstation, VMware ESXi and disk images for KVM (as it doesn't really do appliances).
There aren't any post processors that will give me OVAs as the final result.  It's actually something that i think should natively be there....
so i'm working with shell scripts driving vhd-util and ovf-tool and will probably need a bit of V

[2017-09-28 12:57] yellowmegaman opened #5397 "Docs updated needed"
Hi there!
https://www.packer.io/docs/builders/docker.html

`Dockerfiles` section contains

[code]

Which is obviously not true anymore, since metadata is already supported, and explained here:
https://www.packer.io/docs/builders/docker.html#basic-example-changes-to-metadata

Thanks in advance!

[2017-09-28 13:36] karthik101 opened #5398 "Docker builder - Set build-time as label"
I'm trying to add docker image build date as label:

[code]

 The above doesn't work, how can i set this?

Thanks,
Karthik

[2017-09-28 13:41] rmwiseman opened #5399 "Crash when cancelled during provisioning"
As requested, here's the crash log just generated.  I pressed ^C when I realised I'd got the wrong filename in the provisioner...

[crash.log](https://github.com/hashicorp/packer/files/1341063/crash.log)

[2017-09-28 16:09] tjohnston01 opened #5400 "vmware-vmx builder with esxi?"
Would it be possible for the `vmware-vmx` builder to use an ESXi hypervisor (as the `vmware-iso` builder can)?

This would enable 2-stage builds:

- `vmware-iso` boots from an ISO, creates a VMX image
- `vmware-vmx` boots from the created VMX image, makes changes, creates a new VMX image

I noticed a similar request [here](https://groups.google.com/d/topic/packer-tool/WmGfvyjDIC8/discussion), but

[2017-09-28 16:31] SwampDragons commented on #5126
@sandersaares did you ever figure out what was causing this ssh disconnection?

[2017-09-28 16:50] SwampDragons commented on #5398
Can you try `{{timestamp}}` instead of date?

[2017-09-28 17:52] #5398 closed

[2017-09-28 17:53] mwhooker commented on #5398
you might have better luck getting questions answered on the [mailing list](https://groups.google.com/forum/#!forum/packer-tool), since more users visit there, and github is mostly for code bugs. seems like the question has been answered, so closing

[2017-09-28 17:53] lhdomenech opened #5401 "Oracle OCI builder ignores region value provided in OCI config file"
With Packer version 1.1.0 (running on Darwin amd64), the Oracle OCI builder ignores region value from OCI config file (~/.oci/config).

If a region is not specified in the packer template it always defaults to `us-phoenix-1`. This causes an authentication error when trying to use `us-ashburn-1`.

This can be worked around by adding the region parameter to the template however the documentation ind

[2017-09-28 17:53] mwhooker commented on #5399
need some more context here. Looks like this issue has already been fixed

[2017-09-28 17:53] #5399 closed

[2017-09-28 17:57] #5126 closed

[2017-09-28 18:14] mwhooker commented on #5396
we generally try not to be too clever with packer. I could imagine mentioning this in the docs, though

[2017-09-28 19:59] kostrzewa9ld commented on #5307
@mwhooker
Tested with Packer 1.1.0, this time non-root user can't make the script executable:
[code]
([full log](https://gist.githubusercontent.com/kostrzewa9ld/72dcbb4fde84ff5326232514cd0b3861/raw/066c07e7df1e97dd1d2ae82496b9bc5dda826017/packer_1.1.0_build.log))

[code]

[2017-09-28 20:08] SwampDragons commented on #4627
A few months ago I made a change to how our communicator returns stdout output... if it really does have to do with large amounts of stdout text, it might be that this is fixed in 1.0.4.  OR, it might be that now that we're properly returning stdout we might find the actual error message.  Since we can't repro, I'm going to close but please reopen if this issues still exists with packer > 1.0.4

[2017-09-28 20:08] #4627 closed

[2017-09-28 20:12] SwampDragons commented on #4639
closing because original poster hasn't commented since opening the ticket, and other user found resolution. If you are still experiencing this, please reopen with steps to reproduce.

[2017-09-28 20:12] #4639 closed

[2017-09-28 20:25] mwhooker commented on #5307
hmm, interesting. It seems like the proper solution is to upload to a directory where you have write access. alternatively, we could pass `--privileged` to `docker exec`. Can you tell me how you've run docker? I'm having trouble understanding how to get into this situation

[2017-09-28 20:27] SwampDragons commented on #4373
Closing this issue since we still don't have a repro case; if you are still experiencing this with latest packer, please reopen with details for us.  Thanks!

[2017-09-28 20:27] #4373 closed

[2017-09-28 20:50] mwhooker commented on #5307
some investigating... looks like `docker cp` uses the uid/gid of the user on the host. There's an option to pass `-a` to use the uid/gid of the guest, but that appears to be broken for now. https://github.com/moby/moby/issues/34142

still looking for a workaround

[2017-09-28 21:13] SwampDragons commented on #4819
This is a really interesting idea.  A quick glance at the code tells me that this would probably have to be implemented inside the communicatior's StartWithUi function, which would have a pretty broad touch across the packer code.  I still think it might be worth doing, since there seem to be plenty of odd edge-case situations where packer hangs indefinitely.  What do you think @mwhooker?

[2017-09-28 21:26] rleibman opened #5404 "post-processor/amazon-import support other image types"
post-processor/amazon-import only supports OVA images, however according to this page
[http://docs.aws.amazon.com/vm-import/latest/userguide/vmimport-image-import.html](url) the following formats are supported:

- Open Virtualization Archive (OVA), Virtual Machine Disk (VMDK), Virtual Hard Disk (VHD), and raw

Since my process uses kvm and not vmware, it's super easy to create raw images, but pack

[2017-09-28 21:28] rleibman commented on #5404
Alternatively... write a post-processor that can convert from qemu files to vmdk

[2017-09-28 21:28] gstorme opened #5405 "Build 'vmware-iso' errored: unexpected EOF"
I'm trying to create a template from a Debian 9 ISO, using the vmware-iso builder.

packer 1.1.0 running on Debian 9
ESXi 5.5.0

Creating the VM works fine, but when I add the "format": "ovf" parameter to end up with an OVF, it fails with the following error:
[code]

The build file: https://gist.github.com/gstorme/f0802f78fb823e86f7400a0477e56ae1
The packer debug log: https://gist.github.com/gstor

[2017-09-28 21:38] mwhooker commented on #5307
I was able to get the permissions to work by doing

[code]

but it failed on `touch /provisioned`.

I will add an option to pass `-u` to `docker exec`. I was able to get it working by execing as root

[2017-09-28 22:30] mwhooker commented on #5404
I think extending `amazon-import` to support raw images would be a good idea

[2017-09-28 23:46] mwhooker commented on #4819
thinking maybe we can solve this with https://github.com/hashicorp/packer/pull/4709 which is only partially done

[2017-09-28 23:55] wayneworkman commented on #4819
4709 is for ssh. I opened 4819 because of a powershell problem.
On Sep 28, 2017 6:46 PM, "Matthew Hooker" <notifications@github.com> wrote:

[2017-09-29 00:08] mwhooker commented on #4819
That wasn't obvious. Perhaps the same solution in #4709 can be adapted to winrm

[2017-09-29 00:15] mwhooker commented on #4819
Looks like we can add a Timeout to the winrm endpoint https://github.com/masterzen/winrm/blob/b09cde26d67bcb0c7cbf02b16bb26b7f8fb0171e/endpoint.go#L27-L29

[2017-09-29 04:21] mwhooker commented on #5405
Going to mark this as a duplicate of #4214

[2017-09-29 04:21] #5405 closed

[2017-09-29 04:22] mwhooker commented on #5360
probably not related, but worth pointing out a few other issues with similar yamux errors
https://github.com/hashicorp/packer/issues/3378
https://github.com/hashicorp/packer/issues/4214

[2017-09-29 08:07] rmwiseman commented on #5396
@mwhooker I definitely think it should at least be prominent in a FAQ or troubleshooting guide!  It had me confused for ages.

One thing I did wonder was instead of "being clever" by running `sync` on the VM before templating it, perhaps all Packer needs to do to mitigate this problem is pause for a couple of seconds after the provisioning is complete.  I imagine that would have the same effect as

[2017-09-29 08:29] rickard-von-essen commented on #5396
Unfortunately there is no guarantee that this will help.

[2017-09-29 09:17] rmwiseman commented on #5396
Surely there must be something Packer can do to ensure cached data is written to disk before the template is created??

[2017-09-29 09:41] rickard-von-essen commented on #5396
Not from the OS side. But there is something fishy here. The builder shuts down the instance that should properly sync all fs when the OS shuts down.

@svanharmelen Do you know if https://github.com/hashicorp/packer/blob/master/builder/cloudstack/step_shutdown_instance.go#L31 waits for the instance to shutdown completely or are we missing a wait for state here?

[2017-09-29 09:59] prydie commented on #5401
Thanks for the bug report @lhdomenech. #5407 should resolve this.

[2017-09-29 13:13] jcoconnor commented on #5064
Hi @SwampDragons Apologies I never got to run the test build in our env - was hit with a bunch of other tasks in the meantime.

I see #5272 has made it into ```1.1.0``` - will download and test this in the next few days.

Tx for the work on it.

John

[2017-09-29 15:33] KFoxder commented on #5065
👍

[2017-09-29 16:17] svanharmelen commented on #5396
Yes... We use the [async client](https://github.com/hashicorp/packer/blob/master/builder/cloudstack/builder.go#L38) which waits until the call is finished by polling the running async job. So the builder blocks here until CloudStack confirms that the stop call is finished and the VM is stopped.

[2017-09-29 16:49] #5338 closed

[2017-09-29 16:52] #5307 closed

[2017-09-29 17:07] SwampDragons commented on #4155
Based on this I think the error is actually a duplicate of https://github.com/hashicorp/packer/issues/5064 and was fixed by https://github.com/hashicorp/packer/pull/5272.  If I'm wrong and this problem still exists in Packer 1.0.4, please reopen!

[2017-09-29 17:07] #4155 closed

[2017-09-29 17:15] SwampDragons commented on #4150
If this truly was a duplicate of #4155 then it will have been fixed by #5272.  Please reopen if this hasn't been resolved, with everything I need to reproduce (the provided template contains a bunch of answer files that didn't make it into the gist, and I've failed to reproduce with my own windows instance)

[2017-09-29 17:15] #4150 closed

[2017-09-29 17:35] danielcompton commented on #5065
See also https://github.com/hashicorp/packer/issues/5329

[2017-09-29 19:52] SwampDragons commented on #4891
I've reproduced.  Weirdly, the build doesn't hang if you remove the line `Add-Content $profile "`nSet-PSDebug -Trace 1`n"` from your bootstrap.ps1.

I'm not sure why this line is causing trouble.  I'll try to investigate further.

[2017-09-29 19:55] kostrzewa9ld commented on #5307
The option is great for some use cases but I believe it does not solve the problem that it is not possible to call `shell` directly as user other than root. If I am right, this is because the script uploaded to the container is owned by root so running [`chmod +x` on the script](https://gist.github.com/kostrzewa9ld/72dcbb4fde84ff5326232514cd0b3861#file-packer_1-1-0_build-log-L153) is only possible

[2017-09-29 20:02] mwhooker opened #5409 "builder/docker: upload files with `-a` flag when upstream bug is fixed"
We should set ownership of files based on the container user. In theory, this should be doable with the `-a` flag to `docker cp`, but there's a bug that prevents that. When https://github.com/moby/moby/issues/34142 is fixed, let's change `docker cp` to be `docker cp -a`

[2017-09-29 20:04] mwhooker commented on #5307
That seems like a reasonable workaround until #5409 is implemented. Happy to review PRs.

[2017-09-29 20:34] kostrzewa9ld commented on #5307
If this is treated as a "workaround" valid until #5409 is implemented then docker builder, at least with respect to this issue, will only support docker in version >= with moby/moby#34142 fixed?

[2017-09-29 20:40] mwhooker commented on #5307
We generally only support the latest version of docker, since it's changing
so rapidly

On Fri, Sep 29, 2017 at 1:34 PM Zbigniew Kostrzewa <notifications@github.com>
wrote:

[2017-09-29 21:39] SwampDragons commented on #4891
I've found a fix and submitted a PR here: https://github.com/packer-community/winrmcp/pull/27

[2017-09-29 22:11] #4891 closed

[2017-09-29 22:21] SwampDragons commented on #5098
This should be doable as a result of the work here: https://github.com/hashicorp/packer/pull/5365
the default `execute_command` has changed, pushing the executionpolicy up a level.  Therefore, you can set these switches by simply modifying `execute_command`

[2017-09-29 22:21] #5098 closed

[2017-09-29 22:50] mwhooker commented on #5337
@pjorg any chance you want to review/test #5225? It looks like it does the same thing you tried, but want to confirm

[2017-09-29 22:50] SwampDragons commented on #5337
@pjorg does the referenced PR fix things for you?  It seems to be taking the same approach you did, but maybe found something you missed?

[2017-09-29 23:06] SwampDragons commented on #5337
If the linked PR doesn't do it, we might be that we need to do some magic with prefixing...

`Import-Module -Name hyper-v -Prefix HV` or something

[2017-10-01 17:31] shibumi commented on #5379
Well this part is suddenly working again. Seems like it was a problem with the golang site. But now I have other build errors:
[code]

Any Idea?

[2017-10-01 19:27] rickard-von-essen commented on #5379
Nor sure, but anyway you shouldn't run test etc when doing a package build
of a release version.

On Oct 1, 2017 19:32, "Christian Rebischke" <notifications@github.com>
wrote:

[2017-10-01 19:29] shibumi commented on #5379
why not? it's a good step to verify if a package works like expected.

[2017-10-01 22:19] caward24 commented on #5036
@tdigangi5 can you please explain what you mean by

[2017-10-02 01:40] tdigangi5 commented on #5036
berks vendor -q -b="/path/to/Berksfile" was continuously adding cookbooks to the hidden directory that is created and the dir got quite large the plugin would time out before uploading. I believe it was a winrm timeout issue while uploading. The error thrown by packer is a little odd for this issue.

[2017-10-02 08:11] rmwiseman commented on #5396
As you say, @rickard-von-essen there's definitely something fishy going on!

Is there a perhaps a call that can/should be done before the stop call?

Or could this actually be a CloudStack issue?

[2017-10-02 10:40] svanharmelen commented on #5396
The `stop` call, is the call this signals the OS to shutdown and waits until it's stopped before stopping the VM itself on the hypervisor. So the answer to that question would be no.

Maybe... Or maybe it's and hypervisor thingy... Or maybe something in your OS... Hard to say. I'll see if I can find some time to test your issue on our installation and see if I can reproduce it. We're using the lat

[2017-10-02 11:04] rmwiseman commented on #5396
Thanks @svanharmelen.  I stumbled across a mention of this [in the Packer documentation](https://www.packer.io/docs/builders/virtualbox-iso.html#basic-example), actually, where `shutdown_command` is mentioned.  This was for VirtualBox, though, not CloudStack.  I [googled](http://www.google.com/search?q=site:packer.io+shutdown_command+sync) to see if it's mentioned for other provisionsers and it is

[2017-10-02 11:31] svanharmelen commented on #5396
@rmwiseman this is not related.

All the builders that the google search returned are "stand alone" virtualisation solutions that are not being managed or orchestrated.

Clouds like AWS, Azure, Google, OpenStack and also CloudStack orchestrate and manage your workload (VM's) on their hypervisors. So if you shutdown a VM from within the OS, these orchestrators will start the VM right back up again

[2017-10-02 11:47] rmwiseman commented on #5396
Ah OK, thanks for the clarification @svanharmelen.  I just thought I should check!

[2017-10-02 13:26] codyja commented on #5045
I agree also, would be nice.

[2017-10-02 15:06] pjnagel opened #5412 "Ansible command as output should be directly runnable in the shell"
When the Ansible provisioner executes ansible, it prints a line like the following:

[code]

The above command-line is not suitable for pasting into a shell and re-running, due to the embedded spaces not being shell escaped, or quoted. The actual command that was executed is (note the quotes):

[code]

This makes it difficult to debug failing builds. One strategy for debugging  builds is to arrang

[2017-10-02 19:02] cornfeedhobo commented on #5330
Yeah, this choice makes me a sad panda, and IMHO is being communicated/handled poorly. 1 minor version to deprecate a widely used post-processor?

Further, there is **extremely** poor documentation about `manifest`. I have no idea what it outputs. Will that change?
There isn't even a sample output in the documentation. Is every variable that was available through `shell-local` written out by `mani

[2017-10-02 19:10] Phoenix09 commented on #5330
@cornfeedhobo here's an example
[manifest.txt](https://github.com/hashicorp/packer/files/1350031/manifest.txt)

although, I've done a lot of builds for vagrant and only once has it included the box output name
so for me, it's completely useless

[2017-10-02 19:12] mwhooker commented on #5412
looks like we already do this for ansible-remote: https://github.com/hashicorp/packer/blob/master/provisioner/ansible/provisioner.go#L371

I don't immediately see why anisible-local doesn't print quotes, since the command string we print has the correct quoting:

https://github.com/hashicorp/packer/blob/master/provisioner/ansible-local/provisioner.go#L297-L311

[2017-10-02 19:14] mwhooker commented on #5045
seems like the best way to solve this is to take a rg, the same way the aws builder can take a [security group](https://www.packer.io/docs/builders/amazon-ebs.html#security_group_id)

[2017-10-02 20:04] mwhooker opened #5413 "Document manifest pp artifact outputs"
we clearly need to make the manifest post-processor easier to use. I think we need to document what the artifact output for each builder looks like, and how to use it in a shell script.

[2017-10-02 20:04] mwhooker commented on #5330
Hi folks,

Thanks everyone for your great feedback. It's obvious we moved from the RFC to the implementation phase too quickly. Clearly we need to provide a better path forward before going forward with this. We will leave the shell-local post-processor around for now, but we will probably not be spending too much developer time on it.

I've created a ticket at #5413 to enhance the manifest pp doc

[2017-10-02 20:13] mwhooker commented on #5412
oh oops, looks like this is for ansible-remote, and I misread the behavior initially. should be able to come up with a patch, but I can't test ansible-remote, so will need someone else to validate the patch

[2017-10-02 20:24] mwhooker commented on #5412
@pjnagel if you want to test #5414 I can merge

[2017-10-02 23:52] boumenot commented on #5045
That's the easy part.  The hard part is tear down.  The builder assumes it owns the resource group, and as a result tear down is just a delete to clean everything up.  It isn't that can't be done - it can.  It just needs to take into account everything it built (vs. borrowed) when deleting. The builder must walk the dependencies in reverse to ensure proper tear down.

[2017-10-03 05:47] sandersaares commented on #5126
I did not - I simply changed my project to install curl during the Ubuntu setup, via preseed config.

[2017-10-03 05:51] ephemeralsnow commented on #5065
I also encountered the same problem, but I was able to work around the problem with the settings below.

[code]

[2017-10-03 06:45] pjnagel commented on #5412
@mwhooker

Thanks, I will test as soon as I have toolchain going to build packer from source.

However, it seems your patch only deals with escaping spaces That is a step forwards, and will solve my particular problem, so I will test your patch from that perspective. But shell escaping in general is a broader issue - commands may contain dollars, quotes etc. that also need to be escaped.

I don't

[2017-10-03 08:21] lbytnar commented on #5412
@mwhooker this also exists in ansible-local [#5335](https://github.com/hashicorp/packer/issues/5335) and is causing issue as seems to skip the rest of the arguments like e.g. inventory. Perhaps there is same fix for both ansible-local and ansible-remote.

[2017-10-03 08:25] vtolstov commented on #5330
I don't think that manifest can replace shell-local.

[2017-10-03 09:34] pjnagel commented on #5412
[debug.json.txt](https://github.com/hashicorp/packer/files/1351752/debug.json.txt)
[debug.yml.txt](https://github.com/hashicorp/packer/files/1351753/debug.yml.txt)

To be clear:
- When I reported this bug, I meant that packer should properly escape **all** commands it executes, regardless of which provisioner etc.does the printing. I just used the ansible-provisioner as a concrete example where th

[2017-10-03 10:10] ArchontPnz opened #5418 ""Windows could not parse or process unattend answer file [A:\autounatted.xml] for pass [windowsPE]. A component or setting specified in the answer file does not exist""
Tried to install Windows 2012 R2 Standard x64 on esxi, using packer. Error occurs "Windows could not parse or process unattend answer file [A:\autounatted.xml] for pass [windowsPE]. A component or setting specified in the answer file does not exist".
json-file and Autounatted.xml:
https://gist.github.com/ArchontPnz/48618f921252a50e83f5ab6064cb8063

When autounatted.xml is inside the iso-image the

[2017-10-03 11:51] pjnagel opened #5419 "Ansible provisioner should not clean up until after -on-error=ask"
When running a packer build with -on-error=ask, and when using the ansible provisioner, and the ansible build fails, the container is left running while packer waits for you to answer the -on-error prompt. This gives one an opportunity to debug the failed build before cleanup happens.

The obvious way to debug the issue is to re-run the ansible command that the provisioner ran (maybe after making

[2017-10-03 11:58] pjnagel commented on #5419
The same problem may also exist with the temporary private key file that is created and passed to the ansible command line in a form like "--private-key /tmp/ansible-key241878411"

[2017-10-03 12:15] svanharmelen commented on #5396
@rmwiseman I tried to reproduce it this morning, but I was unable to do so...

[code]

The output of the build itself looks identical to yours. But when I create a VM of the newly created template and login, in my case it shows the file and it's content correctly:

[code]

Of course my source template is a different one, but it's also a Centos 7 template:

[code]

So it seems the logic used in the

[2017-10-03 12:28] pjnagel commented on #5419
Actually, the root cause of this bug report is that answering "retry" to the on-error prompt  does not work.

When using a virtualbox-ovf builder and an ansible provisioner with an ssh communicator, and when answering retry to the prompt, I ansible prints the error message:

fatal: [container.lautus.net]: UNREACHABLE! => {"changed": false, "msg": "Failed to connect to the host via ssh: Connection

[2017-10-03 12:33] hantuzun opened #5420 "Images built with azure-arm and VMSize do not create VMs with the specified VMSize"
I built managed Ubuntu Images on Azure with Packer specifying a `VMSize` (`Standard_DS2_v2 `). Using these images I created VMs with Azure's cli `az`.

The VMs are not created with the VMSize specified for the images.

I barely update the given [ubuntu_managed_image.json](https://github.com/hashicorp/packer/blob/99033e7da2631cf16638a5af28950131a76f43d7/examples/azure/ubuntu_managed_image.json) in

[2017-10-03 12:48] rmwiseman commented on #5396
@svanharmelen Thanks for trying it out.  Strangely enough, a colleague of mine had the same problem (although not, as far as I know, related to a `sudo` sub-shell) this morning: users were created but their `~/.bashrc` and `~/.bash_profile` files were (in the instance) empty.  Possibly unrelatedly, some `.lock` files still existed that shouldn't have, too.

Is there anything else I can provide tha

[2017-10-03 15:51] winmasta opened #5421 "Ansible provisioner do not execute "become: yes" during AWS packing."
Ansible returns an error during packing an image. The problem is in "become: yes" because when I change task to shell with sudo it works fine.

`- name: iptables allowing established incoming connections tcp
  shell: sudo -t filter -A INPUT -p TCP -j ACCEPT -m conntrack --ctstate ESTABLISHED,RELATED`

- Packer version from `Packer v1.1.0`
- Host platform `Linux 4.4.0-96-generic #119-Ubuntu SMP Tue

[2017-10-03 17:31] doktoric commented on #5144
@SwampDragons @mwhooker any update?

[2017-10-03 17:44] #5339 closed

[2017-10-03 18:43] SwampDragons commented on #5144
I know you're anxious to see this fixed, but I promise we'll update once we have a solution.

[2017-10-03 19:40] cornfeedhobo commented on #5413
Would this be an appropriate place to throw out ideas about modifications to `manifest`?

- include artifact filename (is `files` supposed to do this? the output seems less than ideal there)
- optional file hashes included
- include all variables passed to packer, including those in the template
- it would be nice if everything manifest did was able to be toggled. e.g. I could see wanting to have

[2017-10-03 23:47] mwhooker commented on #5390
good idea. pushed in e26df7ebb

[2017-10-03 23:47] #5390 closed

[2017-10-04 01:05] ArjenSchwarz commented on #5045
Ran into a similar issue just now where I set the temp_resource_group_name to an existing resource group, which resulted in Packer deleting everything in that resource group, even if it didn't create it. Having only used Packer with AWS before, I did not expect that behaviour. I now know that it always deletes the resource group, but that is only mentioned in the advanced section of the documentat

[2017-10-04 19:02] gtirloni opened #5424 "virtualbox-iso error: machine is already locked for a session (or being unlocked)"
packer version: 1.1.0
VirtualBox: 5.1.28
OS: CentOS 7.4

[code]

"post_shutdown_delay": "30s" has no impact. headless/non-headless makes no difference.

When I ran packer in debug mode, it finished fine. It seems there is a timing issue and in debug mode things slow down enough that VirtualBox has enough time to remove the locks (or whatever it's trying to do).

[2017-10-04 19:23] mwhooker commented on #5424
I wonder if you need to increase the post_shutdown_delay to something like 2 minutes. Otherwise, I think adding a retry as with https://github.com/hashicorp/packer/issues/4432 would work.

Can you reproduce this reliably?

[2017-10-04 19:25] mwhooker commented on #5424
If it doesn't work on headless mode, then this is different from #1193

[2017-10-04 20:50] gtirloni commented on #5424
@mwhooker increasing it to 2min fixed the issue. Thank you!

[2017-10-04 20:50] #5424 closed

[2017-10-04 21:06] mwhooker commented on #5412
yes, shell escaping is a major headache and I'm not sure it exists outside of 3rd party libraries. This isn't something we're eager to add... tho i suppose as a debugging aid it will probably be okay. I've used https://code.google.com/archive/p/go-shlex/ in the past with success

[2017-10-04 21:11] mwhooker commented on #5335
this behavior looks buggy https://github.com/hashicorp/packer/blob/f0cfd86f74ec02e6707afffe900ebcf2e97d6321/provisioner/ansible-local/provisioner.go#L297-L301

[2017-10-04 21:19] mwhooker commented on #5335
Can someone upload a complete project that reproduces this issue? I'm afraid I'm not very familiar with ansible

[2017-10-04 23:19] kquinsland commented on #5330
Here's my post processor block:

[code]

the `share-ami.sh` script just shares the AMI w/ a few other AWS accounts that need to consume the built AMI.  If you take away my `shell-local` how will i replace this?

[2017-10-04 23:25] mwhooker commented on #5330
@kquinsland I think your invocation of packer would turn into `packer packer.json && ./scripts/share-ami.sh` and share-ami would quit if it didn't find an AMI id in the manifest file

[2017-10-05 00:23] mwhooker commented on #5330
@kquinsland I'd be really happy to hear your experiences. Just to make sure you saw my note, we're not targeting this for any specific release until we get more feedback from the community. We might just keep things the way they are, but any anecdotes you want to share removing the post-processor will help us understand what's left to be done

[2017-10-05 00:49] kquinsland commented on #5330
@mwhooker the tooling we've got right now is designed to set up packer dependencies based on the type of artifact (AMI and docker, primarily) and where the packer job is running (local, ec2 or code build).

a simple use cases look like this:

`$ ./build_tool --type AMI --job application_host --app someCodebase --other variables...`

in this case, build tool will do some checks to make sure `someCo

[2017-10-05 00:54] boumenot commented on #5420
Can you please [capture debug](https://www.packer.io/docs/other/debugging.html) logs, and attach them to this case or a gist.

[2017-10-05 16:22] lmayorga1980 commented on #2648
Tried to upload a simple `packages.config` file

`180B Oct  5 11:54 files/chocolatey/packages.config`

and literally is taking more than 5 minutes to upload the file

[code]
Packer Version: 1.1.0

[2017-10-05 17:55] SectorNine50 commented on #5045
Big +1 here.  Just managed to inadvertently delete one of our sandbox RG's due to this behavior.

[2017-10-05 19:48] jf commented on #3615
I'd like to credit @mwhooker 's note at https://github.com/hashicorp/packer/issues/4648#issuecomment-285450904 for the inspiration and the push to go dig at stuff and investigate things myself, and see what I can find out. I too, have been getting stuck here at this last crucial bit for a while now - checked out this issue, saw the comments, saw the outstanding status... and simply gave this up as

[2017-10-05 22:03] costimuraru commented on #1794
Is there a workaround in place when you need a variable containing multiple strings (eg. array).
We're facing the same issue when using ami_regions

[code]

[2017-10-05 22:20] mwhooker commented on #1794
@costimuraru you should be able to do something like

[code]

I will make sure this is documented

[2017-10-05 22:30] mwhooker opened #5428 "document ability to parse csv variables into array"
see #1794 etc

should probably add to https://www.packer.io/docs/templates/user-variables.html

[2017-10-05 22:51] johnjelinek opened #5429 "vmware-iso: unexpected EOF"
I'm running Packer 1.1.0 on macOS connecting to a remove vware esx6 host:

[code]

[2017-10-05 23:16] mwhooker commented on #5429
thanks for the report!

[2017-10-05 23:28] johnjelinek commented on #5429
@mwhooker: let me know if you need that `crash.log`.

[2017-10-05 23:34] mwhooker commented on #5429
fixed in 2a326b517

If you're able to reproduce the issue, it would be great if you could test master. Thanks again

[2017-10-05 23:34] #5429 closed

[2017-10-05 23:40] mwhooker commented on #3615
@jf thanks for investigating this. Having the wrong bucket name certainly seems like a plausible explanation. @opokhvalit can you verify that the bucked passed to `s3_bucket` is owned by you?

Seems like we should be able to catch this error and print a better error.

If you email me mhooker@hashicorp.com with your address, I'll see about some stickers.

[2017-10-05 23:41] mwhooker commented on #3615
Actually I see that a workaround for signature version was found above. Going to close this but open an issue to pop up a better error message.

[2017-10-05 23:41] #3615 closed

[2017-10-05 23:42] mwhooker opened #5430 "better error message if bundle upload bucket isn't writable"
See #3615

ec2-upload-bundle can fail if the bucket isn't writable with an odd error message. We should try to make sure the bucket is writable, first, and if not give a better error message

[2017-10-06 00:33] #5430 closed

[2017-10-06 02:03] jf commented on #3615
Thanks, @mwhooker . I did try using a different signature version. But I got a different error message (I forget now) than reported here. In my case, it was definitely a case of not owning the s3 bucket.

[2017-10-06 05:13] sandersaares commented on #2648
I just gave up and am now uploading everything to an HTTP server on the host and then downloading it on the guest...

[2017-10-06 13:09] jugatsu commented on #5166
https://github.com/hashicorp/packer/issues/3117

[2017-10-06 14:14] jonlabroad opened #5432 "Salt-masterless support on Windows Guests"
Does the Salt-Masterless provisioner currently support Windows VM Guests? Looking at the code it appears to use Linux-only commands for installing/provisioning (sudo, .sh for installing Salt, etc)

If it does not support Windows, the documentation should explicitly state that. This is also a feature request for implementing Windows Guest support.

[2017-10-06 16:51] dglinder opened #5433 "Add IP address to the "Waiting for SSH" message."
In the "helper/communicator/step_connect_ssh.go" code, currently in the Run() function, it would be helpful if the "ui.Say()" output included the IP address it is expecting to connect to.

This can help immensely in debugging especially in situations where an OS firewall may be denying connectivity to the VM, and for sanity checking using an ssh client.

[2017-10-06 20:25] mwhooker commented on #2648
I just spend a fair amount of time rewriting winrmcp to compress the the file and upload in parallel (up to 250 workers) and didn't notice a significant speed increase. I tested with a 100MB file sourced from urandom, so the compression benefits won't be noticeable with the test data. A local transfer only went from 35 minutes to 27m24s.

You can check out the branch here if interested https://git

[2017-10-07 08:42] alessiot77 commented on #5421
I cannot reproduce with:

Packer version: Packer v1.1.1-dev
Host:  Linux #44-Ubuntu SMP Tue Sep 12 17:27:47 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux

No LSB modules are available.
Distributor ID: Ubuntu
Description:    Ubuntu 16.04.3 LTS
Release:        16.04
Codename:       xenial

Ansible version: ansible 2.3.2.0

Debug output:

2017/10/07 09:13:22 packer: 2017/10/07 09:13:22 new env request: LAN

[2017-10-07 15:55] pecigonzalo commented on #2648
Be careful with the amount of workers, as far as I recall, that many are going to slow things down. Something got worse tho, because I dont remember the speed being this bad.

Also check related:
https://github.com/packer-community/winrmcp/pull/6

[2017-10-07 17:47] sandersaares commented on #2648
I would suggest exploring deeper what the PowerShell command to copy files over WinRM does. It seems to copy at "full speed" for the given conditions (disk/network bound). The entire "split file into segments to be uploaded" approach used here is extremely dubious to start with.

[2017-10-07 20:03] pecigonzalo commented on #2648
Yeah that uses the new winrm upload format, as mwrock explained on his blog
post, but the code seems fairly complex.

What do you mean with the split being dubious tho?

On Sat, Oct 7, 2017, 7:47 PM Sander Saares <notifications@github.com> wrote:

[2017-10-07 20:39] ruzickap commented on #4773
Hello guys.

I just tested it with Ansible 2.4 and the bug was fixed.

Closing the issue...

[2017-10-07 20:39] #4773 closed

[2017-10-08 06:51] sandersaares commented on #2648
I just was thinking that transferring a few kilobytes per operation could not possibly be fast no matter how you parallelize or compress it. But in the end, it is the benchmarks that have authority to speak on the matter, so my speculation might be irrelevant here.

[2017-10-08 07:51] jugatsu commented on #2005
I also get hit by this.

[2017-10-09 16:33] gdamjan opened #5435 "Feature Request: implement assume role token provider to ask for MFA token code"
in AWS you can assume a role with your credentials, to have another set of permissions (lower, higher or to another account). The rules for switching roles can require MFA (multifactor authentification) - which is a recommended setup. In that case packer needs to ask for the MFA code.

Here's an example how that is configured in the aws-cli
http://docs.aws.amazon.com/cli/latest/userguide/cli-roles

[2017-10-09 17:08] #5188 closed

[2017-10-09 17:25] mwhooker commented on #5435
Thanks for the input. We're not interested in adding interactive features to packer, since it's an automated tool. You can add an [`mfa_code`](https://www.packer.io/docs/builders/amazon-ebs.html#mfa_code) option to your template which will allow you to set it.

[2017-10-09 17:25] #5435 closed

[2017-10-09 17:50] gdamjan commented on #5435
using `stscreds.StdinTokenProvider` should only fire-up in the case the AWS setup is such that it requires MFA when switching roles. It will not make packer interactive in the default case.

[2017-10-09 18:05] rickard-von-essen commented on #5435
Also using `stscreds.StdinTokenProvider` will not work since the builder is running in a subprocess which don't have access to stdin.

[2017-10-09 21:05] #5371 closed

[2017-10-10 06:55] karthik101 opened #5437 "Provisioner: Create Multiple Docker images - Question"
How can i create multiple docker provisioners to create two or more separate docker images from a single json file. I need to pass package names as user parameters to separate provisioners. Is this possible?

Thanks,
Karthik

[2017-10-10 07:52] rickard-von-essen commented on #5437
The question is a bit unclear but see the docs for [named builds](https://www.packer.io/docs/templates/builders.html#named-builds).

---

Please only use _GitHub Issues_ for reporting bugs and feature requests. Do not ask for general help here. Use _IRC `#packer-tool` on Freenode_ or the [mailing list](https://groups.google.com/group/packer-tool) for that.

See https://www.packer.io/community/

[2017-10-10 09:53] sugdyzhekov opened #5438 "Allow use HCL in packer templates"
I want to use HCL to write packer template. HCL has much more power than pure JSON. Inability to use comments in code is frustrating me. Also, it will speed up productivity due to HCL support in  IDE.

[2017-10-10 10:12] rickard-von-essen commented on #5438
Duplicates #1768

[2017-10-10 10:12] #5438 closed

[2017-10-10 18:14] SwampDragons commented on #5437
We tend to refer questions to the community (see rickard's link above) but if you can't solve your problem and have either a bug to report or a feature to request, please feel free to open a new ticket.  Thanks!

[2017-10-10 18:14] #5437 closed

[2017-10-11 07:19] amaczuga opened #5442 "checksum post-processor is not creating a GNU checksum file"
Please read https://github.com/hashicorp/packer/issues/5168 ,
then look at this: https://github.com/hashicorp/packer/blob/v1.1.0/post-processor/checksum/post-processor.go#L141

I particularly don't understand why packer is putting a tab character there.

[2017-10-11 07:52] rickard-von-essen commented on #5442
It dosen't specify exactly the format of the output. Could you elaborate why it would be good if it outputed a GNU formatted checksum file.

[2017-10-11 08:48] amaczuga commented on #5442
You are right, checksum post-processor documentation doesn't mention its file format.
It would help to integrate packer with legacy systems if packer used one of popular checksum file formats.
On the other hand, It is worth to introduce a new format if it is superficial to legacy ones, bringing new features or fixing legacy problems.

[2017-10-11 09:00] magnetik opened #5443 "Allow to specify tags or skipped tags in ansible provisioner"
Hi,

I'm using packer to build AMI with the same playbook that I use to provision the production.

Of course there are some things that must not be done in the packer image, so I would like to skip them.

A way of doing this would be for the user to tag it with "packer_skip" or something.
On the `ansible-playbook` command like, it should be used by adding `--skip-tags packer_skip`.

I don't know a

[2017-10-11 09:26] magnetik commented on #5443
I missed that it can be done with `extra_arguments`. Still worth it's own config IMO but I let you decide.

[2017-10-11 11:54] karthik101 commented on #5437
Sorry i already posted question into the groups and didn't get any replies , so i posted here. I will try with named builds, but i don't seem to find any examples in the docs.

[2017-10-11 11:58] ofosos commented on #5421
Try running the packer process as a user <> root, or specify

I.e. some user that is not root. It'll work, it did for me.

I didn't trace exactly what's happeninig, but maybe we can fix this. We've experienced this bug with an upgrade to packer 1.1.0 and a switch to running in a container.

[2017-10-11 12:04] winmasta commented on #5421
I have tried executing packer from ubuntu user and from root user from AWS instance, and from root user from DO instance - didn't work with the same error.

[2017-10-11 12:10] ofosos commented on #5421
Have you tried setting the user variable in the ansible provisioner to sth. that is not equal to 'root'?

[2017-10-11 12:11] winmasta commented on #5421
No, I will try.

[2017-10-11 14:37] ofosos commented on #5421
Did that fix your problem?

[2017-10-11 15:05] winmasta commented on #5421
I'll update here as asap.

[2017-10-11 18:01] mwhooker commented on #5443
thanks for the ticket. Since it's doable now, I'll close this. Happy to look at PRs for it though

[2017-10-11 18:01] #5443 closed

[2017-10-11 19:16] SwampDragons commented on #5437
Inside your builder, add `"name": "my-build-name-here"`; then if you add logic inside your provisioner to check for the environment variable `packer_builder_name` you should be able to modify its actions based on the build name.

[2017-10-12 02:37] mwhooker commented on #5428
closed in 4aee438c2

[2017-10-12 02:37] #5428 closed

[2017-10-12 05:58] mwhooker commented on #5359
done in f566c43a9

Let me know if you have any feedback. Thanks!

[2017-10-12 05:58] #5359 closed

[2017-10-12 06:12] mwhooker commented on #5006
done in 0608fe482

[2017-10-12 06:17] nebffa commented on #5006
Thanks @mwhooker - you're a legend.

[2017-10-12 06:17] mwhooker commented on #5397
done in e497c6027

[2017-10-12 06:17] #5397 closed

[2017-10-12 06:51] winmasta commented on #5421
Removing "remote_user: root" from ansible playbook and executing packer from non-root user solves the problem.

[2017-10-12 08:32] ofosos commented on #5421
I'm not sure if this is a bug introduced with 1.1.0, there were some changes in the ChangeLog that indicate some ansible stuff changed. Did this problem coincide for you with a packer update?

[2017-10-12 10:30] hantuzun commented on #5420
Hi @boumenot ; thanks. Apologies for getting back late. I captured new logs: https://gist.github.com/hantuzun/43353a28edbb38c0f45f7b43142743e0

These new logs are from a freshly set up mac but with the same versions.

[2017-10-12 10:37] rickard-von-essen commented on #5421
Closing this since this is unrelated to packer. See the logs for more info.

[2017-10-12 10:37] #5421 closed

[2017-10-12 13:59] ofosos opened #5447 "Packer 1.1.0 Amazon EBS builder fails in aws-cn"
Hi,
the packer 1.1.0 EBS builder fails with the following error in AWS China

I've an ongoing case with AWS China, but atm it seems that this region does not support tag-on-creation so a solution might need to revert the packer stage that tags instances from before 1.1.0 or a downgrade to 1.0.4.

@mwhooker Do you intend to support AWS China?
@tuxinaut for reference.

Cheers, Mark

[2017-10-12 17:24] eaygar commented on #351
Is it already implemented?

[2017-10-12 17:34] lfarnell commented on #351
@eaygar No it is not. I'm still thinking about how to best approach this. Many use cases have to be considered.

[2017-10-12 17:49] mwhooker commented on #5447
hmmm, interesting problem. Thanks for the report.

I would definitely like to support aws china, but from the announcement post

it seems like it should be coming in the future. I don't like the idea of special casing a whole bunch of code to support an edge case, when it's possible to just use packer 1.0.4

Let's not worry about it unless there's a reason packer 1.0.0 won't work for this

[2017-10-12 19:42] eaygar commented on #351
Ok thank you. Sounds like it'll be nice feature.

[2017-10-12 21:15] #5205 closed

[2017-10-12 21:30] SwampDragons commented on #4916
Pushing this to the next milestone, since I haven't heard from @taliesins and I assume that means he's got other stuff going on.

[2017-10-12 21:34] ishashchuk opened #5451 "Artifice post-processor doesn't clean up build artifacts"
When running artifice post-processor, both extracted files and build artifacts  are produced as a result of a packer run. The log states that the files from the build are discarded:
extract from the log:
`2017/10/12 17:24:43 ui: ==> vmware-vmx (artifice): Discarding artifact files: output-vmware-vmx/packer-vmware-vmx-1507843351.nvram, output-vmware-vmx/packer-vmware-vmx-1507843351.vmsd, output-vmw

[2017-10-12 22:14] rbclark commented on #5330
In my case I use the shell-local processor to run ovftool to build an OVA with the results of my build. Removal of this feature is not impossible to workaround however it is not ideal. Currently packer handles our whole build process and with this change it would no longer be able to do so.

[2017-10-12 22:16] mwhooker commented on #5451
Thanks for the report! I think this is a really poorly worded output message, but I don't think it's a bug. What it's saying is that it's discarding those files from the artifact pipeline. If you added a manifest post-processor after artifice, it would only show the iso file, and not the other files. You'll still have to remove the discarded files. I will make sure the documentation is clearer.

[2017-10-12 22:53] pkilar commented on #5067
@rickard-von-essen take a look at #5439 and give it a try

[2017-10-13 03:28] X44049 commented on #1153
Hi, I am creating packer ami image in template i mentioned ami-name as : "ami_name": "{{ user `name`}}_{{ timestamp }}", . In place of time-stamp in ami-name on aws I am able to see unknown 10 digit number ex: '1432756324'. Could you please let me know, how ami-name in aws created.

[2017-10-13 13:57] kharnam commented on #5157
Any progress here guys?

[2017-10-13 14:44] bugbuilder commented on #5157
Coud you try the PR and give few feedback??.

[2017-10-13 15:18] fabiendelpierre commented on #5347
I hit this issue yesterday.

@mikouaj @sejames FYI I didn't come here until now and tried similar workarounds, but after creating `/tmp/packer-puppet-masterless/module-0` and setting permissions on it, the build then complains about `/tmp/packer-puppet-masterless/module-1`... and so forth.

@mwhooker FYI using `prevent_sudo` does get around the issue, but then Puppet runs as a non-root user, and a

[2017-10-13 17:19] mwhooker commented on #5347
@fabiang today!

[2017-10-13 17:22] fabiendelpierre commented on #5347
Great news, thank you!

You tagged the wrong guy by the way 😄

[2017-10-13 18:01] mwhooker commented on #5347
lol, github autocorrect is useless 😜

[2017-10-13 19:49] blalor opened #5455 "manifest post-processor has no data for azure-arm builders"
Not sure if this is a feature or a bug, but I expected that the `manifest` post-processor would capture the artifacts of the `azure-arm` builder.  For a VHD output, there isn't anything related to the output from the builder.

For example, the builder output looks like:

[code]

But the `manifest` pp result contains:

[code]

I know I can use the machine-readable output of packer to parse out what

[2017-10-13 19:55] mwhooker commented on #5455
Should be there since #4953

can you verify what version of packer you're using?

[2017-10-13 19:56] blalor commented on #5455
Oops, sorry.  v1.1.0.

[2017-10-13 19:57] mwhooker commented on #5455
and can you post your json?

[2017-10-13 20:01] blalor commented on #5455
[packer.json](https://github.com/hashicorp/packer/files/1383870/packer-azure.json.txt)

[2017-10-13 20:02] blalor commented on #5455
And I'm running with `packer build -only azure-arm packer.json`.

[2017-10-13 20:31] #5455 closed

[2017-10-13 20:32] blalor commented on #5455
PEBKAC.

[2017-10-13 20:43] SwampDragons commented on #5413
@cornfeedhobo sorry for not responding sooner; this is a docs-related ticket which will be closed once we have the docs updated... so If you want your things being addressed in a more formal and organized way, it's best to open a separate ticket.  In this case, it seems like you might have three or four separate ideas for improvement.  Easiest to track if we manage each of those in their own separ

[2017-10-13 21:12] SwampDragons commented on #5433
I'm pretty sure that in the case you're describing, this information is already available in the debug output. (see `log.Printf("[DEBUG] TCP connection to SSH ip/port failed: %s", err)`) in that same file, You can turn on debug logging access by setting the environment variable `PACKER_LOG=1`

An example of this output would be ```2017/10/13 14:05:25 packer: 2017/10/13 14:05:25 [DEBUG] TCP connect

[2017-10-13 21:12] #5433 closed

[2017-10-13 21:17] SwampDragons commented on #5358
I've started creating some toy examples here: https://github.com/SwampDragons/packer-examples

Are there any specific combos you'd like to see created?  Once that repository is more mature, I'll start moving the examples into docs.

[2017-10-13 22:10] rismoney commented on #5418
i think input locale is supposed to be semicolon separated.

https://technet.microsoft.com/en-us/library/cc749191(v=ws.10).aspx

[2017-10-13 22:35] mwhooker commented on #5418
Going to close this since I think this is more of a question than a bug with packer. You may have better luck with the [mailing list](https://groups.google.com/forum/#!forum/packer-tool). If you discover buggy behavior in packer, I'd be happy to take a look at a new ticket.

Thanks!

[2017-10-13 22:35] #5418 closed

[2017-10-14 17:20] shibumi opened #5459 "Unverified GPG key ID: 51852D87348FFC4C"
Hello,
Could you please verify that the key 51852D87348FFC4C is from the hashicorp team? All Release-Tags are signed with that key but github says it's unverified and the developer who owns the key also owns another key that is verified. Quite chaotic. Would be cool if you guys could verify that this key is really from you.

[2017-10-14 17:22] shibumi commented on #4855
Any update on this feature?

[2017-10-14 19:37] mwhooker commented on #5459
It's ours. you can see the ID and the public key at https://www.hashicorp.com/security/ Note also that it's on keybase

[2017-10-14 19:37] #5459 closed

[2017-10-14 20:03] mwhooker commented on #4855
happy to review PRs for it, but this is not a priority for us

[2017-10-15 14:31] floradu88 commented on #2484
Still this is an issue on latest packer build.

[2017-10-16 00:43] c22 commented on #5229
Haven't tested myself but I suspect that your packer script is not able to get the credentials via the environment. You could try using the EC2 instance meta-data service instead, see:
[Retrieving Security Credentials from Instance Metadata
](http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/iam-roles-for-amazon-ec2.html#instance-metadata-security-credentials)

Although after reading [this](https

[2017-10-16 06:14] rickard-von-essen commented on #166
Hi @jcrben , thanks for reaching out.

This ticket is really old so it's probably not relevant to the issue you're seeing. If you're still having trouble, would you please open a new issue with the debug log and a json that reproduces the issue? Thanks!

[2017-10-16 09:14] SurferL opened #5464 "Vsphere post-processor issue"
[code]
[code]
Having issues with using the vsphere post processor with uploading the vmx to vsphere. I'm not sure if it's something to do with special characters in the vsphere username and password which require them to be escaped?

Template: [template gist](https://gist.github.com/SurferL/ceaca35bddcfd54c9053aeb37828fb67)
Debug log: [debug gist](https://gist.github.com/SurferL/0cff6ea8e09cf90a02

[2017-10-16 11:23] jansepke opened #5465 "Docs: Azure Setup refers to outdated azure-cli 1.0"
this site https://www.packer.io/docs/builders/azure-setup.html refers to the azure-cli 1.0 the current one is version 2.0 with a redesigned API. The referenced setup file https://github.com/hashicorp/packer/blob/master/contrib/azure-setup.sh has the same problem.

[2017-10-16 12:40] meinteuch22 opened #5466 "openstack: Show error message"
Packer should output the openstack-api-messages when something goes wrong.

example :

the (nova-api-) message

{"message": "Build of instance 8e5bd927-9e0f-463f-8744-2b16e03e0f90 aborted: Failed to allocate the network(s) with error No fixed IP addresses available for network: bf433df0-b7e3-4ad1-849d-4a449b0b7ece, not rescheduling.", "code": 500, "created": "2017-10-16T07:25:11Z"}

right now show

[2017-10-16 12:50] rickard-von-essen commented on #5466
I think this is as simple as:

[code]

The second line needs to do `err.Error()` to get the actual error message.

[2017-10-16 13:05] bitfrickler opened #5467 "error initializing provisioner 'powershell': plugin exited before we could connect"
Error: `error initializing provisioner 'powershell': plugin exited before we could connect
`
Packer version: 1.1.1
Host: macOS 10.13
Log: https://gist.github.com/bitfrickler/64188bfa07f03b4094af3564b5bd93cd
Template: https://gist.github.com/bitfrickler/779aac6420cd1b619d24780af07d66c5

[2017-10-16 14:43] mayn opened #5468 "docs inconsistent data types bool/boolean , int/integer"
noticed inconsistencies in data being references w/ attributes (examples linked)
  - (bool) and (boolean)
    - https://www.packer.io/docs/provisioners/converge.html#prevent_sudo
    - https://www.packer.io/docs/provisioners/converge.html#bootstrap
  - (int) and (integer)
    - https://www.packer.io/docs/builders/googlecompute.html#accelerator_count
    - https://www.packer.io/docs/builders/google

[2017-10-16 15:01] brettjacobson commented on #5330
@rbclark I've had good luck with https://github.com/drscream/packer-post-processor-ovftool

[2017-10-16 15:07] brettjacobson commented on #5428
@mwhooker Does this work on anything that expects an array?

[2017-10-16 16:01] SwampDragons commented on #5465
I just looked at those docs and on a quick skim through I'm not seeing any specific versions referenced.  The shell script just has an `$azureversion` variable and the docs don't mention versions specifically.  Are there commands that don't work anymore which these files are using?

[2017-10-16 16:25] boumenot commented on #5465
There are **three** CLIs for Azure (yes :three:).  They are the Azure XPlat CLI, Azure CLI, and Azure PowerShell.  The XPlat CLI is what you're referring to as v1.0, and the Azure CLI is what you're referring to as v2.0.  They are independent of each other to my knowledge, and development on v1.0 continues.

The v2.0 CLI is available in the Azure Portal.  If you click the shell button you get a ru

[2017-10-16 20:16] SwampDragons commented on #5465
Sounds fair to me.  Given that I didn't know the difference between these CLIs until I read @boumenot's comment, anyone want to submit a PR fixing this?

[2017-10-16 21:20] alexhexabeam commented on #5330
We use the shell-local post processor to modify an output OVF file built with virtualbox to create multiple OVAs for different versions of ESX as well as virtualbox. We make copies of the OVF and VMDK files, use sed to change the hardware in the OVF, then tar it up into an OVA. This saves a massive amount of time and compute over rebuilding it with different builders, not to mention not needing an

[2017-10-16 22:08] mwhooker commented on #5428
@brettjacobson it should. anything that's an array of primitives (number, string, etc)

[2017-10-16 22:20] mwhooker commented on #5229
I'm going to close this for now. If you do some more digging and find out there's a problem with packer, please feel free to open another ticket. Thanks!

[2017-10-16 22:20] #5229 closed

[2017-10-16 22:39] DanHam commented on #5467
@bitfrickler It looks as though you have the now deprecated [packer-community/packer-windows-plugins](https://github.com/packer-community/packer-windows-plugins) installed. From your log:

2017/10/16 14:59:22 [DEBUG] Discovered plugin: parallels-windows-iso = /usr/local/bin/packer-builder-parallels-windows-iso
2017/10/16 14:59:22 [DEBUG] Discovered plugin: parallels-windows-pvm = /usr/local/bin/pa

[2017-10-16 23:30] #5468 closed

[2017-10-17 07:54] jansepke commented on #5465
The Terraform docs could be a good starting point:
https://www.terraform.io/docs/providers/azurerm/authenticating_via_service_principal.html

[2017-10-17 07:59] bitfrickler commented on #5467
@DanHam You're right. After removing the plugins everything works fine. Thank you very much 👍

[2017-10-17 07:59] #5467 closed

[2017-10-17 10:20] floradu88 commented on #2484
Will try to do this later today. Thanks

[2017-10-17 10:22] Skarlso commented on #2484
Yaay, good luck. :)

[2017-10-17 10:23] lbytnar commented on #5335
Hi @mwhooker ,
Sorry for not replying earlier, I though that author of this bug may want to provide something. I prepared dummy ansible role within two test cases. The first one will exit with error as it will not find vault password file that was passed in extra argument. The second one although finish with no errors but will not run any ansible tasks.

Let me know if that was helpful, or if you

[2017-10-17 12:01] Occams opened #5471 "Erroneous escape sequence of environment variables in powershell provisioner"
After upgrading to packer 1.1.1 we experience an error during one particular powershell provisioning step.

By examining the packer logfile it seems clear that there was a change in how powershell environment variables specified in the script are handled.

Powershell provisioner snippet:

`{
            "type": "powershell",
            "script": "scripts/preinstalled/apply-settings.ps1",

[2017-10-17 13:03] KoeSystems commented on #5435
@gdamjan This wrapper could help you https://gist.github.com/KoeSystems/bb5bf9be77568c713b231ebd84124211

[2017-10-17 13:19] venkateswaris opened #5472 "Sql server installation is failing."
Hi,

I am trying to install sql server using packer. It is failing saying that access denied. When i print sql error log, i am getting following message.

`Exception type: Microsoft.SqlServer.Chainer.Infrastructure.ChainerInfrastructureException
    Message:
        There was an error generating the XML document.
    HResult : 0x84b10001
        FacilityCode : 1201 (4b1)
        ErrorCode : 1 (000

[2017-10-17 16:22] SwampDragons commented on #5471
Thanks for reporting this and apologies for the regression.  I'll take a look as soon as I can.

[2017-10-17 17:38] SwampDragons commented on #5471
Okay this is because we changed the env var format:

[code]

The final result seems to be that we've managed to escape the backslash that was supposed to escape the quote, instead of escaping the quote.

you can work around it by adding an extra escaped slash to your config; e.g.

[code]

I'll see if I can add some better brains to the script to make it look for a trailing slash, but we're unlikel

[2017-10-17 17:40] SwampDragons commented on #5471
Actually, since you are requesting dynamic escaping and that's what #5376 is meant to do, I'm going to close this as a duplicate and make sure that we use this ticket as a test case when merging the other ticket.  Thanks for reporting!

[2017-10-17 17:41] SwampDragons commented on #5471
😅  nevermind, that's a PR and not an issue.  I'll just reference this issue in that PR.

[2017-10-17 18:48] SwampDragons commented on #5377
cc @ChrisLundquist

[2017-10-17 18:50] ChrisLundquist commented on #5377
I'll take a look tonight

On Tue, Oct 17, 2017 at 11:48 AM SwampDragons <notifications@github.com>
wrote:

[2017-10-17 22:07] breisig opened #5474 "post-processor/amazon-import Ability to encrypt ebs snapshot/volume."
One feature missing from amazon-import post-processor is to have an option to encrypt the ebs volume once packer uploads it. Packer is great for building images from ISO using virtualbox and then using the 'amazon-import' post processor to automatically upload that image to AWS to have it auto create the AMI for us. The biggest issue is not being able to set a 'flag' or something with the 'amazon-

[2017-10-17 23:53] jborean93 commented on #5472
You are probably coming across a WinRM limitation, the SQL Server installer needs to access the DPAPI which under most WinRM situations is restricted. You should be able to get past this by;

* Using a scheduled task (probably avoid this as it is quite finnicky)
* Download [PsExec](https://docs.microsoft.com/en-us/sysinternals/downloads/psexec) and run it as the system account to bypass the WinRM

[2017-10-18 04:19] ChrisLundquist commented on #5377
Hmm:

[code]

Using `lxd.json` as:
[code]

Running the build with it:
[code]

Looks happy?
[code]

@lbytnar what more can you tell me?

[2017-10-18 04:49] c22 commented on #4384
This particular issue was resolved with #5252

[2017-10-18 04:49] #4384 closed

[2017-10-18 05:12] ChrisLundquist commented on #5349
@jfgibbins You had a lot of asks here:
To recap them:
- arbitrary metadata file?
- publish properties
- auto deletion of old builds

Re arbitrary metadata files. When I wrote this builder way back when, there was virtually no documentation on the metadata file format.

I took the "repackage another image" approach to work around this, thinking that you could craft a base image as you needed, then

[2017-10-18 08:24] lbytnar commented on #5377
Hi @ChrisLundquist,

This seems to be partially fixed in 1.1.0. See below :

**Version 1.1.0 without -only**
[code]
**Version 1.1.0 with -only**
[code]

**Version 1.0.0 without -only**
[code]
**Version 1.1.0 with -only**
[code]

So it seems to be narrow down to the `-only` parameter, otherwise looks good. Thank you for checking and testing.

[2017-10-18 08:29] lbytnar commented on #5377
Ah, when the `name` is defined then `-only` parameter checks the it rather than the `type`:

[code]
It doesn't work in 1.0.0.

[2017-10-18 08:43] floradu88 commented on #2484
Looks like one of the scripts(had a shutdown command and did not wait for powershell to finish) and could not reproduce the bugs as described by @SwampDragons. I think this can be closed/resolved.

[2017-10-18 10:13] hantuzun commented on #5420
Hi @boumenot & @mwhooker,

I've created a PackerImages resource group in West US and reproduced the error by using the exact example [ubuntu_managed_image.json](https://github.com/hashicorp/packer/blob/master/examples/azure/ubuntu_managed_image.json)
 file in the repo: https://gist.github.com/hantuzun/cd2b65f49b73d4e8e04093f96407a135

In the new gist above, I've added the payload from the logs and

[2017-10-18 13:17] jfgibbins commented on #5349
For this particular case, I'm not referring to the metadata.yaml file, but rather the metadata that is viewed when doing lxc image list and changed with lxc image edit xxx.  description, alias, etc are set when you publish an image. Example

| xenial-puppet | ffc24c0e4bb5 | no     | Ubuntu 16.04 LTS Xenial Xerus w/Puppet | x86_64 | 226.80MB | Sep 17, 2017 at 3:43am (UTC) |

As for the deletion, wh

[2017-10-18 13:33] lfarnell commented on #5472
@venkateswaris How are you installing Sql Server? Which provisioner are you using?

[2017-10-18 13:38] venkateswaris commented on #5472
@lfarnell I am using powershell provisioner and i am executing setup.exe in sql installer.

`C:\temp\sqlserver\SETUP.exe /Action=Install /IACCEPTSQLSERVERLICENSETERMS`

[2017-10-18 13:41] lfarnell commented on #5472
@venkateswaris I use Puppet to install Sql Server and I had to run it as an [elevated user](https://www.packer.io/docs/provisioners/powershell.html#elevated_user). Try that and see if it works.

[2017-10-18 13:48] tomelliff commented on #5290
This confused me as well because the docs state (emphasis mine):

I'm not sure I understand what that emphasised comment means if the launch volumes are associated with the snapshot?

In my case I want to create an AMI that has some application data stored on a separate EBS volume and is bootstrapped when the application is installed. I want to discard this application data and then I will use Ter

[2017-10-18 13:58] stack72 opened #5476 "Create Source Image Filter for Triton Builder"
The triton provider really needs to have a way to be able to use source image filters (similar to source ami filter in AWS builder)

this means that we can search based on image name, os, owner etc rather than using image Ids

This will effectively allow us to create Triton builder config as follows:

[code]

rather than:

[code]

[2017-10-18 15:26] venkateswaris commented on #5472
@lfarnell As per this issue https://github.com/hashicorp/packer/issues/2511, we don't need elevated user when using aws ami.

[2017-10-18 15:33] ChrisLundquist commented on #5349
Cool, my linked PR will let you set those things. I called them publish
properties for lack of a better term

On Wed, Oct 18, 2017 at 6:19 AM jfgibbins <notifications@github.com> wrote:

[2017-10-18 16:28] beddari commented on #4942
Oh this would be great, and I'd be happy to help, but not sure where to start actually :)

[2017-10-18 16:44] SwampDragons commented on #2484
Thanks for following up!  Feel free to open a new ticket if something else comes up.

[2017-10-18 16:44] #2484 closed

[2017-10-18 16:50] ptveite opened #5477 "Feature Request: Post-processor to upload VHD to Azure"
I'm using the Hyper-V iso builder to make a base image for use with Azure BYOL, and would like to have a post-processor that will convert my vhdx output to vhd and upload it to an Azure storage container.

[2017-10-18 16:58] lfarnell opened #5478 "Run Puppet Masterless provisioner as elevated user on Windows"
When using the Puppet Masterless on Windows it fails when trying to install SQL Server as it needs administrative privileges. I always thought that cmd commands would execute in an elevated command prompt? Is this not the case? At least on Windows, installations for a good amount of tools do require administrative rights and this would prohibit that.

The work around for now is to execute Puppet f

[2017-10-18 17:39] boumenot commented on #5420
I may be misunderstanding the report, if so please correct.  The VM size used to build a Packer image does not have to match the VM size used to deploy the image.  It looks like the image is being built with Packer is a Standard_DS2_v2, and the logs all appear to indicate that is correct.  When you deploy the image afterwards with the CLI you got something different.  This is expected. The VM size

[2017-10-18 17:42] SwampDragons commented on #5377
👍  thanks for taking a look @ChrisLundquist

[2017-10-18 17:42] #5377 closed

[2017-10-18 18:22] SwampDragons commented on #5478
You're right -- we allow the user to toggle whether or not to use sudo on unix systems, but we don't have anything similar built into the puppet provisioner for running in windows with elevated permissions.  I'm glad you have a workaround.

I'd welcome a PR fixing this; a good solution will probably have to involve abstracting away some of the elevated stuff that is currently solely in the powersh

[2017-10-18 19:05] lfarnell opened #5479 "Allow Puppet/Chef standalone provisioners to use remote files instead of uploading local"
When using the Puppet Masterless you provide the directories on the local system to upload to the machine in order to start the puppet run. On Linux based systems the default upload mechanisms will be scp over ssh which is incredibly fast. For Windows the default upload mechanism is done via winrm which is incredibly slow. Takes over 2 hours to upload around 4 mb's of files on my current system. I

[2017-10-18 19:39] SwampDragons commented on #5472
@venkateswaris Can you share a gist containing the simplest possible packer config and scripts necessary to reproduce the error?

[2017-10-18 19:56] zach5410 opened #5480 "Passing variables to shell provisioner environment variables"
I would like to be able to pass my local environment variables through the environment variables of the shell.  Here is my current json setup:

[code]

I am needing to pass through the environment variables because I need to be able to run the AWS CLI from within the EC2 Instance and I need to pass through my credentials so I can set up the CLI for the first time.

Thanks everyone!

[2017-10-18 20:06] SwampDragons commented on #5464
glancing at the code, it doesn't appear that packer does any escaping for you.  It plugs in the password you provide to a uri using this pattern:

[code]

[2017-10-18 20:49] zach5410 commented on #5480
Here is the output.  You can see that the two env variables are blank..

[code]

[2017-10-18 21:38] matt-richardson commented on #5480
Environment variables are only available when you're declaring a variable, not inside a provisioner etc - see https://www.packer.io/docs/templates/user-variables.html#environment-variables.

if you change to:

[code]

you should be good.

[2017-10-19 00:16] ashleyhull-versent opened #5482 "AWS: InsufficientInstanceCapacity results in infinite hangs"
`"InsufficientInstanceCapacity: do not have sufficient m4.large capacity in the Availability Zone you requested (ap-southeast-2a)"`

- Packer version from `1.1.0`
- Linux (Codebuild Ubuntu image)

![image](https://user-images.githubusercontent.com/17537000/31748427-d36e3126-b4be-11e7-9888-d05a100c7ede.png)

[2017-10-19 07:32] alessiot77 commented on #5474
it sound like because of the following limitation:

"Importing AMIs and snapshots is subject to the following limitations:
AMIs with volumes using EBS encryption are not supported."

http://docs.aws.amazon.com/vm-import/latest/userguide/vmie_prereqs.html

[2017-10-19 09:50] venkateswaris commented on #5472
This is my packer script
`{
  "variables": {
    "aws_access_key": "",
    "aws_secret_key": ""
  },
  "builders": [
    {
      "type": "amazon-ebs",
      "access_key": "{{user `aws_access_key`}}",
      "secret_key": "{{user `aws_secret_key`}}",
      "region": "eu-west-1",
      "source_ami_filter": {
        "filters": {
          "virtualization-type": "hvm",
          "name": "6.1-SNAPSHOT-

[2017-10-19 10:46] jborean93 commented on #5472
@venkateswaris the issue you referenced https://github.com/hashicorp/packer/issues/2511 is about UAC being turned off on AMI instances and is unrelated to your issue. Your issue is around the restrictions when running a command over WinRM and because the SQL Server installer interacts with DPAPI it fails as this is not allowed under most circumstances in WinRM. You will have to run the command und

[2017-10-19 12:15] jonmosco commented on #5354
Do you need me to do anymore testing for this?

[2017-10-19 12:43] hantuzun commented on #5420
Hi @boumenot,

You didn't misunderstood at all. I wasn't providing `--size` parameter like below[*](https://gist.github.com/hantuzun/1fbbbe3beb9974fc44d2f0da031d4f64)[†](https://gist.github.com/hantuzun/43353a28edbb38c0f45f7b43142743e0):

[code]

I've just tried a deploy with `--size` and it worked as expected.

Why do we provide `vm_size` parameter for Packer if the VM size is not embedded in the

[2017-10-19 12:59] venkateswaris commented on #5472
@jborean93
Yes.. executing with PSExec is working fine.

[2017-10-19 12:59] #5472 closed

[2017-10-19 14:44] zach5410 commented on #5480
I have used your suggestion @matt-richardson and I found that I am not having any issue when connecting to the user variables.  My issue is actually my env variable.

When I declare my variables it is for some reason not including my environment variable
Here a snippet of the code:
[code]

And here is a snippet of my printenv
[code]

When I hardcode my variables, it does work.  Only when I bring i

[2017-10-19 15:59] boumenot commented on #5420
Thank you for the following up with confirmation that it worked, and I am glad you are unblocked.

[2017-10-19 15:59] #5420 closed

[2017-10-19 17:45] Bowmaster opened #5483 "Restart_Check_Command endlessly looping"
Hello,

I am having an issue with the "restart_check_command" within the windows_restart provisioner.  Essentially, the command endlessly loops, even if the conditions are satisfied, and regardless of the exit I code I throw on success (tried 0 and 1 when successful condition is reached).  Ultimately, the build fails because I reach the restart_timeout threshold.

Here is the relevant snippet of m

[2017-10-19 18:01] mwhooker commented on #5483
Thanks for the report. I think I see the bug. To test, would you mind trying with this check command?

`"restart_check_command":  "powershell.exe -EncodedCommand aQBmACAAKAAoAFQAZQBzAHQALQBQAGEAdABoACAAQwA6AFwAUABhAGMAawBlAHIAUwBjAHIAaQBwAHQAcwBcAF8ATwByAGMAaABlAHMAdAByAGEAdABpAG8AbgBGAGkAbABlAHMAXABQAE8AXwBGAGkAbgBpAHMAaABlAGQALgBwAG8AKQApAHsAVwByAGkAdABlAC0ATwB1AHQAcAB1AHQAIAAnAFIAZQBzAHQAYQByAH

[2017-10-19 18:51] Bowmaster commented on #5483
Thank's for the quick reply - result was the same, here's a new gist and the updated provisioner for reference:

https://gist.github.com/Bowmaster/1cf821df7f516935c1ccdea6e4f3335b

    {
      "type": "windows-restart",
      "restart_timeout": "720m",
      "restart_check_command": "powershell.exe -EncodedCommand aQBmACAAKAAoAFQAZQBzAHQALQBQAGEAdABoACAAQwA6AFwAUABhAGMAawBlAHIAUwBjAHIAaQBwAHQAcwBc

[2017-10-19 19:14] mwhooker commented on #5483
I see. Let's try one more thing. Can you use this restart command?

[code]

[2017-10-19 19:17] bugbuilder commented on #5354
Hi @jonmosco all testing is welcome, if you found an issue please let me know I'll happy to try to fix it.

[2017-10-19 20:08] SwampDragons commented on #5483
Aw heck this is probably the fault of the fact that we now check for "restarted." in stdout  in order to make sure that powershell is fully loaded:
[code]
When I wrote that check I don't think I even realized that it was a configurable option...

[2017-10-19 20:08] ddsdevon commented on #5447
I ran into the same issue since I am using AWS GovCloud, and there can be some pretty long delays in receiving updated feature sets for that region... I would not count on it just fixing itself in the near future (at least not for all regions). Since this is a recent change, is there no way to make it optional or gracefully fail if it is not supported?

[2017-10-19 20:28] SwampDragons commented on #5480
You aren't referencing those defined variables elsewhere in your config -- in your shell provisioner you're trying to access the env variables again instead of using the user variables that you defined at the top of your config from the env variables.  Which is why they're blank.  Like Matt said above, if you change the variables inside the provisioner to use user variables, you should be okay.

[2017-10-19 20:29] SwampDragons commented on #5480
if it's still failing even though you did what he asked, can we see the whole json again?

[2017-10-19 20:43] mwhooker commented on #5483
todo (cc @SwampDragons):

- [ ] custom restart command needs powershell encoding
- [ ] the output we check for if restart command succeeds needs to be configurable, or restart command shouldn't be overridable
- [ ] need documentation explaining how restart command checks for restarts suceeding
- [ ] need to update https://github.com/hashicorp/best-practices/tree/master

[2017-10-19 21:02] mwhooker commented on #5447
that's a good point, and something to keep an eye on.

Unfortunately this would be a pretty large change, and not one we'd be excited to support. We'd like to be able to continue to advance the product, but prior versions of packer are always available at releases.hashicorp.com/packer/

If there's a bug or a new feature that's preventing you from using an old version of packer, I'd be curious to h

[2017-10-19 21:18] degilq commented on #4589
hello any new on this one?

[2017-10-19 21:20] ddsdevon commented on #5447
I'm mostly concerned about how sustainable this will be down the line. Right now 1.0.4 is only a couple of months old... but what about 6 months from now? Over time, how much will the online documentation start to differ from what can be done in 1.0.4? It would be unfortunate to deny this toolset to those serving in government.

[2017-10-19 21:22] degilq opened #5484 "Packer retrieve some credentials or values from Vault"
i can not retrive values from vault for use in packer

[2017-10-19 21:26] SwampDragons commented on #5483
That looks good to me.  Why is it useful to have this restart check command be overridable in the first place?

[2017-10-19 21:54] zach5410 commented on #5480
This still does not work

[code]

[2017-10-20 03:00] conn opened #5485 "LXC Builder + Ansible Remote = hung shell"
Hello!

I'm pretty excited to see that an LXC builder has made it into v1.1.1. Sadly, while shell provisioning works with it, ansible provisioning currently does not. Basically what happens is that the first command  ran through the LXC communicator hangs forever. I have a gist [here](https://gist.github.com/conn/9717d0909b08e57802b7d1b58d1fbd88) with all pertinent information.

I've been throwing

[2017-10-20 04:00] irab commented on #5049
No one has mentioned that you can just [change the timeout](https://www.packer.io/docs/templates/communicator.html#ssh_timeout) with something like "ssh_timeout": "20m".

Also on CentOS 7.3 and 7.4 just ' reboot --eject' in the kickstart file by itself works for me to avoid the booting from the ISO on reboot.

[2017-10-20 04:09] rickard-von-essen commented on #5485
See my answer on the [mailing list](https://groups.google.com/forum/#!msg/packer-tool/sJqMu8DgjZM/szjiWtXFBAAJ). I'll close this since it should work if you setup Ansible correctly and we can reopen if that is not the case.

[2017-10-20 04:15] Bowmaster commented on #5483
I leave for a few hours and looks like you guys found the issue, thanks for identifying so quickly!  I'll be traveling for a few days but I'd be happy to do some real-world testing with our full config when I get back next week if that helps.

Those todo's look good to me as well.  What do you think about an option to manually specify an exit code for success (in addition to your 2nd 'todo' above)

[2017-10-20 05:00] rickard-von-essen commented on #5128
This was added in #5175

[2017-10-20 05:00] #5128 closed

[2017-10-20 05:01] rickard-von-essen commented on #5020
Closing this since there has been now response.

[2017-10-20 05:01] #5020 closed

[2017-10-20 05:03] rickard-von-essen commented on #4206
Closing this since the Vagrant pp doesn't do anything to the artifact except package it up in a tar.

[2017-10-20 05:03] #4206 closed

[2017-10-20 05:04] rickard-von-essen commented on #3259
I'm not sure this is an issue anymore. Any news if this is still valid?

[2017-10-20 05:06] rickard-von-essen commented on #4669
Closing this in favour of #5466 which has a clear analysis.

[2017-10-20 05:06] #4669 closed

[2017-10-20 05:09] rickard-von-essen commented on #4942
@beddari extract one `ssh.go` from say `amazon` and use it there and say with `virtualbox`. The tricky part is to decide on the interface to pass customisations such as how to find the IP etc and to verify that it works.

[2017-10-20 10:58] chappoo opened #5486 "EBS Volume missing field CreateTagsInput.Tags when launching spot instance"
- Packer version 1.1.1 only
- Windows
- Gist: https://gist.github.com/chappoo/9fc5b226975c8480188e920d6b0f67af

Since upgrading to Packer v1.1.1 the following error consistently occurs for templates that have previously worked fine:

This happens for both the `amazon-ebsvolume` and `amazon-ebs` builders (sample provided for `amazon-ebsvolume`).  I can confirm this bug was introduced in `v1.1.1` as

[2017-10-20 11:00] chappoo commented on #5486
Also worth mentioning that I've not found a workaround for the `amazon-ebsvolume` builder, so have been forced to rollback to v1.1.0 for the time being.  I'm taking a look at the code, but unfortunately my go skills are a bit lacking...

[2017-10-20 11:09] xuyuji9000 commented on #5447
My problem is, as a Mac user, how to downgrade to 1.0.4? Homebrew is not supporting this feature anymore! @ofosos

[2017-10-20 11:22] rickard-von-essen commented on #5486
Might be related to #5417

[2017-10-20 12:02] conn commented on #5485
@rickard-von-essen

Did you compare output between the two? These are completely different issues. The one in the mailing list is dealing with not being able to connect via SSH to run any command. I specifically mentioned that I was able to connect through the SSH communicator just fine:
[code]
The playbook stops after connecting successfully:
[code]

[2017-10-20 12:15] rickard-von-essen commented on #5485
Yes and I still think they are the same. Packer don't use SSH to communicate with LXC, but `lxc-attach`.

[2017-10-20 12:16] conn commented on #5485
Due to comments [here](https://github.com/hashicorp/packer/issues/3331) I would think that I should not have to worry about the connection details and let the communicator abstraction take care of it for me?

[2017-10-20 12:17] conn commented on #5485
Also, what is the point of having Ansible's SSH proxy connect with LXC's communicator if it was never meant to do so? And why is this caveat not mentioned in the [documentation](https://www.packer.io/docs/builders/lxc.html)?

[2017-10-20 12:34] rickard-von-essen commented on #5485
Unfortunately not for the Ansible provisioner. The communicator type is explicitly hidden for the provisioner.

Because of how Ansible executes from a remote host which doesn't fit very well into the design of provisioners in Packer. Reading through previously mentioned #3331 and linked issues gives a good background and reasoning.

Because it's new and community maintained, but it doesn't explici

[2017-10-20 12:56] conn commented on #5485
Just to reiterate words in #3331:

There seems to be a lack of consistency toward what Packer is and isn't responsible for:
In one place, the maintainers repeatedly refuse to provide needed tools for the users to empower themselves simply because it goes against what Packer should be; in another place the maintainers refuse to acknowledge that same idea and ignore bugs that break the mentioned "co

[2017-10-20 13:50] rickard-von-essen commented on #5485
You are kind of shooting the messenger. But until we change our standpoint of the connection abstraction I still think there's only some missing documentation.

[2017-10-20 15:09] trodemaster commented on #3259
I still have a need for optionally using a shutdown_command to run sysprep. But If I understand this specific issue is around older openstack not supporting shutdown api call. I don't have any issues with that situation.

[2017-10-20 15:57] SurferL commented on #5464
@SwampDragons thanks for checking that out!

Not too sure what the issue could be then...

[2017-10-20 16:11] SwampDragons commented on #5464
Just messed with the test for that post-processor to see what happens when we build the arguments; turns out we do actually escape them... so your

[code]

would become

[code]

[2017-10-20 16:16] SurferL commented on #5464
I see, from the gists would you say it is the username/password is the issue then?

[2017-10-20 16:17] SwampDragons commented on #5464
Not if the real username and password are formatted the same way as you have in your gist... that looks right to me.  I assume you're able to upload outside of packer?

[2017-10-20 16:19] SwampDragons commented on #5464
oh!  Could it be the datacenter?  You're escaping it here so it'd get encoded weirdly:

[code]

to

[code]

[2017-10-20 16:20] SurferL commented on #5464
Oh right, yeah, I was escaping it there as well (I previously wasn't!)

[2017-10-20 16:20] SwampDragons commented on #5464
Awesome -- let me know if that fixes things for you and make sure you don't have any other escape sequences in the components of that final URI

[2017-10-20 16:21] SurferL commented on #5464
Cool, so basically don't do any escaping is what you're suggesting?

[2017-10-20 16:23] SwampDragons commented on #5464
yep, except normal string escaping.  For example, you have to escape "this has a quote\" inside the string" or the json would be invalid.

[2017-10-20 16:23] SwampDragons commented on #5464
hahaha github formatted the middle quote so you can't see it but I escaped it with a backslash.

[2017-10-20 16:24] SurferL commented on #5464
Okay great - don't think I have time to check it out this weekend, but will get back to you on Monday! Thanks :)

[2017-10-20 19:54] SwampDragons commented on #5483
Sounds great.  For now, you can work around this by making sure your check command echos "restarted."

[2017-10-20 20:13] SwampDragons commented on #5484
This is a duplicate of https://github.com/hashicorp/packer/issues/4589

[2017-10-20 20:13] #5484 closed

[2017-10-20 20:31] mwhooker commented on #4942
it's unfortunate that we rely on the state bag so much for this, it makes creating an interface a little difficult. It's also somewhat complex because we need to delay computation of the step parameters until after we've processed the prior steps (hence why we pass functions around).

I would love to see this tidied up a bit so we don't have to duplicate everything for every builder, but it'll tak

[2017-10-20 20:31] degilq commented on #4589
i can not retrive values from vault for use in packer

[2017-10-20 20:33] SwampDragons commented on #5485
@conn thanks for the report. I think you have a good point here; If there's a way to handle the ansible plugins ourselves it works effortlessly for users without them having to manually configure something outside Packer, I'm all for it.  The ansible provisioner itself is a community-maintained provisioner, so I'd gladly review a pull request that introduced this behavior.

In the meantime, please

[2017-10-20 21:16] #5323 closed

[2017-10-20 22:07] conn commented on #5485
@rickard-von-essen I'm sorry if you feel I'm attacking you. Being on the receiving end of this bug, and also a bug that might be easily solved by the variables requested in #3331, I find it frustrating to receive two conflicting messages:

Please don't view this as a personal attack on you, but just more of an overall observation toward how these bugs are being handled here (and also other Hashico

[2017-10-20 23:05] SwampDragons commented on #5485
Have you opened an issue for the bug that would be solved by having access to the variables in #3331?

[2017-10-21 00:02] conn commented on #5485
@SwampDragons It's related to work so it's not really up to me to disclose all the details. Basically, there are some subtle behavior changes when you add a proxy into the mix as you provision with Ansible. One such instance is when you're rebooting (after installing a new version of the kernel via a role) and waiting for the box (Openstack instance) to come back up, you'll get handshake failures

[2017-10-21 01:24] conn commented on #5485
I've raised an [issue](https://github.com/ansible/ansible/issues/32005) with Ansible for a bug with the LXC connector. It's a bit of a blocker.

[2017-10-21 16:56] lfarnell commented on #4589
@degilq This functionality is not implemented yet. I think this will come at less of an expense once HCL support lands for Packer. Hope thats helps.

[2017-10-22 01:02] outthought opened #5489 "Website Should Render Markdown of Intro Page Correctly"
Intro page [Build An Image](https://www.packer.io/intro/getting-started/build-image.html), "Some more examples," section should render the code block containing the contents of `example.sh` correctly. Currently, the `#` in `#!/bin/bash` is interpreted as a level-one header.

The [markdown code](https://github.com/hashicorp/packer/blob/master/website/source/intro/getting-started/build-image.html.md

[2017-10-22 03:15] mwhooker commented on #5489
thanks for this. Looks like it's fixed in master, but we just need to deploy `stable-website`

[2017-10-22 10:43] ror6ax opened #5490 "building Vagrant boxes using Docker impossible?"
Documentation says

[code]
I'm not sure I understand it correctly. Does it mean that to get Virtualbox Vagrant box, I have to use Virtualbox builder? VB is a bit cumbersome to set up as a part of CI pipeline...

[2017-10-22 11:18] phils commented on #5486
I ran into this .. to work around it I stopped using spot and just used an on-demand instance.

[2017-10-23 00:03] jerishsd commented on #2005
Hit by this trying to use alpine:3.6.
Is the only way to go Dockerfile install bash with apk and then use those images in packer ?
Any way we can customize the docker run command for alpine /bin/sh ?

[2017-10-23 00:05] jerishsd commented on #2005
@mitchellh Any recommendations ?

[2017-10-23 03:32] rickard-von-essen commented on #2005
@jerishsd see [run_command] (https://www.packer.io/docs/builders/docker.html#run_command).

[2017-10-23 03:33] rickard-von-essen commented on #2005
Please only use _GitHub Issues_ for reporting bugs and feature requests. Do not ask for general help here. Use _IRC `#packer-tool` on Freenode_ or the [mailing list](https://groups.google.com/group/packer-tool) for that.

See https://www.packer.io/community/

_If you are describing a bug or a feature request please reopen and try to add some more details to make it clearer._

[2017-10-23 03:52] rickard-von-essen commented on #5466
@meinteuch22 can you try #5488, I haven't had an opportunity to test it. If you want a binary just tell me for which OS.

[2017-10-23 07:20] papanito opened #5492 "Incorrect unattend file with packer on Linux"
I am running packer to create Windows Machines. This works without issues on a Windows host, but when running the same on a Linux host, the unattended Windows installation is interrupted by Windows complaining there is no valid unattend-file (need to watch the OS GUI e.g. by RDP).
When examining the content of the mapped unattend.xml file (a:\unattend.xml) I can see that the xml declaration appear

[2017-10-23 08:56] #5401 closed

[2017-10-23 09:31] meinteuch22 commented on #5466
Rickard,

a binary would be great !
my OS is :

CentOS Linux release 7.3.1611 (Core)

thanks and best regards,
jean-gert

[2017-10-23 09:33] rickard-von-essen commented on #5490
Yes if you use `virtualbox-[iso|ovf]` you will get a `virtualbox` provider specific Vagrant box.

It shouldn't be that hard. Please ask on _IRC `#packer-tool` on Freenode_ or the [mailing list](https://groups.google.com/group/packer-tool) for that.

See https://www.packer.io/community/

[2017-10-23 09:33] #5490 closed

[2017-10-23 09:36] rickard-von-essen commented on #5492
Most likely you are converting line feeds to the wrong type, see [Github Dealing with line endings](https://help.github.com/articles/dealing-with-line-endings/).

I'll close this for now, but if you find that this is not the problem we can reopen it.

[2017-10-23 10:20] fbsdmon commented on #4596
Ansible 2.4 + Packer 1.1.0 + using win_shell instead of raw = works!
Thanks!!

[2017-10-23 10:30] papanito commented on #5492
I'm not so convinced that this is the issue. I actually implicitly changed the line feeds in the unattend.xml file to CRLF but still the same issue. Again, what seems strange to me is that the xml declaration appears twice when looking at the unattend.xml from within the Windows Machine, whereas the original file (which is attached by packer via floppy) is fine
[code]

[2017-10-23 10:57] pmarques commented on #5419
@pjnagel having the same problem, but I notice that when I retry the ids changed

`packer-provisioner-ansible619986831` (First execution )
**VS**
`packer-provisioner-ansible268870297` (on retry)

[2017-10-23 11:08] rickard-von-essen commented on #5466
Here you go: [packer_pr-5488_g6ba4595a8.zip](https://github.com/hashicorp/packer/files/1406803/packer_pr-5488_g6ba4595a8.zip) (Had to zip it since GH don't allow executable binary attachments.)

[2017-10-23 11:23] rickard-von-essen commented on #5492
Yeah, sorry, dismissed this a bit quickly.

[2017-10-23 11:25] rickard-von-essen commented on #5492
Could you supply the raw packer command gradle is executing?

[2017-10-23 11:42] papanito commented on #5492
[code]
if you want to execute it that way, you have to replace the tokens @username@, @password@ and @rootpassword@ in the unattend files according to the variables in the variables.cfg file, which shall at least contain
[code]

[2017-10-23 12:40] rorybrowne opened #5493 "Feature Request to template the ansible inventory"
Hello

This request is to implement some sort of user-definable templating on the ansible provisioner inventory file. At the minute the inventory script funcationality is quite limited, allowing only for specifying a list of groups, which contain and don't contain the host being generated.

The specific feature that I'm missing at the minute is the ability to express group hierarchies. While I'm a

[2017-10-23 12:55] rickard-von-essen commented on #5492
Could get an example packer command (`packer build ...` ) and what is the content of `unattend.xml` on your linux machine after you run `processResources`?

[2017-10-23 13:10] papanito commented on #5492
The unattend.xml is not modified as there is no username nor password to be replaced, so it is as in the source code

[2017-10-23 13:16] karthik101 commented on #4914
@mikeroll  Hey i have something similar,my CMD doesnt run, i tried yours but my packer container exits as soon as it starts. "run_command" is actually default , i know if setting this separately not will make any difference.  How did you solve this?

[2017-10-23 16:16] mwhooker commented on #5489
fixed, thanks!

[2017-10-23 16:16] #5489 closed

[2017-10-23 17:08] mwhooker commented on #5480
I'm sorry, but I'm unable to reproduce this issue. I would make sure that the env var is actually set.

I'm going to close this unless you can send me something that reproduces the issue exactly. Something like a docker image, or a zip of the project and an invocation script.

[code]

[2017-10-23 17:08] #5480 closed

[2017-10-23 17:20] mwhooker commented on #5482
I think this might be related to the codebuild plugin and not packer. the line "Now wait until we can obtain the just built ami" isn't part of packer. The line "builds finished but no artifacts were created" is from packer and shows me it exited already. I would try to open an issue with whoever maintains the runner.

If you think this is a bug with packer, I'll need to see it reproduced somehow.

[2017-10-23 17:20] #5482 closed

[2017-10-23 17:24] mwhooker commented on #5479
sorry I'm ignorant about puppet, but can you not just set the working directory to some directory already containing puppet files, and have your manifest just reference them? If not, that seems like a workflow we should support.

As an aside, when it comes to windows, I recommend setting up an SSH server and using the ssh communicator directly. You can see how some of our community boxes do that.

[2017-10-23 18:03] mwhooker commented on #5419
Unfortunately, due to some very fundamental design decisions, we're unable to support this behavior. Provisioners don't know the difference between doing work and cleaning themselves up, like the builders do. We can't try to do work and pause if it fails before cleaning up.

I know the `-on-error` documentation is lacking, but it's really only for debugging builders. This is on our mind as we look

[2017-10-23 18:04] mwhooker commented on #4823
Can someone test the code in #5491? If I can get some help testing I can merge this for the next release

[2017-10-23 18:06] mwhooker commented on #5486
interesting, thanks for the report.

[2017-10-23 18:26] mwhooker commented on #5486
@ofosos any chance you want to take a look? I investigated briefly and noticed that the `stepTagEBSVolumes` step was taken out of the ebsvolume builder completely. I'm not sure this is correct. Importantly, it calls `state.Put("ebsvolumes", volumes)` which is needed for the ebsvolume artifact.

[2017-10-23 18:56] nap opened #5494 "amazon: temp sg cidr should accept a list of cidrs"
We very much appreciate the addition of a `temporary_security_group_source_cidr`.
Although, I was wondering if it could be made to accept a list of `CIDR` blocks.

We have multiple offices with different CIDR Blocks and we would appreciate if we did not have to update that file or set a variable each time they run packer.

RE: `builder/amazon: Add temporary_security_group_source_cidr option to con

[2017-10-23 18:58] ofosos commented on #5486
Looking into it right now.

[2017-10-23 19:16] ofosos commented on #5486
I can reproduce this.
I do have a patch to fix this partly, at least in the ebs builder.

[2017-10-23 19:17] ofosos commented on #5486
Actually this might fix both, since this is in common code. Please give it a go.

[2017-10-23 19:17] mwhooker commented on #5486
I made a couple of changes in d20d70896 that I think would be useful. it also moves the failure to where it tried to get the `ebsvolumes` for the artifact

[2017-10-23 19:19] ofosos commented on #5486
@mwhooker ok, looks interesting, I'm going to close PR 5495

[2017-10-23 19:19] mwhooker commented on #5494
copy & paste of comment from #5384

[2017-10-23 19:21] mwhooker commented on #5486
feel free to keep it open. my branch does the same as yours except it has some new variables. Unfortunately it doesn't quite fix the issue yet

[2017-10-23 19:21] ofosos commented on #5486
WTF, this looks like some old code I already fixed O_o I mean exchanging the source and spot instances.

[2017-10-23 19:25] ofosos commented on #5486
Nope it's ok.... the following file runs fine with just my patch applied:

[code]

[2017-10-23 19:29] mwhooker commented on #5486
@ofosos you're using the wrong builder, it should be `amazon-ebsvolume`

[code]

[2017-10-23 19:38] ofosos commented on #5486
We need to bring back this hunk:

[code]

[2017-10-23 19:44] mwhooker commented on #5486
yeah I think so too. I think the tagging logic in `stepTagEBSVolumes` is slightly different than what's in step_run_spot_instance. It should be fine to do it twice

[2017-10-23 19:53] ofosos commented on #5486
Ok, the PR gives me a success for the following:

[code]

[2017-10-23 20:09] mwhooker commented on #5486
hmm, something's not quite right still. this is the manifest.json from version 1.1.0 (working):

[code]

and your PR:
[code]

[2017-10-23 20:37] ofosos commented on #5486
I broke all the things :( Now at least ebs and ebsvolume should be working again.

[2017-10-23 20:56] mwhooker commented on #5486
works! I don't quite understand how the tagging logic in `step_run_spot_instance.go` interacts with the logic in `step_tag_ebs_volumes.go`, but it works =)

I think this same treatment will need to be repeated on ebssurrogate as well

[2017-10-23 21:03] ofosos commented on #5486
Looking at 2661fd78 this doesn't seem to be the case. Blockdevices is still in there and we don't need the ebsvolumes variable.

[2017-10-23 21:20] ofosos commented on #5486
But ebssurrogate needs more cleanup and volume tagging, I just don't see a bug. I'm going to try and write a test case.

[2017-10-23 21:44] andrewsav-datacom opened #5496 "Powershell provisioning not working intermittently"
Issue described here: https://groups.google.com/forum/#!topic/packer-tool/i-zfeluWRY4

Occasionally  Powershell provisioner silently fails to run the script. No error is generated and no script is run. This is what log looks like when this issue happens:

[code]

When the issues does NOT happen the same part of the log looks like this:

https://gist.github.com/andrewsav-datacom/c59e876ad2bd9d8dab1

[2017-10-23 21:48] pvandervelde commented on #4823
@mwhooker I might be able to. I've got a hacked packer config that adds disks via the provisioner step. Should be relatively easy to replace that with the code in the PR I hope ... Will have a check tonight

[2017-10-23 21:49] andrewsav-datacom opened #5497 "-on-error=ask does not work for post processors"
Issue described at https://groups.google.com/forum/#!topic/packer-tool/xIi0kkBEYeQ

The documentation does not make it clear that the `-on-error=ask` flag only applies to builders and provisional but not to post processor. Fixing documentation is easy, but perhaps packer can support this flag for post-processors too? It is no less useful for post-processors since it allows for easier diagnostics w

[2017-10-23 21:54] andrewsav-datacom opened #5498 "Output from ovftool in vSphere post-processor is not shown in the log"
Issue from here: https://groups.google.com/forum/#!topic/packer-tool/xIi0kkBEYeQ

When vSphere post-processor runs ovftool  stdout/stderr from ovftool gets swallowed. It would be better if it is posted to packer log, as there is no other way of getting it otherwise, and having it would help with debugging packer templates.

[2017-10-23 22:02] BenPhegan commented on #4823
@pvandervelde Let me know if you need any help or encounter any issues.

[2017-10-23 22:21] mwhooker commented on #5497
some additional context in this very closely related issue here:

https://github.com/hashicorp/packer/issues/5419#issuecomment-338745738

basically, this is a limitation of how we run provisioning. We'll be reevaluating that system in the future, but currently it's not something we can support. This should be clearly documented, however

[2017-10-23 22:39] mwhooker commented on #5498
@andrewsav-datacom can you test the code in #5499?

[2017-10-23 22:42] andrewsav-datacom commented on #5498
@mwhooker sorry, not a golang programmer. If you can make the windows binary available, I can test. Thanks!

[2017-10-23 22:46] mwhooker commented on #5498
@andrewsav-datacom
[5498.zip](https://github.com/hashicorp/packer/files/1408985/5498.zip) amd_64

[2017-10-23 23:52] andrewsav-datacom commented on #5498
@mwhooker yep, can see the output now, both for success and for error. It looks like it displays the output twice, in case of error, the second time marked with "telemetry". That's probably fine, just letting you know in case if it is not. Thank you for the quick fix!

[2017-10-23 23:54] mwhooker commented on #5498
just with `PACKER_LOG=1` turned on, right? can you paste the output when it's an error?

[2017-10-24 01:00] andrewsav-datacom commented on #5498
yes

Here is the relevant part:

[code]
On a side note the password is displayed here unmasked in the log. It probably needs to be substituted. The same way it's substituted in the `Starting ovftool with parameters` line.

[2017-10-24 01:27] mwhooker commented on #5498
that's great, thanks!

[2017-10-24 01:27] #5498 closed

[2017-10-24 01:32] andrewsav-datacom commented on #5498
@mwhooker can you comment on password substitution please?

[2017-10-24 06:14] swapnilpatil1682 opened #5501 "Can't register the machine while its locked and similar issues."
-  `packer version`  = 1.1.1

- Host platform = Cent OS 7

- Debug log output from `PACKER_LOG=1 packer build template.json`.
https://gist.github.com/swapnilpatil1682/b464a521d3a2dd5d7850f26ddbf607ca

- The _simplest example template and scripts_ needed to reproduce the bug.
https://gist.github.com/swapnilpatil1682/f151a748219db982fdff4fb8d119fcaf

[2017-10-24 09:08] marcelvanderperk commented on #4857
Seems I have run into this issues as well. Being able to select the private dns name for communication would solve everything. Has anyone made any progress on this item?

[2017-10-24 09:24] karthik101 opened #5502 "Docker builder with CMD and ENTRYPOINT"
My packer version: 1.1.1
I used "exec"  method to run specific commands and i couldn't able to make CMD execute, i replaced that with CMD [\"touch\", \"/tmp/environment\"]" but no effect.

[code]

Does the ENTRYPOINT and CMD work together in packer too ?
for example:
[code]

The above will execute /bin/ping -c 3 localhost
Heres a similar issue:
https://github.com/hashicorp/packer/issues/4914

[2017-10-24 11:16] kpostrup opened #5503 "Kernel and initrd source for QEMU builder"
Currently Packer supports booting QEMU builders from ISO files (`iso_url`).

I propose a new feature that enables Packer to install directly from `kernel` and `initrd`. Technically this could be by means of injecting iPXE config or similar.

The `virt-install` tool provides a similar `--location` option. See:
http://manpages.ubuntu.com/manpages/xenial/man1/virt-install.1.html

What I am looking fo

[2017-10-24 12:17] DanHam commented on #5496
@andrewsav-datacom Could you let us know what version of Packer you are using? Please run `packer version` and paste the output. From the logs it looks as though you are not using the latest version.

Also, if you could please provide gists of the *full* logs and the template and scripts you are using, that would help a lot in trying to reproduce and understand the root cause of the failure.

[2017-10-24 13:53] nap commented on #5494
That's great news! Thanks for the reply. Feel free to close this one as it seems to be properly discussed in #5384

[2017-10-24 14:03] DanHam commented on #5483
I see the need/benefit, but encoding will most likely cause PowerShell to splat its Progress stream all over the console! Perhaps it would be better to leave this be? Users already making use of a custom restart command will already be providing the necessary escapes in their custom commands. New users could be made aware of the need in the docs...

In hindsight it may have been better not to allo

[2017-10-24 16:48] SwampDragons commented on #5483
That's kind of what I'm thinking... if it isn't providing a real benefit, better not to have it at all.  We We could write an RFC for deprecating the option and see what people say.

[2017-10-24 16:49] #5494 closed

[2017-10-24 17:18] bbergstrom opened #5504 "amazon-instance builder requires incorrect root device type"
Describe the problem and include the following information:
Packer version 1.1.1
Mac OSX 10.11.6
[code]

I think its because the ExpectedRootDevice in the builder code is incorrect.
https://github.com/hashicorp/packer/blob/f7e269945eeb3dea14407f67f96e6e35714f5003/builder/amazon/instance/builder.go#L201
https://github.com/hashicorp/packer/blob/f7e269945eeb3dea14407f67f96e6e35714f5003/builder/amazon

[2017-10-24 18:39] mwhooker commented on #5498
fixed in 63aa784df

[2017-10-24 18:50] ashishkapil78 commented on #872
Hi,
     I am facing same issue. Please anyone tell be solution in detail.

    amazon-ebs: Aborting
==> amazon-ebs: Terminating the source AWS instance...
==> amazon-ebs: Cleaning up any extra volumes...
==> amazon-ebs: No volumes to clean up, skipping
==> amazon-ebs: Deleting temporary security group...
==> amazon-ebs: Deleting temporary keypair...
Build 'amazon-ebs' errored: Script exited with

[2017-10-24 19:10] mwhooker commented on #872
@ashishkapil78 I'm not sure that's the same issue from this ticket. The word "Aborting" doesn't appear anywhere in the packer source code. Could you open a new ticket with steps to reproduce? thanks!

[2017-10-24 19:12] mwhooker commented on #5504
I think you're right, thanks for the report!

cc @ofosos

[2017-10-24 19:28] ashishkapil78 opened #5505 "Build 'amazon-ebs' errored: Script exited with non-zero exit status: 1"
Hi,
I am facing an issue while making image using control-server.json file from devOps project.First problem is this file is 2 years old so Packer-Box-Name and Checksum is no more valid.I run with old variables I am getting below problem and If I update packer name / checksum then packer don't even run and give me "Builds finished but no artifacts were created." .Please anyone tell be solution in

[2017-10-24 19:35] mwhooker commented on #5505
include the following information:

- Packer version from `packer version`
- Host platform
- Debug log output from `PACKER_LOG=1 packer build template.json`.
  Please paste this in a gist https://gist.github.com
- The _simplest example template and scripts_ needed to reproduce the bug.
  Include these in your gist https://gist.github.com

for updating an old scripts, you might have luck with https

[2017-10-24 21:24] ofosos commented on #5504
Please test

[2017-10-24 21:54] AndrewSav commented on #5496
Yes, those particular logs were taken with 1.0.4 I have upgraded since then. Was there any changes in powershell provisioner between then and now? Do you think that full logs and the template and scripts will still be useful, or would you like to close the issues for now and let me file a new one when it happens again?

[2017-10-24 21:55] AndrewSav commented on #5498
@mwhooker Thanks!

[2017-10-24 23:49] DanHam commented on #5496
@AndrewSav

Yes. There were a number of changes that have been made since then. However, the particular change that I think may help your situation is #5300 - this makes sure that the PowerShell provisioner is ready to go again after restarts. If you read through #5064 (one of the issues fixed by #5300) you'll see a lot of similarities to your situation.

I think this issue is a duplicate of the i

[2017-10-25 04:52] PatrickLang opened #5506 "[hyperv-iso] Forgot to disable automatic checkpoints for generation 2 VMs"
In #5371 (PR #5374) I submitted a change that disables automatic checkpoints for Windows 10 version 1709. However - the main files I was testing it with used Hyper-V "generation 1" VMs. The "Generation 2" codepath still needs the update as called out by @svpernova09 - https://github.com/hashicorp/packer/pull/5374#issuecomment-339019544

[code]

**Versions**

Packer 1.1.1 on Windows 10, version 170

[2017-10-25 05:12] PatrickLang commented on #5506
@svpernova09 is this the packer file you used? https://github.com/taliesins/packer-baseboxes/blob/master/hyperv-ubuntu-16.04.json

[2017-10-25 09:30] Sarafian commented on #5216
I think you need to reconsider this issue. The current implementation executes `([Security.Principal.WindowsPrincipal][Security.Principal.WindowsIdentity]::GetCurrent()).IsInRole('S-1-5-32-578')` and can raise an error

[code]

But if you replace it with

[code]

then it works well for the same sid.

On the side note, my IT organization can verify this issue but they can't figure out what the issu

[2017-10-25 10:11] Keleir opened #5507 "Packer occurs error while execute docker-push with docker engine 17ce Version"
### packer version
[code]

[code]

### docker version
[code]
when I use the same packer build cmd  on machine with docker v1.12.6, it build successfully.
[code]

Does Packer `v1.1.0` didn't support docker engine version 17.10-ce ?

[2017-10-25 10:20] rickard-von-essen commented on #5507
Don't specify `login_email` it has been removed from Docker client in 17.10.

[2017-10-25 11:02] zacksiri opened #5508 "LXD image builder hangs on Debian"
I installed Packer on macOS and then i installed it on debian (machine running lxd) if i toggle the build from my macOS with remote set to the debian host the build succeeds

If i do the same on the debian host itself this is what i get

[code]

## Steps to Reproduce
on a debian host
[code]

[2017-10-25 11:33] Keleir commented on #5507
Thanks for you reply, I hava removed the `login_email` variable in my packer build json file, then it build successfully with docker `17.10 CE`. :+1:

The docker new version realeas note says that:
Remove deprecated --email flag from docker login [#docker/cli/143](https://github.com/docker/cli/pull/143)

[2017-10-25 12:09] svpernova09 commented on #5506
@PatrickLang No, It was this one: https://github.com/chef/bento/blob/master/ubuntu/ubuntu-16.04-amd64.json

I didn't even catch the gen 1/ gen 2 difference until the reply to my comment.

Thanks

[2017-10-25 12:53] rickard-von-essen commented on #5507
I think it's about time that we remove this flag.

[2017-10-25 14:17] choppedpork opened #5509 "build -force does not overwrite managed image in ARM"
Packer 1.1.1 does not seem to be able to overwrite AzureRM managed images using the `-force` flag to `build`:

[code]

This looks like the same issue as #2993 but for a different provider (#2993 dealt with GCE and AWS).

[2017-10-25 15:20] vijayinvites commented on #5216
I am getting this issue as well. @Sarafian  's solution works for me. But the master gives me error.

[2017-10-25 15:31] PatrickLang commented on #5506
Working on a [fix](https://github.com/PatrickLang/packer/tree/hyperv-gen2-autocheckpoint) - here's results from https://github.com/taliesins/packer-baseboxes/blob/master/hyperv-ubuntu-14.04.json.

I had an error on 16.04. I don't think my change caused it but still need to confirm.

[code]

[2017-10-25 16:26] mwhooker commented on #5216
@Sarafian looks like the only difference with #5289 is using the `-578` identifier?

If you or @vijayinvites can verify #5510 I will merge

[2017-10-25 16:56] mwhooker commented on #5508
can you post the contents of template.json

[2017-10-25 17:10] zacksiri commented on #5508
[code]

[2017-10-25 17:15] mwhooker commented on #5501
I have a patch for this, but in the mean time you can try increasing [`post_shutdown_delay`](https://www.packer.io/docs/builders/virtualbox-ovf.html#post_shutdown_delay) to something like `2m`

[2017-10-25 17:18] mwhooker commented on #5501
If you want to test the patch in #5512, it would be greatly appreciated

[2017-10-25 17:20] SurferL commented on #5464
@SwampDragons sorry for taking a while to look at this again!

Been looking at it again, and I can get the `ovftool` working normally on the command line, but having to escape my password, as well as escape the `datacenter` with single slashes as I previously was doing it.

The command looks something like:

`ovftool --acceptAllEulas --name=vsphere_post_processor_upload --datastore=datastore-01 --

[2017-10-25 17:30] mwhooker commented on #4933
This is great, thanks. I know you opened yours first, but I started looking at #5501 earlier today, and I think they are the same issue. Going to close this one and work off the other ticket. thanks again for the report!

[2017-10-25 17:30] #4933 closed

[2017-10-25 17:30] mwhooker commented on #4933
also I have a patch for this in #5512 if you'd like to rest

[2017-10-25 18:17] mwhooker opened #5513 "alert users if their templates need fixing"
We should add this only to `packer validate` or maybe also as a warning to `packer build`.

We have two options that I see:

1. Add a method to the Fixer struct which would return true if the template is fixable
2. Run every fixer and compare the output to the input.

I tend to prefer `2` because that way we don't have to change every fixer, and we get good information about what would be fixed

[2017-10-25 18:43] SwampDragons commented on #5496
Yeah, this was my suspicion too.  Please let me know if upgrading to the latest version of packer solves your intermittent issues.

[2017-10-25 19:18] Sarafian commented on #5216
@mwhooker almost. I took the part from the powershell script for the `isCurrentUserAHyperVAdministrator` function but the rest of the changes I don't think they are required. I'm sorry not to submit a pull but real busy.

[2017-10-25 19:18] SwampDragons commented on #5513
I like idea #2 as well

[2017-10-25 19:20] SwampDragons commented on #5464
Are you sure you need to quote because of the space in the name?  I think the encoding should handle that.

[2017-10-25 21:17] PatrickLang commented on #5506
@svpernova09 thanks I'll try that one tonight and post back

[2017-10-25 21:56] svpernova09 commented on #5506
Thanks!

[2017-10-25 22:00] clangaxon commented on #5045
+1 for radically reducing the permissions required.

[2017-10-25 23:14] AndrewSav commented on #5496
@SwampDragons I will but it will take a few weeks. The packer build process (it's multi-steps with a chain of templates built one on top of the other) I'm running currently takes about 18 hours to run (with all the windows updates). I'm running it weekly. I will monitor the results in the next few weeks and I'll get back if I still have problems. Feel free to close the issue in the meanwhile, I'll

[2017-10-25 23:17] SwampDragons commented on #5496
That's fair; if the issue reoccurs, please comment here again and I'll re-open it.  :)

[2017-10-25 23:17] #5496 closed

[2017-10-26 00:37] DanHam commented on #5471
@SwampDragons Seeing as I broke this (sorry @Occams!) I have taken an in depth look and submitted #5515 to fix.

Note that this particular problem wouldn't actually be fixed by #5376... or at least *shouldn't* really be fixed by #5376 as a backslash isn't interpreted or considered special by PowerShell.

The root cause of the issue is the fact that the non-privileged PowerShell provisioner embeds

[2017-10-26 02:59] qrkourier opened #5516 "ansible-local provisioner should clean up staging_directory"
staging_directory contains the playbook_dir and is likely to have files that are not intended to persist in the resultant image

It's become a convention for my own use of this provisioner to define the staging_dir and configure a shell provisioner with in-line shellcode to destroy the staging_directory after ansible-local completes.

[2017-10-26 03:46] PatrickLang commented on #5506
Ok, the bento Ubuntu-16.04 seems to have worked with my patch:

[code]

[2017-10-26 06:58] Occams commented on #5471
@DanHam That's the solution I was hoping for :-)

[2017-10-26 08:16] SurferL commented on #5464
@SwampDragons Well, if I don't quote the network, it still fails, and when I take the command and try it manually it fails in a different way with something along the lines of:

`Error: Unexpected option: vi://server-01.company.com/Vsphere`

With the manual ovftool command looking like:

`ovftool --acceptAllEulas --name=vsphere_post_processor_upload --datastore=VMFS-DATA01 --noSSLVerify=true --dis

[2017-10-26 08:41] SurferL commented on #5464
Testing again, it's now working! So even more confused, but removing the quotes in the VM Network fixed it within the template!

Thanks for the help! :)

[2017-10-26 08:41] #5464 closed

[2017-10-26 08:53] SurferL opened #5518 "Question with vsphere (& vsphere template) post processor"
It doesn't look like it's possible to use the Vsphere post processor to make a VM a template on Vsphere, but there is a Vsphere-template post processor which does.

Is it possible to sequence the two together to upload a VM to Vsphere and then the vsphere-template can change it into a template? The docs don't quite mention that that is possible as the vsphere-template says it's built on the vmware

[2017-10-26 12:16] orontee opened #5519 "amazon-ebsvolume fails with `Build 'amazon-ebsvolume' errored: unexpected EOF`"
Use of the amazon-ebsvolume fails with  `Build 'amazon-ebsvolume' errored: unexpected EOF` error.

Packer 1.1.1

Windows 10 Pro and Ubuntu 16.04

https://gist.github.com/orontee/9273158f117e090a9cddd8433113eda8

[2017-10-26 12:18] orontee commented on #5519
Note that the provided `userdata.ps1` file is used successfully with the amazon-ebs builder to build AMIs.

[2017-10-26 12:19] svpernova09 commented on #5506
Great!

[2017-10-26 12:55] ilamurugu commented on #5109
Can you please let me know the work around for this issue? I am still facing the issue with ver 1.1.0

[2017-10-26 15:17] SurferL opened #5521 "Question: how to select which vsphere esxi host to upload VM"
Is it possible to select which ESXi host the VM gets uploaded to with the vsphere post processor?

The `host` argument sets up the vsphere host, but not the specific ESXi host.

For example, the setup could be:
[code]

[2017-10-26 15:37] Ohadbasan opened #5522 ""script disconnected unexpectedly" when performing a shell reboot in google cloud machine"
I am using "googlecompute" builder.
the image building fails with Build 'googlecompute' errored: Script disconnected unexpectedly after a reboot.
when using the same provisioner with ec2 builder - the image is being created ok.

Describe the problem and include the following information:

- Packer version v1.1.1
- Mac OS
- Debug log: https://gist.github.com/Ohadbasan/d361bd791797deffa046fa3f3ef523

[2017-10-26 15:40] SurferL commented on #5521
Solution - I added the ESXi Host to the cluster in the template:
`"cluster": "Production/ESXi Host1"`

[2017-10-26 15:40] #5521 closed

[2017-10-26 16:13] mwhooker commented on #5109
You can fix this by setting the env var PACKER_ESXI_VNC_PROBE_TIMEOUT to 30s

[2017-10-26 16:15] mwhooker commented on #5522
trying setting `"expect_disconnect": true` in the shell script. I'll update the log output to suggest this

[2017-10-26 16:15] #5522 closed

[2017-10-26 16:30] jbrowder2 commented on #5358
If you could go into detail about using the combo of builders, provisioners and post processors I think that would be a welcomed addition to the documentation.

[2017-10-26 18:14] SwampDragons commented on #5464
Gotta love the Heisenbugs.  Glad it's resolved; reopen if something else comes up.  I think some better docs around quoting may be called for.

[2017-10-26 18:24] mwhooker commented on #5519
Thanks for the report. Here's the stacktrace

[code]

and from that I can tell this is a duplicate of #5486

We'll get this fixed for next release

[2017-10-26 18:24] #5519 closed

[2017-10-26 18:25] mwhooker commented on #5516
seems reasonable

[2017-10-26 18:31] SurferL commented on #5464
Yeah will do! Thanks for your help though, much appreciated :)

[2017-10-26 18:48] jeffreydwalter commented on #5358
Ideally, it's not really scenario-based, but more just how each and every property is used, where it goes in the config json.

One additional thing which took me some time to figure out was how to specify an array of values in a variable. Having to include them as a comma separated string is pretty unintuitive.

[2017-10-26 18:54] SwampDragons commented on #5358
I completely agree that every single property should have a documented usage example. This is going to have to be a community effort; if you see something you use is lacking in this area, please please make a PR.

[2017-10-26 19:59] jeffreydwalter commented on #5358
I'm happy to contribute where I can. Part of my problem is that it's not clear how every option works and where it should go. So, I can only really help out with the things I've had to figure out the hard way.

If you feel more comfortable starting with the examples, you could create more of them and the community can infer from them and contribute that wisdom back to the official docs.

[2017-10-26 22:47] PatrickLang commented on #5506
PR #5517 open

[2017-10-26 23:26] svpernova09 commented on #5506
Thanks so much for working on this!

[2017-10-27 00:52] Bowmaster commented on #5483
Personally I would like to see both options stay, the restart_check_command, in particular has now come in very handy, particularly for Server 2008 R2 builds (yeah I know, please don't judge too harshly, takes our devs a while to catch up).  The way we do Packer at our company is very dynamic, with a single config.json file driving our OS's with differences handled by variable files that are uniqu

[2017-10-27 12:40] vijayinvites commented on #5216
@mwhooker , It works without any error now. I have checked it. Thanks for the fix.

[2017-10-27 15:43] slicc23 opened #5524 "amazon-chroot builder requiring region parameter"
Packer version: 1.1.0
Host platform: CentOS 7.4
builder: amazon-chroot

When 'region' parameter is not specified this error occurs immediately after the EBS volume is detached and the snapshot is created :
`2017/10/27 10:19:13 ui error: Build 'mybuild' errored: Error describing AMI: MissingRegion: could not find region configuration`

AMI builds without issue once the region parameter is specified

[2017-10-27 15:49] #5216 closed

[2017-10-27 16:40] mwhooker commented on #5524
hmm, we should be getting the region from the metadata endpoint.

Can you post your full log please? Need `PACKER_LOG=1` set

If for some reason the metadata endpoint isn't available, we should definitely fail early, because the region is required, technically

[2017-10-27 16:48] mwhooker commented on #5524
oh I see, that's not the session region, that's the region passed to `ami_regions`. Please also post your config that reproduces this issue

[2017-10-27 16:55] mwhooker commented on #5524
see #5250

[2017-10-27 17:22] SwampDragons commented on #5483
I appreciate the two cents.  I wonder if the right course of action, since deprecation is hard and always breaks something for someone, is to add the configurable check command and then flag these two things as advanced features which you should only use if you know what you're doing, with examples.

[2017-10-27 17:28] SwampDragons commented on #5483
@Bowmaster your setup sounds really cool and interesting, by the way. and no judgement here -- at my last gig we had VMs all the way back to Windows XP.  You gotta support what you gotta support.

[2017-10-27 18:26] slicc23 commented on #5524
I confirmed that setting `ami-regions` fixes the issue as well. Should this be considered a required parameter now?

[2017-10-27 18:48] mwhooker commented on #5524
@slicc23 no, this is definitely a bug, but I'm glad you have a workaround. If you want to test the patch in #5250, which I think will fix it, I can merge it.

[2017-10-27 21:30] BenPhegan commented on #4823
@pvandervelde How are you going with testing?  Do you need anything from me to help?

[2017-10-27 22:16] jak119 opened #5526 "Docker-Push Returns Error After Docker-Tag"
When trying to use the following post processors after committing an image to Docker I'm receiving a Docker error stating `docker (docker-push): An image does not exist locally with the tag: sha256`. My expectation here would be that the SHA checksum would pass properly.

## Post Processor
[code]

## Output from Post-Processing
[code]

## Environment Details
Packer Version: v1.1.1
OS: CentOS Linux

[2017-10-28 05:59] rickard-von-essen commented on #5526
You need to run the post-processors in a sequence see the [docs](https://www.packer.io/docs/templates/post-processors.html#post-processor-definition).

[2017-10-28 07:01] pvandervelde commented on #4823
@BenPhegan I just managed to run a few tests. I did the following:
- Grab your branch and locally merge it to packer master and build a copy of packer
- Build an Ubuntu 16.04 base image with just the OS. The VM was created correctly (with 3 additional drives) but then my build failed because my preseed configuration wasn't expecting extra drives :(.
- Building a Windows 2016 Core base image with j

[2017-10-28 09:45] BenPhegan commented on #4823
@pvandervelde Great!  I will start a PR for the vmcx builder this week, but will hold off submitting it until this is one is in master so as not to confuse things (it will be building on top of this code).  Will flag you on the PR to test when ready?

[2017-10-28 10:45] pvandervelde commented on #4823
@BenPhegan Just as an FYI. I just checked the windows VM (they take forever to build) and Windows can see all 3 drives (only the OS one has been formatted, but the others are there, waiting to be used).

And yes ping me when you have a PR for the vmcx builder.

[2017-10-28 15:30] jak119 commented on #5526
The post-processors are in the order as described in the [Docker builder page](https://www.packer.io/docs/builders/docker.html#using-the-artifact-export) with the `docker-push` block appearing last.

This more specifically matches [this example](https://medium.com/@kcearns/packer-and-docker-push-9537b6c0ec89) of a tag then push post-processor.

[2017-10-28 17:13] rickard-von-essen commented on #5526
No it doesn't, you're missing one level of brackets (`[ ]`). :duck:

[2017-10-28 20:58] BenPhegan commented on #4823
@pvandervelde Will do, and thanks for all your help!

[2017-10-28 21:15] jak119 commented on #5526
Certainly not the error I was expecting but you're correct. Thank you for that, I'll go ahead and close this.

[2017-10-28 21:15] #5526 closed

[2017-10-30 09:36] askb commented on #4669
I had the exact same issue, with some of the templates having incorrect `source_image_name` while pointing to the image UUID, which is incorrect.

There packer error messages are not very useful, even with `-debug` or setting `export PACKER_LOG=debug`.

[2017-10-30 09:41] SurferL commented on #5518
Closing this as there is a PR doing what I'm requesting about!

[2017-10-30 09:41] #5518 closed

[2017-10-30 09:42] rickard-von-essen commented on #4669
@askb could you test the patch referenced in #5466

[2017-10-30 12:41] sarasonparas opened #5528 "Regression: amazon-ebsvolume can not create/mount any EBS volume in v.1.1.1"
Packer version: 1.1.1
Used template and output of debug log:
https://gist.github.com/sarasonparas/6b600a4e7b725eed3a7d8de9cefb24cf
Host: MacOS v. 10.12.6  (the same problem is with Amazon Linux, but the provided log is for Mac)

The same template does work with v.1.1.0, but doesn't with v. 1.1.1.

amazon-ebsvolume builder can't find any EBS volume. I've checked that in the debug mode:

'ls -la /de

[2017-10-30 13:10] rickard-von-essen commented on #5528
I think this duplicates #5486

[2017-10-30 15:55] zach5410 commented on #5480
@mwhooker I know this is closed, but I do not know what else to do to show that this is not working.  I am running everything properly, but when I run the template it is not picking up the environment variables.

Can you clarify for me that when I use
[code]

That it is connecting to my local environment variables and pulling the data from my local environment variables as variables to be used wit

[2017-10-30 16:25] mwhooker commented on #5480
yes that is correct.

like I said, if you want more help I need to be able to reproduce your issue. Please try emailing the [mailing list](https://groups.google.com/forum/#!forum/packer-tool) for more help using packer.

[2017-10-30 16:33] #5506 closed

[2017-10-30 17:14] mwhooker commented on #5358
Want to drop this link here: https://www.packer.io/community-tools.html

these are a bunch of complete packer scripts from the community, and should be helpful in demonstrating how to packer is used in the real world

[2017-10-30 17:16] mwhooker commented on #5358
@jeffreydwalter could you go more in to detail about what information you need?

I would love to get a concrete example of what you're looking for.

The options for every builder/provisioner etc go inside of the relevant builder or provisioner.

You can get the base structure from https://www.packer.io/docs/templates/index.html

[2017-10-30 17:28] #5358 closed

[2017-10-30 18:48] jbrowder2 opened #5529 "crash - markastemplate vsphere post-processor"
- Packer Version = 1.1.2
- Host platform = CentOS Linux release 7.3.1611 (Core) / kernel = 3.10.0-514.6.2.el7.x86_64
- Debug log and template: https://gist.github.com/jbrowder2/0194bb6cea38cb742a0fab0900385774

[2017-10-30 18:58] jbrowder2 commented on #5529
Just realized this is 1.1.2. Disregard.

[2017-10-30 19:14] jbrowder2 commented on #5529
I was able to get the same crash using 1.1.1 and the same packer template.

[2017-10-30 19:54] mwhooker commented on #5529
here's the problem https://github.com/hashicorp/packer/blob/fe4d4648e697da9447904d6f19d0ad4a2ea8afe9/post-processor/vsphere-template/step_mark_as_template.go#L48

cc @bugbuilder

not sure why the source doesn't have `/vmfs/volumes/` in it, but we should check the result of the split before indexing into it to prevent panics

[2017-10-30 21:09] bugbuilder commented on #5529
I'll take a look this Thursday... looks strange to me, could you share your template? Also it would be great to know the vSphere version and topology.

[2017-10-30 21:20] jbrowder2 commented on #5529
The template is at the bottom of the gist linked. vSphere version 6.5.1. Topology is one datacenter with 3 clusters behind it. Right now we are only caring about one of the clusters.

[2017-10-30 21:32] bugbuilder commented on #5529
Ty, I'll update my environment to 6.5.1, just a quick question if you try to connect to the ESXi is it possible for you to see /vmfs/volumes path?

I'll ping you when I start to try to fix this bug.

[2017-10-30 21:34] jbrowder2 commented on #5529
Yes, I can see the /vmfs/volumes/* path.

Thanks!

[2017-10-30 21:36] bugbuilder commented on #5529
I only have my cellphone ń9

hn

[2017-10-31 05:59] winmasta commented on #5421
Problem comes again and adding `"extra_arguments": [ "--extra-vars", "user=ubuntu" ]` to ansible provisioner didn't helps.

[2017-10-31 07:07] rickard-von-essen commented on #5421
@winmasta that limitation is described in the [docs](https://www.packer.io/docs/provisioners/ansible.html).

[2017-10-31 07:26] winmasta commented on #5421
@rickard-von-essen Is there any way to solve this problem ?

[2017-10-31 15:42] #4823 closed

[2017-10-31 17:28] jpescalona commented on #5529
I think that the value of artifact.Files() receives the path to the local folder where the image was exported:
https://github.com/hashicorp/packer/blob/fe4d4648e697da9447904d6f19d0ad4a2ea8afe9/post-processor/vsphere-template/post-processor.go#L92

I've just printed the value as follow:
[code]
the value of s.Source is the path were the image was exported in local machine:
[code]
and check the outpu

[2017-11-01 00:08] lmayorga1980 commented on #3495
:+1:

[2017-11-01 18:07] lisimia opened #5533 "Unable to specify ipv6 option in digitalocean builder"
DigitalOcean provides their droplets ipv6 connectivity, this option is exposed as a checkbox on the UI. And within the v2 API:
[code]

However, this option is not available in the "digitalocean" builder.

[2017-11-01 18:23] rickard-von-essen commented on #5533
PR's are welcome.

[2017-11-01 23:18] #5524 closed

[2017-11-02 05:07] shankarb01 opened #5535 "Failing with runtime error: invalid memory address or nil pointer dereference on Packer 1.1.1"
Packer Version - 1.1.1
Host Platform - 4.4.51-40.58.amzn1.x86_64 #1 SMP Tue Feb 28 21:57:17 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux
- Debug log output
https://gist.github.com/shankarb01/b04044cc6b67c54005f780bb869e5668

We are using the same template successfully with a very old version of Packer i.e 0.10.1 but decided to upgrade to the latest binary of Packer as we needed to use config parameters

[2017-11-02 06:30] rickard-von-essen commented on #5535
Please [gist](https://gist.github.com/) a full debug log from `PACKER_LOG=1 packer build template.json`.

[2017-11-02 07:16] mwhooker commented on #5535
I've seen a couple of these as well, but still looking for a way to reproduce

[code]

[2017-11-02 07:32] mwhooker opened #5537 "provisioner/windows-restart: use of closed channel"
[code]

this channel here can be closed https://github.com/hashicorp/packer/blob/52558e4f759b0825cfa35d84ec9088040fc0a89d/provisioner/windows-restart/provisioner.go#L142

on this line https://github.com/hashicorp/packer/blob/52558e4f759b0825cfa35d84ec9088040fc0a89d/provisioner/windows-restart/provisioner.go#L167

this whole bit of logic needs to be restructured

[2017-11-02 14:20] sakers commented on #5330
I use shell-local for assigning permissions and tags to AWS AMI images and setting Terraform variables. Without shell-local my simple:

packer build banana.json

which currently does everything it's supposed to do without any further complications. My users can easily remember such a command, but:

packer build banana.json && ./image_permissions.sh

is more difficult for them to deal with. In fact

[2017-11-02 15:53] #5486 closed

[2017-11-02 15:53] #5504 closed

[2017-11-02 15:54] #5535 closed

[2017-11-02 16:19] mwhooker commented on #5528
this is fixed in master now. thanks for the report!

[2017-11-02 16:19] #5528 closed

[2017-11-02 16:55] #5533 closed

[2017-11-02 17:08] rodrigocmn commented on #5045
+1 same permissions issue here

[2017-11-02 17:35] monsoft commented on #4548
It should be without '[]' as looks like vmrun doesn't recognize it. I have this same issue with vmware player.
Packer is executing:
2017/11/02 17:25:47 packer.exe: 2017/11/02 17:25:47 Executing: C:\Program Files (x86)\VMware\VMware VIX\vmrun.exe [-T player start output-vmware-iso\packer-centos-7-x86_64.vmx nogui]

But this is not recognized. Same as simple listing running vms:
PS C:\Downloads\pack

[2017-11-02 17:42] j2clerck commented on #4548
Hi Monsoft,

If I remember correctly my issue was finally linked to a pop up not showing as I was using it headless. The pop up was from VMware to accept license before first use.
I can’t recall right now how I fixed it. Maybe by installing a GUI or running the command manually to start the VM.

Regards,
Joseph

[2017-11-02 18:56] monsoft commented on #4548
Hi Joseph,

Looks like you're right about this. There is no "nogui" option for vmware player.
There is issues with vnc now but I will look to this tomorrow.

Thanks for help :)

Irek

[2017-11-02 19:12] mwhooker commented on #4548
fyi I changed the log output so it hopefully won't cause as much confusion: 4d117bf117446845e403f0043fb30b72835cd605

[2017-11-02 19:32] lhriley opened #5540 "Any file with names `*utils.sh` causes packer build to fail"
When building a packer image, if the contents of an uploaded folder includes a file named `*utils.sh`, the build will fail with the message:

[code]
This appears to happen with any iteration of `*utils.sh`, and has been tested with names similar to `something_utils.sh`, `utils.sh`, etc. This occurs even when `utils.sh` is an empty file.

- Packer version: `1.1.1`
- Host platform: `Linux Mint 18.2`

[2017-11-02 20:02] mwhooker commented on #5540
this issue seems to be with removing the remote temp file we write the last provisioner to. Is there any code in `base.sh` that changes ownership of `/tmp`?

Does it work if you add `"remote_folder": "/home/ec2-user"` to the final shell provisioner step?

[2017-11-02 20:33] #5476 closed

[2017-11-02 20:46] lhriley commented on #5540
No, there are no changes to anything `/tmp` that comes from our provisioning scripts. I checked all `rm`, `mv`, `chmod`, `chown`, etc commands (really anything that has `/tmp` in the path) and none of them target anything in `/tmp` directly. In fact, the `utils.sh` script that was being added isn't called by any of the provisioning scripts.

Again, it doesn't seem actually make any difference sinc

[2017-11-02 20:46] #5502 closed

[2017-11-02 20:54] mwhooker commented on #5540
well unfortunately I'm unable to reproduce the issue. if you can create a more slimmed down reproduction use-case, (ideally something I can download and run), I can investigate further.

[code]

[code]

[2017-11-02 21:20] lhriley commented on #5540
Hmm. Unfortunately, I was anticipating that this would be difficult to reproduce. I'll see if I can come up with a reproducible model that I can provide for testing.

[2017-11-02 22:25] monsoft commented on #2494
I was trying this same test on Windows Host and it doesn't work.
VNC is not starting on WMware Player :(

[2017-11-03 00:13] lhriley commented on #5540
I grabbed some more data from the instance. I ran an `ls` on `/tmp` directly before the error occurs:

[code]
Followed by the error messages:
[code]

I then ran another build where I `chmod 777 /tmp/script_*.sh`:

[code]
Followed by the same error:
[code]
So, I resolved that this can't actually be a permissions error and this started to feel more like `utils.sh` was a red herring. After digging de

[2017-11-03 00:13] #5540 closed

[2017-11-03 12:15] sumanthkulkarni13 opened #5541 "Packer on Nutanix Openstack - extended wait times while trying to create image."
We have some issues with creating packer images on Nutanix openstack (Newton Release).
However, in our case, a temp instance is deployed and packer goes into a wait mode while trying to stop the instance...

root@packer ~]# ./packer build /tmp/image.json
openstack output will be in this color.

==> openstack: Discovering enabled extensions...
==> openstack: Loading flavor: 13b1467d-94a5-4ba5-85e8-

[2017-11-03 13:15] duckie commented on #1768
We are near 3 years of "coming soon"... I am a beginner with packer and I am astonished, to say the least, that it doesnt support HCL.

[2017-11-03 13:22] rickard-von-essen commented on #5541
Please supply the information requested in the issue template:
- Packer version (`packer version`)
- Host platform (`uname -a` etc.)
- Debug log output from `PACKER_LOG=1 packer build template.json`.
  Please paste this in a [gist](https://gist.github.com).
- The _simplest example template and scripts_ needed to reproduce the bug.
  Include these in your [gist](https://gist.github.com).

[2017-11-03 16:02] sumanthkulkarni13 commented on #5541
Hi Rickard,

Please find the below information:

uname -a
Linux packer.novalocal 3.10.0-693.5.2.el7.x86_64 #1 SMP Fri Oct 20 20:32:50 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux

https://gist.github.com/sumanthkulkarni13/f4d3b647964e61e3c5fcb7ef7886e30d

[2017-11-03 19:41] huitseeker opened #5542 "Difficulty getting ecr_login to pass authentication credentials"
This is with:
[code]

I have a working packer build here:
https://github.com/deeplearning4j/packer-centos-7/blob/master/centos7.json

This build successfully pushes a container to DockerHub using the Docker post-processor.
I recently added an Amazon ECR registry as a publication target, using another post-processor:
[code]

The result of running this post-processor with verified correct AWS creden

[2017-11-03 19:45] rickard-von-essen commented on #5541
It looks like Packer issues a shutdown command and then wait for the instance to reach `SHUTOFF` or  `STOPPED` state but the instance never reaches that state.

Can you access the console and see what the instance is doing?

[2017-11-03 19:51] mwhooker commented on #5542
Can you post your log with `PACKER_LOG=1` turned on?

[2017-11-03 19:54] rickard-von-essen commented on #5542
You are tagging the image in ECR `104904749259` and then logging in to `054697148530`.

[2017-11-03 19:54] #5542 closed

[2017-11-03 20:03] tamsky opened #5543 "FEATURE REQUEST: add {{packer_version}} function"
Add a new function `{{packer_version}}` which yields the current packer version string, eg: `1.1.0`.

This would allow users to apply this value to resulting build artifacts -- which helps users correlate the version of packer that built the artifacts.

Documentation that would need updating:
- https://www.packer.io/docs/templates/engine.html#functions

Source files that would need changes:
- http

[2017-11-03 20:24] mwhooker commented on #5543
seems good. If you want to give adding it a shot, I can review

[2017-11-03 20:27] tamsky commented on #5543
Cool.  Thanks for looking.
I did plan to give it a go... but probably not until late next week.

[2017-11-04 00:13] szinck commented on #4159
What if there were a way to specify a role to assume in the other AWS account so that tagging could be done there?

I have my own contraption built that copies the AMI to other accounts and tags them, but without tagging I cant really use this feature.  Having a native feature would be much nicer than having contraptions.

[2017-11-04 00:24] mwhooker commented on #4159
@szinck That sounds reasonable, but I think the only way to see that get added is to write it yourself. It depends how complicated it ends up being, but I probably wouldn't have any problems merging something like that

[2017-11-04 00:57] huitseeker commented on #5542
@rickard-von-essen D'oh correct, thanks! Apologies for any trouble.

[2017-11-04 02:27] sumanthkulkarni13 commented on #5541
I can reach/ping the instance, console shows  up the login prompt. I do not have the credentials to login as packer generates a temporary key.
Adding to this, when I try to manually stop the instance out of curiosity, pressing the shutdown button on console, instance shuts down, ultimately packer ending up with similar wait prompt, saying now it is waiting for image to be created.

[2017-11-04 04:45] rickard-von-essen commented on #5542
No worries!

[2017-11-04 04:48] bugbuilder commented on #5529
@jbrowder2 this bug appears when you're exporting the virtual machine, I'll try to fix this as soon as possible, at the moment you could add the attribute `skip_export` as `true` or remove the attribute `format`.

[2017-11-04 05:04] rickard-von-essen commented on #5541
Use a SSH keypair that you have ny setting [`ssh_keypair_name`](https://www.packer.io/docs/builders/openstack.html#ssh_keypair_name) and [`ssh_private_key_file`](https://www.packer.io/docs/templates/communicator.html#ssh_private_key_file). With that you should be able to login with SSH. Also you can try to set a fixed password via `user-script` so you can login via the console and troubleshoot.

[2017-11-04 05:24] karthik-altiscale commented on #5330
I use shell-local for uploading box files to artifactory vargrant cloud.. the "vagrant cloud" post processor doesn't work with artifactory

[2017-11-04 11:48] sumanthkulkarni13 commented on #5541
Okay, Im into the console now. But not sure from where to start the troublehoosting, though I see some errors in cloud-init-output.log

2017-11-04 04:42:06,066 - util.py[WARNING]: Running ssh-authkey-fingerprints (<module 'cloudinit.config.cc_ssh_authkey_fingerprints' from '/usr/lib/python2.7/site-packages/cloudinit/config/cc_ssh_authkey_fingerprints.pyc'>) failed
2017-11-04 04:42:06,105 - cc_keys

[2017-11-04 13:55] Chr1d5ter opened #5544 "FEATURE REQUEST: Make packer -v flag output consistent with other Hashicorp tools"
Executing packer -v simply outputs the version number and not the product name. Whereas vagrant and terraform output the product name followed by the version number.

( Sorry to raise this but I can't keep this to myself any longer it's burned away at my soul for too long now.  )

![capture](https://user-images.githubusercontent.com/20554449/32405977-7adc19d2-c167-11e7-926f-7ae65fcb7f93.PNG)

*I a

[2017-11-04 20:19] mwhooker commented on #5544
Thank you for bringing this very important issue to our attention! I like this in theory, but I worry that it will break people's scripts which may be parsing out the version.

My recommendation is to instead use `packer version`:
[code]

[2017-11-04 20:19] #5544 closed

[2017-11-04 21:19] Chr1d5ter commented on #5544
Thanks for responding. I do realise it's a tiny thing and didn't consider the implications of changing it.

Seriously though, I love the work that you guys are doing.

All the best

[2017-11-04 23:29] tamsky commented on #3457
Any chance that HCL fantasy is moving toward reality?

[2017-11-04 23:30] tamsky commented on #4589
@lfarnell what's the status of HCL support ?  Any progress yet?

[2017-11-04 23:44] tamsky opened #5545 "[RFC] Support HCL everywhere JSON is currently supported."
cf. https://github.com/hashicorp/packer/issues/1768#issuecomment-300841374

Proposal:

Ability to run:
`packer build -var-file=myvars.hcl template.hcl`

[ I'm hoping this starts the RFC process, as I was unable to find any existing RFC covering this subject. ]

[2017-11-05 12:52] winmasta commented on #5421
This problem comes when I execute `packer build` from the root user, but when I create regular (non-root) user and execute `packer build` (without sudo and other privilege escalation) it runs without any errors.

[2017-11-05 13:34] sumitmathur opened #5546 "Bake AMI using Packer behind Proxy"
We are using Packer for baking an AMI in AWS and we are running packer on server in datacenter. The server does not have direct Internet connectivity and it connect to internet v.i.a proxy.

We have setup proxy command on server to ssh to EC2 instances and it work well.

However when we run packer to bake an AMI it timed out at SSH and we get below error

`"Build 'amazon-ebs' errored: Timeout wait

[2017-11-05 17:04] bugbuilder commented on #5529
@jbrowder2 I read your log and template but they doesn't look consistent, for example, to have [this log](https://gist.github.com/jbrowder2/0194bb6cea38cb742a0fab0900385774#file-packer-crash-L895) you need the `keep_registered` as true but that attribute its not present in your packer template.

I told you this because you're exported the VM and if you don't use `keep_registered` the builder logic

[2017-11-06 06:11] bugbuilder commented on #5529
@jbrowder2 I fixed this bug in this [repo](https://github.com/bennu/packer/tree/vm-template-with-export-vm), it would be helpful if you could do some testing.

I'm still thinking how to resolve the `keep_registered` issue before sending the PR.

[2017-11-06 11:32] pouyana opened #5549 "Build 'openstack' errored: Error initializing compute client: No suitable endpoint could be found in the service catalog."
Creating new images using OpenStack delivers the following error. It is very cryptic, as a result I don't know where should I look for errors. The compute endpoint is available in catalog list. (Third Gist)

[code]

Packer Version : `1.1.1`

The provisioner can be seen here:
[Gist](https://gist.github.com/pouyana/8d66f1b204188eccff75309794d2e5aa)

Partial Debug can be seen here:
<s>[Gist](https://

[2017-11-06 12:19] FernandoMiguel opened #5550 "packer fails with "VPCIdNotSpecified""
Describe the problem and include the following information:
aws account without a default VPC.
vpcid and subnetid are passed as env vars.
packer fails with "VPCIdNotSpecified"

- Packer version from `packer version`
packer --version
1.0.2

- Host platform
aws AMI ami-47d6723e
Ubuntu 17.04 64 bits
eu-west-1
t2.micro

- Debug log output from `PACKER_LOG=1 packer build template.json`.
https://gist.gi

[2017-11-06 12:28] rickard-von-essen commented on #5550
Did you export those values?

[2017-11-06 12:33] FernandoMiguel commented on #5550
yep, before a previous run.

[2017-11-06 12:45] rickard-von-essen commented on #5550
(I don't want to chase any ghosts). What's the output of `bash -c 'echo $vpc_id'`

[2017-11-06 12:48] FernandoMiguel commented on #5550
empty.
but it shows in set | grep -i vpc

[2017-11-06 12:55] rickard-von-essen commented on #5550
So you need to `export vpc_id` etc.

[2017-11-06 12:55] #5550 closed

[2017-11-06 12:56] FernandoMiguel commented on #5550
ok, let me try that instead

[2017-11-06 13:23] rickard-von-essen commented on #5549
Please [gist](https://gist.github.com/) a full debug log from `PACKER_LOG=1 packer build template.json`.

[2017-11-06 13:27] rickard-von-essen commented on #5546
Packer don't use OpenSSh and thus don't read `~/.ssh/config`.

I recommend that you instead run packer from another EC2 instance (or change your firewall policy so you don't need to circumvent it).

[2017-11-06 13:30] rickard-von-essen commented on #5421
Please ask for general help here. Use _IRC `#packer-tool` on Freenode_ or the [mailing list](https://groups.google.com/group/packer-tool) for that.

See https://www.packer.io/community/

[2017-11-06 13:35] pouyana commented on #5549
@rickard-von-essen It is done.
[Gist](https://gist.github.com/pouyana/4c1d00bf4f74ff0612b1d16a8c3d7ff7)

[2017-11-06 14:29] rickard-von-essen commented on #5549
This is interesting. Looks like there has been a back wards incompatible change in OS where v2 nova API now is called `nova_legacy`.

[2017-11-06 15:37] ptveite opened #5552 "Azure-ARM builder - "capture_container_name" behavior should be more intuitive"
The name of this variable implies that the artifacts from an Azure-ARM build should end up in the container whose name matches the value of this variable. This would have a final url of
`https://<storage_account>.blob.core.windows.net/<capture_container_name>/<capture_name_prefix>.xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx.vhd`
This is not the actual behavior of the builder. Instead, the artifacts are a

[2017-11-06 16:05] boumenot commented on #5552
I agree, it is not intuitive.  Packer is calling the Azure APIs, and cannot influence the location any more than it already is.  The only way to correct the behavior would be to take a post build action, which seems to provide little benefit, and only adds to the build time.

If you are interested in learning more the issue has been raised before, and is documented.

[2017-11-06 16:05] #5552 closed

[2017-11-06 16:20] ptveite commented on #5552
Fair enough. That's pretty unfortunate. Sorry for not doing sufficient research.

[2017-11-06 17:34] mwhooker commented on #3457
it's 100% a priority for us, but I don't have a date on it to share

[2017-11-06 17:40] boumenot commented on #5552
😄 nw, I would rather you raise an issue than not.

[2017-11-06 20:04] tjohnston01 commented on #5400
Did some digging and noticed [this](https://github.com/hashicorp/packer/pull/4591#issuecomment-342165987) is probably the right PR..?

[2017-11-06 20:16] tamsky commented on #5447
@xuyuji9000 said:

1. install an older version of the `brew` package by directly referring to the older `.rb` definition:
`brew install https://raw.githubusercontent.com/Homebrew/homebrew-core/97de1fc6877aaf0797767e57db8db7ca90545723/Formula/packer.rb`

To get the above link, I browse-by-gitref-date: https://github.com/Homebrew/homebrew-core/blob/master@%7B2017-09-12%2018:30:00%7D/Formula/packer.r

[2017-11-06 20:38] mcandre opened #5553 "validate bug: Forgets that script filenames are relative to template's parent directory"
Describe the problem and include the following information:

- Packer version from `packer version`: Packer v1.1.2-dev
- Host platform: macOS
- The _simplest example template and scripts_ needed to reproduce the bug:

[code]

I am storing this packer template in `debian/debian.json`, and the bootstrap provisioning script in `debian/bootstrap.sh`.

When I `cd` to `debian`, `packer validate debian.j

[2017-11-06 20:45] rickard-von-essen commented on #5553
It's not relative to the template, see [docs - shell provisioner](https://www.packer.io/docs/provisioners/shell.html#script).

[2017-11-06 20:45] #5553 closed

[2017-11-06 23:34] #5507 closed

[2017-11-06 23:54] mwhooker commented on #5349
Closing this as we merged in #5475

please open a new issue if you're looking for something else.

[2017-11-06 23:54] #5349 closed

[2017-11-06 23:56] #5501 closed

[2017-11-07 01:14] mwhooker commented on #5529
keep_registered was set as true if someone want to use the post-processor whit the export behavior.

You can use `artifact.State`. You can set the state in the builder and access it from the artifact's State method in the post-processor.

[2017-11-07 04:03] mwhooker commented on #5546
We recently merged support for socks5 proxies https://github.com/hashicorp/packer/pull/5439 and it should be available in the next release

[2017-11-07 04:03] #5546 closed

[2017-11-07 14:06] attree opened #5557 "Crash log submission"
This happens intermittently. Attached crash log.
[crash.log](https://github.com/hashicorp/packer/files/1450244/crash.log)

[2017-11-07 14:58] mini-sledge opened #5558 "AWS Builder is not using Region from Profile when running on EC2 instance"
The packer code for the AWS builder is using the region from the EC2 instance, instead of using region from the profile (~/.aws/config).

Use case is a Jenkins server running on an EC2 in us-east-1, creating an AMI for us-west-2.  The packer code has the argument for profile.  The same packer file is used by developers to test in us-east-1 and/or  us-west-2.

The same packer code runs on a VM (als

[2017-11-07 15:05] cesarjorgemartinez opened #5559 "CygWin local paths not found"
CygWin local paths not found

I'm using CygWin (64) and when use local ISO's then these files not founded.

[code]

- Packer version from 1.1.1
- Host platform
Windows 7 and CygWin
- Debug log output from `PACKER_LOG=1 packer build template.json`.
[code]
- The _simplest example template and scripts_ needed to reproduce the bug.
[code]

[2017-11-07 15:06] pouyana commented on #5549
So, I double checked my settings and find out that OS generated RC file I used did not have the `tenant_name` and packer does not use `$OS_USER_PROJECT_ID` included. I just added  everything in `packer.json` file and tried again and everything worked. Thanks any way

[2017-11-07 15:27] rickard-von-essen commented on #5549
Ok great! I'll close this then.

[2017-11-07 15:27] #5549 closed

[2017-11-07 15:34] rickard-von-essen commented on #5558
It shouldn't use settings from profile if you use a EC2 instance role.

[2017-11-07 15:38] rickard-von-essen commented on #5558
This might be related to #5524.

[2017-11-07 16:16] jbrowder2 commented on #5529
@bugbuilder awesome thanks! I will get you feedback today.

[2017-11-07 17:02] deanmills opened #5560 "Crash log submission"
Attaching crash.log. First crash ever.
[crash.log](https://github.com/hashicorp/packer/files/1450896/crash.log)

[2017-11-07 17:02] mwhooker commented on #5557
thanks for the report. this has been fixed in master and will be in 1.1.2

[2017-11-07 17:02] #5557 closed

[2017-11-07 17:14] mwhooker commented on #5560
you're using packer 0.10.2. This issue has already been fixed if you grab a later version

[2017-11-07 17:14] #5560 closed

[2017-11-07 17:26] mwhooker commented on #5559
please rerun with `PACKER_LOG=1` and post the full debug output

[2017-11-07 17:36] mwhooker commented on #5545
Thanks for this. This is definitely a priority, but currently we're still discussing it internally. We'll definitely be waiting until [hcl 2.0](https://github.com/hashicorp/hcl2) is finalized.  Honestly, this ticket isn't going to have any effect on the process, so I'm going to close it.

[2017-11-07 17:36] #5545 closed

[2017-11-07 17:55] jbrowder2 commented on #5529
I've ran a test against the bennu/packer/tree/vm-template-with-export-vm branch and I still get a crash. Here is a gist with the crash.log and template-packer.json contents.

https://gist.github.com/jbrowder2/95bacc8f81a2edac0b0cd047d76cac46

[2017-11-07 18:02] bugbuilder commented on #5529
Add keep_registered=true to your template and try again.

El 7 nov. 2017 14:55, "Josh Browder" <notifications@github.com> escribió:

I've ran a test against the bennu/packer/tree/vm-template-with-export-vm
branch and I still get a crash. Here is a gist with the crash.log and
template-packer.json contents.

https://gist.github.com/jbrowder2/95bacc8f81a2edac0b0cd047d76cac46

—
You are receiving this

[2017-11-07 18:19] jbrowder2 commented on #5529
Oops, of course I left that out. I've ran another attempt with keep_registered=true for real this time. I've updated the gist above with the new crash.log and template-packer.json contents.

[2017-11-07 18:23] mini-sledge commented on #5558
A potential fix would be to return from the region function before attempting to grab the region from the ec2 metadata if the profilename is set.  There may be a more elegant solution for it, but wanted to float the potential fix that I could submit for PR.

[2017-11-07 18:36] bugbuilder commented on #5529
Looks a little strange, because that line doesnt exist in that branch [step_mark_as_template.go:48](https://github.com/bennu/packer/blob/vm-template-with-export-vm/post-processor/vsphere-template/step_mark_as_template.go#L48), only exists in the [current branch](https://github.com/hashicorp/packer/blob/master/post-processor/vsphere-template/step_mark_as_template.go#L48), probably a compilation iss

[2017-11-07 18:42] mwhooker commented on #5558
don't think we can do that because the profile might not have a region. We should be preferring to use the SDKs credential chaining where possible. I haven't looked for the issue yet, but I have a pretty good idea that we're not doing that

[2017-11-07 19:29] mini-sledge commented on #5558
Region is currently required in the profile according to the AWS CLI commands I just used to test.

[2017-11-07 19:39] mwhooker commented on #5558
oh yeah? That's a good data point. I see that here http://docs.aws.amazon.com/cli/latest/userguide/cli-chap-getting-started.html

I'm thinking maybe it's not correct to get the region from the metadata service. The correct solution might be to always require it. Either that or your solution would probably work.

I'm a little hesitant to add logic like "don't look up region if we've passed a profil

[2017-11-07 19:47] mini-sledge commented on #5558
Suddenly requiring region would probably break a lot of people's current packer scripts (including all the ones here).

Depends on people's current implementations, but definitely won't be backwards compatible.

[2017-11-07 20:31] mwhooker commented on #5558
yeah, that's the problem. Technically, since the documentation says it's required, it would be a backwards incompatible bug fix, which we're okay with releasing on minor releases, but it's not critical so I don't think we should do it.

I think what we should do is take your suggestion now, since it's backwards compatible, and then for 1.2.0 we can require region (if we still think it's a good ide

[2017-11-07 21:00] bugbuilder commented on #5529
@jbrowder2 any news??

[2017-11-07 21:40] jbrowder2 commented on #5529
I am dealing with issues with our environment. I unfortunately don't have the build environment containerized yet. We are using a VM for a jenkins slave currently.

after git cloning and using go build I am getting:

checkpoint.go:8:2: cannot find package "github.com/hashicorp/go-checkpoint" in any of:
	/home/users/bhundven/projects/go/src/github.com/hashicorp/go-checkpoint (from $GOROOT)
	/root/g

[2017-11-07 23:05] jbrowder2 commented on #5529
when I look at hashicorp/packer/post-processor/vsphere-template/step_mark_as_template.go line 48 is what you posted above, not whats in the current branch from hashicorp/packer. Then, building the new packer binary with go build I still get this error when making it as a template.

panic: runtime error: index out of range
2017/11/07 15:01:25 packer:
2017/11/07 15:01:25 packer: goroutine 109 [runni