[2017-11-07 23:20] mcandre opened #5564 "Can't send <esc> as MINIX boot_command"
I'm trying to generate a Vagrant base box for MINIX, but it appears that packer has difficulty sending the `<esc>` key to the virtual machine. Strangely, when I manually press Escape in the VirtualBox GUI, the key is correctly send to the virtual machine. Somehow, packer's boot_command is not integrating well with MINIX vm's.

FOR BUGS:

Describe the problem and include the following information:

[2017-11-07 23:22] mcandre commented on #5564
Update: Okay, looks like `<esc>` *is* being sent via boot_command, though the key is sent incredibly slowly, as VirtualBox does not currently support a dedicated emulator for MINIX guests, but merely "other", which is far slower.

[2017-11-07 23:22] #5564 closed

[2017-11-07 23:40] bugbuilder commented on #5529
The easier way to get the correct binary without struggle with the environment is using docker as I shown above.

[2017-11-08 01:33] mcandre opened #5565 "How to input greater-than, less-than literals in boot_command's?"
FOR FEATURES:

How are we supposed to enter a greater-than (`>`) or less-than (`<`) literal into a boot_command?

I think en-US QWERTY keyboard users can work around this limitation by applying a Shift modifier to the comma and period respectively, but this is fragile. Would be helpful for packer to offer `<gt>`, `<lt>`, similar to HTML for reliably inputting these keys.

[2017-11-08 01:44] mwhooker commented on #5565
Can you not just put `<`  in the boot command? The support is there: https://github.com/hashicorp/packer/blob/52fc0100ebe0b7f856fba65e1f178840d3e9aea5/builder/vmware/common/step_type_boot_command.go#L187

If it doesn't work please open a new issue with the error you get

[2017-11-08 01:44] #5565 closed

[2017-11-08 01:49] mcandre commented on #5565
@mwhooker How would a user input the literal sequence `<esc>` without having this be parsed by packer as the Escape key?

[2017-11-08 02:09] mwhooker commented on #5565
is that a need you have?

[2017-11-08 08:34] cesarjorgemartinez commented on #5559
[fulldebugpackercygwin.txt](https://github.com/hashicorp/packer/files/1453092/fulldebugpackercygwin.txt)

[2017-11-08 08:49] cesarjorgemartinez commented on #5559
An observation about this variable: I need to do: export PACKER_LOG=1

[2017-11-08 14:35] jonmosco commented on #5354
I'm just checking in to see where this stands.  I'm using the patch you provided, but don't want to have to maintain a fork.  Is there anything I can do to help this along to be added to stable?

[2017-11-08 14:43] ilamurugu commented on #4373
I just a built a new Windows 2012 Server and all the files stored locally, using Packer 1.1.1 version and the json file details below. I am getting SSH error "hyperv-iso: waiting for ssh to become available"

I have set the ssh_timeout as 15 m, still i am getting error. Any one please help!!!

[2017-11-08 15:05] bugbuilder commented on #5354
This feature will be able at packer v1.2.0. PR #5380, you'll need to wait a bit.

[2017-11-08 15:06] jonmosco commented on #5354
Ok, perfect, thank you.

On Wed, Nov 8, 2017 at 10:05 AM, bugbuilder <notifications@github.com>
wrote:

[2017-11-08 15:55] bugbuilder commented on #5529
@jbrowder2
[code]

[2017-11-08 16:35] ilamurugu commented on #4314
Tried with the following and got the error message as

{
  "builders": [
    {
      "boot_command": [
       "<tab> text inst.ks=hd:fd0:/ks.cfg <enter><wait>"
      ],
      "boot_wait": "10s",
      "cpu": 2,
      "ram_size": 1024,
      "disk_size": 8000,
      "http_directory": "http",
      "iso_url": "c:\\packer_isos\\CentOS-7-x86_64-Minimal-1708.iso",
      "iso_checksum_type": "**********

[2017-11-08 16:35] tomconte commented on #5049
@ladar did you ever get this to work for Alpine by any chance? I am stuck waiting for the SSH IP address too.

[2017-11-08 16:44] jbrowder2 commented on #5529
Excellent, just like you said using docker fixed it. Once I got it built, it works as expected. No more crash. Thanks folks!

[2017-11-08 17:14] dmlb2000 commented on #4314
I've not had this issue in a while, I've been able to use the chef/bento repository for a starting point getting packer to build hyperv images.

[2017-11-08 17:18] ilamurugu commented on #4314
I am trying with Windows image now. let me see if i get the same error message

[2017-11-08 18:41] SwampDragons commented on #4373
This is unlikely to be related to the original ticket.

Does your autounattend file configure SSH?  SSH doesn't get turned on by default.

If you need help setting this up, please send your question and relevant files to our mailing list: https://groups.google.com/forum/#!forum/packer-tool

[2017-11-09 10:13] duckie commented on #5045
+1, would like to avoid entire subcription permissions for packer

[2017-11-09 15:03] duckie opened #5568 "Azure : Validate the managed image name regex before execution"
Hi all

When building an Azure managed image, if the image name does not meet the requirements, Packer yields on the Azure error at the very end of the provisioning.

```==> azure-arm: ERROR: -> InvalidParameter : The entity name 'name' is invalid according to its validation rule: ^[^_\W][\w-._]{0,79}(?<![-.])$.```

This is unfortunate since such a discrepency could have been detected in the `vali

[2017-11-09 17:21] caphrim007 opened #5569 "packer looks for sources in different paths unexpectedly"
When packer is run with multiple `-only` values and `parallel` set to `false`, then the second `only` value will have its paths interpreted from `/` instead of as relative (the default behavior that I observe).

For example, a template uses `virtualbox-ovf` and includes this `source_path`
`"source_path": "output-virtualbox-iso/foo.ovf",`

When run with the following command, everything works fine

[2017-11-09 18:11] SwampDragons commented on #5258
This will get closed in 1.2.0 because the change will require some backwards-incompatible changes (will break passwords that have been properly powershell escaped).  In the meantime, I recommend user use the escaping workaround above.

[2017-11-09 18:22] #5558 closed

[2017-11-09 19:03] stevenroha commented on #5039
I am still having the issue, able to ping the VM from the packer server. added restart_timeout = 6m in provisioner.

Using Packer 1.1.1

[2017-11-09 19:10] mwhooker commented on #5039
@stevenroha please open a new issue. this one is solved

[2017-11-09 19:13] stevenroha commented on #5041
Can you elaborate on which firewall rules was blocking? is it the new VM created blocking ?

[2017-11-09 21:32] gvenzl opened #5571 "Allow Vagrant box import for VirtualBox builder"
It would be great if the VirtualBox builder (and probably also others) would allow to use a Vagrant box as source image, alongside with the `virtualbox-iso` and `virtualbox-ovf`. This would further improve cross-usability of both products. Today Packer already allows the creation of [Vagrant boxes in the post processor step](https://www.packer.io/intro/getting-started/vagrant.html) so this is alre

[2017-11-09 22:16] mwhooker commented on #5559
wondering if this will be solved by #5570, but since I don't see the error off-hand, I can't say for sure

[2017-11-09 22:20] mwhooker commented on #5559
@cesarjorgemartinez could you try adding `"target_path": "C:/cygdrive/c/software/SO/CENTOS/CentOS-7-x86_64-Minimal-1708.iso"` to your builder? I wonder if that might fix it

[2017-11-09 22:49] xydinesh commented on #5361
I like to have this feature implemented in packer too. I could delete images using shell-local as shown in a above comment. However, it was bit tricky as I didn't pay attention where shell-local should be. Just want to point out ```shell-local``` should be outside the list of ```docker-tag``` and ```docker-push```.  Hope it helps for someone.

[code]

[2017-11-09 23:24] #5529 closed

[2017-11-10 00:16] #5483 closed

[2017-11-10 00:17] SwampDragons commented on #4915
Not sure why this was reassigned to 1.1.2.  It's only fixed by a backwards-breaking change so it's slated for 1.2.0 as the above history shows.

[2017-11-10 00:19] SwampDragons commented on #4916
I think we should probably conclude that @taliesins is too busy with other things to get this across the finish line; unscheduling for now.

[2017-11-10 00:32] SwampDragons commented on #5041
@stevenroha my guess is it's the rules discussed in the comments on this PR: https://github.com/hashicorp/packer/pull/5427

[2017-11-10 12:07] rickard-von-essen commented on #5571
Thanks for reporting this. This is a duplicate of #869, for more info see that issue.

[2017-11-10 12:07] #5571 closed

[2017-11-10 13:42] cesarjorgemartinez commented on #5559
I do not know how to test this PR 5570, I do not know how to compile that in Windows.

[2017-11-10 13:43] cesarjorgemartinez commented on #5559
Using file:///C:/software/SO/CENTOS/CentOS-7-x86_64-Minimal-1708.iso (Windows style path), is a workaround.

[2017-11-10 17:04] ladar commented on #5049
@tomconte yes, I got packer to build Hyper-V images for Alpine 3.5.2 and 3.6.2. Try:

[code]
or
[code]
At this point I'm building 19 distros for 4 different providers (including Hyper-V)... see:

[https://app.vagrantup.com/generic](https://app.vagrantup.com/generic)

The last holdout was OpenBSD, which I didn't get working until about a month ago (when v6.2 was released).

I say this with the cave

[2017-11-10 17:10] ladar commented on #5049
@tomconte as I recall the Alpine magic was in the boot command. Try this bit of JSON:

[code]

[2017-11-10 17:26] gvenzl commented on #869
+1

This functionality would make the cross usage of Vagrant and Packer a lot better!

[2017-11-10 19:06] Adezandee commented on #869
Here is the bash script i use to use a vagrant box source for virtualbox builder:

[code]

[code]

[2017-11-10 20:41] SwampDragons commented on #5569
Thanks -- I've reproduced using your case.

[2017-11-10 21:25] SwampDragons commented on #5569
Actually, I get the assumed root path in both your cases....

[2017-11-10 21:30] caphrim007 commented on #5569
@SwampDragons then explain the difference in outputs

[2017-11-10 23:16] SwampDragons commented on #5569
Okay, so I've spent some time tinkering with the DownloadableURL function.  I can't get my repro to actually depend on the -only flag like you did, but between messing with the function and reading through the code, I think your issue lies [here](https://github.com/hashicorp/packer/blob/79fcd40bfcafad3c3fb45273b0746c983d69d2c6/common/config.go#L85-L100).

If the file doesn't exist at the given rel

[2017-11-10 23:26] SwampDragons commented on #5559
There is a [lot of special casing](https://github.com/hashicorp/packer/blob/79fcd40bfcafad3c3fb45273b0746c983d69d2c6/common/config.go#L69-L82) in this code around windows paths; looks like the parser does not consider "/foo/bar/baz" an absolute path if packer is running on windows.  It explicitly looks for the drive when determining whether something is an absolute path -- which makes sense to me

[2017-11-10 23:41] caphrim007 commented on #5569
It exists after the first only runs. Does it need to exist before this? Is packer looking for its existence when the template is parsed? or when the builder is actually run?

[2017-11-10 23:43] SwampDragons commented on #5569
It needs to exist when the template is parsed.

[2017-11-10 23:44] caphrim007 commented on #5569
ugh, then no, it doesnt. guess i'll have to run packer twice then

[2017-11-10 23:45] #5569 closed

[2017-11-10 23:46] SwampDragons commented on #5569
You can probably write a wrapping shell script fairly easily so that you don't have to sit around and wait for the build to complete.  Sorry for the frustration.

[2017-11-10 23:46] caphrim007 commented on #5569
i do that today

[2017-11-10 23:55] SwampDragons opened #5572 "vValidate filepaths and fail early before builders run if filepaths don't exist"
#5569 and #5559 exist because of bad messaging on Packer's part about expecting source paths to exist.  We need to be clearer about why path-related failures occur and make those failures happen before the user gets into a long series of builds.

We can do this by stating the generated filepath and making sure it exists, somewhere in this area: https://github.com/hashicorp/packer/blob/79fcd40bfcaf

[2017-11-11 02:36] luckytaxi opened #5574 "Use Chef policyfile?"
We're starting to move our Chef install to use Policyfile instead of roles/environment. We have a bunch of cookbooks that are referenced via Github within the policyfile. My issue is, when I apply the run_list to Packer in order to build our AMIs, the cookbooks that need to come from GH aren't available. Using Policyfiles, these cookbooks get downloaded and packaged for use.

Is there a workaround

[2017-11-11 16:32] peterlindstrom234 commented on #409
What the hell is going on here?

- Packer detected a VMware 'Unknown Error'.
- _Packer_ told me to check VMWare's log file, from the output directory for more information.
- But _Packer itself_ deletes the output directory, so I can't check the log. Haha! Good one, Packer, you rascal you!
- Shitloads of other people have run into a similar situation, as they obviously would.
- People have kept req

[2017-11-11 17:48] candlerb commented on #409
The reason this ticket is closed is because the problem has already been fixed.

Add flag `-on-error=ask` to the command line, and then if there's an error you'll be prompted whether you want to delete the build artefacts or not.

Furthermore, before answering this question, you can ssh into the VM and poke around.

[2017-11-11 17:50] icnocop commented on #409
@peterlindstrom234, this has already been implemented. You can use "-on-error=abort" and packer shouldn't perform any cleanup when an error occurs.

[2017-11-11 17:51] peterlindstrom234 commented on #409
Alright, my bad. It sure took strangely long though.

[2017-11-11 21:44] trodemaster opened #5575 "OpenStack builder should warn instead of fail on terminate if instance is already shut down"
With our windows packer builds we need to handle shutting instances down gracefully via sysprep. While investigating all the different workarounds I discovered that the OpenStack builder has undesirable handling of terminating instances that are already "shut off".

Currently packer will throw an error and stop the build if it attempts to shut down an instance that is already shut down. Instead of

[2017-11-12 06:02] rickard-von-essen commented on #5575
Sounds resonable. PR's are welcome.

[2017-11-12 11:55] develar commented on #4587
So strange.

[code]

What's bad? Why packer forced me to use yet another preparation script before...

[2017-11-13 07:32] paboldin opened #5577 "Relative paths in checksum files"
Ubuntu keeps `SHA256SUMS` files in a directory one level above the `netboot/mini.iso`. The checksum file has the ISO listed as `./netboot/mini.iso`.

We need to support these at our side as copying checksums is error-prone and Ubuntu frequently updates ISOs.

[2017-11-13 09:34] develar commented on #4942
👍 And it leads to error, that DigitalOcean doesn't support `ssh_private_key_file`, although in the docs stated "In addition to the options listed here, a communicator can be configured for this builder.".

[2017-11-13 10:32] rickard-von-essen commented on #4942
@develar exactly! Feel free to open a feature request for that specifically.

[2017-11-13 10:53] f-roscher commented on #5354
Hi @bugbuilder, thanks for this feature. I do currently face the error "A specified parameter was not correct: path". As I understood @jonmosco had the same and it had been fixed. I do use 'vm_name' within the builder section already. Packer version 'Packer v1.1.1-dev (50904064)', pulled branch local-vsphere-template today (b754b715191920cc40e2a2e69e20b2f491cf903e)
Any help would be appreciated in

[2017-11-13 13:39] jonmosco commented on #5354
Did you pull those changes and rebuild so your packer version
returns v1.1.2-dev ?

Jon

On Mon, Nov 13, 2017 at 5:54 AM, Florian Roscher <notifications@github.com>
wrote:

[2017-11-13 16:40] jakemig commented on #3317
Ran into the same issue and resolved it by adding `chcp 850` to my powershell script before calling the AWS CLI.

TechNet reference: https://technet.microsoft.com/en-us/library/bb490874.aspx

[2017-11-14 07:58] Lee303 opened #5580 "ESXi 6.5: no suitable auth schemes"
When using the vmware-iso builder with ESXi 6.5, the following build error occurs:

[code]

Packer version:
[code]

[2017-11-14 08:02] Lee303 commented on #5580
It would appear that setting ``vnc_disable_password`` to ``true`` works around this issue

[2017-11-14 08:11] rickard-von-essen commented on #5580
Your analysis is correct. Your ESXi doesn't support VNC auth with username/password.

[2017-11-14 13:32] edisonxiang opened #5581 "Remove StepLoadExtensions in OpenStack Builder"
In the OpenStack Newton release, Nova API extension plugins was deprecated and marked for removal.
As of the OpenStack Pike release, Configurable way to enable/disable APIs extensions have been removed and became history in Nova API world. OpenStack has already removed support for API extensions.
Refers:
https://specs.openstack.org/openstack/nova-specs/specs/newton/implemented/api-no-more-extensio

[2017-11-14 20:50] SwampDragons commented on #351
I have been looking at this for a while and there are a couple of things that will need to be changed in go-getter before we can implement it in place of packer's bespoke downloader.  Particularly, go-getter in its current form does not have progress tracking or ranged http requests, both of which Packer currently makes use of.  I'll be spending some time getting the necessary patches into go-gett

[2017-11-14 22:05] mcandre commented on #1242
+1, as MINIX lacks support for SCSI drives, so MINIX guests are therefore incompatible with VMware provider until packer JSON's can successfully specify IDE rather than SCSI.

[2017-11-14 23:14] subbu05 opened #5584 "packer exits when converting iso to ova"
Unable to convert iso to ova using packer on Mac OS.

OS:
ProductName:	Mac OS X
ProductVersion:	10.13.1
BuildVersion:	17B48

packer version
Packer v1.1.1

Failed to initialize build 'vmware-iso': error initializing builder 'vmware-iso': plugin exited before we could connect
vmware-iso output will be in this color.

==> Builds finished but no artifacts were created.

Attached the logs.

[2017-11-14 23:17] subbu05 commented on #5584
[log.txt](https://github.com/hashicorp/packer/files/1472876/log.txt)

[2017-11-15 00:19] mcandre opened #5585 "Install failure in Ubuntu 14.04"
FOR BUGS:

go get fails to install packer on my machine.

- Host platform: Ubuntu 14.04 LTS

Trace:

[code]

[2017-11-15 00:45] #5572 closed

[2017-11-15 00:48] mwhooker commented on #5584
you have a very old version of packer installed. please run

`rm /usr/local/bin/packer-*` and then reopen if you still see errors.

[2017-11-15 00:48] #5584 closed

[2017-11-15 01:25] edisonxiang commented on #5581
@mwhooker Thanks your concern, I will submit a PR later. Welcome to review it.

[2017-11-15 02:06] mwhooker commented on #5585
I'm afraid I'm unable to reproduce this issue

[code]

You could try upgrading to go 1.9.2

This sounds like your system could be running out of memory, is that possible?

If so you can probably work around it with `go get -p 1 github.com/hashicorp/packer`

good luck

[2017-11-15 02:06] #5585 closed

[2017-11-15 04:36] ChrisMoran64 commented on #4857
We are also hitting this issue, and as jvanderpaal noted, we're stalled because the proxies are not going to handle internal traffic.  Some form of proxy bypass would be ideal

[2017-11-15 14:58] hesamaseh commented on #1739
Can i use this dry-run option for azure ? i dont see the option in the docs ? Thanks

[2017-11-15 16:51] rickard-von-essen commented on #1739
This hasn't been implemented.

[2017-11-15 17:42] hesamaseh commented on #1739
Do we know when this will be released ? also is there another way to build the packer image and run all the provisioners and then clean up everything without saving the image ?

[2017-11-15 18:26] rickard-von-essen commented on #1739
Just add a provisioner that exits with a non 0 status last in your
provisioner block.

On Nov 15, 2017 18:42, "hesamaseh" <notifications@github.com> wrote:

[2017-11-15 21:33] #5577 closed

[2017-11-16 00:31] mwhooker commented on #5282
looks like it's been targeted for go 1.10

[2017-11-16 05:25] mcandre commented on #5585
Update: Apparently, a lot of things break when Ubuntu is installed in VMware with all defaults and RAM is therefore limited to a mere 1GB! When the virtual machine is reconfigured to use more memory, then packer successfully installs with `go get github.com/hashicorp/packer` as usual!

[2017-11-16 07:44] megian opened #5589 "ISO download failed, wrong iso_url variable"
- Packer 1.1.2
- Host Windows 7 64 Bit

With Packer 1.1.2 (Dosn't work file://):
[code]

With Packer 1.1.1 (does work file:///):
[code]

Is it possible to add the third slash back to the path variable?

[2017-11-16 08:42] cesarjorgemartinez commented on #5559
I am running in Windows more CygWin:
$ uname -a
CYGWIN_NT-6.1 hostname 2.9.0(0.318/5/3) 2017-09-12 10:18 x86_64 Cygwin

[2017-11-16 11:15] f-roscher commented on #5354
I just noted we spread the communication across this issue and a corresponding pull request https://github.com/hashicorp/packer/pull/5380. Let's have a short version of the other comment here - just for the record: The error does not occur with the youngest version of that branch Packer v1.1.2-dev (b754b715).

[2017-11-16 12:00] it-praktyk commented on #5049
@ladar, where can I found the JSON files used to build [generic boxes](https://app.vagrantup.com/generic)?

Thank you in advance.

[2017-11-16 14:38] edmorley opened #5590 "Shell provisioner "chmod: cannot access '/tmp/script_8280.sh'" unless pause_before used"
In travis-ci/packer-templates#544, the packer docker builds are intermittently failing for Ubuntu Xenial images - and whilst this was resolved by adding a `pause_before` to the very first provisioner, it seems like the packer error reporting in this case is not surfacing the real issue correctly, making it harder to debug than it should be.

## STR
Using:
* a Travis GCE Ubuntu Trusty environment h

[2017-11-16 15:31] rickard-von-essen commented on #5590
Don't have a computer with me at the moment but there are a few things in your report and template that looks strange.

First of all the docker builder don't run SSH. So that is not the cause of the problem and `ssh_pty` is ignored.

Speculating a bit, but I guess that `/sbin/init` takes a while to run and somewhere in there it clears `/tmp` if packer uploads the file before that it fails, if afte

[2017-11-16 15:49] edmorley commented on #5590
Hi! Thank you for the reply.

Sorry yes thinking about it SSH doesn't make sense in the docker context, it will be using `docker cp` and `docker exec`  (I didn't write these configs, so not sure why `ssh_pty` is there).

So really the OP would have been more correctly summarised as  "it looks like the `docker cp` failed and then continued onto the `docker exec` regardless". However if the theory a

[2017-11-16 17:58] SwampDragons commented on #5589
Shoot.  Sorry for this; I didn't realize this change would be BC-breaking.  In your config, is the URL given as `C:/ISOs/packer/en_windows_server` or `/C:/ISOs/packer/en_windows_server`?  For now, my guess is that you can work around by prepending with the `/` like that second option shows.

[2017-11-16 19:11] mwhooker commented on #5589
see #5573

[2017-11-16 19:12] edmorley commented on #5466
Hi! I was hoping to try the test build attached above, to help debug [this openstack error](https://travis-ci.org/travis-infrastructure/packer-build/jobs/302803441#L440), however it looks to be an OS X binary rather than Linux x86_64?

[2017-11-16 19:25] SwampDragons commented on #5589
[packer.zip](https://github.com/hashicorp/packer/files/1479912/packer.zip)
@megian Can you try this dev version of packer and let me know if it fixes your issue?

[2017-11-16 19:52] megian commented on #5589
Did work as relative path and relative path in a sub directory. The issue is fixed in the dev version.

[2017-11-16 20:07] stevenscg opened #5592 "File provisioner - Failed to upload"
- Packer version: 1.1.2
- Host platform: CentOS7 on AMD64
- Docker builder

Given:
[code]

When attempting to upload a directory with the `file` provisioner, the build fails with the following errors:
[code]

This provisioner step works fine with packer 1.0.2.

I have tried it with every 1.1.X release to date as they are released with roughly the same outcome as reported here.

I have been followi

[2017-11-16 20:22] rickard-von-essen commented on #5466
Oh, sorry. This should be better [packer_pr-5488_6ba4595a8.zip](https://github.com/hashicorp/packer/files/1480109/packer_pr-5488_6ba4595a8.zip).

[2017-11-16 20:24] rickard-von-essen commented on #5466
I did some more research and this seems to only part of the solution. The cli seems to do some validation of parameters by doing additional API calls.

[2017-11-16 20:26] mwhooker commented on #5592
I'm afraid I'm unable to reproduce this error. What version of docker are you using?

without first creating the `/var/www/html` directory, I get this error:

[code]

but if I create it first it works fine

[2017-11-16 20:29] mwhooker commented on #5592
according to https://stackoverflow.com/questions/41063718/docker-cp-error-response-from-daemon-lstat-no-such-file-or-directory the error you're seeing means the destination directory doesn't exist (possibly different from my error because of docker versions). The file provisioner needs the destination directory to exist to work. What happens if you add

[code]

to your provisioners?

[2017-11-16 20:30] stevenscg commented on #5592
Hi @mwhooker.

Docker version is `17.05.0-ce`.

In the example, `/var/www/html` should be present already in the `nginx 1.13.6-alpine` base image that I'm using.

It's possible that `var/www/html/app` is not present and that could be just a case of something that worked at/before packer 1.0.2 that maybe should not have.

[2017-11-16 20:31] stevenscg commented on #5592
I'll try some variations of the mkdir and report back.

[2017-11-16 20:48] stevenscg commented on #5592
Both of the variations below seem to work, which is great!

The docker message is absolutely correct. I been using the same line of base image for quite a while now and low and behold they use a _different_ document root directory now. Sorry for the churn. Packer all the things!

[code]

[code]

[2017-11-16 20:48] #5592 closed

[2017-11-16 22:35] SwampDragons commented on #5589
Cool, thanks.

[2017-11-16 22:35] #5589 closed

[2017-11-16 23:55] edmorley commented on #5466
Thank you for the build. I'm not sure if I'm doing something wrong, but with it I get:
`* unknown configuration key: "version"`
(https://travis-ci.org/travis-infrastructure/packer-build/builds/303289257#L1050)

The only reference to `version` in the template (see higher up in the log for the template, which I dumped to stdout) is the chef-solo version, but I still get that error even if I remove t

[2017-11-17 01:39] #5045 closed

[2017-11-17 07:04] nodesocket opened #5595 "Packer required_version support"
Does Packer support the `required_version` attribute like [Terraform](https://www.terraform.io/docs/configuration/terraform.html)?

[2017-11-17 09:31] meinteuch22 commented on #5466
the build works for me but  does not show the intended effect of returning the error-messages that are being returned by the openstack-api(s).

as an example, easy to be reproduced :

use a non existing image-id as the value of the "source_image"-field in a openstack-builder-section of your Packer-template. In this case the openstack-api returns "{"badRequest": {"message": "Can not find requested

[2017-11-17 16:03] jamiesonbc opened #5596 ":q"
_Please read these instructions before submitting_

**DELETE THIS TEMPLATE BEFORE SUBMITTING**

_Only use Github issues to report bugs or feature requests, see
https://www.packer.io/community.html_

For example, _Timeouts waiting for SSH/WinRM_ are generally not bugs within packer and are better addressed by the mailing list. Ask on the mailing list if you are unsure.

If you are planning to open

[2017-11-17 16:11] breisig opened #5597 "Packer 1.1.2 with virtualbox-ovf cannot file virtualbox guest additions all of a sudden on Windows"
I just upgraded to packer 1.1.2 and when building new images with the virtualbox-ovf builder (for Virtualbox 5.1.30) under Windows 10, it seems to fail to find the VBoxGuestAdditions.iso file even thought it exists. If I go back to packer 1.1.1, it works without issue.

packer 1.1.2 output
--------------
==> virtualbox-ovf: Downloading or copying Guest additions
    virtualbox-ovf: Downloading or

[2017-11-17 16:22] SwampDragons commented on #5597
Thanks for reporting!  This seems to be a duplicate of https://github.com/hashicorp/packer/issues/5589 and it's been fixed on master; if you want to use the dev binary provided on the other ticket, you can, or else you can downgrade until we can release the next version.  Apologies for the regression.

[2017-11-17 16:22] #5597 closed

[2017-11-17 16:25] SwampDragons commented on #5596
Did you mean to paste something in here before opening this issue?

[2017-11-17 16:25] #5596 closed

[2017-11-17 16:28] jamiesonbc opened #5598 "unknown configuration key: "floppy_dirs""
[root@packer-qa ~/opt/packer/bin]# ./windows_test.sh
sod-windows_server_standard_core_2016-bcb4d478-week46-17-1055 output will be in this color.

1 error(s) occurred:

* unknown configuration key: "floppy_dirs"

THIS WORKS ON WINDOWS server running 1.1 with same json file

root@packer-qa ~/opt/packer/bin]# packer -v
1.1.2

[root@packer-qa ~/opt/packer/packer-templates-nxs]# cat /etc/redhat-release

[2017-11-17 16:32] SwampDragons commented on #5595
Generally speaking, questions are best reserved for our mailing list, https://groups.google.com/forum/#!forum/packer-tool -- but given that the answer is "no," I'm going to make an edit to your question and change this to a feature request.

[2017-11-17 16:57] SwampDragons commented on #5598
Sorry 'bout this -- the good news is this ticket is a duplicate and the root cause is already fixed on master.  If you want to use other features in packer 1.1.2 please try out the dev binary I uploaded here https://github.com/hashicorp/packer/issues/5589#issuecomment-345035161; otherwise you can downgrade until we release the fix.

[2017-11-17 17:55] boumenot commented on #5568
Thanks for opening an issue @duckie.

I have prepared a PR to address this issue, but can you please confirm the entity in question.  Is it a resource group?  The error message provides a regular expression, but I am unsure what value I should be qualifying it against.  The Azure [docs](https://docs.microsoft.com/en-us/azure/architecture/best-practices/naming-conventions#naming-rules-and-restricti

[2017-11-17 18:57] jamiesonbc commented on #5598
That dev binary is for windows only .  the problem I’m having is building a windows template on packer running on centos ( pasted that in my original issue ).  Do you have a “fixed” binary for linux?
[cid:image001.png@01D35FA3.889F0FF0]
[cid:image002.png@01D35FA3.889F0FF0]

 Bryan C. Jamieson
 Senior Systems Engineer
 THD Austin Technology Center North
 13011 McCallen Pass
  Austin, Tx 78753
  W:

[2017-11-17 20:03] codekaizen opened #5600 "Packer 1.1.2 fails to find VirtualBox Guest Additions on Windows"
Running `packer build` against any template on windows fails to resolve the VirtualBox Guest Additions .iso file correctly it seems. It starts by finding the file correctly, but then fails to prepend the drive letter, forcing Windows to look in the current directory for the path. A workaround is to copy .iso file to a subdirectory of the current dir matching the path from the drive root. E.g. if t

[2017-11-17 20:14] mwhooker commented on #5600
@codekaizen Thanks for the report, sorry about this. I believe this has been fixed on master. Would you care to test it? I can build you a binary if you need, just tell me the os

[2017-11-17 20:14] codekaizen commented on #5600
Sure I can test it. I'm running Win10 x64.

[2017-11-17 20:18] mwhooker commented on #5600
lol, should have guessed that from the report, thanks. Attached is packer on master
[5600.zip](https://github.com/hashicorp/packer/files/1483693/5600.zip)

[2017-11-17 20:28] codekaizen commented on #5600
Yup, the master build works ok! Thanks...

[2017-11-17 20:30] mwhooker commented on #5600
great, feel free to use that build of packer or an earlier version. If you want to wait, the next packer release will be in a few weeks

[2017-11-17 20:30] #5600 closed

[2017-11-17 20:43] jamiesonbc commented on #5598
Please reopen.   the dev binary you mentioned was for windows.  I needed one for linux.  I believe you said the fix was in master.   I downloaded and recompiled a new version
[root@packer-qa ~/opt/packer/bin]# ./packer -v
1.1.3
[root@packer-qa ~/opt/packer/bin]# /usr/sbin/packer -v
1.1.3

[root@packer-qa ~/opt/packer/bin]# ./windows_server_standard_core_2016_build.sh
From https://oses.homedepot.co

[2017-11-17 20:46] jamiesonbc commented on #5598
I have added a new comment to the issue which was closed, can you reopen it.

Please reopen. the dev binary you mentioned was for windows. I needed one for linux. I believe you said the fix was in master. I downloaded and recompiled a new version
[root@packer-qa ~/opt/packer/bin]# ./packer -v
1.1.3
[root@packer-qa ~/opt/packer/bin]# /usr/sbin/packer -v
1.1.3
[root@packer-qa ~/opt/packer/bin]# ./wi

[2017-11-17 23:40] duckie commented on #5568
Hi @boumenot

Nope, the property on which an invalid value may fail the process is `managed_image_name`. I do not override `temp_resource_group_name`, nor does it have to do with networking. The Azure API call fails when all the build is a success and you want to make an image from the virtual machine.

[2017-11-18 15:34] lioramilbaum opened #5601 "Failed to connect to the host via ssh"
packer version - 1.1.2
ansible version -2.4.1
Host -  ubuntu 16.04 docker container. Container hosted by OSX 10.13.1
Remote Machine - ubuntu 16.04 AWS ec2
debug log - https://gist.github.com/lioramilbaum/a31325d2fa84c0699f85038000dee0fe

When trying to build an AMI with amazon-ebs builder and Ansible provisioner:

fatal: [artifactory]: UNREACHABLE! => {"changed": false, "msg": "Failed to connect t

[2017-11-18 15:54] peterlindstrom234 commented on #5571
What more information do we get there?

It's been like three years since the issue was opened, right? I skimmed through the whole thread, but don't remember seeing any responses from HashiCorp.

I've been getting to grips with Packer, and thought I'd be using it to add things on top of "base images", producing derivative, more fully featured images. I'd imagine this is exactly what most people wou

[2017-11-18 17:57] rickard-von-essen commented on #5601
Please [gist](https://gist.github.com/) a full debug log from `PACKER_LOG=1 packer build template.json` and include your playbook(s).

[2017-11-18 17:59] lioramilbaum commented on #5601
Added

[2017-11-18 18:04] rickard-von-essen commented on #5601
The detailed log is still missing.

[2017-11-18 18:23] lioramilbaum commented on #5601
Right. Now it is.

[2017-11-18 18:57] rickard-von-essen commented on #5601
And what about `bootstrap.yml` it seems like the problem is there.

[2017-11-18 19:12] lioramilbaum commented on #5601
You are right :-)
The following settings caused the problem:
[code]

[2017-11-18 19:15] #5601 closed

[2017-11-18 19:36] mcandre opened #5602 "Confusing documentation for timeouts with hyperv-iso builder"
FOR BUGS:

- Packer version from `packer version`: `v1.1.3-dev`
- Host platform: Windows 10 Pro

The official documentation for the [hyperv-iso](https://www.packer.io/docs/builders/hyperv-iso.html) builder appears to contain some discrepancies.

The docs include builder JSON example snippets that configure `ssh_timeout` and `winrm_timeout`, though neither of these keys are listed among the [valid

[2017-11-18 19:39] rickard-von-essen commented on #5601
Happy to help

[2017-11-18 19:48] rickard-von-essen commented on #5602
`ssh_timeout` and `winrm_timeout` listed on the communicator page, reference in [HyperV ISO - Configuration Reference](https://www.packer.io/docs/builders/hyperv-iso.html#configuration-reference).

Regarding `ssh_wait_timeout` i don't think there is such configuration option, anywhere?

[2017-11-18 19:51] rsjorslev commented on #4433
Is this something which is still being worked on?
It would be nice with something akin to `expect_disconnect` from the shell provisioner as currently i think the only workaround for this type of issue (where WinRM gets shutdown due to eg. a reboot) is to have a follow-up `windows-shell` provisioner with a long enough `start_retry_timeout`.

[2017-11-18 20:08] mcandre commented on #5023
I get similar error behavior on my system. I'm trying to build a Hyper-V provided Debian box, but Hyper-V is not propagating the preseed HTTP server connection into the guest. I can access the HTTP server from the host, but not from the guest.

packer configuration:

[code]

[2017-11-18 20:11] mcandre opened #5603 "Hyper-V: Show preview VNC by default"
FOR FEATURES:

Like VirtualBox, VMware, qemu, and other providers, it would be helpful for debugging builds if the Hyper-V provider would also show a VNC preview, using the Hyper-V Manager GUI.

Note that Hyper-V Manager shows a loud, awkward complain prompt when VM's packer deletes a VM, maybe there is a way to disable this warning?

[2017-11-18 20:17] mcandre commented on #5049
Dang, I wish Packer would do a better job helping Hyper-V users get setup for HTTP servers and preseeding. I tried allowing packer.exe through the Windows firewall, but I'm still seeing that the guest (Debian in my case) cannot connect to the HTTP server for preseeding.

[2017-11-18 21:30] mcandre opened #5605 "Hyper-V MINIX: No network hardware interfaces detected!"
FOR BUGS:

The Hyper-V provider does not appear to provide a virtual network interface supported by MINIX guests.

Is there a way for packer JSON to configure Hyper-V to specify a different virtual network interface to the guest, perhaps a more generic interface that legacy guests integrate with more easily?

# System

- Packer version from `packer version`: `v1.1.3-dev`
- Host platform: Windows 1

[2017-11-19 03:42] fly1028 opened #5606 "amazon: NewSession does not inherit MaxRetries and other settings"
https://github.com/hashicorp/packer/blob/247da61ad117a329724e180fd475d55b6d0be2d4/builder/amazon/common/step_create_tags.go#L47

Should consider changing this to the following so that the MaxRetries(=11) applies when describing AMIs.
`session, err := session.NewSession(ec2conn.Config.Copy(&awsConfig))`

This is impacting our AMI creation CI using Packer quite frequently while the default MaxRetrie

[2017-11-19 06:49] rickard-von-essen commented on #5571
This [comment](https://github.com/hashicorp/packer/issues/869#issuecomment-343559068) shows a script that can take care of this.

Vagrant boxes are not inputs for `vmware-vmx`/`virtualbox-ova` they would require preprocessing . Adding that to packer would require significant changes to the core architecture.

[2017-11-19 06:54] rickard-von-essen commented on #5466
@meinteuch22 I think you are correct. This needs some deeper research and since we just print the error returned by gophercloud I think that would the best place to start checking.

[2017-11-19 12:40] richardfelkl opened #5607 "openstack: salt_masterless provisioner: Closed SSH session, return code: 2300218"
Hello,

I've got a problem when using salt provisioner or `salt-call` command with packer it immediately closes the packer SSH session ant the build exits with failure.

I'm using OpenStack as a builder. I have no problems with running the shell provisioners. But if I use `salt-call` command in a shell provisioner or if I use salt_masterless provisioner I'm having an issue above.

Is there any wor

[2017-11-19 13:42] rickard-von-essen commented on #5607
Please [gist](https://gist.github.com/) a full debug log from `PACKER_LOG=1 packer build template.json`.

[2017-11-19 14:04] peterlindstrom234 commented on #5571
@rickard-von-essen

Well, could you tell me how I would use Packer to:

  1) Install an OS from an ISO, using VMWare
  2) Save the results into a VMWare "base image"
  3) Build derivative images from the base image, still with VMWare.

My current understanding is that I can't, mostly because Packer doesn't support that kind of workflows for VMWare (nor even for VirtualBox?)

[2017-11-19 14:29] richardfelkl commented on #5607
Gist of full debug log from packer [https://gist.github.com/richardfelkl/82f8219e02f3220d5ceed3010ea646e4](https://gist.github.com/richardfelkl/82f8219e02f3220d5ceed3010ea646e4)

[2017-11-19 15:36] rickard-von-essen commented on #5607
Looks like your salt run disconnects/shutdown ssh.  That makes Packer loose the connection.

[2017-11-19 16:58] richardfelkl commented on #5607
But when I run it manuallly without Packer SSH stays connected. And If I connect to the same VM via SSH before salt-call is ran my session also stays open but packer's is closed.

[2017-11-19 18:29] rickard-von-essen commented on #5607
Can you provide your salt config?

[2017-11-19 18:49] richardfelkl commented on #5607
Of course. [https://gist.github.com/richardfelkl/447142c965582e3fd2c421c372a50ef5](https://gist.github.com/richardfelkl/447142c965582e3fd2c421c372a50ef5)

[2017-11-19 19:41] Perdjesk opened #5608 "regression for local vbox guest additions on Windows"
EDIT: Already fixed in master by https://github.com/hashicorp/packer/pull/5591

Between version 1.1.1 and 1.1.2 on Windows Host.

How to reproduce:
1. packer template with `guest_additions_url` unspecified (https://www.packer.io/docs/builders/virtualbox-iso.html#guest_additions_url)
2. `packer build template.json`

Related commit: https://github.com/hashicorp/packer/commit/3a9dfb5b1897bc3fd795ca1e

[2017-11-19 20:28] Perdjesk commented on #5608
Closed by https://github.com/hashicorp/packer/pull/5591

[2017-11-19 20:28] #5608 closed

[2017-11-20 03:10] petruchito opened #5609 "Guest additions are not copied from local path"
Using [this](https://gist.github.com/petruchito/78fc44eb0318d440581d4dec0401eb78) template, and packer v1.1.2 I'm getting an error:
[code]
Related PACKER_LOG lines:
[code]
File is there:

[code]
Running with admin privileges didn't help.

But no issues with **packer v1.1.1**, guest additions get copied flawlessly, seems something was broken in between.

[2017-11-20 11:37] olevole commented on #2711
+1 for FreeBSD/bhyve

@rickard-von-essen in 2017 still no bhyve in packer builders, work is suspended?

Serial and grub_bhyve-based boot method just awful and I'm not sure that it's necessary and/or can be easily implemented . But UEFI-based boot works fine and we can focus on it.

[2017-11-20 12:02] rickard-von-essen commented on #2711
Unfortunately I've no time to work on this currently. I have some hope to work on it during next year but don't expect to much.

[2017-11-20 17:17] SwampDragons commented on #5609
Sorry about this regression -- the good news is, it's already fixed in master [here](https://github.com/hashicorp/packer/pull/5591) and if you check out the original issue [here](https://github.com/hashicorp/packer/pull/5591) you'll see a dev binary that I uploaded that should tide you over until we release again.

[2017-11-20 17:17] #5609 closed

[2017-11-20 17:18] SwampDragons commented on #5608
Thanks for reporting; sorry for the regression.

[2017-11-20 17:22] SwampDragons commented on #5571
Probably the source of confusion here is that there are two different vmware builders.  The first, vmware-iso, builds an image from scratch from an iso. https://www.packer.io/docs/builders/vmware-iso.html . The second, https://www.packer.io/docs/builders/vmware-vmx.html, uses a vmware image as its source, which allows iteration.

[2017-11-20 17:23] SwampDragons commented on #5571
Probably the source of confusion here is that there are two different vmware builders.  The first, [vmware-iso](https://www.packer.io/docs/builders/vmware-iso.html), builds an image from scratch from an iso.

The second,[ vmware-vmx](https://www.packer.io/docs/builders/vmware-vmx.html), uses a vmware VM as its source, which allows iteration off a "base" or "golden" image.

[2017-11-20 17:26] SwampDragons commented on #5571
So what you'd do is have two different packer configs, one that generates the base image and another that generates the derivative.  These configs would use different builders entirely, and the only thing they'd have in common is that the output from one would be the input to another.  At $LAST_JOB I used two packer configs in conjunction with a CI system (in my case Jenkins) to string them togeth

[2017-11-20 17:41] SwampDragons commented on #5598
Sure -- here's the linux version, uploaded as a zipfile because github won't allow binaries.
[packer.zip](https://github.com/hashicorp/packer/files/1488574/packer.zip)

[2017-11-20 17:43] SwampDragons commented on #5598
BTW -- I edited your comments a little to remove the email gobbledygook from the issue on github.

[2017-11-20 17:53] SwampDragons commented on #5602
looks like `ssh_wait_timeout` is deprecated but there are still some instances of it hanging around in the code for backwards compatibility -- based on your experience it sounds like it's no longer backwards compatible anyway so we should probably do a code purge.

[2017-11-20 18:22] SwampDragons commented on #4433
I don't think anyone is currently working on this; it isn't that we don't want to do it, it's just that we haven't prioritized it.  But as always, PRs are welcome :)

[2017-11-20 19:02] rsjorslev commented on #4433
Unfortunately i dont know how to write go but im trying to come up with a workaround and i have outlined my idea in the following image:

![phases v0 2](https://user-images.githubusercontent.com/7449026/33035950-3716a528-ce2d-11e7-8eb5-310cbc163e25.png)

I dont know if this can serve as input to how this type of logic could potentially be build into Packer but what i have come up with is essential

[2017-11-20 20:02] carlosonunez opened #5610 "`azure-arm` builder "fails" to find your desired resource group when your service principal credentials are incorrect"
Summary
=======

**Given** an `azure-arm` builder and a Packer template consumer,
**When** I run `packer build` but provide an invalid `client_id`/`client_secret` pair,
**Then** `azure-arm` tells me that it cannot find the resource group instead of telling me that my credentials are incorrect.

Bug Details
========

- **Packer version from `packer version`**:  1.1.2
- **Host platform**: Alpine 3.6

[2017-11-20 20:03] ladar commented on #5049
@it-praktyk they are stored on a private git server. The ISOs are too large for GitHub, and since nobody has ever asked for them, I didn't think it worth the time to sanitize the repo and upload all of my files to GitHub. I'll attach the JSON file to this message, if that's all your after.

[generic-hyperv.json.txt](https://github.com/hashicorp/packer/files/1488948/generic-hyperv.json.txt)

[2017-11-20 20:35] it-praktyk commented on #5049
@ladar, thank you for sharing the file.

I'm very interested to cooperate in sanitization process - even in the private repo just now.

I think that creating some kind of a references platform to repetitive builds will be valuable for the community.

If you are interested in my proposal please let me know.

[2017-11-20 23:22] #5568 closed

[2017-11-20 23:50] cuky23 opened #5611 "centos7 headless locks up installing ubuntu1604"
- Description
When running a packer install with the following boot_prefix.
[code]
This causes the vnc connection to lock up on centos7.  I have tested this using various ways and I just cant get a consistant fix to "headless: true : centos7 host  ubtunu1604 guest

The following work
ubuntu host creating ubuntu1604 using headless: false
centos7 host creating ubuntu1604 , headless false
ubuntu host

[2017-11-20 23:51] boumenot commented on #5392
The examples for Azure show a much more robust method.  The provisioner will now poll for sysprep completion. See #5385 for details.

[2017-11-20 23:51] #5392 closed

[2017-11-21 04:16] peterlindstrom234 commented on #5571
@SwampDragons thanks for the tip!

[2017-11-21 04:52] ladar opened #5612 "packer fails to exit when output is piped (on Linux)"
When the packer output is piped to a file, or another program, it fails to exit on it's own. Sometimes you can `Control-C` a second time to kill it, but in other instances a `killall -9 packer` is required. I believe the latter is required if you abort at a specific stage (not sure which). The issue seems to appear with the latest 1.1.2 and dev versions. I know this issue didn't happen with 1.1.0,

[2017-11-21 05:04] ladar opened #5613 "Add ISO downloading to Null or File builders."
It would be nice if the File or Null builders (or even a special new builder) were available in which I could provide the iso_url, iso_checksum, and iso_checksum_type fields, whereby packer would then download the requested ISO into the packer_cache folder.

I've noticed with a handful of my distros, the ISOs download at an excruciatingly slow pace. The Debian 8 ISO in particular, takes ~1 hour ov

[2017-11-21 06:07] davis190 opened #5614 "Stackoverflow: Communicator ended with: 3221225725"
Been running into a stack overflow error all day. I have been able to reproduce using 1.1.0, 1.1.1 and 1.1.2. These are several more scripts in this build but the one below seems to be the one that mostly causes the failure. It has worked maybe twice all day but can never get it to work again after a success. All the scripts worked until updating the AMI to a newer AWS Windows 2008 R2 AMI. In my m

[2017-11-21 06:13] testworksau commented on #5559
I have the same issue with Packer 1.1.2 from a windows 10 host in the regular command prompt.

Version info:

[code]

I set `iso_url` to:

[code]

Directory contents are:

[code]

Command output while specifying the valid local file:

[code]

Note that if you actually enter an invalid filename, the output is different (the CWD is not prepended to the part where it says "Downloading or copying file

[2017-11-21 06:24] ladar opened #5615 "Add support for -parallel=[true|false|NUM]"
Low priority feature request... but it would be nice if the parallel command line option accepted a number, which represented the number of parallel builds. In other words:

[code]

My build bots can handle 2-8 parallel builds (depending on hardware, builder, etc), but if I enable parallel builds, and it tries to build all 20 at once, I run into problems with script timeouts, etc. It would be nice

[2017-11-21 07:19] rickard-von-essen opened #5616 "amazon: filter (STS) token from logging"
We should remove `token` from logs in the same way we do with `access_key` and ` secret_key`.

[2017-11-21 10:54] duckie commented on #5568
Hi @boumenot

Why did you close it ? It is not related to your PR about resource groups, or did I miss someting ?

[2017-11-21 14:23] gyorgynadaban commented on #5257
Hi, has there been any progress on this? I just ran into this, but it's a dealbreaker to be able to restart.

[2017-11-21 15:51] boumenot commented on #5568
The code checks the resource group name, and the managed disk name.  The title only said resource group name - sorry.  If you are so inclined please review the commit, or try the change and see if it catches your error.  I am interested and seeing if it does.

[2017-11-21 16:29] davis190 commented on #5614
The mystery has been solved thanks to a colleague. Increased the MaxMemoryPerShellMB. Hoping this will at least help someone in the future.

[code]

[2017-11-21 18:12] SwampDragons commented on #5257
I haven't taken a look yet but this does seem like a good one to prioritize.  I'll add it to the 1.2.0 milestone.

[2017-11-21 18:14] SwampDragons commented on #5559
@testworksau Your problem seems to be related to #5589 rather than this ticket.  It's already been fixed on master; if you want to use the dev binary provided on the other ticket, you can, or else you can downgrade until we can release the next version. Apologies for the regression.

[2017-11-21 18:17] SwampDragons commented on #5613
Why even run a builder at all?  Why not just download the file and then provide a local filepath to the iso instead?

[2017-11-21 18:25] SwampDragons commented on #5614
Thanks for sharing your solution!

[2017-11-21 19:26] ladar commented on #5613
Amongst many reasons, because git doesn't play well with large binary files. I currently store the RHEL ISOs in the repo, and it isn't pretty.

I also use multiple machines to perform the builds, and my goal is to (to the extent possible) construct my build system so such that I run ```git clone URL && cd packer && ./run.sh all``` and have everything just work.

Even with existing build bots, I pe

[2017-11-21 19:49] stevenroha opened #5617 "vhd file to upload to Azure"
Suggestion to add a feature in hyper-v builder to create the Azure supportable vhd the file, so that after customization able to Upload to Azure as Unmanaged Disks. Right now we are able to get the vhdx file however converting to Azure Supportable vhd takes a long time / not possible

[2017-11-21 19:56] SwampDragons commented on #5613
I wasn't suggesting storing the binaries in the repo.  I'm suggesting that you use one of your various helper scripts to pull the iso down to some other location on your build machine and then referencing it like `"iso_url": "/path/to/my_local_file.iso",`

But if that won't work for you, am I right in thinking you're hoping for something like this? https://github.com/hashicorp/packer/issues/351

[2017-11-21 20:04] SwampDragons commented on #5559
@cesarjorgemartinez oh hm I see.  I haven't used CygWin before.  So it looks like the pattern here is that `/cygdrive/c/foo/bar/baz.txt` should map to `C://foo/bar/baz.txt`?  and if it was `/cygdrive/d/blahblah.txt` then it should map to `D://blahblah.txt`

[2017-11-21 20:15] kwilczynski commented on #5516
Hi @qrkourier, I needed this recently too, thus I took the liberty of adding the functionality.

[2017-11-21 22:25] SwampDragons commented on #5559
@cesarjorgemartinez Can you try out this build and let me know if it solves your pathing issues?
 [packer.zip](https://github.com/hashicorp/packer/files/1493207/packer.zip)

[2017-11-21 22:28] SwampDragons commented on #5559
Oops -- just updated the binary there because I made a dumb mistake

[2017-11-21 22:39] ladar opened #5620 "hyperv-iso handles iso_url path values incorrectly (regression from v1.1.1)"
Packer appears to have developed a regressive arthropod. The issue is with packer's handling of relative path values, specifically the iso_url field, when using the hyperv-iso builder. The offending JSON value:

[code]

The path value is correct, and works properly with v1.1.1, but failed to find the ISO while attempting to build the same JSON file using packer v1.1.2. It may be worth noting this

[2017-11-21 22:44] SwampDragons commented on #5620
This is likely a duplicate of #5589 and it's been fixed on master; if you want to use the dev binary provided on the other ticket, you can, or else you can downgrade until we can release the next version. Apologies for the regression.  I'm going to leave this ticket open for now, because it's been reported enough times that I want people to be able to find an open ticket for it, until we release t

[2017-11-21 23:08] ladar commented on #5613
What's described in #351 sounds similar, in that it would support grabbing a remote file... but it appears that particular feature is focused on adding that functionality to the File provisioner (or some approximation of it). Presumably that means the go-getter would upload the retrieved file to a virtual machine. (See the asterisk above.) If the go-getter could be short circuited to grab a file,

[2017-11-21 23:17] SwampDragons commented on #5613
Okay, I can see that.  I don't like the idea of adding this to the null builder, though.  It feels tacked-on. I'd rather have some sort of download-provisioner that specifically pulls files into the packer-cache.  I'm going to warn you though, since this does have a viable workaround (shell scripting on your own), that is unlikely to break often (I'm not even sure of the last time we changed the l

[2017-11-21 23:19] ladar commented on #5620
Yes it does appear to be the same issue. Silly me, I looked for references to this issue in relation to the hyperv-iso builder. I didn't think to try searching for the references with other builders (like vmware-iso) because, at least for me, that builder worked just fine (albeit Linux)...

I'm setup to build the dev tree on Linux, but haven't done the same for Windows yet... so I can't test the f

[2017-11-21 23:22] SwampDragons commented on #5620
You should be able to build yourself a windows binary from a linux machine by running `XC_ARCH=amd64 XC_OS=windows ./scripts/build.sh` from the project root, FWIW :)

[2017-11-22 00:15] mcandre opened #5621 "Enhancement: allow relative local file for checksums"
FOR FEATURES:

Some ISO's unfortunately have unstable checksums, such as those generated for macOS, where the process of building the ISO does not result in a deterministic checksum, but is instead different each time. Fortunately, packer provides a way to externalize the checksum, so that it doesn't have to be hardcoded into the packer JSON file: Rather, the checksum is pointed at via an `iso_che

[2017-11-22 03:26] spuder opened #5622 "Windows builds on VMWare Workstation failing on 1.1.2"
# Problem
Windows 2012 reboots **are not** detected properly on packer 1.1.2 with vmware-workstation (linux).
Windows 2012 reboots **are** detected properly on packer 1.1.2 with vmware-fusion(OsX).

packer 1.0.4 and 1.1.1 work properly on both platforms.

Failures

| packer | vmware | os |
|---|---|---|
|1.1.2|workstation 12.5.4|ubuntu 16.04|

I have reproduced this over 12 times with 100% consist

[2017-11-22 06:13] davis190 commented on #5614
Going to reopen this as that doesn't appear to have solved my issue. I increased the memory even more and am not getting consistent success.

Any other thoughts on this issue?

[2017-11-22 06:21] yokzy88 opened #5623 "Confusing provisioners: ansible vs ansible-local & shell vs shell-local"
If my understanding for all 4 provisioners below are correct, then I think the definition of **-local** is confusing.
From documentation:
**Type: ansible** -> CMIIW Run ansible on **machine running the packer** (aka **local** machine)

**Type: ansible-local** -> CMIIW Run ansible on **machine created by packer** (aka **remote** machine)

-----
**Type: shell** -> CMIIW Run shell on **machine create

[2017-11-22 07:54] ilons commented on #5129
So, this is still and issue, I just hit this and spent time figuring out why 3 years later.

[2017-11-22 11:11] SurferL commented on #4904
Is there an update to the Packer side for this to work with Ansible 2.4+?

[2017-11-22 11:38] kwilczynski commented on #5623
Hi @yokzy88, I am sorry for the lack of clarity!

The explanation could, indeed, be a little bit more concise - I will look into a potential Pull Request with a clean-up. Let this with us! :)

In an essence, `ansible-local` executes locally on the remote machine that Packer is in the process of creating and/or provisioning, thus in this case the locality refers more to "on the remote node itself"

[2017-11-22 11:49] kwilczynski commented on #5616
Hi @rickard-von-essen, I am going to take care about this one, since it would help me come all the work on making my organisation compliant with ISO27001, etc., thus hiding credentials is something I would welcome going forward (since we have Packer in our pipeline to kick off AMI builds, etc.).

[2017-11-22 12:08] ruzickap commented on #4904
I can confirm the latest Packer + WinRM + Ansible 2.4.x is working fine...

[2017-11-22 12:10] SurferL commented on #4904
Hmm, I was having issues using Ansible 2.4.0, with similar issues here. Upgraded Ansible to 2.4.1 and also added the changes seen in https://github.com/hashicorp/packer/pull/5162, and now it's working fine.

[2017-11-22 13:46] neechbear commented on #1477
I see this behaviour on version 1.1.2 for x86_64 Linux. It too me time time to work out what was going on.

My provisioner configuration is:

[code]

This previously worked when I was using an older version of the Docker package which DID create the `/etc/systemd/system/docker.service.d` parent directory for me.

I then rebuild the image with Packer with a newer version Docker which does NOT creat

[2017-11-22 14:27] jamiesonbc commented on #5598
I had downloaded the master branch and recompiled for linux.  It still had the same error.   Should the fix have been in the master branch?  Is the packer.zip file you sent me from a development branch?

[cid:image001.png@01D3636B.BE208890]
[cid:image002.png@01D3636B.BE208890]

 Bryan C. Jamieson
 Senior Systems Engineer
 THD Austin Technology Center North
 13011 McCallen Pass
  Austin, Tx 78753

[2017-11-22 14:31] SurferL commented on #4904
Never mind, I still get some issues occasionally:
[code]

[2017-11-22 15:29] jamiesonbc commented on #5598
STILL GET SAME ERROR WITH PROVIDED LINUX BINARY.

@thd_bryanj
[root@packer-qa ~/opt/packer/bin]# cksum packer
203618676 85233216 packer

[root@packer-qa ~/opt/packer/bin]# cksum /tmp/swampdragons/packer
3180486763 82900905 /tmp/swampdragons/packer

[root@packer-qa ~/opt/packer/bin]# cp /tmp/swampdragons/packer ./packer_1.1.3_swampdragons

[root@packer-qa ~/opt/packer/bin]# rm packer

[root@packer-

[2017-11-22 15:48] mgresko commented on #5447
@mwhooker

This is a common issue with govcloud vs commercial.  Handling the differences between regions is part of supporting AWS.  2 cents.

[2017-11-22 15:58] manicai opened #5625 "AWS AMI copying to region of build now fails"
On AWS https://github.com/hashicorp/packer/pull/5562 appears to have changed the semantics of the `ami-region` field.

We specify the builder as:

[code]

This worked in Packer 1.0.0 but fails in in Packer 1.1.2 with the error

"Cannot copy AMI to AWS session region 'eu-west-1', please remove it from `ami_regions`"

Previously the copy to the same region as the one specified by `region` was a no-o

[2017-11-22 18:33] spuder commented on #5622
Here is a more complete log

https://gist.github.com/spuder/0b745828383ba390521b67ce4bbc7023

The first time packer tries to restart, it writes 0 bytes to stderr and stdout

[code]

Every time after that it writes
 40 bytes to stderr
[code]

Also strange is that it only tried to restart the system 4 times. In many of the other times I've reproduced this it has tried to restart dozens of times.

[c

[2017-11-22 18:46] Thaneesha opened #5626 "Enhancement"
I have 100 accounts in AWS and I would like to bake an AMI and copy the AMI into all the accounts and encrypt them through the packer.

Is it possible with post-processor to run the was cli commands to encrypt the AMI's?

[2017-11-22 18:50] nyetsche opened #5627 "Packer uses private IP (and fails) when building on C5.* instance"
I'm unable to launch and provision a `c5.large` instance type in AWS. These were recently released by AWS - https://aws.amazon.com/about-aws/whats-new/2017/11/introducing-amazon-ec2-c5-instances-the-next-generation-of-compute-optimized-instances/ and https://aws.amazon.com/blogs/aws/now-available-compute-intensive-c5-instances-for-amazon-ec2/ - and are notable that they _require_ `ena` support: ht

[2017-11-22 20:59] brupelo opened #5628 "Guest additions download failed using virtualbox-iso builder type"
Consider this template.json:

    {
        "variables": {
            "ssh_name": "vagrant",
            "ssh_pass": "vagrant",
            "hostname": "packer-test"
        },

        "builders": [{
            "type": "virtualbox-iso",
            "guest_os_type": "Ubuntu_64",

            "vboxmanage": [
                ["modifyvm", "{{.Name}}", "--vram", "32"]
            ],

            "di

[2017-11-23 00:09] riponbanik opened #5629 "packer winrm fails"
Packer WinRM on http fails with error http response error: 403 - invalid content type, with https it shows
connection error: unknown error Post https://xxxx:5986/wsman: Forbidden

- Packer version from `packer version` - 1.1.1
- Host platform - Linux
- Debug log output from `PACKER_LOG=1 packer build template.json`.
https://gist.github.com/riponbanik/a2897334eb4b83c01c4090518cd75975

- The _simple

[2017-11-23 11:33] FernandoMiguel commented on #5626
@Thaneesha
this should work for what you want
https://www.packer.io/docs/builders/amazon-ebs.html#ami_users
https://www.packer.io/docs/builders/amazon-ebs.html#encrypt_boot

[2017-11-23 15:12] brupelo commented on #5628
@SwampDragons Hi there, any clue about this one? Please take a look to this [test](https://dl.dropboxusercontent.com/s/1qrhtpye73n48bq/ConEmu_2017-11-23_16-10-14.png) using the above template.

Asking to you cos I've seen this [https://github.com/hashicorp/packer/issues/5609](https://github.com/hashicorp/packer/issues/5609) and it feels this is kinda related.

Thanks.

[2017-11-23 22:48] kwilczynski commented on #5611
Hi @cuky23, sorry that you are having issues getting it to work.

I am not entirely sure what precisely is the issue in your case, and having the part of the Packer debug output from the section when it boots up the machine and tries to send characters to the keyboard buffer ("type them" in other words) to set the boot command, etc. Thus, if you have a moment and could make a nice Gist with the lo

[2017-11-24 08:26] filterfish commented on #5508
I'm having the same problem but fortunately I have an older version of `lxd` running and `packer` works with that version.

I _think_ file copying within `lxd` is currently broken which is causing problems with `packer`. See lxc/lxd/4050

[2017-11-24 23:11] filterfish commented on #5508
It would seem that `lxc file push` not working was a red herring; I hadn't restarted LXD after upgrading it.

@zacksiri try restarting LXD and see what happens.

[2017-11-26 03:40] mcandre opened #5633 "Add <leftCmdOn>, <leftCmdOff> keys for macOS guests"
FOR FEATURES:

Packer currently does not provide a convenient way to signal to a VM that the Command key should be held down or let go. Please add `<leftCmdOn>`, `<leftCmdOff>` so that important macOS guest hotkeys can be typed into VM's.

[2017-11-26 04:51] mcandre opened #5634 "boot_command syntax for sending custom key codes"
FOR FEATURES:

The packer boot_command syntax is far from complete for describing the kinds of keys that can be sent to guest VM's.

I'd like to see PR's to arrive for `<leftCmdOn>`/`<leftCmdOff>` (Command key in macOS), `<leftWinOn>`/`<leftWinOff>` (Windows key in Windows), `<leftSupOn>`/`<leftSupOff>` (generic Super key in macOS/Windows/Linux). In the meantime, however, it would suffice if packe

[2017-11-26 05:13] rickard-von-essen commented on #5633
This key is called `L_GUI`/`R_GUI` in keyboard nomenclature.

[2017-11-26 05:14] rickard-von-essen commented on #5634
_Windows/Command/Super_ keys are all called L_GUI/R_GUI in keyboard nomenclature.

[2017-11-26 05:33] mcandre opened #5635 "boot_command scancodes warped for macOS guests"
macOS guests do not follow Linux keyboard scancodes, but have their own scancode mapping:

https://developer.apple.com/legacy/library/documentation/mac/pdf/MacintoshToolboxEssentials.pdf

Specifically:

https://github.com/phracker/MacOSX-SDKs/blob/master/MacOSX10.6.sdk/System/Library/Frameworks/Carbon.framework/Versions/A/Frameworks/HIToolbox.framework/Versions/A/Headers/Events.h#L267-L315

For ex

[2017-11-26 15:20] lmayorga1980 opened #5636 "add validation for virtualb-iso with vsphere-postprocessor"
It would be nice to know beforehand that running a post-processor vsphere is not compatible with virtualbox-iso builder type.

[code]

[2017-11-26 19:08] sjmorse commented on #4585
I've dug further into the code, and tested some changes changes that would resolve the slashes, however the overall problem with this provisioner is that it really wasn't written to work with windows. All the commands in this provisioner are unix specific, and would either require having cygwin tools on the path or be refactored to add native commands from the guest_commands package. I've tossed m

[2017-11-27 02:45] riponbanik commented on #5629
Issue is not fixed on 1.1.2

[2017-11-27 18:26] SwampDragons commented on #5629
Normally I see this kind of issue when the user data file isn't doing everything it needs to.  Can you provide me with that script so I can see what your build is actually trying to do on the vm?

[2017-11-27 19:00] SwampDragons commented on #5636
Thanks for reporting -- sounds like this needs to be fixed in validation so that the build can fail early, and clearly.

[2017-11-27 19:04] SwampDragons commented on #5634
Whoever takes this on should probably tackle this at the same time as https://github.com/hashicorp/packer/issues/5635

[2017-11-27 19:13] SwampDragons commented on #4585
You're probably right about the refactor and the unit tests; this is likely going to be a big process. PRs are always welcome.

[2017-11-27 20:11] rickard-von-essen commented on #5635
I don't think all of this is entirely accurate. Scan codes are not os dependant in general.

[2017-11-27 20:46] SwampDragons commented on #5628
If this doesn't work on the 1.1.3-dev binary linked in that other ticket it isn't directly related to the issue I referenced when closing that ticket.  Did this work on 1.1.1?  Has this worked with any Packer version?

[2017-11-27 20:52] mcandre opened #5637 "Add darwin17-64 guest os type for vmware-iso builder"
FOR FEATURES:

Thank you for including darwin-64, darwin10-64, darwin11-64, darwin12-64, darwin13-64, darwin14-64, darwin15-64, darwin16-64 guest os types for the VMware ISO builder. Could we please add the darwin16-64 type as well, corresponding to macOS 10.13 High Sierra?

Incidentally, should packer users specify darwinXY-64 or just darwin-64 for guest type? Does darwin-64 correspond to the lat

[2017-11-27 22:47] brupelo commented on #5628
Well, I had tried using the virtualbox-provisioner with few versions of packer and none of them seemed to work with this basic feature, after seeing nobody was replying to the ticket i've just decided to discard the idea of using packer till becomes mature enough and just coming back to fabric to provisioning my boxes ;) .

Btw, is this project maintained by hashicorp employees or just external co

[2017-11-27 22:54] SwampDragons commented on #5628
There are two Hashicorp employees dedicated to Packer, but both of us are located in the United States and were on vacation for Thanksgiving last week.  Sorry we didn't acknowledge your ticket earlier; hopefully you'll give it another chance sometime.

[2017-11-27 23:02] brupelo commented on #5628
@SwampDragons Oh, thanks for the fast reply, good to hear that... My bad, I assumed very fast the project was unmaintained and i've thrown the towel too fast. But if it's so I'm willing to try again of course.

In any case, I'm a c++/python developer with 0% knowledge of rust so not sure whether I'll be able to contribute to help providing any PR. But still... if you need help to speed up or testi

[2017-11-27 23:24] SwampDragons commented on #5628
Cool -- We do try to support windows properly but I will admit that we're not always quite as successful as we'd like.  I'll have to spin up a windows 10 vm with virtualbox to test this out, but I'll get on it once I've finished triaging tickets that piled up during the holiday.  Until then... my gut instinct is that this may be an issue with how we're handling the space in the filepath.

[2017-11-27 23:27] SwampDragons commented on #5628
BTW if you've got a C++/Python background then golang (Packer's in go, not Rust) should be right up your alley.  To me, it feels something like a nice mix of the two.

[2017-11-28 00:45] SwampDragons commented on #5621
Yeah it sounds like the solution is to fix the interpretation of the checksum filepath to allow it to be relative.

[2017-11-28 00:46] SwampDragons commented on #5625
@mwhooker what do you think about this one?  I believe the linked issue was yours.

[2017-11-28 00:50] SwampDragons commented on #5621
We should be able to reuse the DownloadableURL code here https://github.com/hashicorp/packer/blob/master/common/config.go#L49. which is what we use for interpreting the iso file path.

[2017-11-28 00:55] mcandre opened #5639 "boot_command: Offer <wait60>, <wait300>, <wait3600>, <wait n>"
FOR FEATURES:

Some installer commands take more than a few seconds to complete. `boot_command` does offer a convenient `<wait>`, `<wait5>`, `<wait10>` to delay further keyboard input by a few seconds, and these could in theory be duplicated to accommodate really long delays. However, 240 of these `<wait10>`'s would be required to delay 40 minutes or more, and this results in a much longer packer

[2017-11-28 00:58] #5623 closed

[2017-11-28 01:00] SwampDragons commented on #1477
@neechbear sorry you're experiencing an issue, but this is a really old ticket.  Can you open a new one with all the steps to reproduce we request in our issue template?

[2017-11-28 01:01] SwampDragons commented on #5626
I'm closing this issue because it seems like Fernando has given you the information you need; if that isn't true please re-open.

[2017-11-28 01:01] #5626 closed

[2017-11-28 01:10] mwhooker commented on #5639
you should be able to use `<waitN>` where N is a time parsable by [`time.ParseDuration`](https://golang.org/pkg/time/#ParseDuration)

if that doesn't work for you feel free to open an issue

[2017-11-28 01:10] #5639 closed

[2017-11-28 01:19] SwampDragons commented on #5598
Can you share a gist of the entire log with `PACKER_LOG=1` set in your environment?

[2017-11-28 01:21] SwampDragons commented on #5598
That error looks like it's occurring in the decode section, which is strange -- I don't remember it changing any time recently.  Will investigate more.

[2017-11-28 01:28] #5620 closed

[2017-11-28 02:15] mcandre opened #5640 "Can't connect to http://{{.HTTPIP}}:{{.HTTPPort}} for preseeding with macOS guests"
FOR BUGS:

Describe the problem and include the following information:

curl comes preinstalled in macOS 10.13 High Sierra install discs, however `curl http://{{.HTTPIP}}:{{.HTTPPort}}/install.sh` fails with `Couldn't connect to server`. For some reason, packer is unable to setup virtual networking so that the macOS guest can access the packer `http` server for preseeding scripts.

- Packer versio

[2017-11-28 02:51] brupelo commented on #5559
Little note regarding to this issue, on the recently closed [ticket](https://github.com/hashicorp/packer/issues/5628) I had opened (possible duplicate of this one) I had used conemu to test few versions of packer (the official one from website and the latest master one 4/5 days ago). Good thing about [conemu](https://conemu.github.io/) is that testing different terminals like cygwin/msys/cmd/power

[2017-11-28 02:59] riponbanik commented on #5629
@SwampDragons There is no issue with user data. The same thing works with packer version 0.9.0. I have also verified using Ansible to remote into the machine.

However I have added it below for your reference -

https://gist.github.com/riponbanik/319f8b1ffa760bd723723874fa6d43bc

[2017-11-28 03:46] SwampDragons commented on #5628
I don’t think these are dupes, actually. Will investigate tomorrow though.

[2017-11-28 05:25] matthew-hickok opened #5642 "SSH timeout because IP address changes"
- Packer version: v1.1.2
- Host platform: Hyper-V on Windows Server 2016
- Guest: CoreOS

I'm getting stuck creating a Hyper-V image for CoreOS. I've get everything working on VMware Workstation, but with Hyper-V I get stuck waiting for SSH to become available. I noticed that when Packer initially creates the VM, it boots to disc, has one IP address, and then when it reboots after the install to h

[2017-11-28 06:19] rickard-von-essen commented on #5637
Packer just passes `guest_os_type` to the VMX file. So we support whatever your version of VMware does.

[2017-11-28 06:24] rickard-von-essen commented on #5640
You haven't specified `http_directory`.

[2017-11-28 06:31] rickard-von-essen commented on #5640
For some excellent macOS templates see https://github.com/timsutton/osx-vm-templates

[2017-11-28 06:31] #5640 closed

[2017-11-28 11:40] avoidik opened #5643 "Packer is unable to get OVF template file from local folder"
- Packer version from `packer version`
[version.log](https://gist.github.com/avoidik/02ff0e6b65cc6793e04c767e7f969b31#file-version-log)

- Host platform
Microsoft Windows [Version 10.0.14393]

- Debug log output from `PACKER_LOG=1 packer build template.json`.
[error.log](https://gist.github.com/avoidik/02ff0e6b65cc6793e04c767e7f969b31#file-error-log)

- The _simplest example template and scripts_

[2017-11-28 13:49] juaningan opened #5644 "Support for xz compressed raw images"
A lot of distros (fedora cloud, rhel, centos, opensuse...) are distributing they raw cloud images in raw.xz format. It will be interesting to uncompress 'automagically' by packer for no broke the workflow (iso download, checksum and cache)

[2017-11-28 14:28] jamiesonbc commented on #5598
new gist for log file created  "log file for unknown configuration key: "floppy_dirs" #5598" https://gist.github.com/jamiesonbc/157f2a6a9ceb2a59c2ba4482315d094d

[2017-11-28 14:29] jamiesonbc commented on #5598
new gist for log file created "log file for unknown configuration key: "floppy_dirs" #5598<https://github.com/hashicorp/packer/issues/5598>" https://gist.github.com/jamiesonbc/157f2a6a9ceb2a59c2ba4482315d094d

[cid:image001.png@01D36822.F8CA4A60]
[cid:image002.png@01D36822.F8CA4A60]

 Bryan C. Jamieson
 Senior Systems Engineer
 THD Austin Technology Center North
 13011 McCallen Pass
  Austin, Tx 7

[2017-11-28 14:52] rickard-von-essen commented on #5598
Your install is broken. Remove your current install directory and reinstall from [packer.io/downloads](https://www.packer.io/downloads.html). _Be sure to read the [**note** about upgrading from < 0.9.0.](https://github.com/hashicorp/packer/commit/1994793126f948dd99c8acdd35f999df0c6ab342)_

[2017-11-28 14:52] #5598 closed

[2017-11-28 15:52] pixelicous commented on #2648
Just want to give my two cents.. i saw so many threads, this is obviously not a WinRM issue, i've seen files sent much quicker..

The most quickest solution for me was to use powershell provisioner inline, download azcopy using web request, install the msi silently and use the exe file to download the files to the vm from an azure storage

I tried using the ssh communicator with OpenSSH, no proble

[2017-11-28 15:56] akamalov opened #5645 "Specify either a VHD (storage_account and resource_group_name) or Managed Image (managed_image_resource_group_name and managed_image_name) output"
[code]

*File: centos_managed.json*

[code]

Greetings,

Trying to create managed disk  - CentOS7.3. I am working off Ubuntu template - https://github.com/hashicorp/packer/blob/master/examples/azure/ubuntu_managed_image.json.

Attempt to build and upload:

[code]

My Env variables already exported:

[code]
Any pointers why is it failing ?

[2017-11-28 17:10] boumenot commented on #5645
The best place to start is with the [docs](https://www.packer.io/docs/builders/azure.html).

The error message is clear to me, but I am biased.  If this is your first exposure to it, I would like to hear your thoughts on what we can do to make it clearer.

[code]

Your configuration has a **resource_group_name** and a **managed_image_resource_group**.  You are not allowed to do that, you must pick

[2017-11-28 17:10] #5645 closed

[2017-11-28 17:25] SwampDragons commented on #5559
@brupelo that's a cool site - thanks for the recommendation.

[2017-11-28 17:36] wonderphil opened #5646 "Script disconnected unexpectedly"
Keep getting `Script Disconnected unexpectedly` when trying to build an Amazon EC2 ubuntu 16.04 instance.  packer script is [here](https://gist.github.com/wonderphil/e6ed20860a5b9cfa76102e3aa40faa74)

If i runn all the commands by hand against an instance it works fine no issue, but every time packer run we get the above error, with logging we can see:

[code]

- Packer version `Packer v1.1.0`
- R

[2017-11-28 17:46] rickard-von-essen commented on #5646
You restart ssh in the middle of your script. If you split into two parts, ending the first just after the restart and mark that part with `expect_disconnect` I think it should work.

[2017-11-28 18:31] wonderphil commented on #5646
We dont do any restarts, the ansible step that it seems to fail on every time is installing Perl patch command below, which when run by hand takes less then a min and doesnt drop ssh or reload shell:

[code]

That said we tried adding

[code]

to the provisioner and this time, we see it reconnect and end:

[code]

[2017-11-28 18:35] rickard-von-essen commented on #5646
Line 90?

[2017-11-28 19:22] ladar commented on #5613
I briefly looked into this, but couldn't guess the packer_cache naming convention. The ISO files are being saved using filenames that are clearly a SHA256 sum, in hex, but not the hex value provided in the JSON file (which would have made the most sense).

Granted I could have looked at the code... but opted to use my dummy vmware-iso configurations strategy instead, as it means one less external

[2017-11-28 19:25] akamalov commented on #5645
thanks so much @boumenot

[2017-11-28 19:29] wonderphil commented on #5646
but its failing at line 115, it get pass line 90 no issues

[2017-11-28 21:35] SwampDragons commented on #5613
You don't need to use packer_cache if you are providing a path to a local file.  It can be stored anywhere, under any name, and packer will use the file where it lives rather than pulling it into the cache and renaming it.

The purpose of the null builder is for debugging; it isn't supposed to "do" anything, as indicated by its name. I don't like violating that assumption, especially in cases like

[2017-11-28 21:52] ladar commented on #5613
Builds will break if the ISOs are absent, and the user doesn't know they need to run the helper script separately...

By sticking with URLs I ensure everything just works (except for the RHEL box), and can still avoid the lag be seeding the packer_cache separately.

I thought one of the functions provided by the Null builder was to allow the provisioning of boxes/machines that were NOT created by

[2017-11-28 21:53] SwampDragons commented on #5613
The more I think about this issue, the more I don't really think it makes sense to implement it.  It would overload the null builder. Your particular problem ("downloading takes a long time and I want to do it before my packer run") really feels like it needs to be managed outside of Packer.  The tools are there, and lots of people already do this.

If you need a hand figuring out how to tell Pack

[2017-11-28 21:53] #5613 closed

[2017-11-28 22:03] SwampDragons commented on #5613
I don't see why the user would need to know anything about downloads if all you want them to do is a `git clone URL && cd packer && ./run.sh all` -- if you make sure the files are downloaded in `run.sh` then the user can be as naive as anything and the build will still run.

[2017-11-28 22:05] SwampDragons commented on #5613
I actually do like the `packer cache` idea, though.  That's a much more specific and clean way of handling this case.

[2017-11-28 22:12] ladar commented on #5613
When I build the generic boxes, there are 20 different configs, which are built sequentially. The whole process can take 12 to 18 hours. Since I can't build 2-4 at a time, they have to go single file. My goal is to speed up the process.

What I noticed was the alpine35/alpine36/arch configs would build in during the first hour, and then I'd  reach the debian8 box which needed to pull the ISO from

[2017-11-28 22:40] ladar commented on #5613
I created a `./run.sh cache` target which uses the dummy JSON to seed the cache. I just didn't think run.sh should contain the URLs separately from the JSON. I already have targets `links` which verifies all JSON URLs are still valid, `sums` which downloads the ISOs and compares the hash with what's in the JSON file, and `isos` which updates the Gentoo/Arch configs with the latest URL, hash.... bu

[2017-11-28 23:12] SwampDragons commented on #5642
Have you gotten this to work before, or are you trying to figure out Packer for the first time?  Normally for "question" issues we refer people to the mailing list: https://groups.google.com/forum/#!forum/packer-tool

[2017-11-28 23:52] matthew-hickok commented on #5642
@SwampDragons I'm pretty familiar with Packer, but less familiar with the details of its implementation of the hyper-v builder.

My builds work with CoreOS+VMware and anything+Hyper-V, but specifically Hyper-V+CoreOS seem to have an issue with IP address detection.

So I guess this is just a question, but I can't find any information on how exactly packer detects a guest's IP address on Hyper-V. I

[2017-11-29 00:05] SwampDragons commented on #5613
I do see the value in what you're asking for, but I believe it belongs in something along the lines of a `packer cache` tool rather than shoehorning it into the null builder.  And again, while I think it's a nice idea, I know we aren't going to prioritize implementing it ourselves because this is such a specific use case and you've already got a workaround.

[2017-11-29 05:46] rickard-von-essen commented on #5642
Packer first uses [this powershell script](https://github.com/hashicorp/packer/blob/master/common/powershell/hyperv/hyperv.go#L946) find the mac of the VM, and then the following script to get the IP associated with the mac.

Check and what you get if you run those manually.

[2017-11-29 12:43] edmorley commented on #5466
Hi! I've managed to get the test build above working (I think it's based on an older Packer base revision which doesn't appear to like the `version` property in the packer template), however I still can't work out what's failing from the log output:
https://travis-ci.org/travis-infrastructure/packer-build/builds/308944435#L1201

[2017-11-29 14:09] lawrence-c opened #5651 "'��' is not recognized as an internal or external command"
Packer version: 1.1.2
Host Platform: Mac OSX to Windows via [VSphere](https://github.com/jetbrains-infra/packer-builder-vsphere) provisioner

**Summary**
As a part of my provisioning, I get the IP address of the machine being provisioned via an inline `windows-shell` command.

Very very occasionally, it fails with the error `��' is not recognized as an internal or external command`, and I'm not to

[2017-11-29 15:40] codekipple commented on #788
Interestingly I was hitting this problem and the cause was the name I was using in the `source_ami_filter`.
See below I was using `Base-*` but in fact the base ami I wanted to build off was just called `base-1511969253`.

    "builders": [{
      "source_ami_filter": {
        "filters": {
          "virtualization-type": "hvm",
          "name": "Base-*",
          "root-device-type": "ebs"

[2017-11-29 15:54] soner89 commented on #5629
I'm having the same issue with Packer 1.1.2

Packer just doesn't seem to get a winrm connection to the Windows 2012 R2 builder instance on AWS.

Another issue is, that I can't get a winrm-connection with the Packer-generated Security Groups either.
I know, you shouldn't do this but for debugging purposes I opened up All traffic to 0.0.0.0/0 and could connect to winrm on the ec2-instance from my lo

[2017-11-29 17:25] SwampDragons commented on #5629
@soner89 here's a working example of a windows 2012R2 build that successfully runs, using the same image that @riponbanik is trying to get working: https://gist.github.com/SwampDragons/a9f32e3852e08a6fa113fa927b53f1de

Still looking into this.  I have no definitive answer as to why @riponbanik is not able to get their build working, but I think it may have to do with setting ssh_private_ip, since

[2017-11-29 17:32] SwampDragons commented on #788
@codekipple that's really interesting... maybe we should add a line to the docs stating that the ami name is case sensitive.

[2017-11-29 19:16] SwampDragons commented on #5629
@riponbanik Can you please try to boot the vm using the user-data provided in the above gist?  I can't seem to get your user-data script to work. Just for my sanity's sake.  Thanks.

[2017-11-29 19:22] SwampDragons commented on #5629
Hmm I think this might actually be a dupe of https://github.com/hashicorp/packer/issues/4857

[2017-11-29 19:33] rickard-von-essen commented on #788
@codekipple the biggest problem with that filter is that you _don't_ specify owner or the AMI, so you get the latest public AMI which matches your filter. "Always" specify `owners`.

[2017-11-29 19:38] SwampDragons commented on #5613
it also occurs to me you may not know about this feature: https://www.packer.io/docs/builders/vmware-iso.html#iso_urls

[2017-11-29 19:49] SwampDragons commented on #5613
Also: https://github.com/hashicorp/packer/blob/master/common/step_download.go#L75-L78 is where we hash the URL to get the name of the file in the cache.  It's just a hex encoding of the URL.

[2017-11-29 20:23] mwhooker commented on #4857
to be clear, setting `NO_PROXY="*"` isn't a valid solution for all of you?

[2017-11-29 20:27] vrivellino commented on #4857
@mwhooker: Correct, it is not a valid solution for us . We need most API calls (for example, AWS API calls) to go out through our egress proxy, but packer connects directly to the EC2 instance it's configuring/imaging.

[2017-11-29 20:31] mwhooker commented on #4857
I see, that makes more sense. thanks!

On Wed, Nov 29, 2017 at 12:27 PM Vincent Rivellino <notifications@github.com>
wrote:

[2017-11-29 20:33] SwampDragons commented on #5614
hmm I can't find the ami `ami-8d40c9f7` in us-east-1.

[2017-11-29 20:47] mwhooker commented on #4857
@vrivellino any chance you'd be able to test the pr in #5630?

The theory is that you set the `ssh_interface` to public/private_dns and then set `NO_PROXY="*.amazonaws.com"` I believe

[2017-11-29 21:38] vrivellino commented on #4857
@mwhooker I'd be happy to give it a try.  Dumb question: how do I get a build of that branch?

[2017-11-29 21:43] mwhooker commented on #4857
@vrivellino not a dumb question at all, that's one of the trickiest parts about testing branches, and something we're trying to improve. You can either follow the instructions to make a build here https://github.com/hashicorp/packer/blob/master/CONTRIBUTING.md#setting-up-go-to-work-on-packer and here: https://github.com/hashicorp/packer/blob/master/CONTRIBUTING.md#working-on-forks

or you can tell

[2017-11-29 21:51] Philippe23 commented on #3317
@jakemig you just saved my life with that.  I'm getting the error 100% of the time from a Win10 cmd.exe prompt when trying to upload a Linux GameLift build via `aws gamelift upload-build`, where the code page is 437.  Just like you said, manually switching to 850 fixes the error.  I bet it has something to do with the upload progress display.

[2017-11-29 21:52] ladar commented on #5613
I'm aware... unfortunately the EOL'ed installer discs for distro versions like Debian 8.9.0, Ubuntu 16.10, et all, don't get replicated to mirrors, so I don't have many choices in terms of where to download them from.

As for the current distros, it wasn't clear whether packer tries to pick the fasted download location, or just tries the URLs in order. I assumed it was the latter, so I just try to

[2017-11-29 21:57] SwampDragons commented on #5613
@ladar cool, glad to be of _some_ help.  I was recommending the iso_urls thing because it occurred to me that you could have the first url in the list be the local filepath, followed by a backup download url, to prevent the situation where someone runs a build without the wrapper and you haven't pre-downloaded the isos, causing the build to fail.  I've been mulling over this ticket and your setup

[2017-11-29 21:58] SwampDragons commented on #5613
also, it is a SHA, but of the URL text not of the iso itself.

[2017-11-29 22:04] SNikalaichyk opened #5652 "Degraded Ansible provisioner performance with latest AWS Windows Server 2016 AMIs"
Packer 1.1.2
Builder: amazon-ebs
Provisioner: ansible (Ansible 2.4.1)
Communicator: WinRM

**SUMMARY**

In our environment we rely on Packer in combination with its Ansible provisioner to build Windows Server 2016 AMIs in AWS.

After October's AWS Windows base AMI release (2017.10.13), we noticed significant performance degradation of Ansible provisioner ([AWS Windows AMI Version History](http://d

[2017-11-29 23:17] SwampDragons commented on #5652
Thanks for reporting this!  Can you please provide:
- Host platform
- Debug log output from `PACKER_LOG=1 packer build template.json` in a gist
- The _simplest example template and scripts_ needed to reproduce the bug, also in a gist.

[2017-11-29 23:29] ChrisMoran64 commented on #4857
NO_PROXY=”*” is not an option for us either

From: Matthew Hooker <notifications@github.com>
Reply-To: hashicorp/packer <reply@reply.github.com>
Date: Thursday, 30 November 2017 at 7:24 am
To: hashicorp/packer <packer@noreply.github.com>
Cc: Christopher Moran <Christopher.Moran@versent.com.au>, Comment <comment@noreply.github.com>
Subject: Re: [hashicorp/packer] amazon/ebs: need a way to disable p

[2017-11-29 23:37] ladar commented on #5613
I appreciate the dialogue. I considered patching the iso functionality onto the Null builder myself, but it didn't make sense to spend the time, if the PR wasn't going to be accepted.

As for my setup, a full build for me is up to 136 boxes. Which means if I make a change, and kickoff the process, I need to wait 12-24 hours for the results. While I'm waiting, I tend to impatiently seek out ways of

[2017-11-29 23:46] shahbhavya85 opened #5653 "unknown configuration key: "build_resource_group_name"
packer version: 1.1.2
builder: azure-arm

Trying to use build reource group in azure and running into this error.

Template validation failed. Errors are shown below.

Errors validating build 'azure-arm'. 1 error(s) occurred:

* unknown configuration key: "build_resource_group_name"

Any idea why it is happening?

[2017-11-29 23:55] boumenot commented on #5653
The feature that uses build_resource_group_name is targeted for 1.2.0 (last I checked), and is not available in 1.1.2.

[2017-11-29 23:55] #5653 closed

[2017-11-29 23:57] shahbhavya85 commented on #5653
Thanks! Do we have any targeted date for 1.2.0 release?

[2017-11-30 00:03] mwhooker commented on #5653
@shahbhavya85 nothing firmer than "soon". sorry! we try to release every 3 weeks or so, but we've been out on holiday last week so things are a bit behind

[2017-11-30 00:30] jamielennox opened #5654 "Using build_resource_group_name in Azure doesn't cleanup keyvault"
So I'm testing out the unreleased "build_resource_group_name" from #5045 and #5548 and on cleanup I'm left with the keyvault object hanging around.

Looking through the code is a fairly obvious problem we deploy 2 templates, the keyvault and the vm resources, but we only save 1 ArmDeploymentName in the statebag that gets cleaned up at the end. The other is basically dropped.

There's a few ways we

[2017-11-30 00:32] mwhooker commented on #5654
cc @ArjenSchwarz

[2017-11-30 00:34] SwampDragons commented on #5628
@brupelo I think you were right; this looks like it was a dupe of https://github.com/hashicorp/packer/issues/5609 -- I just got a windows 10 box running virtualbox with a dev build of packer, and I didn't run into your error... which means I believe this should be fixed for you in the next release.

[2017-11-30 00:36] SwampDragons commented on #5628
Meanwhile, the binary I uploaded here: https://github.com/hashicorp/packer/issues/5589#issuecomment-345035161 should tide you over if you want to try on a dev-build.

[2017-11-30 00:38] jamielennox commented on #5654
Note, only affects building windows images on azure. Linux images don't involve a keyvault.

[2017-11-30 00:38] SwampDragons commented on #5559
@cesarjorgemartinez have you had a chance to try the branch I built for you?

[2017-11-30 00:44] dhermans commented on #4857
hi - i can also volunteer to test quite quickly if a build is available

linux x64

[2017-11-30 01:30] mwhooker commented on #4857
@dhermans, here's the build for linux/amd64 [5630.zip](https://github.com/hashicorp/packer/files/1516228/5630.zip)

[2017-11-30 02:15] boumenot commented on #5654
Apologies that this escaped us, but thank you for taking the time to test out unreleased code.

Let me see what I can do to fix this.  It should be easy enough to detect it is Windows, and then cleanup the KeyVault in addition to everything else that was deployed.

[2017-11-30 03:05] jamielennox commented on #5654
Another issue, which i can assign a new bug for if you like but is related to this work.

If you use an existing resource group then you shouldn't provide "location" as a config option, it should be determined by the location of the resource group.

[2017-11-30 03:11] dhermans commented on #4857
hi @mwhooker
Thanks for promptly providing the test packer

I have tried it out without success, added "ssh_interface": "private_dns" to my template

test 1 - I added my private DNS zone to the no_proxy variable
this failed. Monitoring proxy logs I can see that packer is using the AWS provided DNS zone, eg
POST http://ip-10-39-128-185.ap-southeast-2.compute.internal:5985/wsman

Note that I can use

[2017-11-30 03:16] jamielennox opened #5655 "'build_resource_group_name' should be mutually exclusive with 'location' in Azure"
In master when using an existing resource group with 'build_resource_group_name' you shouldn't have to specify a 'location'. Location is used to tell Azure where to build the resource group.

If you get this value wrong (as i just did) then it can't find the image to capture it even though we only just finished building it.

You could make it optional or validate its correctness, but personally i'

[2017-11-30 03:38] ArjenSchwarz commented on #5654
@boumenot if you're looking at this already I'll let you lead, but I'll have a look at it as well. As you say, it should be possible to check for this extra template and do similar cleanup work.

@jamielennox let me say a thank you as well for reporting this.

[2017-11-30 03:49] jobwat commented on #5625
Same here!

And it's newliy introduce from that version:
- 1.1.1 was still working
- 1.1.2 is definitely failing

[2017-11-30 04:19] dhermans commented on #5654
hi - can we get a test build (linux x64) of this feature? We can test quite quickly

[2017-11-30 05:58] boumenot commented on #5654
I [uploaded builds to my OneDrive](https://1drv.ms/f/s!AmGtc0f52KBYgcpny1TFN9Pf-UzW9A) from the tip of master for darwin, linux, and windows.  Give it a spin, and lets us know how it works.

[2017-11-30 06:59] Tarvinders commented on #4201
Yes the problem is with wrong Object ID. You will find the right Object ID in RoleAssignments page and not on the Azure AD page where the application is registered. To find the right one, use command line which is fairly straightforward.

1. Login to your account
Login-AzureRmAccount

2. You have to set teh subsciption if the below command doesnt implicity set your subscription. It took me very lo

[2017-11-30 07:25] karousn commented on #5052
same question as @cdhunt !

[2017-11-30 09:13] mhmsh commented on #5052
So problem was just an weird env variable set for some strange reason. via powershell i looked at all ver env's and found one pointing my temp to C:\Users\M43EA~1.GAM, which didnt exist. Manually i set it to something like C:\temp and everything worked.

[2017-11-30 10:47] joonaskaskisola commented on #5627
Also facing this issue.

[2017-11-30 11:07] rickard-von-essen commented on #5627
Could you provide the output of `aws ec2 decribe-instances --instance-ids <instance-id>` for the running instance.

[2017-11-30 11:36] joonaskaskisola commented on #5627
@rickard-von-essen

[code]

[2017-11-30 14:55] cally725 opened #5657 "Packer Vagrant box hags at Configuring network adapters within the VM with RedHat 7.4"
Version

Vagrant 1.9.6 running
packer 1.1.1
VMWare Workstation 14.0

vagrant-share (1.1.9, system)
vagrant-vmware-workstation (5.0.4)

Host operating system

Windows 10

Guest operating system

RedHat 7.5

Packer json file

{
    "variables":
   {
  "iso_url": "////stmocdi01/CI-CD/Test/Linux/rhel-server-7.4-x86_64-dvd.iso",
  "iso_checksum": "431a58c8c0351803a608ffa56948c5a7861876f78ccbe784724dd8c

[2017-11-30 17:43] #5543 closed

[2017-11-30 18:09] shriganeshs opened #5658 "Packer build command deletes existing resource group when provided through "temp_resource_group_name""
Packer version: 1.1.1
builder: azure-arm

As my Service Principal credentials does not have permissions to create a temporary resource group in Azure, I created a new resource group manually and provided a `temp_resource_group_name` in Packer config file. But after successfully building the image, Packer deleted this manually created temp resource group.
I think the behavior should be as follows
1

[2017-11-30 18:11] boumenot commented on #5658
This is being addressed in Packer 1.2.0.

[2017-11-30 18:11] #5658 closed

[2017-11-30 19:26] SwampDragons commented on #5625
Wondering if this would be as simple as changing the logic here https://github.com/hashicorp/packer/blob/master/builder/amazon/common/ami_config.go#L48-L51 to just axe the extra region from c.AMIRegions instead of throwing an error.  Might also need to do some manipulation of the kms_key_ids map.

[2017-11-30 19:34] mwhooker commented on #5625
ahh, thanks for the report. We didn't expect that the source region would be in the ami_regions field. Is it possible to just remove the source image from the ami_regions field? We tend to prefer it the way it is now, since it's explicit what's happening.

If there's a good reason, we can see about implicitly ignoring it, but our preference would definitely be to fix the user scripts

[2017-11-30 19:53] boumenot opened #5659 "Concurrent Builds in the Same Resource Group Do Not Work"
The Azure builder does not support concurrent builds in the same resource group. This has not been an issue in the past because the Azure builder always created a new resource group.  The same builder would not collide with another because they always had their own *scratch* space to work.

I do not know if this design decision has large impact in practice (please upvote). People have been allowed

[2017-11-30 20:02] boumenot commented on #5655
Agreed.

[2017-11-30 20:03] #5654 closed

[2017-11-30 20:52] davis190 commented on #5614
Sorry - that is a custom AMI. It is based on the windows 2008 R2.

[2017-11-30 21:55] SwampDragons commented on #5625
the OP commented that removing it from the ami_regions field adds some work for them.  I made a PR that would address this, if we don't mind it being implicit.
 I don't believe that having this particular fix be implicit is a bad thing, since all regions in ami_regions will still have an ami at the end of the build.
 https://github.com/hashicorp/packer/pull/5660

[2017-11-30 22:28] #5516 closed

[2017-11-30 22:58] SwampDragons commented on #5652
these may not be realated, but another recent issue was based on an AMI patch too: https://github.com/hashicorp/packer/issues/5614

[2017-11-30 22:58] SwampDragons commented on #5614
Do you have any idea which patch caused the instability?

[2017-11-30 23:45] dhermans commented on #5654
hi - i see this issue is closed - just wanted to report that we tested this new option successfully..

packer deployed into our existing RG and created an Image

this is a good feature - it means you don't have to give people delete resource group rights ( which has all sorts of implications )

[2017-11-30 23:48] jamielennox commented on #5654
That was a much more involved patch than I expected, nicely done.

Tested and can confirm it removes the keyvault.

Thanks

[2017-12-01 00:20] mwhooker commented on #1477
@neechbear that behavior _is_ probably unexpected and errors should be made clearer. The problem is that there was a bug in how the docker communicator worked before. What the docs say (which isn't a _great_ excuse), is that the parent directory needs to exist before writing a file to it. We fixed a bug, which is why this behavior changed in a patch number fix.

[2017-12-01 00:25] boumenot commented on #5654
*fist bump*

Thanks again for posting the issue, and letting us know about.

[2017-12-01 00:57] SwampDragons commented on #5657
Linking the referenced issue: https://github.com/hashicorp/vagrant/issues/6234

[2017-12-01 01:08] jamielennox commented on #5655
Ah - didn't see the self-assign. Hope this saves you some time rather than redoing something you were working on.

[2017-12-01 06:06] riponbanik commented on #5629
@SwampDragons I use EC2 with user data  inside <powershell> </powershell> and do not have any issue with booting the vm.

[2017-12-01 08:00] Occams commented on #5643
Seems that 1.1.2 breaks **virtualbox-ovf** builder. Logfile is attached.
[packer.log](https://github.com/hashicorp/packer/files/1520801/packer.log)

[2017-12-01 08:06] avoidik commented on #5643
@Occams yeap, you have the same problem
[code]

[2017-12-01 08:49] avoidik commented on #5643
url.Parse had incorrectly parsed urls with double colons

[2017-12-01 09:16] avoidik commented on #5643
based on https://golang.org/src/net/url/url_test.go the file name should be with triple slashes after the scheme, but for some reason packer strips one slash from scheme
[code]
gives
[code]

[2017-12-01 09:57] avoidik commented on #5643
Okay, PR proposed

[2017-12-01 11:17] manicai commented on #5625
Thanks.

Bit more detail about why we like having the region repeated. We build 99% of our images in `eu-west-1`. However we have to use the specialist instances types (GPGPU ones) for some AMIs and can have issues with those instances not being available within the region. At that point we switch regions used for the build (we haven't found a region we can use that will reliably get the instance

[2017-12-01 15:11] gh2k commented on #5622
I also havethis problem building Server 1709:

[code]

Apologies for the additional log prefixes... This is from a CI build under TeamCity.

The build works just fine on my Linux desktop, which has packer 1.0.4.

[2017-12-01 18:09] boumenot commented on #5655
I had not started yet.  It was mostly a signal to myself that I accepted the work, and would be doing it imminently.

[2017-12-01 20:25] thomasbiddle commented on #2002
Just for those Googling around; this will happen if you've deleted your default VPC as well.

[2017-12-01 21:53] shahbhavya85 commented on #5653
No problem! Really appreciate and excited to have this feature to be released soon.

[2017-12-03 07:29] rickard-von-essen commented on #5627
I added some debug printouts and it shows that `PublicIpAddress` is `nil`.

[code]

At the same time:

[code]

[2017-12-03 09:25] pvandervelde opened #5663 "Win10 Fall Creators Update automatically enables Hyper-V checkpoints"
The fall creators update added some changes to [Hyper-V](https://blogs.technet.microsoft.com/virtualization/2017/11/13/whats-new-in-hyper-v-for-windows-10-fall-creators-update/), one of them being that checkpoints are automatically enabled.

The problem comes when Packer exports the image. The checkpoints are not exported along with the image and then loading the image is only possible manually be

[2017-12-04 01:02] riponbanik commented on #5629
@SwampDragons it is reaming on "Waiting for WinRM to become available..." without any further progress - tested version 1.1.2

I have tested with Test-WSMan and telnet to make sure I can winrm is configured correctly and it gives the result back

Test-Wsman  _ip_address_

smid           : http://schemas.dmtf.org/wbem/wsman/identity/1/wsmanidentity.xsd
rotocolVersion : http://schemas.dmtf.org/wbem/

[2017-12-04 10:00] codekipple commented on #788
@rickard-von-essen ah ok, I'm new to packer and I'm trying to make a system to creat AMI's in both my production AWS account and the staging one. I omitted the owners on purpose so it worked for both and I didn't have to keep track of the owners ID.

[2017-12-04 15:04] davis190 commented on #5614
I have no idea. We jumped up several versions on windows 2008 R2 when we encountered this issue.

[2017-12-04 17:09] JamesThorpe commented on #3446
I've been hit by (what might be) this today.  The [examples in the docs](https://www.packer.io/docs/templates/user-variables.html) show single quotes being used:

If I have a variables block defined as:

    "variables":{
        "a":null
    }

And call it thusly, as per the docs, on the windows command line:

    packer build -var 'a=foo' test.json

I get:

Using double quotes works normally:

[2017-12-04 17:15] vijayinvites commented on #3446
I have seen this bug too

[2017-12-04 17:46] SNikalaichyk commented on #5652
Well, this is really weird, but I since last Friday we can no longer reproduce this issue. It looks like Packer is not to blame.

[2017-12-04 17:46] #5652 closed

[2017-12-04 18:23] SwampDragons commented on #5652
My favorite kind of Packer bug!  Let us know if you end up reproducing or finding another issue :) .

[2017-12-04 18:29] SwampDragons commented on #3446
@JamesThorpe Thanks for the steps to reproduce; I know we have a PR waiting on 1.2.0 ([here](https://github.com/hashicorp/packer/issues/5471)) that will chance some of the powershell variable handling so I'm reopening this until I get a chance to test your repro case against that PR; if that PR fixes it I'll close again.

[2017-12-04 18:30] SwampDragons commented on #5614
Bummer.  Any chance you can at least tell me what patch version you changed from and to?

[2017-12-04 19:04] davis190 commented on #5614
It was quite the jump.

http://docs.aws.amazon.com/AWSEC2/latest/WindowsGuide/windows-ami-version-history.html#windows-ami-versions

Using the link above we went from the AMI `2017.06.14` to `2017.11.18`. Not sure if that information helps or not.

[2017-12-04 19:54] SwampDragons commented on #5614
Me either, yet, but more info is always better.  Thanks.

[2017-12-04 19:55] avoidik commented on #5643
Issue solved

[2017-12-04 19:55] #5643 closed

[2017-12-04 19:57] SwampDragons commented on #5622
@gh2k this failure is also on a linux host?

[2017-12-04 20:00] mwhooker commented on #5663
hmm, there was already some work done to this effect in #5374 and #5517

Can you confirm that the version of packer you tested with contains those merges? (should be in 1.1.2).

cc @PatrickLang

[2017-12-04 20:01] gh2k commented on #5622
Yeah, I'm running Gentoo

[2017-12-04 20:01] JarenGlover commented on #3160
@kwilczynski how would someone solve this problem if they were using bash shell script in their user_data instead of cloud-init.

[2017-12-04 20:04] SwampDragons commented on #5646
@wonderphil would you mind setting `expect_disconnect` anyway just as a sanity check?

[2017-12-04 20:08] SwampDragons commented on #5627
we suspect this might be fixed by https://github.com/hashicorp/packer/pull/5630; if any of you experiencing this issue can build that branch and test we'd be much obliged.

[2017-12-04 20:20] mwhooker commented on #5627
hmm, I wasn't actually able to reproduce this issue with

[code]

https://gist.github.com/mwhooker/94c812c248bfdb4e0a109228d110af9e

I _did_ notice that there seems to be an undocumented dependency on there being `subnet_id`. Once I added one it worked

Can anyone help me reproduce this?

[2017-12-04 20:31] pvandervelde commented on #5663
Aaaah I could have been using an old version. I shall update to the latest version and re-check

[2017-12-04 20:46] kwilczynski commented on #3160
Hi @JarenGlover, a good question.

How are you executing content of the user-data? Are you manually pull the content from the metadata service (see: http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ec2-instance-metadata.html#instancedata-user-data-retrieval), or are you running systemd unit on Container Linux?

Since I miss some details, I am going to try to generalise...

Whichever it would be,

[2017-12-04 21:07] Erouan50 opened #5667 "[Feature Request] Add a source_ami variable for AWS builder"
Add a new variable named source_ami which content the result of the source_ami_filter of the aws builder.

**Use case:**
We are currently using the source AMI filter to get the latest AMI available on AWS, and we would like to put the AMI source as a tag on the new AMI. It will allow us to create a scheduled job to check if our AMIs are up to date.

**Example:**
The result might look like this:
[c

[2017-12-04 22:37] SwampDragons commented on #5667
My gut instinct is no, since this would require a big change to when we get that information.

Currently, when you set the filter we determine the ami name from _inside_ the builder, which makes it impossible to set before the builder runs during the template-parsing stage.

I know it's hacky, but you could probably work around this by running a sham build, getting the ami id out of the logs (the

[2017-12-04 22:37] #5667 closed

[2017-12-04 23:03] Erouan50 commented on #5667
Make sense, thanks for your answer. I'll try your hack.

[2017-12-05 00:32] nodesocket opened #5668 "shared_credentials_file for amazon-ebs"
I've read through the docs and don't see a way to specific a `shared_credentials_file` like Terraform when building `amazon-ebs` images. Is this possible? I'd prefer this method instead of hard coding the AWS credentials in the Packer file, or using system level AWS credentials.

[2017-12-05 00:43] mwhooker commented on #5668
You can use a shared credentials file as described in https://docs.aws.amazon.com/sdk-for-go/v1/developer-guide/configuring-sdk.html#specifying-profiles

Is that what you're talking about?

You can set the profile with either `AWS_PROFILE=...` or by setting the profile in the packer config

[2017-12-05 00:51] nodesocket commented on #5668
Is `profile` in the Packer config a path to the `shared_credentials_file`? I.E. I'd like to create the profile file in my Packer root directory and just `.gitignore` it.

[2017-12-05 00:53] mwhooker commented on #5668
No, it's different. you can get more details here https://www.packer.io/docs/builders/amazon.html#specifying-amazon-credentials
and here https://www.packer.io/docs/builders/amazon-ebs.html#profile

We don't currently plan to support other ways of specifying credentials, but in the future may adopt terraform's mechanisms

[2017-12-05 00:53] #5668 closed

[2017-12-05 00:55] nodesocket commented on #5668
@mwhooker thanks, that what I was looking for. Bummer, that Terraform `shared_credentials_file` is not supported.

[2017-12-05 01:03] nodesocket commented on #5668
@mwhooker seeing the following error:

[code]

Specifying the profile as `"profile": "myproject-dev",` and in `.aws/config` I have:

[code]

[2017-12-05 01:21] mwhooker commented on #5668
iiinteresting, will check that out and reopen if I can reproduce. thanks!

[2017-12-05 02:56] tjnicholas commented on #4857
Hmm. @dhermans can you clarify this?

As I understand it the EC2 API should be on the address `ec2.<region>.amazonaws.com` which shouldn't be exclude by the domain you mention above.

[2017-12-05 03:44] SNikalaichyk commented on #5667
This functionality is already there. Try the following:
[code]

[2017-12-05 05:19] onwsk8r opened #5669 "Packer will not use region key when profile is specified for amazon-ebs"
This makes it a bit tough to build amis in multiple regions.

[code]
**Host Platform**: Arch Linux

**Steps to reproduce**:
~/.aws/credentials:
[code]
packer.json:
[code]

**Debug log**:
[code]

[2017-12-05 06:26] dhermans commented on #4857
Hi @tjnicholas
i did think it odd at the time as well - let me re-run with some debug and see what i can find!

[2017-12-05 06:41] mwhooker commented on #5668
will track in #5669

[2017-12-05 06:43] mwhooker commented on #5669
thanks for the report! sorry about that.

I think I see where the issue is... https://github.com/hashicorp/packer/blob/0fbbdc2ea3038e9f77cb3f35af8b5f4377346293/builder/amazon/common/access_config.go#L39-L47

It only configures the region is there's not a profile set. The most expedient way to fix this would be to add the region to the profile. We'll think of a good solution in the meantime

[2017-12-05 07:10] nodesocket commented on #5669
Thanks for the report @onwsk8r. I also confirmed unintentionally via #5668

[2017-12-05 07:26] JarenGlover commented on #3160
@kwilczynski we are pulling via metadata server.

however, the situation I find myself in is the cloud-init appears to auto define `xvdb` at `/mnt` even if the device doesn't exist. I am not sure how to set default via shell as noted in your hyperlink.

It appears one can't use shell + cloud-init yaml (?) in an ec2 instance user-data.

So at the end of my `user_data` shell script I did a `sed` com

[2017-12-05 09:09] rickard-von-essen commented on #5627
I have reproduced it.

On 4 December 2017 at 21:20, Matthew Hooker <notifications@github.com>
wrote:

[2017-12-05 10:56] dhermans commented on #4857
a bit in the future @tjnicholas  but do you think this go language enhancement :

https://go-review.googlesource.com/c/go/+/75730

may the problem via a different path? It seems to suggest no_proxy on ports or CIDR may be available in the go http lib soon (or is already if i can read that page correctly)

[2017-12-05 12:26] kwilczynski commented on #3160
@JarenGlover you could maybe use multipart user-data, but I am not sure from the top of my head, whether it would work.

A question from me - why not use cloud-init? Is it not working for you? It also does other things like e.g. deploy SSH keys for your user, etc. Unless you handle this automatically yourself.

By the content of `/etc/fstab` I can see you are using Ubuntu (which is why I am surpri

[2017-12-05 13:20] felipekiko commented on #160
https://www.packer.io/docs/builders/amazon-instance.html#iam_instance_profile

[2017-12-05 13:44] tonymi commented on #5429
@mwhooker
Hi, I got the same error message, but it happened while waiting for WinRM connection, and Packer didn't clean up the VM. Does the same fix apply? If it does, what is the Packer release version that has the fix?

[2017-12-05 14:38] Erouan50 commented on #5667
It works perfectly thank you @SNikalaichyk, but it's not in the documentation? Or I didn't find it.

[2017-12-05 15:24] gh2k commented on #5622
Can confirm that on my workstation 1.1.1 works, and 1.1.2 doesn't. I'm currently running a `git bisect` between the two versions to figure out what caused the problem as accurately as I can.

[2017-12-05 16:30] SNikalaichyk commented on #5667
@Erouan50,
The `SourceAMI` variable is mentioned several times on the following page:
https://www.packer.io/docs/builders/amazon-instance.html

[2017-12-05 17:52] #5655 closed

[2017-12-05 20:10] onwsk8r commented on #5669
Yeah, with any luck you can change the first `else if` to an`if`.

I'll put a reminder for myself to monitor this thread and if you haven't gotten it knocked out by the weekend I'll try to make a PR by the end of the weekend. I'm super busy right now but the end is clearly in sight because I have Terraform and Packer so I can move pretty quick- you guys rock!

[2017-12-05 20:36] tjnicholas commented on #4857
@dhermans That's does look like it'll make no_proxy much more easy to configure correctly for go projects (if http client is using the IP address directly, as Packer is).

Interestingly undiscoverable though as I don't know of any other implementations that interpret the no_proxy variable in that way.

[2017-12-05 23:30] jamiesonbc opened #5670 "Post-processor failed: unexpected EOF"
I know this is an old version of packer, but I need to kick out some templates before upgrading.  Can you provide me the reason for this EOF.   I have attached my script, json and log in the following gist

https://gist.github.com/jamiesonbc/d55530eef88d7ba53abd9eabe2e1255e

[2017-12-05 23:35] mwhooker commented on #5670
I'm afraid your error is

`2017/12/05 17:31:51 packer-post-processor-vsphere: fatal error: runtime: out of memory`

I believe that's referring to your host machine (that is, it's the go runtime throwing that error). Is there a larger machine you can run the build on? This happened during the ovftool run where it uploads to vsphere. It's not inconceivable that ovftool first copies the disk into mem

[2017-12-05 23:35] #5670 closed

[2017-12-05 23:40] tjnicholas commented on #4857
@dhermans It [looks like](https://github.com/hashicorp/packer/pull/5630#issuecomment-349464400) @johndaviesco tested the PR with `.internal` in the exclusion list. That should have been equivalent to your "test 2".

I do wonder how picky Go is being about the presence or absence of the leading dot. I work with John and just checked - we're actually setting `internal,.internal` (along with other ir

[2017-12-06 01:54] mcandre opened #5671 "vmware-iso hardcoded for SCSI, no option for IDE, SATA"
FOR BUGS:

https://github.com/hashicorp/packer/issues/1242 was mistakenly closed, as the vmware-vmx builder supports a manual workaround for lack of IDE/SATA support. But in fact, the vmware-iso continues to lack IDE and SATA support.

Please expose simple SATA and IDE configuration options for the ISO and virtual disk, as other builders like virtualbox-iso do.

[2017-12-06 02:37] dhermans commented on #4857
hi @tjnicholas  - not sure what i did wrong but i re-ran with :

export no_proxy=localhost,169.254.169.254,ap-southeast-2.compute.internal

and it worked fine! sorry about that - all working perfectly...

[2017-12-06 08:52] pvandervelde commented on #5663
Will have to try with 1.1.3 when it comes out because of #5622 / #5620

[2017-12-06 10:19] russellpierce commented on #5107
This issue does not solve the problems raised in https://github.com/hashicorp/packer/issues/1687.

To quote that issue:

... that means "don't tear down the house after a provisioner failure".  The 'don't pause' and 'show connection info without pausing' aren't the important part in that issue.

[2017-12-06 10:31] gh2k commented on #5622
I would have myself a bunch of time by testing master first. :derp:

Looks like a739623d introduced this problem and it's fixed by c3cb7fe9.
So, looks like it will be OK in 1.1.3

[2017-12-06 12:03] pasikarkkainen commented on #1824
Hi. Any news about building on vCloud Director with Packer? Did you get this working? Thanks.

[2017-12-06 14:46] bobbydeveaux commented on #1824
Hi @pasikarkkainen

No news I'm afraid. However, I will put the contents of @rickard-von-essen's email into a branch for reference.

Cheers

[2017-12-06 14:59] bobbydeveaux commented on #1824
Code from @rickard-von-essen : https://github.com/hashicorp/packer/compare/master...bobbydeveaux:vcloud?expand=1

[2017-12-06 17:09] SNikalaichyk commented on #4904
I'm also having the same problem (Packer 1.1.2 with Ansible 2.4.2).
Please find @jborean93's closing comment on https://github.com/ansible/ansible/issues/33087. What do you guys think?

[2017-12-06 17:20] SurferL commented on #4904
@SNikalaichyk I couldn't get Packer + Ansible working consistently so I implemented jborean93's solution.

More details of the solution can be seen in the google group post: https://groups.google.com/forum/#!starred/packer-tool/AXZSY6UoBNo

[2017-12-06 17:31] SNikalaichyk commented on #4904
@SurferL, thanks! If my playbooks will continue to fail unexpectedly, I think I'm going to do the same. I still home for the proper fix though.

[2017-12-06 17:46] pasikarkkainen commented on #1709
For some reason this seems to still be broken in Packer v1.1.2.
http server only listens on tcp6.

I'm running Packer on CentOS 7.4 host.

[2017-12-06 18:01] pasikarkkainen commented on #1709
It seems even though the packer http servers shows as listening on "tcp6" it doesn't matter, it still works over ipv4 aswell.

[2017-12-06 18:53] goodwinb99 commented on #4885
I'm having the same problem with it trying to compact a non-existent file because I can't find a way to *delete* a key in vmx_data using packer.  I need to delete, e.g., ide0:0.filename because if that value is set to anything, it'll try to compact it, regardless of the autodetect setting.  Is there a way to, in packer, remove a key from the vmx file when the builder is done?

[2017-12-06 19:11] jborean93 commented on #4904
Thanks @SNikalaichyk for pinging me in this. If the maintainers of Packer are reading this feel free to reach out to me as I’m interested in trying to solve this issue and hopefully get Packer working with the native `winrm` connection plugin of Ansible. Unfortunately I’ve never used Go before so I’ve avoided trying to see what is actually happening in Packer so I could be incorrect with some of m

[2017-12-06 19:15] bhcleek commented on #4904
@jborean93 I've been following along and would appreciate any help we can get regarding the plugin that packer's ansible-remote module uses.

[2017-12-06 19:22] spuder commented on #5651
This has to do with the encoding that a file was saved as (UTF-8 vs UTF 16 and Big endian vs Little endian).

Easy way to reproduce this is to open a powershell window and type this command

[code]

If you open foo.txt with a text editor like atom, you will find hidden characters.

![screenshot 2017-12-06 12 21 47](https://user-images.githubusercontent.com/242382/33680817-0c3eff3a-da80-11e7-8ac4-1

[2017-12-06 19:28] SwampDragons commented on #5622
Thanks for going to all the work of that bisect. I made a PR reverting the change you think is the issue: https://github.com/hashicorp/packer/pull/5672  While still keeping the code that was the main intent of the original PR associated with the bad commit.  Can you try that patch out and let me know if it fixes things?

[2017-12-06 19:31] spuder commented on #5574
[Chef-Solo documentation](https://docs.chef.io/ctl_chef_solo.html) doesn't list any way to use policyfiles. Do you have an example?[

[2017-12-06 20:05] akamalov opened #5673 "Cannot locate the managed image resource group"
Greetings,

**Environment**

[code]
So sorry to paste the output here, I am firewalled off from Gist, so cannot paste there.

**Problem**

Attempting to build an image off this JSON file on Azure:

[code]
For some reason, packer is exiting complaining that it cannot find my resource group. But the resource group is there.

Here is the output of the debug log:

[code]

Again, I am very sorry for pa

[2017-12-06 20:20] pasikarkkainen commented on #1824
Ok, thanks a lot! Let's see if I have time to try it some day and see what's still missing..

[2017-12-06 20:45] akamalov commented on #5673
The issue was a wrong key. All is well now. Thanks!!

[2017-12-06 20:45] #5673 closed

[2017-12-06 21:17] SwampDragons commented on #5673
Glad you figured it out!

[2017-12-06 21:23] SNikalaichyk commented on #5629
Try to use Ansible's WinRM configuration script in your user data:
[code]

[2017-12-06 23:07] SwampDragons commented on #4904
@jborean93 I'll gladly help you validate any assumptions you have, though we don't as a rule spend much time on the ansible provisioner. It's supported by the community, as we prefer to invest our limited time on things like the shell provisioner (which _is_ Hashicorp-supported), which can also be used to run ansible -- as I believe you've pointed out.  But let me know what snags you're hitting an

[2017-12-06 23:11] jborean93 commented on #4904
Sounds good, I just installed Go and downloaded the repo to try and play around with it a bit but will see how I go. Is there a reason why the SSH connector was used historically or is it just something that the community never got round to adding support for?

[2017-12-06 23:29] SwampDragons commented on #4904
I'm not totally sure, though I would assume the latter.  Here's the original PR and associated conversation for come context: https://github.com/hashicorp/packer/pull/1969

[2017-12-06 23:31] bhcleek commented on #4904
@jborean93 I'm the original author of the ansible provisioner, so I can help answer any questions you have about the tradeoffs made.

Packer only exposes a simple interface, `Communicator` that can upload files, download files, and execute commands to its plugins. SSH is *much* simpler than WinRM, and maps pretty well to what `Communicator` provides. Packer provisioners _only_ communicate with the

[2017-12-06 23:38] bhcleek commented on #4904
@jborean93 also keep in mind that Packer allows one to provision various kinds of images, not all of which corresponds to machines (e.g. docker images); there isn't always a connection that could be used even if Packer exposed its connection to the machine. Ansible, on the other hand, assumes that it's talking over a network. So the ansible provisioner sets up an SSH connection for Ansible to talk

[2017-12-07 00:15] jborean93 commented on #4904
@bhcleek thanks for the info, much appreciated. So I just have a few more questions for either yourself or @SwampDragons

* Do you have any objections in allowing an override to the SSH server to allow the ansible provisioner to talk directly over the network and not through the SSH connection that is set up
* When the SSH connection receives a command or file, does Packer then talk over WinRM to

[2017-12-07 01:28] bhcleek commented on #4904
@jborean93 That approach has been proposed several times, but is fundamentally incompatible with how Packer works. For background, I'd recommend that you read
* https://github.com/hashicorp/packer/issues/3846#issuecomment-244290091
* https://github.com/hashicorp/packer/issues/3969
* https://github.com/hashicorp/packer/issues/3911
* https://github.com/hashicorp/packer/issues/3331

It's very easy to

[2017-12-07 02:14] jborean93 commented on #4904
Thanks, I'll have a read through those, unfortunately it looks like what I want to do goes against how Packer is designed to work so I don't really see how I could fix this. Even if we were to make it work again with a non pipelining model there is always the chance it could break again in the future as we don't test for it. Plus some of the special features Ansible has like become and async will

[2017-12-07 02:29] bhcleek commented on #4904
I would definitely welcome any improvements to the connection plugin. Ansible's connection plugins have been a moving target, especially as Windows support has matured. I need to sync back up with Ansible and provide some details about what we've had to do to get Ansible to work with the Powershell shell type and an SSH connection. In the meantime, though, any guidance that you can provide to make

[2017-12-07 02:34] jborean93 commented on #4904
I'll need to test it out but I'm wondering if modifying the existing custom plugin to support pipelining with Windows will work. I've got a very early stage PR to get Ansible communicating with Windows using the Win32-OpenSSH port here https://github.com/ansible/ansible/pull/33074. This has not been tested to the full extent but it did work for the basics that I tried it with.

I do agree the conn

[2017-12-07 02:40] SNikalaichyk commented on #4904
So, if I use `shell-local` to run Ansible, I have to generate temporary host file first. The question is how can I retrieve randomly-generated EC2 Windows password? Is there a variable like `"{{ .WinRMPassword }}"`?

[2017-12-07 02:48] JarenGlover commented on #3160
fair question. I inherited it (not great answer i know).

yep this would work too.

I ended up with a nice sed command before my config management installed. It seems to work. If it fails at scale. I'll report back. Thanks this was very helpful cc @kwilczynski

for those who make it this far and want to know the sed command.

`sed -i "/\/dev\/xvdb.*\/mnt.*defaults,nobootwait,comment=cloudconfig/d"

[2017-12-07 02:53] sumanthkulkarni13 commented on #5541
This looks to be platform issue rather than the tool. Stands closed for now.

[2017-12-07 02:53] #5541 closed

[2017-12-07 05:23] rickard-von-essen commented on #5627
A slightly smaller example that repros this.

[code]

It actually succeed something like 1 time out of 5. My hunch tells me that we should try to refresh the instance information and everything will work as it should.

[2017-12-07 07:38] gh2k commented on #5622
Yep, that works fine, @SwampDragons

[2017-12-07 10:51] graudeejs opened #5674 "go get fails with unrecognized import path "context""
[code]

System: Linux Mint 18.2
Go: 1.6.3

[2017-12-07 11:23] SurferL commented on #5651
@spuder Thanks for looking into this!

I've had a look at the `ip.cmd` file, however don't see any hidden characters?

![screen shot 2017-12-07 at 09 31 07](https://user-images.githubusercontent.com/10439579/33708091-65d87308-db31-11e7-9b55-346ce837b263.png)

What I find weird is that it only happens very very occasionally...

[2017-12-07 12:29] cheeseplus commented on #5479
I do think this is already tacitly supported and the workaround mentioned is exactly how it's done. Packer can't know what to use for remote_file grabbing so that's something you'd do in a script provisioner prior and then feed those value a la https://www.packer.io/docs/provisioners/chef-solo.html#chef-configuration.

That is to say, I think this workflow is entirely supported but Packer can't an

[2017-12-07 16:07] jamiesonbc opened #5675 "* Post-processor failed: unexpected EOF"
was having this problem on 0.8.6 and had a memory prob, upgraded to 1.1.2  and still getting error but no memory error.  Can you take a quick look at the log in the gist.  I included the script and also the template.json

https://gist.github.com/jamiesonbc/7ecef07c2cf97c1cec7b3ac130beb10f

[2017-12-07 16:14] rickard-von-essen commented on #5674
You need go 1.7

On 7 December 2017 at 11:51, Aldis Berjoza <notifications@github.com> wrote:

[2017-12-07 16:37] drgeb commented on #5600
I also experienced the same issue. Used the 5600.zip with the master build  and ... "Yup, the master build works GRRRrreat! Thanks"

[2017-12-07 17:03] SwampDragons commented on #5622
Great!

[2017-12-07 17:35] SwampDragons commented on #5675
Hmm.  Looks like it got hung up for over an hour on the vsphere post-processor here:
[code]
I know several versions ago there were issues with "unexpected EOF" occurring because we didn't have the vm_network set as a required variable, the command would hang, and packer would gobble memory until things crashed.  What happens if you manually run the ovftool command with the same parameters as set o

[2017-12-07 18:08] SwampDragons commented on #5674
for more context (pun not intended) see the 1.7 release notes about the context package: https://golang.org/doc/go1.7

[2017-12-07 18:08] #5674 closed

[2017-12-07 18:18] #5622 closed

[2017-12-07 19:10] mwhooker commented on #5669
was able to play with the change a bit and I'm comfortable that it works as expected. Will be in the next release

[2017-12-07 19:13] #5669 closed

[2017-12-07 19:35] spuder opened #5677 "Allow non 0 exit codes"
Windows has many exit codes that represent success. For example exit code `3010` on windows is a success when a package installs but  requires a reboot.

Is there a way to allow non 0 exit codes? If not, it would be nice to define acceptable exit codes in packer.

Here is a packer build step that fails with code `3010`
[code]

Packer could allow an `exit_codes` definition like this:

[code]

[code

[2017-12-07 19:59] mwhooker commented on #5627
okay I can reproduce now. The problem I see with refreshing the state (like moving the `DescribeInstances` code from builder/amazon/common/ssh.go up to the top of the loop) is that we don't know what we're looking for. I think we probably need to wait for the instance to update in launch source instance or something. Still trying to understand why this instance behaves differently from others

[2017-12-07 20:25] rickard-von-essen commented on #5627
Pretty sure the reason that C5 behaves different is that they are using a different hypervisor. See https://aws.amazon.com/about-aws/whats-new/2017/11/introducing-amazon-ec2-c5-instances-the-next-generation-of-compute-optimized-instances/

[2017-12-07 20:28] mwhooker commented on #5627
I think I have it resolved. removed our custom waiter code and replaced with `WaitUntilInstanceStatusOk` and it seems to work every time. Will push up a patch soon and would love some confirmation

[2017-12-07 20:33] jamiesonbc commented on #5675
found the problem,   there was a newline in the pasword

[2017-12-07 20:33] #5675 closed

[2017-12-07 21:22] ppandiya commented on #4566
are there any workarounds for this issue ?

I am setting an Administrator password in bootstrap (Userdata) and using it in eleveated_password. But is there a way to revert it when i am done.... Because the instances i launch from this ami comes with the preset password which i used in userdata.

[2017-12-07 21:37] SwampDragons commented on #5675
Glad you got it figured out!  Reach out if you have any other issues.  looks like you're getting close to a complete workflow :)

[2017-12-07 22:02] AndiDog commented on #2855
This was last updated one year ago and still happens to me 75% of the times (environment: packer 1.1.1, VirtualBox, FreeBSD_64 guest). Any update on this?

[2017-12-07 22:47] #5627 closed

[2017-12-07 22:58] SwampDragons commented on #5677
We already have this feature, and it works exactly as you request: https://www.packer.io/docs/provisioners/powershell.html#valid_exit_codes

example usage `"valid_exit_codes": [0, 3010]`

[2017-12-07 22:59] #5677 closed

[2017-12-07 23:18] spuder commented on #5677
Thanks. I swear I searched that page, but didn't find it. Sorry for the noise.

[2017-12-07 23:22] SwampDragons commented on #5677
No worries!  Everyone has those days.

[2017-12-07 23:32] mwhooker commented on #2763
tracking in #5679

[2017-12-07 23:41] #4857 closed

[2017-12-07 23:42] mwhooker opened #5680 "remove `ssh_private_ip` and add fixer"
#5630 added a new option that supercedes `ssh_private_ip`. Let's remove this option and add a fixer for 1.2.0

[2017-12-08 00:11] tjnicholas commented on #5629
@riponbanik If you are running behind a proxy @SwampDragons is probably right that this is a duplicate of #4857. If so #5630 has now been merged so in the next release you will be able to set `"ssh_interface": "private_dns"` to make winRM work.

Note that you'll also have to ensure `<region>.compute.internal` is in your `no_proxy` list.

On the other hand if you aren't behind a proxy, that isn't a

[2017-12-08 05:31] mcandre opened #5682 "recognize super key for Linux guests, virtualbox builders"
Similar to https://github.com/hashicorp/packer/pull/5681 , I wish packer would recognize the Super/Windows key when building VirtualBox VM's.

I think the Left Super scancode is 133, and Right Super scancode is 134, based on [StackExchange](https://unix.stackexchange.com/q/297728/32972). The [Arch wiki](https://wiki.archlinux.org/index.php/extra_keyboard_keys) also details how to verify scancode t

[2017-12-08 09:20] RameshMuthuraj opened #5683 "Error installing"
Getting error while install packer on amazon linux

/usr/share/cracklib/pw_dict.pwd: Permission denied
/usr/share/cracklib/pw_dict: Permission denied

I ve downloaded the binary from
https://releases.hashicorp.com/packer/0.8.6/packer_0.8.6_linux_amd64.zip

extract this to some folder

then copy the packer file to /usr/local/bin

What am I missed? please help me

[2017-12-08 09:22] rickard-von-essen commented on #5683
This https://www.packer.io/intro/getting-started/install.html#troubleshooting

[2017-12-08 09:22] #5683 closed

[2017-12-08 18:36] mcandre opened #5685 "Shift+Tab not working as expected for mac guests"
The `<tab>` and `<leftCtrlOn>`/`<leftCtrlOff>` keys are working really well for mac guests (VMware builder). I'm not sure why, but for some reason the `<leftShiftOn>`/`<leftShiftOff>` modifier is not able to navigate backwards in GUI's with the `<tab>` key. I am able to Shift+Tab manually in mac guests by manually pressing Shift and Tab simultaneously, so something's off about how this signal is b

[2017-12-08 18:59] #5602 closed

[2017-12-08 20:28] SwampDragons commented on #5685
What builder are you using?

[2017-12-08 21:36] #5625 closed

[2017-12-08 23:15] #2763 closed

[2017-12-09 15:29] Chan9390 commented on #5220
@SwampDragons @mwhooker  Any updates ?

[2017-12-09 15:48] mcalhoun commented on #5026
I wrote a blog post on how to do this step-by-step: https://blog.gruntwork.io/locating-aws-ami-owner-id-and-image-name-for-packer-builds-7616fe46b49a

[2017-12-09 18:42] mcandre opened #5688 "Enhancement: Ability to continue long boot_command's from snapshots"
Some VM's take a very long time to build, multiple hours. Testing tweaks to `boot_command` for such long builds is frustrating, because the developer won't know whether the tweak is successful or not until the entire build replays.

For Docker, builds have the benefit of separating the steps into distinct `RUN` commands, and Docker caches and replays from the last good `RUN`, so the development cy

[2017-12-10 02:15] pvandervelde commented on #5620
@SwampDragons did the fix for this make it into 1.1.3? I just downloaded that version and I still see that problem.

[2017-12-10 05:39] rickard-von-essen commented on #5688
IMHO this would be terrible complex to implement.

I think the real solution to your problem (super long build times) is to break it up in steps and ensure that only the first build which builds from ISO uses `boot_command`. This build should be fairly static, seldom rebuilt. From that base image you can build more specialised builds that only uses provisioners to manipulate the instance. Scripts

[2017-12-10 05:50] #5616 closed

[2017-12-10 19:56] rsjorslev commented on #5622
For anyone coming across this using Packer inside Docker - This is also impacting Packer 1.1.2 from a Docker container but going back to 1.1.1 it works fine with windows-restart.
I have yet to test with 1.1.3.

[2017-12-10 22:11] mcandre opened #5689 "Option to scale wait times"
`<wait>` steps in `boot_command`s are currently expressed relatively to host clock time, which is normally fine. However, guest VM’s actually execute the steps at very different speeds, depending on how much of each virtual resource is available (CPU, RAM, HDD, etc.). So a packer script must be rewritten to change its lengths when resources are reduced, replacing `<wait>` with `<wait5>`, for examp

[2017-12-11 09:45] dhs-rec commented on #4595
Workaround available or not, is there any chance to get this fixed? It's just annoying that this seems to be the only shell-based provider/post-processor that works differently than all the others.

[2017-12-11 15:19] DCT-daltonmiller opened #5690 "Azure-ARM: Multiple builds in one resource group"
Now that we have `build_resource_group_name` in azure-arm it would be great to have multiple builds running in the same resource group. For security reasons, we have the Packer resource group created manually along with a VNet and NSG, which works fine with only one build in the resource group.

When trying multiple builds right now Packer will try deleting the resources in the resource group whic

[2017-12-11 17:16] boumenot commented on #5690
This is a duplicate of #5659.

[2017-12-11 17:16] #5690 closed

[2017-12-11 18:40] mwhooker opened #5691 "azure panic"
Found an unchecked error case which can cause a panic. It's the array index on line 143

https://github.com/hashicorp/packer/blob/63f791570af9b11557816b324adb6b6a55926db1/builder/azure/arm/step_deploy_template.go#L138-L144

Seems like a simple enough fix, but I'm not familiar enough with this builder to say what should happen if the list has fewer than 2 or 3 elements.

cc @ArjenSchwarz

[code]

[2017-12-11 20:42] SwampDragons commented on #5620
@pvandervelde It should have, yes.  Can you open a new issue with a debug log and full steps to reproduce please?

[2017-12-11 20:48] SwampDragons commented on #5220
We did just merge some code that changed the chef provisioner install -- do you think you can try on 1.1.3 and tell us if you're experiencing the issue still?

[2017-12-11 21:03] pvandervelde commented on #5620
Yeah will have to do that tonight. Don't have access to my home computer from work

[2017-12-11 21:55] SwampDragons commented on #5622
If this is still impacting you in 1.1.3 please open a new ticket.

[2017-12-11 22:09] rsjorslev commented on #5622
Works fine in the official Docker image v. 1.1.3 - tried it a few hours ago against a vsphere environment and it worked fine. Thanks!

[2017-12-11 22:50] riponbanik commented on #5629
@tjnicholas Thanks, the question is when the instance is launched in vpc where aws provided dns is not used instead own dns is configured, how the name will be resolved? It is better to allow private_ip along with name.

[2017-12-11 22:51] SwampDragons commented on #4904
@SNikalaichyk  That seems like a really reasonable ask.  I'll see if I can figure out a simple way for you to access it from the template.

[2017-12-12 00:49] mwhooker commented on #5689
Thanks for the ideas! I think this is something that would be better done by preprocessing your json template. You may also use ```<wait{{user `wait_time`}}>``` where `wait_time` is a user variable that you can control per run.

In all honesty, this is probably something which we will never implement, so I'm going to close it now rather than let it linger.

[2017-12-12 00:49] #5689 closed

[2017-12-12 01:27] nodesocket commented on #5669
Hello @mwhooker is this patched in `1.1.3`? Any eta on when the fix will be published?

[2017-12-12 02:56] jamesla opened #5693 "Looking for a simple packer plugin example"
I've read through the docs and searched the documentation and I'm looking for a bit more information on how to write a packer plugin.

I was hoping to use the example in the example folder of this repo (plugin/example) but there's a comment saying that packer doesn't use that method anymore.

Could somebody point me in the direction of a simple example packer plugin using the new method?

[2017-12-12 02:58] mwhooker commented on #5669
@nodesocket yes it's in the release. are you having problems with it?

[2017-12-12 03:47] ArjenSchwarz commented on #5691
Interesting, this is the same as in https://github.com/hashicorp/packer/blob/63f791570af9b11557816b324adb6b6a55926db1/builder/azure/arm/step_delete_os_disk.go#L84

Putting an if statement around it and throwing an error/failure should prevent it from crashing, but I don't know how it would not get a valid array here in the first place. @mwhooker can you give an example of what you ran that caused

[2017-12-12 04:02] envatopoho opened #5694 "Breaking change in 1.1.3"
[This commit](https://github.com/hashicorp/packer/commit/a90c45d9bb3f2abd56ea77c8a456df19baaa60a7#diff-76f53be4e00c8508514464a9b9235c4e) which made it into the `1.1.3` release introduces a dependency in AWS for the `ec2:DescribeInstanceStatus` permission on the role that is building AMI's.

This broke our pipelines which were previously working on `1.1.2`.  (We used the docker `light` image, which

[2017-12-12 05:14] rickard-von-essen commented on #5694
Thanks for bringing this to our attention.

[2017-12-12 06:26] mwhooker commented on #5691
I'm afraid I don't have access to the config that generated this, sorry!

[2017-12-12 09:01] #5580 closed

[2017-12-12 09:58] ArjenSchwarz commented on #5691
No problem, I suspect that it somehow got an invalid URL for the image. In #5695 I've added some code to deal with those situation and give a clean error instead.

[2017-12-12 11:52] bleloch opened #5696 "Interpolate builder type, and only run provisioner when matched"
We currently have a template to provision a base image for our applications, which I'd like to run a specific provisioner for based on the builder type. This would allow us to have to run multiple 'configurations' into the same template and build one version of the image with Enhanced Networking and one without.

I'd like to be able to pass the $PROVISIONER variable containing 'Amazon-Machine-Base

[2017-12-12 12:45] rickard-von-essen commented on #5696
Thanks for reporting this. This is a duplicate of #2651.

[2017-12-12 12:45] #5696 closed

[2017-12-12 13:19] dannyibishev commented on #2651
+1 to get this going as well (A useful feature to have and would save us recreating a duplicate file.)

[2017-12-12 13:30] bleloch commented on #2651
+1

[2017-12-12 14:17] ndobbs commented on #4589
This is much needed in our environment. Any idea when HCL support will be introduced to packer?

[2017-12-12 15:17] Chan9390 commented on #5220
Hey @SwampDragons , I updated packer but still I see the same error.

[2017-12-12 16:22] Chan9390 opened #5697 "Powershell provisioner not working"
**Packer version:** 1.1.3
**Host platform:** Ubuntu 16.04

Powershell provisioning executes unwanted strings.

I had an issue with Chef-Solo provisioning on Windows Server 2008 R2 (#5220). So I tried an alternative way to install chef-solo using powershell.

I wrote the code:
[code]

When I executed packer, I got the following error:
[code]

The output stops here and chef executable is not downloa

[2017-12-12 17:03] #5691 closed

[2017-12-12 20:05] TechnicalMercenary commented on #3506
I ran into this today.  Any chance that I can help out and get this resolved ?  Is there a work around at the moment ?

[2017-12-12 20:16] SwampDragons commented on #4589
It's definitely on our TODO list but we have no timeline for you. Sorry.

[2017-12-12 20:33] SwampDragons commented on #5693
Look at command/plugin.go to see how the core plugins are loaded now, but the format below was used for packer <= 0.8.6 and is forward-compatible.

[2017-12-12 22:22] SwampDragons commented on #5697
I can't reproduce on an aws instance.  Will try to see if I can reproduce on your metasploitable branch instead.

Worked with this:

[code]

[2017-12-13 05:08] nodesocket commented on #5669
@mwhooker thanks `1.1.3` fixed it. Thanks.

[2017-12-13 05:11] mwhooker commented on #5694
Sorry about that, and thanks for the report! Definitely did not mean to break this in a patch release.

We've generally not done an excellent job of catching changes to the aws permissions we need. I'm going to investigate writing an acceptance test for these which will notify me of any permissions changes in the future.

In the meantime I'll update the docs

[2017-12-13 05:14] mwhooker commented on #5694
fixed in 03594bc07

[2017-12-13 05:14] #5694 closed

[2017-12-13 05:31] envatopoho commented on #5694
No worries @mwhooker!

[2017-12-13 07:27] pvandervelde opened #5700 "Hyper-V ISO builder fails to download ISO file from local drive"
Packer version: 1.1.3

Host platform: Win 10.
Version:  1709.
OS build: 16299.98

Trying to build a Ubuntu VM on Hyper-V with Packer 1.1.3 fails when Packer tries to download the Ubuntu ISO file from a local disk (but a different disk than where the packer configuration lives). The command line output is:

    & packer.exe build -var-file="E:\documents\Petrik\documents\operations\calvinverse\base.

[2017-12-13 07:28] pvandervelde commented on #5620
@SwampDragons grabbed the logs and reported it as #5700

[2017-12-13 16:18] davebiffuk opened #5701 "arbitrary waitXX doesn't work"
https://www.packer.io/docs/builders/qemu.html#lt-waitxx-gt- says that arbitrary wait times can be caused by using e.g. `<wait10m>`

However that's not working for me, when using `<wait2m>` I see Packer causing the literal keypresses <, w, a, i, t, 2, m, >.

I'm working around this by using many repeats of  `<wait10>`.

- Packer version from `packer version`

1.1.3

- Host platform

Ubuntu Xenial (

[2017-12-13 18:06] mwhooker commented on #5701
your packer install seems to be broken.

Please run `rm /usr/local/bin/packer-*` and I think this should be solved for you.

[2017-12-13 18:06] #5701 closed

[2017-12-13 19:12] SwampDragons commented on #5220
I've repro'd with virtualbox on my mac.

[2017-12-13 19:24] SwampDragons commented on #5700
Thanks for this!  Will look into this as soon as I can.

[2017-12-14 09:19] davebiffuk commented on #5701
Thanks, that has resolved it.

Was there anything in the output to suggest that was the problem?

Is this because the Packer install had been upgraded from an older version? (The `packer-*` files were dated 2015, I don't use Packer often.) Maybe the newer version could complain if it find out-of-date files?

[2017-12-14 15:20] jurajseffer opened #5704 "Provide better error message when failing to parse core config"
Packer 1.1.3

I have defined `PACKER_CONFIG` environment variable inside a bash script that had the path to the build configuration only to receive this message:
[code]

I wasn't aware `PACKER_CONFIG` was being used by Packer for core configuration. The above error message looked as if Packer was trying to map my build configuration into its internal config so it took me a while to figure out my e

[2017-12-14 15:34] deviantintegral commented on #3599
Using `VBoxManage` as a workaround doesn't work for many CI tools, as it requires the kernel modules to be installed even if you are only manipulating, and not running the actual virtual machine. Support for this would also be useful for openwrt, pfsense, and opnsense, and likely any sort of embedded system.

[2017-12-14 16:55] jurajseffer opened #5705 "Option to allow skipping of EC2 instance checks"
https://github.com/hashicorp/packer/pull/5678 introduced EC2 checks before attempting to connect via SSH (when using ansible). I've just upgraded from 1.1.1 to 1.1.3 and noticed significant wait before it attempts an SSH connection. It would be nice to be able to skip this and only rely on SSH being ready as in our case it's unnecessary wait time with default being EC2 checks.

[2017-12-14 18:16] mwhooker commented on #5704
yeah let's definitely log if the config came from the env. good idea!

[2017-12-14 18:21] SwampDragons commented on #5705
Have you done a time comparison to determine whether the build length is actually different?  This check prevents Packer from trying to connect until there's a chance of connecting; I have a suspicion that the build time just feels different because it's at a different point in the build.

[2017-12-14 19:04] SwampDragons commented on #5697
I believe the ugly output is a separate problem from the executable freezing, since that executable also fails with the chef provisioner itself. The output didn't prevent the executable from beginning and freezing in the same point as it did with the provisioner.

[2017-12-14 19:27] #5704 closed

[2017-12-14 19:29] mwhooker commented on #5335
Can anyone verify that the fix in #5703 resolves this? Looks like it should, but want to make sure before merging

[2017-12-14 19:33] mwhooker commented on #5705
we should investigate this further. We've discovered that we can't reliably try to connect to an instance until its status checks pass, and I'd rather err on the side of repeatability at the cost of build time.

I could conceivably see adding an option to adjust the "instance ready marker", but it seems like a big change for what seems like a trivial improvement. Would love to see more data about

[2017-12-14 19:33] clstokes opened #5707 "Triton builder should create firewall rules on demand."
The [Triton builder](https://www.packer.io/docs/builders/triton.html#source_machine_firewall_enabled) currently does not handle the creation and deletion of firewall rules for image building that other providers such as AWS do automatically. Users can use the [source_machine_firewall_enabled](https://www.packer.io/docs/builders/triton.html#source_machine_firewall_enabled) option to enable the mach

[2017-12-14 19:44] stack72 commented on #5707
@clstokes nice thoughts - I can look at this this week :)

[2017-12-14 19:56] mcandre commented on #5685
vmware-iso.

[2017-12-14 20:22] mcandre opened #5708 "Remove default for VMware tools_upload_path"
This is more of lodging a minor complaint than a call for code changes :/

As much as I favor convention over explicit, tedious configuration, there are some contexts where having a default value can be worse than requiring a user to provide one. Basically, there is no useful default value for `tools_upload_path` key, as each operating system presents a different path structure. Worse, packer user

[2017-12-14 21:01] SwampDragons commented on #5697
I can't reproduce this on your metasploitable branch with 1.1.3.  Does this happen every time?

[2017-12-14 21:10] mwhooker commented on #5708
thanks for the report. I appreciate the behavior was confusing, but I don't think this is something we're going to change. I'd be happy to work on the docs a bit, but I think the behavior is fine for the general case. Going back in time, it probably would have been better to make the upload path a required parameter, but I don't think it's worth breaking everyone's scripts at this point.

If you c

[2017-12-14 21:10] #5708 closed

[2017-12-14 21:18] SwampDragons commented on #5697
and I guess to be clear, I ran it with only the provisioners below to save time

[code]

[2017-12-14 21:54] kwilczynski commented on #4595
@dhs-rec I would be happy to add support on Linux et al, and try to do it on Windows, but someone would have to test it on Windows, as I am not a Windows person.

[2017-12-14 22:47] SwampDragons commented on #5697
So I screwed up the powershell command in the above example that I forgot the install tag, which is probably why it successfully ran.  This isn't a flaw with Powershell but with the command itself.  I'm closing this ticket as powershell seems to actually work fine, and I'm gonna focus on your other ticket about the chef install, which is observable both when calling it from powershell (as you're d

[2017-12-14 22:47] #5697 closed

[2017-12-14 23:24] BenMitchell1979 commented on #5036
Has this been fixed or is there a resolution. I'm getting this error as well.

[2017-12-15 00:59] SwampDragons commented on #5704
We already have a logline
[code]

did it not show up for you? if so, what text change do you think would make it clearer?

[2017-12-15 01:00] SwampDragons commented on #5704
oh geez I'm dumb. this was already resolved in the length of time it's been open in my chrome tab.

[2017-12-15 01:04] SwampDragons commented on #4595
Just as a matter of practicality, if there's a workaround available, then the priority for fixing an issue is lower.  We'll absolutely review PRs for it but are unlikely to create any of our own in the near future.

[2017-12-15 04:38] h-vishal commented on #5600
The attached binary did not fix this issue for me, downgrading to the previous version did.

[2017-12-15 06:41] dhs-rec commented on #4595
@kwilczynski, while I am a Linux person, too, I have some Windows systems at hand where I could test this.

[2017-12-15 10:29] jurajseffer commented on #5705
Hi, I just ran a simple test for the same scenario. It's ~40 seconds with SSH vs ~2m50s with EC2 checks for a t2.medium with CentOS 7 AMI.

ec2 checks (packer 1.1.3):
[code]

ssh wait only (packer 1.1.1):
[code]

This is not as much of a penalty for pipelines but local development where multiple serial runs are needed may be significantly slower. I think my ideal would be to make the ready check t

[2017-12-15 10:50] lbytnar commented on #5335
@mwhooker
Yes. This works for me. I can see now in ansible output quotes are escaped
```--extra-vars \"packer_build_name=lxd packer_builder_type=lxd packer_http_addr=\"```

and inside lxc/lxd container the quotes are also retained.
Thank you!

[2017-12-15 17:43] roman-cnd opened #5710 "Waiting for instance i-xxx to become ready... 4-5 minutes"
Packer 1.1.3
A pretty standard template for ec2

When it launches an instance in us-east-1, waiting times exceeds 4-5 minutes, even if port 22 is already available.

Where do I look to make it connect faster?

Thanks!
Roman

[2017-12-15 17:50] SwampDragons commented on #5705
That does seem like a fairly significant wait time increase. This is definitely worth chewing on -- is simplicity of the checking code worth this inefficiency?

[2017-12-15 17:53] SwampDragons commented on #5600
@h-vishal will you please open a new ticket with all of the details we ask for in the issue template?  Since this solution seemed to work for some people, I think you are facing a separate, related issue.

[2017-12-15 17:56] SwampDragons commented on #5710
This looks like a duplicate of https://github.com/hashicorp/packer/issues/5705

[2017-12-15 17:56] #5710 closed

[2017-12-15 18:00] roman-cnd commented on #5705
+ for making check types configurable. We saw significant increase builds times (total: 9 min, waiting for becoming ready - 4 min)

[2017-12-15 18:00] mwhooker commented on #5705
I'll take a look at making this check configurable

[2017-12-15 18:47] mwhooker commented on #5705
trying to decide the best way to do this...

at first blush we could add a config key that swaps between `WaitUntilInstanceRunning` and `WaitUntilInstanceStatusOk`. We'd probably want to have the default be `WaitUntilInstanceRunning`, since that works for the general case. This has the unfortunate side effect of breaking BC for anyone who was depending on the new check to get their build running.

[2017-12-15 19:17] SwampDragons commented on #4904
@SNikalaichyk is there a reason you aren't willing to just set a static password for winrm in your user_data file?

[2017-12-15 19:27] rickard-von-essen commented on #5705
There are two reports of "waiting for instance to become running" on the
user list when the instance never reaches running state or at least not
within the timeout. This might be related.

On Dec 15, 2017 19:48, "Matthew Hooker" <notifications@github.com> wrote:

[2017-12-15 19:32] onlydole commented on #5705
I am also seeing this in `1.1.3` - I am having success with `1.1.2` however

[2017-12-15 20:12] SwampDragons commented on #5705
@onlydole The issue created by this change should make things slower, not make them fail altogether.  If you're unable to provision AMIs even after waiting ten minutes, you have a different issue and should open a new ticket for us with repro information.

[2017-12-15 21:17] fewknow opened #5711 "BUG: -bash: ec2-bundle-vol: command not found after installed."
Describe the problem and include the following information:

- Packer version from `Packer v1.1.2`
- Host platform : MacOS
- Debug log output from `PACKER_LOG=1 packer build template.json`.
  Please paste this in a gist https://gist.github.com
**I can include this later if needed.**

- The _simplest example template and scripts_ needed to reproduce the bug.
  Include these in your gist https://gis

[2017-12-15 22:21] SwampDragons commented on #5711
My guess is that this is to do with all of the environment variables you are setting -- provisioners don't all execute in the same shell, so you need to pass in the environment variables you expect to have set for every provisioner.  If you're calling ec2-bundle-vol in a script that is different from the one installing it, you can't expect the env vars you set in the installation script to be avai

[2017-12-15 22:51] #5693 closed

[2017-12-15 23:14] mwhooker commented on #5688
Thanks for the cool idea! However, I don't think this is something we will pursue. Packer isn't the best tool for going deep on niche problems -- we like to be generally applicable to the majority of users. We're very much breadth over depth. Consequently, this usually means that Packer doesn't have room to solve more specific problems like this one.

I think the root problem, which is that gettin

[2017-12-15 23:14] #5688 closed

[2017-12-15 23:49] SwampDragons commented on #5651
I wonder if there needs to be some escaping of whatever's added to the IP variable.

[2017-12-16 00:11] SwampDragons commented on #5629
@riponbanik I'm not sure I totally follow this.  It sounds like you found a workaround (yay!) but I'm not 100% clear on what your solution was or what you want the packer project to do to automate it.

[2017-12-16 00:24] SwampDragons commented on #5220
@jbarnett-r7 is your example also on virtualbox?

[2017-12-16 00:39] jbarnett-r7 commented on #5220
Correct. Latest version.

On Dec 15, 2017 6:24 PM, "SwampDragons" <notifications@github.com> wrote:

[2017-12-16 03:02] BenMitchell1979 commented on #5036
@tdigangi5 - did you ever solve this issue? I'm running Packer v1.1.3 and attempting to configure EC2 instance (builder amazon-ebs) with chef-solo provisioner. I'm getting the following error 'Build 'amazon-ebs' errored: Error uploading cookbooks'... Any assistance would be greatly appreciated.

[2017-12-16 05:52] rickard-von-essen commented on #5711
As @SwampDragons said the modification of `PATH` doesn't persist to another (login) shell. You should permanently add `/usr/local/ec2/ec2-ami-tools-1.5.7/bin` to the `PATH` by adding it in `/etc/profile.d/`, see [Ubuntu help - System-wide environment variables](https://help.ubuntu.com/community/EnvironmentVariables#A.2Fetc.2Fprofile.d.2F.2A.sh).

[2017-12-16 05:52] #5711 closed

[2017-12-16 07:57] matthew-hickok commented on #4404
The MAC address is known already and Powershell is already being used, so why not just change the method of getting the IP address from the adapter and query for the active IP that has that MAC address via arp?

$ip = (Get-NetNeighbor -LinkLayerAddress $mac -State Reachable -AddressFamily IPv4).IPAddress

Maybe not that command exactly -- but something along those lines. Or maybe that could just b

[2017-12-16 08:11] matthew-hickok commented on #5642
@rickard-von-essen

I ran the scripts and it pretty much confirmed what I was thinking -- Packer queries the network adapter with Get-VMNetworkAdapter, which will only work if integration services are working properly on the guest. So I can get the MAC but not the IP.

So it does not return the IP address because CoreOS does not implement all of the Hyper-V Integration Services (https://github.com

[2017-12-16 15:40] mcandre opened #5712 "Handle reboots between provisioning scripts"
Ideally, most installation steps are performed via provisioning scripts which are very fast to execute. However, some installation steps like loading kernel extensions for VMware tools in darwin guests, require rebooting, which breaks provisioning scripts if the reboot is attempted during provisioning.

As a workaround, I'm running the reboot for darwin VMware tools during `boot_command`, however

[2017-12-16 20:18] rickard-von-essen commented on #5712
There is no problem with rebooting during provisioning.

Just issue a reboot in a shell script with [expect_disconnect](https://www.packer.io/docs/provisioners/shell.html#expect_disconnect) and in the following provisioner use [pause_before](https://www.packer.io/docs/templates/provisioners.html#pausing-before-running) to ensure that it don't start until the reboot have started.

[2017-12-17 06:27] synesisinc commented on #5447
Just getting into running Packer on GovCloud, and ran into this issue right away. Is this still just waiting for AWS to add support for, and the solution is for me to run v1.0.4 of Packer? (really?)

[2017-12-18 01:34] SNikalaichyk commented on #4904
@SwampDragons, we're using monthly AWS Windows AMIs. And in general, embedding passwords is a bad practice.

[2017-12-18 04:19] andrewsav-datacom opened #5713 "Guest additions download failed after upgrading from 1.1.1 to 1.1.3"
I have a packer template similar to this one: https://github.com/boxcutter/ubuntu

After upgrade to 1.1.3, I'm getting the following:

[code]

What could be the issue?

[2017-12-18 11:37] jurajseffer commented on #4819
I could use this feature right now as I have a build that appears to be stuck and we only print the output from the provisioner at the end of it so as it is now it will run forever.

[2017-12-18 12:40] minac commented on #5705
Same as @onlydole. With Packer 1.1.3, using the current (ami-8fd760f6) or previous (ami-785db401) AMIs for Ubuntu 16.04 LTS, the build hangs on "Waiting for instance....".
During my tests the instance is up and running in AWS and I am able to access it from the same container (different TTY) using packer's SSH key written to disk in debug mode.
The only way to make this work is using Packer 1.1.2.

[2017-12-18 12:48] lenfree commented on #5705
I bumped into this same issue couple of days ago and I realised it was due  to missing `ec2:DescribeInstanceStatus` permission. Not sure if this is what you guys are experiencing though.

[2017-12-18 13:06] minac commented on #5705
@lenfree That is not the problem for me, I also tested with a different set of permissions to see if that was it.
Unfortunately, even with the PACKER_LOG set to 1 this waiting steps says nothing about what is (not) going on.

[2017-12-18 15:10] fewknow commented on #5711
Thanks for the help.  I have added this to /etc/profile.d/myenvvars.sh.

Wanted to update this incase anyone else comes across this issue because I also had to install 2 required packages for this to work.  Here is the modified script that works.

[code]

[2017-12-18 16:23] gamethis opened #5714 "Reboots during scripts for PowerShell Provisioner"
Is it on the road map to add the expect_disconnect option to the PowerShell provisioner?

[2017-12-18 18:10] rchenv commented on #5606
@rickard-von-essen is there a plan to fix this bug soon? Thanks.

[2017-12-18 18:16] matthew-hickok commented on #4404
@taliesins

Could you expand on this:

What do you have in mind?

[2017-12-18 19:13] SwampDragons commented on #5712
Closing since it looks like this was more of a question than an issue -- Please reopen with steps to reproduce if `expect_disconnect=true` does not solve your issue.

[2017-12-18 19:14] #5712 closed

[2017-12-18 21:35] SwampDragons commented on #5714
Unfortunately, no.  It's been requested in the past but we don't get the info we need from winrm to be able to support this feature (see https://github.com/hashicorp/packer/issues/4198 and the issue linked from within it for more context)

[2017-12-18 21:35] #5714 closed

[2017-12-18 22:01] SwampDragons commented on #5713
I can't reproduce with 1.1.3 on windows.  Can you please share your exact config?

[2017-12-18 23:08] andrewsav-datacom commented on #5713
Attached: [ubuntu-1604.zip](https://github.com/hashicorp/packer/files/1569730/ubuntu-1604.zip)

@SwampDragons, thank you for looking at this.

[2017-12-18 23:34] mwhooker commented on #5713
possibly a dupe of #5700

[2017-12-18 23:35] mwhooker commented on #5713
and maybe not a dupe, but seems closely related to #5559

[2017-12-18 23:35] andrewsav-datacom commented on #5713
Not hyper-v here, but yes, looks very similar.

[2017-12-18 23:36] mwhooker commented on #5713
the builders use the same code under the hood

[2017-12-18 23:38] andrewsav-datacom commented on #5713
Works fine on VmWare builder though.

[2017-12-18 23:40] mwhooker commented on #5713
There was a fix in #5591 for this same error message, making me think these have a root cause in maybe #5573

[2017-12-18 23:48] mwhooker commented on #5629
Sounds like this is working now. If you've got some concrete ways for us to improve packer, please open a new issue. We'd love to hear your idea, but need some clarification

[2017-12-18 23:48] #5629 closed

[2017-12-19 00:07] elisiano commented on #5705
Adding  myself to the list of people who cannot generate an AMI anymore since 1.1.3 (1.1.2 works fine)

[2017-12-19 00:26] SwampDragons commented on #5220
Hrm.  the chef command is never returning from here https://github.com/hashicorp/packer/blob/aab786dd1ae730f208c3f901c6059c007f666500/communicator/ssh/communicator.go#L112 and I can't figure out why.

[2017-12-19 14:36] elisiano commented on #5705
Thank you @lenfree, adding `ec2:DescribeInstanceStatus` solved my issue!

[2017-12-19 17:33] kevinkjt2000 commented on #1982
I would love if packer had this, since I just ran into it.  This works for virtualbox-iso, but not vmware-iso.

[2017-12-19 18:15] mwhooker commented on #5705
There's an issue where we realized we didn't update the docs about the permissions (#5694), and I want to apologize here about our poor communication around that. We didn't notice at the time that we were introducing another permission requirement, and I'm going to see about writing a test to make sure it doesn't happen again.

I think most of the issues with the new version are related to permiss

[2017-12-19 18:23] minac commented on #5705
I even tried with EC2:* permissions and it still got stuck. I believe I've
got a non permission based issue.

--
Miguel

On 19 Dec 2017 6:15 p.m., "Matthew Hooker" <notifications@github.com> wrote:

[2017-12-19 18:38] mwhooker commented on #5705
Okay, thanks, I thought I saw an issue where the permissions were in place, but couldn't find it off hand

[2017-12-19 18:52] minac commented on #5705
Cool Matthew. Let me know if I can provide any sort of tests/logs/etc.

—
Miguel
IT Infrastructure Engineer <https://www.linkedin.com/in/migueldavid/> -
migueldavid.eu

On 19 December 2017 at 18:38:17, Matthew Hooker (notifications@github.com)
wrote:

Okay, thanks, I thought I saw an issue where the permissions were in place,
but couldn't find it off hand

—
You are receiving this because you comm

[2017-12-19 19:18] AndrewSav commented on #5713
@SwampDragons can you reproduce it with the config provided?

[2017-12-19 19:32] #5606 closed

[2017-12-19 19:44] mwhooker commented on #5447
We'll see about adding support for this

[2017-12-19 20:39] SwampDragons commented on #5713
I haven't had a chance to try yet today; may not get to it until tomorrow but will try to get to it before Hashicorp's end of year break.

[2017-12-19 21:43] minac commented on #5421
Thanks @ofosos! That sorted the issue I was having for 4 hours! :)

[2017-12-20 04:15] testworksau commented on #5677
I am curious as to why this was only added to powershell provisioner, and not - for example - to the windows_shell provisioner?

[2017-12-20 07:00] h-vishal opened #5721 "VBoxGuestAdditions.iso: The system cannot find the path specified - same as #5600 but on Packer 1.1.3"
Packer version 1.1.3
Host - Windows 10 amd64
Packer output - https://gist.github.com/h-vishal/017d2a7bed8239db996ec1f93406d09e
Template - https://gist.github.com/h-vishal/ef066da29330150e328df631049d787a

I do not have this issue on Packer version 1.1.1

[2017-12-20 07:10] h-vishal commented on #5721
Possibly same as #5713

[2017-12-20 14:52] mattdeavesmf opened #5723 "Waiting for Digital Ocean Droplet to become active after snapshot complete"
## Background
After creating a snapshot on Digital Ocean, Packer waits for the droplet to become active - which it never does.  This behaviour seems strange to me because once the snapshot is made, the droplet isn't needed anymore and can be destroyed.

## Details
Packer v1.1.3
Host platform: Ubuntu 14.04
Simplest Template for reproduction and Debug Output: https://gist.github.com/mattdeavesmf/8f3

[2017-12-20 18:17] rickard-von-essen commented on #5723
Your install is broken. Remove your current install directory and reinstall from [packer.io/downloads](https://www.packer.io/downloads.html). _Be sure to read the [**note** about upgrading from < 0.9.0.](https://github.com/hashicorp/packer/commit/1994793126f948dd99c8acdd35f999df0c6ab342)_

[2017-12-20 18:17] #5723 closed

[2017-12-20 18:44] jayed opened #5724 "Better support for Shared VPC in googlecompute builder"
**Feature request**
Implement a `network_project_id` field for the googlecompute builder that defaults to the `project_id`.

**Reason**
Currently to use a shared VPC's host network, it requires the complete network URL. Which is long and ugly. A `network_project_id` would provide sufficient information for the current interpolation scheme.

**Use case**
Creating instances in one project, while hav

[2017-12-20 19:16] rickard-von-essen commented on #5724
From the docs:

[2017-12-20 20:33] jayed commented on #5724
Aren't I blushing now. Sorry to waste your time!

On Wed, Dec 20, 2017 at 2:16 PM, Rickard von Essen <notifications@github.com

--
Jay Edwards | @meangrape | jay@meangrape.com
US: 415.683.6268
India: +917406945031

[2017-12-20 20:39] SwampDragons commented on #5721
Yeah this looks like a duplicate of 5713.  Gonna close this to keep the conversation in one place.

[2017-12-20 20:39] #5721 closed

[2017-12-20 22:16] riponbanik commented on #5629
@mwhooker and @SwampDragons - it is not working. This is not a solution. Packer is meant to be automation - it is not supposed to be working from AWS only where AWS provided dns is being set, needs to work with ip as well. As a user I am loosing trust with tool which I am using for long - new version should not break basic functionality.

[2017-12-20 22:45] SwampDragons commented on #5713
I still can't repro.  I used ubuntu.json in your attached zip, since ubuntu1604.json wasn't a complete packer config.  Can I have your full debug logs?

[2017-12-20 22:47] SwampDragons commented on #5713
Dumb sanity-check question. Are you sure you're on 1.1.3 and not 1.1.2?

[2017-12-20 23:05] mwhooker commented on #5629
@riponbanik to reiterate what I've said in the other ticket, I'm sorry you're having problems but we don't understand what your issue is. We closed this because from your responses we assumed it had been fixed, but maybe we misunderstood. This issue was also opened before #5630 was merged.

To get the help you need, please open a new ticket with clear information about how to reproduce the issue,

[2017-12-20 23:13] andrewsav-datacom commented on #5713
@SwampDragons definitely on 1.1.3. You cannot reproduce? I tried on two different machines and the results are the same.

[2017-12-20 23:33] SwampDragons commented on #5713
Yeah, still can't.  <img width="1332" alt="screen shot 2017-12-20 at 3 32 34 pm" src="https://user-images.githubusercontent.com/1008838/34233579-148dedce-e59b-11e7-84ba-9f20b5275fd4.png">

[2017-12-20 23:38] andrewsav-datacom commented on #5713
Okay, let me update VirtualBox to 5.2.2, although that should not matter. And I'll also re-download the packer executuable just to be sure, long shot though.

[2017-12-20 23:38] trevorndodds opened #5725 "no_proxy for winrm"
- Packer version from 1.1.3
- Host platform: Linux and Windows
- Guest: Windows
- Waiting to connect to WinRM...
   Sometimes it connects (see below), sometimes it throws back a Proxy error.

ssh_interface (private) helps a little but still causes problems.

The issue I have is that we do not use the AWS DNS so adding .internal to our no_proxy doesn't help. However I can work around this by having

[2017-12-20 23:43] andrewsav-datacom commented on #5713
@SwampDragons

[code]
Why does your screenshot says go1.8.1 ?
We are clearly running different executables.

[2017-12-20 23:45] SwampDragons commented on #5713
I built it locally from our v1.1.3 release tags just because that's how I normally develop.  I can grab it from our release page and validate that this isn't an issue, though.

[2017-12-20 23:45] andrewsav-datacom commented on #5713
@SwampDragons thank you, that would be nice to double check.

[2017-12-20 23:47] SwampDragons commented on #5713
Just checked with the one from the downloads site; still no issues for me.

[2017-12-20 23:51] SwampDragons commented on #5713
so just looking at where the logs are in the code, it seems like you must be failing here: https://github.com/hashicorp/packer/blob/master/common/download.go#L134 which made me flag on the idea that maybe shell versions matter?  But I don't think os.Stat should cause windows any problems.

[2017-12-20 23:53] andrewsav-datacom commented on #5713
And I'm still failing with VirtualBox 5.2.2 and packer re-downloaded from the hashicorp site (used choco package before that).

[2017-12-20 23:55] SwampDragons commented on #5713
Not that I know how this will help at this point, but what version of windows are you on again?

[2017-12-20 23:59] andrewsav-datacom commented on #5713
Tested in Windows 2016 Server and Windows 10.

Win 10:
[code]

Win 2016:
[code]

[2017-12-21 00:00] SwampDragons commented on #5713
Shoot, me too. I'm at a total loss here.  At this point all that is coming through my mind is "permissions...?"

[2017-12-21 00:03] mwhooker commented on #5725
Thanks for the issue. I think this is very likely what was being reported in #5630.

seems like we have 3 options

1. add a flag to automatically add remote IP to no_proxy list
2. add a flag to disable `ProxyFromEnvironment` in the winrm communicator
3. make our own transport that supports CIDR notation in `NO_PROXY` (until this is added to go 1.11 https://github.com/golang/go/issues/16704)

#1 se

[2017-12-21 00:06] mwhooker commented on #5629
going to track in #5725. Let me know if that's not the same issue

[2017-12-21 00:32] trevorndodds commented on #5725
Corporate Firewall and proxy cause lots of problems. Access to the AWS API calls have to go over the proxy to get to the internet, but ec2 instances are only accessible on a private AWS subnet. Given winrm uses HTTPS the connection is made over the proxy which is what we need to avoid since it should all be routed internally.

no_proxy not supporting CIDR is a huge limitation. Thanks for the link!

[2017-12-21 00:38] andrewsav-datacom commented on #5713
@SwampDragons can you try this.

Put the templates and the copy of packer.exe on a different disk. That is not on the disk where Virtual Box is installed, and try running it.

When I move the packer template to C: it starts working here as well.

[2017-12-21 01:04] SwampDragons commented on #5713
Oooooh interesting.

[2017-12-21 02:02] andrewsav-datacom commented on #5713
@SwampDragons so on https://github.com/hashicorp/packer/blob/master/common/download.go#L134 it stats `/Program Files/Oracle/VirtualBox/VBoxGuestAdditions.iso` and since it's on the wrong drive it cannot find it. Mystery solved, the only thing left is to make a fix ;)

[2017-12-21 03:03] alexsab1 commented on #3640
All,

There will be problems with async in the following scenario

Running serial VSTS builds with packer and template using build_resource_group_name

While first build runs, second build is queued. First build finishes with async delete of resources.
Second build starts but the resources from the first build are not yet deleted. This might be an issue.

Thanks

[2017-12-21 05:39] andrewsav-datacom commented on #5713
**Summary**
The root of this issue is that net/url is used to parse file paths. It is not designed for this, and should not be used this way.

See here: https://github.com/golang/go/issues/13276#issuecomment-157074191

[This](https://github.com/hashicorp/packer/blob/master/common/config.go#L49) is the function that needs to be rewritten to address that.

**What's went wrong?**

Note this piece of

[2017-12-21 06:17] rickard-von-essen commented on #5724
No worries.

[2017-12-21 06:17] #5724 closed

[2017-12-21 06:58] arizvisa commented on #5713
Btw, PR #2906 was written to deal with this sort of cross-platform weirdness with windows vs posix paths and removes all of those `runtime.GOOS == "windows"` hacks that are spotted throughout common/download.go.

To deal with net/url not being designed to parse local file paths, PR #2906 uses the uri protocol to determine which path type the user has specified and then converts it to a local file

[2017-12-21 07:09] AndrewSav commented on #5713
@arizvisa Thank you for sharing. UNC paths is something that did not even occur to me.

So `DownloadableURL` needs to process:

- nix paths (/some/path)
- windows paths (c:\some\path)
- non-rooted paths (some/path or some\path)
- unc paths (\\server\some\path)
- http and https, and possibly ftp (http://some/path)

Note that the function accepts and returns string, but use net/url inside, then the

[2017-12-21 07:15] AndrewSav commented on #5713
@arizvisa - and the PR - looks awesome, I admire that after two years you are still hopeful ;)

[2017-12-21 07:19] arizvisa commented on #5700
Btw..likely already fixed by #2906 which converts local platform-specific paths to an rfc-compliant uri (file://) in `common/config.go`, and then uses the protocol's interface implementation (LocalDownloader in `common/download.go`) to determine whether it can be converted to a local path. This fixes the '\\' issue with net/url introduced in golang 1.6 and allows for one to specify UNC-paths on Wi

[2017-12-21 07:27] arizvisa commented on #5713
Awesome that list of paths that you suggested are the exact ones that I was thinking about too when I first needed this thing to work consistently from Windows. (Tests for all of those are here : https://github.com/arizvisa/packer/blob/GH-2377/common/download_test.go#L439)

Hah, thx.. And lol, yeah...maybe not as hopeful (or young even) anymore. But at the very least, my attempt to participate in

[2017-12-21 07:36] arizvisa commented on #5713
@AndrewSav, if you need a release that has these fixes/protocol that you need before they get around to merging these things upstream, I maintain releases and builds at https://github.com/arizvisa/packer/tree/release-$VERSION.

They include another set of patches that gives you extra options versus VMware such as control of the network and other misc things. My target audience is infosec people wh

[2017-12-21 07:41] AndrewSav commented on #5713
@arizvisa well, I of course had to build the thing to be able to do the research above, no way around that, so I think I'll manage. Pointing out `gox` is also appreciated, I think I stumbled across it some months ago, but completely forgot about it by now.

[2017-12-21 07:53] arizvisa commented on #5671
This is a dupe of #2968.

[2017-12-21 12:17] Thumpermat opened #5726 "Can't use Chef-Solo with WinRM"
Packer version: 1.1.2 and 1.1.3
Host platform: OSX El Capitan
Log Build with SSH: https://gist.github.com/Thumpermat/acd2de26f5c8b14b4bca5e5e62bea1df
Log Build with WinRM: https://gist.github.com/Thumpermat/78ef2e8b802e1c349e393c2c204a9143

I want to build a Windows 2012 R2 vagrant box with packer, using Chef-Solo as provisioner.

When I use SSH as communicator, it works without an itch. When I us

[2017-12-21 16:47] bpetit commented on #3200
Hi,

A bit old, but I have to ask: is this confirmed ? What is the status ?
I think I'm experiencing the same symptom.

[2017-12-21 19:54] rickard-von-essen commented on #3200
IMHO this have not been confirmed. Can you please provide complete information to reproduce this and  we can have a look.

[2017-12-21 19:55] rickard-von-essen commented on #3200
Closing this and I'll reopen if we have more information.

[2017-12-21 19:55] #3200 closed

[2017-12-21 22:16] ferrarimarco opened #5727 "#5573 (path validation) prevents the use of multi-step builds"
# Description of the problem

With the changes in #5573 it's not possible to validate a multi-step build anymore.

In my builds I usually split time-consuming tasks. With this strategy, if something goes wrong in any given step, I don't waste the work done in the previous steps.

Example: if I want to configure a VM with Ansible, I can run (each point is a separate `packer build -only=builder-name

[2017-12-21 22:28] riponbanik commented on #5725
@trevorndodds @mwhooker what is the issue of allowing private_ip for winrm along with private_dns as it is for ssh?

[2017-12-21 23:18] mwhooker commented on #5725
@riponbanik You can use `"ssh_interface": "private_ip"` when using winrm. Unfortunately we use the terms `ssh` and `winrm` interchangeably on that page. The problem is there's no way right now to set NO_PROXY to the private_ip. That's what this ticket is trying to resolve.

Do you have a proxy? Does setting `"ssh_interface": "private_ip"` resolve this for you?

[2017-12-21 23:47] trevorndodds commented on #5725
@riponbanik  we have the same issue if I look at your #5629 ticket . This is what the ticket is for, to disable the proxy when making a winrm call when using "private_*" either through a flag or adding the private_ip to no_proxy when packer determines the ec2 IP. Whichever is the best approach.

If you use private_dns then no_proxy=.internal would work if you use AWS DNS as the FQDN is resolvable.

[2017-12-22 02:08] arizvisa commented on #5621
Ftr, relative filepath for DownloadableURL is implemented by PR #2906.

[2017-12-22 06:07] southwel opened #5728 "shell provisioner does not source, source image's /etc/profile"
Hi, we are using packer to build multiple images for multiple component VMs.  All of the components share a single base image that is also built using packer.

I've noticed that when I build an image with packer, the environmental vars from the source image's /etc/profile are not sourced or available in the image being built and accessed via the shell provisioner.

Can you confirm this is expected

[2017-12-22 08:08] rickard-von-essen commented on #5728
Could you provide a example that reproduces this and maybe some analysis of what's wrong.

My hunch is that this is solely depending on your configuration in the guest.

[2017-12-22 21:25] shriganeshs opened #5731 "Packer-azure_arm: Use latest custom managed image name as source image"
Similar to the following way provided for amazon_ebs builder
[code]

How can I get the latest source image `custom_managed_image_name` for Azure?

I will be storing images with name as `custom_centos7_python36_{{timestamp}}`, and I want to use the latest image as source image for new Packer build.

- Packer version 1.1.1

[2017-12-22 21:40] nburglin commented on #4090
@mwhooker Is this still on your radar? It would be nice to override the max number of retries with an env var.

In our scenario, we have several apps that can each be building multiple "micro-service" AMIs in parallel. At times we'll have 15-20 packer builds running from our CI tool, along with other in-house monitoring and clean-up scripts that use the API for various functions.

It's not uncommo

[2017-12-23 01:09] southwel commented on #5728
Below you'll find the packer json file we use along with the output of the current environment variables from running the 'env' command in add-user.sh script, followed by the output (via cat) of /etc/profile, /etc/bash.bashrc and ~/.bashrc.  As we see, GOROOT, and GOPATH are set in /etc/profile, /etc/bash.bashrc coming from the source image(p-debian-base) upon which this image was built against, b

[2017-12-23 20:39] rickard-von-essen commented on #5728
Sorry I should have spotted this from the beginning.

This is the intended behavior and realy don't have anything to do with the implementation of Packer but rather how ssh invokes commands.

When you invoke a script with ssh (`ssh user@host script.sh`) the script is just executed by the interpreter (defined by the shebang). Scripts are executed in a non-login invocation and those doesn't read `pr

[2017-12-24 02:39] charleslieferando opened #5733 "Problems programmatically interacting with Packer"
I am trying to programmatically call packer cli through a little go program. I am relatively new to go so any poinnters on where i am going wrong would be appreciated.

*main.go*

[code]

I get the following error:

[code]

[2017-12-24 11:46] rickard-von-essen commented on #5733
You need to properly initialize your `CoreConfig`.

`invalid memory address or nil pointer dereference` means that you dereference a unset variable (in this case a struct field).

I your case you haven't configured the `ComponentFinder`.

[2017-12-24 11:46] rickard-von-essen commented on #5733
You need to properly initialize your `CoreConfig`.

`invalid memory address or nil pointer dereference` means that you dereference a unset variable (in this case a struct field).

I your case you haven't configured the `ComponentFinder`.

[2017-12-24 11:46] #5733 closed

[2017-12-24 20:47] ivan-pinatti opened #5734 "Feature request: Handle DigitalOcean snapshots (rotate/overwrite)"
Hi,

It would be nice if there was a feature to handle DigitalOcean snapshots similar what we do have for AWS EC2 AMIs.

What I mean is;

You could choose to remove (destroy) a current snapshot before creating a new one.

**OR**

To destroy the old one after a new is created.

This is a kind of a snapshot rotation, IMHO, second option is the best.
Current workflow only creates a new snapshots and

[2017-12-24 23:37] yuval-k commented on #2922
hot off the press: https://github.com/solo-io/packer-builder-arm-image

[2017-12-25 06:20] rickard-von-essen commented on #2922
@mwhooker maybe we should have a list of 3pp plugins on https://www.packer.io/community-tools.html ?

[2017-12-25 22:15] charleslieferando commented on #5733
@rickard-von-essen  you say I should feel free to ask here. Where exactly? I asked this question and you closed the issue.

I guess my problem right now is how do I initialize a ComponentFinder? Thanks!

[2017-12-26 07:12] rickard-von-essen commented on #5733
I closed since this is not an issue that we will fix, since there is nothing wrong.

[2017-12-26 07:16] rickard-von-essen commented on #5733
This is a core part of the code that we don't change much so I don't really know. My advise would be to search the code for `ComponentFinder` and look how it's done. Maybe start with how it's done in a test. For example https://github.com/hashicorp/packer/blob/81522dced0b25084a824e79efda02483b12dc7cd/command/build_test.go#L135

[2017-12-26 21:15] lkr2des opened #5735 "GCE - Error creating instance: googleapi %!(PACKER_COMMA) invalid - Version 1.1.3"
I am using latest packer version as I had recently updated to 1.1.3 from 1.1.1
Since then, I am unable to build image in GCE it gives below error( I made the network ID and project
to xxxx purposefully)

[code]

The same json when I try with packer version 1.1.1, I see the below output and progress looks better as expected,

[code]

Any ideas if this is a bug in 1.1.3?

Thanks
Lucky

[2017-12-26 22:33] jamesla commented on #5693
thanks @SwampDragons

[2017-12-27 02:58] giseongeom commented on #5257
I experienced this bug last night. As a workaround, I gave 60s pause before windows_restart and the problem looks disappeared.
[code]

[2017-12-27 04:48] jamesla opened #5736 ""Incompatible API Version" with custom plugin"
I am trying to create a plugin for packer and it compiles fine but when I try and run the plugin using packer build, I am getting the below error.

I have read through the docs and can't understand what is out of date. Am using packer 1.1.3.

[code]

Any idea on how I can fix this?

Repository here https://github.com/jamesla/packer-test-plugin

[2017-12-27 08:05] rickard-von-essen commented on #5735
This looks like a bug. There where a change in how network ID is resolved.

[2017-12-27 08:32] rickard-von-essen commented on #5735
Could you please provide a template to reproduce this and describe your network setup and access rights for the network in question.

[2017-12-27 09:56] helloIAmPau commented on #869
+1

[2017-12-27 17:37] lkr2des commented on #5735
Unfortunately, I can't provide access rights for network due to work restrictions.

But it's simple network vpc setup with two separate /24 subnet, but here's that template
which worked fine with 1.1.1 but not with 1.1.3

{
  "builders": [
    {
      "account_file": "{{user `account_json`}}",
      "communicator": "ssh",
      "disk_name": "{{user `instance`}}",
      "disk_size": "{{user `disk_s

[2017-12-27 19:17] chirangaalwis commented on #869
+1 for introducing this feature. Will simplify a lot of work.

[2017-12-27 19:41] rickard-von-essen commented on #5735
I just wanted a description.

Could you provide a gist with the debug log (from running `PACKER_LOG=1 packer build packer-svc03.json`).

Correct me if I'm wrong but you have:
  - _project_id_ ???
  - _network_project_id_ `poc`
  - _network_ `poc01`
  - _subnetwork_ `app01`
Do these match up?

It's very hard to help you with troubleshooting this when some values are removed.

[2017-12-27 22:32] lkr2des commented on #5735
Probably my earlier edits to comment out some of them probably were incorrect
Here's my json (I've actually renumbered the networkid to 1111111, hope that's oK?)

 "variables": {
    "account_json": "{{env `PACKER_ACCOUNT_JSON`}}",
    "disk_name": "svc03-os-disk",
    "disk_size": "30",
    "disk_type": "pd-standard",
    "home": "{{env `HOME`}}",
    "image_description": "svc03 packer image",

[2017-12-28 10:31] rickard-von-essen commented on #5735
Can you verify that the network `poc01` is a part of project `11111111`?

I think you're packer template is misconfigured and previous versions ignored some values (like `networks`) but when we change how we look up networks the error was revealed.

[2017-12-28 13:36] stack72 opened #5737 "builder/triton: Make packer aware of RBAC for interaction with Triton"
Requires https://github.com/joyent/triton-go/pull/82

Just an update to SSH Agent signers in the triton-driver

[2017-12-28 15:28] honeybadgerinc commented on #5257
I'm experiencing this issue as well.

- Packer v1.1.2
- Windows 2016-Datacenter
- crash.log: https://gist.github.com/honeybadgerinc/702946ea6b210f51865506c76f3da8c9

I tried what @giseongeom suggested, but that doesn't work. Packer still crashes

[2017-12-28 15:52] hagridaaron commented on #5404
I'd be very interested in this!

[2017-12-28 18:17] lkr2des commented on #5735
Yes poc01 is part of the network ID

$ gcloud compute networks describe poc01
autoCreateSubnetworks: false
creationTimestamp: '2017-10-25T10:53:29.723-07:00'
id: '11111111111111111'
kind: compute#network
name: poc01
routingConfig:
  routingMode: REGIONAL
selfLink: https://www.googleapis.com/compute/v1/projects/ops-pcp-poc/global/networks/poc01
subnetworks:
- https://www.googleapis.com/compute/v1/p

[2017-12-28 19:02] rickard-von-essen commented on #5735
I think it should work if you just remove `network`.

On Dec 28, 2017 19:17, "lkr2des" <notifications@github.com> wrote:

[2017-12-28 20:47] lkr2des commented on #5735
Ok I'll give that a try and get back.But then within a given project or project ID, if we have multiple networks defined which will end up with different network ID, then how do I go about it?

[2017-12-28 21:02] orirawlings commented on #5705
I recently came across this as well, but it seems like I may have encountered some racy behavior where `packer` proceeded to run the provisioners and publish the AMI even though it faced an error waiting for the EC2 instance to become ready:

[code]
It is quite confusing to see that it is starting to delete things and clean up while it simultaneously continues to provision the instance.

Here is t

[2017-12-28 21:07] roman-cnd commented on #5705
I'm using the previous version while this is being fixed, it works without any issues.

[2017-12-28 23:37] riponbanik commented on #5725
@mwhooker  I tried with that and it does not work. @trevorndodds my no_proxy setting is like below, it works for other cases but not when I use private_ip for packer. private_dns works when I use host file like yours.

localhost,127.0.0.1,169.254.169.253,169.254.169.254,10.0.0.0/8,.internal