[2016-01-26 00:50] cbednarski commented on #2702
@david-strejc Thanks for the report, and sorry for the late reply. I have seen this issue before and the problem was that even though the provisioning script failed, puppet reported that the run was successful. To resolve this you will need puppet to fail so the puppet provisioner passes correct the error code back to packer.

[2016-01-26 00:50] #2702 closed

[2016-01-26 00:54] cbednarski commented on #2705
Thanks, this is a great suggestion!

[2016-01-26 03:15] cbednarski commented on #2716
Yeah this sounds like a good idea -- thanks for suggesting it! Do you have a link to docs for the naming rules for GCE images?

[2016-01-26 03:26] cbednarski commented on #2717
The design around communicators accomplishes two things:

The first is that the provisioner requires much less configuration because it does not need to know about where to find the SSH private key. If we pass the configuration in we then also have to duplicate the logic that locates the key file or password, initializes the connection, etc. and generally this makes the code a lot more complicated

[2016-01-26 03:26] #2717 closed

[2016-01-26 03:31] cbednarski commented on #2722
Thanks for opening an issue. Packer is working as designed in this case. Without the checksum packer does not have a way to decide that the file is wrong and rather than delete random files on your computer, we error instead.

[2016-01-26 03:31] #2722 closed

[2016-01-26 03:43] cbednarski commented on #2723
Thanks for sharing your configuration. I do not see anything in there that looks suspect. It sounds like there is either a bug in VirtualBox or a race condition in packer's HTTP server setup or guest VM networking configuration, though without a consistent repro this will be hard for me to track down.

We've fixed quite a few bugs since the 0.8.2 release. I'm curious whether you can reproduce this

[2016-01-26 03:45] cbednarski commented on #2724
Thanks for opening an issue. I've seen a few requests for this. I think it should be fairly easy to add a configuration option for this.

[2016-01-26 03:47] cbednarski commented on #2725
Yes, thanks for clarifying, @eegilbert. It is a bit hard to see on the docs page but the `encrypted` option is nested under `ami_block_device_mappings`.

[2016-01-26 03:47] #2725 closed

[2016-01-26 03:56] cbednarski commented on #2730
Thanks for opening an issue, and sorry for the late reply on this! It looks like this problem is a side effect of using the SCSI disk option. I've done some googling and it seems like this is a bug in QEMU, but it's also possible packer's default behavior here is wrong. If you're still experiencing this issue can you a minimal repro case so I can troubleshoot? Thanks!

[2016-01-26 04:02] cbednarski commented on #2735
Thanks for opening an issue, and sorry about the confusion here! When working on go projects it's best to have them live in your `GOPATH`. This avoids the problem you described. The easiest way to do this is to use `go get` to clone the repo. So for example if you `go get github.com/mitchellh/packer` it will land in the right place and you will not have the issue where `go build` tries to download

[2016-01-26 04:12] cbednarski commented on #2738
Thanks for the report. I think this is working as designed.. The staging directory is a `/tmp/packer-something` folder. The two options `skip_client_clean` and `skip_node_clean` correspond to the following commands:

[code]

My recollection is that knife copies the data under `/var/lib/chef` or similar when it does the node setup so those are the paths affected but the `skip_*_clean` options above

[2016-01-26 04:12] #2738 closed

[2016-01-26 04:14] cbednarski commented on #2739
Thanks for the report. I think I have seen something like this as well. It may be a bug or a spot where we need to clarify the documentation.

[2016-01-26 04:15] cbednarski commented on #2746
Thanks for the report! The website has been redeployed since your fix was applied so this should be resolved now.

[2016-01-26 04:15] #2746 closed

[2016-01-26 04:17] cbednarski commented on #2754
Thanks for the report. I think this is a duplicate of https://github.com/mitchellh/packer/issues/2301

[2016-01-26 04:20] cbednarski commented on #2756
Thanks for the suggestion! To my knowledge packer does not currently support this. I'm not sure whether we can implement this against the Amazon API, but this might be a fun one to look into.

[2016-01-26 04:22] cbednarski commented on #2760
Thanks for the suggestion. This sounds similar to https://github.com/mitchellh/packer/issues/2756 and maybe can be implemented in a similar way.

[2016-01-26 04:33] cbednarski commented on #2766
This is odd. I reviewed the implementation and the way this appears to work is:

1. inline scripts are written to temporary files
2. list of inline scripts is added to list of other scripts
3. scripts are uploaded and executed (regardless of inline vs. file this code path is the same)

I'm curious where that's going sideways.

[2016-01-26 04:35] cbednarski commented on #2772
I think this is fixed thanks to https://github.com/mitchellh/packer/pull/2848 but will verify before closing.

[2016-01-26 04:40] cbednarski commented on #2773
Thanks for the report. I agree it would be great for packer to do this automatically.

I will need to find a creative place to put this since I don't think we ever ask you what type of OS you're using. For instance you could use openssh on windows and I'm not sure if sync does anything there (I suppose we could just call it anyway and ignore the failure).

[2016-01-26 04:44] cbednarski commented on #2779
Thanks for the report! I find it curious that this does not error / panic when the disk is exhausted.

Related: https://github.com/mitchellh/packer/pull/3096

[2016-01-26 05:16] cbednarski commented on #2783
Thanks for opening a ticket. I think this is already possible via https://www.packer.io/docs/provisioners/chef-client.html#config_template If this option doesn't do what you want please re-open. We should add knife.rb somewhere in the docs to make this easier to find.

[2016-01-26 05:16] #2783 closed

[2016-01-26 05:22] cbednarski commented on #2786
Thanks for the report! It sounds like there is some specific permutation here that causes this particular problem but it sounds to me like there is more than one bug here. I'll need to do some digging.

[2016-01-26 05:25] cbednarski commented on #2827
Thanks for the report. This was a bug in 0.8.0 and was fixed in 0.8.1. You can resolve this by upgrading or by removing the compress post-processor from your build template.

[2016-01-26 05:25] #2827 closed

[2016-01-26 05:27] cbednarski commented on #2838
Thanks for the report. I think the fix is probably for us to use a randomly-named tmp folder to avoid this. E.g. `/tmp/packer-provisioner-ansible-local-34092874`.

[2016-01-26 05:32] cbednarski commented on #2842
It looks like this has been fixed in master so I'm going to close this issue. Thanks @ajacoutot for the report and @markpeek for the fix!

[2016-01-26 05:32] #2842 closed

[2016-01-26 05:34] cbednarski commented on #2850
Thanks for opening an issue. Unfortunately we don't maintain the bosh provider so I think you will need to open an issue here: https://github.com/cloudfoundry/bosh-lite/issues Sorry to keep you waiting on this!

[2016-01-26 05:34] #2850 closed

[2016-01-26 05:40] cbednarski commented on #2859
Thanks for the suggestion. By default packer prefixes all of the security group names with `packer-` so you can easily identify and delete them. If you want to avoid deleting in-progress builds you can run a reaper script that deletes SGs older than a certain amount of time, or you can [create a security group in advance](https://www.packer.io/docs/builders/amazon-ebs.html#security_group_id) and s

[2016-01-26 05:40] #2859 closed

[2016-01-26 05:45] cbednarski commented on #2897
Thanks for the suggestion. We've considered migrating to HCL and would like to do this but it is unlikely to make it into packer in the near-to-medium term for backwards-compatibility reasons. It's a significant change, requires rewriting a lot of internals, and can't be done incrementally since everything is in the same file right now. For now I would recommend using a pre-processor or templating

[2016-01-26 05:45] #2897 closed

[2016-01-26 05:58] cbednarski commented on #2918
Sorry to keep you waiting on this! A lot of packer functionality (such as builders, provisioners, and post-processors) run in a separate process which is started by the main packer executable. When the plugin starts up the main process attaches to the plugin's stdout and stderr and captures the output, so if you print from the plugin you won't see anything in your terminal. `log.Printf` always wor

[2016-01-26 05:58] #2918 closed

[2016-01-26 06:08] #3011 closed

[2016-01-26 06:08] cbednarski commented on #3011
Thanks for the PR!

[2016-01-26 06:10] cbednarski commented on #3012
Thanks for opening an issue, and sorry for the delayed response. I think this should be handled by the VM using a restart command rather than a shutdown command. If your kickstart sends a shutdown signal at some point the VM will be powered off. Packer doesn't do anything about this -- you'll need to use restart instead of shutdown for provisioning.

[2016-01-26 06:10] #3012 closed

[2016-01-26 06:12] cbednarski commented on #3016
Thanks for opening a ticket. This is not currently supported but there is an issue open to add it here: #2869. I'm going to close this one but if you have any additional feedback please add it to #2869.

[2016-01-26 06:12] #3016 closed

[2016-01-26 06:18] jcoutch commented on #2735
But what about in the instance where I run "go get github.com/jcoutch/packer"
so I can work on my fork?  Since there's self-references to
github.com/mitchellh/packer, like you said, it'll want to use the master
branch from your repo as the reference instead of from my repo.

To work around it, I was making all my changes directly in the
github.com/mitchellh/packer directory in my gopath and copyin

[2016-01-26 06:20] darksheer commented on #2674
Awesome -- thank you packer team!

[2016-01-26 06:22] cbednarski commented on #3020
Thanks for sharing your config. Since you're both running dev versions I _suspect_ that the upstream API in aws-sdk-go has changed and packer needs to be updated to match.

[2016-01-26 06:25] cbednarski commented on #3021
Agreed. I'm going to repurpose your bug report for that purpose.

[2016-01-26 06:29] cbednarski commented on #3023
Thanks for opening an issue. Can you elaborate on your use-case, specifically why the file provisioner doesn't work right now? [The file provisioner](https://www.packer.io/docs/provisioners/file.html) accepts a directory as an argument.

[2016-01-26 06:33] cbednarski commented on #3024
Thanks for the suggestion. I _think_ #3040 added a similar feature for the `chroot` builder. Does this approximate what you're trying to accomplish?

Also, there is PR #2962 open for importing images to EC2. This might be another way to address the same issue. Please let me know if there are additional details in your use-case that aren't met by those options. Thanks!

[2016-01-26 06:36] cbednarski commented on #3025
Thanks for the report. I'm curious whether:

    Error deleting VM: VBoxManage error: VBoxManage: error: Cannot unregister the machine 'packer-virtualbox-ovf-1451547904' while it is locked

Is indicating that there is a different problem. Failure to connect over SSH may mean that the VM never booted or booted into a broken state (e.g. powered on but no boot loader). In this case I'm curious whethe

[2016-01-26 06:40] cbednarski commented on #3029
Thanks for following up! I wonder if we can detect hyper-v and warn if it's active. I'll open a separate issue for this.

[2016-01-26 06:40] #3029 closed

[2016-01-26 06:42] cbednarski opened #3110 "Detect Hyper-V when building with VMware"
As highlighted in #3029, VMware conflicts with Hyper-V on windows. Hyper-V may be installed automatically as part of visual studio. If possible, we should detect that Hyper-V is activated and display a more useful warning. VMware's UI just says the VM failed for some unknown reason, though the log has more info.

[2016-01-26 06:47] cbednarski commented on #3031
Thanks for the report. I think we can add an option to suppress the VNC connection (which may still be useful in other contexts).

[2016-01-26 06:51] cbednarski commented on #3043
Thanks for the report. Can you tell me how you're specifying your credentials? I think this may be the same issue as #2611.

[2016-01-26 06:54] cbednarski commented on #3047
Thanks for the report. We should definitely let you configure this. I think this would be at the communicator level so it will probably help everywhere.

[2016-01-26 06:59] cbednarski commented on #2787
Thanks for the report. Does this work if you specify this as (separate `0x3F8` from `4`):

    [ "modifyvm", "{{.Name}}", "--uart1", "0x3F8", "4" ],

[2016-01-26 08:50] kvz commented on #2716
Sure:

From: <https://cloud.google.com/compute/docs/reference/latest/images>

[2016-01-26 09:12] seoyoochan commented on #3025
@cbednarski It was network interface problem. I solved it when it's booted by removing `/etc/udev/rules.d/70-persistant-net.rules` and `reboot`.

[Reference I used] (http://www.linuxfromscratch.org/lfs/view/6.3/chapter07/network.html)

[2016-01-26 10:18] rickard-von-essen commented on #2773
This seems a bit fishy to me. When OpenStack (or EC2) shutdown the instance it will invoke an OS shutdown which will do an sync(). So this points to that your instances did not properly stop. Could you share your template you used when this happened?

[2016-01-26 10:29] ldejager commented on #2773
Sure, it's been a while but I still have the template used. The version of packer used back then was `Packer v0.8.2`.

*consul.json*
[code]

*cleanup.sh*
[code]

[2016-01-26 11:54] gardleopard commented on #3060
@cbednarski I have documented this in the first comment. This does not always happen, when it happens I belive it is because a ebs just got detached. But I have not proven that this is whats happens, its just what I think is happening.

I agree that using a different device for each build can be a solution. From what I have seen only devices from f to p are available, so it probably needs some log

[2016-01-26 13:34] CruzanCaramele opened #3112 "Puppet-masterless provisioner does not upload manifests directory and modules directory"
I am building an AWS AMI using Packer. I am also using the puppet-masterless provisioner to install and configure services I need and keep them running.
All this is successful as the AMI gets created and I am able to launch it on AWS. The puppet masterlss provisioner also runs successfully upon **packer build** command and installs and starts services I want.
However after launching the AMI on AWS

[2016-01-26 14:44] ThatGerber commented on #3109
Thanks for your response.

I can provide testing on the branch, if that would help. I'm just not a Go programmer. However, if your timeline puts this several months out, I may need to dig in deeper with Go and help, as well. We'd like to get the above workflow rolled out, but we need either an update to Packer or an intermediate script to set up ENV variables. Having the functionality included in

[2016-01-26 14:53] rickard-von-essen commented on #3112
Check [```staging_directory```](https://www.packer.io/docs/provisioners/puppet-masterless.html#staging_directory)

[2016-01-26 17:05] msabramo commented on #3010
I have a question related to this issue.

I now have reason to believe that this problem might have something to do with HTTP persistent connections in our OpenStack cluster. This is because I was able to write a little Python program that hits Nova in a loop and this program seems to stall always right around when the connection has been open for 30 seconds. So I suspect there is something in our

[2016-01-26 17:31] aneeshusa commented on #2772
I'd also like to verify this fixes my original issue, I should be able to try it out today or tomorrow.

[2016-01-26 18:52] cbednarski commented on #3025
Great! Glad to hear you resolved this. Thanks for following up!

[2016-01-26 18:52] #3025 closed

[2016-01-26 19:33] ProTip commented on #3024
#3040 Appears to be more about selecting which partition to mount before changing the root.

#2962 Looks interesting however I would like to build the image entirely on AWS.

The main issue is that I'm able to create the image with multiple EBS volumes attached, but packer assumes I want to create the AMI from the original boot volume. In the AWS console I can select any EBS snapshot and create an

[2016-01-26 19:59] dialtone opened #3114 "instance.uploadCmdData struct should have a .Token field for AMIs"
As per subject. When you assume roles and you get to the point of needing to upload the AMI to S3 just using access key and secret key won't work unless you provide the `-t {{.Token}}` cmd line argument to `ec2-bundle-upload`.

[2016-01-26 20:31] cbednarski commented on #3112
@CruzanCaramele As @rickard-von-essen hinted, this is uploaded to `/tmp` by default and run from there -- nothing is ever installed to `/etc`. `/tmp` is typically deleted when a machine restarts so if you want these to persist you'll need to tweak some of those settings in your configs.

[2016-01-26 20:31] #3112 closed

[2016-01-26 22:48] dave2 commented on #3024
#2962 could be extended to import other artfiact types, so chroot -> img -> AMI is supportable with the import interface provided by AWS. I hadn't implemented that yet, but there's no technical reason it can't support a variety of formats other than OVA. It just needs a hook to accept raw images as a valid artifact.

[2016-01-26 23:37] dave2 commented on #3024
Looking into this some more, it seems amazon-chroot expects a pre-existing AMI and mounts a copy of the AMI's root volume to then provision into. This isn't the same as a clean install, since you would need a base image to work from already uploaded first.

I wonder if there's a place for a chroot builder that is agnostic on what it's running on, makes and mounts multiple .img files as volumes, an

[2016-01-27 01:29] aneeshusa commented on #2772
I just tested with Packer built from latest git sources and I'm still getting the same error. (I also tested with the ssh communicator, which still works.)

[2016-01-27 03:38] CruzanCaramele commented on #3112
thank you @rickard-von-essen  for the hint
@cbednarski thank you for the information, i will go through the docs to see if it can be improved

[2016-01-27 12:14] YamanduTellechea opened #3116 "Error Authentication running Packer with Openstack template"
I have created a simple openstack template to packer:

{"builders":[
{
  "type": "openstack",
  "username": "root",
  "password": "temporal",
  "region": "xxxxx",
  "ssh_username": "root",
  "image_name": "xxx_Packer",
  "source_image": "xxxxxxxxxxxxxxxxxx",
  "flavor": "A1"

}
]}

and I have declared necessary enviroment variables to authentication:

OS_AUTH_URL=http://keystone.xxxxxxx:5000/v2.0

[2016-01-27 12:49] rickard-von-essen commented on #3116
```username``` in your template overrides ```OS_USERNAME``` I guess root is not your OpenStack user.

[2016-01-27 12:57] YamanduTellechea commented on #3116
Thank you, I must be blind, I have remove username and password and packer running correctly.

[2016-01-27 12:57] #3116 closed

[2016-01-27 15:03] ThatGerber commented on #3070
My guess whats happening is during the ChainProvider, it's unable to correctly create and default to ENV variables to set it. Since those weren't being set correctly, it couldn't authenticate.

https://github.com/mitchellh/packer/blob/024132a698092b0d950d0aaffdb8821616de6a72/builder/amazon/common/access_config.go#L27

The token wasn't being set right and causing it to fail, so it defaulted to ENV

[2016-01-27 16:08] davidsummers commented on #2401
Is there a fix coming for this?  Packer is 100% unusable for me because of this.  I've been trying to build the vbox-2012r2.json (or any Windows VM) off and on since I discovered Packer last Summer and tried for about 3 days the first time and then retried again a couple of months later and just now tried again and it fails 100% of the time.  It did fail earlier in the process with another error b

[2016-01-27 16:17] chrisjsmith commented on #2401
I ended up building a template image and sysprepping it by hand. So much for automation...

[2016-01-27 18:19] amontalban commented on #2391
Hey guys,

I'm still seeing this but probably my use case is pretty unique (I run a Saltstack highstate that takes A LOT, like 3 hours).

Here is my version:

[code]

[code]

As you can see the script ends in the middle of the highstate taking ~2 hours.

Here is my builder config:

[code]

For the record this doesn't exits at the same point in highstate script and on a second run it started at 07:

[2016-01-27 22:21] rickard-von-essen commented on #2773
@ldejager How often do this occur? I fail to reproduce this on DevStack. It would be interesting to see a debug log from when this happens and see if there is some problem with shutting down the instance etc.

[2016-01-27 23:05] icberg7 opened #3117 "Feature Request: Windows Scheduled Task provisioner"
WinRM has some limitations, namely not being able to run a Windows Update session over a remote session. See documentation from Microsoft: https://msdn.microsoft.com/en-us/library/windows/desktop/aa387288(v=vs.85).aspx

We've run into this for Chef and test-kitchen:
https://github.com/test-kitchen/test-kitchen/issues/876
https://github.com/test-kitchen/test-kitchen/issues/868

And the solution has

[2016-01-28 03:30] punkrokk commented on #2099
You should update the example config on this page also:

[2016-01-28 03:36] cbednarski commented on #2735
You're right, this is an unintuitive aspect of go build / go get.

What I would recommend for this is to `go get github.com/mitchellh/packer` and set your fork as an upstream:

    git remote add jcoutch https://github.com/jcoutch/packer
    git checkout -b new-feature
    ...
    git push -u jcoutch new-feature

This way you can push to your fork to create a PR but the code on disk still lives in

[2016-01-28 03:53] cbednarski commented on #2099
@punkrokk This issue is pretty old. Can you open a PR or a new issue, please? Thanks!

[2016-01-28 08:27] ldejager commented on #2773
I could reproduce this behavior pretty much on demand back in September last year, however I've just tried it again using the above template and am unable to reproduce as well.

I'll spend some time and see if I can trigger the issue.

[2016-01-28 08:34] chocolatewheelchair commented on #2401
Not exactly sure why, but it seems setting `shutdown_timeout` to `1h` worked for me

[2016-01-28 09:42] phanect opened #3119 "Support tilde ("~") as home folder in GCP's account_file property"
I wrote following packer.json5 (and compiled it to JSON) but it doesn't allow me to use `~` in `account_file` property.

[code]

[code]

Currently I specify ~/.secrets/gcp-{{ user `env` }}.json as full path (/home/phanect/.secrets/gcp-{{ user `env` }}.json) but I appreciate if Packer allowed us to specify path using `~`.

[2016-01-28 10:19] cbednarski commented on #3119
Thanks for the suggestion. `~` is handled by bash expansion and since this code path does not call bash the path is not expanded. I think we will need to string-replace this using [go-homdir](https://github.com/mitchellh/go-homedir).

In the mean time, it may be easier to specify `"account_file": ".secrets"`, which you can symlink to `~/.credentials` or wherever you prefer.

[2016-01-28 10:39] phanect commented on #3119
:+1:

[2016-01-28 10:59] rickard-von-essen commented on #3119
There is a easy solution to this:
Use a user variable which references env var $HOME
```"home": "{{env `HOME`}}"```
and then
```account_file: "{{ user `home` }}/.secrets/gcp-{{ user `env` }}.json"```
That should work.

[2016-01-28 13:45] christrotter commented on #2648
@pecigonzalo Thanks for the pointer to the Packer HTTP server!  Also ran into the file provisioner over WinRM issue.  I ended up setting up IIS on my laptop to host files, ha.

Alternatively, there's also the guest_additions_url (although I haven't been able to get that working with a 'file' url).

[2016-01-28 13:50] StefanScherer commented on #2648
Unfortunately the built-in HTTP server is not available in provisioner scripts, at least the variable to fetch the random port. But you can limit the port range to one single port, that might work.

[2016-01-28 13:56] virgo47 opened #3121 "After exporting virtual machine: Error unregistering guest additions"
Because I had random problems with `guest_additions_mode` "upload" (found known issues around WinRM upload of big files), I tried "attach" which worked very well for me. The difference, though, was that after my VM was ready, it still had D: optical drive with additions in it. I decided to remove it with:

[code]

This worked, except for the error during final steps of VM export -- these are not f

[2016-01-28 14:24] rickard-von-essen commented on #2401
@chocolatewheelchair That's a great hint. Speculating a bit but since this only happens with Windows guests it might be that Windows is really slow shutting down and don't finish within the default ```5m``` shutdown timeout. Then VirtualBox try to remove the floppy before the machine is properly shut down.

It would be awesome if someone who get this problem allot can verify that increasing ```shu

[2016-01-28 14:56] mwrock commented on #2401
I'd be very sceptical that a longer shutdown_timeout really impacts this unless @chocolatewheelchair could confirm that affects this consistently over several attempts. Also it should be noted, it is not limited to windows, both mac and linux users have reported this. The only thing that I have found to consisently resolve this is running headless (regardless of OS).

[2016-01-28 16:52] anuriq commented on #2401
I have a shutdown_timeout = 15m. And OS shutdowns in 20-30 sec, max 1m. And problem occurs anyway in about 10% of tries. The most frustrating thing is that this error fires on building end, so 3-4 hours of work are cancelled in a matter of seconds =)

[2016-01-28 19:01] donbecker commented on #2401
@rickard-von-essen @mwrock I've run it about half a dozen times and it seems to work. Admittedly a small sample set.

[2016-01-28 19:01] donbecker commented on #2401
@anuriq You mentioned the most frustrating part...everything runs well but if you hit this it undoes everything that already completed.

[2016-01-28 19:54] rickard-von-essen commented on #2401
@mwrock there are only reports of problems with Windows guests. If you have problem with another guest OS please add your details here.

There are not much to go on here, the original author sugest this is fixed in 0.8.1. If someone else sees this now I suggest trying to increase ```shutdown_timeout``` to something large (```1h```) and try again. If you can still reproduce this please add the foll

[2016-01-28 19:58] mwrock commented on #2401
correct @rickard-von-essen I was referring to the host. Sorry for that confusion. Its definitely not fixed in 0.8.1

[2016-01-28 19:59] beporter commented on #2401
And just for reference: My experiences have been with linux guest OSes, not Windows.

[2016-01-28 20:09] rickard-von-essen commented on #2401
@beporter Interesting, do you have a template+scripts for a linux build where this happens which you can share? Linux tends to be much quicker to build/test.

[2016-01-28 21:16] rickard-von-essen commented on #2907
Duplicates #2526

[2016-01-28 21:16] #2907 closed

[2016-01-28 21:18] rickard-von-essen commented on #2526
@cbednarski Maybe this is sever enough to add a note about it in the docs and it seams that it won't be resolved very soon? What do you think?

[2016-01-28 21:53] sethvargo opened #3123 "Specifying a variable from environment that isn't set panics"
https://gist.github.com/sethvargo/9c9d28858d2dbea65db9

[code]

/cc @cbednarski

[2016-01-28 22:57] einarf commented on #2928
Having `AllowReauth` with default value `true` makes a lot more sense. It should not affect rackspace or other providers using an api key because the auth logic is separate.

[2016-01-28 23:07] cbednarski commented on #2526
@rickard-von-essen I need to read through the thread in more detail but it sounds like there is a gap in the docs on how to get this to work. Two issues I think:

1. The temporary key pair generation is broken because (IIRC) the key format changed.
2. The workaround is tricky because you need several things configured correctly for it to work. We can improve the docs for this certainly.

Regarding

[2016-01-28 23:14] grahamc opened #3124 "FYI: A chef-solo issuing an immediate reboot with subsequent shell provisioner to handle reboot may have race conditions."
I have a chef solo provisioner which issues a reboot, then a shell provisioner, then a second chef provisioner. As far as I can tell, the chef provisioner can't sleep to make sure the reboot happens within Chef. This can cause confusing behavior where the shell provisioner runs, then the second chef provisioner starts, and then a mysterious stop. Adding a second shell provisioner directly after th

[2016-01-28 23:15] #3124 closed

[2016-01-28 23:20] #1555 closed

[2016-01-28 23:20] #2732 closed

[2016-01-28 23:31] cbednarski commented on #3119
@rickard-von-essen thanks for the suggestion! We should add this example to the documentation. If we handle `~` in packer we can make it work on Windows, too, so I will leave this issue open.

[2016-01-28 23:34] cbednarski opened #3125 "Add a note about using $HOME environment variable"
From: https://github.com/mitchellh/packer/issues/3119#issuecomment-176123898

If you want to reference a file stored under your home directory (`~`) you can use the $HOME environment variable to interpolate it into the packer template. For example:
[code]

[2016-01-29 01:01] cbednarski commented on #3124
Thanks for the report. Did you intend to close this, or should I still track this issue?

[2016-01-29 03:05] phanect commented on #3119
@cbednarski @rickard-von-essen Thanks for reply and suggestion.

@rickard-von-essen's workaround looks also nice, but even on Linux (and Mac?) it is so valuable if we could write path much simpler with `~` IMO :)

[2016-01-29 07:08] chocolatewheelchair commented on #2401
@rickard-von-essen FWIW, none of my builds failed with this specific error anymore after having changed the `shutdown_timeout` to 1h

[2016-01-29 10:40] Lee303 commented on #3087
Hi,

This is against the latest version of packer (manually built). Template is below for the builder:

{

    "variables": {
        "username": "Administrator",
        "password": "password",
        "disk_size": "30720",

        "temp_path":"C:\\Windows\\Temp"
    },
    "builders": [
        {
            "type": "vmware-iso",
            "communicator": "winrm",
            "iso_url": "file

[2016-01-29 11:17] rickard-von-essen commented on #2526
Most of the details are in https://github.com/mitchellh/packer/issues/2526#issuecomment-128409275.

 1. No, gophercloud don't do anything with the keys. The problem starts from here:
https://github.com/mitchellh/packer/blob/024132a698092b0d950d0aaffdb8821616de6a72/builder/openstack/ssh.go#L68 and the error is probably in https://github.com/golang/crypto/blob/master/ssh/keys.go
 2. Yes this affects

[2016-01-29 19:47] cbednarski commented on #2749
This should be fixed in #2848. Please reopen if it is not.

[2016-01-29 19:47] #2749 closed

[2016-01-29 21:24] vtolstov opened #3128 ""skip" iso_checksum_type"
Sometimes you have already downloaded iso and does not need to do checksum every run.
I want to define null/skip or something like this checksum type (and implement hash.Hash inside common/)
so this speedup booting.
@cbednarski @rickard-von-essen  @mitchellh what do you think?

[2016-01-29 21:33] tylert commented on #3125
I also recently came across a need to do the same for PACKER_CACHE_DIR too:

[code]

The stuff above works, however, it didn't seem to work when I tried to do:

[code]

I shall have to do some more testing later after I finish my template cleanup.

[2016-01-29 21:34] tylert commented on #2600
I tried out a test build using commit e9657e6 and I am able to confirm this feature is working properly as of that commit.

Here's the rough outline of my template:

[code]

[2016-01-29 22:06] tylert commented on #3125
Nevermind... PEBKAC.  It works.

[2016-01-29 22:15] cbednarski commented on #3128
I favor correctness over speed, personally. I think we can learn a lesson from mongoldb's infamous benchmarks here.

How much time does this actually save you? sha256 on an ubuntu iso takes <4 seconds. md5 <2 seconds. My entire build takes ~15 minutes so 4s is a drop in the bucket.

[2016-01-29 22:18] vtolstov commented on #3128
what is iso image size ? for 4Gb this takes more time...

[2016-01-29 22:18] cbednarski commented on #3128
The ISO is a bit over 500mb, so 4gb would take around 30 seconds?

[2016-01-29 22:22] vtolstov commented on #3128
yes, and this time you need on each packer run. And this highly depends on hdd speed, sometimes i'm lost is about 1m. Yes this is not so big, but if i'm already download iso, why packer do checksum on each run? why not only after first download?

[2016-01-29 22:25] cbednarski commented on #3128
The reason I'm hesitant to do this is because including the checksum before each build is a really useful way to guard against all sorts of unexpected problems. The failure mode for a checksum is pretty clear "this file is wrong".

By contrast the failure modes for a truncated source image are numerous and difficult to troubleshoot. Maybe the hypervisor fails to start. Maybe ovf tool throws an exc

[2016-01-29 22:57] ldanielw1 commented on #3067
I'm so sorry, I kept messing with my code and it turns out I had permissions issues. This is not an issue for me anymore.

[2016-01-29 22:57] #3067 closed

[2016-01-29 23:00] cbednarski commented on #3067
Thanks for following up!

[2016-01-29 23:01] cbednarski commented on #3128
@vtolstov Let's do this behind a `PACKER_SKIP_VALIDATION` environment variable. I think default packer behavior should be to validate always, but we can make this work like a debug flag for expert users like yourself who have specialized use-cases.

[2016-01-30 14:08] rickard-von-essen commented on #2526
I'll create a workaround for this.

[2016-01-30 20:41] kopernikus commented on #2579
I'm also very interested to have the iso-builder optionally leave the vm registered. I do realize this is somewhat debatable since the builders job is just to build and not do deployments... Anyway, here is a patch for current master:
[code]
Another option would be a post-processor which just re-uploads the ova to the esxi server. I dont know if this is currently possible since the documentation s

[2016-01-30 21:54] oglu opened #3130 "Strange behaviour of packer with virtual box build and vagrant"
I have the following packer.conf

[code]

I ssh to the machine after the step

==> virtualbox-iso: Pausing after run of step 'StepProvision'.

and I can see the result of the provisioners ( vagrant username, keys etc )

When the box is exported and imported from Vagrant the changes are vanished, it's like the provisioner never run.

Any idea ?

[2016-01-31 04:22] wduncanfraser opened #3131 "Linode Builder for Packer"
Linode is a very large VPS/Cloud "Lite" provider, and it would be useful to have the ability to create base images using packer. There was a previous issue for a Linode builder that has since been closed which can be found here: https://github.com/mitchellh/packer/issues/174. It looks like the original issue was that Linode did not have real method for snapshotting nodes and keeping images for lat

[2016-01-31 07:02] cbednarski commented on #3130
Are you running a live image? In other words, an image that only runs in memory? If so the changes would never be written to disk.

Another possibility is that your box is being built correctly but you're not importing / starting the correct box in vagrant so you don't see the one with your changes applied.

[2016-01-31 10:57] tlevi commented on #644
Really unfortunate, the author on that PR seems to have given up waiting.

[2016-01-31 17:03] oglu commented on #3130
@cbednarski Indeed, you were right. Vagrant wasn't picking the newly built box. Thanks a lot.

[2016-01-31 17:03] #3130 closed

[2016-01-31 19:13] yaron-idan opened #3132 "ami-72b9e018 from "Build an Image" instructions has been deregistered"
Can you update the documentation with a more relevant AMI?
I've used this AMI - ami-b1c6ebdb, but it seems these images are being updated daily and maybe you should create an AMI of your own that would not be deregistered in the near future.
Thanks,
Yaron.

[2016-01-31 19:52] vtolstov commented on #644
I can take this and update pr, technicaly im already have uptodate pkugin
because use it internally.
31 янв. 2016 г. 13:57 пользователь "Tony Levi" <notifications@github.com>
написал:

[2016-02-01 05:08] dougalb opened #3136 "Packer crash when using amazon-ebs builder"
I am building packer from source to get updates for new regions and ephemeral device un-mapping. My build on MacOSX has no issues but my build on Amazon Linux is crashing when I build.

The `make testacc TEST=./builder/amazon/ebs` passes with no issues.

The packer json is here - https://github.com/awslabs/cfncluster-cookbook/blob/develop/packer_alinux.json

Crash log here - https://gist.github.co

[2016-02-01 05:12] dougalb commented on #3136
Looks like an issue with the subnet to AZ mapping.

[code]

[2016-02-01 05:22] dougalb commented on #3136
It looks like an issue with using an EC2 IAM role vs access keys. If I set the AWS_ACCESS_* variables, packer does not crash.

EC2 IAM role was working with the 0.8.6 binary install versus the github dev build.

[2016-02-01 08:48] ldejager commented on #2773
I've not been able to re-produce, the problem seen may have been caused by an OpenStack specific issue back then.

Feel free to close this issue unless others are affected and can reproduce the issue to give the requested debug logs.

[2016-02-01 10:42] arosenhagen opened #3138 "packer fails on "Provisioning with shell script" on current master"
While I want to build Parallels 11 boxes, I checked out a current dev build.
There's currently an error preventing me from building any boxes (e.g. https://github.com/ffuenf/vagrant-boxes/blob/master/packer/debian-8.2.0-amd64.json) on any provider.

[code]
with the corresponding script at https://github.com/ffuenf/vagrant-boxes/blob/master/packer/scripts/update.sh (while this is an error within pa

[2016-02-01 10:53] barabaka commented on #869
+1

[2016-02-01 11:44] rickard-von-essen commented on #2773
I think we close this and reopen if anyone sees it again. Most likely there where some thing outside of packer.

[2016-02-01 11:44] #2773 closed

[2016-02-01 12:28] rickard-von-essen commented on #3138
This is most certainly not a packer bug. I tried to run this with Debian 8.3.0 but preseed fails. Does Debian have bash installed by default?

[2016-02-01 13:19] arosenhagen commented on #3138
so for me https://github.com/mitchellh/packer/commit/15f99a4aee781e7558b1ce0beb921b19d258dec7 introduced a breaking chance to the shell provider in [provisioner/shell/provisioner.go](https://github.com/mitchellh/packer/blob/15f99a4aee781e7558b1ce0beb921b19d258dec7/provisioner/shell/provisioner.go).
reversing those lines get me past my error (I have no error in preseed, but that maybe an issue due

[2016-02-01 13:53] rickard-von-essen commented on #3138
Sorry, your completely correct. It doesn't work since that commit. Thank you for trouble shoot this.

[2016-02-01 15:03] charlieda opened #3140 "amazon-ebs fails with unclear error message if workstation time is out of sync"
If the localtime of the machine running packer is more than 5 minutes different from the time according to AWS, packer fails with the following error, even in debug mode:

[code]

It would be nice to have a more user friendly error message, as AWS does return a `InvalidSecurity.RequestHasExpired` error.

[2016-02-01 15:07] jcoutch commented on #398
Just a note - if you're using Packer on Windows, you want to set the "TEMP" environment variable.  :-)

[2016-02-01 18:45] rickard-von-essen commented on #3138
Reverting this:

[code]

Fixes it. @cbednarski will you fix this, I hadn't had time to look into why this broke stuff or why it was done.

[2016-02-01 21:29] #3138 closed

[2016-02-01 21:29] cbednarski commented on #3138
@arosenhagen Thanks for the report!

Good catch on this @rickard-von-essen; I missed this one after merging. Thanks!

[2016-02-02 01:05] ThatGerber commented on #3109
I told a stab at it and put together this: https://github.com/ThatGerber/packer/commit/883acb18fac2c732e7fdf05822959bb45977ed00

You can see the basic flow: If a profile name is provided, the other credentials aren't needed and can be scraped from the CLI config files. First you have to authenticate as a source AWS profile, then switch over to the role of another profile.

[2016-02-02 03:19] SomeoneWeird opened #3142 "File provisioner fails when no non-dotfiles in directory."
The file provisioner fails to copy dotfiles when copying directories. It also makes the build fail when there are only dotfiles in a directory (probably related to first issue).

The tests were run with a folder called `/tmp/somedotfiles/`.
Both tests had a file called `.helloworld`, and the test that succeeds also has a file called `helloworld` in the directory. Noting that even though the build

[2016-02-02 15:09] ThatGerber commented on #3136
I experienced a similar problem. I traced it to here.: https://github.com/mitchellh/packer/blob/master/builder/amazon/common/access_config.go#L27

The Credential chain is unable to get credentials through the first three methods and is falling back to try and pull them from the EC2 instance metadata, but you're not on an EC2 instance. I believe it's trying to return an error from https://github.co

[2016-02-02 15:13] dougalb commented on #3136
I am running on an EC2 instance with a valid EC2 IAM role associated. I
recently moved from 0.8.6 binary release to building from source and it
fails to pick up the credentials.

On Tuesday, February 2, 2016, Christopher Gerber <notifications@github.com>
wrote:

[2016-02-02 15:19] webratz commented on #2691
right now I wasn't able to reproduce it on my local notebook. I'll try to test this in an production environment.

[2016-02-02 16:59] cbednarski opened #3144 "Packer error while validating memory is available for the build"
From @tylert https://github.com/mitchellh/packer/pull/3096#issuecomment-178643189

I am also attempting to start actively using some features of 0.9.0 before the official release and ran into a new error while trying to use my existing templates.

The new error I receive is:

[code]

My templates work **perfectly** in Packer 0.8.6 and with binaries built from commit id 4aa59e4999ed8ff433299bf4f464

[2016-02-02 18:30] tylert commented on #3144
@cbednarski Thanks again.  Please let me know if there is anything else you would like me to try.

[2016-02-02 20:54] #3144 closed

[2016-02-02 21:48] justintilson commented on #3132
+1 I ran into this problem last night too.

[2016-02-02 22:40] cbednarski commented on #3132
Can you link to where this AMI is referenced?

[2016-02-02 22:59] justintilson commented on #3132
Here: https://www.packer.io/intro/getting-started/build-image.html under: 'The Template'

[2016-02-03 01:05] RyanBowlby-Reflektion commented on #869
+1

I want to use the common/generic bento/centos-7.2 as the starting point in my packer template. Alternatively, once I have a private vagrant in atlas it would be ideal to use the last one as the source for subsequent packer builds. Being as my provisioner is idempotent there's no reason to build the box from an ISO each time.

[2016-02-03 03:11] vikas027 commented on #3036
I am too encountering this on these versions.
- OS : El Capitan 10.11.2
- Packer: 0.8.6
- VMware Fusion: 8.0.1 Pro

[2016-02-03 18:34] copumpkin commented on #113
@mitchellh also curious about @Kuzmin's question. Is this supported? I have another tool that is already giving me an AWS-ready OS image, but I don't want to deal with all the AWS AMI shenanigans.

[2016-02-03 20:47] cbednarski commented on #2496
I believe this is fixed in #2596. You can test out the patch by building packer from master. If you are still having issues please feel free to reopen or open another issue. Thanks!

[2016-02-03 20:48] #2496 closed

[2016-02-03 23:17] sigmonsays commented on #869
+1

[2016-02-04 00:47] #2616 closed

[2016-02-04 03:23] OldCrowEW commented on #2409
hi, any progress on completing this?

[2016-02-04 08:00] imduffy15 commented on #2409
Completed but the functionality still isn't merged in the gophercloud
libraries.

I would suggest looking at #3139 and using python glance or open stack
client.

On Thursday 4 February 2016, OldCrowEW <notifications@github.com
<javascript:_e(%7B%7D,'cvml','notifications@github.com');>> wrote:

[2016-02-04 14:33] justintilson commented on #788
@EliasGoldberg's solution worked for me.

[2016-02-04 16:16] dineshbhat commented on #869
This worked pretty for local builds.

+1

[2016-02-04 17:17] sheerun commented on #3132
Also, tutorial doesn't work anyway, because t1 instances need vpc to work. The ami of `ami-b2e3c6d8` and instance type `m1.small` worked for, but mind this instance type is not a free tier one.

So you either need change instance type to `m1.small` and remove information that it is fee, or add vpc configuration to example.

[2016-02-04 19:14] jalmansor commented on #2595
I just ran into this myself the other day, getting ready to try using the ovftool as mentioned by @markpeek

[2016-02-04 19:16] spkane commented on #409
Simply being able to exit packer without stopping or destroying the VM on an error, would be very useful. This is particularly important in the provisioning components which usually contain the most custom logic. Being able to SSH into a box and re-run the original script or try a modified script or recipe for testing can provide quick and valuable insights into what actually caused the error and

[2016-02-04 23:00] ferrarimarco opened #3148 "Packer hangs after reboot"
Hi everyone.

I am trying to build a Ubuntu Server 15.04 on a Windows 10 x64 host, with Packer 0.86 and Virtualbox 5.0.14.

I have currently one shell provider that installs Ansible from source and reboots the machine. The VM reboots fine but Packer does not do anything after that.

Here is the relevant part of the template ([here](https://github.com/netgroup/Mantoo-VM-conf/blob/development/packer

[2016-02-04 23:08] jmassara commented on #3148
It's probably because Packer has no idea you rebooted.  I do something similar after I patch a system. Here's the relevant bits from my packer config.

[code]

The second script is basically just waiting for 15 minutes for the system to come back online and write out a file to temp.  The rest of the provisioning continues on after that.

[2016-02-04 23:30] cbednarski commented on #3148
Also to see more of what's happening during the hang you can run packer with `PACKER_LOG=1 packer build...` which will show debug logs. You should be able to see if there is a timeout or other issue.

[2016-02-05 00:09] jalmansor commented on #2595
Ok, so digging into it it looks like --network is getting added to the ovftool call, and at least in my instance I wasn't defining that in the template file, so once I added a valid vm_network it worked fine. @m1ndful, I looked at your gist and it looks like you have the same situation I did, so try adding that value. The documentation says that vm_network is optional, but for whatever reason it's

[2016-02-05 04:29] gobins commented on #2841
I have noticed this issue as well. After a lot packer builds, we noticed that there are a lot of orphaned VMs. Not sure if the files were left for the post-processor to pick up and publish them.

[2016-02-05 04:58] SydOps opened #3150 "Share the images to other accounts"
Hi

I am looking for an easy way to share the new ami image to other accounts.

I can use the template to generate an AWS AMI image, but I have to manually share it to other consolidated accounts every time.

Is the feature exist in packer?

[2016-02-05 08:30] ferrarimarco commented on #3148
Thanks.

I tried to run with PYTHON_LOG=1 but I did not found anything.

The relevant lines of the log (first line is the last one of the Ansible installation script):

I got nothing more, even after adding a "dummy task" as @jmassara suggests.

Thanks

[2016-02-05 08:43] rickard-von-essen commented on #3148
This is probably a network issue. To troubleshoot that it's best to use head mode and log into the console after reboot and check that the network is up and running (```ifconfig```, ```ping``` etc).

Furthermore there is no need to reboot Linux, except when updating kernel (and not even that anymore). The ```ansible-local``` provisioner will login again through ssh and thus load all login scripts.

[2016-02-05 08:46] ferrarimarco commented on #3148
I logged in the machine (in the meantime packer is still waiting) and I have network connectivity. I can ping, wget a curl without problems.

[2016-02-05 09:38] rickard-von-essen commented on #3148
This actually works for me. Could you you rerun with ```PACKER_LOG=1``` (not ```PYTHON_LOG=1```) i.e. ```PACKER_LOG=1 packer build OSHI-VM.json``` and [gist](https://gits.github.com) the output.

[2016-02-05 10:36] ferrarimarco commented on #3148
Done, [here ](https://gist.github.com/ferrarimarco/07e9c44b063118c7ee48) it is. Thanks.

[2016-02-05 12:10] rickard-von-essen commented on #3148
The script in repos is not like the one in the you posted above. The one in the repo work, just stick with that.

Closing as solved, reopen if you still have problems.

[2016-02-05 12:10] #3148 closed

[2016-02-05 16:38] jcsmith commented on #3036
@dave2 I apologize for missing your note ~1 Month ago.  I am using the vmware-iso builder.

[2016-02-05 16:52] icberg7 opened #3151 "Add `skip_clean_staging_dir` option for chef-client provisioner"
Hi there,
I've recently discovered that packer deletes the [`staging_directory`](https://www.packer.io/docs/provisioners/chef-client.html#staging_directory) after provisioning is complete, even with `skip_clean_client` and `skip_clean_node` set. I found #2738 and understand this is by design, but it would be nice to have an option to prevent the work directory cleanup.

This would be very useful w

[2016-02-05 17:04] icberg7 commented on #958
FYI there is also a `--recipe-url=RECIPE_URL` command line option to chef-client, which will cause chef to directly download a tarball of cookbooks (e.g. from a `berks package`). This will allow you to skip the `file` provisioner.
https://docs.chef.io/ctl_chef_client.html

[2016-02-05 17:09] icberg7 opened #3152 "knife.rb is copied to the machine even if `skip_clean_node` and `skip_clean_client` are both `true`"
I'm running into an issue where running chef-client in local mode is changing the current directory that it's run in. I tried adding a `cd /tmp/packer-chef-client` inline with the chef client `execute_command`, which preserves permissions on the home directory and allows subsequent ssh connections, but packer will try to copy a `knife.rb` to this directory, even with `skip_clean_node` and `skip_cl

[2016-02-05 17:26] cbednarski commented on #3152
I may be missing some nuance to your report but this is how the chef provisioner works. Settings are written into `knife.rb` and then check is invoked using `knife.rb`. `skip_clean_*` happens after the chef run so as far as I understand uploading `knife.rb` is orthogonal to those settings.

[2016-02-05 17:59] cbednarski commented on #3151
Thanks for opening an issue. For troubleshooting you can run packer with the `-debug` flag and it will pause after each step. You can proceed until the provisioner runs and then login to the machine to inspect the files, re-run commands, etc.

For now I would recommend using a provisioner to copy these into a permanent location of your preference. `/tmp` is typically deleted when the box restarts.

[2016-02-05 18:01] #3151 closed

[2016-02-05 18:48] icberg7 commented on #3152
The `knife.rb` is only written after the chef run and is used to run `knife client delete <foo>` and `knife node delete <foo>`. If you're not deleting a client and not deleting a node, you don't need `knife.rb` at all.
https://github.com/mitchellh/packer/blob/master/provisioner/chef-client/provisioner.go#L267-L271

The alternative, mentioned in #1520, was to make API calls directly from packer to

[2016-02-05 20:35] adamstrawson opened #3153 "Improved error handling with Packer failures"
I'm trying to tie Packer into Jenkins to build an OpenStack image in a Private Cloud, but the error reporting isn't proving anything useful to me to debug with.

Running packer on CLI works fine and does what is expected, but if I run it within Jenkins it fails with the below (The below is all I get with both `-debug` and `PACKER_LOG=1`);

[code]

I had this error before which was because the env

[2016-02-05 20:43] jalmansor commented on #2595
There is definitely an issue with the vsphere post-processor and eating up memory if the ovftool does something it doesn't expect.

For example, I tried running the same build as before (with vm_network defined) on my Mac, the post-processor started eating memory and would have continued if I didn't kill the process.

Taking the ovftool parameters from the debug logs and running it manually prompt

[2016-02-05 20:54] adamstrawson commented on #3153
I found a work around for the original issue, seems packer isn't acknowledging the env variables even though Jenkins see them.

Adding `identity_endpoint` to the builders, with the addition of username, password, works.

`identity_endpoint` isn't actually in the documentation for Packer OpenStack builders, I found it in an example on a blog post.

Not ideal as I'd rather it used the env variables

[2016-02-05 21:03] cbednarski commented on #3153
A few ideas here:

If you have shell access to the Jenkins box, try logging into the box and running the packer build as the jenkins user. For example:

    sudo su jenkins
    cd $workspace
    packer build

If you're using a shell builder in Jenkins you can echo the environment from the build to see whether or not the values are populated with the values you expect. For example:

    echo $OS_AU

[2016-02-05 21:13] adamstrawson commented on #3153
Hi @cbednarski

Thanks for posting so quickly!

Running as the Jenkins user on the server runs fine, it's only within Jenkins itself that it fails with that error.

I'm not using the shell builder, it's the Packer Jenkins plugin, but will have a play using the shell builder and see if I get the same results.

Worth mentioning that I've tried added the OS_* variables as global env vars within Jenki

[2016-02-05 21:18] cbednarski commented on #3153
I see in the docs that packer should fall back on the environment variables, but the more common way is to pass these in via [user variables](https://www.packer.io/docs/templates/user-variables.html). You can try that as well.

Can you also verify you're using the same version of packer in both places? Is the OS different, or anything else that would contribute to the environment having quirks?

[2016-02-05 21:22] adamstrawson commented on #3153
Thanks, I'll give that a try.

It's the same version (0.8.6), when running it on CLI I was using the same path/install that Jenkins was running it as.

[2016-02-05 21:30] rickard-von-essen commented on #3153
I have opened a PR addressing the missing info about the OpenStack builder please read the docs at https://github.com/rickard-von-essen/packer/blob/issue-2701/website/source/docs/builders/openstack.html.markdown
and comment in that PR if you have any improvements.

[2016-02-05 21:35] rickard-von-essen commented on #3153
With v3 you might need ```OS_DOMAIN_NAME```.

Best advice I can give is to download a OpenStack RC file, see [new docs](https://github.com/rickard-von-essen/packer/blob/issue-2701/website/source/docs/builders/openstack.html.markdown#notes-on-openstack-authorization) and adjust the values. Be sure to not unset ```OS_TENANT_ID``` and ```OS_TENANT_NAME``` since they are used by the OpenStack go lib.

[2016-02-05 21:36] dragon788 commented on #3128
@cbednarski Is the current Packer behavior to validate the local checksum and then download if it is incorrect or only if the local cached ISO doesn't exist? I'm frequently using files that have the same name but a different checksum and updating the checksum in the file is easy (I can do it remotely) but when I attempt to run Packer with the new checksum, it appears to be looking at the old file

[2016-02-05 21:40] dragon788 commented on #1995
@derek-adair I've found the best option is to build in stages. Once to install the OS, then keep the input artifact and use that in another stage. Once you've vetted your entire script chain you can easily put them into a loop or single provisioning pass.

Personally at my current employer I'm building a base install, then saving that as a tar.gz with the compress post-processor then using a scrip

[2016-02-05 21:44] dragon788 opened #3155 "ISO in the local packer_cache doesn't get removed if it has a bad checksum"
I frequently work with ISOs on a server that have a static name but may have their checksums change. I update my template to use the new checksum, but if I've built from a prior version of the ISO Packer warns me the local ISO doesn't match the checksum, but it doesn't purge it and attempt to redownload. This is frustrating as the expected behavior would be to invalidate the local cache and check

[2016-02-05 22:02] cbednarski commented on #3128
This code path handles [local and remote files differently](https://github.com/mitchellh/packer/blob/master/common/download.go#L101-L170). However, this behavior is not related to this issue; if you think there is a bug there please open a new issue.

[2016-02-05 23:31] cbednarski commented on #3155
Thanks for the report! Can you share a snippet of your template so I can see how you're configuring the remote URL?  Also, what error message are you getting?

To clarify the expected behavior here: If the specified file is local and we have not made a copy we will not delete the file. This is to prevent data loss e.g. when the source ISO is on a networked drive.

If the file is available over HTT

[2016-02-06 00:07] delfick commented on #3019
By the looks of it, you could use http://docs.aws.amazon.com/sdk-for-go/api/aws/credentials/stscreds/AssumeRoleProvider.html to do the hard work and just provide the role_arn option to give to that provider :)

[2016-02-06 13:12] adamstrawson commented on #3153
Thanks @rickard-von-essen Useful to see the changes in the docs.

We're not utilizing domains on our setup so should be defaulting to 'Default', I've not had any issues on CLI with it this way. I have an openrc file in place already which works fine on CLI, but seems that Jenkins doesn't acknowledge that or any env vars for Packer, so had to compromise with having the credentials as part of the bu

[2016-02-06 14:07] SanderKnape opened #3156 "amazon-ebs builder seems to ignore ssh_password"
I've uploaded a test AMI to AWS to which I can connect with both the ssh_username and ssh_password set to "vagrant". Spinning up an instance and connecting with it using these credentials allows me to succesfully connect. Also, during the Packer build phase, I can connect with the machine using these credentials.

However, packer itself seems to ignore the ssh_password, as the error I'm getting is

[2016-02-06 15:31] dragon788 commented on #3155
I'm using a lightly customized variables file with a lightly customized template file based on https://github.com/boxcutter/ubuntu, see https://github.com/boxcutter/ubuntu/blob/master/ubuntu1404.json and https://github.com/boxcutter/ubuntu/blob/master/ubuntu.json#L216 .

It is supposed to look first in the local path I believe, and then go hit the server if it can't find it locally. We aren't usin

[2016-02-06 18:01] dantran opened #3157 "[driver_esx5] dont check for power_on error to force retry"
Details discussion is here https://groups.google.com/forum/#!topic/packer-tool/OQ8rbQ2x4qw

where after the register of vm, immediate power on can result in failure and prevent any retry

My environment is virtual esxi6 with sles12

here is the code

    func (d *ESX5Driver) Start(vmxPathLocal string, headless bool) error {
	for i := 0; i < 20; i++ {
		err := d.sh("vim-cmd", "vmsvc/power.on", d.vm

[2016-02-06 18:03] dantran commented on #3157
hmm, looking at the loop again, it is not that simple, unless we also dont check error at IsRunning

[2016-02-06 18:32] mohae commented on #2401
Since I recently encountered this issue I thought I'd add my observations.

This occurred to me multiple times with:

* Packer v0.8.6
* Windows 7 Professional host

The guest OS that it occurred on was Debian Jessie, but given what I observed, that probably isn't relevant.

This same template had been working an hour or so before the error started occurring.  It then failed several times in a row

[2016-02-06 22:23] m1keil commented on #2754
Yep. Sorry about that, couldn't find anything similar when I opened it but it seems like it is in fact a duplicate. You can close this one and use #2301.

[2016-02-06 22:24] #2754 closed

[2016-02-06 23:15] slackpad opened #3158 "Digital Ocean build should paginate snapshots when querying for IDs"
Once a user has more than 200 images, this routine will fail to locate any newly-created ones:

https://github.com/mitchellh/packer/blob/master/builder/digitalocean/step_snapshot.go#L52-L74

It looks like DO sorts them in ascending order by age, so the new ones are always on the last page. We could paginate through them, or depending on the API we could calculate and always fetch the last page. It

[2016-02-07 00:58] LongLiveCHIEF commented on #1117
This is absurd. All this work, and the biggest problem I have using the tool so far is in the name. :-1:

[2016-02-07 01:40] dantran commented on #3157
I can confirm that remove the check after power.on step works for me

[2016-02-07 02:01] carstn commented on #1117
@LongLiveCHIEF Your biggest problem has been solved for you on the [Install page](https://www.packer.io/intro/getting-started/setup.html). 👍

[2016-02-07 02:50] LongLiveCHIEF commented on #1117
@Carstn apparently you forgot to read the pile of comments above.

[2016-02-07 03:23] joejulian commented on #1117
@LongLiveCHIEF but it's so much more fun to develop a tool that you have to defend when people complain that it doesn't work because you're too stubborn to just pick a name that isn't in use, right @carstn?

[2016-02-07 11:45] vtolstov commented on #3158
I think that do builder needs to use godo client

[2016-02-07 13:05] rickard-von-essen commented on #3158
@vtolstov it does.

[2016-02-07 16:45] dantran commented on #3157
Please advice if it is the right fix, I can submit the PR with comment why it should be this way

[2016-02-07 16:49] dantran commented on #3157
func (d *ESX5Driver) Start(vmxPathLocal string, headless bool) error {
        for i := 0; i < 20; i++ {
            d.sh("vim-cmd", "vmsvc/power.on", d.vmId)
            //intentionally not check for error since power on may fail specially after initial VM registration

            time.Sleep((time.Duration(i) * time.Second) + 1)
            running, err := d.IsRunning(vmxPathLocal)
            i

[2016-02-07 16:58] mohae commented on #2401
An update of my prior comment.

My hypothesis above is probably wrong.

I spent some time running a bunch of concurrent test builds.  The error occurred with or without the `shutdown_timeout` set, which makes sense since I had forgotten that that defaults to `5m` already.

I think, in this case, the problem isn't with Packer, it's just the messenger and as such, there's not anything to fix from th

[2016-02-07 17:35] LongLiveCHIEF commented on #1117
In that case, I've totally been going about this open source thing the
wrong way the whole time.

I think I'll name my next project *top*.
On Feb 6, 2016 9:23 PM, "Joe Julian" <notifications@github.com> wrote:

[2016-02-08 01:01] SydOps commented on #3150
Seems this will be a new feature for builders of aws. Not sure if there are same requests for other cloud builders.

I did some research and hope to add a new feature after image is generated. Related aws comand is:

    aws ec2 modify-image-attribute --image-id ami-2bb65342 --launch-permission "{\"Add\":[{\"UserId\":\"123456789012\"}]}"

So I need a `post-processors` to share the images
[code]

I

[2016-02-08 01:12] SydOps opened #3160 "/mnt is mounted with ephemeral storage automatically"
We use packer to build AMI image, but recently I found a strange problem.

When start a instance type (such as c3.large, which has two ephemeral storages) with previous images (built at 2014), the ephemeral disk devices are attached as blank disks.

But recently we re-built the images with packer (I download latest packer version), after start a new instance with same instance type, one of ephemer

[2016-02-08 01:25] SydOps commented on #3150
find this code, but don't know how to use it to change `LaunchPermission`

https://github.com/mitchellh/packer/blob/master/builder/amazon/common/step_modify_ami_attributes.go#L70

[2016-02-08 02:00] SydOps commented on #3150
looks I am closed to the feature:

https://github.com/mitchellh/packer/issues/479

[2016-02-08 06:56] SydOps commented on #3150
ticket can be closed now. I did it with `ami_users`.

[2016-02-08 06:57] #3150 closed

[2016-02-08 09:26] xrow commented on #1117
I would no worry so much, since the problem can be fixed when being packed for that target platform (centos/rhel).

[2016-02-08 11:10] ajfitzpatrick commented on #3136
I've worked around this crash by replacing [`&EC2RoleProvider{}`](https://github.com/mitchellh/packer/blob/master/builder/amazon/common/access_config.go#L53) with `&EC2RoleProvider{ Client: ec2metadata.New(session.New() }`, since in the SDK where EC2RoleProviders are created (in [defaults.CredChain](https://github.com/aws/aws-sdk-go/blob/master/aws/defaults/defaults.go#L91-L94) and [ec2rolecreds.N

[2016-02-08 16:33] fschmager opened #3161 "Resolve user variables when resolving other user variables (user var composition)"
**tl;dr** Allow composition of user variables using other user variables.

**Extended**
In the example a user variable `ami_name` is defined. It should be suffixed with the value or another user variable `name`. `name` defaults to "default". User may override via `-var` parameter.
However, packer does not seem to be using the value of `name` in the the other user variable `ami_name`.

[code]

**Ex

[2016-02-08 18:21] cbednarski commented on #2992
Dependencies are now vendored!

[2016-02-08 18:21] #2992 closed

[2016-02-08 19:12] rickard-von-essen commented on #3153
So the solution was to define OpenStack authorisation variables in the template and not through environment variables (```OS_```)?

If it's OK please close.

[2016-02-08 20:52] artburkart opened #3163 "id attribute for headers in website"
I know the website is generated using pandoc, so I'm unsure whether my request is possible, but it would be really nice if I could link people to exact locations within the docs. For example, if I wanted to explain to someone how the automatic credential lookup works for AWS in packer, I could send them to this page, https://www.packer.io/docs/builders/amazon.html, but it would be even better if I

[2016-02-08 21:14] Nikoos commented on #2739
I found my mistake... My diag user was not member from the group ssh.... such a bad mistake...

[2016-02-08 21:23] lalyos commented on #2756
eeeeasy. well sort of ;)

[code]

## tldr

I needed some similar thing. So i played quite a bit with aws cli. First I went down with the pattern:
[code]

Than I realized that the `--query` parameter is quite strong, and you can avoid jq completely. You can filter, sort, count ... So first you have to know **the ownerId of the publisher**. You can get it by checking the OwnerId of an image, by `aws

[2016-02-08 21:50] lalyos commented on #2760
@JorritSalverda You can use [atlas post-processor](https://www.packer.io/docs/post-processors/atlas.html) which uploads the Artifact to [atlas](https://atlas.hashicorp.com).

## base image

For example we also use a common base image (named as docker) for other images.
When we build the base image it has a postprocessor like:
[code]

You have to set the `ATLAS_TOKEN` env variable which you get at

[2016-02-08 22:08] cbednarski commented on #3163
Thanks for opening an issue. Pandoc is used to format our markdown source so everything uses a consistent style, but the HTML is generated using [middleman](https://github.com/hashicorp/middleman-hashicorp). I'm not sure why but bullet points have anchors but headings do not.

/cc @sethvargo

[2016-02-08 22:22] cbednarski commented on #3161
Thanks for opening an issue. Variable interpolation is pretty complicated as it is and this would make it even more complicated because we'd have to do it recursively. I understand the use-case but I don't want to take a complexity hit in this part of packer. I think you can achieve approximately the same thing using something like this:

[code]

There are also other ways to do this outside of pac

[2016-02-08 22:22] #3161 closed

[2016-02-08 22:24] SydOps commented on #3160
If the source image is PV image `RHEL-6.5_GA-x86_64-9-Hourly2 (ami-45ea8f7f)`, I didn't have this /mnt issue.

But if I build with HVM image `RHEL-6.5_HVM_GA-x86_64-7-HVM-Hourly2 (ami-452eb67f)`, the rest settings are same in `template.json` file, I see `/mnt` on new instance.

[2016-02-08 23:43] VMTrooper commented on #2409
Hello @imduffy15. +1 for interest in a formal OpenStack post-processor.

In the meantime, I will try the shell-local example that you posted.

[2016-02-09 01:24] dave2 commented on #3132
I believe this has all been fixed in this merged PR: #3066

If not, I can do a PR which fixes any that I missed.

[2016-02-09 01:48] dantran opened #3165 "[vmware] Unable to cleanup"
try with packer 0.9 snapshot, at the end Packer fails the following message

[code]

Looks like packer needs to use the full path /vmfs/volumes/storage-folder/myvm-name

[2016-02-09 01:50] cbednarski commented on #3165
Thanks for the report!

[2016-02-09 01:59] cbednarski commented on #3157
Thanks for the report. I think a retry loop makes sense but can you explain why we need to retry 20 times? This means waiting up to 3.5 minutes. I'm curious why registration -> poweron needs to wait this long. To clarify, I'm not objecting to the change, I'd just like to understand why it's needed. Please feel free to open a PR for this in the mean time so I can provide feedback on the change. Tha

[2016-02-09 02:12] dantran commented on #3157
20 times was there before.

My change is very simple.  just ignore error at d.sh("vim-cmd", "vmsvc/power.on", d.vmId)

[2016-02-09 04:00] steve-jansen commented on #2679
Ran into this problem with local packer builds that include an Atlas post-processor.

As a one-liner workaround, the awesome `[jq](https://stedolan.github.io/jq/)` can strip the post-processor block, then pipe it via stdin to packer...

[code]

[2016-02-09 04:13] bdwyertech commented on #2679
Thank you sir @steve-jansen, didn't know `jq` existed.  Great addition to the arsenal.

[2016-02-09 12:15] #2701 closed

[2016-02-09 12:25] rickard-von-essen commented on #3018
This feature is already available since v0.8.0 (see b3a97124), but unfortunately the docs where not updated to reflect this. The docs have been updated and will be available at the site at next release. In the mean time you can view them at [Docs - OpenStack](https://github.com/mitchellh/packer/blob/master/website/source/docs/builders/openstack.html.markdown).

[2016-02-09 12:25] #3018 closed

[2016-02-09 12:27] rickard-von-essen commented on #2927
The docs have been updated, see [Docs OpenStack](https://github.com/mitchellh/packer/blob/master/website/source/docs/builders/openstack.html.markdown) until next release when the site will be updated.

[2016-02-09 12:28] rickard-von-essen commented on #2758
The docs have been updated, see [Docs OpenStack](https://github.com/mitchellh/packer/blob/master/website/source/docs/builders/openstack.html.markdown) until next release when the site will be updated.

[2016-02-09 12:29] #2747 closed

[2016-02-09 12:29] rickard-von-essen commented on #2597
The docs have been updated, see [Docs OpenStack](https://github.com/mitchellh/packer/blob/master/website/source/docs/builders/openstack.html.markdown) until next release when the site will be updated.

[2016-02-09 12:30] rickard-von-essen commented on #2758
Closing this in favour of #2597

[2016-02-09 12:30] #2758 closed

[2016-02-09 12:31] rickard-von-essen commented on #2526
#3135 have a workaround for this where it uses OpenSSL to convert the key.

[2016-02-09 12:31] #2526 closed

[2016-02-09 15:41] tylert opened #3168 "Add an "inline" option for passing Vagrantfile template to Vagrant post-processor"
This outlines a possible enhancement to the vagrant post-processor.

Just like the shell provisioner/post-processor, it would be really nice to have the option to pass an "inline" vagrantfile_template configuration option to the vagrant post-processor instead of an external file.

The use case for this would be to try to create a more self-contained packer template and try to minimize the number o

[2016-02-09 15:47] mainframe commented on #3073
It does not seem to be resolver issue as such - all network traffic from VM virtual interface seems to halt.

[2016-02-09 16:30] andrewsomething commented on #3158
As we have the Droplet's ID, we could use `godo.Droplets.Snapshots` which lists snapshots based on a specific Droplet. It's also a paginated resource, but as the Droplet is created just to build the image and then destroyed, it should only have the one list item.

https://github.com/digitalocean/godo/blob/master/droplets.go#L436

[2016-02-09 17:00] boumenot opened #3170 "Expose Provisioner's Knowledge to Plugins"
I logged an [issue](https://github.com/Azure/packer-azure/issues/200) against packer-azure, but I wanted to raise it here.  I may be misunderstanding the way it works, or I may not have a good enough understanding so I am looking for guidance.

Provisioner's are configured by the user to execute remote commands, and packer-azure would like to take advantage of this so it can execute remote command

[2016-02-09 17:54] djaboxx commented on #1808
+1

[2016-02-09 18:02] tylert commented on #2623
I would say this issue is kinda out of date now.  I would recommend just closing this, waiting for 0.9.0 to settle down and then deal with the new website doc comparisons again later.

[2016-02-09 18:02] #2623 closed

[2016-02-09 18:12] cbednarski commented on #3170
The short answer is it isn't. The provisioner _is_ a plugin and the scope of its configuration is largely isolated to that plugin.

Currently, the communicator is configured and then passed into the provisioner. This means that the provisioner does not know how to connect to the machine, but _does_ know how to execute commands once it is connected. However, this assumes three things: 1. That the m

[2016-02-09 18:25] cbednarski commented on #2623
Related: https://github.com/mitchellh/packer/issues/3163

[2016-02-09 18:33] tylert opened #3171 "PACKER_CACHE_DIR env var left empty if cacheDir set to default "packer_cache""
Currently, main.go checks for the presence of the environment variable "PACKER_CACHE_DIR" and sets "cacheDir" to this value.  When "PACKER_CACHE_DIR" is left undefined, cacheDir is given the default value "packer_cache".

This behaviour works correctly (and a workaround is to always define "PACKER_CACHE_DIR"), however, there isn't currently any nice way to provide a value for this location that ma

[2016-02-09 18:36] rickard-von-essen commented on #3158
Fixed in #3169

[2016-02-09 18:36] #3158 closed

[2016-02-09 18:39] slackpad commented on #3158
Thanks! Getting the snapshot for the particular droplet ID is a super clean way to do this.

[2016-02-09 18:39] tylert commented on #3171
One possible use case for this is #2600.

[2016-02-09 19:06] tylert opened #3173 "Trying to build master HEAD a0001c473 fails"
Attempting to checkout commit a0001c473c532650776a835bd40968c9bdd7e162 and build it results in a test failure when trying to run "make":

[code]

If you comment out line 165 of provisioner/ansible/provisioner_test.go, everything else continues and works correctly (and all my existing templates function properly).

I emptied out my GOPATH and tried it again in order to confirm there wasn't a proble

[2016-02-09 19:08] cbednarski commented on #3173
Related to https://github.com/mitchellh/packer/issues/3095

[2016-02-09 19:08] #3095 closed

[2016-02-09 19:09] tylert commented on #3173
Awesome!  Lemmie know if there's something you require me to try out.

[2016-02-09 19:16] cbednarski commented on #3171
Thanks for opening an issue.

This is by design. The cache folder, along with `PACKER_*` environment variables, is for packer's internal use and is not meant to be interacted with directly during the build.

You can technically do this already by using the PACKER_CACHE_DIR environment variable as a user variable but this is not a supported use-case.

[2016-02-09 19:16] #3171 closed

[2016-02-09 19:19] tylert commented on #3171
Yup, if you explicitly set ```PACKER_CACHE_DIR=/tmp```, for example, everything works correctly and is provided to the packer template.  If you leave "PACKER_CACHE_DIR" undefined, you'll have an empty string in your template and it'll try writing the file to the wrong location.

[2016-02-09 19:36] andrewfraley commented on #653
I had this issue with the virtualbox-ovf provider and a CentOS 7 image.  By default it was putting the VM into bridged network mode.  The fix was to do:

`["modifyvm", "{{.Name}}", "--nic1", "nat"`

[2016-02-09 19:36] andrewfraley commented on #866
I had this issue with the virtualbox-ovf provider and a CentOS 7 image.  By default it was putting the VM into bridged network mode.  The fix was to do:

`["modifyvm", "{{.Name}}", "--nic1", "nat"`

[2016-02-09 20:04] tracyde commented on #2858
[ec2-bundle-instance](http://docs.aws.amazon.com/AWSEC2/latest/CommandLineReference/ApiReference-cmd-BundleInstance.html) is to create Windows images, ec2-bundle-vol is still used for Linux.

[2016-02-09 20:46] #3153 closed

[2016-02-09 20:52] cbednarski commented on #3153
@adamstrawson Thanks for following up to close this. If you have any further issues please feel free to open a new issue.

[2016-02-09 21:40] boumenot commented on #3170
I'm looking for a solution to 2.  A provisioner knows how to _format_ a command for a communicator, and in my case it would be valuable because different images require different formats.

[2016-02-09 22:06] Limech commented on #2710
We had a similar problem with XenServer. Solution was to provide the same static IP that's in the kickstart file to the boot_command in the packer json file.
I.e.
`"boot_command": [
        "<tab> ip=xxx.xxx.xxx.xxx netmask=255.255.255.0 ks=http://{{ .HTTPIP }}:{{ .HTTPPort }}/ks.cfg<enter><wait>"
            ],`
This should allow the VM to do the HTTP request to get the kickstart file and for the

[2016-02-09 22:47] ProTip commented on #3024
That might work, if the instance does not need to be running. The use-case difference between the amazon-chroot and amazon-ebs builder seems to be wanting to keep a running instance for building.

It looks like the chroot builder snapshots the volumes and registers an AMI from that.. What I'm after is a hybrid of EBS and chroot I believe; I would like to launch an existing AMI and build my final i

[2016-02-10 15:04] laapsaap commented on #2382
https://www.packer.io/docs/builders/qemu.html has it too.
I wasted 30mins because I thought this problem was something else.

[2016-02-10 16:02] Ludachrispeed opened #3178 "Ansible (remote) provisioner inventory file"
I'm super excited about the new Ansible (remote) provisioner. One thing that I found confusing, though, was how it deals with the Ansible inventory.

It looks like the provisioner generates an Ansible inventory file. I _think_ that means that any playbook that packer runs needs to have the line `hosts: all`. Is that true? If so, this is very limiting. It would be super cool if we could provide an

[2016-02-10 16:26] rickard-von-essen commented on #3178
I think a good solution would be to add something like ```groups``` which takes a list of group names to add the host to in the inventory file. And mention in the docs that the ansible inventory host name is **default**.

That solves the two scenarios:

- New playbooks. You just add ```hosts: default``` to them.
- You reuses playbooks that you use somewhere else. You just add the groups you alread

[2016-02-10 16:52] tylert commented on #2382
@laapsaap did you submit a pull-request to correct the issue in the docs?

[2016-02-10 17:15] kenhen93 opened #3179 "cannot create instance store ami"
I am getting the following error using jenkins packer plugin. Jenkins is using packer installation 0.8.6 on Centos 7 docker container. I have made sure the permission to the s3 bucket is correct. I  even added AdministratorAccess to the my account used by packer and re-ran the job and it still fails.

[code]

[2016-02-10 19:33] bhcleek commented on #3178
@Ludachrispeed the inventory file is generated with `default` as the host alias, so you don't have to put `hosts: all` playbook, you can also use `hosts: default` in the playbook.

Perhaps an option to name the host would be better? Something like
[code]

Which would cause the inventory file to be written with `my-preferred-host-name` as the host alias. If not provided, `host_alias` would default

[2016-02-10 21:56] kenhen93 commented on #3179
I was able to get this working by creating a custom ec-bundle-upload and adding --sigv 2

[2016-02-11 00:40] cbednarski commented on #3179
Thanks for the report!

[2016-02-11 02:41] sl1pm4t commented on #3062
In my tests, the above error is only present if the network was created with custom subnetting. If you choose Auto subnetting when creating the network (or are in fact using the default network created by Google when the project was created) then there will not be an error.

In saying that, I'm working on a PR to add support for Subnetworks.

[2016-02-11 03:22] cbednarski commented on #3173
This was fixed in #3159

[2016-02-11 03:22] #3173 closed

[2016-02-11 03:38] bhcleek commented on #3178
@rickard-von-essen what would you think about combining your suggestion and my suggestion here? If you're in agreement, I'll work up an implementation.

[2016-02-11 04:00] sl1pm4t opened #3181 "google-builder: populating metadata is broken"
9cf99289c5729f49674a69a8978594c7a5e79a4b broke how Packer populates instance metadata when creating an Instance. After this change, all metadata entries end up with the last metadata value (the SSH key).
I'll submit a PR shortly with a fix.

[2016-02-11 04:06] cbednarski commented on #3181
Thanks for the report! I'll keep an eye open for your PR.

[2016-02-11 04:43] sl1pm4t commented on #3181
I submitted a PR for this issue together with #3182

[2016-02-11 04:43] sl1pm4t commented on #3062
PR submitted.

[2016-02-11 05:59] cbednarski commented on #3155
Thanks for the example. This will help me repro.

[2016-02-11 06:32] dmourati commented on #3018
Thanks for the update!

[2016-02-11 07:21] rickard-von-essen commented on #3178
@bhcleek Sounds great! Add some docs how the inventory is created. Currently I had to read the code to know how to use it. ;-)

[2016-02-11 08:27] #3178 closed

[2016-02-11 14:04] metalmolly opened #3185 "target 'generate' fails on windows system due to backslashes in plugin.go"
Running the `make` in `$GOPATH/src/github.com/mitchellh/packer` to run tests and build the packer binary will throw an error on a windows system `cmd.exe` as the generated  [`command\plugin.go`](https://gist.github.com/metalmolly/9da6b850c5cd1949e272) contains backslashes.

    C:\Users\MarkS\go\src\github.com\mitchellh\packer>make
    go get github.com/mitchellh/gox
    go get golang.org/x/tools/

[2016-02-11 14:39] zytek opened #3186 "Make it explicit that -debug doesn't work with -machine-readable"
Trying to debug packer build showed that `-debug` option is incompatible with `-machine-readable`, meaning that Packer doesn't pause after each step. It could be explicit either via documentation update or in command line parsing.

I could try to make proper PR if you decide how this should be handled.

Steps to reproduce:
- just take one of your `packer build` command and supply both `-debug` and

[2016-02-11 19:16] donfanning commented on #916
So has this issue been corrected?  I'm running into exactly the same issue.

[2016-02-11 20:02] #3185 closed

[2016-02-11 21:43] #3181 closed

[2016-02-11 21:43] #3062 closed

[2016-02-11 23:44] cbednarski commented on #2391
@i0rek I've tested this using a slightly tweaked version your `problem.json` with [rerun](https://github.com/cbednarski/rerun) and the latest packer master, and I am unable to repro. 50 rounds of the build pass. I'm sure there are other race conditions lurking but I think this particular code path is solid.

@amontalban If you can reproduce this problem with packer master, please open a new issue

[2016-02-11 23:44] #2391 closed

[2016-02-12 00:12] cbednarski commented on #3186
Thanks for the report!

[2016-02-12 00:13] #3186 closed

[2016-02-12 00:37] #2486 closed

[2016-02-12 00:37] #2652 closed

[2016-02-12 07:38] #2674 closed

[2016-02-12 13:34] dgalichet commented on #3102
I've got the same kind of issue when trying to use a `file provisioner` to copy a local file to a container.
I'm running `docker-machine` under OSX and the `packer build` stuck indefinitely during copy of a local file to the container. `docker cp` looks like a promising solution

[2016-02-12 14:32] alfonso-cabrera commented on #788
@EliasGoldberg 's solution also worked for me on CentOS 7.

[2016-02-12 16:58] chainlink commented on #3132
Definitely playing wack a mole with AMI ID's (since they are different by region) Maybe a quick paragraph on how to find a valid one? (ie. In the AWS console, launch instance > ubuntu HVM) I realize it's not ideal, but potentially less brittle than the current solution.

[2016-02-12 17:16] chooper commented on #2649
:+1:

[2016-02-12 19:13] rickard-von-essen commented on #2597
If someone knows what they did wrong, could you add some details here so I can reproduce it and see if we can catch the error and provide a better error message. (The current error message comes from a combination of gophercloud, the OpenStack Go lib, and the Go std URL lib.)

[2016-02-12 20:03] cbednarski commented on #3132
That's a bummer. VPC setup is kinda a pain.

@dave2 I think that might have been a nightly. I was curious whether it would disappear and this answers my question. :) I think [these](http://uec-images.ubuntu.com/releases/14.04/release/) are more stable since they're LTS images.

@chainlink Great idea.

Thanks for the feedback, folks. If someone wants to take a stab at a PR I'd be happy to review!

[2016-02-12 20:13] cbednarski commented on #2648
This is probably the way forward. From the research I have done on WinRM, it uses an XML over HTTP protocol. This means any binary is chunked, converted into base64, and sent over an XML payload. This is never going to be fast. For small files this is OK but for large files you'll need to use something else.

[2016-02-12 20:13] #2648 closed

[2016-02-12 20:23] cbednarski commented on #3170
Sorry to keep you waiting on this one! What you're describing is actually the reason why communicators and provisioners are separated.

Communicators communicate over a protocol (SSH, WinRM, SFTP, etc.) but don't know what type of OS they are talking to. The provisioner does.

Let's take some examples:

- SSH communicating with a Windows guest. In this case, how do we execute things? We can't trea

[2016-02-12 21:50] devinrsmith commented on #3131
+1

[2016-02-13 00:26] hiciu opened #3192 "possible bug in qemu builder with qemu < 2.0 and default -drive args"
Hello,

While trying to understand #2445 I've found this:

https://github.com/mitchellh/packer/blob/e920ad25bf35a8e769038cb219e4883a26001e13/builder/qemu/step_run.go#L98-L116

[code]

If I understand correctly if `qemuMajor < 2` then `defaultArgs["-drive"]` will be empty. Possible fix could involve changing this:

[code]

to something like:

[code]

I'm willing to prepare PR with bugfix if this is

[2016-02-13 04:53] dantran commented on #3157
PR #3195

[2016-02-13 07:18] dantran commented on #2579
+1

[2016-02-13 11:41] vtolstov opened #3196 "convert boot_command to sendkey provisioner"
@all @cbednarski @mitchellh @rickard-von-essen and other =)
I think about current boot_command and think, that this is provisioner that can send keys, also sometimes someone may want to send some keys after system is bootup.

Using vnc,spice,qmp we can send keys after vm installed.
What do you think? By default boot_command fills sendkey provisioner data...

[2016-02-13 15:58] rickard-von-essen commented on #3196
I'm not sure I follow, could you try to explain a use case?

[2016-02-13 21:42] cbednarski commented on #3196
Yeah that makes sense to me.

@rickard-von-essen Basically "I want to send a key-press event to the VM", but you can do this in a provisioner at any point, not just in during the `boot_command`.

[2016-02-14 03:50] dantran commented on #3165
@cbednarski  please you advice which part of the code I need to look for?  I would like to get this fixed by providing PR

[2016-02-14 07:49] mafrosis opened #3199 "Build error in builder/googlecompute/driver_gce.go"
Since 942aaa7, I have been unable to build `packer` due to the following:

    1 errors occurred:
    --> darwin/amd64 error: exit status 2
    Stderr: # github.com/mitchellh/packer/builder/googlecompute
    builder/googlecompute/driver_gce.go:220: network.AutoCreateSubnetworks undefined (type *compute.Network has no field or method AutoCreateSubnetworks)
    builder/googlecompute/driver_gce.go:22

[2016-02-14 09:15] moshe0076 opened #3200 "Did not receive identification string from"
Hi,

SSH using packer null to Ubuntu 14.04 server gives **from time to time** the following error in auth.log:

[code]

Which leads to:

[code]

The builder setup with:

[code]

 Packer version-0.8.6

[2016-02-14 09:59] rickard-von-essen commented on #3165
@dantran I would start with reviewing the code from [step_shutdown](https://github.com/mitchellh/packer/blob/master/builder/vmware/iso/builder.go#L284) and all following steps, and the [clean of the step_run]( https://github.com/mitchellh/packer/blob/master/builder/vmware/common/step_run.go#L85). Try to build a hypothesis of what's causing this.

Another hint can be to use the current master which

[2016-02-14 10:05] rickard-von-essen commented on #3199
We just changed to using vendored devs (with godep) be sure to reread https://github.com/mitchellh/packer/blob/master/CONTRIBUTING.md#setting-up-go-to-work-on-packer since there are some new stuff there.

[2016-02-14 10:16] rickard-von-essen commented on #3196
OK. I haven't seen a use case where this actually is a good solution, usually it is used instead of learning how to properly use a automated install (preseed, kickstart, etc), but there are probably some crapy appliances out there that requires this to install. But the question is if we don't have SSH (or WinRM) why is this different from using a really long ```boot_command```? And if we have SSH

[2016-02-14 10:23] mafrosis commented on #3199
My apologies! I missed the `export GO15VENDOREXPERIMENT=1` option.

[2016-02-14 10:23] #3199 closed

[2016-02-14 10:47] rickard-von-essen commented on #3200
Could you gist your /etc/ssh/sshd_config?

[2016-02-14 10:48] rickard-von-essen commented on #3200
Do you have anything like failtoban installed?

[2016-02-14 10:54] moshe0076 commented on #3200
Hi,

It’s a standard Ubuntu 14.04 server running on Google Compute cloud.:

# Package generated configuration file

# See the sshd_config(5) manpage for details

# What ports, IPs and protocols we listen for

Port 22

# Use these options to restrict which interfaces/protocols sshd will bind to

#ListenAddress ::

#ListenAddress 0.0.0.0

Protocol 2

# HostKeys for protocol version 2

HostKey /etc/s

[2016-02-14 11:01] moshe0076 commented on #3200
https://gist.github.com/moshe0076/10bd2b689c34f12e672a

[2016-02-14 11:02] moshe0076 commented on #3200
sshguard is the one doing the blocking at the end.

[2016-02-14 11:38] rickard-von-essen commented on #3200
Could you just double check that the source IP of the connection attempt is really the machine running Packer.

[2016-02-14 12:21] moshe0076 commented on #3200
Hi,

The source is an EC2 instance running the Packer, it connects to the Google compute instance via SSH.
I have checked the EIP address of the EC2 instance  and the IP address in the auth.log on the Google instance and they are identical (I also see the timeout on the EC2 instance as sshguard  is blocking the connection). This will not happen all the time, but from time to time.

[2016-02-14 23:09] jessechahal commented on #2609
personally I find yaml less readable and even more annoying to edit then JSON. But native comment support is worth the headache. I agree with @aacebedo in that it would be nice maybe to add support to markup languages that act as a superset to JSON. I haven't used HCL but it can't be worse then JSON or YAML....right????

[2016-02-14 23:12] jessechahal commented on #2497
I ran into the same issue and if you read through google, github issues, and the offical packer documentation for docker you'll see only Linux is supported for the docker builder. Supposedly there is a fix in the master branch that might make it so OSX and windows are supported. I haven't tried to build packer from source yet to try this out but please report back here if you're able to get it wor

[2016-02-14 23:49] mjperrone opened #3202 "Make a new release?"
I've been waiting a few months now for a [new release](https://github.com/mitchellh/packer/releases) to be issued, there's a fix merged in late November that I'd like our team to use, but I don't want to use a non-standard commit. What's the timeline for getting a new release out?

[2016-02-15 02:01] dragon788 commented on #1981
@vtolstov The suggestions I've seen are a simple script containing the following:

    #!/bin/bash
    reboot
    sleep 60

This seems to be working in my testing. If there are problems you can also add a "pause_before" to your template (see documentation for syntax) which tells the next script to wait a bit before trying to run.

[2016-02-15 02:36] NetworkBytes opened #3204 "[post-processor: vsphere]: Truncating ".period" when uploading ovf to vCenter"
Getting truncation errors with the latest packer (released) build 8.6 when calling ovftools,
this didn't happen on the previous release of packer

`
Error: Failed to create directory: "vi://Administrator%40vsphere.local:<#removed#>@<#vcenter removed #>/DC1/host/Cluster1/Resources\3\
`

The Resource pool line seems to be truncating  "3.Bronze" to "3"
will attempt to use hex code "%2E" instead to se

[2016-02-15 03:08] cbednarski commented on #3202
Thanks for using packer! A release candidate for 0.9 will be out this week. If there are no major issues 0.9 will be out by the 26th, possibly sooner.

[2016-02-15 03:08] #3202 closed

[2016-02-15 03:21] NetworkBytes commented on #3204
I can confirm using "%2E" instead of "." works around the issue,
this mean there is a parsing bug introduced in the latest release

[2016-02-15 04:44] cbednarski commented on #2609
Hey folks! Thanks for the feedback here. As several of you have noted the primary benefit with YAML is comments but benefits stop there. I think YAML will cause more confusion and maintenance in the long run so I'm not planning to do this. We are planning to do HCL in the long run which should resolve a lot of the pain points around JSON. In the mean time, feel free to use a pre-processing tool to

[2016-02-15 04:44] #2609 closed

[2016-02-15 06:12] vtolstov commented on #2609
=( I'm not agree with closing this issue. HCL we waiting is more then half of year, but it not comes to packer, also yaml have binding for all languages instead of hcl.

[2016-02-15 06:42] vtolstov commented on #3196
@rickard-von-essen very long boot_command can't be mixed with provisioners, also i can run via provisioner some gui command, that want to approve license via gui. So i need to enter some keys, in current case this is very big trouble.
Also i think that boot_command not needs to be independent from provisioners. In all cases we start vm via some builder and provision it via keys, shell, and so.
So

[2016-02-15 12:45] zadoryzsolt opened #3205 "vnc dial timeout for esx5 driver is too short, and not configurable"
Hi,

I'm trying to use the vmware builder with a remote machine, and most of the time I get "Timeout connecting to: port". I saw in the code that the timeout is constant 1*time.Second.

It would be nice to configure this value as well, just like ssh_timeout.

[2016-02-15 13:39] rickard-von-essen commented on #3205
Yes, it probably would. There are instructions in the README.md how to build packer from source. It would be super if you could try to increase the timeout and rebuild and verify that it solved you issue.

[2016-02-15 16:35] xpicio opened #3206 "QEMU builder disk_compression configuration"
Hello in my qemu builder i tried to set the keyword disk_compression to true, but i have the following error:

[code]

this is my actual configuration:
[code]

I am running packer 0.8.6 on ubuntu 15.04 with qemu 2.2.0

[2016-02-15 16:43] vtolstov commented on #3206
wait for release or build packer from source, this feature not released.

[2016-02-15 16:49] xpicio commented on #3206
Thank you, i will wait the next release. At the moment i can run _qemu-img convert_ manually.

[2016-02-15 16:50] #3206 closed

[2016-02-15 17:00] imduffy15 commented on #3128
Any movement on this? Would be really handy when using QEMU with an image as source, its taken as an ISO so requires a hash to be calculated (different to other image as source builders)

[2016-02-15 17:05] vtolstov commented on #3128
I'm busy with qmp support to send keys, after that i can take this.

[2016-02-15 19:20] mohae commented on #2401
I'm still encountering this error so I thought I'd add more detail.

First, this appears to be an issue with VirtualBox; Packer is just the messenger here.

The reported errors are in this file: https://www.virtualbox.org/svn/vbox/trunk/src/VBox/Frontends/VBoxManage/VBoxManageStorageController.cpp

My error has been on line 326.  Others have reported line 325.  The code block in question is:

[cod

[2016-02-15 20:30] robmorgan commented on #409
:+1: regardless of whether `-debug` passes or fails there should be an option to keep the instance running so you can replay scripts/debug on the instance etc. Unless this somehow interferes with the capturing the AMI image.

[2016-02-16 03:00] dave2 commented on #3165
Is this related to #3050 .. Does applying the changes to when to stat the local filesystem cause this error to disappear? Are you using ```format: "ova"``` in your template?

[2016-02-16 03:12] dantran commented on #3165
I dont set any format in my template.  my packer build just build VM image from ISO file

[2016-02-16 03:29] dave2 commented on #3165
Does it not error out if you provide a format? Just trying to work out if the PR I linked above is the bug you are tripping over.

[2016-02-16 03:36] dantran commented on #3165
Yes, it looks very close to the error I am seeing, let me try your provided fix at my 0.9 local build

[2016-02-16 04:37] dantran commented on #3165
@dave2 I applied your change locally, but the build fails due to test failure

[2016-02-16 07:01] dave2 commented on #3165
Ah, sadly that's not my PR. I will look at reworking it for current tree in the next few days.

[2016-02-16 08:22] Ancillas commented on #2715
I built this and got it to run, but for me Packer crashes when it tries to add the new NIC.  I haven't solved that yet, but am working on it as time allows.

[2016-02-16 08:50] Stono opened #3207 "Metadata not being passed to openstack"
Hi,
Your documentation says that we support metadata being passed to openstack (https://www.packer.io/docs/builders/openstack.html); however looking at the code - the metadata is never passed:
https://github.com/mitchellh/packer/blob/master/builder/openstack/step_run_source_server.go#L57

Subsequently we're unable to pass our bespoke rackspace configuration data.

[2016-02-16 10:31] rickard-von-essen commented on #3207
Did you verify that, a quick glance at the code and it looks to me that it is. (But it's hard to read code on a mobile.)

[2016-02-16 12:35] jumapico opened #3210 "Add flag to avoid or delay file existence check in file provisioner"
Hi all.
I want to create many symbolic links in the image (systemd customization).
For do that, i choose to create the symbolic links in the host and create a tar file using the shell-local provisioner.
The problem is that the build step fails with the message "* Bad source '/tmp/files.tgz': stat /tmp/files.tgz: no such file or directory".
Maybe a flag that disable the check of the file or delay i

[2016-02-16 13:17] btaouil commented on #2070
I have the same issue as @shashanksinha89  it seems to happen when I add file uploader to a builder. I am not getting the error when I add the file uploader part to a provisioner.

[2016-02-16 15:47] ricardclau commented on #1102
+1 here, not a biggie but please update the documentation

[2016-02-16 16:40] kaelumania commented on #1792
i am still experiencing this issue

[2016-02-16 17:26] kaelumania commented on #1792
It seems that the logic in order to read images by name (fetching private images and comparing slug, name or id) has been removed since this issue was closed. Currently the DigitalOcean API is used directly and it does not support finding images by name.

[2016-02-16 19:08] cbednarski commented on #3196
Yeah I've run into this with e.g. Alpine linux which has no network by default, so the "preseed" has to be typed in over `boot_command`. The trouble with this is that any commands sent over VNC are blind -- we have no way to see whether they have completed or succeeded. You eventually have to use shell or something else to verify.

I think we can re-use a lot of code here so it is probably not a l

[2016-02-16 19:35] dave2 commented on #3210
PR #2877 was raised to implement something like this (not my PR, but I have commented on it)

[2016-02-16 21:59] metalmolly opened #3215 "TestISOConfigPrepare_ISOChecksumURL fails on Windows when running make test"
`make test` fails on `TestISOConfigPrepare_ISOChecksumURL` as Windows handles file: URI somewhat different then nix systems. Tested with GO 1.5.3 on Windows 8.1 with 32bbe55f2b6f71837cec3568e2582a459711a2e4

[code]

[2016-02-16 22:11] jessechahal opened #3218 "New Release soon?"
Its been about 6month's since the last official release of packer. Are there plans to release a new version of packer anytime soon? From what I can see there is a lot nice stuff just itching to get out into the world. Looking at the previous releases on average it seems to be one larger release every 6months and then a bunch of smaller releases following that.

[2016-02-16 22:25] cbednarski commented on #3218
Thanks for opening an issue. As mentioned previously, https://github.com/mitchellh/packer/issues/3202 0.9 RC will be out this week. So the official 0.9 release will be out very soon!

[2016-02-16 22:25] #3218 closed

[2016-02-16 23:54] cbednarski commented on #3210
Thanks for opening an issue. As @dave2 mentioned, this feature has been suggested already.

As a workaround, the recommended way to create symlinks is to use a provisioner to create them inside the VM, rather than creating them on the host and tarring them. This allows your build template to work even when the host environment changes (e.g. between different OSes or different filesystems).

If you

[2016-02-16 23:54] #3210 closed

[2016-02-17 09:16] zadoryzsolt commented on #3205
I increased the value to 5 seconds and it works reliably now.

[2016-02-17 19:55] bwhaley commented on #2691
I encountered this with v.0.8.6 by having a provisioner script that removes the SSH user, e.g.

    #/usr/sbin/userdel -f -r ${sshuser}

This worked in previous versions. I'm guessing that something changed so that a new SSH connection is used to delete the script?

[2016-02-17 20:15] ldanielw1 opened #3219 "Unable to create preemptible google machines?"
I tried to include `"preemptible": false` in my json, but I get this error:
`* unknown configuration key: "preemptible"`

Is this a bug in packer, or am I doing something wrong?

[2016-02-17 20:32] rickard-von-essen commented on #3219
Sorry the docs reflects some configuration keys that isn't in the latest release. ```preemtible``` is not available in v0.8.6, but v0.9.0 will be released any day now and contain support for it.

You can view the correct docs for v0.8.6 at https://github.com/mitchellh/packer/blob/v0.8.6/website/source/docs/builders/googlecompute.html.markdown

[2016-02-17 20:32] #3219 closed

[2016-02-17 20:33] astraverkhau opened #3220 "qemu builder's disk_compression and skip_compaction flags not supported. qemu-img convert does not work"
Image compaction doesn't seem to work (4G output qcaw2 vs 1.3G after manual qemu-img convert) + the following documented flags raise errors:

[code]

[2016-02-17 20:41] rickard-von-essen commented on #3220
Sorry the docs reflects some configuration keys that isn't in the latest release. ```disk_compression``` and ```skip_compaction``` is not available in v0.8.6, but v0.9.0 will be released any day now and contain support for it.

You can view the correct docs for v0.8.6 at https://github.com/mitchellh/packer/blob/v0.8.6/website/source/docs/builders/qemu.html.markdown

[2016-02-17 20:41] #3220 closed

[2016-02-17 20:45] astraverkhau commented on #3220
Thanks!

[2016-02-18 02:10] cbednarski opened #3222 "Docker test TestUploadDownload is failing [known issue]"
Failing test in packer 0.9.0-rc2 acceptance tests. This will be filed as a known issue and not fixed for 0.9.

[code]

I think this is a rehash of an issue @markpeek looked into earlier. Originally I thought this was fixed in #2846 but appears to still be present. I did a git bisect and this test started failing on a commit that removed the linux OS requirement from the test, so obviously this cod

[2016-02-18 02:49] cbednarski opened #3223 "VirtualBox test TestBuilderAcc_basic is failing [known issue]"
Failing test in packer 0.9.0-rc2 acceptance tests. This will be filed as a known issue and not fixed for 0.9.

[code]

This test fails with `Timeout waiting for SSH.` However, this never would have succeeded. I suspect that the `test` builder has been infected with a communicator change intended for ssh / winrm, causing the test to fail.

I have run a complete build with virtualbox using one of my

[2016-02-18 02:55] cbednarski commented on #3215
Thanks for the report!

[2016-02-18 14:03] yizhilong28 commented on #409
+1

[2016-02-18 18:01] tylert commented on #3049
The qemu stuff works perfectly for me on Debian Jessie x86_64 with the "stock" qemu/kvm 2.1.2.  However, I never really got qemu stuff work on Mac before so, today, I installed it with brew on Mac OS X El Capitan 10.11.3 using the ```--with-sdl``` option as suggested by @cbednarski (this ticket helped me past the "-display sdl" problem;  I also have the 2.5.0 version of qemu on OS X).

I'm current

[2016-02-19 14:46] conord33 opened #3230 "Google builder cannot bring up instances with scopes"
There are no options to bring up an instance with specific scopes using the google builder. This can cause issues if certain provisioning steps require certain scopes to complete. There should be a way, similar to terraform, to add an array of scopes the instance will have in the builder options.

[2016-02-19 15:15] aacebedo commented on #2609
I Don't really understand why YAML would not be able to fulfill the requirements HCL is trying to.
YAML is not so hard to understand, it has been especially designed to be human readable. Having a new language will force us to use new bindings and to parse from a standard to another. IMHO It is an additional complexity with not so much benefits.

[2016-02-19 15:44] necrose99 commented on #2609
I'd Settle for Python or etc scipt/s YAML to HCL or JSON , and Validation prior to import to packer.
simple script that makes sure its valid for packer , ie just a callable support script  if anyone cares to

contribute great. ie a packer plug-in ..., and anyone whom makes a plug in can or scripts can.
an I/O plugin would allow this without being a nuisance to the packer team..  and any 3rd party

[2016-02-19 20:12] cybertk commented on #2598
Same issue here on Travis with packer 0.8.6

[2016-02-19 22:57] les-tallman opened #3233 "Uploading crash.log and reporting crash per application request."
Packer Version = 0.8.6
Host = CentOS 7
VMware Workstation = 12
We were attempting to build a Windows 2012 R2 template.

[crash.log.zip](https://github.com/mitchellh/packer/files/138827/crash.log.zip)

[2016-02-19 23:04] cbednarski commented on #3233
Thanks for the report. Can you try reproducing with 0.9.0-rc2? If you can repro on the latest version, can you share a minimal repro including your template? Thanks!

Snip from the log:

[code]

[2016-02-19 23:48] bensojona opened #3234 "Packer crash"
Got a [Packer crash](https://gist.github.com/bensojona/7aba99c6cd4d5c8ed11d#file-crash-log) on a [build](https://gist.github.com/bensojona/7aba99c6cd4d5c8ed11d#file-deploy-json). Looks to be in the AWS SDK.

Setting the [AWS keys](https://gist.github.com/bensojona/7aba99c6cd4d5c8ed11d#file-deploy-json-L5-L6) fixed it, but we may want to account for this in Packer if they're not set and throw an er

[2016-02-19 23:49] cbednarski commented on #3234
Thanks, this is a dupe. Looking into it now. See #3123

[2016-02-19 23:49] #3234 closed

[2016-02-19 23:58] les-tallman commented on #3233
We are unable to get the Packer application to respond post crash, even after a server reboot. Are there any additional "Packer" logs we can review?

[2016-02-20 02:28] #3123 closed

[2016-02-20 09:29] #2663 closed

[2016-02-20 23:58] mjperrone commented on #1687
dropping into an ssh session on error would be super helpful to make my debug loop shorter.

[2016-02-21 01:13] mjperrone commented on #3218
When should we expect it to be updated in homebrew?

[2016-02-21 04:56] michael-crawford opened #3237 "Issues with 0.9.0 on Mac OS X El Capitan, VirtualBox 5.0.14, VMware Fusion 8.1.0, both VirtualBox and VMware"
This could be a false alarm - I've been away from dealing with Packer for 18 months, just trying to get my templates working again.

I first updated packer to 0.8.6 and confirmed my ability to build a CentOS 6.7 x86_64 minimum template using Virtualbox and VMware Fusion builders. This worked with no changes to my prior template.

I then went to add in the Parallels and QEMU builders, and noticed t

[2016-02-21 05:16] michael-crawford opened #3238 "parallels builder does not support relative path in output_directory"
I have a directory structure which includes:
top/templates - contains packer templates
top/boxes - where boxes are built

In my templates, I use something like:
    "output_directory": "../boxes/{{user `packager`}}-centos-6.7-x86_64-{{user `flavor`}}. parallels",

This has worked fine for virtualbox-iso and vmware-iso builder types. But, attempting to use this with the parallels builder results in

[2016-02-21 06:53] rickard-von-essen commented on #3218
@mjperrone open a issue at https://github.com/homebrew/homebrew asking for an update. There need to be done some work there since we now use Godep.

[2016-02-21 08:36] rickard-von-essen commented on #3238
This is because Parallels can only take absolute paths and we concatenate with PWD. I think it can be solved if we [Clean](https://golang.org/pkg/path/#Clean) the path after joining it.

[2016-02-21 19:10] smolinari commented on #2597
Hi,

It seems, if I add the  "identity_endpoint" key and value the

`Get /: unsupported protocol scheme ""`

error goes away. However, other problems come up. I am not sure if it is because of the URL I am using or what, but I can't seem to get the Rackspace builder to connect.

Depending on what URL I use, I get either a 401 or this.
Scott

[2016-02-21 19:19] rickard-von-essen commented on #2597
@smolinari You need to include the version, try ```OS_AUTH_URL=https://identity.api.rackspacecloud.com/v2.0```

[2016-02-22 00:43] markpeek commented on #3237
I used this [repo](https://github.com/boxcutter/centos), added ```iso_target_path``` to the vmware-iso builder, and ran ```packer build -only=vmware-iso -var-file=centos67.json centos.json``` without any issue. If you are still having issues you might want to post a gist with some minimal example code.

[2016-02-22 02:03] vikas027 opened #3241 "Feature Request: Display Source AMI in logs"
It is not a great need, but would be good to have the name of the Source AMI in packer logs.

Something like this would be useful to refer logs later on.
[code]

[2016-02-22 04:50] smolinari commented on #2597
Ahh, I had `/token` at the end of my URL. That URL works.

Can you change the docs and add that URL in the example instead of this.

`"identity_endpoint": "http://<destack-ip>:5000/v3"`

It is misleading.

And add the key and value to the RS Public Cloud example too, as the Public Cloud access needs it too it seems.

Scott

[2016-02-22 07:00] smolinari commented on #2526
I am running into the same problem. Exactly as the OP describes it.

Running 0.9.0.

Also getting

[code]

Scott

[2016-02-22 07:33] rickard-von-essen commented on #2597
@smolinari The ```identity_endpoint``` example you are referring to is for DevStack, and it is correct. The _Rackspace_ example should probably be extended with ```OS_*``` environment variables. I suggest that you read under **Notes On OpenStack Authorization** and try to use a _OpenStack RC file_. (This can probably be clarified a bit about v2 identity API)

[2016-02-22 07:37] rickard-von-essen commented on #2526
@smolinari Do you have ```openssl``` on the path?

[2016-02-22 07:47] smolinari commented on #2526
Nope. Added and testing.

Scott

[2016-02-22 08:23] smolinari commented on #2526
@rickard-von-essen - I double checked the OpenSSL installation too, nothing helped. Still getting the same error.

Scott

[2016-02-22 08:52] rickard-von-essen commented on #2526
@smolinari Could you run with ```PACKER_LOG=1 packer build ...``` and gist the log.

[2016-02-22 10:36] mohamaa opened #3242 "unknown configuration key: "guest_os_type" for chef-client provisioners for windows type aws ami"
I am trying to create a windows AWS ami from Packer with chef-client provisioners.
I followed the Packer doc for chef-client [https://www.packer.io/docs/provisioners/chef-client.html].
As the system i am running packer commands is windows and the AWS ami i want to create is also a windows server (2008 R2).

Packer version i am using: **0.8.6**

My code (packer-poc.json):
{
  "variables": {
    "aw

[2016-02-22 11:03] rickard-von-essen commented on #3242
The documentation on the site have been updated for the new release ( [v0.9.0](https://github.com/mitchellh/packer/releases/tag/v0.9.0) ) , but unfortunately the download section has not been updated. @cbednarski

[2016-02-22 13:10] mohamaa commented on #3242
When the new release v0.9.0 would be available ?

[2016-02-22 14:20] rickard-von-essen commented on #3242
You can get it from the same place as 0.8.6 just replace the version number
in the url.
On Feb 22, 2016 14:11, "mohamaa" <notifications@github.com> wrote:

[2016-02-22 17:03] Rican7 opened #3243 "Newest release (v0.9.0) not available on website"
I noticed that you've [bumped the version number][v0.9.0-version-bump] and [tagged a new v0.9.0 release][v0.9.0-tag], yet the website still has the old/previous version listed both in text and in the actual download links:

![screen shot 2016-02-22 at 11 59 13 am](https://cloud.githubusercontent.com/assets/742384/13225645/b27b4af2-d95b-11e5-8017-d178443d0636.png)

![screen shot 2016-02-22 at 11 59

[2016-02-22 17:22] rickard-von-essen commented on #3243
In the meantime before this is fixed the release is available by replacing the version in the download URL.

[2016-02-22 17:23] pearkes commented on #3243
0.9.0 is now available on the website – sorry about that! https://github.com/mitchellh/packer/commit/11c1ac45f87c06353433e84d398e7325ad706b3c

Thanks both!

[2016-02-22 17:23] #3243 closed

[2016-02-22 17:34] Rican7 commented on #3243
Thanks!
That was quick!

[2016-02-22 17:54] rickard-von-essen commented on #3242
You can now download v0.9.0 at https://www.packer.io/downloads.html .

[2016-02-22 17:54] #3242 closed

[2016-02-22 18:46] cbednarski commented on #3241
Thanks for the suggestion. This is available in the config already so we can probably print it out when we start the build.

[2016-02-22 18:49] cbednarski commented on #3242
Sorry about the mixup folks! For future reference you can always find the current and past releases at https://releases.hashicorp.com/packer/

[2016-02-22 18:49] cbednarski commented on #3243
Sorry about the mixup folks! For future reference you can always find the current and past releases at https://releases.hashicorp.com/packer/

[2016-02-22 19:19] smolinari commented on #3243
Why is the 0.8.6 120+ MB and 0.9.0 only 8MB?

Scott

[2016-02-22 19:21] smolinari commented on #2526
@rickard-von-essen

Here is the gist.

https://gist.github.com/smolinari/481cbcf213edac13d7f1

Scott

[2016-02-22 19:24] ChrisAubuchon opened #3245 "Clarification of ansible-local provision `playbook_paths`"
The documentation states:

[code]

When I supply a path to a playbook, it fails with `must point to a directory`.

Is `playbook_paths` supposed to be a list of directories or a list of playbook files?

[2016-02-22 19:57] rickard-von-essen commented on #3243
@smolinari Because Packer is now released as one binary and not as a bunch binaries for each plugin, see https://github.com/mitchellh/packer/blob/master/CHANGELOG.md#090-february-19-2016

[2016-02-22 20:08] rickard-von-essen commented on #2526
@smolinari Could you remove everything in ```C:\packer``` and install v0.9.0, I think you are running the old plugins from v0.8.6. (see [CHANGELOG.md](https://github.com/mitchellh/packer/blob/master/CHANGELOG.md#090-february-19-2016))

[2016-02-22 20:10] smolinari commented on #3243
eww.....thanks! I have to go delete the plugins.....

It might be a good idea to make a big fat red note on the download page. Not many people will know to delete the plugins. :smile:

(it might also be the problem in the other issue too!)

Scott

[2016-02-22 20:13] smolinari commented on #2526
Yeah, doing that now (because of the conversation in the other issue).

Scott

[2016-02-22 20:20] smolinari commented on #2526
Holy bean bags Batman! That was it.

Thanks for the support Rickard! I appreciate it alot!

Scott

[2016-02-22 20:21] rickard-von-essen opened #3247 "Add UPGRADE instruction to download page"
I think it would be great to add a warning that you need to remove "all" plugins before upgrading to v0.9.0 (or later) on the [download page](https://www.packer.io/downloads.html). This change will cause alot of issues/support, a warning would hopefully decrease these.

[2016-02-22 20:22] rickard-von-essen commented on #2526
@smolinari :+1: , I filed #3247 .

[2016-02-22 20:33] smolinari commented on #3247
Thanks Rickard! :+1: from one of those having been burned by the change.

Scott

[2016-02-22 20:51] smolinari opened #3249 "Rackspace - image gets deleted with the server"
When the source server gets deleted, so does the image.

This is the point where the image gets deleted.

[code]

Scott

[2016-02-22 20:55] smolinari opened #3250 "Using PACKER_LOG=1 packer build -debug and needing to hit enter multiple times"
I just updated (properly) to 0.9.0 and now when running debug, I have to hit the Enter key multiple times, before Packer continues. I thought at first Packer just died, because nothing happened after the first press of the Enter key. But, thankfully I got frustrated and hit the Enter key a number of times, then figured out Packer then starts working again. Or does it? It says this too.

` 2016/02/

[2016-02-22 20:56] cbednarski commented on #3250
Thanks for the report. I've noticed this too.

[2016-02-22 21:11] rickard-von-essen commented on #3249
Could you gist the full log.

[2016-02-22 21:15] smolinari commented on #3249
Here you go!

https://gist.github.com/smolinari/8fbe329f1cd347dd8795

Scott

[2016-02-22 21:24] rickard-von-essen commented on #3249
It's caused by using vagrant post-processor on an OpenStack artifact.

[code]

[2016-02-23 01:17] michael-crawford commented on #3036
Just recovering a bento-inspired packer project, seeing the same behavior with VMware building as noted above. This happened 2 years ago, still happening. I run a thor task which builds about 20 VM templates using VMware builder overnight, wind up with 20 stacked, stopped VM windows in the morning I have to clean up.

Why can't these be deleted like the Virtualbox variants? I'm saving all the box

[2016-02-23 01:38] cbednarski commented on #3103
Thanks for reporting this. I think this was fixed in #3123 and it should be working in 0.9 (now released). If not please let me know! Thanks.

[2016-02-23 01:38] #3103 closed

[2016-02-23 01:40] cbednarski commented on #3090
To update this, we tried to pre-validate and it has a lot of edge cases that are hard to get right. I think the better approach is to surface more information about why the build failed as mentioned in #1543

[2016-02-23 01:57] cbednarski commented on #2419
To update anyone looking, the artifact-post-processor is [available here](https://www.packer.io/docs/post-processors/artifice.html).

@vtolstov To fully address your original suggestion I think we'll rethink how packer works. Probably a good post-1.0 design topic. I'm going to close for this for now but will keep it in mind.

[2016-02-23 01:57] #2419 closed

[2016-02-23 02:03] mohamaa commented on #3242
Thanks for the link !!!

[2016-02-23 02:22] mohamaa commented on #3242
Issue is still there :(
I replaced the latest packer.exe from v0.9.0 on my already present packer package v0.8.6

Do i need to do something else to get rid of this issue ?

[2016-02-23 03:21] mohamaa commented on #3242
Issue resolved. I had to delete the old v0.8.6 package completely and update it with v0.9.0

[2016-02-23 05:21] smolinari commented on #3249
Ok. I am trying to make a Vagrant box from that same image. Does that mean it isn't possible? Or is there a way to make the same image for a Vagrant box?

Scott

[2016-02-23 07:02] ltrifonov opened #3251 "file provisioner is unable to download directory"
Tried to download a folder form the remote instance locally.
Tested all possible combinations `/` on  source/destinations with no luck.
Quick look at the code showed that the code checks for directory on uploads only.

The documentation doesn't mention that folder download is not possible?

I've setup my file provisioner like:
[code]
The provisioner always fails with message
[code]

[2016-02-23 07:08] smolinari commented on #3249
I am trying other "ways" to make the Vagrant box. I am learning.

Closing for now.

Scott

[2016-02-23 07:08] #3249 closed

[2016-02-23 07:09] cbednarski commented on #3249
@smolinari Thanks for following up!

[2016-02-23 07:11] rickard-von-essen commented on #3249
@smolinari the vagrant post-processor can only work with the [builders listed in the docs](https://www.packer.io/docs/post-processors/vagrant.html). If you have another builder that is supported in the same template you need to [limit the vagrant post-processor to only run for these, see **Run On Specific Builds**](https://www.packer.io/docs/templates/post-processors.html).

[2016-02-23 07:13] vtolstov commented on #3251
Try source without / at the end
23 февр. 2016 г. 10:02 пользователь "Lyubomir Trifonov" <
notifications@github.com> написал:

[2016-02-23 07:20] smolinari commented on #3249
Ok. I am downloading an iso and building a Virtualbox VM image with it (hopefully). I have this now added to the post-processors.

[code]
Let's see what happens.

Scott

[2016-02-23 07:31] ltrifonov commented on #3251
Thanks for the suggestion, already tried.
To be more specific on what I've tried:

destination without slash:
[code]

As suggested: no slash at the source end:
[code]

[2016-02-23 07:57] rickard-von-essen commented on #3251
@ltrifonov Could you rerun with packer log ```PACKER_LOG=1 packer build ...``` and gist the log.

[2016-02-23 09:35] cbednarski commented on #3251
@ltrifonov Downloading directories is only supported in when using SSH. If you're using Docker or Windows or something else this will not work (it's not currently implemented).

It's possible that the error message is being swallowed. Can you indicate which builder / communicator you're using? The file provisioner doesn't actually know how to talk to the machine so it relies on the communicator to

[2016-02-23 09:40] rickard-von-essen commented on #3251
[code]
Suggests SSH.

[2016-02-23 13:19] kaelumania opened #3252 "DigitalOcean: Reference base image by previous snapshot name"
I have an existing snapshot created via
`"snapshot_name": "my_base_0.0.1"`

and then reference it in a new resource via
`"image": "my_base_0.0.1"`

but I am getting the error:
https://api.digitalocean.com/v2/droplets: 422 You specified an invalid image for Droplet creation.

It seems that the logic in order to read images by name (fetching private images and comparing slug, name or id) has been re

[2016-02-23 14:36] vtolstov commented on #3251
Im try to recheck this with qemu.
23 февр. 2016 г. 12:40 пользователь "Rickard von Essen" <
notifications@github.com> написал:

[2016-02-23 16:27] dsmithfv opened #3253 "Ansible-local is not looking for the proper role path."
Packer version: 0.9.0
Ansible version: 1.9.4

Error:     amazon-ebs: ERROR! the role 'common' was not found in /tmp/packer-provisioner-ansible-local/includes/playbooks/roles:/tmp/packer-provisioner-ansible-local/includes/playbooks:/etc/ansible/roles

I am able to push my local role_paths to the remote just fine but, the remote doesn't seem to have a proper roles_path set to find the roles.  It upl

[2016-02-23 17:44] cbednarski commented on #3252
Thanks for the report. Can you try `region:image`?

[2016-02-23 17:47] rickard-von-essen commented on #3253
Could you rerun with ```PACKER_LOG=1 packer build ...``` and gist the output and your template.

[2016-02-23 17:49] cbednarski commented on #3253
Thanks for opening an issue. I'm not sure if this is the problem but you have indicated `roles_path` instead of `role_paths` (move the `s`).

[code]

Also, surprisingly, this code path has not changed since the last release.

[2016-02-23 18:37] dsmithfv commented on #3253
Here is my original Packer json template which worked at some point prior.  I removed the roles_path variable since it shouldn't be needed. That var normally lives in ansible.cfg and is different from role_paths which I use in my playbook.

api-node-packer-SECRET.json
https://gist.github.com/wfmdevops/307f0aa1713d9facdcda

Packer output with PACKER_LOG=1 added.

packer.debug.log
https://gist.githu

[2016-02-23 18:41] peterloron commented on #3157
This issue appears to be biting us as well.

[2016-02-23 18:43] cbednarski commented on #3253
Do you know which version of packer this previously worked with? Also, did the version of Ansible change since then?

[2016-02-23 18:49] dsmithfv commented on #3253
I'm not 100% sure as another Engineer originally wrote this.  I believe his Ansible version was around 1.8.x and the Packer may have been 0.8.6 although I would have thought he would have upgraded to 0.9.0 before leaving.

[2016-02-23 19:07] dantran commented on #3157
please merge the PR, sothat @peterloron can continue to see other problem that I see

[2016-02-23 19:27] bensojona opened #3254 "AMI discard flag"
I don't believe this exists, but it would be nice if there was an AMI discard option like there [is with the Docker builder](https://www.packer.io/docs/builders/docker.html#discard) so it doesn't bake an AMI when you're just using the builder for the [artifice post processor](https://www.packer.io/docs/post-processors/artifice.html).

[2016-02-23 20:59] dsmithfv commented on #3253
I decided to try and downgrade to 0.8.6 and I got the same error.  Then it occured to me that:
            "sudo apt-add-repository ppa:ansible/ansible",
            "sudo /usr/bin/apt-get -y update",
            "sudo /usr/bin/apt-get -y install ansible"

installs Ansible version 2.0 on the remote server and maybe it handles the roles directory in a different way.

I created a symlink roles -> in

[2016-02-23 23:13] BetaGrumm commented on #869
+1

[2016-02-24 00:29] nhi-vanye opened #3255 "VMware builder in "ova" mode doesn't support ovftool options"
Ovftool in the post-processors block supports options, but not in the builder block with "format" = "ova"

This is with 0.9rc2

[2016-02-24 00:52] cbednarski commented on #3255
Thanks for opening an issue. This is _probably_ a fairly easy copy-past job, or maybe a good opportunity to do some minor refactoring. This should be the same code path in the 0.9 release so I don't think updating to the release  will solve this, but I encourage you to do so anyway. :)

[2016-02-24 02:38] nhi-vanye commented on #3255
Hi Chris,

I think I'd say this was a bug (although not a high priority) not an enhancement - a new feature has been released (format = "ova" ) and the inability to add options stops me from using the new functionality.

I'll settle for misfeature :-)

Thanks

richard

[2016-02-24 02:58] nhi-vanye commented on #3255
Since I'm motivated to get this working if you can get me past setting up the work area I'll work on a pull request.

`
[root@a8ab8dbbca22 BUILD]# go get github.com/mitchellh/packer
import cycle not allowed
package github.com/mitchellh/packer
	imports encoding/json
	imports bytes
	imports errors
	imports runtime
	imports runtime/internal/atomic
	imports unsafe
	imports runtime
import cycle not all

[2016-02-24 03:46] mohamaa opened #3256 "amazon-ebs: [FATAL] failed to allocate memory"
I am trying to bootstrap chef-client in packer with a run list. But it always gives following error :

[code]
Also I am setting up the winrm inside builders :

[code]
where my setup_winrm.txt file content is :

[code]

My provisioners are :
[code]

To resolve the issue i tried following things:

1. Tried increasing MaxMemoryPerShellMB from 300 to 1024 and then to 2048 and then to 4096
But same mem

[2016-02-24 04:11] cbednarski commented on #3256
Thanks for the report! Sorry you've run into a bug here. Just to double-check, are you using packer 0.9? Some of this code is new / has changed significantly in the latest release so if are using a different version can you try with 0.9?

[2016-02-24 04:23] mohamaa commented on #3256
Yes i am using packer v0.9.0

[2016-02-24 05:35] punkrokk opened #3257 "v0.9 preseed issue"
I upgraded to v0.9 today with brew and the preseed on vmware fusion is not working. Nothing else has changed to my knowledge. Getting a can't download preseed from http://x.x.x.x:xxxx/preseed.cfg error.

Any suggestions?

[2016-02-24 05:43] cbednarski commented on #3257
Thanks for opening an issue. Preseed is downloaded from packer's built-in HTTP server so packer will need to be able to accept inbound network connections. If you're using a firewall you'll need to add an exception for packer. My guess is the old version of packer is already whitelisted.

[2016-02-24 05:44] punkrokk commented on #3257
Hey - in this case it's a Mac with the firewall turned off...

[2016-02-24 06:01] cbednarski commented on #3255
I think something in your go install is slightly amiss. Check that `go version` gives you the expected output, and that [GOPATH](https://golang.org/doc/install) is setup correctly.

If you've worked on packer source code before with an earlier version of go, you may need to purge `$GOPATH/pkg` to remove intermediary files. On *nix this would be `rm -r $GOPATH/pkg`. These files are safe to discard;

[2016-02-24 06:17] cbednarski commented on #3257
`PACKER_LOG=1 packer build ...` will give you debug logging, which might help diagnose.

[2016-02-24 09:16] mohamaa commented on #3256
Initially i thought it could be an issue with **remote winrm bootstrapping** so i tried both the ways as :

1. Ran **chef-client** from inside the aws windows server with the run list containing **aws::default** cookbook and it worked fine.
2. Tried bootstrapping the aws windows server from my local workstation using knife bootstrap command as :
[code]
It ran without any error.

So its not an issu

[2016-02-24 10:45] melon-babak commented on #2773
I'm having this issue with Rackspace.

I notice packer says `openstack: OpenStack cluster doesn't support stop, skipping...`.

Related: #1462

[2016-02-24 10:52] rickard-von-essen commented on #3253
@dsmithfv I think there is some problem with your playbook / roles configuration. I think the best way to solve this is to step back to the basics and create a smaller setup that works and expand from there. Also running the null builder will allow you to much quicker iterate over your template.

For me the following works:
issue-3253.json
[code]
playbook.yml
[code]
rolse/common/tasks/main.yml
[co

[2016-02-24 11:06] rickard-von-essen commented on #2773
@melon-babak Could you run:
[code]
against Rackspace and gist the output.

[2016-02-24 11:12] #3238 closed

[2016-02-24 12:06] melon-babak commented on #2773
I ran `nova list-extensions` here's ouptut:

[code]

Openstack environment variables:

[code]

[2016-02-24 12:58] rickard-von-essen opened #3259 "OpenStack: support shutdown_command when Stop is not supported"
If the OpenStack cluster don't support the `os-server-start-stop` extension we just skip shutdown. It would be better if we supported `shutdown_command` to issue a command for shutting down the OS.

See
https://github.com/mitchellh/packer/blob/master/builder/openstack/step_stop_server.go#L21

Related to #2773

[2016-02-24 13:00] rickard-von-essen commented on #3259
@melon-babak FYI

[2016-02-24 13:20] melon-babak commented on #3259
Thanks Richard. What's the best short term solution?
On 25 Feb 2016 12:00 AM, "Rickard von Essen" <notifications@github.com>
wrote:

[2016-02-24 15:39] paultyng commented on #3254
This would be very useful in overcoming Atlas resource limitations for CPU or memory intensive builds.

[2016-02-24 20:17] paolodedios opened #3260 "Ansible remote provisioner error when used with Docker builder"
Provisioning a docker image via the new ansible remote provisioner on packer 0.9.0 results in a fatal docker builder error.  Ansible reports that the remote host is "UNREACHABLE", but the initial Ansible  command to create temp directories reports back a syntax error.

[code]

The Ansible remote provisioner is configured as follows and the docker builder was run through packer 0.9.0 on CentOS 7.

[2016-02-24 20:52] cbednarski commented on #3260
Thanks for reporting this. Can you provide a minimal repro (i.e. templates and configs?). I can't see whether you are running docker on a remote host or locally on linux, or what's inside your images playbook for example.

[2016-02-24 22:05] zverocool commented on #3204
I am experiencing a similar issue, after upgrading to 0.9.0. It worked in 0.8.6 with no problem
[code]

I am not sure what the issue is, but its probably parsing:  This does not look correct:

[2016-02-25 00:09] higebu commented on #3255
It seems packer doesn't change the behavior by format option from source code. https://github.com/mitchellh/packer/blob/master/post-processor/vsphere/post-processor.go
Could you paste debug log?

[2016-02-25 02:27] gcshute opened #3261 "unknown configuration key: "ssh_key_path""
`% /usr/local/bin/packer-0.9.0 build -var 'linux_ver=7.1.29' packer.json`

[code]

When I use Packer v0.7.5 this works fine:
Build 'virtualbox-ovf' finished.

[code]

[2016-02-25 03:09] paolodedios commented on #3260
Attached is a test case that includes a packer configuration file and ansible playbook files that reproduce the issue I detailed above.

Simply run:

[code]

on CentOS 7 within a VMware virtual machine to duplicate my test environment.

[gh-issue-3260-test-case.tar.gz](https://github.com/mitchellh/packer/files/145893/gh-issue-3260-test-case.tar.gz)

[2016-02-25 03:38] cbednarski commented on #3261
Thanks for checking out the latest release! The way this is configured has changed. You will want to use [`ssh_private_key_file`](https://www.packer.io/docs/templates/communicator.html#ssh_private_key_file) instead.

To provide background, 0.8 introduced the idea of "communicators" which allows us to (for example) keep SSH configuration and code the same between different builders (VirtualBox, VMW

[2016-02-25 05:36] punkrokk commented on #3257
fixed user copy error. thanks for the help

[2016-02-25 05:36] #3257 closed

[2016-02-25 07:21] mohamaa commented on #3256
The issue got resolved by applying the windows hot fix KB2842230 on aws ami.

[2016-02-25 08:12] rickard-von-essen commented on #3256
Great to hear! Closing

[2016-02-25 08:12] #3256 closed

[2016-02-25 09:28] ghost opened #3262 "Rackspace stop/start extension (Grizzly vs Liberty)"
There's a few inter-connected issues involved here not sure what's the best way to express it but I'll have a go.

Basically I want to use packer with the OpenStack builder to build server images for Rackspace.

But as things are now it seems like the start/stop extension is not supported (or not being detected) so packer skips the server shutdown process, resulting in corrupt images being saved.

[2016-02-25 12:15] rickard-von-essen commented on #3262
Ok, this is good, since Grizzly was EOL a long time ago we can probably just skipp checking if the extension is available and just assume stop is supported.

[2016-02-25 13:09] willpriceb commented on #1673
+1

This would be really handy, the main use case is for setting passwords, locales and keyboard layouts in preseed.cfg.

@rasa has a workaround for specifying passwords in the builder config JSON:
[code]

If one were to look at adding this functionality where would they start? I see the virtualbox-iso plugin instantiates a server from which to serve the files in the `http` directory, I guess a st

[2016-02-25 13:41] mistercaste commented on #3204
+1 for this fix

I have successfully created a packer artifact (CentOS-7 via vmware-vmx) and the post processor fails due to the same error.

After the failure (and before packer deleted the temp artifact) I have tried to manually execute:
ovftool --noSSLVerify=true --acceptAllEulas --name=my-template --datastore="VMTier_01" --diskMode=thick --network="VM Network" --vmFolder= output-vmware-vmx\my-

[2016-02-25 16:23] don-code opened #3263 "Chef validation_key_path not being propagated to target"
The `validation_key_path` parameter does not appear to have the expected effect after upgrading from Packer 0.8.6 to Packer 0.9.0. This was tested as working in Packer 0.8.6 and not working in Packer 0.9.0 on CentOS 6.7 and OS X  10.9.

A chef-client provisioner which will exhibit this is:
[code]
The /tmp/packer-chef-client/client.rb which is generated on the target machine lacks the `validation_k

[2016-02-25 17:02] gozer opened #3264 "force_deregister should only deregister AMIs we own"
Currently, when setting force_deregister: true, Packer goes ahead and tries to delete any and all AMIs with the same name, regardless of if we own them or not.

So in the case of another account owning a similarly named AMIs, packer will fail when attempting to deregister it.

[2016-02-25 17:14] deimosfr opened #3266 "Pakcer 0.9.0 and ansible can not locate site.yml"
Hi,

I'm running ansible 2.0.0.2 and Packer 0.9.0 on Debian jessie. I'm trying to use the new Ansible provider. I previously was using the ansible-remote one and wanted to switch to avoid installing ansible on my containers (https://gist.github.com/deimosfr/dacc4908724f778b100a).

I've got a strange issue when running it:
[code]

After checking, the site.yml exist in this path and permissions are

[2016-02-25 18:08] rickard-von-essen commented on #3266
Duplicates #3260

[2016-02-25 18:08] #3266 closed

[2016-02-25 18:31] dsmithfv commented on #409
+1.. I'm surprised this would be around 2.5 years later.  This would make my life so much easier troubleshooting my Packer build.

[2016-02-25 19:04] jalmansor commented on #3204
Seeing this as well since updating to 0.9.0.

[2016-02-25 19:20] dkruger commented on #3192
I can confirm running packer v0.9.0 and QEMU version 1.0.1 on Fedora Core 17, that qemu-system-x86_64 will indeed have an empty "-drive" parameter.

Using template from the documentation:
[code]
Running `PACKER_LOG=yes packer build centos6_example.json`

Results in the attached output: [centos6_example_log.txt](https://github.com/mitchellh/packer/files/147147/centos6_example_log.txt)

With the lin

[2016-02-25 20:28] dsmithfv commented on #3253
I believe it is in fact my role/playbook configuration.  I think this stopped working because those are incompatible somehow with Ansible 2.0.  I created a simple playbook and common role as suggested and it worked.  Now to slowly add things back and figure out how to migrate to 2.0 or if there is a way to apt-get Ansible 1.9.x for now.

[2016-02-25 20:40] ashivara77 commented on #320
@mitchellh @jasonberanek : I am successful in building a VM with NAT ,  but while trying to create one having Bridged configuration using (as suggested above):
     "bridged_networking" : true,
     "bridged_host_interface": "eth0"

I get the following error:
* unknown configuration key: "bridged_host_interface"
* unknown configuration key: "bridged_networking"

The boot Script is  :
 "boot_comman

[2016-02-25 23:25] msteinhoff opened #3268 "bufio.Scanner: token too long in ansible remote provisioner"
Hi everyone,

I am running packer 0.9.0 on OS X 10.9.5 and tried to use the new ansible remote provisioner when I ran into an issue during my ansible playbook was running.

Debug output: https://gist.github.com/msteinhoff/64777ac9174dcdcc425a

The problem seems to lie here:

https://github.com/mitchellh/packer/blob/da1e9f4976f4651697748a91f3edc77c4d6ce883/provisioner/ansible/provisioner.go#L272-L2

[2016-02-25 23:35] cbednarski commented on #3268
Interesting. Thanks for tracking this down! We probably need to change this to use a channel instead of a buffer + wait group.

[2016-02-25 23:45] melon-babak commented on #3262
@rickard-von-essen is that as simple as just not doing the check on https://github.com/mitchellh/packer/blob/39d6eda3708dc677544f0afe1b5e35911152bd86/builder/openstack/step_stop_server.go#L21?

If someone provides some guidance on what the patch would look like I may be able to send a pull request.

[2016-02-25 23:57] msteinhoff commented on #3268
I'd be glad to help fix this bug. I have never programmed in go but if you could point me in the right direction what to do I'd give it a shot.

[2016-02-26 00:01] cbednarski commented on #3264
Going to follow up in the PR; closing this in the mean time.

[2016-02-26 00:01] #3264 closed

[2016-02-26 00:05] melon-babak opened #3269 "make fails with "gox: command not found""
I was trying to make the project as per instruction on [CONTRIBUTING.md](https://github.com/mitchellh/packer/blob/master/CONTRIBUTING.md).

But `make` fails with:

[code]
[Full output](https://gist.github.com/melon-babak/39c00ae249b15c89e522)

After the first `make` failed I tried `make updatedeps` then `make` again. Same thing.

Platform: Linux 64-bit
Go version: go version go1.6 linux/amd64

[2016-02-26 00:09] melon-babak commented on #3269
Ignore that, it was because of my path variable. `export PATH=$PATH:$GOPATH/bin` did the trick.

[2016-02-26 00:09] #3269 closed

[2016-02-26 00:24] melon-babak commented on #3262
Hmm so I built a version that just blindly skips the check. This is what happened:

[code]

[2016-02-26 00:55] cbednarski commented on #320
@ashivara77 I think your issue is not related to the original issue (HTTPIP not being resolved correctly), and the thread is quite old. Can you open new issue, please?

[2016-02-26 00:58] cbednarski commented on #3261
I'm going to close this but if your issue persists please feel free to reopen. Thanks!

[2016-02-26 00:58] #3261 closed

[2016-02-26 03:15] ashivara77 commented on #320
Hi Chris,

Thank you for your response.
My doubt is:

1. I have attached the .Json script and the config file I am using to
create a VM (using Virtual Box). I am sucessfully able to create VM.
However, it is created using 'NAT' configuration(default). Could you please
suggest me what changes are to be done in the json or cfg file, if I need
to create the VM with 'Bridged' Configuration. I am not a

[2016-02-26 09:42] abbbi opened #3270 "qemu format: converting harddrive, again?"
building my windows templates with packer 0.8.6 for qemu/kvm resulted in a usable disk image after:

==> windows-2012-R2-standard: Gracefully halting virtual machine...

now i tried to build my images with 0.9.0 and it does one step more:

==> windows-2012-R2-standard: Converting hard drive...

from the processlist i can see:

/usr/bin/qemu-img convert -q -f qcow2 -O qcow2 ...

is this step really

[2016-02-26 10:01] rickard-von-essen commented on #3270
This is most likely [compaction](https://www.packer.io/docs/builders/qemu.html#skip_compaction).

[2016-02-26 10:04] rickard-von-essen commented on #3192
@vtolstov Can you have a look at this? What do you think?

[2016-02-26 10:05] rickard-von-essen commented on #3253
Closing, please reopen if the problem still exists.

[2016-02-26 10:05] #3253 closed

[2016-02-26 10:09] rickard-von-essen commented on #3268
@msteinhoff Great! Go is really easy to get started with, but maybe this fix is not the easiest to get started with dependning on what you usally do when coding. A hint is to read [getting started and the tour](https://golang.org/doc/) specifically to fix this read about [channels](https://tour.golang.org/concurrency/2).

[2016-02-26 10:13] rickard-von-essen commented on #320
If there is still similar problems like this open a new issue or ask on [IRC: #packer-tool @freenode or the packer-tool Google Group](https://www.packer.io/community/).

[2016-02-26 10:13] #320 closed

[2016-02-26 10:15] rickard-von-essen commented on #3262
@melon-babak ohh that was bad. I just registered a account at Rackspace and will do some testing but I currently have very little time to spend on this so it may take some days before I get around to do it.

[2016-02-26 10:18] abbbi commented on #3270
i see, ill rerun with skip_compaction,thanks!

[2016-02-26 11:07] kaelumania commented on #3252
@cbednarski Thanks for the response. Unfortunately no, using `"image": "fra1:my_base_image"` results again in `422 You specified an invalid image for Droplet creation.` when trying to reference my private image. But it's not surprising, because packer uses the do api client directly and searches only for the slug: https://github.com/mitchellh/packer/blob/master/builder/digitalocean/step_create_dro

[2016-02-26 13:31] LinusU opened #3271 "Fails to provision with ansible remote if path is too long"
(packer `0.9.0` on OS X 10.11.3)

Ansible, under packer, fails with the following message when trying to provision the remote server.

[code]

Key here is "ControlPath too long", it means that the path to the control file is too long. Ansible usually creates this file under `$HOME/.ansible/cp/ansible-ssh-%h-%p-%r` but something goes wrong, and instead the following path is used: (`/private/tmp/dja

[2016-02-26 13:35] LinusU commented on #3271
This is a very simple `template.json` that exhibits this problem:

[code]

`"extra_arguments": "-vvvv"` is used to get more verbose output from Ansible.

I'm using the following `playbook.yml` for Ansible, just to test.

[code]

[2016-02-26 14:06] vtolstov commented on #3192
please check my pr

[2016-02-26 14:08] vtolstov commented on #3192
@hiciu yes, this is a bug. thanks!

[2016-02-26 14:12] LinusU commented on #3271
A temporary workaround is to add the following option to the ansible provisioner:

[code]

[2016-02-26 16:38] msteinhoff commented on #3268
@rickard-von-essen thank you, I'll give it a read later today and then we'll see what happens. I wanted to learn go anyway :)

[2016-02-26 18:01] thatarchguy opened #3273 "Ansible Remote ansible_ssh_user is packer-ansible"
When using packer with ansible remote as the provisioner, the builtin ansible variable `ansible_ssh_user` (`ansible_user` for Ansible 2.0) is set to "packer-ansible".

This means that playbooks that use {{ ansible_ssh_user }} in their playbooks will fail when the "packer-ansible" user is not found and they are expecting something like "ubuntu" in its place.

[code]
packer.json provision snippet:
[

[2016-02-26 18:40] cbednarski commented on #3252
Got it. The change that broke this is 6d314707570489e5216d6d69931816eb7f367c4f

The reason for the change is that if you have more than 200 images the image won't necessarily come back from the API, we don't page, and doing so would be really slow. Unfortunately the integration tests didn't catch this case.

So maybe we should do the API calls progressively. I.e. call for snapshot, if it's not fou

[2016-02-26 18:49] cbednarski commented on #3271
Thanks for the detailed report, repro, and workaround! I'm sorry you've run into this bug. Nothing immediately jumps out at me so I'll need to do some investigation to root cause this.

[2016-02-26 19:24] rickard-von-essen commented on #3192
@hiciu and/or @dkruger It would be great if anyone could verify that PR #3272 fixes your problems.

@vtolstov Thanks for your quick response!

[2016-02-26 19:57] thatarchguy commented on #3273
Work around:
Set this variable and replace all instances of `{{ ansible_user }}` with `{{ remote_user }}`
[code]
You can specify this variable in the packer.json if you want as well.
For when you bring up a dev environment in Vagrant add this to your Vagrantfile:
[code]

[2016-02-26 20:04] rstruber commented on #2664
Would just like to express my need for this as well. Taking dynamic volume sizes from jenkins would be handy.
[code]

Build result:
[code]

[2016-02-26 20:10] #3271 closed

[2016-02-26 20:48] rickard-von-essen opened #3275 "Ansible: 2.0 deprecated: ansible_ssh_user, ansible_ssh_port, ansible_ssh_host"
See http://docs.ansible.com/ansible/intro_inventory.html#hosts-and-groups

We should detect the version and set the appropriately:
< 2.0: ansible_ssh_user, ansible_ssh_host and ansible_ssh_port

[2016-02-26 22:27] msteinhoff commented on #3268
So I looked a bit deeper into the issue:

`exec.Command` provides a `ReaderCloser` for stdout and stderr form which we can read data.
Packer provides the `Ui` interface which allows us to push individual messages to the user.

The Ansible provisioner implements a go routine where a `Scanner` is used to read data from the `ReaderCloser` and tokenize that into individual lines which can be sent to p

[2016-02-26 22:53] jcmcken commented on #3047
I think I'm running into this issue with the VMware builder as well. When I try to build, I get the following error:

[code]

...which seems to just be a generic ``socket`` syscall error ``EPROTONOSUPPORT``.

This is only when running ``centos-64`` (doesn't occur on ``centos``).

[2016-02-26 23:18] cbednarski commented on #3268
@msteinhoff A channel works as a pipe (a.la. unix pipes). We use channel patterns elsewhere in packer to capture stderr/stdin because it has the benefit of being able to **stream** an unlimited amount of output. The scanner is reading line-by-line but has an upper limit, as you noted.

I think `ReadString` will work but will probably block until the entire Ansible operation completes, which means

[2016-02-26 23:33] msteinhoff commented on #3268
Thanks for clarification.

I have searched on exec.Command for something that returns me a channel but did not find anything. Could you point me to an example where channels are used to capture stdout?

Streaming an unlimited amount of output sounds great, but I looked at the Ui interface and only found functions to print messages, so I think we want to separate that byte stream between new lines

[2016-02-26 23:39] msteinhoff commented on #3268
I searched a bit in the code and found this:

https://github.com/mitchellh/packer/blob/024132a698092b0d950d0aaffdb8821616de6a72/packer/rpc/communicator_test.go#L124-L133

Which still uses a Reader and ReadString() but replaces the wait group with a channel.

I'll give it a try.

[2016-02-26 23:53] msteinhoff commented on #3268
Hm, before I reinvent the weel, why not just use this:

https://github.com/mitchellh/packer/blob/23d5e506006e674bdb1b0d4b9b26ff02a09af6aa/builder/qemu/driver.go#L202-L215

It looks like that does exactly what we want here. Is there some place of common functionality where I could move that function? Or would it be better to copy it into the ansible provisoner?

[2016-02-27 00:27] cbednarski commented on #3268
@msteinhoff Oops, I misremembered [this](https://github.com/mitchellh/packer/blob/23d5e506006e674bdb1b0d4b9b26ff02a09af6aa/builder/qemu/driver.go#L76-L133) as a channel rather than a pipe. Thanks for linking to that. Feel free to copy-paste!

[2016-02-27 00:36] msteinhoff commented on #3268
Okay!

@cbednarski Question: Why is the `WaitGroup` used at all? Shouldn't it be sufficient to call `cmd.Wait()`?

[2016-02-27 00:47] cbednarski commented on #3268
@msteinhoff It's been awhile since I've been spelunking here but IIRC it's because we want to capture stderr and stdout independently rather than as a combined stream.

Once we've detached stdout and stderr into their own go routines (using the `go` keyword) we have to block until we finish reading all the data. If we don't, Wait() might return because the process has exited but before the UI thre

[2016-02-27 00:59] msteinhoff commented on #3268
Ah I see.

Id introduce a bool channel then and just send a true value on the end of each go routine.

Is there an more elegant than just e.g. doing this:

[code]

And then calling `playbookDone <- true` at the end of the logReader go routine?

[2016-02-27 03:04] techtangents opened #3277 "Customize linux ISOs with kickstart/preseed file"
In https://www.packer.io/docs/builders/vmware-iso.html it describes configuring a sequence of keystrokes to start the installer with the required options and load the kickstart/preseed file. This sounds clumsy and error-prone to me.

Wouldn't it be better to get the ISO, unpack it, bake in the kickstart/preseed file (like https://help.ubuntu.com/community/InstallCDCustomization) and boot the VM of

[2016-02-27 03:11] kikitux commented on #3277
Hello,

The normal process to install an OS like debian based or redhat based is use a response file to installer, and type some information in the console to tell the installer from where grab the iso.

You could update the iso, and tell packer to use that iso, and no boot line will be required.

I believe, having packer to update isos wont be very portable, and decoupling the iso from the respon

[2016-02-27 03:11] #3277 closed

[2016-02-27 03:22] kikitux commented on #3230
Hello @conord33 could you please provide more information and an example of what you are missing?

[2016-02-27 05:49] melon-babak commented on #3262
Here's some further information from Rackspace:

[2016-02-27 06:08] techtangents commented on #3277
Do you ever get problems with the timing of Packer producing the keystrokes over VPN?

[2016-02-27 06:27] msteinhoff commented on #3268
I fixed the issue without using channels:
https://github.com/msteinhoff/packer/commit/48841ef664d3d7c4368b545d3239ace3799f8ee6

How should I go about a pull request? The guidelines say to provide tests and so on, but I am not sure how to provide such tests in this case. Its more of a integration test that would need a full VM and some ansible playbooks that must be able to produce very long lines.

[2016-02-27 06:37] activatedgeek opened #3278 "Unable to build Images on Atlas"
I am trying to build a simple Ubuntu Vagrant Box (only for starters, I am building another box whose base I am setting up). But the build fails as soon as it starts. Note that I am building on [`Atlas`](https://atlas.hashicorp.com/builds)

- Packer Version: 0.9.0
- Host platform: Pushed from OS X 10.11
- Complete Debug log output from [`Atlas Build UI`](https://atlas.hashicorp.com/builds)
[code]
-

[2016-02-27 06:56] kikitux commented on #3278
Hello @activatedgeek

I have to say this is not a bug and its expected.

Your template is over the size of the build system in the free tier:

ie:
https://github.com/activatedgeek/vagrant-mesos/blob/master/ubuntu.json#L20

The build environment is defined here:
https://atlas.hashicorp.com/help/packer/builds/build-environment

Those sizes are for the build environment.

As this is not a bug in pack

[2016-02-27 06:56] #3278 closed

[2016-02-27 07:21] activatedgeek commented on #3278
@kikitux Hi, I have mailed my issue. I have updated my template, but still the exact same error. Not sure where I could be going wrong. I have removed any manual VM hardware configurations that I was doing earlier. It is strange. Similar templates were successfully built earlier. I have made no changes to templates except that the packer version now is 0.9.0.

[2016-02-27 10:17] deimosfr commented on #3266
Hi, are you sure this is duplicates as here it looks like a file location issue ?

[2016-02-27 12:22] LinusU commented on #3271
Wow, thanks for the quick fix! I'm currently away but will try the fix on Wednesday:)

[2016-02-27 14:09] rickard-von-essen commented on #3266
Docker builder and ansible provisioner doesn't work together.
On Feb 27, 2016 11:17 AM, "Pierre Mavro" <notifications@github.com> wrote:

[2016-02-27 17:23] rickard-von-essen commented on #3047
@jcmcken Can you open a separate issue for VMware since this have been solved in v0.9.0 for OpenStack.

[2016-02-27 17:24] rickard-von-essen commented on #3047
Fixed in PR #3197

[2016-02-27 17:24] #3047 closed

[2016-02-27 17:30] kikitux commented on #3278
Hello,

The error `Setup failed: open /tmp/build893489859/slug/.packer-template: no such file or directory` has been taken care on Atlas.

The build should be back to normal.

Thanks
Alvaro.

[2016-02-27 17:56] deimosfr commented on #3266
ok thanks

[2016-02-28 05:50] slbmeh commented on #3151
I'm trying to have a shell provisioner copy the `client.rb` from the `chef-client` provisioner, however the staging directory is destroyed after the chef provisioner completes preventing another provisioner from accessing it.

[2016-02-28 12:40] doka opened #3279 "too strict conditions for build name in v0.9.0"
Packer 0.9.0 introduced some rules for build name syntax in https://github.com/mitchellh/packer/blob/master/command/push.go, line 21.

With these new rules, build names like `debian-8.3` are not any more valid when pushing to atlas build service, and `packer push debian-8.3.json` fails with `Your build name can only contain these characters: [a-zA-Z0-9-_]+`

In earlier versions this was working, s

[2016-02-28 12:43] shashanksinha89 opened #3280 "Looking for vCloud Builder"
I am looking for specific use case where I can build images/artifacts vcloud platform directly instead of relying on type-2 hypervisor i.e VirtualBox , vmware desktop products.

Thanks !!!!

[2016-02-28 21:09] dave2 commented on #3280
vmware-iso can talk directly to a ESXi server over ssh, and the vsphere post-processor can punt stuff into anywhere ovftool can talk to.

However, there isn't much support for using the "front door" API for vsphere/vcloud etc on the builder side. Some of the work I'm doing will probably require that, but I have no ETA on any support.

[2016-02-28 23:20] paultyng commented on #3250
This is happening to me as well, sometimes when I rerun it, it will get farther without extra enter's.  Debug is pretty much unusable right now though.

[2016-02-29 13:31] Kounavi commented on #2447
Is there any update about this bug? The latest version (0.9.0) now hangs when '-debug' is used :(
Not trying to be prick or pushy here but these random hangs are making me totally unproductive and there is no workaround. Any ideas of whether you aim to incorporate some mechanism to force packer resume its operations?

[2016-02-29 15:17] jlspies1 commented on #3263
+1 on this. Looking at the code, the latest change [https://github.com/mitchellh/packer/commit/87532b1b0076a0bd8613e49e5b8ec4f5952750b0] seems to have introduced this issue. From what I can see, the **remoteValidationKeyPath** variable is initialized to "" (empty string) on line 211 of the latest file. From what I can see, the **remoteValidationKeyPath** is then used on line 238 to create the Chef

[2016-02-29 15:22] jlspies1 commented on #3250
+1 - I just had to downgrade from 0.9.0 to 0.8.6_2 on my Mac and I found that the problem went away, so this was introduced in 0.9.0.

[2016-02-29 15:40] jcmcken commented on #3047
Just to close the loop for [this comment](mitchellh/packer/issues/3047#issuecomment-189516114):

I discovered my issue and what the solution was, and it's unrelated to IPv6 at all. The socket error was a red herring and was not causing ``vmrun`` to fail.

I discovered the real issue in the ``vmware.log`` generated in the directory of the VMX file launched by ``vmrun`` (after launching ``packer bui

[2016-02-29 16:30] Rican7 commented on #3250
Yea, I've noticed this myself. Using `-debug` mode causes the step pausing to require multiple "enter" key presses.

Strange.

[2016-02-29 17:26] jcsmith opened #3283 "vsphere post-processor unable to connect"
After upgrading from packer 0.8.6 to 0.9.0 jobs using the vsphere post-processor fail running on a linux host fails with the following error:

[code]

[2016-02-29 19:50] rickard-von-essen commented on #3283
Can you rerun with Packer log ```PACKER_LOG=1 packer build ...``` and gist the log and relevant parts of your template.

[2016-02-29 19:55] rickard-von-essen commented on #3280
If you don't want to open up ssh to your ESXi's I can recommend that you run a nested ESXi server in a VM specifically with the purpose of building images.

Closing this as "not implemented yet".

[2016-02-29 19:55] #3280 closed

[2016-02-29 19:58] rickard-von-essen commented on #3270
Closing this. please reopen if the problem persists.

[2016-02-29 19:58] #3270 closed

[2016-02-29 19:59] maxx-bachurin opened #3284 "VMware: ui error: Build 'X' errored: lstat output-X: no such file or directory"
Have encountered the following problem when building a vm:

[code]

When 'output-FusionUI' is present on the datastorage and contains the vm
- Packer Version
  Packer v0.9.0
- Host platform
  VMWare ESXi 6.0.0 build 3029758
- The template and scripts
  https://gist.github.com/maxx-bachurin/2e3e7544b0508f7900c0

the script
[code]

[2016-02-29 20:01] rickard-von-essen commented on #3260
@cbednarski I think when should just warn or fail if there is a ansible provisioner configured for docker builder since there is no reason that a docker container should be accessible on SSH and add some docs.

[2016-02-29 20:43] rickard-von-essen opened #3285 "VMware: when vmrun fails log last X lines from vmware.log"

[2016-02-29 20:54] rickard-von-essen commented on #3047
@jcmcken thanks for following up on that. ```vmrun``` provides very poor feedback on errors.

[2016-02-29 20:55] rickard-von-essen commented on #3285
@jcmcken FYI

[2016-02-29 21:06] scalp42 commented on #3263
Can confirm, not working anymore in `0.9.0` (from `0.8.6`).

[2016-02-29 21:41] jcmcken commented on #1083
``ovftool --noImageFiles`` also works for me (similar to @noplay and @epowell)

[2016-02-29 21:41] cbednarski commented on #3260
@rickard-von-essen I see your point and I think turning this into a validation error is a good fix for now.

I think people will expect this to work. I have no plans to work on this, though.

[2016-02-29 21:53] cbednarski commented on #3192
Hey folks, sorry about the mixup here. I noticed after merging that the fix is invalid since the `driveArgs` type is a list rather than a map and can't be accessed by key the same way `defaultArgs` is, so we'll need to do something slightly different here.

[2016-02-29 23:24] les-tallman opened #3286 "Packer crash for version 0.9.0 (Windows 2012 R2 Template Build)"
Describe the problem and include the following information: Attempting to build a Windows 2012 R2 Template and Packer crashed.
- Packer Version 0.9.0
- Host platform CentoS 7 with VMware Workstation 12

[crash_02_29.log.zip](https://github.com/mitchellh/packer/files/151907/crash_02_29.log.zip)
[template_02_29.json.zip](https://github.com/mitchellh/packer/files/151924/template_02_29.json.zip)
[vmwa

[2016-02-29 23:42] cbednarski commented on #3286
Thanks for the report and crash logs.

For later reference, this crash occurs while uploading a script over WinRM, immediately after the VM is available.

I think https://github.com/mitchellh/packer/issues/3233 is the same issue so I'm going to close that one since this one includes a repro.

[2016-02-29 23:42] cbednarski commented on #3233
Closing as #3286 is the same issue with more complete info.

[2016-02-29 23:42] #3233 closed

[2016-03-01 00:39] jbachus opened #3287 "AWS launch device mappings with delete on termination=false are not cleaned up"
On version 0.9.0 of packer, if delete_on_termination is set to false in the launch_block_device_mappings, the temporary EBS volume will not be cleaned up.  I don't believe the logic at https://github.com/mitchellh/packer/blob/master/builder/amazon/ebs/step_cleanup_volumes.go#L46 and https://github.com/mitchellh/packer/blob/master/builder/amazon/ebs/step_cleanup_volumes.go#L100 is needed.  I'm not

[2016-03-01 00:53] cbednarski commented on #3287
Thanks for opening an issue. This behavior is called out in the [documentation](https://www.packer.io/docs/builders/amazon-ebs.html):

I don't think there's a default behavior here that is going to satisfy everyone so unless there is a problem that cannot be solved with configuration, I think it might be better to expand the documentation to cover several common use-cases as opposed to changing th

[2016-03-01 07:11] rickard-von-essen commented on #3284
Can you rerun with packer log ```PACKER_LOG=1 packer build ...``` and gist the log.

[2016-03-01 10:18] rickard-von-essen commented on #1673
I think this don't add any value. Credentials should be set with a provisioner.

I'm voting for closing as "won't fix". Unless someone comes up with a scenario where it's valuable.

[2016-03-01 10:40] rickard-von-essen commented on #2447
@Kounavi There is way to much noise here. Could you provide:
- A minimal config to reproduce this. Gist a template and your scripts
- Gist a log (```PACKER_LOG=1 packer build ...```) where you run that and get the error.
- Some details on versions (```VBoxManage --version```, OS version etc.)

[2016-03-01 13:20] jcmcken commented on #3285
@rickard-von-essen Thanks! This will be helpful.

[2016-03-01 15:11] tvlooy opened #3288 "Broken link in tutorial"
Go to https://atlas.hashicorp.com/tutorial/packer-vagrant/1
Click "do you have packer" -> no
The link in "Click here to download the latest version of Packer." is broken.

I didn't know where to report this but didn't want to hold it back.

[2016-03-01 15:14] tvlooy opened #3289 "x509: certificate signed by unknown authority"
I'm following the tutorial and I get an error on the "packer push" step.

Error starting upload: upload: Get https://atlas.hashicorp.com/api/v1/packer/build-config... x509: certificate signed by unknown authority

I'm running packer 0.9.0 on Ubuntu 15.04 64bit.

What's wrong?

[2016-03-01 15:19] pmenglund commented on #1673
@rickard-von-essen a provisioner can't modify the kickstart file, as the provisioners run at a later stage.

What I'm trying to avoid is hardcoding credentials used in `preseed.cfg`, e.g. `passwd/username` and `passwd/user-password`

[2016-03-01 15:51] grothja commented on #3283
Were having the same problem, been meaning to create an issue as well...

[Log](https://gist.github.com/grothja/e308197082431f9ec44c) (I included the first part, but pulled out the builder and most of the provisioning)
[Post-processor example from template](https://gist.github.com/grothja/8a89c370865b8f399a20)

Maybe I'm wrong, but it looks related to 096b42a.  Without specifying a resource pool,

[2016-03-01 16:08] rickard-von-essen commented on #3289
Could you run with ```PACKER_LOG=1 packer build ...``` and gist (at least relevant parts of) the log.

I'm guessing that you don't have an up to date ssl cert bundle.

[2016-03-01 16:11] rickard-von-essen commented on #1673
I think they can be hardcoded since they are just temporary and local or?

[2016-03-01 16:25] copumpkin commented on #2552
:+1: just ran into this. It's pretty useful for being able to pass external knowledge into the build

[2016-03-01 16:47] pmenglund commented on #1673
Now they **have** to be temporary as they are stored in cleartext, which is bad, being able to pass it in through an environment variable would make it possible to make safe.

[2016-03-01 16:59] jstnlef commented on #3260
I just ran into this myself. I'm not sure I agree with the conclusion, however. Technically speaking, isn't it possible to do this? I ask because I'm not sure. It seems to me, as someone who appreciates build automation with Ansible and also appreciates smaller images which don't include downloading ansible into the running container to build the image, this should be possible but I appreciate if

[2016-03-01 17:01] jstnlef commented on #3260
I'm willing to contribute to a fix if possible.

[2016-03-01 18:09] rickard-von-essen commented on #3260
@jstnlef I think it's only partially possible (and maybe not very useful) since ansible talks SSH and Docker of course speaks docker API, so it would only work if you start a container running sshd.

[2016-03-01 18:17] rickard-von-essen commented on #1673
They can be stored in ```preseed.cfg``` encrypted with ```crypt(3)``` and you can pass it in as variable to ```ssh_password``` with the cleartext password. (This is probably not good enough security if you publish your ```preseed.cfg``` on internet and don't change your password.)

[2016-03-01 18:24] pmenglund commented on #1673
Right, I don't want any confidential (even if encrypted) information in `preseed.cfg` as I put it in a public github repo, and since you can brute-force `crypt(3)` in days now with a couple of GPUs...

[2016-03-01 18:28] jstnlef commented on #3260
Hrm. So it would seem that the fix should probably be on ansible's end if this were to happen, with minimal change here to use the new functionality.

[2016-03-01 18:47] jcsmith commented on #3283
Here is a link to a gist containing the log (with password redacted) and the relevant section of the template, again with password redacted):
https://gist.github.com/jcsmith/49d7e53c487ac007f644

[2016-03-01 18:52] jalmansor commented on #3283
@rickard-von-essen, this seems to be the same issue as #3204

[2016-03-01 19:02] rickard-von-essen commented on #3283
@jcsmith Could you provide a log whit only one build, and also include the first 100 lines or so which contains info about your setup and startup of packer.

@jalmansor maybe, but I'm not convinced yet.

[2016-03-01 19:04] jcsmith commented on #3283
@jalmansor, thanks for pointing that out, it definitely seems related.

[2016-03-01 19:17] jcsmith commented on #3283
@rickard-von-essen coming right up.

[2016-03-01 19:52] jcsmith commented on #3283
@rickard-von-essen Here you go:
https://gist.github.com/jcsmith/c5a1b26601e9c904e811

Please let me know if you need anything else.

[2016-03-01 20:27] tvlooy commented on #3289
Thanks for your help @rickard-von-essen

The exact error from PACKER_LOG is

```2016/03/01 21:10:03 [ERR] Checkpoint error: Get https://checkpoint-api.hashicorp.com/v1/check/packer?arch=amd64&os=linux&signature=b753e43e-d6cb-c1a4-cf24-465c9a4d0414&version=0.9.0: x509: certificate signed by unknown authority```

This certificate is from GeoTrust.

Curl, my browsers, etc. do not complain about this

[2016-03-01 20:53] cbednarski commented on #3289
@tvlooy GeoTrust is the root CA, but as you may notice there are 3 certificates in the chain:

![screen shot 2016-03-01 at 12 35 39 pm](https://cloud.githubusercontent.com/assets/649798/13441105/7e8e6576-dfaa-11e5-8810-477ae7a24e44.png)

Typically the root CA public certificate is included in your OS. On ubuntu this is `/etc/ssl/certs`, which you can see by making a request using `curl -vvv` and s

[2016-03-01 21:04] maxx-bachurin commented on #3284
here you go https://gist.github.com/maxx-bachurin/61f1922c609b065425db

[2016-03-01 21:17] vtolstov commented on #3192
sorry for misteke, i'm create new pr. please check it.

[2016-03-01 21:22] #3192 closed

[2016-03-01 21:33] cbednarski commented on #3288
Thanks for the report! It appears there is no download link configured for linux.

[2016-03-01 23:32] jerzygangi opened #3293 "Avoiding "Vagrant insecure key detected. Vagrant will automatically replace..." in boxes created with Packer"
I'm building a CentOS Packer box for Vagrant and VirtualBox.

In my Packer template, I run a bash script to configure the box for Vagrant:

[code]

After the box is built, I `vagrant up` with it. This warning comes up:

[code]

What do I need to do in my Packer to avoid this warning?

[2016-03-01 23:45] cbednarski commented on #3293
Thanks for opening an issue. This is working as designed and there is nothing you need to change here.

When you package a box for use with Vagrant, Vagrant must be able to use the shared Vagrant private key in order to login to the VM. However, because the vagrant private key is not secret, someone on your network could conceivably login to any VM started by Vagrant by downloading the private key

[2016-03-01 23:45] #3293 closed

[2016-03-02 01:27] wilrnh opened #3294 "provisioners and lxc"
Just found an issue with packer and LXC. Apparently, packer hangs when trying to provision (tested with shell provisioner) an LXC container. This happens on CircleCI since they use LXC: https://circleci.com/docs/docker#docker-exec.

My question: is there a way to get packer to use lxc-attach instead of docker exec to run the provisioner?

Thanks!

[2016-03-02 02:17] cbednarski commented on #3294
Thanks for opening an issue. I think our documentation on this topic may be a bit misleading or out of date. Docker and LXC have diverged significantly since the early days, and at this point I would consider them independent technologies. In an upcoming version of packer we will be completely replacing the docker CLI implementation with one that communicates directly with the docker API, so we wi

[2016-03-02 02:17] #3294 closed

[2016-03-02 02:22] cbednarski commented on #3288
I have reported this to the Atlas team who maintain the tutorial. I'm going to close this for now since there is no action item for the packer project. Thanks again!

[2016-03-02 02:22] #3288 closed

[2016-03-02 03:06] cbednarski commented on #3279
Thanks for opening an issue. I dug back in history a bit to see where this change came from and this change was made according to the Atlas spec, which at the indicated that `.` was not allowed. I have reached out to the Atlas team to see if this is still the case.

[2016-03-02 03:21] austin127001 opened #3296 "Google Compute: Add "assign_public_ip" option"
There are a number of use cases where it would be useful to have packer spawn GCE instance which don't have public IP address (e.g. instance.networkInterfaces[].accessConfigs[] left undefined).

Such use cases are:
- Instance set to use a proxy server
- Instance configuration is performed solely with VPN connected resources
- Organizational compliance

This feature is available in other builders (

[2016-03-02 03:38] cbednarski commented on #3296
Thanks for opening an issue. This makes sense to me! I think to retain backwards-compatibility we will want to name this option to `skip_public_ip` or something similar that can be `false` by default.

[2016-03-02 06:18] russmac opened #3297 "docker-push post processor tries to push using invalid repo string (uses sha256:string from repositories.json)"
FOR BUGS:

Packer fails to push using sha256 of repository, Matched sha to /var/lib/docker/image/aufs/repositories.json with correct details.

This completely breaks the docker post-processor to push to ECR

According to official docker docs , Usage: docker push [OPTIONS] NAME[:TAG] however

2016/03/02 16:37:02 ui:     docker (docker-push): Pushing: sha256:2e18ee540e6941f218f27d8a38ae5b60bb9aaef39

[2016-03-02 06:36] russmac commented on #3297
Same issue with Packer 0.8.6

[2016-03-02 07:21] sogos opened #3298 "[Chef-solo] roles_path is ignored by chef-solo provisionner"
When i use this snippet

[code]

The solo.rb is not filled with roles_path and role directory is not uploaded to staging_directory

[code]

I use "packer_0.9.0_darwin_amd64"

Thanks

[2016-03-02 07:46] cbednarski commented on #3297
Thanks for opening an issue. You are missing a pair of square braces in your post-processor section (you need a list of lists).

What this means that is that each post-processor is running directly against the output of the builder, rather than `docker-push` running against the result of `docker-tag`, and that is why you see `docker-push` trying to push the SHA.

If you look at the [examples on th

[2016-03-02 07:46] #3297 closed

[2016-03-02 07:54] sogos commented on #3298
If I put a value directly in config for roles_path and not in command line variable like: "{{user `chef_roles_path`}}"  the directory is inspected and roles is well uploaded

So the bug is : we can't provide roles_path as User var

Thanks

[2016-03-02 07:57] cbednarski commented on #3298
Thanks for clarifying the failure case here. You might be able to hack around this problem by customizing the [`execute_command`](https://www.packer.io/docs/provisioners/chef-solo.html#execute_command). Another approach is to generate that part of the template using python, ruby, or sed before you run the build.

[2016-03-02 07:59] cbednarski commented on #2829
Dependencies are now vendored so you should not run into this problem anymore.

[2016-03-02 07:59] #2829 closed

[2016-03-02 08:03] cbednarski commented on #2862
Sorry to keep this open for so long. It sounds like the issue you described has to do with Jenkins and I'm not sure there's anything we can do on packer's side to resolve that.

If you are still having a problem with packer please feel free to open a new issue with more information about how you have setup your packer templates. Thanks!

[2016-03-02 08:03] #2862 closed

[2016-03-02 08:05] #2871 closed

[2016-03-02 08:06] sogos commented on #3298
Thanks, it's a good idea for the moment

I can add that  "environments_path" also don't work when User var

[2016-03-02 08:07] cbednarski commented on #2874
Thanks for the feedback. Unfortunately packer doesn't know whether this connection is temporarily failing because of networking issues or the host not be ready yet, or if the connection will permanently fail. All we can do is retry until the time out happens.

There are a lot of failure modes for the SSH handshake so it's not feasible for us to special case these.

[2016-03-02 08:07] #2874 closed

[2016-03-02 08:09] cbednarski commented on #2868
Sorry you were not able to get this working. Since this issue is old I'm going to close but if you are still encountering a problem please open a new issue. Thanks!

[2016-03-02 08:09] #2868 closed

[2016-03-02 08:09] #2683 closed

[2016-03-02 08:14] #3023 closed

[2016-03-02 16:15] robcoward commented on #1824
@rickard-von-essen I've just started working with the hmrc/vmware-govcd fork of the vmware/govcloudair library. I would love to take a look at your PoC implementation and see if we come up with working support for vCloud Director. Do you have a repo I can fork ?

[2016-03-02 18:09] jerzygangi commented on #3293
Thank you @cbednarski

[2016-03-02 18:27] msteinhoff commented on #3268
@cbednarski @rickard-von-essen *ping*

[2016-03-02 18:32] atonse commented on #869
+1 Is anyone working on this? If not, are you soliciting contributions?

[2016-03-02 19:59] dragon788 commented on #869
With local/host shell commands coming soon in Packer this will be trivial.
On Mar 2, 2016 12:33 PM, "Ashish Tonse" <notifications@github.com> wrote:

[2016-03-02 21:02] iamthemuffinman commented on #3283
Hi @jcsmith. This seems to be an issue with passing quotes to ovftool as @grothja has suggested. I recompiled the 0.9.0 release on my machine without the quotes around the parameters and it works just fine. We need to look into why passing quotes to ovftool via exec.Command is causing it to fail.

[2016-03-02 23:58] willprice commented on #1673
How about those of us behind a corporate proxy, we have to duplicate preseed.cfg and then add in a new line to set the proxy, if the file was templated then one could share preseed.cfg across environments.

[2016-03-03 00:04] cbednarski commented on #3268
@msteinhoff Sorry I missed your reply from Friday. Please go ahead and open a PR.

I use this trick too, definitely a legit pattern. mitchellh always reminds me that a `struct{}` will take up less memory than a `bool`, but mainly a style thing.

For something like this it may well be the case that we need to use an integration test. I'm OK with this. If you can provide a simple Ansible playbook an

[2016-03-03 03:31] SephVelut opened #3300 "SignatureDoesNotMatch amazon-import"
`Packer version: 0.9.0`
`Packer Target OS/Arch: darwin amd64`

I'm getting an error when packer builds and gets to the amazon-import post-processor phase. `SignatureDoesNotMatch: The request signature we calculated does not match the signature you provided. Check your key and signing method.`

template.json
[code]

The access and secret key are loaded from a json file via the `-var-file=variables.

[2016-03-03 04:54] russmac commented on #3297
Thankyou for explaining :).

[2016-03-03 05:49] kmkswamy commented on #409
I was able to overcome this on AWS by using termination protection on the instance before the chef-client starts. it is not a decent option but hey it works. Any other options :)

[2016-03-03 07:53] rickard-von-essen commented on #1824
@robcoward Great! I'll see if I have any code still laying around. This was some time ago, and I ended up mostly hacking on getting govcloudair to work with vCD. I'll get back to you later today.

[2016-03-03 09:40] rickard-von-essen commented on #3283
@jcsmith Do you have a GPG pub key?

[2016-03-03 11:38] rickard-von-essen commented on #3284
Could you try rerunning without ```vm_name``` and ```name``` and ```vmdk_name``` set? (Also adjust the ```vmx``` map)

[2016-03-03 12:03] rickard-von-essen commented on #1673
My point is that there is nearly always another way to solve these things without preprocessing or parsing ```http_directory``` files as templates.

@willprice see https://github.com/boxcutter/ubuntu/blob/master/ubuntu.json

[2016-03-03 12:44] jcsmith commented on #3283
@rickard-von-essen - I do not, I've never had a use for one.  I can create one though.  I'll ping you again on here once it has been created.

[2016-03-03 12:47] tvlooy commented on #3289
@cbednarski believe it or not, I changed nothing and today it just works. Computers ...

[2016-03-03 12:47] #3289 closed

[2016-03-03 16:16] iamthemuffinman commented on #3283
As a workaround, I modified the vsphere post-processor to just execute ovftool with bash.

[2016-03-03 16:24] ivanilves commented on #2972
Yes, implement it. Please... :pray:

[2016-03-03 17:07] JoakimLofgren opened #3301 "Install dependencies for ansible-local with a ansible-galaxy file"
It would be nice if you could just say:

[code]

And then it would install the specified roles in that file.

Currently I am trying to make this work by doing:

[code]

Like @rvangundy mentioned in #1000

[2016-03-03 17:51] jcsmith commented on #3283
@rickard-von-essen here is a link to my newly created gpg public key:
https://gist.github.com/jcsmith/374dcd737b1c1f5245b0

[2016-03-03 18:17] luqasz opened #3302 "Ansible provisioner disable ssh proxy."
Hi

Is there any way to disable ssh proxy ? (why not log in directly to a host ?)
Is there any way to pass remote ip to shell script ? So I can run anything what is in the script.

I am using `amazon-ebs` builder with `ansible` provisioner (not `ansible-local`).

[2016-03-03 18:23] JoakimLofgren commented on #3301
My current workaround is to before ansible-local actually download the roles locally:

[code]

But that also requires ansible to be installed on the machine running packer.

[2016-03-03 20:29] maxx-bachurin commented on #3284
I will try. What do you mean by "Also adjust the vmx map"?

[2016-03-03 20:30] jcmcken opened #3303 "Delegate AWS region error checking to AWS Go SDK"
The error checking that occurs on a user-passed AWS region should be removed and delegated to the AWS Go SDK to future proof `packer` for the introduction of new regions/endpoints. The Go SDK has a much more comprehensive description of which regions and endpoints are valid, and since Amazon supports it, it's more likely to more quickly match their service offerings as those offerings change.

[2016-03-03 20:32] tylert opened #3304 "Docker builder crashes when provisioning with "none" communicator"
Packer crashes when using the docker builder with a communicator set to "none" and a shell provisioner.  Removing the shell provisioner fails to cause the crash.
- Packer v0.9.0
- Mac OS X 10.11.3 (Macbook Air 13" late-2013)
- Docker version 1.9.1, build a34a1d5

Crash output and templates:
https://gist.github.com/tylert/dc4d2e79d2b085e725ca

Template that causes Packer to crash:

[code]

The foll

[2016-03-03 21:20] rickard-von-essen commented on #3304
Why ```post-processors: null, ```?
On Mar 3, 2016 9:32 PM, "Tyler Tidman" <notifications@github.com> wrote:

[2016-03-03 21:22] rickard-von-essen commented on #3302
It's not possible to run ansible without the proxy due to the current
design of Packer.

Can you describe why you want to use it without the proxy?
On Mar 3, 2016 7:17 PM, "Łukasz Kostka" <notifications@github.com> wrote:

[2016-03-03 21:24] tylert commented on #3304
Heh.  The null post-process gets automatically added by 'packer fix'.

[code]

[2016-03-03 21:32] tylert commented on #3304
Incidentally, the null post-processor line doesn't seem to be the cause of the crash.

Using the example from the packer website docker builder page and round-tripping it through packer fix works fine:
[code]

[2016-03-03 21:35] tylert commented on #3304
Same crash with the template above occurs when using Packer 0.9.0 on Debian Jessie amd64 as well.

[2016-03-03 23:23] cbednarski commented on #3304
Thanks for opening an issue. Docker uses a default "docker" communicator so my guess is that when you set it to "none" there is no way for the shell provisioner to do anything, and packer doesn't handle this use-case.

The crash is a legitimate bug and we should certainly improve the feedback / validation for this but I think this is also a somewhat contrived example. Removing `"communicator": "no

[2016-03-04 00:06] solarce commented on #1475
This would be super dope to have.

[2016-03-04 00:07] WyseNynja commented on #2630
I'm running into this with 0.9.0 so I'm stuck on 0.7.5

[2016-03-04 01:45] cbednarski commented on #3301
Thanks for opening an issue. I do not use Ansible so I am not the best person to design / implement this but I would be happy to review a PR for this.

This seems like a good, minimal UX, provided that we do not need to re-implement half of Ansible to evaluate the requirements file. Can `-r` be specified more than once?

I am glad you were able to find a work-around in the mean time! Curious if th

[2016-03-04 03:11] cbednarski commented on #3303
This is slightly more complicated now that we vendor dependencies. If we maintain the list we can change it without having to update to a newer version of the AWS library. If we use AWS's version then we have to update the entire AWS SDK tree to add a new region, which potentially breaks unrelated things. Do you have any thoughts about this?

[2016-03-04 08:34] majinjing3 commented on #3284
@rickard-von-essen
I have ran without vm_name and name and vmdk_name set, the same error

[2016-03-04 09:11] kev009 commented on #2391
I'm still seeing this.  I run salt manually using the remote shell provisioner.  Build is Go 1.6, master as of right meow.

[2016-03-04 10:00] majinjing3 commented on #3284
@maxx-bachurin @rickard-von-essen
When I created a folder named "output-X" in current working dir. All is okay.
I think it maybe a bug.

[2016-03-04 11:47] luqasz commented on #3302
How my packer output looks like:
[code]
Ansible output is verry bursty. I've noticed that doing this process manually is faster then with packer. [I just do not need any proxy.](https://en.wikipedia.org/wiki/You_aren%27t_gonna_need_it)

[2016-03-04 12:06] rickard-von-essen commented on #3302
You need the proxy since how Packer is designed. Removing it requires changing some core parts. It might happen in the future but is not planned right now. Could you share your packer template? and some details about system (OS, etc).

[2016-03-04 12:13] luqasz commented on #3302
Template (debian wheezy source_ami):
[code]
I had to symlink my `group_vars` folder into `playbooks` folder in order to make ansible working.

[2016-03-04 12:25] tylert commented on #3304
Excellent!  As I am only *now* in the process of actually learning how to use the docker builder, the website docs have been crucial for my learning so I will likely fall into a few more of the pits that have been dug by those ahead of me.

While trying to get past a stumbling block in my practice template, I turned on "a communicator" (as the docs seemed to hint was possible) to see if it would g

[2016-03-04 12:37] rickard-von-essen commented on #3302
Can you rerun with packer log ```PACKER_LOG=1 packer build ...``` and gist the log.

[2016-03-04 12:47] tylert commented on #3304
"In addition to the options listed here, a communicator can be configured for this builder."

https://github.com/mitchellh/packer/blob/174237ba2f78316ef31aa00e0d5c1cac722765a0/website/source/docs/builders/docker.html.markdown#configuration-reference

[2016-03-04 12:53] rickard-von-essen commented on #3301
This should be really easy.

Just before [line 233 - ansible-local/provisioner.go](https://github.com/mitchellh/packer/blob/master/provisioner/ansible-local/provisioner.go#L233)
The ```requirements.yml``` file should be uploaded (if defined) and then ```ansible-galaxy install -v -r requirements.yml -p <StagingDir>/roles"```.

We would gladly accept a PR for this.

[2016-03-04 12:56] rickard-von-essen commented on #1475
This is a bit tricky to implement with the current design so don't hold your breath. But I agree it would be useful.

[2016-03-04 14:19] rickard-von-essen commented on #3284
@majinjing3 Excellent information, it will help me to track down the code path with the problem. Currently I don't have any environment setup to test this. Maybe next week, but I can't make any promises.

[2016-03-04 14:25] JoakimLofgren commented on #3301
I'm not really proficient at go, but I could take a stab at it this weekend :)

[2016-03-04 15:52] tylert commented on #3046
Related to #3304.

[2016-03-04 15:53] tylert commented on #3054
Related to #3304.

[2016-03-04 15:53] tylert commented on #2994
Related to #3304.

[2016-03-04 15:54] tylert commented on #2772
Related to #3304.

[2016-03-04 18:16] johnjelinek commented on #2957
@josh-padnick: As of Ansible 2.0, Windows is considered a first-class target, just like linux. The controller still needs to be a linux server. Also, the new `ansible` remote provisioner might soon provide support w/ packer. I don't see that it supports winrm yet though.

[2016-03-04 18:20] johnjelinek opened #3307 "Ansible-Remote Provisioner and WinRM"
Right now, the docs indicate SSH support, but I would like to use winrm. There might be a way to influence the group variables of the dynamic inventory to force winrm, but I'm not sure how to do that yet.

[2016-03-04 18:20] johnjelinek commented on #2957
https://github.com/mitchellh/packer/issues/3307

[2016-03-04 18:24] rickard-von-essen commented on #2957
The ```ansible``` provisioner "should" work with Windows target if it uses SSH.

[2016-03-04 18:43] rickard-von-essen commented on #3307
Currently it is not possible to use WinRM and Ansible due to the design of _Communicators_ in packer.

This is something I have thought about addressing but it will require some work in the core parts of Packer so I have no due date.

[2016-03-04 19:03] johnjelinek commented on #3307
For ansible-remote, could it rely on the host that runs packer + ansible to handle the winrm communication? It doesn't seem like packer should have to worry about that as long as the windows guest has winrm enabled.

[2016-03-04 19:22] tylert commented on #2497
@jessechahal are you talking about https://github.com/mitchellh/packer/issues/2675 or a different issue?

This is the first time I have heard that the docker builder doesn't support OS X and I didn't come across any mention in the official docs about a lack of support for OS X--however, I did actually come here looking for a solution since it would appear that it isn't working :)  (I guess I picke

[2016-03-04 19:23] tylert commented on #3102
This might also be related to #2497.

[2016-03-04 19:27] Purple90 commented on #916
I am also having this issue. @donfanning were you able to solve this?

[2016-03-04 19:29] tylert commented on #2497
Oh, I'm running my stuff against a vagrant VM under OS X  https://github.com/coreos/coreos-vagrant

[code]

[2016-03-04 19:36] gusmat opened #3308 "IAM role/key precedence"
Hi,
I have packer running in a AWS amazon linux instance to build AMIs to multiple AWS accounts.
That instance has a IAM role/profile that allows it to build images in its own account.

When I need to build images in different accounts I just put an AWS key in my CI variables and use the same instance. I use AWS_ACCESS_KEY and AWS_SECRET_KEY.

It works fine in 0.8.6 but on 0.9.0 apparently the pre

[2016-03-04 19:38] tylert commented on #2497
Ok, awesome.  Yay!  The following work-around succeeds...

[code]

[2016-03-04 19:46] tylert commented on #2497
See also #3102 and #3222.

[2016-03-04 19:50] cbednarski commented on #3304
Yeah I don't know how you would ever use a different communicator, unless perhaps you ran an ssh server inside your container. This is possible but generally discouraged.

[2016-03-04 20:01] mak18ah opened #3309 "File-provisioner fails to upload hidden files from source root"
For file-provisioner, when local source path to file contains a dotfile at root fails to upload into target machine.
sample packer template to illustrate the issue:
[code]
 Example source dir:
[code]

Does not occur with dotfiles located in subdirectories.

Created project example here: https://github.com/mak18ah/packer-hidden-source-files-fail use `PACKER_LOG=1 packer build compile.json` to run
H

[2016-03-04 20:36] cbednarski commented on #3309
Thanks for the report! I think this is a duplicate of #3142, even though the wording is slightly different. I'm going to close this issue and copy your report into #3142 so I can keep everything in one place. If you have any additional feedback please include it there! Thanks!

[2016-03-04 20:36] #3309 closed

[2016-03-04 20:37] cbednarski commented on #3142
Additional feedback from @mak18ah in #3309

----

For file-provisioner, when local source path to file contains a dotfile at root fails to upload into target machine.
sample packer template to illustrate the issue:
[code]
 Example source dir:
[code]

Does not occur with dotfiles located in subdirectories.

Created project example here: https://github.com/mak18ah/packer-hidden-source-files-fail use

[2016-03-04 20:38] rickard-von-essen commented on #555
Closing this since this have been implemented a long time ago, see https://www.packer.io/docs/provisioners/ansible-local.html#extra_arguments

[2016-03-04 20:38] #555 closed

[2016-03-04 20:40] amontalban opened #3310 "Shell provisioner exits in the middle of execution"
Hey guys,

I'm opening a new ticket as requested in #2391

**Packer version:**

[code]

I can reproduce this in Linux and OSX however it's hard to reproduce and I can't share my actual Packer config, so I build a test with a bunch of SaltStack formulas on a Debian/Jessie OVF in order to catch it, I put this in each script:

[code]

I tried to use [rerun](https://github.com/cbednarski/rerun) but I

[2016-03-04 20:54] cbednarski commented on #3310
Thanks for opening an issue and providing the repro case. That will help a lot! I suspect this is a race condition in the salt plugin but will need to do some digging. Usually race conditions are hard to find but easy to fix.

[2016-03-04 21:16] ava-miket commented on #3279
This is also causing the docker builder to fail in Packer:

Stderr: Error response from daemon: ~/.packer.d/tmp/packer-docker369748490 includes invalid characters for a local volume name, only [a-zA-Z0-9][a-zA-Z0-9_.-] are allowed

[2016-03-04 21:20] jcmcken commented on #3303
Hmm, that is a conundrum. Well, ideally, I'd like to just be able to override the builtin endpoints via configuration when necessary. That way I don't have to wait for a new release or re-build ``packer`` myself.

Currently, we have to maintain a forked ``packer`` with custom patches to enable alternate endpoints, and it's a bit of a maintenance headache (not by itself necessarily, just in aggrega

[2016-03-04 21:23] amontalban commented on #3310
Hey Chris,

Actually I use shell provisioner for Salt in this repro case and real Packer usage.

Thanks for taking a look at this!

[2016-03-04 22:31] simonguest commented on #2785
I've tried similar configurations with both inline and script-based powershell commands, and get the same "warning" generated. It looks like packer is trying to prepend some kind of environment variable for PACKER_BUILDER_TYPE before the script is run. Also running Fusion 8.