[2017-05-25 11:38] rickard-von-essen commented on #4922
I did a quick review of the code and found that we need to pass the `billingProduct` option when we do [`RegisterImage`](https://github.com/hashicorp/packer/blob/master/builder/amazon/ebssurrogate/step_register_ami.go#L57).

This option was introduced in [AWS Go SDK v 1.6.26](
https://github.com/aws/aws-sdk-go/blob/0bc99f4aa1cf50245de234b1ce0b33463a3ad5fe/CHANGELOG.md#service-client-updates-41), s

[2017-05-25 11:45] lorengordon commented on #4922
Oh that's interesting. I didn't think AWS exposed `billingProduct` as a settable attribute! Thus far, I think the only was to get it has been to inherit from the source instance (as implied by the docs).

We have similar requirements for partitioning the root volume, and our approach when using packer with the `ebs` builder has been to pivot root to tmpfs via userdata, and then re-partition the ro

[2017-05-25 11:53] lorengordon commented on #4922
@rickard-von-essen According to the AWS API docs, only authorized accounts can register an image using `billingProduct`.

- Source: http://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_RegisterImage.html#API_RegisterImage_RequestParameters

[2017-05-25 14:34] wilsonbat opened #4929 "Packer ansible role files not getting uploaded when build run"
- Packer version 1.0.0
- Host platform - windows 7 64bit
- Debug log output from `PACKER_LOG=1 .
https://gist.github.com/wilsonbat/9b2ddee243dec1fcd0abcab75bb9ab95

[2017-05-25 14:48] rickard-von-essen commented on #4929
Please supply the information requested in the issue template:
- The _simplest example template and scripts_ needed to reproduce the bug.
  Include these in your [gist](https://gist.github.com).

[2017-05-25 16:10] bhcleek commented on #4904
Thanks for the report I can duplicate this and have dug in to try to resolve it. I'll reach out to Matt Davis shortly.

[2017-05-25 16:12] bhcleek commented on #4596
I've tried to duplicate this, but am currently running into problems introduced by Ansible 2.3. Can you verify whether this happens with a more common cmdlet (e.g. `Get-Help`)?

[2017-05-25 17:41] mwhooker commented on #4923
Thanks again for the suggestion. We try not to make packer too smart, because it invariably creates edge cases which can be difficult debug. I think we're going to leave it the way it is for now.

[2017-05-25 17:46] wilsonbat commented on #4929
example template and scripts -
https://gist.github.com/wilsonbat/9b2ddee243dec1fcd0abcab75bb9ab95

Note - the job is basically building an aws ami with installs tied to a specific product; the same job when run from mac works but fails from windows machine.

[2017-05-25 17:53] grayaii commented on #3827
I know this issue is closed, but we are on 0.8.6 and we got bit by this.  We are trying to rebuild this version with go 1.73
[code]

Is there a way to build 0.8.6 with 1.7.3

[2017-05-25 17:55] mwhooker commented on #3827
@grayaii  Sorry, we can't support a version that old.

[2017-05-25 18:09] grayaii commented on #3827
No worries! Thanks for the quick reply.

[2017-05-25 18:48] mchagan commented on #3925
I finally got back to this and did some more research and tests.  @bhcleek, you were right all along.  It's not a bug with packer or ansible (IMHO).  The argument "ansible_host" in "--extra-vars" executes the hostname command on the host defined by "ansible_host" that is why the host name is not with you expected.  I think this can be closed.  I apologize if I wasted anyone's time.

[2017-05-25 19:33] rickard-von-essen commented on #4871
@jrynyt Default is `[default]` and profile X is `[profile X]`.

[2017-05-25 20:22] mwhooker commented on #3925
glad you got it working

[2017-05-25 20:22] #3925 closed

[2017-05-25 20:29] mwhooker commented on #4925
What's going on is that we tell amazon to delete the volume when the source instance is deleted, but then we go ahead and try to delete it anyway. I'm not sure why this was done... possibly to return any errors deleting the volume to the user. I think this is intended since we don't fail on error.

Debatable what the correct solution is without knowing exactly why it was done in the first place. W

[2017-05-25 20:32] mwhooker commented on #4925
ok looks like the source issue is #1783

we were trying to clean up the root volume, but I think we inadvertantly try to double clean up extra volumes

[2017-05-25 21:19] #4817 closed

[2017-05-25 22:23] bhcleek commented on #3925
Thank you for the confirmation.

[2017-05-25 23:27] psprowls commented on #2609
Comments.

[2017-05-26 00:47] gangadhar01a opened #4932 "can not find path"
Packer Version: 1.0.0
I have simple windows powershell provision, which actually execute the below script

"cd C:\ProgramData\PuppetLabs\puppet\etc\ssl\
Remove-Item .\certificate_requests
Remove-Item certs
Remove-Item private
Remove-Item .\private_keys
Remove-Item private_keys -Recurse -Force
remove-item public_keys -Recurse -Force"

This actually removes all certificated created by the puppet aft

[2017-05-26 01:22] mwhooker commented on #4932
Please make sure you provide the required information for debugging:

- Packer version from `packer version`
- Host platform
- Debug log output from `PACKER_LOG=1 packer build template.json`.
  Please paste this in a gist https://gist.github.com
- The _simplest example template and scripts_ needed to reproduce the bug.
  Include these in your gist https://gist.github.com

[2017-05-26 02:22] eric-aldinger opened #4933 "[VirtualBox] Unable to cleanup"
Seeing a regression of the failed build cleanup failure.

==> virtualbox-ovf: Unregistering and deleting imported VM...
==> virtualbox-ovf: Error deleting VM: VBoxManage error: VBoxManage.exe: error: Cannot unregister the
[Full Error Log](https://gist.github.com/eric-aldinger/57cfacbd7f79f57cf80833d9eef11fdc)

[PRIOR REFERENCE](https://github.com/hashicorp/packer/commit/2c3)
Packer v1.0.0
Windows

[2017-05-26 03:05] gangadhar01a commented on #4932
Hi,

I have pasted the template and logs for your consideration. I am using packer version 1.0.0 hosted on CentOS 7. I hope this information will be sufficient to troubleshoot.

[2017-05-26 04:26] rickard-von-essen commented on #4933
Please supply the information requested in the issue template:
- Packer version (`packer version`)
- Host platform (`uname -a` etc.)
- Debug log output from `PACKER_LOG=1 packer build template.json`.
  Please paste this in a [gist](https://gist.github.com).
- The _simplest example template and scripts_ needed to reproduce the bug.
  Include these in your [gist](https://gist.github.com).

[2017-05-26 05:44] gfx opened #4935 "log output of docker communicator commands"
I use packer to build Docker images. `packer build ...` on local Mac succeeds but it fails on Circle CI 2.0, even there're some cases that it fails with `cirlceci` CLI.

Unfortunately, the error logs have no information about it. How can I debug it?

---

packer version: 1.0.0
Host platform: Docker (image base: `amazonlinux:latest`)
logs:

[code]

(see https://circleci.com/gh/gfx/packer-on-docker-

[2017-05-26 08:06] elconas opened #4936 "Option custom_data_file is not documented"
The packer documentation https://www.packer.io/docs/builders/azure.html does not list "custom_data_file" for the Azure Builder.

arm/config.go:
[code]

[code]

[2017-05-26 15:11] erichs commented on #1687
Hi, @rickard-von-essen!

With respect, using a non-temporary ssh key is a workaround. If setting the key to a known, probably shared key is a requirement to get tighter feedback loops during development, developers will do so, and are incentivized to check this key into the repo.

At this point, one must ask: what is the purpose of supporting temporary ssh keys if we can't use them effectively?

[2017-05-26 18:12] mwhooker commented on #4935
this is likely a circle CI bug, since we can't reproduce it anywhere else. I would recommend contacting them. If you identify a bug in packer, I'm happy to take a look, but I'm not sure there's anything we can do here

[2017-05-26 18:13] mwhooker commented on #4933
your "PRIOR REFERENCE" link is broken, I'm not really sure what the context for this is

[2017-05-26 22:18] mwhooker commented on #4932
Where do you think the issue is, here? It says `cd : Cannot find path 'C:\ProgramData\PuppetLabs\puppet\etc\ssl\' because it does not exist.`

Have you checked that that directory exists?

[2017-05-26 23:47] gangadhar01a commented on #4932
When we install puppet through Chocolatey the directory will be created by default, I have verified this by manually running the below script through powershell

"Set-ExecutionPolicy Bypass -Force
iex ((New-Object System.Net.WebClient).DownloadString('https://chocolatey.org/install.ps1'))
choco install puppet-agent -y
stop-service puppet
Remove-item C:\ProgramData\PuppetLabs\puppet\etc\ssl\* -Recu

[2017-05-27 01:23] gfx commented on #4935
Yes, it might be a CircleCI bug, but the problem is that I can't see any information about it. That is packer that responsible to show error logs.

[2017-05-27 06:27] mwhooker commented on #4935
fair enough, we should output the error from the shell if we can

[2017-05-27 07:36] mwhooker commented on #4935
I spent some time on this but wasn't able to get it to work. I'm thinking #4186 will either have the fix or will lay the groundwork for fixing

[2017-05-27 07:55] vinhvu opened #4938 "Ansible (remote) get inventory file"
I use packer to provision one ec2 instance, so i can use ansible playbook to install httpd on this ec2?
How can i know the host of ec2 instance?
When i use "hosts: default", the packer will be use 127.0.0.1 to ssh and run playbook.
For more detail as the below:
[1;32m==> amazon-ebs: Provisioning with Ansible...[0m
[0;32m    amazon-ebs:[0m
[0;32m    amazon-ebs: PLAY [default] *****************

[2017-05-27 09:01] rickard-von-essen commented on #4938
Please only use _GitHub Issues_ for reporting bugs and feature requests. Do not ask for general help here. Use _IRC `#packer-tool` on Freenode_ or the [mailing list](https://groups.google.com/group/packer-tool) for that.

See https://www.packer.io/community/

_If you are describing a bug or a feature request please reopen and try to add some more details to make it clearer._

[2017-05-27 09:01] #4938 closed

[2017-05-27 09:16] vinhvu commented on #3178
I use packer to provision one ec2 instance, so i can use ansible playbook to install httpd on this ec2?
How can i know the host of ec2 instance?
When i use "hosts: default", the packer will be use 127.0.0.1 to ssh and run playbook.
For more detail as the below:
�[1;32m==> amazon-ebs: Provisioning with Ansible...�[0m
�[0;32m amazon-ebs:�[0m
�[0;32m amazon-ebs: PLAY [default] ***********************

[2017-05-27 10:48] rickard-von-essen commented on #1687
The point of ephemeral temporary keys is that the are secure, they only exist in memory for the duration of the build.

In small organizations it's easy to have personal keypairs in AWS that you can reference in a user variable. In larger organizations centralized auth is inevitable. So getting access is not handled by Packer/AWS at all.

[2017-05-27 11:23] rickard-von-essen commented on #3178
@vinhvu don't spam. See my previous post on how to get help, or try stackoverflow.com

[2017-05-27 15:21] erichs commented on #1687
@rickard-von-essen, thanks for the response!

Granted: it's on me and my organization to provision SSH keys or other means of access. Possibly this provisioning happens at Packer build time, possibly it happens via some other bootstrapping with Chef or Ansible post-launch.

As I understand the OP, the request here is for behavior that, on error during Packer provisioning, uses the in-memory, ephem

[2017-05-27 16:14] cberner opened #4939 "Azure Builder does not output .pem key when -debug is set"
- Packer version: 0.12.3
- OSX
- Steps to reproduce: run `packer -debug` with an Azure Builder, and observe that no `.pem` key is created

[2017-05-27 17:03] rickard-von-essen commented on #4939
Confirmed

[2017-05-27 17:05] rickard-von-essen commented on #4939
This is probably applicable to WinRM password too.

[2017-05-28 10:00] rickard-von-essen commented on #4732
I'll submit a PR for this today or tomorrow.

[2017-05-28 12:18] rickard-von-essen commented on #4732
@yfronto It would be awesome if you could test this with your setup. 👐

[2017-05-28 12:39] rickard-von-essen commented on #1687
That is correct. That exact solution requires allot of work. I don't say we object it but it's not a priority for us currently.

Feel free to open a PR.

I don't see how the current solution contradict Tao. There is basically three types of debugging/developing of a Packer template. 1) Builder part where dropping to SSH doesn't help since the problem is not in that area. 2) Connectivity issues, re

[2017-05-28 12:55] rickard-von-essen commented on #4922
Yes that is most likely a showstopper for that. There is a important difference between `ebs- surrogate` and the other AWS builders which we should document more clearly. They create an AMI by `CreateImage` but `ebs-surrogate` uses `RegisterImage`. In the former case the new AMI inherits properties from the instance (or the source AMI).

[2017-05-28 16:19] rickard-von-essen opened #4941 "Rename ssh_disable_agent to ssh_disable_agent_forwarding"
The naming is confusing of this option `ssh_disable_agent` it would be clear if called `ssh_disable_agent_forwarding`.

The documentation is already ok:

[2017-05-28 16:31] rickard-von-essen opened #4942 "comm/ssh: Deduplicate `ssh.go`"
Currently every builder have their own `ssh.go` implementation that setups the configuration.

They have been organically morphed into different shapes but should really do the same thing except for minor configuration setup that are platform (builder) dependent.

Currently there is a bit of a mess of which builders care about:
- `ssh_agent_auth`
- `ssh_password`
- `ssh_private_key_file`
- etc

By

[2017-05-29 06:01] sandersaares commented on #4848
I am hitting the same issue - WinRM connections just hang for long-running provisioners.

Hypothesis: the Azure network infrastructure imposes time limits on idle connections (by default 4 minutes). If there is no WinRM traffic in this duration (e.g. no stdout/stderr is printed) then the connection is silently dropped. The WinRM client still thinks it is waiting for output but none will ever come.

[2017-05-29 06:22] sandersaares commented on #4818
The only way I got this to work was to create a new user with a fixed name/password as the first step, then use that for the elevated PowerShell scripts. I tried overriding the credentials with `ssh_*` and `winrm_*` but the PowerShell provisioner still was unable to log in.

[2017-05-29 07:43] sandersaares commented on #4848
Experiment results:

Idle timeout 4 minutes; sleep 4 minutes success, sleep 5 minutes fail.
Idle timeout 10 minutes: sleep 9 minutes success, sleep 11 minutes fail.

Hypothesis confirmed. I will try to work around it by having my scripts just spam pointless "Still doing stuff, please wait" messages to keep the connection alive but this should really be addressed in Packer somehow, as it seems a fa

[2017-05-29 08:40] sandersaares commented on #4848
My workaround:

[code]

Used as follows:

[code]

[2017-05-29 20:58] wilsonbat commented on #4929
@rickard-von-essen
Just an update on this as my work was completely at halt with this issue.
I started using the previous version of the packer to see if the issue get addressed.
I tried below,
packer # 0.12.3 - negative
packer # 0.11.0 - positive
i will keep using 0.11.0 for now;

So please see if this additional information helps to fix this in the latest version for the windows 64 bit binary.

[2017-05-29 23:17] tjnicholas commented on #4857
Hi all.

We're seeing the same behaviour here but I think we understand why. In our case it appears to be related to running behind a proxy.

With versions after 2.12.3 Packer is honouring the environment's proxy configuration (#4463) which means that if you are using a proxy it will attempt to connect through it.

Unfortunately (for our purposes) Packer uses the ec2 private IP rather than the pri

[2017-05-30 04:46] rickard-von-essen commented on #4857
@tjnhicolas that sounds like it could be the issue. How would getting the public/private dns name help?

Maybe this have to be an option for this, say `winrm_use_proxy`. When `true` packer automatically adds the IP to `NO_PROXY`.

[2017-05-30 04:49] rickard-von-essen commented on #4929
Interesting, can you add a log where you run the same template with 0.11.0?

[2017-05-30 05:52] tjnicholas commented on #4857
@rickard-von-essen If the private DNS name was used, the zone it is in (`us-west-2.compute.internal` or similar) could be added to the `no_proxy` environment variable. In many cases that would already be configured.

`winrm_use_proxy false` could possibly be easier/simpler. I'd be concerned that it would have unpredictable results if any other process within the packer run was affected, but I can'

[2017-05-30 09:54] Daniel133 opened #4945 "rom"
**DELETE THIS TEMPLATE BEFORE SUBMITTING**

_Only use Github issues to report bugs or feature requests, see
https://www.packer.io/community.html_

If you are planning to open a pull-request just open the pull-request instead of making an issue first.

FOR FEATURES:

Describe the feature you want and your use case _clearly_.

FOR BUGS:

Describe the problem and include the following information:

-

[2017-05-30 09:54] #4945 closed

[2017-05-30 10:41] Zogg commented on #2391
Bumping for I have stepped into the same issue.

[2017-05-30 13:01] wilsonbat commented on #4929
@rickard-von-essen - added to https://gist.github.com/wilsonbat/9b2ddee243dec1fcd0abcab75bb9ab95
filename - packerlog.txt

[2017-05-30 13:41] sdyarnell commented on #4778
I just noticed the milestone got changed from 1.0.1 to 1.0.2. Am I the only person in the world looking to use Packer to build Docker VMs on Windows? lol

[2017-05-30 15:23] manivenkat18 opened #4946 "aws ami using packer build error"
I am getting the following issue when I was trying build aws ami using packer build

Error querying AMI: RequestError: send request failed  caused by: Post https://ec2.us-east-1.amazonaws.com/: dial tcp 54.239.28.176:443: connectex: A connection attempt failed because the connected party did not properly respond after a period of time

[2017-05-30 15:32] rickard-von-essen commented on #4946
Please only use _GitHub Issues_ for reporting bugs and feature requests. Do not ask for general help here. Use _IRC `#packer-tool` on Freenode_ or the [mailing list](https://groups.google.com/group/packer-tool) for that.

See https://www.packer.io/community/

_If you are describing a bug or a feature request please reopen and try to add some more details to make it clearer._

[2017-05-30 15:32] #4946 closed

[2017-05-30 15:44] petemounce commented on #2566
Same, hitting this now.

[2017-05-30 17:06] #4732 closed

[2017-05-30 17:57] mwhooker commented on #4848
@sandersaares I'm thinking setting a `KeepAlive` in the winrm transport might fix this. Would you be willing to test a patch for me? I could send you the branch and have you compile, or if you tell me your OS, I can upload a binary

[2017-05-30 18:14] mwhooker commented on #4857
Is it possible to run packer without the proxy environment variables set?

[2017-05-30 19:59] #4798 closed

[2017-05-30 20:39] it-praktyk commented on #4880
I confirm - I observed it today - Hyper-V on Windows 10.

If do you need help for PowerShell side of Hyper-V builder please let me know.

[2017-05-30 21:49] tjnicholas commented on #4857
@mwhooker Unfortunately not. If the environment has a proxy server it is likely it will need to be used to access the EC2 API endpoints.

For comparison, [kitchen-ec2](http://www.rubydoc.info/gems/kitchen-ec2/1.3.2#Network_and_Communication_Configuration) provides a way of selecting between the public IP, the private IP, the public DNS name or the private DNS name.

We've had Test Kitchen configur

[2017-05-30 21:54] mwhooker commented on #4857
okay I think that makes sense. I like the prior art in kitchen-ec2. Perhaps we should deprecate `ssh_private_dns` and add a new option which lets you choose from the 4 connection options. We can write a fixer for this as well. What do you think, @rickard-von-essen?

If anyone wants to implement this, I'll be happy to advise. Otherwise, I may be able to get to it in the coming weeks.

[2017-05-30 22:17] mwhooker commented on #2391
Going to lock this because this is a 2 year old issue already marked as fixed. It's likely that any issues people are seeing now are not related to the original issue, and so the discussion here may be misleading.

I recognize that some people are having real issues here, and I would love to be able to help, but I think the best way to do that is by starting a new discussion with accurate informat

[2017-05-31 00:16] boumenot commented on #4848
@mwhooker - send me the patch, and I will test it. The community has graciously provided a repro, so it should be easy to verify the fix.

[2017-05-31 01:44] mwhooker commented on #4848
@boumenot thanks! Here's my patch https://github.com/hashicorp/packer/compare/fix4848

Since this is an upstream change, you'll have to build without using the makefile. On osx I build with `XC_ARCH=amd64 XC_OS=darwin ./scripts/build.sh`, but I can't say for certain what the build command would look like on windows. I think `XC_ARCH=amd64 XC_OS=darwin ./scripts/build.ps1` should work

[2017-05-31 03:42] jghaines commented on #2697
When a packer builds a docker
It’s called a [packer docker-builder](https://www.packer.io/docs/builders/docker.htm)

And when the packer's in a docker
It’s a docker-ed packer-builder.

And when a packer docker-builder runs a docker-ed packer-builder,
They call it a docker-ed packer-builder docker-builder

Now a Mac-ca docker runner is [Docker for the Mac](https://www.docker.com/docker-mac)-ca
And

[2017-05-31 05:07] sandersaares commented on #4848
I can test the patch if you can provide a Windows binary - I am not sufficiently familiar with Packer to know how to build it, I fear.

[2017-05-31 07:07] mwhooker commented on #4848
@sandersaares here's windows binary for amd64
[packer_windows_amd64.zip](https://github.com/hashicorp/packer/files/1040513/packer_windows_amd64.zip)

[2017-05-31 09:52] LizaTretyakova commented on #4526
Hi again!
A quick update on the builder: cloning to alternate host, resource pool and/or datastore is ready. You can still take a look [here](https://github.com/LizaTretyakova/packer-builder-vsphere).

[2017-05-31 12:36] sandersaares commented on #4848
I confirm that with this build the issue no longer occurs.

[2017-05-31 16:14] serveradmin99 opened #4947 "hyperv builder fails unless virtual switch adapter is shared with the management operating system"
I am getting the following error whilst attempting to build a machine:

2017/05/31 16:58:58 ui error: ==> hyperv-iso: Error getting host adapter ip address: PowerShell error: Get-VMNetworkAdapter : No network adapter is found with the given input.
==> hyperv-iso: At C:\Users\ServerAdmin\AppData\Local\Temp\ps675653695.ps1:4 char:18
==> hyperv-iso: + $HostVMAdapter = Get-VMNetworkAdapter -Management

[2017-05-31 19:38] boumenot commented on #4848
Ditto.  It failed with v1.0.0, but applying this patch to master allowed it to run until completion.

[2017-06-01 08:35] larstobi opened #4949 "Cannot use packer HTTP server with cloudstack builder"
The use case is to be able to run Packer and serve a kickstart.cfg from a Packer integrated http server to install CentOS with said kickstart.cfg.

I just switched from using the schubergphilis's CloudStack Packer plugin for Packer 0.7.5 to Packer 1.0.0 with the integrated CloudStack builder, and found that it is missing http server to host files from packer.

[code]

When running it through packe

[2017-06-01 09:31] rickard-von-essen commented on #4949
The HTTP server is only available for the local (non cloud) builders. It doesn't really make sense for cloud builders.

[2017-06-01 10:37] larstobi commented on #4949
@rickard-von-essen Hmm, not? Okay. But then I can't access the kickstart.cfg directly from source code but have to rely on a upload-to-web stage. Is that the common way to do it?

[2017-06-01 10:42] larstobi commented on #4949
I'm not sure I can see how it doesn't make sense to have the HTTP server available for cloud builders. The way we do our cloud build is that we run packer on a VM in a VPC, and then Packer instantiates a VM on the same subnet as where Packer runs. I think it makes some sense, but perhaps there is a better way?

[2017-06-01 12:38] rickard-von-essen commented on #4949
CloudStack is a bit odd since at supports installing an OS into an empty VM which is normally not possible. So don't have a standard way of providing `kickstart.cfg` to cloud builders.

For now in you use case I think the simplest work around is to start HTTP with say python before and pass IP and port as user variables. Or uploading it to a objects store (swift) if you have that.

The usually way

[2017-06-01 14:07] rion18 commented on #3734
I believe @mrchief was talking about Docker Toolbox (which uses boot2docker) instead of Docker For Windows. One of the ways to avoid name mangling is to prepend a slash to a path. i.e:
/c/projects/test will become C:\\projects\\test.
However, //c/projects/test will become /c/projects/test.

How feasible is it to have an env variable (DISABLE_MANGLING)  or something of the sort to set this prepende

[2017-06-01 18:10] gangadhar01a opened #4951 "puppet-server provision"
I am running packer on CentOS and using "puppet server" provision to connect to the puppet master

"{
    "type": "puppet-server",
    "client_cert_path": "/home/parallels/Desktop/public-key",
    "client_private_key_path": "/home/parallels/Desktop/private-key",
    "puppet_server": "devops-puppet1.hautelook.com",
    "puppet_bin_dir": "C:\\Program Files\\Puppet Labs\\Puppet\\bin"
  }"

Packer bui

[2017-06-01 18:21] mwhooker commented on #4951
this is a dupe of #2566

I'm sorry this isn't working, puppet on windows is not well supported. You can try setting your `staging_dir` to a windows path, but this may not work because the provisioner tries to call `mkdir` on it.

If you're unable to get this to work, I would suggest using the file and powershell provisioners to upload your puppet files and then run puppet client

[2017-06-01 18:21] #4951 closed

[2017-06-01 19:12] andmos commented on #4773
@ruzickap have you come any way with this? I am looking to do something similar with Server 2012 on a CentOS build server, would be nice to know if I only have trouble in front of me..

[2017-06-01 20:08] ruzickap commented on #4773
I'm sorry, but I have never seen packer configuration files + ansible playbooks which I can deploy windows machine using Qemu + Ansible + WinRM.
I hope somebody will describe it properly one day (or packer will support it - like it's in the documentation)...

[2017-06-01 20:26] SwampDragons commented on #4727
what if we just add two new command line options, -priv-var and -priv-var-file?

[code]

[2017-06-01 20:27] rickard-von-essen commented on #4773
From the logs it looks like the template in the original post works fine except that it fails on some ansible task. If you edit the playbook to just have the first task and run doesn't it work then?

[2017-06-01 20:30] #4249 closed

[2017-06-01 20:57] mwhooker commented on #4727
I think that would be acceptable. Dig in a little and see how much work it would be.

The only reason I suggest accepting a list of key names which we want to make private is that the var file stuff is pretty low level. There's a well defined variable order, which describes which key takes precedent when it appears multiple times. I don't recall right now if that's handled in a library, or if it's

[2017-06-01 22:18] #4848 closed

[2017-06-01 23:20] xbglowx commented on #4159
Would be nice to have an optional flag to enable copying of tags when `ami_users` is specified.

[2017-06-02 03:34] jghaines commented on #1642
Some examples in the  documentation would be nice.
https://www.packer.io/docs/builders/amazon-ebs.html is pretty vague on this topic

[2017-06-02 09:40] rickard-von-essen commented on #4159
Actually it's not possible to copy tags available for another account. You can tag an AMI you can use in that account. But since we don't want to handle multiple accounts from Packer it's not possible.

For people that want this my recommendation is that you parse the AMI-id from a manifest file and use that in a script to tag the AMI in your other accounts.

[2017-06-02 09:42] rickard-von-essen commented on #1642
https://www.packer.io/docs/builders/amazon-ebs.html#ami-block-device-mappings-example has some examples and then read AWS docs: http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/block-device-mapping-concepts.html

[2017-06-02 09:49] caius commented on #4777
Just run into this as well, didn't realise the go ssh implementation didn't send keepalives out the box - has to be implemented on top of the package [it seems](https://stackoverflow.com/questions/31554196/ssh-connection-timeout).

It would be useful to have keepalives implemented so long running commands don't timeout if the host machine does have `ClientAliveCountMax` and/or `ClientAliveInterval

[2017-06-02 09:51] rickard-von-essen commented on #4857
Sound good.

@tjnicholas Seems a bit strange to me that you would need to pass the proxy to access the EC2 API endpoints but at the same time can't reach the EC2 instance via the proxy.

[2017-06-02 10:26] walterdolce opened #4954 "Feature request: ability to copy the AMIs in all AWS regions"
The current [`ami_regions`](https://www.packer.io/docs/builders/amazon-ebs.html#ami_regions) configuration option for the Amazon EBS Packer builder is useful as it gives you the ability "to copy the AMI to" the regions specified in the list.

In a disaster recovery scenario (or not) this is great, as it means one would have the AMIs ready in the "fallback region" and so would not need to click aro

[2017-06-02 10:37] TraGicCode opened #4955 "local-shell post-processor on windows"
Does anyone have a working example or know if it's possible to use the local-shell post-processor on windows to

1.) Execute a cmd.exe command
2.) Execute a powershell command

I was unable to get this to work and also was unable to find any examples

[2017-06-02 11:02] rickard-von-essen commented on #4955
Thanks for reporting this. This is a duplicate of #4140.

[2017-06-02 11:02] #4955 closed

[2017-06-02 11:15] rickard-von-essen commented on #4954
One problem with this is that `all` is not canonical because of `china` and gov cloud.

[2017-06-02 12:45] loopsysdev opened #4957 "Document exit codes"
I am seeing the following in my Go.CD build:

[code]

There doesn't seem to be any documentation of `packer.io` exit codes, so I can't even tell whether this exit code is definitely caused by Packer, as opposed to the shell it's running in or even Go.

[2017-06-02 12:56] rickard-von-essen commented on #4957
That is the exit code of your provisioner script.

To get help with Packer use _IRC `#packer-tool` on Freenode_ or the [mailing list](https://groups.google.com/group/packer-tool).

See https://www.packer.io/community/

_If you are describing a bug or a feature request please reopen and try to add some more details to make it clearer._

[2017-06-02 12:56] #4957 closed

[2017-06-02 13:02] walterdolce commented on #4954
True that. How about treating the `all` value as canonical for the regions which are not "special" (so every region except China and Gov Cloud?

[2017-06-02 13:03] loopsysdev commented on #4957
It wasn't meant as a question, but rather as a feature request: Please document the possible exit codes.

[2017-06-02 13:09] phoewass opened #4958 "Amazon Builder couldn't connect via SSH to a Windows box"
I tried to bake SSH service into my images and use it instead of WinRM, since Microsoft is supporting SSH for Windows[1].

So I created a Windows AMI image with SSH enabled using Packer and everything went fine.
Now when I'm trying to use it as a base image in Packer using ssh communicator it fails.

[code]

I did some digging and I found out that amazon ssh communicator uses the generated key pai

[2017-06-02 13:21] rickard-von-essen commented on #4958
Could you link to any documentation describing how this works?

[2017-06-02 14:11] phoewass commented on #4958
- I created a  Windows 2008r2 AMI using Packer and during provisioning I installed OpenSSH
https://gist.github.com/phoewass/d3afc33c9373159f2e9e6b251bba0968
-> Worked fine and generated an AMI le's say with the id : ami-12345678

- Then I try to use that image (ami-12345678) to create another one the only difference that I'm now using SSH communicator
https://gist.github.com/phoewass/7cbb90b4c8a2b

[2017-06-02 15:29] idahood opened #4959 "virtualbox: Fails with communicator:none"
Packer Version:
Packer v1.0.0

Host OS:
macOS Sierra 10.12.5

Debug Log:
https://gist.github.com/idahood/aa8436b5c5cd681366847dd23ebcf72c

Builder Template:
https://gist.github.com/idahood/02e87dfa4220a68adb36878c9966e364

The VM fails to start when '"communicator": "none"' is set. Using the default ssh method (and adding the ssh_username/ssh_password key value pairs) causes the VM to start normal

[2017-06-02 15:30] mjcramer commented on #4608
Yeah, but now this is broken for GCP projects which do not have a default service account. I need to be able to specify a service account to use as I'm controlling access to various resources. I kinda feel like cross-project building is a much more esoteric use case than wanting more granular control over service accounts.

[2017-06-02 15:53] rickard-von-essen commented on #4957
Could you explain why this would help you?

[2017-06-02 16:02] rickard-von-essen commented on #4959
For some reason you VirtualBox refuses to start the VM

[code]

[2017-06-02 16:04] rickard-von-essen commented on #4608
@mjcramer Please open a PR which solves both cases.

[2017-06-02 16:09] mjcramer commented on #4608
It's a fair demand, but unfortunately I do not know go and will have to make some time to absorb the learning curve. I will contribute but cannot give a time frame. Will keep you posted...

[2017-06-02 16:11] loopsysdev commented on #4957
Exit codes are a very commonly used source of information to debug errors in command line tools, especially when there is no other information printed to indicate what went wrong with the command or where to find more information. Some exit codes have common meanings (see [source](http://tldp.org/LDP/abs/html/exitcodes.html) and `/usr/include/sysexits.h`), such as 1 (unknown/miscellaneous error),

[2017-06-02 16:19] idahood commented on #4959
Right, so here's the other log with the template using ssh as the communicator method:
https://gist.github.com/idahood/d4c8db9450767f7af02d8135d160be38

And the template:
https://gist.github.com/idahood/4458974bc86093873b5916a475019558

The only difference is what communicator method packer is invoking:
[code]

[2017-06-02 16:56] rickard-von-essen commented on #4608
@mjcramer you can also open a feature request and provide allot of details around how this could work and gather references.

[2017-06-02 17:52] mwhooker commented on #4957
[code]

I can't tell from such limited logging, but presumably a script you were running exited with the code 22. You might be able to get more information by setting `PACKER_LOG=1` in the environment.

Packer does not make great use of exit codes. It's either 0 if it worked, or 1 if it didn't. I agree that it would be helpful to have different exit codes as described in sysexits.h, but packer was

[2017-06-02 18:20] l0b0 commented on #4957
Oh, OK. Must be the environment then. I'll try your suggestion.

[2017-06-02 18:33] xbglowx commented on #4159
@rickard-von-essen fair enough. I wrote a wrapper script that uses the awscli to copy the tags. Below is the meat of it.

[code]

[2017-06-02 20:12] phoewass commented on #4958
You are right.
It uses  ssh_key_pair to decrypt the Administrator password and it to login on SSH.
I'm pretty sure, I made some changes to code to check if it works before submitting the issue.

[2017-06-02 20:15] #4959 closed

[2017-06-02 21:08] #4925 closed

[2017-06-03 04:48] rickard-von-essen commented on #4959
You also have to set `"virtualbox_version_file": ""`.

[2017-06-03 04:56] rickard-von-essen commented on #4958
It would be awesome if you could test the following patch and see if that works for you:

[code]

It will wait for a password regardless of `comm` type. (This is isn't the solution, just verifying that it works as we think it does.)

[2017-06-03 05:36] rickard-von-essen commented on #4929
This looks suspicious 795921988e69f713d2c908514266b58e76c863fe.

[2017-06-03 05:52] rickard-von-essen commented on #4929
Thanks for reporting this. This is a duplicate of #4689, which have been fixed on master. The fix will be included in the next release.

[2017-06-03 05:52] #4929 closed

[2017-06-03 07:18] Anish123bosco commented on #2083
Still present in 1.0.0

2017/05/25 17:19:31 [INFO] 1445270 bytes written for 'stdout'
2017/05/25 17:19:31 [ERR] 'stdout' copy error: stream closed
2017/05/25 17:19:31 packer: 2017/05/25 17:19:31 [INFO] 0 bytes written for 'stderr'
2017/05/25 17:19:31 packer: 2017/05/25 17:19:31 [INFO] RPC client: Communicator ended with: 2
2017/05/25 17:19:31 packer: 2017/05/25 17:19:31 [INFO] 777814 bytes written

[2017-06-04 19:10] kwilczynski commented on #4954
I am not sure why not to just use the option with the list of regions? Not that Amazon is adding one every week, this is likely not going to change very often, and definitely something one could manage in their templates.

[2017-06-05 10:39] walterdolce commented on #4954
This is to avoid that. To have Packer automatically generate the AMI and store it in all the regions without having you to change your template(s).

[2017-06-05 22:16] tjnicholas commented on #4857
@rickard-von-essen We run our build agents (that execute packer) within AWS in a VPC behind a proxy. The AMIs are created in the same VPC, or within a peered VPC.

[2017-06-05 22:23] #4631 closed

[2017-06-06 01:21] jasminSPC commented on #4501
@mwhooker Sorry for the late reply I've just submitted a PR with updated docs.

[2017-06-06 01:38] #4501 closed

[2017-06-06 03:34] jamesla commented on #4901
A mock packer run (not storing the AMI) would be extremely useful because right now we don't have an idea if the build will run until commit to master which is a little late.

[2017-06-06 04:08] mwhooker commented on #4901
What about setting the ami name to something like "my-company-dev" and
setting force_deregister to true?
On Mon, Jun 5, 2017 at 20:34 James McCallum <notifications@github.com>
wrote:

[2017-06-06 12:48] mrhockeymonkey opened #4968 "Artifact variable not present in post-processor"
I have just started using Packer 1.0.0 over 0.12.0. It seems that the variable {{ .Artifact }} is no longer present in post-processing for me to use. My post processing involves running a script against an artifact and was working in 0.12.0 but in 1.0.0 i get this error

[code]

Packer Version: 1.0.0
Host Platform: Server 2012 R2

Here is how i am replicating the problem. I have a vmdk already sav

[2017-06-06 12:58] rickard-von-essen commented on #4968
See #4189, and the corresponding changelog entry.

On Jun 6, 2017 14:48, "Scott Matthews" <notifications@github.com> wrote:

[2017-06-06 15:17] phoewass commented on #4958
@rickard-von-essen
I think I have a working patch, could you help me get it integrated into Packer?

[2017-06-06 15:45] rickard-von-essen commented on #4958
Please open a PR.

[2017-06-06 17:08] lmayorga1980 opened #4969 "Download a https:// ISO File (Certificate Signed by Unknown Authority)"
I am trying to provision a new machine with virtualbox.

[code]
Is there a way to disable SSL Verification?. I am able to use `curl` and `wget` without any issues.

[2017-06-06 19:40] mwhooker commented on #4968
hi @mrhockeymonkey,

as rickard mentioned, we changed the behavior of the shell-local post-processor. The recommended way to use it is described here https://www.packer.io/docs/post-processors/shell-local.html#interacting-with-build-artifacts

Please feel free to mail the [mailing list](https://groups.google.com/forum/#!forum/packer-tool) if you have any questions about using it.

[2017-06-06 19:40] #4968 closed

[2017-06-06 19:50] mwhooker commented on #4969
I think it'll work if you use `http` protocol.

We don't support insecure certificates. I'd recommend installing your company's certificates on your machine if you need to use https.

I don't think we have any plans to support insecure tls connections. Is there a reason any of the above won't work?

[2017-06-06 21:08] ladar opened #4973 "vagrant-cloud lacks the ability to specify a provider causing version collisions"
I updated my packer configs so they would use the vagrant-cloud post processor instead of the atlas post-processor, and have run into a few problems.

1) The biggest issue seems to be alternate versions of a box, intended for different providers get rejected because the version numbers collide. After glancing at the code, it appears the plugin is using the input id to determine the provider, which

[2017-06-06 21:54] mwhooker commented on #4973
hi @ladar

thanks for the note. We're working on making the versioning a little easier.

Would you please look at the documentation update in #4975 and tell me if that helps you at all?

[2017-06-06 22:41] ladar commented on #4973
What you described in the docs is what I've implemented. What I was looking for was a) how to have multiple providers with the same version (like with https://atlas.hashicorp.com/generic/boxes/arch). If I add a timestamp to the version, I'll deconflict the images but I'll also end up creating a mess, as I won't know which box corresponds to which packer run. If I deconflict based on the provider,

[2017-06-07 11:15] cassianoleal commented on #1913
Has this logic been inverted in 1.0? I'm seeing this now:

[code]

[2017-06-07 11:31] rickard-von-essen commented on #1913
@cassianoleal user variables are _string -> string_ maps. Quote your `true` and it should work (with the exception of #2630).

[2017-06-07 11:45] cassianoleal commented on #1913
@rickard-von-essen Thanks, that seems to work.

It's quite confusing because I never know if the string will work down the line. Also, I usually expect a JSON file to accept valid JSON types.

[2017-06-07 17:02] idahood commented on #4959
Just confirming this works with: Packer v1.1.0-dev

[2017-06-07 17:27] mwhooker commented on #4350
solved in https://github.com/hashicorp/packer/pull/4953

[2017-06-07 17:27] #4350 closed

[2017-06-07 17:37] bhcleek commented on #4904
There doesn't seem to be anything we can do about this until ansible/ansible#25012 is released.

[2017-06-07 17:41] bhcleek commented on #4596
I can duplicate this. From what I can tell, it's because the `raw` won't execute in a Powershell environment. I'd suggest either executing `powershell -Command "& {Set-NetFirewallProfile -Enabled False}"` or else use the `win_shell` module.

[2017-06-07 20:44] #4920 closed

[2017-06-07 22:08] 2rs2ts commented on #4279
For those curious, this is unrelated to ECS or CodeBuild. We are getting these problems with just using the `AWS_ACCESS_KEY_ID` and `AWS_SECRET_ACCESS_KEY` environment variables starting with version 0.12.0. (they work fine in 0.11.0.) Our Jenkins builders do not have an `.aws` directory in their homes so we get an error that says:

[code]

Of course the PR linked fixes our problem.

[2017-06-08 00:30] nodesocket opened #4985 "Using variable in external script not being evaluated"
I have the following:

[code]

Then in file `scripts/base-ubuntu-1604-lts.bash`:

[code]

But in the packer output I am seeing `{{isotime}}` being printed statically, not evaluated.

[2017-06-08 00:39] mwhooker commented on #4985
Hi,

we don't render shell scripts as templates. I recommend something like

[code]

and then using `$isotime` instead of `{{ isotime }}` in your script

[2017-06-08 00:39] #4985 closed

[2017-06-08 00:48] nodesocket commented on #4985
@mwhooker thanks for the quick reply. Won't this output the same date/time at the start and end, since that value is generated before running the script?

[2017-06-08 00:55] mwhooker commented on #4985
yes, but that's how isotime works. If you want to see how long your script
runs for, use the `date` command.

~/dev/packertest ᐅ date -u +"%Y-%m-%dT%H:%M:%SZ"
2017-06-08T00:54:50Z
~/dev/packertest ᐅ date
Wed Jun  7 17:55:14 PDT 2017

On Wed, Jun 7, 2017 at 5:48 PM Justin Keller <notifications@github.com>
wrote:

[2017-06-08 01:17] nodesocket commented on #4985
Thanks, ended up going with:

[code]

[2017-06-08 03:48] sm-azure opened #4986 "Documentation Update"
Packer documentation - https://www.packer.io/intro/getting-started/provision.html has the update command as `"sudo apt-get update"` , shouldn't this be `"sudo apt-get update -y",`? Using the provisioner as documented today results in "non zero exit code".

Packer version used 1.0.0 (linux 64 bit).
Builder - AWS, ebs.
AMI - Redhat

[2017-06-08 05:52] GavinYin opened #4988 "qemu: Timeout waiting for SSH"
**qemu: Timeout waiting for SSH       Build 'qemu' errored: Timeout waiting for SSH.**
linux：CentOS Linux release 7.3.1611
Packer version: 1.0.0
qemu version : 1.5.3
**cvm.json**
[code]

**ks.cfg **
[code]
the output of packer
[code]
i can not find any method to modify this problem. please help me. thanks

[2017-06-08 06:47] rickard-von-essen commented on #4988
Please only use _GitHub Issues_ for reporting bugs and feature requests. Do not ask for general help here. Use _IRC `#packer-tool` on Freenode_ or the [mailing list](https://groups.google.com/group/packer-tool) for that.

See https://www.packer.io/community/

_If you are describing a bug or a feature request please reopen and try to add some more details to make it clearer._

[2017-06-08 06:47] #4988 closed

[2017-06-08 08:45] rdonkin commented on #4928
I'm having exactly this problem.

@boumenot - can you share the workaround to get the real error message in HTTP response?  Did you use a proxy?

[2017-06-08 08:51] sandersaares commented on #4928
The error message in the 2nd example is actually displayed if you show the detailed log (`set PACKER_LOG=1`).

With the first case, I had to use a proxy (Fiddler), directing Packer to use it via `set http_proxy=localhost:8888` and `set https_proxy=localhost:8888`.

[2017-06-08 09:29] rdonkin commented on #4928
I have got `PACKER_LOG=1` enabled, but it doesn't show any more detail than the stdout messages:

[code]

A bit off-topic, but can someone suggest how to "list deployment operations" to get more detail in this case?   I'm using the device login flow in case that's relevant.

[2017-06-08 09:45] sandersaares commented on #2648
Using `Copy-Item -ToSession` in PowerShell it takes 6 seconds to copy packer.exe to a local VM via WinRM.
Using the "file" provisioner it takes minutes.

I therefore reject the claim that this is slow by design. There is simply a deficiency of some sort in Packer that causes WinRM copies to be extremely slow. Whether it is a missing feature (could be this fast copy mechanism is part of some new AP

[2017-06-08 09:57] rickard-von-essen commented on #2648
Using the "file" provisioner it takes minutes.

@sandersaares Could you create a new issue and provide as much details as possible. This is not rely a Packer issue but more of a upstream bug with the [winrm](github.com/masterzen/winrm)
 or [winrmcp](github.com/packer-community/winrmcp/winrmcp) libraries.

[2017-06-08 10:06] rdonkin commented on #4928
For others in same situation with deployment failures in Packer Azure, see Microsoft's [help page for deployment operation errors](https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-manager-deployment-operations) - shows how to find the details of deployment error in the Azure portal, which turned out to be that machine type requested is not available in my location.

[2017-06-08 10:27] stephenreay commented on #1076
I'm getting this error with packer v1.0.0 when building Parallels images and using the Vagrant-Cloud post processor.

The annoying part is, it *seems* like it successfully uploads a box to atlas, tries to remove something locally from the build, fails, and then "cleans up" by removing the uploaded box.

Maybe its just the messaging that is misleading and that isn't the case?

[2017-06-08 10:32] rickard-von-essen commented on #1076
@stephenreay Don't resurrect 3 years old bugs open a new issue.

[2017-06-08 12:26] steveparker-kcom opened #4989 "Chef-Solo Provisioner fails (Windows 2016)"
I am building an AWS AMI for Windows 2016 with the amazon-ebs builder. The config file lists a single chef-solo provisioner which has a run list of a newly generated cookbook.  This was working a few days ago. Run log is below. Could be due to the chef version since it pulls the install script from an external source?

- Packer version from `packer version`
Packer v1.0.0

- Host platform
Ubuntu

-

[2017-06-08 15:08] jcejohnson opened #4990 "Error launching source server: json: cannot unmarshal array into Go value of type string"
- Packer version from `packer version`: 0.12.3 and 1.0.0
- Host platform: Mac & Linux
- Debug log output from `PACKER_LOG=1 packer build template.json`.
- The _simplest example template and scripts_ needed to reproduce the bug.
  ~~Sadly, our corporate policies do not give us access to gist.github.com but I've attached a packer.log and packer.txt here.~~ Fixed

Using the openstack builder with `so

[2017-06-08 15:20] rickard-von-essen commented on #4990
Sorry I don't understand? What do you try to set explicitly?

[2017-06-08 15:52] stephenreay commented on #4973
@ladar I'm seeing what I think is the same issue, but I wanted to confirm so I know if I need to open a new one: do your boxes upload successfully, but fail on the release step (which then causes a removal) or doe they fail before uploading?

[2017-06-08 16:16] rickard-von-essen commented on #4990
Could you include the full command you use to execute Packer with.

[2017-06-08 16:39] jcejohnson commented on #4990
The packer command is simply: packer build packer.json.

If I use "openstack image set --property something='[ ... ]'" on any image the build will fail with the unmarshal error. As it turns out, openstack itself does this behind the scenes when creating a snapshot image (i.e. -- "openstack server image create <servername> --name <snapshot-name>"). So I can't simply tell people "don't do that" sinc

[2017-06-08 18:01] mwhooker commented on #4986
Hi,

thanks for your reports. Under normal conditions, `apt-get update` will not prompt, so there is no need to use the `-y` flag. If it does prompt, I suspect something has gone wrong.

[2017-06-08 18:01] #4986 closed

[2017-06-08 18:07] mwhooker commented on #4989
yes certainly. I would try to specify a known good version and see if that fixes it

the relevant bits:

[code]

[2017-06-08 18:40] rickard-von-essen commented on #4990
Ok, thanks for the explanation. The way to repro this:

- `openstack image set --property something='["a", "b"]' <source-image>`
- Run `packer build template.json` with `"source_image": "<source-image>"`

[2017-06-08 18:44] rickard-von-essen commented on #4990
This fails on creating the source instance at [step_run_source_server.go - L83](https://github.com/hashicorp/packer/blob/master/builder/openstack/step_run_source_server.go#L83). Most likely an upstream bug.

[2017-06-08 20:13] jcejohnson commented on #4990
Another interesting detail for anyone who may run across this.

The offending image in question has a block_device_mapping property that contains array data. That image was created via 'openstack server image create <my-vm>'.  <my-vm> was created via 'openstack server create --volume <some-volume> ... <my-vm>'.

Images created from VMs that were, in turn, created from *images* do not have this pro

[2017-06-08 21:24] Munna1234 commented on #1761
This code is utilized nevertheless would certainly be a wonderful enthusiasts item as they do not provide the codes such as this anymore. <a href="http://gratuitxblcodes.com/">abonnement xbox live gratuit</a> Duplicate the alphanumeric code produced on the message area, from the Xbox Live Gold Generator program.

[2017-06-08 22:27] #4727 closed

[2017-06-08 22:51] wayneworkman commented on #1983
@mitchellh What about a packer-native reboot call?
Not everyone's scripts will cause a reboot - the rebooting process for some (like in my case) can happen via a native packer reboot command.
I'll put the reboot provisioner in the order it needs to be.

You can handle the reboot in packer so that it's abstracted as packer aims to be - and handle waiting for the OS to become available again before

[2017-06-08 22:56] mwhooker opened #4992 "packer push should push variables"
packer push, when no `-var` flags are provided, does not push any variables from the template. If a single -var is added, however, all of the template variables get pushed.

Let's make sure we push all template variables regardless of how many -var flags there are.

[2017-06-08 23:11] mwhooker commented on #1983
@wayneworkman it would be great if you could add your use-case to https://github.com/hashicorp/packer/pull/4555

[2017-06-09 00:57] boumenot commented on #4928
This is a dupe of #3536 IMO.  I am working on a fix for this.

You are right, there is much better data in the HTTP response that is lost.

I purposefully triggered an error in the deployment template, and all I got was a message similar to the one above. With my fix, the error message is much more tractable.  (I do not guarantee this is always true.)

[code]

[2017-06-09 05:19] rdonkin commented on #4928
That error is much nicer!

Please also consider linking to [this Microsoft page](https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-manager-deployment-operations) as well as the aka.ms link.  Investigating the error through portal may provide more context as a fallback, if for some reason the error shown is not clear.

[2017-06-09 05:47] ladar commented on #4973
@stephenreay I usually don't wait around for the builds to complete, so I wasn't sure, and I didn't have the logs from my vagrant-cloud attempts to consult. So I ran a test, just for you. It appears that your right. The first box (magma-debian8-virtualbox) uploads just fine. Then, when the vmware version finishes building, the it gets uploaded using the vmware_desktop provider, but when it goes to

[2017-06-09 05:55] ladar commented on #4973
On a separate, but related note, I miss having the box file size show up in the vagrant cloud post processor output. I've caught problems in the past based on the upload size - because I noticed the box size was significantly different then previous builds. If your feeling particularly ambitious - logging the size in human readable form ( KiB / MiB / GiB ) instead of bytes, combined with an occasi

[2017-06-09 06:25] sandersaares commented on #2648
I rather lack the motivation to file an issue about a problem unfixed for 2 years with a wontfix label, sorry.

[2017-06-09 06:49] stephenreay commented on #4973
Thanks for confirming, and for the test @ladar! That seems like the same thing, with PACKER_LOG=1 I see a http 422 error, so presumably it's the conflict because it doesn't know the provider name. I will try to adjust the output paths to test if  virtualbox.box etc file name helps.

I'll test some more this evening and post back, including the packer log output.

This whole issue is making me thin

[2017-06-09 07:03] ladar commented on #4969
Try:

`curl --insecure --output packer_cache/120acbca7b3d55465eb9f8ef53ad7365f2997d42d4f83d7cc285bf5c71e1131f.iso https://<my_company_repository>/rhel-server-7.3-x86_64-dvd.iso`

Or:

`wget --no-check-certificate --output-document=packer_cache/120acbca7b3d55465eb9f8ef53ad7365f2997d42d4f83d7cc285bf5c71e1131f.iso https://<my_company_repository>/rhel-server-7.3-x86_64-dvd.iso`

And then using a file:

[2017-06-09 08:12] rickard-von-essen commented on #2648
@sandersaares I think it was closed because of lack of understanding of the problem. You seems to be able to provide enough details to make this progress. If we have a benchmark number of how fast it should be and can reproduce this we can probaly nail down why it's slow and provide the upstream library with enough facts for them to solve it.

[2017-06-09 08:32] pecigonzalo commented on #2648
Lack of understanding? It was discussed extensively under https://github.com/packer-community/winrmcp/pull/6

[2017-06-09 08:49] rickard-von-essen commented on #2648
That seems inconclusive. If that is the solution or a big step forward _please try to drive that change_ and then open a PR or a issue to update [winrmcp](https://github.com/packer-community/winrmcp).

[2017-06-09 08:49] ladar commented on #4973
I intended to upload the packer_log output, but realized my script was
clobbering the output file whenever I built a single box. (It called the
json files in sequence, so when it tried building a json file that
didn't hold the box, it would truncate the log - instead of appending).
I'll build a different box so I can also submit debug logs. I'm also
going to try setting the no_release flag on the

[2017-06-09 09:22] stephenreay commented on #4973
I've already tried with `no_release` set to true, and it didn't work either.

To disable uploads, you can just remove the vagrant-cloud post processor (assuming you have a vagrant post processor immediately before it?) and you'll just get local .box files

Sent from my iPad

[2017-06-09 09:38] ladar commented on #4973
I know. The problem is what happens when I subsequently _do_ want the boxes to upload. ,Adding and then removing large chunks of the JSON config file with any frequency isn't very practical. Since JSON comments don't work I looked for an alternative method. I've checked the docs, the cli options, and even looked into whether the .packerconfig could be used to disable plugins all to no avail.

I wa

[2017-06-09 10:09] pecigonzalo commented on #2648
The solution, maybe but the problem is not inconclusive. mwrock even wrote a blog post explaining it.

[2017-06-09 10:15] sandersaares opened #4993 "How do I get access to the IP address of the machine under build?"
To work around https://github.com/hashicorp/packer/issues/2648 I am considering simply opening up some shared folders (SMB) on the machine being built and uploading files using the local shell provisioner. However, I do not seem to find any variables documented that would enable me to obtain the relevant IP address to actually connect to.

I would like to know how I can provide this information to

[2017-06-09 10:18] stephenreay commented on #4973
I see, yes it would be nice if it was configurable by switch/arg.

I noticed in the log output it *does* mention the correct provider name, so maybe it's some other bug on the server side?

Is there a place to report/check issues related the vagrant-cloud "service" @mitchellh?

Sent from my iPad

[2017-06-09 10:29] rickard-von-essen commented on #2648
That is great, hope someone can translate it into executing code.

[2017-06-09 10:30] rickard-von-essen commented on #4993
The IP is not directly available to the provisioner. Which builder do you use?

[2017-06-09 10:55] sandersaares commented on #4993
I currently use Azure and Hyper-V and will likely also use VirtualBox and QEMU in the future.

[2017-06-09 11:37] dhs-rec opened #4994 "Versions above 0.11.0 fail reproducably when provisioning Windows AMIs in AWS"
After upgrading Packer from 0.11.0 to any newer version (incl. 1.0.0), it starts to fail reproducably when creating Windows Server 2008R2 AMIs from Amazon base AMIs in AWS. Windows Server 2012R2 AMIs are still provisioned fine. The last bits of log output are:
[code]

- Versions: 0.12.x, 1.0.0
- Ubuntu Linux
- https://gist.github.com/dhs-rec/a5cf71c78ba7f8a832ab0fcb8d49483e

[2017-06-09 11:46] rickard-von-essen commented on #4994
Please supply the information requested in the issue template:
- The _simplest example template and scripts_ needed to reproduce the bug.
  Include these in your [gist](https://gist.github.com).

[2017-06-09 11:50] dhs-rec commented on #4994
Will see what I can do...

[2017-06-09 12:26] dhs-rec commented on #4994
https://gist.github.com/dhs-rec/064327e8d1123fd210d98cf5d7383813

[2017-06-09 12:51] larstobi commented on #4949
CloudStack can be used as a private cloud, which is how we are using it. There is nobody maintaining ready made cloud images of different operating systems like there is in i.e. Amazon, so we have to make our own from scratch.

To install a CentOS 7 from scratch by network install, we need to instruct centos to fetch three files via HTTP:

* vmlinuz
* initrd.img
* kickstart.cfg

(Okay, the kicksta

[2017-06-09 15:51] lfarnell commented on #4949
So I'm not super familiar with CloudStack but I have to agree with @larstobi here and say I do believe that CloudStack should have access to the packer http-server. We **shouldn't** make the assumption that CloudStack is a public cloud as you could run this as a private cloud(I assume most people do). I know it's a bit of a weird edge case in terms of local vs cloud builders but in this case i see

[2017-06-09 16:32] ladar commented on #4973
I did another build using the vagrant-cloud plugin, so I could collect the debug logs and it worked. All 3 boxes appear to have uploaded properly. The difference: it was a private box. I guess that means the "release" step was never run, and thus no error. I confirmed the boxes were uploaded by pulling them back down using vagrant. I'm running the test again using a public box now.

[2017-06-09 16:40] Constantin07 commented on #2785
Hi,

I'm facing the same issue despite the powershell script works absolutely fine when run from Windows command line (or PSE).

[code]

[code]

[2017-06-09 16:57] rickard-von-essen commented on #2785
@Constantin07 can you gist the full packer log.

[2017-06-09 17:12] ladar commented on #4973
I've noticed that with the vagrant-cloud plugin it appears to upload the box multiple times before completing. So while I was waiting for the first first box to finish attempt number 3, I checked the Atlas website and saw the box had in fact completed. I was able to pull it back down via vagrant (but only after setting up the auth token, as it wasn't public yet). While waiting for the second box t

[2017-06-09 17:17] ladar commented on #4973
It appears that after setting "no_release" up as true for the vmware and libvirt providers, the boxes were uploaded without issue. And as a bonus they were in fact released... I'll run the test one more time with no_release removed, just to confirm, but I think it's pretty clear where the bug is hiding.

https://atlas.hashicorp.com/generic/boxes/alpine36/versions/0.9.6

[2017-06-09 17:19] stephenreay commented on #4973
Weird, I tried that and it failed still. I will retest tomorrow. Does it still upload multiple times for you?

Sent from my iPad

[2017-06-09 18:14] ladar commented on #4973
My guess is that reason it worked is because even though I didn't have no_release set on the first upload, the box was already private. Have you tried setting all of the uploads to no_release == true?

I just did my confirmation test, and it failed as expected. And yes, it also appears to have uploaded the box 3 times. I can sanitize my debug logs and upload them later if you want? I'd just like t

[2017-06-09 19:29] Constantin07 commented on #2785
After removing the {{.Vars}} it works fine.

[code]

[2017-06-09 19:35] svanharmelen commented on #4949
@larstobi lol, I'm working Schuberg Philis :wink: But the code in the repo you are pointing to was not created by Schuberg Philis. If you look at the last commit you'll see that the repo was transferred to us as I was planning to create the currently existing builtin builder, and the project wasn't actively maintained anymore...

That being said I do agree it can make sense to have the HTTP server

[2017-06-09 20:13] Constantin07 commented on #4924
@prithulagta The problem is that you get the below snapshot mapping in AMI metadata when you use /dev/sda1 as device name:
[code]

 Try to use /dev/xvda as device name and it should work fine:
[code]

PS: This is not a packer problem but rather the way how Amazon handles your request.

[2017-06-09 20:15] mwhooker commented on #4924
I think @Constantin007 has the solution. If this doesn't help, please open a new issue with the required debugging information.

[2017-06-09 20:15] #4924 closed

[2017-06-09 20:17] justincampbell commented on #4973
Just wanted to let everyone in this thread know that we're working on this, and hope to have it resolved next week. Sorry for the troubles.

[2017-06-09 20:23] Constantin07 commented on #4904
I do confirm as well that I was able to reproduce this issue. (latest devel branch, ansible 2.4.0)

[2017-06-09 22:13] levilovelock commented on #4558
also duplicates #1739 too, right? I also want this feature. Given that the actual code changes needed for this were provided long ago, it's kind of frustrating that people are still asking for it and it's not available :(

[2017-06-09 23:01] scsinutz commented on #4949
For now create a base template from the iso without kickstart, then create a new provisioned template from the base template.

[2017-06-09 23:17] icnocop opened #4999 "Packer should fail when creating a floppy file greater than 1.44MB"
Hi.

I configured `packer.json` with `floppy_files` where the total combined file size of the specified items exceeds 1.44MB.

I'm currently using Packer v0.12.0 on Windows 7 Enterprise 64-bit Service Pack 1.

The packer log did not indicate any warnings or errors.

The floppy file size packer created is 1,440 KB.

For example, I tried to put wget.exe on the floppy, but wget.exe is more than 3MB.

[2017-06-09 23:41] icnocop commented on #4999
No, it's not a duplicate.

A floppy file created with a total size of the combination of its contents are less than 1.44MB works without issues.

I think the issue is here:
`https://github.com/hashicorp/packer/blob/81522dced0b25084a824e79efda02483b12dc7cd/common/step_create_floppy.go#L55`

The code doesn't check to see if the size is greater than 1.44MB and just "blindly" truncates it, causing the

[2017-06-10 00:07] icnocop commented on #4999
[Sample packer json and log output](https://gist.github.com/icnocop/28993ef1bf92c08884cae8e5a53197ed)

[2017-06-10 03:12] ladar commented on #4993
I wrote a shell script that allows me to easily connect up with all my running packer builds, but it's targeting *nix systems, and only looks for qemu, vmware, or virtualbox builds at the moment. See [this gist](https://gist.github.com/ladar/395b2c8a2e5103c34472f3fea4dd53de), and feel free to send me any Windows improvements via PR.

That said the theory should work on WIndows. Just use netstat to

[2017-06-10 06:20] stephenreay commented on #4973
Does that include fixing the 3x uploads? Also, thanks for letting us know!

Sent from my iPad

[2017-06-10 06:37] nodesocket opened #5000 "Request: Add human readable dates to outputted log lines"
Request to add human readable dates _(ISO-8601_) to outputted log lines. Something like:

    ==> [2017-06-10T08:58:50+00:00] googlecompute: Checking image does not exist...
    ==> [2017-06-10T08:58:50+00:00] googlecompute: Creating temporary SSH key for instance...
    ==> [2017-06-10T08:58:50+00:00] googlecompute: Using image: base-1493024240
    ==> [2017-06-10T08:58:50+00:00] googlecompute: C

[2017-06-10 06:42] rickard-von-essen commented on #4993
Run a shell provisioner that saves the IP in a file. Use a file provisioner to download it and read it in the shell-local script.

[2017-06-10 06:42] #4993 closed

[2017-06-10 06:44] rickard-von-essen commented on #4949
@larstobi I leave this to @svanharmelen to decide.

[2017-06-10 09:17] rickard-von-essen commented on #5000
You can just pipe to `ts` (from `moreutils`).

[code]

[2017-06-10 11:01] rickard-von-essen commented on #4558
@levilovelock just because people want a feature doesn't mean that it fits the tools purpose.

[2017-06-10 11:59] rickard-von-essen commented on #4857
@tjnicholas yeah, that make sense. Thanks for clarifying.

[2017-06-10 12:01] rickard-von-essen commented on #4701
I think we have argued over this enough in #3331. @mwhooker close?

[2017-06-10 12:55] timurb commented on #4701
#3331 is a different case, it is about passing IP to provisioner.

My issue is a different one and is about passing IP to template. See `{{ssh_host}}` call in the example above.

[2017-06-10 13:48] rickard-von-essen commented on #4701
It's the same thing as described in the original post of #3331.

[2017-06-10 18:27] lmayorga1980 commented on #4969
@ladar ,
thanks for the script and i guess my CI config can pull the ISO in a different process and use my Packer template with the **file://** option but I was just wondering if vagrant has a https://www.vagrantup.com/docs/vagrantfile/machine_settings.html (download_insecure) why doesn't Packer also support this as well?

[2017-06-10 20:39] #4932 closed

[2017-06-10 21:13] levilovelock commented on #4558
I understand. FWIW @naftulikay a tool which can handle this use-case fairly well is Vagrant paired with the vagrant-aws plugin.

[2017-06-11 06:09] pragkent opened #5001 "alicloud-ecs: must specify HostKeyCallback"
It seems like the alicloud-ecs builder cannot connect to server by ssh when compiled with go 1.8.1.
It's related to a change in golang ssh package. https://github.com/golang/go/issues/19767 .

Will submit a pull request soon.

- Packer version from `packer version`
Packer v1.1.0-dev

- Host platform
Mac OS

- Debug log output from `PACKER_LOG=1 packer build template.json`.
https://gist.github.com/

[2017-06-11 19:14] naftulikay commented on #4558
That will probably be what I use: `vagrant-aws` for tests and Packer during `deploy` for final build and shipment of AMI.

[2017-06-12 02:04] puneetloya opened #5003 "Not able to find the azure created VHD in azure portal or azure cli"
I am using the packer azure-arm provider for creating azure vhds. As mentioned in https://www.packer.io/docs/builders/azure.html the deprovisioning is also getting executed successfully.
The build is successful, but the OsdiskUri and templateUri return 'resource not found'.

Further I try to find it on the azure portal(Storage Account --> VHD) and the azure cli, I could not find the VHD.

Packer V

[2017-06-12 05:30] sandersaares commented on #4993
@rickard-von-essen that's a good idea but this workaround does not necessarily work if the machine under build does not know its own reachable IP address (e.g. it is running in a cloud).

[2017-06-12 06:54] rickard-von-essen commented on #4993
The you probably have a cli that can find the external address.

[2017-06-12 07:42] larstobi commented on #4949
@lfarnell thanks for your 2 cents

@svanharmelen thanks for the correction, and thanks for your input. Yes, when using subnets, it is limited to the same subnet, and that is how we do it.

How do you build images yourself, @svanharmelen?

[2017-06-12 07:56] sandersaares commented on #4993
Right. The reason I filed this issue was because I was under the impression that Packer was a product designed to make such things easy and if such a feature was missing, its authors might want to add it. Perhaps I am mistaken in the purpose of Packer or the intended use of this issue tracker, as I cannot understand why you would close an issue that points out a missing feature.

[2017-06-12 09:50] rickard-von-essen commented on #4949
Have you tried importing a raw image as base. Most *nix distributions provide a raw disk image for use in any IaaS. Example http://cloud.centos.org/centos/7/images/ CentOS-7-x86_64-GenericCloud-1704.raw.tar.gz

[2017-06-12 09:56] rickard-von-essen commented on #4993
Oh sorry I taught I linked to another issue. I closed it since we decided explicitly to not include this feature.

See #3331. (I was mixing this up with the similar request in #4701)

[2017-06-12 12:12] beenje opened #5004 "pp/vagrant-cloud: large files are read in to memory"
Hi,

I'm trying to switch from the `atlas` post processor to `vagrant-cloud` to upload a vagrant box.

This was working fine:
[code]

This doesn't work:
[code]

It raises the error:
* Post-processor failed: unexpected EOF

See the gist url below for the full debug log.

- Packer version: Packer v1.0.0
- Host platform: CentOS Linux release 7.3.1611
- Debug log: https://gist.github.com/beenje/71a711

[2017-06-12 12:12] steveparker-kcom commented on #4989
Hmm, not having much luck. I set the install command as below.

`"install_command": "powershell.exe -Command \". { iwr -useb https://omnitruck.chef.io/install.ps1 } | iex; install -version 12\""`

But the chef provisioner is still failing with:

`amazon-ebs: <internal:gem_prelude>:4:in `require': cannot load such file -- rubygems.rb (LoadError)`

[2017-06-12 12:15] rickard-von-essen commented on #5004
Clould you fix your json in the OP, thanks.

[2017-06-12 12:33] beenje commented on #5004
Fixed. Sorry.
You have the full packer template with the atlas post processor here if needed: https://gist.github.com/beenje/5a50d96dc2a719e27593a5f2188fc27e

[2017-06-12 15:31] justincampbell commented on #4973
@stephenreay I'm focusing on the discrepancies server-side in handling the atlas vs vagrantcloud post-processors. I suspect the 3x uploads may be a client-side issue, but I'll look into that afterwards. Thanks for clarifying!

[2017-06-12 17:35] mwhooker commented on #5000
as rickard said, this can be done with other tools. I think this would be a fine addition to packer if someone wants to submit a pr (activated by a flag). However, this is not something that we're planning on implementing, so going to close this.

[2017-06-12 17:35] #5000 closed

[2017-06-12 17:37] #5001 closed

[2017-06-12 17:43] mwhooker commented on #4989
that generally means you don't have ruby installed correctly (I think usually that you have two versions). I would try to make sure your environment is set up correctly. If you want help, you could ask in https://groups.google.com/forum/#!forum/packer-tool or on stackoverflow, but a github issue is not the best place to work through these types of issues.

[2017-06-12 17:43] #4989 closed

[2017-06-12 17:49] mwhooker commented on #5004
here's the issue

[code]

so we're probably reading something in to memory when we shouldn't. Will investigate more

[2017-06-12 18:34] mwhooker commented on #5004
@beenje hi, any chance you can test my patch, #5005? I can give you a binary if you're not able to build packer.

[2017-06-12 19:19] puneetloya commented on #5003
closing this. It was putting the image in a systems folder, am mentioning an existing container, it does not put it there like why?

[2017-06-12 19:19] #5003 closed

[2017-06-12 20:15] boumenot commented on #5003
Please see the docs concerning [capture_container_name](https://www.packer.io/docs/builders/azure.html#capture_container_name) and [capture_name_prefix](https://www.packer.io/docs/builders/azure.html#capture_name_prefix).  Unfortunately, the Azure API does not allow any other placement.

[2017-06-12 20:35] beenje commented on #5004
@mwhooked, I just tested your patch and it worked. Thanks!
The full debug log is here: https://gist.github.com/beenje/2b3e868c961403df004b6425f5917450

Is it normal to have 3 attempts for the upload?
[code]

[2017-06-12 20:46] mwhooker commented on #5004
I'm not sure right now. We've had another report of that over here though. https://github.com/hashicorp/packer/issues/4973#issuecomment-307446717

We're looking in to it

[2017-06-12 23:28] harryluo91 opened #5006 "The file provisioner hangs in WindowsServer 2016 Datacenter image"
I am building an image using `azure-arm` with the `WindowsServer 2016 Datacenter` image from the market place. Everything runs well until packer tries to execute the `file` provisioner to copy over my application folders to the image. The same script works for a `WindowsServer 2012 R2` image.

Debug Output:
[code]

Script:
[code]

Packer version: Packer v1.0.0
Host Platform: MacOSX Sierra
Debug Lo

[2017-06-12 23:37] mwhooker commented on #5006
Please add your entire debug log.

how long does it hang for? your debug log shows 45 seconds, which isn't long enough to consider this a bug. winrm can be abysmally slow.

[2017-06-13 00:11] mwhooker opened #5007 "amazon: issues stopping instance"
Have seen a build fail in two separate but similar ways.

* failed to stop instance because image does not exist
* failed to stop instance because instance is in state pending

[code]

[code]

We've had a number of issues like this before. likely an issue with api consistency. http://docs.aws.amazon.com/AWSEC2/latest/APIReference/query-api-troubleshooting.html#eventual-consistency

so we should wr

[2017-06-13 00:36] #5004 closed

[2017-06-13 00:38] mwhooker commented on #5004
@beenje the multiple upload issue should be fixed in #5008

[2017-06-13 00:38] mwhooker commented on #4973
The issue with multiple uploads should be fixed in #5008 if anyone cares to try out that branch

[2017-06-13 05:56] beenje commented on #5004
@mwhooker thanks for the feedback!

[2017-06-13 13:35] harryluo91 commented on #5006
hi @mwhooker thanks for the response. Yeah I did not save the report for the original run, but it will just keep showing the same thing for over an hour. I can run it again today for half an hour if you want. Below is a more detailed report I got from this run, I can update it later today for the full run.

As you can see it hangs on Line 75 before I terminated the build:
[code]
In my previous run

[2017-06-13 17:51] bevacqua opened #5010 "Packer crashed when baking image"
- packer v0.10.2
- macOS Sierra 10.12.4

[code]

Full log: https://gist.github.com/bevacqua/2c09d2c4b11ca0f27226598589f8b160

[2017-06-13 17:57] mwhooker commented on #5010
Please update to the latest version of packer, as this has already been fixed

[2017-06-13 17:57] #5010 closed

[2017-06-13 17:59] bevacqua commented on #5010
Figured as much, glad it's already fixed 👍

[2017-06-13 17:59] harryluo91 commented on #5006
Ok so I confirmed that this issues is caused by the file provisioner trying to upload an entire directory. Apparently it takes a long long time to upload a folder with many files, however the size of the folder is not so big, only 60MB. The script ran without problems if I zip that folder, but it still took about 15 mins to upload that 30MB zip file.

[2017-06-13 18:13] mwhooker commented on #5006
yeah, winrm isn't very fast right now unfortunately. see #4806 for example.

sorry, there's not much we can do about that right now

[2017-06-13 18:13] #5006 closed

[2017-06-13 18:26] Sk8rMarc commented on #4875
I'm trying to build an AMI for a g2.8xlarge instance type and am having issues.  Packer terminates leaving the created instance running, and abends with "Error tagging source instance ... does not exist"  reporting status 400 and InvalidInstanceID.NotFound.  I'm sorry, I'm in a crunch, but my work around was to simply remove the run_tags object which allows the amazon-ebs builder to complete.

[2017-06-13 20:54] justincampbell commented on #4973
@ladar @stephenreay We've fixed an issue preventing multiple builders from being released with the same version. Please try again and let me know if this issue is resolved. Thanks!

[2017-06-13 21:24] justincampbell commented on #4973
I've also updated the [migration docs](https://www.vagrantup.com/docs/vagrant-cloud/vagrant-cloud-migration.html#packer-and-terraform-enterprise) and [vagrantcloud post-processor docs](https://www.packer.io/docs/post-processors/vagrant-cloud.html#use-with-vagrant-post-processor) to recommend computing the version with a timestamp in the variables instead of the post-processor.

[2017-06-14 00:40] #4615 closed

[2017-06-14 00:47] mwhooker commented on #3722
fixed in #4996

[2017-06-14 00:47] #3722 closed

[2017-06-14 00:48] mwhooker commented on #4279
fixed in #4996

[2017-06-14 00:48] #4279 closed

[2017-06-14 00:48] mwhooker commented on #3109
fixed in #4996

[2017-06-14 00:48] #3109 closed

[2017-06-14 01:16] Spenser309 commented on #4746
Hey,

Just FYI, I'd really like to see this implemented as well.  My company doesn't allow createTags for all users and I had to ask for additional permissions to get the access I need to run packer.

Spenser

[2017-06-14 02:06] fxfitz commented on #4500
@mwhooker We are currently seeing this as well on GitLab CI.

@VEBERArnaud Did you ever find a solution?

Packer v1.0.0

[code]

[code]

Significant Output:
[code]

[2017-06-14 04:08] ladar commented on #4973
Is there a website where I can grab a nightly snapshot? Or do I have to grab the code and setup a build environment?

[2017-06-14 07:10] rickard-von-essen commented on #4789
See https://github.com/hashicorp/packer/pull/4996#issuecomment-308278968

[2017-06-14 13:11] mezgani commented on #174
We still interested for Packer builder for Linode, any update?

[2017-06-14 15:03] cberner commented on #4939
Are there any workarounds for this issue?

[2017-06-14 17:58] optimisticanshul commented on #174
I will send the PR if linode supports build image now. Will have a look at linode i think i do have an account there.

[2017-06-14 18:07] mwhooker commented on #4973
@ladar we don't have snapshots available right now. If you tell me your os/arch, I can build you something though. Otherwise downloading yourself and building is the best bet

[2017-06-14 18:14] mwhooker commented on #4789
@rickard-von-essen what about the use case mentioned here, of having multiple builders that each need a separate profile?

It doesn't seem possible to support that by having the user set `AWS_PROFILE`, so the only way to do that would be to support the profile option. I'm fine with this.

If you don't think that's a use case that should be supported, then I think that's a separate discussion

[2017-06-14 19:56] rickard-von-essen commented on #4789
Yes for that use case the `profile` option is needed and after some thinking I would like to keep it and document it.

(https://github.com/hashicorp/packer/pull/4996#issuecomment-308278968)

Profile is not really handling auth with packer it's more an enabler for use to leverage the aws sdk by telling it which config to load. For sure you could use `AWS_PROFILE` env var, but as many points out lim

[2017-06-14 23:46] #4789 closed

[2017-06-15 15:19] halmer1984 commented on #1799
I have a question, I see that packer creates the  temporary keypair, however it deletes the keypair. So what key pair is used to access the Instance once it has launched

[2017-06-15 15:21] myoung34 commented on #1799
@halmer1984 it uses the keypair that it created before it deletes it

[2017-06-15 15:34] rickard-von-essen commented on #1799
Don't zombie 👻  old issues.

---

Please only use _GitHub Issues_ for reporting bugs and feature requests. Do not ask for general help here. Use _IRC `#packer-tool` on Freenode_ or the [mailing list](https://groups.google.com/group/packer-tool) for that.

See https://www.packer.io/community/

[2017-06-15 22:55] icnocop opened #5016 "VMware ISO ESX 5 driver can't communicate with vm if the vm was automatically migrated by vSphere's DRS (Distributed Resource Scheduler)"
Hi.

Packer v1.0.0
Windows 7 Enterprise SP1 64-bit
Packer builder type: vmware-iso
Packer remote type: esx5
VMware vSphere 6.5.0 Build 5178943
Using ssh provisioner.

The VMware ISO ESX 5 driver can't communicate with the virtual machine if the virtual machine was automatically migrated by vSphere's DRS (Distributed Resource Scheduler) during the build.

It seems packer loses the virtual machine's

[2017-06-15 23:01] mwhooker commented on #5016
Thanks for the report. I don't know enough about esxi to know what would be involved in handling this scenario.

Does anyone who does have any insights?

[2017-06-15 23:41] rismoney commented on #4675
it would be great if the executionpolicy and noprofile were easily controlled via the provisioner.

[2017-06-16 00:37] mwhooker commented on #4675
@rismoney I agree that seems useful, but I think it's not related to the ticket. Would you mind opening a new issue requesting that so it doesn't get lost here?

[2017-06-16 07:53] srggavrilov commented on #869
@sebastianreloaded try to add serial device. And you probably also need to change first NIC type to NAT:
[code]
Anyway, I'd recommend to stick with bento boxes, since after you're successfully booted you'll have to solve login issue (ubuntu uses random password for its default 'ubuntu' user and it is being changed from version to version) and who knows what else. I dropped this way after 2 days of

[2017-06-16 10:49] rickard-von-essen commented on #4814
Closed in d2ae36214a84111314e053e527bca215a8e25b54

[2017-06-16 10:49] #4814 closed

[2017-06-16 11:00] sirmax123 opened #5018 "GCP: get unexpected Error 403: Required 'compute.networks.get' permission for forbidden for shared network."
Hi!

Short description: **can create instance with gcloud but packer build fails on instance creation stage.**

I'm trying to build image using shared network in GCP
1. I'm able to create VM in this project using shared network/subnetwork from another project using UI
2. I do not have permissions to list subnetworks, error message is
```You do not have sufficient permissions to view this page.```

[2017-06-16 19:27] icnocop commented on #2530
@arizvisa, thank you for the pull request. It looks like it needs to be rebased again.

[2017-06-17 00:21] rismoney commented on #2715
@rickard-von-essen do you have a link to substantiate:

[2017-06-17 04:17] rickard-von-essen commented on #2715
@rismoney see this comment for a explanation https://github.com/hashicorp/packer/issues/2715#issuecomment-158249368. The solution to this is most likely a new `vSphere` builder see #4526.

[2017-06-17 08:03] rickard-von-essen commented on #5018
The reason this fails is that we try to lookup the `network` and `subnetwork` so we can use the [`SelfLink`](https://cloud.google.com/compute/docs/reference/latest/networks#resource) of these.

[2017-06-17 12:54] rickard-von-essen commented on #5016
This isn't really supported since we build directly on ESXi and this vSphere feature interfere with that.

I think you have three options:

1) Turn this off
2) Use a dedicated ESXi host for this not handled by vSphere. You can run a nested ESXi for that.
3) Wait for the WIP `vSphere` builder.

[2017-06-17 20:13] arizvisa commented on #2530
@icnocop, kk. i'm on it.

[2017-06-17 20:42] arizvisa commented on #2530
Squashed. Just some documentation fixes.

I also added another commit that turned the tests that expliclty rely on the existence of the VMware binaries into acceptance tests.

[2017-06-17 23:25] florianparain opened #5020 "Amazon EBS with launch_block_device_mappings and virtual_name fails"
Packer fails to build my AWS AMI.
`Packer v1.0.0`

Type: amazon-ebs with `launch_block_device_mappings.virtual_name`
Il I remove the `launch_block_device_mappings.virtual_name` option it works.

Please see the gist for the logs and json file.
https://gist.github.com/florianparain/e938b49b71b42e0a9409d86a1ee15a18

    ==> amazon-ebs: Error launching source instance: MissingParameter: The request mu

[2017-06-18 00:04] swimmingchar commented on #2420
on redhat6 ,I use ansible with sudo,see this error,I use  @RichardHightower the way ,but see that all ways.

[2017-06-18 06:36] nodesocket opened #5021 "builders[]."ssh_pty": true, still erroring su: must be run from a terminal"
Running Packer 1.0.0.

**packerfile**
[code]

**scripts/node.bash**
[code]

Erroring with:

[code]

[2017-06-18 07:43] florianparain commented on #5020
Il I remove the `launch_block_device_mappings.virtual_name` option it works.

[2017-06-18 08:27] rickard-von-essen commented on #5021
Please supply the information requested in the issue template:
- The _simplest example template and scripts_ needed to reproduce the bug.
  Include these in your [gist](https://gist.github.com).

[2017-06-18 08:35] rickard-von-essen commented on #2420
Hi @swimmingchar, thanks for reaching out.
You need to unset `Defaults    requiretty` in `/etc/sudoers`. For more info see Ansibles docs for [Become](http://docs.ansible.com/ansible/become.html).

This ticket is really old so it's probably not relevant to the issue you're seeing. If you're still think this is a bug, would you please open a new issue with the debug log and a json that reproduces th

[2017-06-18 17:56] TheNotary commented on #4503
So, just to keep things well documented here on a resource available to google, unless I'm mistaken, you can't build with this builder without a license from VMWare.

[2017-06-18 18:14] rickard-von-essen commented on #4772
Resolved in #4023 and #4948

[2017-06-18 18:14] #4772 closed

[2017-06-18 21:58] it-praktyk opened #5022 "Hyper-V Builder - build fails on non-English Windows version"
- Packer version: 1.0
- Host platform: Windows 10
The Packer Hyper-V build uses hard coded strings to verify if build is run  under a user account what belongs to groups: 'Administrators' or 'Hyper-V Administartors'.

If language settings are non-English groups names are different e.g. in Polish: "Administratorzy" or "Administratorzy Hyper-V".

The function verifyHypervPermissions
https://github.c

[2017-06-19 02:29] pvandervelde opened #5023 "Hyper-V builder assumes that host operating system shares network adapter with VMs"
When booting the VM it is possible for Packer to host a [webserver](https://www.packer.io/docs/builders/hyperv-iso.html#httpip) from which the VM can download files. The boot command can encode the host IP address by using the following template

   preseed/url=http://{{.HTTPIP}}:{{.HTTPPort}}/preseed.cfg

Where `HTTPIP` and `HTTPPort` are replaced with the host OS IP address and the suitable port

[2017-06-19 07:31] rickard-von-essen commented on #5020
Correct me if I'm wrong but I think this can only bee named `ephemeralN`.

See [Block Device Mapping](https://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_BlockDeviceMapping.html)

[2017-06-19 08:51] sirmax123 commented on #5018
@rickard-von-essen  Are any workaround for  this case?

[2017-06-19 14:30] rickard-von-essen commented on #5018
I think the only workaround currently is to try to modify the permissions of the `network` so the project/account is allowed to read (do a GET) on them. I'll see if I can provide a patch soon, but I don't have time to setup an environment to test on.

[2017-06-19 16:48] sirmax123 commented on #5018
I can test on my env as soon as you'll provide patch.

I can't change permissions  of the `network` because I have limited account.

Thank you!

[2017-06-19 17:57] mwhooker commented on #5016
This sounds like a reasonable idea, but this has low chance of being a priority for us anytime soon, so we'd rather close this issue than have it stagnate for more years to come. The best way to get this implemented would be to submit a PR. If you do so, we'd welcome this work. If you want to discuss how to go about doing this, I'm happy to do that too.

Again, just want to say thank you for sugge

[2017-06-19 17:57] #5016 closed

[2017-06-19 18:06] mwhooker commented on #5020
I think @rickard-von-essen is right. Can you test a new json with a correct virtual name? If that was the problem, let's add a validation check on the virtual device name

[2017-06-19 18:27] mwhooker commented on #4503
I believe packer works with vmware workstation player on windows and linux https://my.vmware.com/en/web/vmware/free#desktop_end_user_computing/vmware_workstation_player/12_0

[2017-06-19 19:43] puneetloya opened #5025 "Azure-arm: Add public key authentication to OS profile"
The template json created for the azure VHD using packer always has only password authentication support. I looked over the code, am not sure if this is impletemented yet. Can this be done?

https://github.com/Azure/azure-quickstart-templates/blob/052db5feeba11f85d57f170d8202123511f72044/201-vm-multiple-nics-linux/azuredeploy.json#L250

So that we can start a VM using this template with public key

[2017-06-19 23:12] nodesocket commented on #5021
@rickard-von-essen sure let me give it a shot.

[code]

And the script `scripts/node.bash`:

[code]

[2017-06-19 23:42] afaleti opened #5026 "How to get the account number to use with source_ami_filter"
I build AMI's monthly and currently hardcode the AMI ID in my builders template but would like to use the source_ami_filter to always get the latest AMI but I need to figure out the Account Number to us so that I get the vendor version published by Amazon, RedHat or Canonical.

Amazon Linux/Ubuntu 14/16 & RHEL ?

 source_ami_filter  (object) - Filters used to populate the  source_ami  field. Examp

[2017-06-20 00:29] mwhooker commented on #4973
Packer 1.0.1 is released which should have a fix for this. If you're still seeing an issue, will you please let us know so we can reopen?

Thanks!

[2017-06-20 00:29] #4973 closed

[2017-06-20 00:42] jeffmacdonald opened #5027 "Getting Started - Build an Image - Instructions need work."
Hi,

If you follow the instructions on https://www.packer.io/intro/getting-started/build-image.html as a new packer user, you will see output like this:

[code]

I don't have enough experience yet to understand why or how this works/happens, but for a new user, there must be a step missing from the Build an Image page. I'll continue looking into it.

[2017-06-20 00:45] jeffmacdonald commented on #5027
Ah ha, just discovered the solution. ssh_user name needs to be changed from ubuntu to ec2-user.

[2017-06-20 01:13] jeffmacdonald commented on #5027
Found out why. The instructions are for an AMI that no longer exist. ami-4191b524

And so I chose to use ami-4191b524 which is a bit newer and uses ec2-user instead of ubuntu.

[2017-06-20 01:52] jeffmacdonald commented on #5027
Okay, here is the issue: I was not using the same AMI from the tutorial. I had changed it to a Amazon Linux AMI a few weeks ago and hadn't picked up the tutorial till now.

In anycase, the AMI mentioned on the actual page no longer exists. One of the perils of putting tutorials on the net I suppose :)

[2017-06-20 05:44] rickard-von-essen commented on #5027
We should probably use an AMI filter that will pick Ubuntu 16.04 LTS. That will solve the ami-id doesn't exist issue for a long time.

[2017-06-20 06:41] StefanScherer opened #5028 "packer.exe 1.0.1 additional output"
The new packer.exe 1.0.1 output has additional information that more looks like debug output.

[code]

Just found that problem as my tests to build a new chocolatey package for it [failed running in AppVeyor](https://ci.appveyor.com/project/StefanScherer/choco-packer/build/1.0.1.111).

[2017-06-20 07:35] mwhooker commented on #5028
Ahh, thanks for catching this. Sorry about that.

Do you have a workaround for now? Let me know if I can help figure one out.

We'll get this fixed

[2017-06-20 10:55] larstobi commented on #4949
@rickard-von-essen Yes, I tried it before opening this ticket, and I couldn't make cloud-init work with user_data. And since I can't log in to the VM after a failed cloud-init boot, because there is no default password, I'm unable to look in the logs to find out what is wrong.

[2017-06-20 11:31] localghost commented on #4769
I had the same issue (CentOS 7.3 minimal, VirtualBox 5.1.22, Packer 1.0.0). For me it helped to install `libxkbcommon-x11` package. Additionally, I applied workaround suggested [here](https://github.com/hashicorp/packer/issues/4309#issuecomment-268623867) - to not send boot command to quickly.

[2017-06-20 13:03] awiddersheim commented on #2679
+1

[2017-06-20 16:41] StefanScherer commented on #5028
@mwhooker Yes, no problem. I can adjust my test that tries to fetch the version number from the stdout.

[2017-06-20 18:06] SwampDragons commented on #5026
Hi! Thanks for writing. 099720109477 is the account number for Canonical, so this example should work right out of the box.

[2017-06-20 18:32] mwhooker commented on #5026
If you have an image already that you'd like to get the owner of, you can use [`describe-images`](http://docs.aws.amazon.com/cli/latest/reference/ec2/describe-images.html)

You can find AMIs on the marketplace here https://aws.amazon.com/marketplace/b/2649367011?ref_=hmpg_categories_2649367011

Otherwise, there are resources on the internet that might be helpful. For example, you can find ubuntu i

[2017-06-20 18:32] #5026 closed

[2017-06-20 19:08] #5007 closed

[2017-06-20 19:55] lfarnell commented on #2679
please don't +1 in a comment. Please use a reaction stead. It generates unnecessary emails when a +1 comment is made

[2017-06-21 01:50] #5027 closed

[2017-06-21 01:57] matt-richardson opened #5031 "Packer 1.0.1 cant run scripts on ubuntu with environment variables"
I've just upgraded to packer 1.0.1, and I've found that its not able to run scripts on Ubuntu 16.04. It appears that its due to [this change](https://github.com/hashicorp/packer/commit/1ba7f9cc20d5947c7c562f799cebcf3b5601fcce).

Adding
[code]
to the provisioner to revert to the old behaviour resolves the problem.

- Packer version from `packer version`: `1.0.1`
- Host platform: `Windows 10, versio

[2017-06-21 02:14] mwhooker commented on #5031
sorry about that. thanks for the report

[2017-06-21 03:21] mwhooker opened #5032 "builder/vmware: ssh: must specify HostKeyCallback"
missed this in #4900 and #4910 it seems

[2017-06-21 07:34] Lee303 commented on #5023
Could you please provide me the output of the following commands:

``Get-VMNetworkAdapter -ManagementOS -SwitchName "VistaLAN" | select deviceid``
``Get-NetAdapter | select name, deviceid, ifindex, interfacedescription``
``gwmi win32_networkadapterconfiguration -filter "IPEnabled = 'TRUE'"``

[2017-06-21 08:12] pvandervelde commented on #5023
From my home PC (where this also happens)

I executed this:

    $getVMNetworkAdapterResult = Get-VMNetworkAdapter -ManagementOS -SwitchName "External switch" | select deviceid
    $getNetAdapterResult = Get-NetAdapter | select name, deviceid, ifindex, interfacedescription
    $wmiResult = gwmi win32_networkadapterconfiguration -filter "IPEnabled = 'TRUE'"

    Write-Output ''
    Write-Output ''

[2017-06-21 09:24] ArchontPnz opened #5033 "Remote ESXi builder failing on retrieving VM ip. ESXi 6.0, packer 1.0"
I'm using a ESXi 6.0 host for testing packer and I've been trying to get the vmware-iso remote ESXi builder to work. With packer 1.0. I get to the point where packer tries to retrieve the guest IP with "esxcli --formatter csv network vm port list -w #######" but errors out saying it cannot find the ip.

Packer log:
[code]

[2017-06-21 09:49] marema31 commented on #5033
Hello,
Have you enabled the following option ?
esxcli system settings advanced set -o /Net/GuestIPHack -i 1

[2017-06-21 10:19] rickard-von-essen commented on #5033
Please supply the information requested in the issue template:
- The _simplest example template and scripts_ needed to reproduce the bug.
  Include these in your [gist](https://gist.github.com).

---

This is most likely you guests network not properly starting. Access the VM's console and troubleshoot the network.

[2017-06-21 11:25] ArchontPnz commented on #5033
Added gitst.github with jason-files https://gist.github.com/ArchontPnz

[2017-06-21 12:00] rickard-von-essen commented on #5033
And pressed.cfg

[2017-06-21 12:10] ArchontPnz commented on #5033
https://gist.github.com/ArchontPnz/dddc40ba2d452b355be71dab1e8a8379

[2017-06-21 12:35] rickard-von-essen commented on #5033
And what do your VM's console show?

[2017-06-21 12:50] ArchontPnz commented on #5033
http://imgur.com/a/eixkG

[2017-06-21 13:02] elconas opened #5034 "Azure builder device login failes in AzureGermanCloud"
With packer 1.0.0 we see the following error, when running device login version of packer in Azure Germany:

[code]

Reason seems to be https://github.com/hashicorp/packer/blob/master/builder/azure/common/devicelogin.go#L20-L22 which is missing an entry for Azure Germany.

[2017-06-21 13:33] rickard-von-essen commented on #5033
The _guest VM's_ console.

[2017-06-21 14:30] ladar commented on #4973
I finally had a chance to update my configs (again) to use vagrant-cloud, and am pleased to report everything went smoothly. I was able to upload a QEMU (aka libvirt), Hyper-V, VMWare, and Virtualbox image using the same version number, and thus tested the Linux (x64) and Windows (x64) versions of 1.0.1.

P.S. Everything also appeared to upload in a single pass.

[2017-06-21 14:49] ladar commented on #4969
If I had to guess... because vagrant has been around longer, and is frequently used to pull boxes off internal repos. Packer on the other hand presumes that if your downloading the ISO via a network, it needs to verify all that it can, and this the strict hash requirement + cert validation. My guess is this... the developers presumed you'll either a) use HTTP and rely solely on the hash, b) downlo

[2017-06-21 14:49] justincampbell commented on #4973
@ladar Thanks for the update!

[2017-06-21 14:52] lmayorga1980 commented on #4969
Agreed. I don't think this is an issue. closing it.

[2017-06-21 14:52] #4969 closed

[2017-06-21 15:03] rickard-von-essen commented on #5018
@sirmax123 please test https://github.com/hashicorp/packer/pull/5035#issuecomment-310107219.

[2017-06-21 15:27] tdigangi5 opened #5036 "provisioner/chef-solo for windows: Error uploading cookbooks"
## Issue
When trying to provision an Windows(2012 or 2016)  amazon-ebs ami via packer 1.0.0 or 1.0.1 using chef-solo provisioner(configuration below) gets hung up on the "copy cookbooks to staging directory" and just hangs there until the sts aws session times out.

What appears to be happening from what I can tell is linux commands are being instantiated when trying to provision this windows box(

[2017-06-21 16:00] zach5410 opened #5037 "amazon: Tags for Security Groups"
Hey guys, I work for a company that has strict security measures when it comes to AWS.

One of these rules requires the use of tags on security groups.

Basically by the time we get [here](https://github.com/hashicorp/packer/blob/b1bcf62ae1e92bff5fc0dcad19b63707def246e3/builder/amazon/common/step_security_group.go#L90
) we will be dead in the water.

So I wanted to purpose adding the tags before y

[2017-06-21 16:07] rickard-von-essen commented on #5036
Please [gist](https://gist.github.com/) a full debug log from `PACKER_LOG=1 packer build template.json`.

[2017-06-21 16:10] rickard-von-essen commented on #5036
The message is:

So the subject is a bit misleading.

[2017-06-21 16:13] rickard-von-essen commented on #5037
I'm not sure that is necessary. The simple solution is to create a SG and reference it with [security_group_ids](https://www.packer.io/docs/builders/amazon-ebs.html#security_group_ids).

[2017-06-21 16:24] boumenot commented on #5034
Device login is only supported in the Public cloud, and the docs do not make that clear.  I will update the docs.

[2017-06-21 16:27] boumenot commented on #5025
Sorry, I don't understand the question.  Packer creates an image, and then you get to use the image any way you want.  If you would like to use public key or password authentication is up to you, and is decided after the fact.

[2017-06-21 16:33] boumenot commented on #4939
Sorry, it has been a while since I have had to debug an issue with a Windows build.  Have you tried connecting to the VM using WinRM and it failed?  If I remember correctly, the PEM was not required for authentication, and is used to satisfies Azure's requirements.  The certificate is necessary to configure and enable WinRM only.  The Azure examples for Windows explicitly set winrm_insecure to ski

[2017-06-21 16:49] cberner commented on #4939
I'm not using windows, this is a Ubuntu VM

[2017-06-21 16:51] boumenot commented on #4939
Sorry, I saw WinRM and misread the rest.

The workaround is to supply your own public key to the builder.

[2017-06-21 16:53] ArchontPnz commented on #5033
The guest VM builds normally and remains workable. But because of the error "Error getting SSH address: No interface on the VM has an IP address ready ...." the packer-provision does not work after build the VM.

[2017-06-21 16:55] cberner commented on #4939
I read through the documentation for the Azure builder and didn't see an option for that. How do I supply a key?

[2017-06-21 17:01] elconas commented on #5034
But azure cli 2.0 does support device login on Azure Germany, so it is a packer limitation ?

[2017-06-21 17:02] boumenot commented on #4939
SSH is a shared concept among all builders, so please see [communicator](https://www.packer.io/docs/templates/communicator.html) docs.   After thinking about this more, it still may not help you.  Are you starting with a platform image or a custom image?  If it's the latter, you can inject your public key ahead of time to make it work.

The best answer is still to modify the code to dump the key u

[2017-06-21 17:07] elconas commented on #5034
Does the app id need to be centrally registered  in Azure or can it just be generated ?

[2017-06-21 17:11] boumenot commented on #5034
It's a limitation of me.  I need to create an AppId in each sovereign cloud that Packer can use for device login, and I am reluctant to take on that work.  Sovereign clouds have additional requirements and restrictions (as they should), they make this considerable.  Ensuring an appropriate distance between myself and the sovereign clouds is important. The CLI has to work in all clouds environments

[2017-06-21 17:22] boumenot commented on #5034
One more point...

A big motivator for the Device Login was the amount of work a user had to do (know) to create an SPN. If you're already using the cli 2.0 this work has been greatly reduced.  (I am considering porting the current docs from cli 1.0 (aka XPlat CLI) to cli 2.0 as a result of this.)

The command to create an SPN with cli 2.0 is

[code]

[2017-06-21 17:24] cberner commented on #4939
Ya, that doesn't sound like it will work. We're using a platform image, and that communicator doesn't offer any way to set the public key: it just allows you to specify your private key

[2017-06-21 17:26] zach5410 commented on #5037
Security group IDs is just an array of IDs, it doesn't replace the possible necessity of having security tags.  It doesn't harm anything to add the tags.

A lot of bigger companies right now are pushing Amazon to have tags upon creation for security purposes.  So this would be a step in that direction.

[2017-06-21 17:30] elconas commented on #5034
Ok I get the issue.

We use device login on Developer Laptops to avoid distributing security principal credentials. So packer impersonates the roles and permissions of the developer (IAM corporate requirement).

In prod and test we already use service principals and it works great.

 So if effort is too big, we can probably workaround somehow ....

[2017-06-21 17:37] ryanl-ee opened #5039 "builders/azure-rm WinRM times out long before winrm_timeout value"
Packer: 1.0.1
Platform: Ubuntu 17.10
Template: https://gist.github.com/ryanl-ee/99c9cfac91d01925f1c7995ce8df0d0c
Verbose Packer log: https://gist.github.com/ryanl-ee/fa56a64a7eaf00efa28492bb02ad0676

I'm building a template to create a Server 2012 R2 image in Azure, basing it off of the example template. I added a few Powershell provisioners to install WMF 5.1 and install Windows Updates. The temp

[2017-06-21 17:40] tdigangi5 commented on #5036
Updated subject and included public gist of debug log when set PACKER_LOG=1

[2017-06-21 17:42] mwhooker commented on #5039
@ryanl-ee I think this is a timeout from the `windows-restart` provisioner. It looks like it copied a bunch of code from the winrm timeout so I'm thinking the error messages are probably confusing.

Can you set `restart_timeout` in the provisioner to be longer than `5m` and see if it works?

[2017-06-21 17:44] ryanl-ee commented on #5039
Great call out. That is probably the issue. I didn't even see that option. I'll try that again now, thanks!

[2017-06-21 17:44] mwhooker commented on #5036
Can you please add a few sentences describing the issue you're seeing?

[2017-06-21 17:48] elconas commented on #5034
One more question, can this be an config option. So I can use my own app id in my own ad tenant ?

[2017-06-21 18:00] tdigangi5 commented on #5036
Updated with more detail surrounding issue

[2017-06-21 18:17] mwhooker commented on #5036
I think this has something to do with this error

`Error uploading cookbooks: Error restoring file from $env:TEMP\winrmcp-d00f849f-8689-42a2-68b8-d1dc1e17b442.tmp to C:\Windows\Temp\packer-chef-solo\cookbooks-0\aptos\test\packer\berks-cookbooks\aptos\test\packer\berks-cookbooks\aptos\test\packer\berks-cookbooks\aptos\test\packer\berks-cookbooks\aptos\test\packer\berks-cookbooks\aptos\files\default

[2017-06-21 18:26] mwhooker commented on #5036
@tdigangi5 could you test with packer 0.12.3? https://releases.hashicorp.com/packer/0.12.3/

[2017-06-21 18:43] boumenot commented on #5034
I had not considered this scenario - thank you for sharing it. 👍

There's nothing special about the device login, so there's no reason you can't bring your own AppID.  It will require a code change, which is to be expected.  There is only one spot I noticed when I reviewed the code.

If you want to make the code change yourself I *think* you only need to change the following.

 1. Register your Ap

[2017-06-21 18:48] tdigangi5 commented on #5036
0.12.3 is having the exact same issue there is no change in the logs / error.

[2017-06-21 18:56] tdigangi5 commented on #5036
Additional Info: https WinRM by default does not work with packer(or at least I was never able to get it work), therefore I have a powershell script called in user data that allows this to function. https://gist.github.com/tdigangi5/85b0b3bb5f7b35c7b829828928f22cdd

[2017-06-21 19:06] #5032 closed

[2017-06-21 19:34] puneetloya commented on #5025
So this is what I understand about Azure:

The image created using azure-arm does not show up as an image in the Azure Portal. Neither as a managed image nor as a Classic Image.
It shows up as a VHD in a storage account within a Container.

So to host this VHD as a machine, we need to use the template json to create a machine out of it.
Here is a template packer generated for the image:

https://g

[2017-06-21 20:49] #5037 closed

[2017-06-21 21:02] pvandervelde commented on #5023
And the outcome of the previously mentioned script on the work machine is:

	Get-VMNetworkAdapter -ManagementOS -SwitchName "VistaLAN" | select deviceid

	Get-NetAdapter | select name, deviceid, ifindex, interfacedescription

	name deviceid                               ifIndex interfacedescription
	---- --------                               ------- --------------------
	Host {387DFE6E-B41A-4417-

[2017-06-21 21:51] ryanl-ee commented on #5039
That was it! Thanks again.

[2017-06-21 21:51] #5039 closed

[2017-06-21 22:04] Stephanevg opened #5041 "hyperv-iso: Timeout waiting for WinRM."
BUGS:
Hi, I am trying to build a Windows Server image using the winrm communicator.
It seems to hang at: 'Waiting for WinRM to become available...'

I used the following code to enable WinRM and set the correct firewall rules:

[code]

Describe the problem and include the following information:

- Packer version from `packer version`
1.0.1

- Host platform
Windows 10

- Debug log output from `PACK

[2017-06-21 22:49] #5028 closed

[2017-06-21 23:32] mwhooker commented on #5031
hmm, fwiw, running your script on docker with the change in #4909 reverted shows the same error.

We definitely should not have broken existing behavior in a minor version change, but I believe your script is buggy, since it doesn't have a shebang. If you add `#!/usr/bin/env bash` to the top, I believe it will work.

What was happening is that when you execute the script through the shell, it prop

[2017-06-21 23:36] #5031 closed

[2017-06-22 09:30] sirmax123 commented on #5018
@rickard-von-essen
I tested in the following way:

1. Remove all exiting packer bin files.
[code]

2. Build new packer binary from  pull request with following commands:
[code]
Check  git log:
[code]
Build:
[code]
Copy bin/packer to /usr/local/bin/packer

After I tried to run packer and got error looks like i had before:

[code]
Could you please fixme if I built packer in wrong way.

Also  it look

[2017-06-22 10:47] rickard-von-essen commented on #5018
[code]
on macOS

[2017-06-22 11:06] luisamador opened #5045 "Packer Azure keep temporary resource group"
Packer should give you the option to keep the temporary resource group when building an image.

Why? - If the security principal used by Packer doesn't have permissions to create/delete resource groups within the Azure subscription, Packer build will fail.

The admin of my subscription could create a resource group called 'packer' which would be used by Packer during the build process as the tempo

[2017-06-22 11:07] rickard-von-essen commented on #5018
And you need to use the full urls for network and subnetwork. Like when you used gcloud to launch an instance.

[2017-06-22 11:56] justme1121 opened #5046 "openstack builds that exceed 1 hour duration always fail"
### Any openstack build that exceeds 1 hour for running will always fail with the following in the log:

2017/06/22 06:50:29 ui: [1;32m==> openstack: Stopping server: 00de30fb-ff9a-48c1-8c87-c0174b0672be ...[0m
2017/06/22 06:50:30 ui error: [1;31m==> openstack: Error deleting temporary floating IP[0m
2017/06/22 06:50:30 ui error: [1;31m==> openstack: Error terminating server, may still be aro

[2017-06-22 11:58] sirmax123 commented on #5018
[code]
Now it looks OK for me:

[code]

Thank you!

[2017-06-22 12:06] rickard-von-essen commented on #5018
I'll check if network is needed, my guess is that it is.

[2017-06-22 14:57] rickard-von-essen commented on #5018
Seems like you can skip `network` if you provide the full URL. But I need to check some docs before modifying this logic.

[2017-06-22 15:01] zach5410 opened #5047 "Updating aws-sdk-go api"
Hey guys, I am working on adding tags on creation instead of after when using amazon-ebs.

Amazon has updated its api for RunInstancesInput to allow tags. [here](https://docs.aws.amazon.com/sdk-for-go/api/service/ec2/#RunInstancesInput.SetTagSpecifications)

I have updated the code in step_run_source_instance to use the new api value.  But when I go into the api I do not see the new SetTagSpecific

[2017-06-22 15:04] zach5410 commented on #5047
Also, where can I find the test files for step_run_source_instance?  I would like to update the test with the new procedure, but I am having a hard time finding the test suites

[2017-06-22 15:07] rickard-von-essen commented on #5047
If I remember correctly (we recently changed to `govendor`):

1) Update the dependency in your `GOPATH`.
2) Run `govendor update`
3) Verify the changes and commit.

Tests should be in `step_run_source_instance_test.go`, but there ain't any for that step.

[2017-06-22 15:34] zach5410 commented on #5047
@rickard-von-essen can you please elaborate on why I am changing my GOPATH dependency.
Newbie to govendor lol

[2017-06-22 16:16] SwampDragons commented on #5033
There was an SSH error introduced with esx5 in the 1.0.1 release.  Please try upgrading to 1.0.2 and let us know if you are still experiencing an issue.

[2017-06-22 16:54] SwampDragons commented on #5033
I made a comment earlier that this might be related to the insecurehostkey issue, but this is the wrong version of packer for that.

[2017-06-22 17:01] mwhooker commented on #5047
You can also use fetch

[code]

`govendor fetch github.com/aws/aws-sdk-go/service/ec2`

if there's a specific git commit you want to update to

`govendor fetch github.com/aws/aws-sdk-go/service/ec2@<sha hash>`

[2017-06-22 17:01] #5047 closed

[2017-06-22 17:01] mwhooker commented on #5047
see also https://github.com/hashicorp/packer/blob/master/CONTRIBUTING.md#govendor

[2017-06-22 17:11] zach5410 commented on #5047
Thanks guys!

[2017-06-22 17:45] boumenot commented on #5025
Gotcha.  Your question is appropriate for the community, but not as a GitHub issue.  This issue is about how to consume the image, not an issue with Packer.

If you want to deploy the image you've created you can use the [CLI to deploy a new VM](https://docs.microsoft.com/en-us/cli/azure/vm#create) with SSH keys using the Packer created VHD.

[code]

[2017-06-22 17:45] #5025 closed

[2017-06-22 18:50] rickard-von-essen commented on #5033
ESXi never detects an IP for the guest. This is clearly a config error.

[2017-06-22 18:52] SwampDragons commented on #4778
I looked into this and there are several other roadblocks to getting docker to work for windows, ultimately because the Docker builder was written before Docker for Windows was even a thing.

We intend to (eventually) work around these issues by using the docker API (see the WIP branch here: https://github.com/hashicorp/packer/pull/4186) but in the meantime addressing this specific bug won't immed

[2017-06-22 18:52] #4778 closed

[2017-06-22 19:41] rickard-von-essen commented on #5046
Related to #4260

[2017-06-22 19:43] rickard-von-essen commented on #5046
And #4262

[2017-06-22 19:45] SwampDragons commented on #4887
I've created a PR that will address this very specific issue with docker toolbox, but it's worth noting that the Packer Docker builder was written before Docker was available on Windows, and therefore was written with no assumption that there would need to be cross-platform compatibility.  File uploads are super broken in the docker builder on windows, among I'm sure a bunch of other things.  Ther

[2017-06-22 21:42] samirprakash opened #5049 "Packer build for hyperv-iso fails with `Waiting for SSH` error."
BUG:

We are trying to create a Ubuntu Vagrant box using `hyperv-iso` image type. We are stuck with the error `Waiting for SSH to be available`. After a few minutes, it times out and the build fails.

- Packer version: v1.0.2
- Host platform: Windows 10
- Debug log output: https://gist.github.com/samirprakash/b51e07c0bdc541d567a2c228e5919fa7
- Template to reproduce the bug: https://gist.github.com

[2017-06-22 21:46] mwhooker commented on #5049
please add debug log output by running packer with the environment variable `PACKER_LOG=1` set

[2017-06-22 22:39] samirprakash commented on #5049
[packerlog.txt](https://github.com/hashicorp/packer/files/1096344/packerlog.txt)

Attached detailed debug log.

[2017-06-22 23:01] matt-richardson opened #5050 "Powershell provisioner does not return all output"
The powershell provisioner does not always return all STDOUT content to the host.

It sometimes does, sometimes doesn't, so its a pain for debugging.

I am also using TeamCity service messages at the start and end of the file (for log file grouping), so when it doesn't return all the output, it confuses TeamCity.

In my repro, it returns most of the stdout, but then returns the whole lot again enc

[2017-06-23 00:42] nodesocket commented on #5021
Found the problem, just needed to add  `sudo` to `su node <<'EOF'`.

[2017-06-23 00:42] #5021 closed

[2017-06-23 05:52] taliesins commented on #5049
Are you seeing an ip address assigned to them vm? Is it able to download the speed file or run updates?

If gets an ip address make sure that ssh server is up and running. Check that your user is configured for ssh server. Check that firewall on the vm. Can you ssh to the vm?

Then check firewall on machine running Packer and anywhere between. Windows firewall has blocked access to Packer's http s

[2017-06-23 07:25] mhmsh opened #5052 "Build finished but no artifacts created - hyperv-iso"
I get the error:
`Build 'hyperv-iso' errored: Error exporting vm: PowerShell error: Move-Item : An object at the specified path C:\Users\M43EA~1.GAM does not exist.`

packer output: https://gist.github.com/mhmsh/84f6456cfdb030d3159a7fcf6bc3a2e4
template: https://gist.github.com/mhmsh/9c54b382e060c997e3b3182d6581f930.js
log: https://gist.github.com/mhmsh/2fa52669653c15f0fa9d05ebd8b3391c

[2017-06-23 11:16] mlitvin opened #5053 "Packer crash when registering AMI: unexpected EOF / panic makeslice: cap out of range"
packer 1.0.2 (run from the official docker image),

building using amazon-ebssurrogate,
the build itself seems to succeed but it errors when attempting to register AMI:

[code]
Full log and template/script can be found in https://gist.github.com/mlitvin/653fdcbf89e3b09c1560f3cacab9fc30

[2017-06-23 12:22] ArchontPnz commented on #5033
You mean the ESXi-config?

[2017-06-23 13:00] ethicalmohit opened #5054 "Issue while using file module to copy to an ami."
I am trying to copy a file and build an image but packer is not able to build an image and getting the following error.

Packer Json File: crm.json
[code]

Output:
[code]

[2017-06-23 13:02] #5054 closed

[2017-06-23 14:17] giordyb opened #5055 "vmware-iso: Unable to find available VNC port between 5900 and 6000 after updating to 1.0.2"
Packer version 1.0.2
Host: Centos 7.3

I tried updating the packer binary to 1.0.2 from 1.0.0 but it fails with

`vmware-iso: Unable to find available VNC port between 5800 and 6000 after updating to 1.0.2`

when creating a vm on esx 5.5.

when running in debug mode i get a long list of
[code]
from 5900 to 5999.

After reverting the binary back to 1.0.0 everything works fine and the build succeeds

[2017-06-23 15:55] SwampDragons commented on #5055
Probably this:  https://github.com/hashicorp/packer/pull/5051 :)

[2017-06-23 15:56] #5055 closed

[2017-06-23 16:08] ncdc opened #5056 "Parallels provisioner can fail with open .../build_name.app: no such file or directory"
Packer version: v1.0.2
Host platform: macOS Sierra 10.12.5
Parallels Desktop 12.2.0 Pro Edition (41591)

I'm not sure if this is a Packer issue or a go issue, but it appears that [this code](https://github.com/hashicorp/packer/blob/81522dced0b25084a824e79efda02483b12dc7cd/builder/parallels/common/artifact.go#L34-L38) sometimes sees and tries to delete e.g. packer-foo.pvm/packer-foo.app, and I thin

[2017-06-23 16:16] rickard-von-essen commented on #5033
Your packer template and preseed.cfg doesn't result in that the VM brings up it's NIC. If you access the guests console (VNC or VMware Remote Console) and check where it's stopping or trouble shoot the network from the guest side.

[2017-06-23 16:20] rickard-von-essen commented on #5056
cc @legal90, I've no clue yet. Do you have any guess?

[2017-06-23 16:27] SwampDragons commented on #5041
Hi!  I wonder if this could be related?  https://github.com/hashicorp/packer/issues/5039

[2017-06-23 16:35] ncdc commented on #5056
Hmm I just managed to get the error, but it did *not* print out my debugging statements. Now I'm confused as to where this error is coming from!

One difference for this failed run is that I added back my scripts to install Parallels Tools and to configure docker, which I had removed from the list of shell provisioners to try to minimize the turnaround time while debugging.

[2017-06-23 16:39] ncdc commented on #5056
Aha, the `.app` directory is created when I click on the VM screenshot in the Control Center to open up the console

[2017-06-23 16:40] ygina commented on #5046
I ran into the same issue with Packer 1.0.2 and macOS 10.12. As mentioned in #4260, there is "a bug in the keystone v3auth function used in the version of gophercloud used by packer." Vendoring the latest version of gophercloud fixed it for me.

[2017-06-23 16:51] ncdc commented on #5056
Ok I think I know what's going on. If you open the console window for the VM when packer is running, it creates this `.app` directory. When `filepath.Walk` executes, it tries to walk into the `.app` directory, but it doesn't exist any more by the time `visit` is invoked. As a result, the `err` passed to `visit` is non-nil. I think if we add an `os.IsNotExist(err)` check and return `filepath.SkipDi

[2017-06-23 17:06] mwhooker commented on #5053
Thanks for the report. Does this work with any prior versions of packer?

[2017-06-23 17:10] ncdc commented on #5056
Yeah, that fixes it. I'll submit a PR soon.

[2017-06-23 17:16] rickard-von-essen commented on #5056
Awesome triaging!

[2017-06-23 17:25] mwhooker commented on #5055
@giordyb sorry about that. You can fix this by setting the env var `PACKER_ESXI_VNC_PROBE_TIMEOUT` to `30s`

[2017-06-23 21:31] SwampDragons commented on #5046
@justme1121 are you able to test the change that @ygina made to verify that it solves your problem? https://github.com/hashicorp/packer/pull/5057

[2017-06-23 22:29] tdigangi5 commented on #5028
@StefanScherer I am still seeing this output with MacOSx with the 1.0.2 version
`packer --version
2017/06/23 18:26:21 [INFO] Packer version: 1.0.2
2017/06/23 18:26:21 Packer Target OS/Arch: darwin 386
2017/06/23 18:26:21 Built with Go Version: go1.8.3
2017/06/23 18:26:21 Detected home directory from env var: /Users/ADiGangi
2017/06/23 18:26:21 Using internal plugin for azure-arm
2017/06/23 18:26:2

[2017-06-23 22:43] samirprakash commented on #5049
IP address is not assigned to the VM. It is not able to run updates. It gets stuck waiting for the SSH connection to happen.

[2017-06-24 07:59] mlitvin2 commented on #5053
It happens also with v1.0.1. It doesn't happen with v1.0.0 (where it seems that it tries to register the wrong snap short and fails)

[code]

Note that the snapshot it take is different from the one that gives an error (but remember this is 1.0.0)

[2017-06-24 18:12] it-praktyk commented on #5049
I've found [Ubuntu install hangs on Hyper-](https://foxdeploy.com/2015/11/29/solved-ubuntu-install-hangs-on-hyper-v/) - it's an old post but maybe...

[2017-06-24 19:18] andrewcheny opened #5061 "The script does not work with latest azure cli 2.0"
Tried with Azure CLI 2.0. Replace all the command 'azure' to 'az'. Still not working.

az: error: argument _command_package: invalid choice: config
usage: az [-h] [--output {json,tsv,table,jsonc}] [--verbose] [--debug]
          [--query JMESPATH]
          {acr,acs,webapp,appservice,functionapp,batch,billing,cdn,cloud,cognitiveservices,component,configure,consumption,cosmosdb,dla,dls,feedback,fin

[2017-06-24 19:30] rickard-von-essen commented on #5061
Which script?

[2017-06-25 00:55] andrewcheny commented on #5061
azure-setup.sh.

Solved by installing Azure Cli 1.0.

[2017-06-25 00:55] #5061 closed

[2017-06-26 04:43] matt-richardson opened #5064 "First powershell script after installing powershell 5 and rebooting doesn't run"
I've got a weird situation with packer `1.0.2`, which makes it not run a script after powershell 5 is installed and the guest is rebooted. Subsequent files are executed okay.

In the output, it should have `Installing Microsoft Windows SDK for Windows 10 10.0.26624`, and also should actually install the `windows-sdk-10.0` from chocolatey. However, it does not.

The log says there's 0 bytes returne

[2017-06-26 05:23] rickard-von-essen commented on #5041
Please [gist](https://gist.github.com/) a full debug log from `PACKER_LOG=1 packer build template.json`.

And maybe a screen capture of the VM just before waiting for WinRM times out.

[2017-06-26 06:26] Stephanevg commented on #5041
Ok, i'll do that. But for now, it is unclear where I have to specify that
"PACKER_LOG=1" option.
I tried to add this line to my main template at the top, before my
'builders' section:

"variables": {
"PACKER_LOG": "1",
"PACKER_LOG_PATH": "packerlog.txt"
},

but I can't be able to find the log generated (if it actually got
generated).

I also tried directly in the BUILDERS section and got an error

[2017-06-26 07:22] rickard-von-essen commented on #5064
Install without reboot and then use the `windows-restart` provisioner and then run the second script.

[2017-06-26 07:42] rickard-von-essen commented on #5041
See [Debugging Packer in Powershell/Windows](https://www.packer.io/docs/other/debugging.html#debugging-packer-in-powershell-windows).

[2017-06-26 07:51] Stephanevg commented on #5041
Sorry for the stupid question, but the doc is unclear: where should I do
that? On the host or the system I am deploying to?

Le 26 juin 2017 09:42, "Rickard von Essen" <notifications@github.com> a
écrit :

See Debugging Packer in Powershell/Windows
<https://www.packer.io/docs/other/debugging.html#debugging-packer-in-powershell-windows>
.

—
You are receiving this because you were mentioned.

Reply

[2017-06-26 08:12] rickard-von-essen commented on #5041
Host

[2017-06-26 09:59] filip-vt opened #5065 "Ansible - Received disconnect from 127.0.0.1 port ****: too many authentication failures"
packer version: v1.0.2
initiator OS: macos
guest image OS: ubuntu 16.04
ansible version: 2.3.1.0

Output:
[code]

Was constantly getting `Received disconnect from 127.0.0.1 port 50428:2: too many authentication failures` when Ansible wanted to connect to the host. As you can see, packer can connect fine the first time.

After lots of searching it turned out that I loaded too many keys with ssh-add

[2017-06-26 10:33] rickard-von-essen commented on #5065
Just add `"ssh_agent_auth": false` since you only use a temporary keypair.

[2017-06-26 10:42] filip-vt commented on #5065
Packer uses the generated priv key and can connect fine. It's the Ansible module that goes over the complete ssh key list.

[2017-06-26 11:24] matt-richardson commented on #5064
That's what I'm doing? First script `install-powershell5.ps1` returns an exit code of 3010, then I run the `windows-restart` provisioner, then even though the `packer.json` file says run `install-win10-sdk.ps1`, it runs `install-powershell5.ps1` instead.

[2017-06-26 12:35] #5065 closed

[2017-06-26 12:35] filip-vt commented on #5065
After some more tests, it looks like it's an Ansible bug. It's doesn't look like a Packer bug.

[2017-06-26 13:43] sirmax123 commented on #5018
@rickard-von-essen I tested many times and it looks good for me.

I giess this issue can be marked as 'resolved'.

Thank you for your help!

[2017-06-26 14:06] sirmax123 opened #5067 "packer and ssh provisioner via socks/other proxy (Question/Feature Request)"
Hi!

I have the following issue: I ran packer on `builder` node which does not have direct ssh  access to network used for build.

So for now builds are  failed because `builder` can't connect directly to VM instances.
(it is GCP but it does not matter)

I tried to use proxychains-ng (https://github.com/rofl0r/proxychains-ng) but it looks like
 - packer do not use shared libs (on mac) so I'm mot a

[2017-06-26 16:02] justme1121 commented on #5046
yes, that fixes the problem

[2017-06-26 16:34] mwhooker commented on #5067
We have the notion of a bastion host for this problem. Please see https://www.packer.io/docs/templates/communicator.html#ssh-communicator

There's more context on this decision at https://github.com/hashicorp/packer/pull/2266

[2017-06-26 16:34] #5067 closed

[2017-06-26 18:33] samirprakash commented on #5049
There seems to be no solution to this IMO with the current configuration. The issue is not with packer but rather with the provider implementation using hyper-v.

Is there is a working example somewhere within packer?

[2017-06-26 18:47] Stephanevg commented on #5041
Hi, I found the source of the issue (the WinRM firewall rule exclusion was blocked to early in my script.
I know can continue with the script. )

Thanks for the inputs

[2017-06-26 18:47] #5041 closed

[2017-06-26 20:23] #4734 closed

[2017-06-26 20:23] #4928 closed

[2017-06-26 20:23] #4936 closed

[2017-06-26 20:34] rickard-von-essen commented on #5018
#5035 resolves this.

[2017-06-26 20:38] boumenot commented on #3772
@mwhooker - any update on this?

[2017-06-26 21:01] #4939 closed

[2017-06-26 21:06] boumenot commented on #4330
I think this issue has concluded, and I am closing it.  Documentation has been updated, newer versions of the agent will fail appropriately in the case of Linux, and activity on the issue appears to have stopped.  If there are other particulars that need to be surfaced let's open an issue focus on that.

[2017-06-26 21:06] #4330 closed

[2017-06-26 21:44] PerGon commented on #4719
I'm currently facing this issue and is becoming a big pain to debug some faulty bakes. I can't use the `sleep 1` solution because we are provisioning via a script file which is failing somewhere - because I'm not getting the full logs it gets hard to debug.

I've compile the packer code with a small hack that somehow solved my issue. It's really an hack, which basically puts the sleep inside the p

[2017-06-26 22:04] LorensK commented on #4719
Similar symptoms in https://github.com/hashicorp/packer/issues/5050

[2017-06-27 04:24] rickard-von-essen commented on #2678
Please feel free to open a PR.

[2017-06-27 05:09] #5056 closed

[2017-06-27 08:40] Stephanevg opened #5071 "Timeout at "Gracefully halting virtual machine.""
Hi Guys,

I am facing the following blocking issue:
I am using the Hyperv-Iso builder, and the WinRM Communicator.

[code]

It simply stays there until the shutdown_timout period is evaluated to be true.

I am calling a few scripts directly in the "FirstLogonCommands" in the autunattend.xml, once the staging is finished.

I set various settings such as firewall rules and regkeys, install dotnet an

[2017-06-27 12:15] #5052 closed

[2017-06-27 14:07] Stephanevg commented on #5071
Ok, I found the issue:

The shutdown command had some typos in it, which made it fail. Somehow, Packer didin't got the info that it fail, and I could only identify the issue through the log using Packer_log=1 at this line:

`2017/06/27 09:44:02 packer.exe: C:\Users\install>C:/windows/system32/sysprep/sysprep.exe /generalize /oobe /unattend:C:/Windows/Panther/Unattend/unattend.xml /quiet /shutdown

[2017-06-27 17:58] #5071 closed

[2017-06-27 18:45] SwampDragons commented on #3772
@boumenot No news, unfortunately. (Jumping in because Matt's gonna be mostly AFK until ~July 24)

[2017-06-27 19:20] qubitrenegade opened #5073 "packer unable to find VNC port when using v1.0 or greater and vmware-iso builder"
Hello, since upgrading to packer 1.0X I have been unable to build using the "vmware-iso" builder as packer errors out with a message that it's unable to find a VNC port.  Using v 0.12.1 and the exact same template as below works without issue.

- Packer version
Packer v1.0.2

- Host platform
CentOS 6.9, replicated on CentOS 7.2

Gist of errors and template:

https://gist.github.com/qubitrenegade/d

[2017-06-27 19:52] rickard-von-essen commented on #5073
This duplicates #5055 which has been fixed on master.

[2017-06-27 19:52] #5073 closed

[2017-06-27 20:03] #5018 closed

[2017-06-27 20:10] #5046 closed

[2017-06-27 21:34] whytoe commented on #5049
I am having this problem too,
OS: **Windows 10**
Image: **Ubuntu 16.04.02**
Configuration: Same across both Windows Machines
Packer Version:
 _1.0.2 - Fails_
_0.12.3 Works_

[2017-06-27 23:08] it-praktyk opened #5075 "Hyper-V builder - please add option where VM files need to be created"
It's a feature request for a Hyper-V builder.

Under build process are created files for a virtual machine (disks, configs, etc.).

Currently they are created in the path $TEMP what is usually like ```C:\Users\<USER_NAME>\AppData\Local\Temp\``` - usually this path is located on a system drive and space on it is limited.

Build process - if free space is near zero - is paused by host OS.

Please im

[2017-06-27 23:21] SwampDragons commented on #5028
I can't replicate, @tdigangi5 -- you're sure you don't have PACKER_LOG=1 set in your environment?

[2017-06-28 01:54] nullobject commented on #3260
This issue seems to have regressed with packer 1.0.2

[2017-06-28 05:33] rickard-von-essen commented on #3260
Hi @nullobject, thanks for reaching out.

This ticket is really old so it's probably not relevant to the issue you're seeing. If you're still having trouble, would you please open a new issue with the debug log and a json that reproduces the issue? Thanks!

[2017-06-28 09:11] bobbydeveaux commented on #4669
I had this issue with regard to the security group too.

[code]

If security group name is invalid, it just says "Invalid request due to incorrect syntax or missing required parameters. Build 'openstack' errored: Error launching source server: Invalid request due to incorrect syntax or missing required parameters."

It should specify that it was an invalid security group, no? :)

[2017-06-28 10:19] sirmax123 commented on #5067
Bastion host is NOT a solution because you need ssh access.
But very often  you have only SOCKS/HTTP with Connect method  proxy without full ssh access.

So it is just workaround for some cases and do not solve issue in general.

[2017-06-28 11:00] rickard-von-essen commented on #5067
It might be possible to add support via for SOCKS5 with http://godoc.org/github.com/samuel/go-socks/socks but it might be a lot of work or impossible to mangle it into the SSH code. PR's are welcome. Another solutions is just to tell the networking guys that you will defeat their network filtering.

That would be a very big task, OpenSSH is a complex software.

No, Go doesn't use any shared libs.

[2017-06-28 12:06] mindrunner opened #5077 "VMware Provisioner sometimes finishes with i/o timeout after shrinking disk"
I am using VMware provisioner to build a macOS Vagrant box. The last step is to call the shrink.sh script to compact the vmdk-files. This script calls 'vmware-tools-cli disk shrink' in the virtual machine. I assume, that zeros are written to the whole free disk space. Calling this manually, makes the vm unresponsive for some seconds (probably when the disk is completely filled) and drops some netw

[2017-06-28 13:50] rickard-von-essen commented on #4669
@bobbydeveaux haven't hade any time to look any further into this. It depends on what error message the API and gophercloud library returns. And maybe we could verify some resources exists before trying to use the. The drawback of that is it might require more permissions than not doing it.

If you can add more details such as the actual error returned by the API it would be awesome.

[2017-06-28 13:59] rickard-von-essen commented on #5077
I don't understand what you think Packer is doing wrong? Please elaborate.

Have you checked how bento do their minimization? See https://github.com/chef/bento/blob/master/scripts/common/minimize.sh

And packer already do compaction, see https://www.packer.io/docs/builders/vmware-iso.html#skip_compaction

[2017-06-28 14:24] mindrunner commented on #5077
Well, as my understanding is, you have to first zero out free disk space (inside vm). Then shutdown. Then compact the image from the host machine.

Bento is doing the same thing than I am trying with vmware-tools-cli. The Packer compaction is the second step of what has to be done to minimize the image size.

E.g.: When I skip zeroing the disk space before packer compacts it, my resulting image is

[2017-06-28 15:47] mindrunner commented on #5077
I added debug log output to first post!

[2017-06-28 18:45] avnish30jn commented on #5073
when will the binaries on website <https://www.packer.io/downloads.html> be updated with the bugfix ?

[2017-06-28 19:22] SwampDragons commented on #2567
Can anyone verify that #4613 fixes this issue as well?

[2017-06-28 19:57] it-praktyk commented on #5023
Issue what is duplicate #4947 of the current but formally was the first ;-)

[2017-06-28 20:00] it-praktyk commented on #5049
I observe the same symptoms. What data can I gather and deliver to move the issue forward?

[2017-06-28 20:12] matt-richardson commented on #5031
Thanks for resolving so quickly, @mwhooker.
I'll add shebang's to all my scripts so it should be good when this is re-implemented.

(When this does get re-implemented, I wonder if there is something Packer could do to detect and warn about this situation???)

[2017-06-28 20:29] SwampDragons commented on #3478
Closing this issue since it appears to have been fixed some time ago :)

[2017-06-28 20:29] #3478 closed

[2017-06-28 21:05] rickard-von-essen opened #5078 "Docs: Indentation is off"
Example https://www.packer.io/docs/builders/amazon-ebs.html
Sub-options to `ami_block_device_mappings` is not indented.

<img width="867" alt="screen shot 2017-06-28 at 23 01 46" src="https://user-images.githubusercontent.com/557699/27660097-2c27d31a-5c56-11e7-8b83-ca584d1144dd.png">

[2017-06-28 21:53] #5078 closed

[2017-06-28 23:04] SwampDragons commented on #4633
@jason-azze did you ever figure this out?

[2017-06-28 23:30] ladar commented on #5049
I've wrestled with this issue many times. You need to get the Hyper-V plugin running inside the VM during the install process or packer will never detect the IP and thus never connect. It's trickier than it sounds. Especially if you only want to install the Hyper-V plugins when building Hyper-V boxes. I've managed to get it working on Debian, Ubuntu, Alpine, Oracle, CentOS, RHEL, Fedora, Arch, Gen

[2017-06-28 23:34] ladar commented on #5049
For Ubuntu (I just noticed the JSON file above), make sure you have these packages being installed via your config:

d-i pkgsel/include string curl openssh-server sudo sed linux-tools-$(uname -r) linux-cloud-tools-$(uname -r) linux-cloud-tools-common

and you probably need to run this command (assuming your trying to login via root to provision the box):

d-i preseed/late_command string

[2017-06-28 23:44] #4887 closed

[2017-06-28 23:54] ladar opened #5080 "vagrant-cloud uploads are failing (post migration)"
My tokens were supposed to be migrated, but now my configs are failing during the release stage. See this debug output:

[code]

Of course when I logged in double check my token was migrated,  I got redirected to the Vagrant cloud, where I activated my Atlas account... only to be met with a generic error message.

P.S. This also happened to be my first attempt using packer version 1.0.2.

![screen

[2017-06-29 00:03] ladar commented on #5080
Not sure if it's related but now I see... which I assume was unplanned? The site was a little sluggish this morning.

![screenshot from 2017-06-28 19-01-56](https://user-images.githubusercontent.com/1434008/27665709-5cf349a6-5c34-11e7-9afa-10347cdfc3ae.png)

[2017-06-29 02:38] whytoe commented on #5049
This is amazing advice, @mwhooker can this be added to the hyperv-iso documentation on packer.io to ensure success with this great tool and relieve frustration :)

[2017-06-29 04:55] rickard-von-essen commented on #5049
There is a nifty tool for determining what hypervisor you are running on `virt-what`. [Example](https://github.com/chef/bento/pull/822/files#diff-9c0b37336bb0378d54aaf4443446655dR81)

If that is the case it should definitely be documented.

[2017-06-29 05:52] it-praktyk commented on #5049
Wow, thx for all answers.

https://people.redhat.com/~rjones/virt-what/

[2017-06-29 08:53] ladar commented on #5080
This issue appears to have resolved itself on it's own. I'm still having trouble with the libvirt builder (EOF errors) and packer 1.0.2 but I believe that issue is unrelated and will open a separate issue once I confirm it.

[2017-06-29 08:53] #5080 closed

[2017-06-29 11:00] jason-azze commented on #4633
@SwampDragons I'm not sure I understand your question. In this issue I am reporting a "bug" that is just some stale documentation that needs to be freshened. And in the case of item 2 above, a clarification should be added telling the user they must create a token on Atlas as well as start a trial for one of the Enterprise products.

[2017-06-29 12:22] rsjorslev opened #5083 "Packer 1.0.2 fails to connect with VNC when using vmware-iso builder against ESXi"
builder: **vmware-iso**
packer version: **1.0.2**
esxi version: **6.5.0**

excerpt from the builder used:

        "type": "vmware-iso",
        "output_directory": "{{user `vm_name`}}",
        "vm_name": "{{user `vm_name`}}",
        "keep_registered": true,
        "vnc_disable_password": true,
        "vnc_port_min": "5900",
        "vnc_port_max": "5911",
        "vnc_bind_address": "0.0.0.0"

[2017-06-29 12:24] rickard-von-essen commented on #5083
This duplicates #5055 which has been fixed on master

[2017-06-29 12:41] #5083 closed

[2017-06-29 16:01] SwampDragons commented on #4633
Sorry for being unclear!  I was just not sure from your issue whether you had managed to get it working and were just reporting confusing docs, or whether you had never gotten packer push to behave as expected. Thanks for the clarification :)

Sent from my iPhone

[2017-06-29 18:39] ladar commented on #5049
I prefer dmidecode, as it uses far fewer dependencies, and is more generally available.

[code]
Or for those situations where dmidecode and awk aren't available, such as during an automated install process, all you really need is dmesg and grep. For example, with Debian I use:

[code]

[2017-06-29 20:03] it-praktyk commented on #5049
I try install Ubuntu 16.0.4 using
- Hyper-V  on Windows 10: 10.0.15063.447 - a version as an output of [System.Environment]::OSVersion.Version
- Packer: 1.0.2

The [gist](https://gist.github.com/it-praktyk/d8d1147c9769f0a780b1a3bdf83f4dcd) what contains
- build configuration file
- Ubuntu preseed file
- Packer log

The build is based on https://github.com/geerlingguy/packer-ubuntu-1604

The YouTub

[2017-06-29 21:21] ladar commented on #5049
@it-praktyk see my post above regarding an Ubuntu install on Hyper-V. You need to add the following to your pkgsel/include line:

[code]

That is the easiest way to get the Hyper-V daemon setup on Ubuntu during the install process, and should solve your problem.

[2017-06-29 21:23] it-praktyk commented on #5049
Yes, I didn't mention but I tried it today also.

Do you build images using Windows 10?

[2017-06-29 21:28] bedge commented on #4852
Latest ubuntu AMIs have poorly named kernel version that conflicts with this fix, https://stackoverflow.com/questions/44833346/cant-get-ixgbevf-to-build-on-current-ubuntu-ami

[2017-06-29 21:39] ladar commented on #5049
Yes.

[2017-06-29 21:43] ladar commented on #5049
The hard way to solve this problem is open the virtual machine console using the Hyper-V manager, wait until it reboots and then login via the console. Once there install the Hyper-V daemons manually, and packer should connect via SSH within 1 or 2 minutes. Note, you might need to manually enable the daemons using systemctl (if varies between distros, and I don't know whether they are enabled by d

[2017-06-29 21:55] ladar commented on #5049
I should add, that if the daemons are running, and you still can't connect, then you need to manually confirm ssh is working properly... so from the console, run ifconfig to determine the IP and see if you can login using the credentials specified in the packer JSON config. It's possible a setting the sshd_config is blocking access. For example password logins may be disabled, or direct root login

[2017-06-30 12:45] bobbydeveaux commented on #1824
hey @rickard-von-essen - I am now working at UKCloud. I was working along side @robcoward above, but he's now left.

We're very keen to begin work on a vCloud builder, and are likely to pursue this. Did you commit your PoC or still have the code anywhere?

Many thanks :)

[2017-06-30 14:34] harryluo91 commented on #4818
hey @sandersaares, I was trying to do the same thing but I got the access denier error when I was trying to create the account, it looks like I need to run the command in a powershell with elevated privileges as well. Were you able to create the account and add it to the Administrator group with the normal powershell provisioner?

[2017-06-30 16:02] charlievieth commented on #4885
I ran into this error as well.  It comes from `vmware-vdiskmanager`, which packer shells out to, during the `CompactDisk` step.  I was able to fix it by changing `ide0:0.fileName = "auto detect"` to `ide0:0.autodetect = "TRUE"` in the target vmx file.  It would appear that VMware Workstation and Fusion use a mix of the two to indicate that a CD is set to Auto-detect.

[2017-06-30 16:18] thomasbiddle commented on #3399
Running into this as well - it *will* deregister the AMI in the original region; however it will not deregister any copies going to other regions via `ami_regions` parameter.

[2017-06-30 16:48] thomasbiddle commented on #4923
I think at the least, this could be made more clear in the documentation. I was confused as well. @rickard-von-essen @mwhooker

[2017-06-30 16:51] thomasbiddle commented on #2725
@cbednarski Agreed - This needs to be made more clear in the documentation; perhaps a subheading - or even just indenting the options by one. I was confused as well.

[2017-06-30 21:03] kuoirad commented on #4487
Has there been any further movement on the packer-vhcx project?  I am trying to support developers in a situation similar to @quantang's, where we're currently having to install an Ubuntu vm from scratch every time we want to do a new build.  Being able to have a "golden vm" to start from with packer would be a godsend.

[2017-06-30 23:30] Lee303 commented on #5075
I've just added a PR which will allow the path to be explicitly defined within templates

[2017-07-01 05:58] #5075 closed

[2017-07-01 06:08] taliesins commented on #5049
I don't think that is a problem specifically related to Hyper-V. We need a topic about how to support OSes that don't have built in drivers/support for the Hypervisor you have selected to use.

I have run into the problem of ejecting the cd rom as well (installing Pfsense). During an installation process there may be multiple reboots (looking at Windows here with patches). The way to tackle that i

[2017-07-01 06:17] it-praktyk commented on #5075
Thank you!

[2017-07-01 06:19] taliesins commented on #4880
I think the code is in place to do it:
https://github.com/hashicorp/packer/blob/master/builder/hyperv/iso/builder.go#L80
https://github.com/hashicorp/packer/blob/master/builder/hyperv/common/step_create_vm.go#L55
https://github.com/hashicorp/packer/blob/master/builder/hyperv/common/driver_ps_4.go#L185
https://github.com/hashicorp/packer/blob/master/common/powershell/hyperv/hyperv.go#L247

The only

[2017-07-01 06:23] taliesins commented on #4706
I think this is an OS specific issue and is not related to Packer, so closing for now

[2017-07-01 06:23] #4706 closed

[2017-07-01 06:25] taliesins commented on #4825
This is more an issue with running OSes on hypervisors that do not have built in drivers/support for the hypervisor they are running in.

Closing for now.

[2017-07-01 06:26] taliesins commented on #4830
Going to close this issue as there is a pull request to cover this issue.

[2017-07-01 06:26] #4830 closed

[2017-07-01 06:29] taliesins commented on #4947
There is another issue that duplicates this one. The other one has more content so I am closing this one.

[2017-07-01 06:29] #4947 closed

[2017-07-01 06:31] taliesins commented on #4549
@evancox10 this looks like a good feature to add.

[2017-07-01 06:34] taliesins commented on #4487
@ebjornset when you say tested the new builder are you talking about #4944

Its much easier for me to track if you put testing comments on the actual pull request.

[2017-07-02 12:29] lmayorga1980 commented on #5077
:+1:

[2017-07-02 14:51] mindrunner commented on #5077
I started using a modified version of "bento"-approach. (calculating the free space and writing little less zeroes, so that the disk will not fill up to the last bit.). Seems to work more reliable for me.

[2017-07-02 17:24] rickard-von-essen commented on #3830
@mwhooker can we sort this out when you are back.

[2017-07-02 19:42] lfarnell commented on #3830
I remember Matthew and I had a email thread regarding this and it seems like all the code for custom commands was removed in 779b6d1719ced0828ccc0acb21c62f114284f8dd.Basically it was hard to maintain. I think a common pattern now is to build custom tools to accomplish the same goals.

[2017-07-03 04:28] evancox10 commented on #4549
@taliesins I've (finally) got a dev environment for Windows packer up and running, and I'd like to give implementing this a shot. I'll be learning go as I go so it may take a week or two.

The parameter will just be called disk_block_size, that sound ok?

[2017-07-03 05:16] evancox10 opened #5087 "Hyper-V Builder - Add support for Secure Boot of non-Windows OS's"
Packer provides the enable_secure_boot parameter to turn on secure boot, this works if the guest OS is Windows, but if it's another Secure Boot supported OS such as Ubuntu it does not work. The reason why is that the SecureBootTemplate has to be changed from the default one to MicrosoftUEFICertificateAuthority.

I would like to see support for choosing the SecureBootTemplate along with the choice

[2017-07-03 06:11] sandersaares commented on #4818
Yes, I was able to create the user with just the normal non-elevated PowerShell provisioner. I used the "net user" command to create the user and "net localgroup" to add it to the Administrators group.

[2017-07-03 13:28] zzebster commented on #5055
I cant seem to get setting that variable to make any difference. It still keeps saying unable to find available VNC port between 5900 and 5964. Could you give the the exact information to put in the packer.config file to set this. Thanks

[2017-07-03 14:48] rickard-von-essen commented on #5055
It's a environment variable, if you are using MacOS, Linux etc set it with:

[code]

And then run packer in the same shell.

[2017-07-03 19:25] SwampDragons commented on #4719
@apogrebnyak thanks for the comment -- it allowed me to build a really reliable repro case so I could resolve this. @PerGon thanks for sharing your hack -- it helped me narrow down where the issue was. Can you verify for me whether https://github.com/hashicorp/packer/pull/5089 solves this for you?

[2017-07-03 20:02] SwampDragons commented on #5050
Thanks for opening this issue! https://github.com/hashicorp/packer/pull/5089 solves this; I just ran your repro case against it and it appears cromulent.

[2017-07-03 20:03] caphrim007 opened #5090 "increase wait time for export?"
When I attempt to build a packer ova image using the Virtualbox builder, I am repeatedly receiving an error from the VBoxManage command about failing to remove network related settings do to the VM being locked or in the process of unlocking.

I checked out the source and changed the following line to 10 instead of 1

https://github.com/hashicorp/packer/blob/0c116981ab877d078636dc24795964b7eb60747

[2017-07-03 20:37] #4633 closed

[2017-07-03 20:37] #4780 closed

[2017-07-03 21:03] athak commented on #5053
This just bit us too. It seems to work with 0.12.3. Has anybody identified any workarounds?

[2017-07-03 21:20] cbednarski commented on #3830
Yep, sorry about this! I am not aware of this part of the API being widely used, but our recommendation is to run your tooling before/after you run packer. The most common use-case I'm aware of is template pre-processing.

Please note that custom plugins (builders, provisioners, etc.) are still supported as before -- this only applies to custom _commands_.

Since the docs are up-to-date (e.g. gone

[2017-07-03 23:18] SwampDragons commented on #5053
@athak I think you should be able work around it by adding the root device to "ami_block_device_mappings" in your template.  e.g. if your root device is `            "ami_root_device": {
                "source_device_name": "/dev/xvdg",
                "device_name": "/dev/xvda",
                "delete_on_termination": true,
                "volume_type": "gp2"
            },` . You can add `

[2017-07-04 06:15] luke-vidler commented on #4916
Thanks for the explanation, has helped me. Seeing this when I try to use the PowerShell Inline provisioner with the Azure-arm builder thats building a Windows 2012r2 .vhd image.

[2017-07-04 06:20] rickard-von-essen commented on #3830
[This page need some updating](https://www.packer.io/docs/extending/plugins.html).

[2017-07-04 07:33] rickard-von-essen commented on #4949
Don't you have some sort of console access?

[2017-07-04 07:40] svanharmelen commented on #4949
@rickard-von-essen yes, CloudStack offers a console connection... And using cloud-init with user data should work. We use it quite a lot ourselves. But I guess it also depends on the type of network offerings you are using (which services they support) and what type of router VMs you're using...

But I'll look at the PR for adding HTTP server support in a bit (later this morning). Hopefully that w

[2017-07-04 10:04] PerGon commented on #4719
Hi @SwampDragons - this is great news :heart_eyes_cat:

I'll test you patch right away and will be back with the results. Thanks

[2017-07-04 12:41] timurb opened #5091 "vmware-iso builder should crash on vmotion event"
I'm using `vmware-iso` builder to produce base images for my system using `esx5` remote type.
All was fine until recently I started to get errors for exact same template which worked before.

The messages in packer log were `Error getting SSH address: EOF` in place of usual `Error getting SSH address: No interface on the VM has an IP address ready` (see logs in the bottom of the issue).

After som

[2017-07-04 14:19] lfarnell commented on #3830
I will send a PR for it.

[2017-07-04 17:47] athak commented on #5053
@SwampDragons thanks for the tip. Regrettably it fails with:
[code]
We'll use 0.12.3 for this build for now until the fix is merged.

[2017-07-04 19:29] clangaxon opened #5093 "Packer creates unusable instances with ENA"
We're using Packer 1.0.2 and discovered that #4578 quietly made enhanced_networking: true enable both Sriov and ENA after debugging why we could no longer launch working P2 instances.

While this is probably a fine scenario if you only support Amazon Linux, which has both drivers, it's a pretty bad user experience when you're using e.g. CentOS which supports sriov but not ENA.

Independent options

[2017-07-04 20:19] timoc commented on #4295
Xenserver is the last major commercial and open virtualization platform (supported by the Linux foundation no less!). Can this be re-opened? Or at least if the qemu can build for it (and i cannot find out how that would work) update the documentation?

[2017-07-04 20:22] timoc commented on #4733
This is related to #4295.

[2017-07-04 20:40] rickard-von-essen commented on #5093
The quick solution is just to compile the ENA driver ;-).

But the change seems like a bit bad backwards compatibility to me.

[2017-07-04 20:43] rickard-von-essen commented on #5091
Is there a way to check if vmotion is enabled with the exicli? IMHO we should refuse to build on an ESXi with it enabled.

[2017-07-04 23:52] riponbanik commented on #3054
came back on 1.0.2

[2017-07-05 02:24] timurb commented on #5091
No idea, I'm just starting to learn the VMWare and its internal stuff. Probably not as it's configured for the whole vSphere cluster, not specific node. But if you decide to drop the build instantly please make that configurable - for us there's no option at the moment of running dedicated ESX host just for building the images. We are willing to accept the risk of failing the build (and it can be

[2017-07-05 05:35] rickard-von-essen commented on #5091
You can always run a nested ESXi on vSphere.

Does `vicfg-advcfg --list` list anything with _motion_?

What is the output of `vim-cmd hostsvc/vmotion/netconfig_get`? It should probably tell if vMotion is enabled. (See [Configuring a VMkernel port and enable vMotion via command line](https://kb.vmware.com/selfservice/microsites/search.do?language=en_US&cmd=displayKC&externalId=1006989)

[2017-07-05 05:42] rickard-von-essen commented on #3054
Hi @riponbanik, thanks for reaching out.

This ticket is really old so it's probably not relevant to the issue you're seeing. If you're still having trouble, would you please open a new issue with the debug log and a json that reproduces the issue? Thanks!

[2017-07-05 06:47] larstobi commented on #4949
@rickard-von-essen I couldn't log in to the console as it has no default password and I didn't seem to get the cloud-init (or ignition) working properly with the latest CoreOS and CentOS cloud image. I haven't figured out what went wrong yet.

@svanharmelen Great! 👍

[2017-07-05 07:59] timurb commented on #5091
I don't understand the output of the second command -- just see that there are some references to VMotion there. And the first command didn't work for me.
Here is the output.
[code]

[2017-07-05 08:33] rickard-von-essen commented on #5091
Don't really remember but maybe you have to first run `esxcli` to enter the cli and then `vicfg-advcfg --list`.

[2017-07-05 09:52] PerGon commented on #4719
Hi @SwampDragons ,
I'm sad to inform that I'm pretty much sure that this doesn't fix our issues :( it took me a while to verify because it's not deterministic - sometimes I get all the logs, sometimes, the exact same bake doesn't get me all the logs.
Today I'm off, but tomorrow I'll try to get a simple enough use case that hopefully can be replicated on your side.

My Go foo is low, but I wonder i

[2017-07-05 12:01] alexharv074 commented on #134
I'm not sure why this is closed but there it still seems there is no URL I can go to that allows me to simply get the latest Packer. This URL [here](https://www.packer.io/downloads.html) allows a human to find the latest Packer pretty easily but what is really needed is a single URL that always points to the latest packer. e.g. `https://releases.hashicorp.com/packer/latest/packer_latest_linux_amd6

[2017-07-05 12:50] pstrzelczak opened #5094 "packer did not remove VirtualBox virtual machine when 'Typing the boot command' fails"
When 'Typing the boot command' phase fails and VM enters 'Guru meditation' phase VM is not properly cleaned up. I was using very simple json template to set up CentOS (https://gist.github.com/pstrzelczak/1d679e15e1ed419956d235d08530accb) and launch it in a loop via

`packer build -var vm_name=foo -var no_gui=true centos-vbox.json`

4th iteration failed with that error. I will try to reproduce this

[2017-07-05 14:55] tdigangi5 commented on #5036
amazon-ebs: 'skipping chmod 0777 C:/Windows/Temp/packer-chef-solo/cookbooks-0'
==> amazon-ebs: Terminating the source AWS instance...
==> amazon-ebs: Cleaning up any extra volumes...
==> amazon-ebs: No volumes to clean up, skipping
==> amazon-ebs: Deleting temporary keypair...
Build 'amazon-ebs' errored: Error uploading cookbooks: Error restoring file from $env:TEMP\winrmcp-8f0ba465-406d-4210-7929

[2017-07-05 17:08] SwampDragons commented on #134
Hi there!  It does appear that since this issue was closed in 2013, that link Mitchell posted has gone the way of the dodo.  This seems like a valid thing to address, but given the old nature of this issue, do you mind leaving this one dead and opening a new one for us?  It helps us track things much more efficiently.

Thanks!

[2017-07-05 17:24] SwampDragons commented on #4719
@PerGon Yeah, the rpc communicator kind of wraps the ssh communicator, and the race I'm addressing in this patch is in the rpc communicator; I couldn't see any in the ssh communicator proper, and this patch does address the test case I generated that uses the ssh communicator.

Now I wonder if I placed the wait too late in the code and your case is activating this path here: https://github.com/has

[2017-07-05 17:51] lfarnell commented on #3830
@SwampDragons @rickard-von-essen This can be closed now , #5092 was merged

[2017-07-05 17:57] #3830 closed

[2017-07-05 18:23] sebolabs opened #5095 "'fatal error: newosproc' when building multiple images"
I have a problem when running multiple (12-13) packer builds on the same box.
- Packer version: 0.12.1 and 1.0.2
- Host platform: RHEL 6.8
- AWS instance: c4.xlarge
- ulimit -u => 10240
- ulimit -n => 500000
- builder: amazon-ebs

I'm seeing this:
[code]
or this:
[code]
a sample stack:
[code]
After recompiling packer with go 1.9beta2:
[code]

It tends to happen on template validation too. Had to u

[2017-07-05 19:08] shibumi opened #5096 "Question: export virtualbox and qemu box while building vagrant box"
Hello,
is there any way to export a virtualbox image and a qemu image while building the vagrant box or do I need to open the vagrant box after the build manually to get the images?

My goal is that I have the following Output:

At the moment I just get the both vagrant boxes.

[2017-07-05 19:53] rickard-von-essen commented on #5096
Set `keep_input_artifact` to `true`, see https://www.packer.io/docs/templates/post-processors.html#input-artifacts

[2017-07-05 19:54] #5096 closed

[2017-07-05 21:41] spanktar commented on #3019
I can confirm that this works in 1.0.1 as noted: https://github.com/hashicorp/packer/issues/3019#issuecomment-254737838

[2017-07-05 22:06] SwampDragons commented on #4992
I've traced the exact point the codepaths diverge and it's here: https://github.com/hashicorp/packer/blob/7f0a404307135b903f0d93c79368ee3f96929ffe/packer/core.go#L295

If I have command line variables, then the template variables get interpolated and added to the c.variables map.  If I _don't_ have command line variables, then the template variables get interpolated _but don't get added_ to the ma

[2017-07-05 23:28] IanTheIan opened #5097 "Request for configurable Expunge in Cloudstack Builder"
Within the Cloudstack builder, because builder/cloudstack/step_create_instance.go (lines 122-123) explicitly force an expunge operation, the implication is that an Administrative user is required to run Packer against it.  Can we make this a configurable option, please?  This way we can use non-admin users and the build doesn't crash out with:

2017/07/05 15:47:51 ui error: ==> cloudstack: Error d

[2017-07-05 23:41] IanTheIan commented on #5097
I suppose I should note that it indicated that the instance was deleted, when, in fact, it was unable to do so.  That would indicate a minor bug, no?

[2017-07-06 01:32] pvandervelde opened #5098 "Provide ability to set the ExecutionPolicy and the NoProfile switch on the Powershell Provisioner"
As by the request of @mwhooker this issue is based on the the [comment](https://github.com/hashicorp/packer/issues/4675#issuecomment-308894233) by @rismoney on #4675

It would be great if the executionpolicy and noprofile were easily controlled via the Powershell provisioner settings.

[2017-07-06 05:39] rickard-von-essen commented on #3019
Fixed in #4996

[2017-07-06 05:39] #3019 closed

[2017-07-06 06:40] svanharmelen commented on #5097
@IanTheIan we can certainly make the `expunge` operation optional. Will have a look at that...

About the bug, I guess you're referring to the logline: `cloudstack: Instance has been deleted!` Right? I will update the code a bit so it doesn't show that when it's not actually destroyed. Thanks!

[2017-07-06 06:58] pstrzelczak commented on #5094
I reproduced this issue with both packer and virtualbox debug logs enabled:

[packer.txt](https://github.com/hashicorp/packer/files/1126956/packer.txt)
[VBoxSVC.txt](https://github.com/hashicorp/packer/files/1126965/VBoxSVC.txt)

[2017-07-06 07:29] rickard-von-essen commented on #5097
It should really delete the VM if there is an error (if possible).

[2017-07-06 07:33] svanharmelen commented on #5097
@rickard-von-essen how do you mean? The expunge option is only used when destroying the instance. So that means in this case the reported error is generated when we are in the Cleanup func and are in fact trying to cleanup the instance...

[2017-07-06 07:50] rickard-von-essen commented on #5097
If deleting the instance fails because expunge is not allowed I think the proper thing is to retry without expunge. To ensure that it's cleaned up (at least eventually).

[2017-07-06 08:01] svanharmelen commented on #5097
Well... I don't think I fully agree... Certainly not after we merge PR #5099 :wink:

After that PR is merged the default will be to destroy without expunge, so if you as a user then configure that you want to expunge I think it's very appropriate to give an error if that fails and not decide to silently try to destroy it without expunging instead.

I did also update the logging so it will clearly

[2017-07-06 08:32] rickard-von-essen commented on #5097
IMHO clean up should "never" fail. But loging a big warning that it didn't work as inteded is greate. Is it possible to check if you are allowed to use expunge at the start of the build and stop before doing anything that would be the optimal solution.

[2017-07-06 08:38] svanharmelen commented on #5097
No, unfortunately not...

And I get what you're saying about the cleanup func. It should indeed never fail. But I'm also not a fan of doing things that the user isn't expecting. So when expunge becomes something that a user has to actively configure/set, I think the best thing to do is to fail and log when we cannot do what the user told us to do.

[2017-07-06 09:38] alexlehm opened #5100 "provisioner ansible-local has an option galaxycommand, which is missing in docs"
(this issue is about a missing doc item, not a bug)

in https://github.com/hashicorp/packer/pull/3350 support for ansible-galaxy was introduced into the ansible-local provisioner, there are two new config items implemented in this, only the option "galaxy_file" is documented currently. The 2nd option is "galaxycommand".

Since options are usually underscore separated, it could be considered to cha

[2017-07-06 09:59] #4949 closed

[2017-07-06 10:20] pstrzelczak commented on #5094
I reported the original problem to Oracle VirtualBox: https://www.virtualbox.org/ticket/16879

[2017-07-06 12:20] thefold commented on #5049
I was experiencing this same issue when trying to build RHEL 7.3 and Ubuntu.

In my case I found that I first had to ensure an External VM switch was already set up within Hyper-V as packer would only create an internal one. This got Ubuntu working OK, but for RHEL I additionally had to install the Microsoft LIS drivers from https://www.microsoft.com/en-us/download/details.aspx?id=51612 as the bui

[2017-07-06 16:08] bstock92 commented on #1916
Regarding `guest_os_type`...

Although this error can be caused by having an invalid `guest_os_type` set, and setting it to `"linux"` gets past this error, the generic linux `guestos` (which is what VMware calls it) caused problems for me when trying to use open-vm-tools features when designing Terraform deployments.

The solution was to set the proper `guest_os_type`, which I found by setting the

[2017-07-06 16:29] SwampDragons commented on #4992
Got it. https://github.com/hashicorp/packer/pull/5101

[2017-07-06 18:20] rickard-von-essen opened #5102 "cloudstack: cloudstack.Builder.Run never returns an error"
The `Run` function of the builder interface is supposed to return the error causing the build to fail.

[2017-07-06 18:26] SwampDragons commented on #4719
@PerGon I pushed the change described above... any improvement?

[2017-07-06 19:32] lfarnell commented on #5100
I don't know If I would consider this a docs bug. The reason it looks like it wasn't included in the docs is because its just referencing the name of the ansible-galaxy program, which isn't likely to be different from system to system. Other provisioners choose to hardcode the command name in the default execute statement.

[2017-07-06 19:50] PerGon commented on #4719
Hi @SwampDragons,
I think we got something :) I've run a bunch of bakes and got logs for all of them. So, on my side I believe I can call this fixed
Thanks a lot for your efforts 💪

[2017-07-06 20:33] fxfitz commented on #955
@beddari @openface: I'm in the exact same boat. Any leads?

[2017-07-06 20:34] #4719 closed

[2017-07-06 20:34] #5050 closed

[2017-07-06 20:36] SwampDragons commented on #5053
I think this should be resolved in https://github.com/hashicorp/packer/pull/5059 -- @mlitvin are you able to build with that patch and tell me whether it solves your issue?

[2017-07-06 20:49] SwampDragons commented on #5100
I must not have looked closely enough when I was labeling things, because I agree with you @lfarnell.  Can anyone think of a situation when you would want GalaxyCommand to be anything other than "ansible-galaxy"? Otherwise this seems to me like some extra-zealous generalization that doesn't really need documentation.

[2017-07-06 20:54] alexlehm commented on #5100
It can be used to set the proxy env vars (that was the reason why I looked it up), in the same way as described in the "command" key.

I ended up with something like

[code]
otherwise the build failed due to corporate network restrictions

[2017-07-06 21:14] lfarnell commented on #5100
Ok i didn't see that in the [documentation](https://galaxy.ansible.com/intro#download). I will send a PR for this tonight if its something you think would be useful. First, we need to change it from galaxycommand to galaxy_command and update the docs as well.

[2017-07-06 21:40] svanharmelen commented on #5097
@rickard-von-essen so are you good with this (and so with PR #5099)?

[2017-07-06 22:30] SwampDragons commented on #5100
Thanks for the clarification @alexlehm! I'm thinking it makes sense to do this in two parts; update the docs now for the 1.0.3 release, but save renaming galaxycommand to galaxy_command until the 1.1.0 release, since renaming the command could break people's template.json files and we want to only introduce breaking changes on minor releases.

[2017-07-06 22:34] alexlehm commented on #5100
@lfarnell I think the support for http_proxy is implemented in python's urllib, that's not a specific ansible feature.
I had to put the proxy env into quite a few places to get it working, the ansible command and ansible galaxy settings are useful for that

[2017-07-06 22:41] SwampDragons commented on #5095
Which version of packer did it work for previously?

[2017-07-06 23:26] SwampDragons commented on #4140
It seems to me that the point of having an "execute_command" option is to allow the entire command to be configurable.  So why not wait until we can make a backwards-breaking change, and then entirely remove the assumption of a shell command?  This seems to me to be the way the feature is documented, anyway.

example provisioner in this case:

[code]

[2017-07-06 23:43] ladar commented on #5049
For RHEL 7.3 you need the following in your Kickstart file:

[code]

[2017-07-06 23:47] ladar commented on #5049
I started watching this thread with the hope packer would get better at detecting Hyper-V guest IP addresses (like it does with other providers), but it appear anybody is working on that, so I'm going to mute this topic. As such,if anybody else needs help getting another packer to work with a different distro, please message me directly.

[2017-07-07 04:54] rickard-von-essen commented on #5100
I think we should consider changing `galaxycommand` to `galaxy_command` (requires a fixer). And at the same time changing it into a template in the same way as other commands.

[2017-07-07 06:51] rickard-von-essen commented on #5097
Seems like you can do this in two different steps:

1) Delete VM whithout expunge, should never fail.
2) If `expunge` is `true` also expunge it with [`ExpungeVirtualMachine`](https://github.com/xanzy/go-cloudstack/blob/master/cloudstack/VirtualMachineService.go#L4598), might fail and then it's fine to log that it didn't exunge the VM most likely a premission issue.

[2017-07-07 07:21] #5102 closed

[2017-07-07 07:25] svanharmelen commented on #5097
True... Maybe I'm just being stubborn 😏  I'll update the PR accordingly...

[2017-07-07 07:36] sebolabs commented on #5095
It worked with 0.12.1 and stopped (I know, I was thinking the same, sth on the system level had to change, but I can't confirm it at all).
I do a lot of testing currently and there were cases where it went through but these are in minority.

[2017-07-07 08:34] rickard-von-essen commented on #1824
(sent an ✉️ )

[2017-07-07 08:46] rickard-von-essen commented on #4923
Let's add a note in the docs.

[2017-07-07 08:48] bobbydeveaux commented on #1824
(received an ✉️ )

[2017-07-07 08:54] #5097 closed

[2017-07-07 11:04] sebolabs commented on #5095
UPDATE:
I didn't have much time yesterday to play with that recompiled 1.0.3-dev version but today I performed this set of tests on a new m3.large instance (same image, same system config):
1/ 13 parallel builds with 0.12.1 - failed
2/ 13 parallel builds with 1.0.3-dev @ go1.9beta2 - passed
3/ 13 parallel builds with 0.12.1 - failed
4/ 13 parallel builds with 1.0.3-dev @ go1.9beta2 - passed
5/ 13

[2017-07-07 13:53] wickedviking commented on #4825
That's not at all what this is about, the OSes mentioned do in fact have the drivers pre-packaged, in the case of CentOS, and I assume most RHEL derivatives, the daemons are missing and cannot be installed without network connections available to the %POST section of the kickstart.

Two things must accomplished to build RHEL derivatives on Hyper-V, 1st you must ensure the system being built has ne

[2017-07-07 14:10] mlitvin commented on #5053
Yes, it solve my issue. Thanks

[2017-07-07 15:03] rickard-von-essen opened #5107 "RFC: add -connection-info flag to build command"
We could add a new flag to the build command, say `-connection-info`
which prints out connection details, passwords, and private keys, etc in the same way as debug does but without the confirmation of each step and disabling of parallelism. `-debug` would implicitly enable this.

The code changes would be very easy.

Closes #3885

[2017-07-07 17:17] SwampDragons commented on #5095
How bizarre! So it's fixed in the 1.0.3 dev version... I don't remember anything being merged that seems relevant but I guess I won't complain.  Shall I close this ticket with the caveat that we'll reopen and investigate if it crops back up?

[2017-07-07 17:32] #5053 closed

[2017-07-07 17:43] SwampDragons commented on #4923
@thomasbiddle or @ervoiox if you have time could either of you give me an example of a documentation note you think would have clarified this issue for a new user? I'm not totally sure I see how this is unexpected, so I'm struggling to anticipate what would help.  Thanks!

[2017-07-07 17:55] wickedviking commented on #5049
these issues with Hyper-V are specifically related not just to drivers being present, but daemons as well.

https://docs.microsoft.com/en-us/windows-server/virtualization/hyper-v/supported-linux-and-freebsd-virtual-machines-for-hyper-v-on-windows

Most of the "popular" distro's now include the required drivers, however they do not, by default include the daemons. Instructions for installing and en

[2017-07-07 18:39] rickard-von-essen commented on #4923
From https://www.packer.io/docs/builders/amazon-ebs.html#encrypt_boot :

This is slightly inaccurate, a snapshot taken from a encrypted ebs volume will be encrypted (with the same KMS key).

[2017-07-07 18:57] wickedviking commented on #5049
@ladar you can avoid all the mount madness if you force the network to be available in %post with

[code]

for some as yet undermined reason, hyperv doesn't seem to initialize the network connection on its own, forcing in the kickstart with the ```--onboot=on``` seems to do the trick. The ```--device``` flag may be unnecessary.

[2017-07-07 19:41] timurb commented on #5091
I think I posted a comment here yesterday but it seems to have disappeared.
`vicfg-advcfg` is a command from ESX3.5/4.0 and I'm running ESX5.5 and there is different command for that. I'll post its output next week.

[2017-07-07 21:16] matt-richardson commented on #5064
@rickard-von-essen, have you been able to reproduce this?

[2017-07-07 21:58] ladar commented on #5049
@wickedviking The mount in the snippet above is RHEL specific, and is required for RHEL installations because the network repos aren't accessible until you register the machine with the RHN. If the machine is registered, you are correct, those commands aren't needed. For example with my CentOS Kickstart config I pull in the packages via the network.

As for your suggestion above, I don't believe "

[2017-07-07 22:27] SwampDragons commented on #5090
I wonder if there's a better way to do this than a sleep.  Sounds like we need to figure out a way to determine that the vm is actually asleep, or try several times so that we don't cause 10 second halts when we don't actually need them.

[2017-07-08 00:09] knightsamar opened #5108 "Cannot compile v1.0.2 on ppc64le using go1.8.3 or go 1.6.3"
- Packer version :  `v1.0.2`
- Host platform: `ppc64le`
- Go version:  `go version go1.8.3 linux/ppc64le` (latest stable)
- `make` output: https://pastebin.osuosl.org/59961/

I followed the instructions in the developer docs at `CONTRIBUTING.md` because the `make bootstrap` and `make dev` steps at https://www.packer.io/docs/install/index.html#compiling-from-source don't seem to work for me.

I hav

[2017-07-08 00:24] casualjim opened #5109 "Latest packer can't find a free vnc port and fails"
Packer can't find a free vnc port and fails, downgrading to 1.0.0 makes it work (haven't tried 1.0.1)

packer version: 1.0.2
ESXi 6.5 (fully patched)
debug log: https://gist.github.com/casualjim/e5045cc09ca23a288d646da1afc9a383
image.json: https://gist.github.com/casualjim/ccc267bbcf144b38489658d4df97abf2

[2017-07-08 00:50] shibumi commented on #2630
I can confirm this bug with version 1.0.0 on Arch Linux

[2017-07-08 06:34] rickard-von-essen commented on #5064
Haven't tried, most Windows th

[2017-07-08 06:35] rickard-von-essen commented on #5064
(Fat fingers)

[2017-07-08 06:42] rickard-von-essen commented on #5108
Use `make dev` to build for a single platform.  If you need to build a release version with that I think you need hack the makefile.

[2017-07-08 06:51] rickard-von-essen commented on #5108
Also there are some outstanding corrections to the websites instructions on howto build.

[2017-07-08 06:53] rickard-von-essen commented on #5109
Thanks for reporting this. This is a duplicate of #5055, which have been fixed on master. The fix will be included in the next release.

[2017-07-08 06:53] #5109 closed

[2017-07-08 06:54] rickard-von-essen commented on #5109
There is a simple workaround in there.

[2017-07-08 07:58] rickard-von-essen opened #5110 "Packer support for Android ARM"
TODO:

- [x] Builds
- [ ] Running Packer fails with: _Couldn't start Packer: ExecPath not implemented for android_

[2017-07-08 09:04] rickard-von-essen commented on #5091
Also see https://kb.vmware.com/selfservice/microsites/search.do?language=en_US&cmd=displayKC&externalId=1038578

[2017-07-08 12:03] #5110 closed

[2017-07-08 19:46] matt-richardson commented on #5064
Ahh, my mistake, I assumed you were part of the team.

[2017-07-09 00:48] bugbuilder commented on #4526
Hi everyone!,

I want to share with you a simple vSphere post-processor to be used with vmware-iso builder, this allows to mark a VM as a template (using vmware/govmomi) leaving it in a path of choice, you can find it at this [repo](https://github.com/bennu/packer-post-processor-freezer)

[2017-07-09 07:41] rickard-von-essen commented on #4526
@bugbuilder how about opening a PR with this. It's one of the most requested features.

[2017-07-09 17:39] bugbuilder commented on #4526
@rickard-von-essen sound great, I'll work on it.

[2017-07-09 18:19] thomasbiddle commented on #4923
@SwampDragons

Current version from https://www.packer.io/docs/builders/amazon-ebs.html#encrypt_boot

Maybe something like this would be more clear:

**encrypt_boot** (boolean) - Instruct Packer to automatically create a copy of the AMI with an encrypted boot volume. Packer will always run this operation, even if the base AMI has an encrypted boot volume to start with. Default `false.`

It's a bit

[2017-07-09 21:12] DanielMarquard opened #5113 "Packer hangs on CentOS 7.3"
I can't seem to get any leads on troubleshooting why Packer 1.0.2 hangs on CentOS 7.3. There is no output of any kind in the console, and nothing in `/var/log/messages`. Temporarily disabling SELinux did not change this behavior.

If I run `packer version`, Packer hangs and nothing is output in the console. This is the same behavior for both `packer validate` and `packer build`. Running Packer wit

[2017-07-09 21:28] DanielMarquard commented on #5113
After installing with `go`, that binary seems to work. So that I can avoid having to use Go to install Packer, what are the dependencies that might have caused the pre-compiled binary to hang?

[2017-07-09 23:52] lfarnell commented on #5113
How did you build the go binary? With the makefile or go build?

[2017-07-09 23:53] DanielMarquard commented on #5113
I used `go get github.com/hashicorp/packer`

[2017-07-10 05:50] rickard-von-essen commented on #5113
https://www.packer.io/intro/getting-started/install.html#troubleshooting

You have another tool on the path called `packer`. (`which -a packer`)

[2017-07-10 05:50] #5113 closed

[2017-07-10 06:18] sulaweyo opened #5115 "User variable not expanded in pause_before"
For a shell provisioners the option "pause_before" does not evaluate user variables. I can add a fixed value there and it works fine but as soon as i use a user variable the template can no longer be validated or built as the variable is not expanded.

version: 1.0.2 and earlier as well
OS: linux x64
Log:
[code]

I would like to use this after a windows reboot as WinRM is up before windows actuall

[2017-07-10 06:25] localghost opened #5116 "Acceptance tests for docker builder fail"
Recently `ProvisionerHook` structure was changed (`ProvisionerTypes` field was added) but acceptance tests for docker builder were not adjusted accordingly. This results in:
[code]

[2017-07-10 06:51] rickard-von-essen commented on #5115
Slightly related to #4508.

[2017-07-10 08:14] sebolabs commented on #5095
It seems to be all about the go version used to compile packer. I've read somewhere that they addressed some issues related to threads parallelisation in that 1.9 beta version, that's why I gave it a try. It's been already tested at least 30 times and no failures.
So, yes, we can close this ticket as I don't expect anything else to happen here.

[2017-07-10 08:59] #5095 closed

[2017-07-10 08:59] rickard-von-essen commented on #5095
Thanks for reporting back.

[2017-07-10 10:57] timurb commented on #5091
Here is output of the command relevant to 5.5:
[code]

[2017-07-10 11:11] simoneroselli opened #5117 "Feature request: Return AMI id"
Hi,

It would be useful to have a usable reference of the new created AMIs.
I list some options I would like to have available out-of-the-box:

 1. Output the AMI id, so that this can be used from within the build.json itself.
 2. Write the AMI id into a text file.
 3. Write the AMI id into a file, formatted as usable Terraform var file.

 4. When "copy the AMI over a list of regions" is used, ret

[2017-07-10 11:37] rickard-von-essen commented on #5117
This is already implemented, see https://www.packer.io/docs/post-processors/manifest.html

[2017-07-10 11:37] #5117 closed

[2017-07-10 12:43] simoneroselli commented on #5117
Perfect. Thanks.

[2017-07-10 19:42] knightsamar commented on #5108
So on go 1.6.3, I get an error about `context`, when using `make dev`: https://pastebin.osuosl.org/60071/

compiling on go 1.8.3 succeeded with `make dev` and that  constant set to `dev` but it produces the file named as `bin` instead of packer which says `Your version of Packer is out of date! The latest version is 1.0.2. You can update by downloading from www.packer.io` on running . This seems t

[2017-07-11 00:37] dhdanno commented on #2563
This was not clear in the documentation https://www.packer.io/docs/builders/amazon-ebs.html

[2017-07-11 07:53] rickard-von-essen commented on #2563
The indentation have been fixed on master and the site will be updated when next release is done.

[2017-07-11 12:03] openscript commented on #5065
I've the same problem:
[code]

I couldn't find a solution so far. Any ideas?

[2017-07-11 12:32] filip-vt commented on #5065
That's a different issue. Ansible cannot find your python bin. Probably because you are on a system that defaults with python 3. Either install python 2 on it, or override the `ansible_python_interpreter` var.

[2017-07-11 12:47] openscript commented on #5065
Yes this was the problem indeed. Sorry for polluting this issue.

[2017-07-11 14:13] mooperd commented on #1687
+1 In order to speed up debugging I would also like to be able to log in to a virtual machine without having to press enter throughout the build process.

[2017-07-11 14:36] mooperd opened #5118 "Getting debug ssh key for Azure builds"
Hi, It seems that when I am building packer images in debug mode on Microsofts Azure the ssh key is not being written to the working directory. Am I missing something here?

I'm running packer 1.0.2 on OSX Yosemite

[code]

[2017-07-11 14:50] mooperd commented on #5118
`~/dev/factor-e/azure-shit $packer build -debug packer.json
2017/07/11 16:41:00 [INFO] Packer version: 1.0.2
2017/07/11 16:41:00 Packer Target OS/Arch: darwin amd64
2017/07/11 16:41:00 Built with Go Version: go1.8.3
2017/07/11 16:41:00 Detected home directory from env var: /Users/andrew
2017/07/11 16:41:00 Using internal plugin for openstack
2017/07/11 16:41:00 Using internal plugin for parallels-

[2017-07-11 15:17] rickard-von-essen commented on #5118
Thanks for reporting this. This is a duplicate of #4939, which have been fixed on master. The fix will be included in the next release.

[2017-07-11 15:17] #5118 closed

[2017-07-11 15:23] rickard-von-essen commented on #1687
See #5107

[2017-07-11 15:31] mooperd commented on #5107
+1

[2017-07-11 15:35] mooperd commented on #5118
Cool. When is that release planned? Is there a workaround? Is this just an OSX problem? Im kinda stuck.

[2017-07-11 16:01] rickard-von-essen commented on #5118
1.0.3 was planned for yesterday. This is a `azure-arm` builder problem. And building from master is easy, see CONTRIBUTING.md.

[2017-07-11 16:34] y0y0z commented on #3399
the issue still exist.
any idea whether is it going to be addressed?

[2017-07-11 19:46] mminkus commented on #4857
I can confirm this problem affects us too. We have jenkins/packer run in a private vpc, trying to bake windows ami's. We are in a private vpc behind a proxy. We're stuck using an older version of packer (0.12.1) from before this regression was introduced. Have not been able to find a work around, as I cannot list every single vpc private ip address into no_proxy, and you can't use cidr ranges in n

[2017-07-11 22:39] daveloyall opened #5119 "PACKER_LOG_PATH file doesn't reveal when QEMU segfaults."
- Packer v1.0.2
- Linux boxfactory 4.9.0-3-amd64 # 1 SMP Debian 4.9.30-2 (2017-06-12) x86_64 GNU/Linux

For whatever reason, my qemu is segfaulting.  I'll figure that out.

But, it took me half an hour to figure out that qemu was segfaulting.  This means that the packer logs could be improved.

I thought about how to reproduce this bug...  Probably the easiest way is to create a file called `segfa

[2017-07-11 23:54] daveloyall commented on #5119
Update: qemu will seg fault if you have the setting `"memory": "10G"` when your host machine has 1 gig of ram!

I think if qemu segfaults, the packer log should print the exact command line as it was invoked.  That is the information that used so that I could troubleshoot my problem.

[2017-07-12 00:58] arrjay commented on #1083
I can still repo this with packer built from 1d8e381b

[2017-07-12 06:54] evancox10 commented on #4880
I will take a look at this soon, I've seen this also and found it strange.

I also wanted to point out that for dynamic memory we should consider exposing the Min/Max settings as config parameters for the user. For dynamic memory enabled VMs, StartupBytes is only used during boot up and/or if something goes wrong with the dynamic memory process. This parameter would continue to function as normal,

[2017-07-12 09:32] alexharv074 opened #5120 "A URL required to programmatically obtain latest Packer"
In order to programmatically obtain the latest Packer, as opposed to a specific version of Packer, it would be very useful to have a URL that always redirects to the latest Packer for a specific platform.

For example:

https://releases.hashicorp.com/packer/latest/packer_latest_linux_amd64.zip which could redirect to a URL with a version in the filename.

This appears to have been the original req

[2017-07-12 11:55] lfarnell commented on #5120
Let's invite @sethvargo into the conversation. If it's not possible on HashiCorps side, I could build a simple tool around getting the lastest zip for any HashiCorp project.

[2017-07-12 17:50] sethvargo commented on #5120
https://github.com/hashicorp/terraform/issues/9803#issuecomment-257903082

[2017-07-12 18:17] lfarnell commented on #5120
thanks @sethvargo! I had no idea about the API. Going to have a look at it :smile:

[2017-07-12 18:19] #5120 closed

[2017-07-12 18:22] alexharv074 commented on #5120
Totally disagree.

It is like saying, "yum update should not be allowed to exist because that would make it too easy to get the latest versions of software".

At some points in the CI/CD pipeline, infrastructure code should be versioned; at other points, it should not. It is completely normal, in the development phase of the infrastructure, to always fetch the latest version of everything. Then, a

[2017-07-12 18:28] sethvargo commented on #5120
Hi @alexharv074

You're happy to disagree, but we are not going to add a "latest" endpoint. That information is available via checkpoint and the hashicorp releases service, but it's likely not a pattern we will ever encourage. Users who understand the tradeoffs are more than welcome to use the APIs to build an automated tool, but we will continue to recommend that you lock to a specific version an

[2017-07-12 18:44] alexharv074 commented on #5120
The latest (Linux) version can be obtained using:

[code]

[2017-07-12 23:26] taliesins commented on #4880
@evancox10 can you confirm if `Set-VMMemory -VMName $vmName -DynamicMemoryEnabled $enableDynamicMemory` has any effect.

Ignore Packer all together.

I think we should be able to specify min and max

[2017-07-12 23:30] taliesins commented on #5064
@matt-richardson  I am assuming the windows-restart makes use of powershell to restart the box.

I think that is probably best to install powershell 5 via autounattend.xml

e.g. https://github.com/taliesins/packer-baseboxes/blob/master/windows/windows-10-amd64/Autounattend.xml#L356

[2017-07-12 23:32] taliesins commented on #5049
I think I am going to leave this thread running. 50% of the issues people seem to have are related to this topic.

As far as I can tell there is nothing we can do from Packer's side.

[2017-07-12 23:35] taliesins commented on #4549
sounds good

[2017-07-12 23:37] taliesins commented on #5087
Yes I would like a PR for this. I am assuming that if we would have 1 parameter in Packer.

If its not a empty it would add `-EnableSecureBoot On`

[2017-07-13 05:04] evancox10 commented on #4549
Hey @taliesins @mwhooker , I've pushed my first attempt at fixing this. here's the branch in my repo: https://github.com/evancox10/packer/tree/hyper-v-fixes

Would one of y'all mind taking a look? Please let me know if there's anything you think I'm missing. (There's still a few comments I need to clean up.)

BTW I had about 240 files modified/added under ./vendor/ , not really sure what I'm suppo

[2017-07-13 05:09] evancox10 commented on #4549
Also, on my Ubuntu 16.04 test case, going from Block Size of 32 MiB to 1 MiB, the size of the VHDX went from 3.29 GiB to 1.64 GiB. That's a 50% reduction in size!

[2017-07-13 05:44] jcrben commented on #4988
Experiencing the same thing. Definitely seems to be a UX issue.

[2017-07-13 14:45] sbaxter opened #5122 "Region Copying + Encrypting AMIs does not work."
#4948 added a really nifty feature that I don't think is working quite yet. The code that [deregisters the unencrypted AMI](https://github.com/hashicorp/packer/blob/b8c2a5fd438909619bb22f6c648172bd629fc47f/builder/amazon/common/step_encrypted_ami.go#L107-L113) executes before the AMI copy; the copy fails due to a lack of an available unencrypted AMI to copy.

* Packer v1.0.2 on linux and OSX.
* [L

[2017-07-14 03:06] matt-richardson commented on #5064
I've changed to use this workaround, but this workaround isn't much better than my workaround of listing the file twice... Still think there's some kind of bug there.

[2017-07-14 06:28] sandersaares opened #5126 "Installing curl in Ubuntu Server 16.04 on Hyper-V often silently fails"
On an Ubuntu Server 16.04 machine being built on Hyper-V host, the `DEBIAN_FRONTEND=noninteractive apt-get -y install curl` command (executed via .sh file) often "silently" fails with the following visible in the log:

[code]

Curl does not get installed. If I have other provisioners defined after this, they will be executed just fine by Packer but soon fail because of the missing curl installatio

[2017-07-14 08:07] rickard-von-essen commented on #5126
This is because for some reason you SSH session is disconnected. For backwards compat and other reasons this is the intended behaviour. See https://www.packer.io/docs/provisioners/shell.html#expect_disconnect

[2017-07-14 08:09] rickard-von-essen commented on #5126
I'll mark this as invalid, at least untill there are some indications that there is a bug in packer.

[2017-07-14 09:19] tiefox commented on #4885
Same issue for me with packer 1.0.2 and Vmware fusion 7.1.3.

All files have {{timestamp}} in the name.
But I dont have any ide0:0, only sata and is set already to "TRUE".

[2017-07-14 10:58] ashb commented on #3210
The docs https://www.packer.io/docs/provisioners/file.html#symbolic-link-uploads are wrong because of this, and I get this error:

[code]

[2017-07-14 12:19] rickard-von-essen opened #5128 "cloudstack: Support for Security Groups"
Add support for SGs (_Security Groups_) as a alternative to _Firewall Rules_ and _Port forwarding_.

[2017-07-14 12:20] rickard-von-essen commented on #5128
@svanharmelen I'll work on this but if you have taught about this please add your thoughts here.

[2017-07-14 12:32] rickard-von-essen commented on #3210
Hi @ashb , thanks for reaching out.

This ticket is really old so it's probably not relevant to the issue you're seeing. If you're still having trouble, would you please open a new issue with the debug log and a json that reproduces the issue? Thanks!

[2017-07-14 12:37] ashb opened #5129 "Docs around symlinks for file provisioner are wrong/incomplete"
The docs https://www.packer.io/docs/provisioners/file.html#symbolic-link-uploads are wrong and wont work in a common case: that of a fresh repo checkout. They show using a local shell provisioner to create a tar file, but if that doesn't exist first time then it will never run (because the file provisioner checks for existance before running the local shell provisioner).. This is the error I get :