[2016-11-03 17:26] mwhooker commented on #4108
Looks like this was fixed in #3865, and should be fixed in the latest version which is 0.11.0.

[2016-11-03 17:26] #4108 closed

[2016-11-03 17:32] mwhooker commented on #4106
thanks for the report. This should be fixed in https://github.com/mitchellh/packer/pull/4099, which is in master now but will make it in the next release

[2016-11-03 17:32] #4106 closed

[2016-11-03 17:50] mwhooker commented on #4095
hmm, could you clarify? Do you mean if someone has those settings but they point to a non-existant script?

[2016-11-03 18:35] mwhooker opened #4111 "builder/amazon: prevent metadata service timeouts"
In a hosted environment we've seen `Get http://169.254.169.254/latest/meta-data/placement/availability-zone: dial tcp 169.254.169.254:80: i/o timeout` errors

terraform has some code that might help us https://github.com/hashicorp/terraform/blob/master/builtin/providers/aws/auth_helpers.go#L112-L140

[2016-11-03 18:38] jevonearth commented on #4095
I'll re-test and confirm. Thanks.

[2016-11-03 18:45] rwildgrube opened #4112 "AWS IAM Role missing rule for attaching existing Security Group"
If you are attaching an existing security group using:
 "security_group_ids": "sg-xxxxxxxx",

In your json file  with the policy example in https://www.packer.io/docs/builders/amazon.html it fails and attached the default Security Group.
To fix the issues you need to add:
ec2:DescribeSecurityGroups
to the policy.
I would suggest adding this to the documentation.

[2016-11-03 18:52] mwhooker commented on #4112
The docs aren't updated on the website yet, but this was fixed in #4059

[2016-11-03 18:52] #4112 closed

[2016-11-03 19:09] mwhooker commented on #3026
It looks like this is fixed. please re-open if `state_timeout` doesn't work.

[2016-11-03 19:09] #3026 closed

[2016-11-03 20:07] dfarrell07 commented on #3771
That works. A [work-around like this](https://git.opendaylight.org/gerrit/#/c/47904/) gets Docker 1.12.3 working with Packer 0.10.1.

Thanks!

[2016-11-03 20:46] jevonearth commented on #4095
The below packer config, and referenced shell file should trigger the "Startup script not finished yet. Waiting..." condition. Using @crunk1 master build.

Log:
https://gist.github.com/jevonearth/d57705252c2e60de4dfc1e7d5ad9be35

[code]

[code]

[2016-11-03 20:54] crunk1 commented on #4095
So, are you confirming that it works? Or is there an issue? I see that the "waiting" prompt occurred over a period of ~30 secs before you killed the build. My test startup script was made to run for 60 secs.

[2016-11-03 21:30] wintersky commented on #3801
Here is an example of a blog post recommending a means of Ansible testing which recommends using symlinks to the grandparent directory:
https://www.ansible.com/blog/testing-ansible-roles-with-docker
When the ansible-local provisioner tries to upload the playbook_dir tree, it trips on the "infinite loop".

[2016-11-03 23:06] mafonso commented on #3109
Any updates on this? Does not seem to be supported in 0.11.0 yet.

It would be nice to get rid of the `aws sts assume-role` wrapper script.

[2016-11-04 03:25] clstokes opened #4113 "Allow specifying additional tenants for sharing OpenStack images."
When building an OpenStack image using Packer, the resulting image is available only to the tenant (or project) that was specified in the builder. Additional tenant ids should be able to be set (optionally) to share the resulting image with multiple tenants. This is functionally equivalent to the [ami_users](https://www.packer.io/docs/builders/amazon-ebs.html#ami_users) option for the `amazon-ebs`

[2016-11-04 07:28] berney commented on #4056
OK I've been trying to get to the bottom of this and I can no longer find what I did with the logs from the "successful" build after I had disabled the vagrant post-processor. I'm now doubt it was successful. I think I was judging success by the fact that the output directory still existed.

I've iteratively built debug versions of packer to work out what is happening, and I believe the error lies

[2016-11-04 07:47] berney commented on #4056
It looks like it's fixed maybe in v0.11.0, as there's an extra condition to the if. https://github.com/mitchellh/packer/commit/23246c01cfb402c3e32b3d43ecaded42ccf17fc0.

I tested on some dev version of 0.11 based off master that was before this patch.

I'll have to test v0.11.0 release, and confirm this issue is resolved.

[2016-11-04 10:25] rickard-von-essen commented on #4113
@varikin Do you know if this requires Glance?

[2016-11-04 14:18] z0rc opened #4117 "Option to disable SSH Proxy information messages"
When running `ansible` provisioner, the packer starts a SSH proxy and merges it rather unnecessary output with `ansible-playbook` log. For example:
[code]
This produces hardly readable log. Can output of SSH proxy be enabled only with `PACKER_LOG=1` or as option in provisioner?

[2016-11-04 15:28] pschultz opened #4118 "Googlecompute: Startup script incompatible with CoreOS"
$ bin/packer version
    Packer v0.11.0

[code]

* * *

[The startup script for GCE in v0.11.0](https://github.com/mitchellh/packer/blob/v0.11.0/builder/googlecompute/startup.go) doesn't seem to work on CoreOS machines. Running it manually certainly does not:

[code]

gcloud (and gsutil as well) are aliases, defined in /etc/profile.d -- so for login shells only:

[code]

The script was changed in

[2016-11-04 15:31] pschultz commented on #4118
For completeness, google-cloud-sdk.sh contains the following:

[code]

I suppose one could also ask why the aliases are only defined for login shells. It stands to reason that many scripts would profit if they would be defined in all shells.

[2016-11-04 15:39] rickard-von-essen commented on #4118
Slightly related to #4102

[2016-11-04 16:17] jevonearth commented on #4095
I think there is still an issue, but you are right, I was too quick with my log. I made a new test, and added a sprinkle of patience. :)

Please see: https://gist.github.com/jevonearth/1676bdfd519b431981e3e7cd34af77db

[2016-11-04 17:59] mwhooker opened #4119 "builder/amazon: temporary keys/SGs not being cleaned up"
according to @jen20 security groups and keys aren't being cleaned up as of ac043157

[2016-11-04 20:20] #4119 closed

[2016-11-04 22:35] pmcgrath opened #4120 "builder/amazon: not deleting temporary keypair in v0.11.0"
I'm seeing packer not removing the temp key pair at the completion of an AWS AMI build since i upgraded to v0.11.0

My environment info
[code]

After upgrading to v0.11.0 I see the following output at the bottom
[code]
No mention of removing the temporary keypair packer created, when I look in the AWS console I can see key pairs with the packer_ prefix being created but not being removed

I switch

[2016-11-04 22:51] mwhooker commented on #4120
thanks for the report. I closed #4119 since I was unable to reproduce. Let me try to do some more debugging

[2016-11-04 22:59] mwhooker commented on #4120
@pmcgrath thanks for the report. This was fixed in https://github.com/mitchellh/packer/pull/4080 which is available on master

[2016-11-04 22:59] #4120 closed

[2016-11-04 23:01] cbednarski opened #4121 "Document options for AWS key pairs"
There is a great table here that describes a few options for specifying a key pair for an AWS instance, and which ones packer will use automatically.

https://github.com/mitchellh/packer/pull/4080#issuecomment-256921058

We should add this to the documentation (just need to find the right spot for it).

inline for convenience

ssh_pwd|priv_key_file|keypair|temp_keypair|Packer should do..
-------|-

[2016-11-05 00:20] crunk1 commented on #4095
I haven't done anything with FreeBSD on GCE. Can you get a copy of /var/log/messages (or whatever syslogs go to in FreeBSD) of the instance created by the builder? I want to see if startup scripts are running properly on the instance.

[2016-11-05 06:35] spuder opened #4122 "Azure-setup.sh fails with unknown option `--home-page'"
Microsoft released a blog article showing how to setup terraform with azure.

https://blogs.msdn.microsoft.com/eugene/2016/11/03/creating-azure-resources-with-terraform/

The referenced script is located in this repo

https://github.com/mitchellh/packer/blob/33f430bf255ce2999f3eec7270e15b516a1c214a/contrib/azure-setup.sh

When trying to run this script, it throws the following error:

[code]

[cod

[2016-11-05 13:07] rickard-von-essen commented on #4117
Yes, I agree that the `ansible` provisioner is a bit noisy.

[2016-11-05 13:22] grv87 commented on #711
@rwildgrube, I experienced the same issue. It seems there is a gap in documentation about required permissions. 0f4d2341cb87c87b92b582f63c82e3834a0d349a fixed it.

[2016-11-05 13:32] rickard-von-essen commented on #4117
@z0rc see PR #4123

[2016-11-05 15:28] rickard-von-essen commented on #3109
@mafonso See #4124

[2016-11-05 15:40] ThatGerber commented on #3722
The only way that would work would be to reauthenticate and refresh the tokens at every request to AWS. STS credentials are limited to an hour. There's no way to make it longer.

[2016-11-05 15:59] rickard-von-essen commented on #3722
You may try #4124, I think it may re-authorise in the aws-sdk.

[2016-11-05 17:37] bhcleek commented on #3870
@mwhooker I found a simpler path forward than the solution used by terraform by simply providing an `os.FileInfo` implementation that can be used for the rpc communication. RE: #3940

[2016-11-05 18:40] #4117 closed

[2016-11-05 18:58] #3870 closed

[2016-11-05 20:53] mwhooker opened #4125 "builder/amazon-ebsvolume: Return artifact"
We should return an artifact in the builder added in #4088.

cc @jen20

[2016-11-06 00:31] varikin commented on #4113
@rickard-von-essen I would assume so, but I am haven't looked at that functionality. We are happy with just making images public to all projects (tenants).

[2016-11-06 16:43] eredi93 opened #4126 "Docs website not updated"
the docs on the website are not matching the one in the repo.
The AWS policy here:
https://www.packer.io/docs/builders/amazon.html
do not match this one:
https://github.com/mitchellh/packer/blob/master/website/source/docs/builders/amazon.html.md

I discovered it after wasting 1h with permission problems. The Policy on the website is missing permission eg `ec2:DescribeSecurityGroups`

[2016-11-06 17:05] rickard-von-essen commented on #4126
The site is deployed when a release is made. 0.12.0 will be released in about a week.

[2016-11-06 17:05] #4126 closed

[2016-11-06 17:44] spuder commented on #4122
[According to this discussion](https://disqus.com/home/discussion/thewindowsazureproductsite/authenticating_a_service_principal_with_azure_resource_manager_19/?utm_source=reply&utm_medium=email&utm_content=read_more#comment-2926387738), version 0.10.5 of the azure cli took away the `--home-page` option.

According to Tom FitzMacken at Microsoft

[2016-11-06 18:18] spuder commented on #4122
You can assign this to me, I'll work on a pull request

[2016-11-06 23:59] emo3 commented on #3859
I will have to test that and see.  Thanks for the input.

[2016-11-07 09:10] maxim-nazarenko opened #4129 "builder/azure hangs with 'waagent -deprovision+user'"
Packer version: 0.11.0

I used https://github.com/mitchellh/packer/blob/master/examples/azure/debian.json as start point for Azure image building.
The build process hangs for a while after running `/usr/sbin/waagent -force -deprovision+user && export HISTSIZE=0 && sync` at the same time deprovision without '+user' works just fine.

The error itself:
[code]

[2016-11-07 13:18] jbeisser opened #4130 "String issue in builder/amazon/common/step_run_source_instance.go:367"
I'm not sure if this is a persistent problem in Vet or what's up. But it appears the string declaration causes problems trying to compile.

Switching `%s` to `%v` addresses the issue, but I don't think it's the right fix.

Packer v0.11.1.dev (f06ab286bf6c7462b284ab69fa6091ba0ee00b6d+CHANGES)
go version go1.7.3 darwin/amd64

Not yet tested this during provisioning.

[code]

[code]

[2016-11-07 13:58] vbatoufflet commented on #4100
Hi All,

Will you be interested by a PR for this support?

If yes, WDYT of testing for the existence of the image by family name as a fallback if the basic method failed?

Regards,
Vincent

[2016-11-07 14:16] wellenvogel opened #4131 "VirtualBox Builder - omit export"
It would be helpfull to be able to completely omit the export of the VM during a VirtualBox build.
The usecase:
Using a custom provisioner script the necessary data will already be fetched from within the machine after the installation is finished. There is no need for an ova/ovf afterwards.
Basically the export is no real problem - but it consumes time (and resources).

[2016-11-07 18:12] mwhooker commented on #4131
should be pretty straight-forward if anyone wants to submit a PR.

Would just conditionally add the `vboxcommon.StepExport` step in the virtualbox builders. Probably want to add a config option like `skip_export`.

[2016-11-07 18:17] mwhooker commented on #4130
That's weird. I'll send up a fix.

[2016-11-07 18:18] #4130 closed

[2016-11-07 19:15] donfaruco commented on #2902
I started having similar issue this weekend as well.  It almost seems as if it does not recognize salt is installed or salt-call is not in the path.

[2016-11-07 22:52] mwhooker commented on #4113
looks like the API is here https://github.com/rackspace/gophercloud/blob/HEAD/openstack/imageservice/v2/members/requests.go

[2016-11-07 23:53] mwhooker commented on #4113
@clstokes 0.12.0 will come out next week and we'll get this in immediately after in 0.12.1 before 1.0

[2016-11-08 01:26] donfaruco commented on #2902
This is a salt issue.  The latest bootstrap script does not install salt correctly making unusable.  They have an open issue in the bootstrap project.

[2016-11-08 01:27] berney commented on #4056
I'm still getting errors after trying v0.11.0 and master (adding my patch to work-around #4022, https://github.com/mitchellh/packer/issues/4022#issuecomment-254471251).

I've added some debugging logs to packer and I'm trying to narrow down where the issue is. I'll upload logs of the errors today.

[2016-11-08 02:20] berney commented on #4056
OK I believe the cause of the issue is that the vagrant post-processor is looking at the local file system rather than using the remote file system (ESXi).

post-processor/vagrant/post-processor.go

[code]

post-processor/vagrant/vmware.go

[code]

post-processor/vagrant/util.go

[code]

In the logs, right after I see `vmware-iso (vagrant): Copying: /vmfs/volumes/datastore1/output-macos1012-vmware

[2016-11-08 05:07] clstokes commented on #4113
Thanks Matt!

[2016-11-08 05:27] rickard-von-essen commented on #4113
@mwhooker Could you also look into throwing in a option for visibility, private or public. See
https://github.com/rackspace/gophercloud/blob/master/openstack/imageservice/v2/images/requests.go

[2016-11-08 06:06] wellenvogel commented on #4131
Maybe we could reuse the format <code>format</code> option with a value of <code>none</code>.

[2016-11-08 08:42] rickard-von-essen commented on #4131
I think it's cleaner to check for skip_export in step_export and just log a
message and return step.Continue

On 8 November 2016 at 07:06, wellenvogel <notifications@github.com> wrote:

[2016-11-08 13:40] keiranmraine opened #4132 "packer build: don't open stdin if a file is provided"
At present you can read the json template from stdin, but it seems counter intuitive that the process opens stdin even when a file is provided.

As the args expect `-` when reading from stdin why is the handle held open?  This can cause mild confusion as to why a process can't be run in the background, especially when `-machine-readable` is in effect.  Clearly the work around is possible but it ma

[2016-11-08 18:17] Techcadia commented on #3757
I upgraded to 5.1.8 of Virtualbox and this issue was resolved for me. The work around did work on my older version of Virtualbox but I would rather not have to hack all the files.

[2016-11-08 18:41] mwhooker commented on #4122
fixed in #4133

[2016-11-08 18:41] #4122 closed

[2016-11-08 18:47] kagarlickijd opened #4134 "Packer stuck at: "Gracefully halting virtual machine" after Windows sysprep"
Hi there, my environment is:
Host platform - macOS 10.12.1
Packer version - 0.11.0 (**the same with packer 0.10.2**)
Vagrant version - 1.8.6
VMware Fusion Pro version - 8.5.1
VirtualBox version - 5.1.18
Parallels version - 12.0.2

vagrant plugin list
vagrant-aws (0.7.2)
vagrant-parallels (1.6.3)
vagrant-share (1.1.5, system)
vagrant-vmware-fusion (4.0.14)

Repo with all necessary code to reproduce

[2016-11-08 19:22] #2421 closed

[2016-11-08 19:33] rickard-von-essen commented on #3757
I'll close this since this is fixed in VirtualBox 5.1.6.

[2016-11-08 19:33] #3757 closed

[2016-11-08 19:35] rickard-von-essen commented on #3748
This seems to be a duplicate of #3757. Please upgrade to VirtualBox 5.1.6 and reopen if that doesn't help.

[2016-11-08 19:35] #3748 closed

[2016-11-08 19:38] rickard-von-essen commented on #4134
Please supply the information requested in the issue template:
- Debug log output from `PACKER_LOG=1 packer build template.json`.
  Please paste this in a [gist](https://gist.github.com).
- The _simplest example template and scripts_ needed to reproduce the bug.
  Include these in your [gist](https://gist.github.com).

[2016-11-08 19:41] rickard-von-essen commented on #4131
@mwhooker Yes I agree.

[2016-11-08 19:48] rickard-von-essen commented on #2902
@donfaruco Could you link the issue on the bootstrap project?

[2016-11-08 19:50] rickard-von-essen commented on #4129
I guess that if you add `"skip_clean": true` to your `shell` provisioner it will be fine.

[2016-11-08 20:49] kagarlickijd commented on #4134
Sure, example gists were added to the initial post, here's log output: https://gist.github.com/kagarlickijd/672e2bd901c7860678f941390c5b01e0

Please be informed that errors like
_"vmware-iso : The term 'vmware-iso' is not recognized as the name of a cmdlet, function, script file, or operable
2016/11/08 22:32:38 ui:     vmware-iso: program. Check the spelling of the name, or if a path was included,

[2016-11-08 23:47] leroux opened #4136 "packer timestamp interpolation out-of-sync"
Packer version: 0.11.0

Problem
--------
The variable used to interpolate `{{ timestamp }}` is initialized once per process.
Depending on system load, the initialized values can vary by milliseconds to entire seconds.
This means that the `{{ timestamp }}` value for a post-processor could be a whole second greater than the value in a `builder`.

I think `InitTime` is initialized for each spawned pr

[2016-11-09 01:25] DanHam opened #4137 "provisioner/shell: properly retry cleanup command to work through reboots"
Issuing a reboot command within a provisioning script causes the Packer build to fail. The issue is present in versions 0.11.0 and 0.11.1.dev and reproducable with both Virtualbox and VMware builders. The same template and script combination works perfectly with version 0.10.2.

The issue appears to be caused by Packer attempting to remove the provisioning script after the machine has begun to reb

[2016-11-09 02:52] howdoicomputer commented on #1401
Totally outside the scope and traditional use case for Packer but I wanted to automate Linux image creation for laptops using Chef and Packer.

[2016-11-09 08:54] madduci commented on #3579
any news about this issue?

[2016-11-09 09:16] maxim-nazarenko commented on #4129
Thank you @rickard-von-essen `skip_clean` solved the problem.
I was sure that packer kept SSH connection opened after shell provision and used it for script cleanup process.
But it looks like packer tries to establish new connection and after `-deprovision+user` credentials for SSH become invalid

[2016-11-09 09:52] juaningan commented on #1401
This are the steps:

1. Create raw image with QEMU raw builder
2. Boot your laptop with any modern linux distro (maybe with PXE)
3. Download your raw image and dd to your physical disk
4. install grub in your physical  disk
5. exit and Ready!

Maybe you can automate steps 3,4,5 when laptop boots.

[2016-11-09 10:42] madduci commented on #2494
I can confirm still the issue with Packer 0.11 and VMware player 12.5.1.

In headless mode, the build cannot be performed under Linux, only when headless is set to true.

[2016-11-09 11:42] rickard-von-essen commented on #3579
This works as expected in 0.11.0.

[2016-11-09 11:48] rickard-von-essen commented on #3579
I can't find that this have been fixed and don't see that it have been broken in near time.

Please reopen if you can repro this with 0.11.0 and provide a full template to repro this.

[2016-11-09 11:48] #3579 closed

[2016-11-09 13:13] s7726 commented on #1401
https://fogproject.org/

I was thinking there might be an integration opportunity here.

On Wed, Nov 9, 2016, 1:52 AM Juan José Presa <notifications@github.com>
wrote:

[2016-11-09 13:51] Adelrisk commented on #869
+1 the workaround is really brittle.

[2016-11-09 14:59] jbeisser commented on #4130
Definitely odd. Wouldn't have noticed except while needing to dig through
source code to vet some things.

On Mon, Nov 7, 2016 at 10:17 AM, Matthew Hooker <notifications@github.com>
wrote:

[2016-11-09 18:42] rickard-von-essen commented on #3544
Closing this since this is not a Packer issue. Please reopen if you disagree and have more information.

[2016-11-09 18:42] #3544 closed

[2016-11-09 22:17] mrled opened #4140 "shell-local post-processor results in errors on Windows"
When I try to use the `shell-local` post-processor in Windows, it fails with an empty error message.

Is this working under Windows? Have I done something wrong?

- Packer version: 0.11.0
- Host platform: Windows
- Simplest example template and scripts: https://gist.github.com/mrled/a6454b8432fc20b043ee70d64d6fd552

[2016-11-10 00:26] mwhooker commented on #4140
confirmed this.

the problem seems to be that powershell.exe won't run any file that doesn't end in ".ps1" and we write the script to something like packer-shell123456

[2016-11-10 00:27] leroux commented on #4136
@rickard-von-essen, I don't have a reliable repro since it's a timing issue. I could try to simulate a heavily loaded system and get close to hitting it more often. I'll get back with my findings when I get some time.

[2016-11-10 00:33] mrled commented on #4140
Hmm. That might be a problem, but I'm also seeing it when trying to run a Python script, and Python isn't constrained to only running files with certain extensions. I've updated my gist with a Python script and its output. It has the same empty error message.

[2016-11-10 00:57] mwhooker commented on #4140
alright I think the problem is that the post-processor communicator uses `exec.Command("sh", "-c", cmd.Command)`.

I manually changed it to use `exec.Command("Powershell.exe", "-command", cmd.Command)` and made the `execute_command` something like `Move-Item {{.Script}} {{.Script}}.ps1; Powershell.exe -File {{.Script}}.ps1` and it worked. Need to figure out how to abstract this for the windows hos

[2016-11-10 01:01] mwhooker commented on #4111
@jen20 can you help me reproduce this issue? I'm not sure if it's a transient thing or repeatable deterministically

[2016-11-10 01:08] jen20 commented on #4111
I discussed offline with @mwhooker, we think we have a solution.

[2016-11-10 01:08] mwhooker commented on #4111
a little more clarity: this happens on providers who try to impersonate the aws meta-data service, but which actually can't respond correctly. I'm closing this as I think it's out of scope of packer

[2016-11-10 01:25] mwhooker commented on #3571
@ViaviSolutions any chance you could test the code in https://github.com/mitchellh/packer/pull/4144 ?

[2016-11-10 02:21] CpuID commented on #3072
@jen20 built some AMIs yesterday using 0.9.0 with the longer IDs, no issues here. Probably safe to close.

[2016-11-10 02:38] CpuID opened #4145 "Feature Request: Better use of EC2 spot instances with on-demand fallback"
It is common when using `spot_price` on the amazon-* builders, to end up with `price-too-low` requiring a manual change of either a) `availability_zone` or b) `spot_price`. A good example:

- c4.large in us-east-1 has an on-demand price of 0.105/hr
- spot prices in 2 AZ's are well below the on-demand price
- the other 2 AZ's are easily 5-10x the on-demand price

![capture](https://cloud.githubuser

[2016-11-10 02:40] CpuID commented on #1763
Related: https://github.com/mitchellh/packer/issues/4145

[2016-11-10 02:50] CpuID opened #4146 "Feature Request: Multi AZ selection with Spot Instances (AWS) using Spot Fleet of Target Size 1"
Currently you can only specify a single AZ/Subnet when doing spot instance builders (using amazon-*) in a VPC. There seems to be the ability to specify multiple Subnet IDs and AZs using the AWS console to launch instances in any AZ within a single VPC, on a single request.

This would be another workaround for https://github.com/mitchellh/packer/issues/4145 where some AZs have spot prices of 5-10x

[2016-11-10 02:51] CpuID commented on #4145
An alternate workaround is described in https://github.com/mitchellh/packer/issues/4146 - different solution to a similar underlying problem.

[2016-11-10 02:55] CpuID commented on #4146
This would probably require input parameter changes to the builder for `subnet_id` and `availability_zone` (probably needs a map of AZs and subnets respectively to feed in to [SpotFleetRequestConfigData](http://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_SpotFleetRequestConfigData.html))

[2016-11-10 05:31] rickard-von-essen commented on #4140
Maybe we should have a `powershell-local` post-processor. But on the other
hand we have our doubts about the `shell-local` since it ties the
configuration tighter to the setup/type of host running the build.

On Nov 10, 2016 01:57, "Matthew Hooker" <notifications@github.com> wrote:

alright I think the problem is that the post-processor communicator
uses exec.Command("sh",
"-c", cmd.Command).

I m

[2016-11-10 05:37] rickard-von-essen commented on #3072
This works fine for me. Please reopen if you find any problem with longer aws id's.

[2016-11-10 05:37] #3072 closed

[2016-11-10 14:44] idoru78 opened #4150 "Windows guests failing to build on Linux hosts."
BUG:

Packer seems to be assuming that a powershell script has completed with exit code 0 when it is still running. This has happened is a couple of differant places but the uploaded gist shows it happening mid puppet run. It then moves onto the next post provision step where it hangs until we abort the build. We can see from the puppet master logs that the puppet run is not complete. This only se

[2016-11-10 14:45] idoru78 commented on #4150
Note that we have the same issue on Packer 0.10 and 0.11 as well.

[2016-11-10 15:27] rickard-von-essen commented on #4150
Please supply the information requested in the issue template:
- Packer version (`packer version`)
- Host platform (`uname -a` etc.)
- Debug log output from `PACKER_LOG=1 packer build template.json`.
  Please paste this in a [gist](https://gist.github.com).
- The _simplest example template and scripts_ needed to reproduce the bug.
  Include these in your [gist](https://gist.github.com).

[2016-11-10 15:38] Constantin07 commented on #3320
Completely agree with @eedwardsdisco

Just faced this issue too - it doesn't nicely clean up. Yes, indeed AWS doesn't do that but once ssh key pair and security group are temporarily created by packer for the AMI creation and then deleted, it would be consistent to delete old snapshot too.
Now it looks like a half solution - something done automatically and something left to be carried out manuall

[2016-11-10 15:42] idoru78 commented on #4150
Template - https://gist.github.com/idoru78/d87b740fad87410d06b88859ca1573d4

puppet.bat - https://gist.github.com/idoru78/b4027e7e72c964c444db241889c020af

[2016-11-10 16:15] evankroske opened #4151 "Website: The next and previous buttons in the docs hide the text"
Screenshot: https://goo.gl/photos/SGpyPk8BvFik1Jmv9

[2016-11-10 16:17] pschultz commented on #4100
So, I was just trying to use image families with docker-machine. They also don't have an explicit parameter for families, but accept the image URL. Turns out that the URL can be changed so that it works as an image *name* [1]:

    https://www.googleapis.com/compute/v1/projects/my-project/global/images/family/my-family

Notice the additional /family/ segment. This is a wild guess, but maybe this a

[2016-11-10 16:17] rickard-von-essen commented on #4151
Could you provide some info about your browser.

[2016-11-10 16:36] dvianello commented on #4100
@vbatoufflet, I'm not the biggest expert around, but your approach makes sense! 👍

[2016-11-10 18:12] smitelli commented on #3254
+1

I'd actually vote for taking it a step further -- adding a flag that can skip the "stop instance, wait for instance to stop, take snapshot, wait for AMI to become ready" and skip right to terminating the instance. In such a workflow, the `ami_name` config key might no longer be required either.

[2016-11-10 19:19] #2682 closed

[2016-11-10 21:44] evankroske commented on #4151
Chrome on iOS 10. iPhone 7 Plus.

On Thu, Nov 10, 2016 at 08:18 Rickard von Essen <notifications@github.com>
wrote:

[2016-11-10 21:57] #4129 closed

[2016-11-10 22:47] baldwinjim opened #4155 "Packer running under Jenkins - Provisioner script stops execution on Import-Module AWSPowershell"
FOR BUGS:
Packer version 0.11.0
Host Platform:  Ubuntu 14.04 running Jenkins v2.19.2
Situation:  using Jenkins to create a nuget build artifact, upload that artifact to Artifactory, then use packer to create application ami with that nuget install

I am using the windows-shell provisioner to run a powershell script.

"provisioners": [
     {
         "type": "windows-shell",
         "script": "sr

[2016-11-10 22:54] mwhooker commented on #4155
I wonder if this is a duplicate of #4150

seems like it might be

[2016-11-10 23:00] mwhooker commented on #4155
@baldwinjim could you try rewriting your provisioner to use the powershell provisioner and let me know if you've still got the issue? https://www.packer.io/docs/provisioners/powershell.html

[2016-11-10 23:48] mwhooker commented on #4095
reopening as this seems to still be an issue

[2016-11-11 01:52] detailedschematic commented on #3031
I would like to see this change as well. Since I do not use `boot_command`, I would rather not have to modify my VMware esxi host's firewall rules for VNC to allow a connection will go unused.

[2016-11-11 02:14] baldwinjim commented on #4155
I have tried with the Powershell provisioner, but I am  experiencing errors similar to 4044 so this was my attempt to work-around this issue

[2016-11-11 04:12] mrled commented on #4140
Hmm. Well I hope it, or something like it, stays around, because I've found it to be very useful. A powershell-local (or cmd-local, which I could use to invoke Powershell or any other scripting language myself) would definitely solve my problem too.

[2016-11-11 12:45] RajatGoyal opened #4157 "override packer template file"
I have a packer configuration file which uses remote shell provisioning on aws ebs builder, most of the things in the packer file are common to our many microservices. I want to keep this packer file as a git submodule for each of our microservices. Ideally, I would want to create a new JSON for each of my microservices which will inherit provisioner and builders from my existing JSON and the new

[2016-11-11 13:21] rickard-von-essen commented on #4157
Your best option is to use a wrapper that joins json or yaml files together or use something like https://github.com/aspring/racker .

Or you can also use file provisioner to upload a directory of provision script and invoke a generic shell provisioner which only runs all those files.

[2016-11-11 13:25] RajatGoyal commented on #4157
Thanks @rickard-von-essen racker feels exactly like the functionality that I needed. I had the second suggestion in mind, but really limits packer flexibility when i want to use multiple type of provisioner.

[2016-11-11 13:25] #4157 closed

[2016-11-11 19:33] crunk1 commented on #4095
@jevonearth are you still having troubles with this?

[2016-11-11 19:48] bnied opened #4159 "Copied AMIs Missing Tags"
- Packer version: v0.11.0
- Host platform: Ubuntu 14.04 x86_64 & macOS 10.12 x86_64
- Debug log output: https://gist.github.com/bnied/8c3bb4fc720a384c1212deb6fbe2c0dd

When creating new AMIs, and copying them to other regions, the tags don't get applied, even though Packer claims they were applied.

[2016-11-11 19:53] jevonearth commented on #4095
Been busy here, but I will make some time early next week to re-test and got you useful info from /var/logs etc.

[2016-11-11 20:16] dashfwd opened #4160 "Packer v0.11.0 does not work with MacOS Sierra v10.12.1"
Packer fails in numerous ways.
-> It often launches an Amazon instance, and then waits forever to connect to it.
-> If it gets far enough to start provisioning, it often dies with an EOF error.
-> Other indeterminate hangs

I've not been reliably able to get my packer script to run using MacOS Sierra.  The exact same script works fine if I'm using Ubuntu, using the same version of Packer.

I'm gue

[2016-11-11 20:33] rickard-von-essen commented on #4160
Your install is broken. Remove your current install directory and reinstall from [packer.io/downloads](https://www.packer.io/downloads.html). _Be sure to read the **note** about upgrading from < 0.9.0._

[2016-11-11 20:33] #4160 closed

[2016-11-11 21:13] rickard-von-essen commented on #4159
I can't reproduce this.

Could you see if it works if you correct the syntax, so that you have:
[code]

[2016-11-11 21:18] bnied commented on #4159
Giving it a shot now. Weirdly enough, the copies complete successfully, it's just the tags that are missing.

[2016-11-11 21:32] jrm16020 commented on #3443
+1 for the feature.

I've encountered this but with a different scenario.  I'm using the Packer container based on Alpine and updated it to use the `nobody` user.  `nobody` can't write to `.packer.d` and produces this error as well.  I can work around this at the moment by overriding HOME in my container.

[2016-11-11 22:10] bnied commented on #4159
@rickard-von-essen so, no dice. Changing the format didn't change the tags.

I'm trying a build that uses the proper format for the `ami_users` to see if that makes a difference.

[2016-11-11 22:38] tknerr commented on #3757
Can also verify that it's fixed with VirtualBox 5.1.6

[2016-11-11 22:49] bnied commented on #4159
Closing. The issue seems to be that the tags are only visible to the owner AWS account, rather than the shared accounts. Thanks @rickard-von-essen!

[2016-11-11 22:49] #4159 closed

[2016-11-11 22:56] rickard-von-essen commented on #1687
Closing this since the `--on-error` flag added in 0.11.0 (#3885) should cover this use case.

[2016-11-11 22:56] #1687 closed

[2016-11-12 12:25] rickard-von-essen commented on #4137
As a workaround you can set `"skip_clean": false`, see [shell - skip_clean](https://www.packer.io/docs/provisioners/shell.html#skip_clean).

[2016-11-12 13:13] rickard-von-essen commented on #4134
Could you provide the templet for VirtualBox that works?

[2016-11-12 16:00] dhoppe opened #4161 "Builder virtualbox-iso behaves differently than vmware-iso"
* Operating System macOS 10.12.1
* Packer 0.11.0
* VirtualBox 5.1.8
* VMware Fusion 8.5.1

I use the following Packer [template](https://github.com/dhoppe/packer-templates/blob/master/debian-8.6.0-amd64/template.json) to create a Vagrant box for VirtualBox and VMware Fusion.

For some reason the builder `virtualbox-iso` behaves differently than `vmware-iso`. While the build for VMware Fusion is te

[2016-11-12 17:55] rickard-von-essen commented on #4161
I can't repro this with a build from master. Can you explain what you mean with:

[2016-11-12 18:35] dhoppe commented on #4161
The installation via VirtualBox does not honor the settings from Persers.cfg,

[2016-11-12 21:47] rickard-von-essen commented on #4161
This is most likely not a bug in Packer. Since both builders works fine for me, I think you should try rerunning and verify that the load of the machine during the typing of the `boot_command` is low since otherwise it can interfere with it. Also try to verify that everything is typed as is should on the console. If you still have the problem attach the installation logs here and some screenshots

[2016-11-12 22:26] dhoppe commented on #4161
I followed your recommendations and this is the boot command.
![boot](https://cloud.githubusercontent.com/assets/1111056/20242400/e47f88a0-a92c-11e6-84b8-7b8789435f63.png)

As you can see at the log file, the newline from the previous screenshot is caused by the resolution of the VirtualBox window.
![boot_log](https://cloud.githubusercontent.com/assets/1111056/20242404/f8f24fd4-a92c-11e6-9f7e-487a

[2016-11-13 11:26] kagarlickijd commented on #4134
@rickard-von-essen sure, here's repo with all necessary code - [https://github.com/kagarlickijd/packer-demo](https://github.com/kagarlickijd/packer-demo)

Branch "**win-sysprep**" uses sysprep which works only with VirtualBox, but not with Parallels and VMware
Branch "**win-shutdown**" uses shutdown which works with VirtualBox, Parallels and VMware

[2016-11-13 11:57] rickard-von-essen commented on #4161
I tried again with Packer 0.11.0 on macOS Sierra, VirtualBox 5.1.6 and everything builds fine. I don't think there is anything more I try. I suggest you try on another machine or reinstall VirtualBox. If you find any more details about what is going wrong or find a solution feel free to post it here.

[2016-11-13 11:57] #4161 closed

[2016-11-13 22:29] rickard-von-essen commented on #4134
My Windows foo is extremely low but this is what I found so far.

1. Disabling WinRM in the firewall seems to hang everything at that:

[code]

2. Keeping WinRM allowed in the FW doesn't change anything besides that I get info that sysprep is running and then it hangs.

3. I have experimented with different combinations of `/quit` and `/shutdown` to `sysprep`.

4. [Line 46](https://github.com/mitc

[2016-11-14 01:14] pagemedias opened #4164 "builder/amazon: Crashing getting auto-generated password for instance"
- Packer version from `packer version`
0.11.0

- Host platform
Windows 7 Enterprise

- Crash Log
https://gist.github.com/pagemedias/c73c67216236ccd8192a2de866a0aa14

[2016-11-14 05:33] rickard-von-essen commented on #4164
[code]

[2016-11-14 06:28] rickard-von-essen commented on #4164
Please supply the information requested in the issue template:
- The _simplest example template and scripts_ needed to reproduce the bug.
  Include these in your [gist](https://gist.github.com).

[2016-11-14 06:29] rickard-von-essen commented on #4164
[step_get_password.go - L103](https://github.com/mitchellh/packer/blob/master/builder/amazon/common/step_get_password.go#L103)

[code]

[2016-11-14 13:53] DanHam commented on #4134
I've been experiencing much the same issue with my Windows builds. After _alot_ of messing around and experimentation I've come to much the same conclusions as Rickard.

I was wondering if the sysprep command is doing something with the WinRM firewall settings or with WinRM itself. This could cause the same apparent behaviour as when we leave in the command to disable the WinRM firewall rules and

[2016-11-14 17:09] baldwinjim commented on #4155
[code]

So, what I found was that the first script will typically fail with no error and the following provisioner scripts  will run without incident.  So, wrote my script to not use the AWSPoweshell module and created a dummy script called init.ps1 that does one thing:  Impport-Module AWSPowershell.   So, now I don't care if init.ps1 fails, I don't need it.  So far, initial testing looks good.

[2016-11-14 18:47] mwhooker commented on #4164
is this behavior repeatable? It says that the operation may take up to 15 minutes, but we've got a timeout of 5 minutes. I wonder if we should increase `AWS_TIMEOUT_SECONDS` during this call.

@pagemedias in the mean time you could probably get around this by setting `AWS_TIMEOUT_SECONDS` to something like 900

[2016-11-14 19:04] rickard-von-essen commented on #4164
It's not a timeout. It crashes because there is no key.

When using Windows the admin password is set by cloudbase-init and encrypted with the public key from the keypair and the owner of the keypair can decrypt it with the private ssh key.

[2016-11-14 19:07] rickard-von-essen commented on #4164
Most likely introduced in #3953 or a configuration error (that we should catch in prepare).

[2016-11-14 19:12] rickard-von-essen commented on #4164
One problem with the setup is that it can only work with temporary keypairs since you can't both specify communicator `winrm` and a private key.

But something like:

[code]

Should be possible.

[2016-11-14 19:44] #4111 closed

[2016-11-14 21:19] rickard-von-essen commented on #4134
`cmd.Wait()` waits for the `shutdown_command` to "return". It's hints about a solution by not waiting for the command to return, but just issue it and the wait for the VM to shutdown.

The strange thing is that it works for VirtualBox which have the same code as Parallels, where it doesn't work.

[2016-11-15 03:03] panpan0000 commented on #2679
+1

[2016-11-15 03:46] robbieaverill commented on #2649
Even an optional "verbose" flag that adds it would be awesome.

[2016-11-15 06:31] rickard-von-essen opened #4169 "builder/profitbicks: Fix (ssh) comm and some other options"
Comm related:
- [ ] Port 22 [shouldn't be hard coded](https://github.com/mitchellh/packer/blob/master/builder/profitbricks/config.go#L60). (If the builder requires port 22, validate that the template only contains 22 or "", don't silently ignore the option)
- [ ] Remove `ssh_key_path`
- [x] ~~Create a `fixer`which migrates `ssh_key_path` -> `ssh_private_key_file`~~ N/A
- [ ] `ssh.go` must handle a

[2016-11-15 12:41] jasminSPC commented on #4169
Would it be ok if I handle this together with 1&1 PR?

[2016-11-15 12:49] jasminSPC commented on #4169
Can you be a little more specific when you say this:

` Create a fixer which migrates ssh_key_path -> ssh_private_key_file` Do you want me to change how i call ssh_key_path, or did you have something else in mind?

[2016-11-15 13:07] rickard-von-essen commented on #4169
I guess not, even though it might be easier to pinpoint a change if they are separate. You choose.

Sorry just realized this wasn't in the latest release so we can just skip it.

FYI: Fixers are used to migrate users templates with the `packer fix <template>` command. And there was already a fixer for `ssh_key_path`, see https://github.com/mitchellh/packer/blob/master/fix/fixer_sshkeypath.go

[2016-11-15 14:37] jasminSPC commented on #4169
Alright.

Just to be clear it doesn't matter to you if I handle this in one PR?

And also about timeout, in both providers the value `timeout` doesn't indicate time period but number of iterations that will happen every second.  So 60 doesn't directly mean 60 seconds but rather 60 iterations where each iteration lasts `GetRequestStatus` + 1 second sleep. What do you suggest we do?

[2016-11-15 17:49] jasminSPC commented on #4169
As for WinRm it is not supported.

[2016-11-15 17:51] rickard-von-essen commented on #4169
One PR is fine.

Ok, then I see there is 3 alternatives:
1) Rename `timeout` to `retries` and explain in the docs that it will retry after on sec.
2) Take a `time.Duration` and convert to second and use it as the number of iterations to do, even though it's inaccurate.
3) Or you can use a timer, see [step_shutdown.go](https://github.com/mitchellh/packer/blob/master/builder/parallels/common/step_sh

[2016-11-15 17:55] jasminSPC commented on #4169
I'm going to go for retries,  as it requires the least work on both providers.

[2016-11-15 17:57] jasminSPC commented on #4169
Also about keyboard interaction. To provision a server either ssh key or password are required so keyboard interaction doesn't play any role.

[2016-11-15 18:18] rickard-von-essen commented on #4169
Keyboard interactive is a variation of password so it's needed.

On Nov 15, 2016 6:57 PM, "Jasmin Gacic" <notifications@github.com> wrote:

[2016-11-15 19:23] mwhooker commented on #3447
just spit-balling here. What if we introduce a e.g. `-quiet` flag which just blanket filters out any value set in the variables section? There are many issues with trying to be clever about the variable names as described already.

In the future, should packer move to HCL, I could imagine decorating the variable with privacy scope information, but that's not something that'll happen in the near fu

[2016-11-15 19:40] friism opened #4170 "Make SSH-based provisioners (script, etc.) work on Windows"
This is a feature request.

I've made the amazon builder work with Open-SSH and the ssh communicator, to get rid of WinRM jankiness and because traffic is not encrypted. Details here: https://github.com/friism/ec2-windows-packer-ssh

There are some problems with the shell provisioner though, that it'd be nice to address:

 * [ ] `execute_command` - (should be powershell if script is `.ps1`)
 * [ ]

[2016-11-15 19:42] moodwrench opened #4171 "Failed to send shutdown command with windows 2012 on vmware-iso"
Version: Packer v0.11.0

we've started seeing an issue that only seems to affect windows 2012 hosts using the vmware-iso builder on a remote ESXi machine

"type": "vmware-iso"
"remote_type": "esx5"
"shutdown_command": "shutdown /s /t 10 /f /d p:4:1 /c \"Packer Shutdown\"",

It seems that the build completes successfully with no communications issues or winrm issues, then times out connecting for t

[2016-11-15 19:42] rickard-von-essen commented on #4170
Could you elaborate on _"line endings are not correct"_?

[2016-11-15 19:46] rickard-von-essen commented on #4171
Seems to be a duplicate of #4041, fixed on master. Please reopen if you think otherwise.

[2016-11-15 19:46] #4171 closed

[2016-11-15 20:47] friism commented on #4170
@rickard-von-essen a file that's `CRLF` (Windows line endings) on the host running Packer ends up having `LF` line endings on the builder machine. I'm guessing that happens somewhere in the `scp` flow.

Probably, the communicator should just make sure that files are `CRLF` when uploaded to a Windows system...

[2016-11-15 21:57] rickard-von-essen commented on #4170
Ok, that is bad I think we should only use binary mode and never change the content of the file transferred.

[2016-11-15 23:18] jasminSPC commented on #4169
There you go

[2016-11-16 00:47] kronos opened #4173 "Feature request: Expose created instance's private and public ips."
It would be extremely convenient to have it as variable on provision steps.

[2016-11-16 03:15] ltrifonov commented on #3573
Hm... Just noticed similar behaviour on the very latest 0.12 (linux x64)
It applies only one volume tag. However, not the first one but the 7th in list of 9 ...

[2016-11-16 08:16] rickard-von-essen opened #4174 "azure: Communication configuration"
Related to #4172

- [ ] Don't set a default `ssh_username` [in a builder](https://github.com/hashicorp/packer/blob/676c3a21bf1858d5786ea3c74efbd1e7a2a24ad4/builder/azure/arm/config.go#L688).
- [ ] [The default to both](https://github.com/hashicorp/packer/blob/676c3a21bf1858d5786ea3c74efbd1e7a2a24ad4/builder/azure/arm/config.go#L580) `ssh`and `winrm` communicator is really weird and undocumented. I

[2016-11-16 09:24] ervoiox opened #4176 "Referencing ami id from source_ami_filter result in the template?"
Since Packer can now retrieve an AMI dynamically via `source_ami_filter`, it would be nice if there was a way of referencing the AMI ID in the template, for example - I like to tag what the source AMI is. Is it  possible to do this?

[2016-11-16 11:19] RajatGoyal opened #4177 "Get machine ip in provisioner"
I want to know the public IP of the machine which packer has provisioned to create the AMI. I am using Capistrano to deploy sidekiq in my machine(by running local-shell provisioner) after packer has installed other dependencies, but Capistrano will need the IP and ssh-agent should have the private key that packer has used to create the machine.

can someone guide me on how should i do that or if t

[2016-11-16 13:08] kronos commented on #4177
I think this ticket duplicates #4173

[2016-11-16 13:33] RajatGoyal commented on #4177
Agreed, I am wondering if there is a workaround? because people must be using Capistrano with packer already?

[2016-11-16 13:35] kronos commented on #4177
I failed to find the solution and postponed packer for a time being.

[2016-11-16 15:48] boumenot commented on #4174
Most Azure VMs are configured to disallow root SSH access, so not picking a default is a recipe for a poor UX.  I have not seen issues with picking a default in practice.  Please forward any bugs.

A default of ssh and winrm communicator was done unintentionally, and then maintained to ensure we did not break anyone.  I would have reverted the change for 0.11, but I didn't know when that was going

[2016-11-16 19:03] mwhooker commented on #4177
let's keep discussion in #4173

[2016-11-16 19:03] #4177 closed

[2016-11-16 19:06] mwhooker commented on #4173
I believe this is a duplicate of #3889

[2016-11-16 19:06] #4173 closed

[2016-11-16 19:46] rickard-von-essen commented on #4173
Just for reference for all provisioners that run on the host this is trivial. For `ansible` this is trivial.

The only one left is `shell-local` for that something simple like this solves it:
[code]

[2016-11-16 19:52] rickard-von-essen commented on #4174
#4172 Will set the default `ssh_username` to `root` in the communicator and clearly state that in the Communicator docs. I think that is the best available option.

@mwhooker any opinion on this.

[2016-11-16 20:24] boumenot commented on #4174
Why the push to change the default to root everywhere?  I am fine with documenting and explaining the choice, but I think having it just work (as much as reasonably possible) is better.

[2016-11-16 20:37] rickard-von-essen commented on #4174
As I see it there are three different alternatives:
1) No default, force everyone to set `ssh_username`
2) Default defined by comm ssh - `root` is the only reasonable default.
3) Per provisioner default. The only reason this would be better than 2) is if all images have the same default user. To my knowledge this is not the case in any cloud provider. Why is setting the `ssh_username` to `packer`

[2016-11-16 20:44] boumenot commented on #4174
Thank you for explaining, now I understand the thinking.

If this change needs to be made I would prefer 3, 1, 2 (in that order).

Setting the value to packer isn't useful.  Setting the value to not root is what is useful.  (The name packer was just the first thing that came to mind.)  If the user picks root the build will fail because root is generally not allowed to SSH directly to the VM per th

[2016-11-16 20:51] mwhooker commented on #4174
this hits that weird area where we're trying to guess things that are unknowable to satisfy the majority of cases. Since the user will be different in almost every scenario I can think of, I'd recommend not setting a default.

In the past we've tried to be really clever and try to understand the state of the systems we're operating on, but imo that's caused more problems than it's worth (c.f. prov

[2016-11-16 20:58] boumenot commented on #4174
One vote each for (1), (2), and (3). 😄

I am happy to remove the default, but can we delay this until the next major release.  A couple of days warning is more than sufficient, if you don't known when the release will be.

[2016-11-16 21:16] rickard-von-essen commented on #4174
Definitely agree with this. The only reason that I picked `root` was that otherwise we break digitalocean, cloudstack, googlecompute, and openstack templates which don't have a value defined.

So I would pick 1, 2, 3, but since the problem above I took my second choice.

[2016-11-16 21:24] mwhooker commented on #4174
current release schedule is to taper off feature releases in preparation for a 1.0 which will be early next year. the purpose of the 1.0 is to claim stability and freedom from most major bugs. Double checking with some people now about breaking BC in 1.0

[2016-11-16 21:37] cbednarski commented on #4174
@mwhooker Asked me to take a look at the thread here. I don't have enough context to weigh in on the best way to proceed but I want to reframe the convo slightly.

@boumenot is advocating for the perspective of let's make things "just work" based on the assumptions in Azure. This may not be the same behavior as packer in the typical case. I think the question here is "What does the user expect?"

[2016-11-17 00:13] mwhooker commented on #3671
jotting some notes

- if you want to run scripts against all of the generated artifacts, use the manifest and then shell post-processor and read the manifest file
- we'll rewrite post-processor so that it runs once per builder. This is how the other post-processors work. can use filter to run only for specific builders

[2016-11-17 00:46] mwhooker commented on #1758
happy to look at PRs from community for this

[2016-11-17 00:46] #1758 closed

[2016-11-17 00:52] #3110 closed

[2016-11-17 00:55] #1910 closed

[2016-11-17 00:55] #2010 closed

[2016-11-17 00:55] #2402 closed

[2016-11-17 00:55] #2441 closed

[2016-11-17 00:57] mwhooker commented on #1701
already implemented through manifest post-processor

[2016-11-17 00:57] #1701 closed

[2016-11-17 00:57] cbednarski commented on #2388
Heyo! You can now do this using the [artifice post-processor](https://www.packer.io/docs/post-processors/artifice.html), which allows you to override which files are used as the artifact.

[2016-11-17 00:57] #2388 closed

[2016-11-17 01:00] #463 closed

[2016-11-17 01:00] #534 closed

[2016-11-17 01:00] #725 closed

[2016-11-17 01:00] #906 closed

[2016-11-17 01:00] #981 closed

[2016-11-17 01:00] #1181 closed

[2016-11-17 01:00] #1191 closed

[2016-11-17 01:00] #1441 closed

[2016-11-17 01:00] #1543 closed

[2016-11-17 01:00] #1618 closed

[2016-11-17 01:00] #1696 closed

[2016-11-17 01:00] #1703 closed

[2016-11-17 01:00] #1970 closed

[2016-11-17 01:00] #1979 closed

[2016-11-17 01:00] #1982 closed

[2016-11-17 01:00] #2154 closed

[2016-11-17 01:00] #2362 closed

[2016-11-17 01:00] #2489 closed

[2016-11-17 01:00] #2588 closed

[2016-11-17 01:00] #2591 closed

[2016-11-17 01:00] #2634 closed

[2016-11-17 01:04] cbednarski commented on #3163
I dug into this earlier and the reason we don't have IDs is because we don't have a way to handle redirects if a heading is changed or to handle duplicates if a heading is reused. Unfortunately this is a lot of work to fix manually. We may fix it later via improved doc tools but for now we will not be fixing this. Thanks!

[2016-11-17 01:04] #3163 closed

[2016-11-17 01:06] #1414 closed

[2016-11-17 01:06] #1653 closed

[2016-11-17 01:06] #1702 closed

[2016-11-17 01:06] #1888 closed

[2016-11-17 01:06] #2058 closed

[2016-11-17 01:06] #2155 closed

[2016-11-17 01:06] #2219 closed

[2016-11-17 01:06] #2375 closed

[2016-11-17 01:06] #2386 closed

[2016-11-17 01:06] #2397 closed

[2016-11-17 01:06] #2425 closed

[2016-11-17 01:06] #2440 closed

[2016-11-17 01:06] #2461 closed

[2016-11-17 01:06] #2465 closed

[2016-11-17 01:06] #2477 closed

[2016-11-17 01:06] #2485 closed

[2016-11-17 01:06] #2492 closed

[2016-11-17 01:06] #2493 closed

[2016-11-17 01:06] #2529 closed

[2016-11-17 01:06] #2533 closed

[2016-11-17 01:06] #2540 closed

[2016-11-17 01:06] #2555 closed

[2016-11-17 01:06] #2593 closed

[2016-11-17 01:06] #2643 closed

[2016-11-17 01:06] #2861 closed

[2016-11-17 01:08] #1636 closed

[2016-11-17 01:08] #2006 closed

[2016-11-17 01:08] #2108 closed

[2016-11-17 01:08] #2248 closed

[2016-11-17 01:08] #2314 closed

[2016-11-17 01:08] #2406 closed

[2016-11-17 01:08] #2444 closed

[2016-11-17 01:08] #2528 closed

[2016-11-17 01:08] #2549 closed

[2016-11-17 01:08] #2813 closed

[2016-11-17 01:20] cbednarski commented on #2678
There are additional notes on this topic here: https://github.com/mitchellh/packer/issues/2409

[2016-11-17 01:20] cbednarski commented on #2409
Hey folks, we're tracking this issue here: https://github.com/mitchellh/packer/issues/2678

I'm closing this one as a duplicate.

[2016-11-17 01:20] #2409 closed

[2016-11-17 01:26] cbednarski commented on #2678
Hey folks, to update here:

This issue was blocked on https://github.com/rackspace/gophercloud/pull/565 which has since been merged. Since this is a community-supported feature in packer we do not have plans to implement this, but if you have code floating around for this please feel free to open a PR and reference this issue.

Thanks!

[2016-11-17 01:37] tdhite commented on #2678
I have it all still. Let me see what I can do.
On Nov 16, 2016 7:26 PM, Chris Bednarski <notifications@github.com> wrote:Hey folks, to update here:

This issue was blocked on rackspace/gophercloud#565 which has since been merged. Since this is a community-supported feature in packer we do not have plans to implement this, but if you have code floating around for this please feel free to open a PR

[2016-11-17 01:39] cbednarski commented on #3839
I think there is a more straightforward way to fix #3838 so I am going to close this. Thanks for providing the extra context here.

[2016-11-17 01:39] #3839 closed

[2016-11-17 01:46] mwhooker commented on #3307
moving to #3911

[2016-11-17 01:46] #3307 closed

[2016-11-17 06:11] ruzickap opened #4178 ""floppy_files" with wildcard characters are not working properly in qemu builder"
Hello.

It looks like there is a bug in Packer 0.11 and 0.12 when using the floppy_files with wildcards.
It's not happening in version 0.10 - with this version it's working fine like it's in the documentation: https://www.packer.io/docs/builders/qemu.html#floppy_files

When I'm using "floppy_files" like this:

[code]

I'm getting this error:

[code]

FOR BUGS:
- Packer version: Packer v0.11.0 and

[2016-11-17 07:15] joshuaspence commented on #1942
Hmm, why was this issue closed as wontfix? :(

[2016-11-17 12:19] RajatGoyal commented on #4173
@rickard-von-essen Thanks for the workaround!

[2016-11-17 13:44] jinesh-choksi commented on #4137
In case it helps you, here is how we apply updates and reboot in CentOS/RHEL:

[code]

With the above, you also won't need to use the "pause_before" stanza in the Packer template.

[2016-11-17 14:27] rickard-von-essen commented on #4137
The simple solution is that you just add [`skip_clean`](https://www.packer.io/docs/provisioners/shell.html#skip_clean) to the provisioner which reboots. And add [`pause_before`](https://www.packer.io/docs/templates/provisioners.html) to the script that needs to start after the shutdown (it will wait until ssh is available).

@mwhooker I don't think this is a bug.

[2016-11-17 14:39] jinesh-choksi commented on #4137
@rickard-von-essen Yes that will fix his current issue but depending on his requirements he may face another issue right after. e.g. if he is required to keep the `pause_before` time to be as small as possible since he needs to reduce the overall build time of the image, then he will find that Packer has some issues with handling reboots. Please have a look at the discussion in issue #3487 to get

[2016-11-17 18:13] rickard-von-essen commented on #4137
I disagree setting `pause_before` won't add any build time when used after a reboot. The following sequence should work:

[code]

Since rebooting take longer time than 15s this doesn't add any build time.

@mwhooker Except for clarifying the docs a bit I'm sceptical about these issues. I'm voting for close.

[2016-11-17 18:14] rickard-von-essen commented on #3487
See my [comment here](https://github.com/mitchellh/packer/issues/4137#issuecomment-261324083).

[2016-11-17 18:21] patrickdappollonio commented on #4031
Since those are Go template functions, it should be...

[code]

[2016-11-17 18:32] rickard-von-essen commented on #4169
Looks good. Could you also drop the default `ssh_username` = `root` in both builders. Related to #4172.

[2016-11-17 19:11] moodwrench opened #4179 "abort error on vmware-iso upload in packer 0.12"
packer 0.12.0

After updating to packer 0.12.0 when trying to upload to vcenter using the vsphere postprocessor I now get the following error:

[code]

[2016-11-17 19:16] rickard-von-essen commented on #4179
Please supply the information requested in the issue template:
- Packer version (`packer version`)
- Host platform (`uname -a` etc.)
- Debug log output from `PACKER_LOG=1 packer build template.json`.
  Please paste this in a [gist](https://gist.github.com).
- The _simplest example template and scripts_ needed to reproduce the bug.
  Include these in your [gist](https://gist.github.com).

[2016-11-17 19:28] skeenan947 commented on #4178
I'm getting the same thing with the VirtualBox builder (FWIW, I have the qemu builder in the template as well, but using -only=virtualbox-iso)

[2016-11-17 20:16] jasminSPC commented on #4169
I just did here https://github.com/mitchellh/packer/pull/4163/commits/68ca7490bbb465964ce2d4e5070d4dcecbbe42d4

[2016-11-17 22:07] moodwrench commented on #4179
# packer -v
0.12.0

# uname -a
Linux REMOVED 2.6.32-504.30.3.el6.x86_64 #1 SMP Wed Jul 15 10:13:09 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux

full debug output: https://gist.github.com/moodwrench/08b5c041a8debd174c785904122c99aa

config file: https://gist.github.com/moodwrench/65439e1e80a5cadaec046620d5f0466b

[2016-11-18 01:21] hanks commented on #4031
@patrickdappollonio thank you for your reply, but it did not work, the output is below:

[code]

the `magic_reference_date ` is not used by `isotime` function

[2016-11-18 01:28] patrickdappollonio commented on #4031
The problem is the value at `magic_reference_date`... You also need to do...

[code]

[2016-11-18 01:54] jbarnett1981 commented on #4178
Same here trying to use qemu builder on CentOS 7.2.1511 using Packer 0.11.1 compiled from source.

[2016-11-18 02:43] hanks commented on #4031
@patrickdappollonio  yeah, it works, but the result is not what I want, actually I want to use the `magic_reference_date` to format `isotime` result, the sample from document is like:

[https://www.packer.io/docs/templates/configuration-templates.html](https://www.packer.io/docs/templates/configuration-templates.html)

[code]

the result of your solution is

[code]

the result expected is , with t

[2016-11-18 05:01] patrickdappollonio commented on #4031
Can you try this?

[code]

Technically, you can group elements, take the result, and apply it to something else.

[2016-11-18 06:02] hanks commented on #4031
@patrickdappollonio It works! Thank you for your patient, I also tried `"ami_name": "base-ami.{{ (isotime (user `magic_reference_date`)) | clean_ami_name }}"`, it is ok too.

[2016-11-18 06:03] patrickdappollonio commented on #4031
Hah, even better. Glad you make it!

[2016-11-18 06:03] #4031 closed

[2016-11-18 12:30] arosenhagen opened #4180 "post-processor/manifest variables in filename"
unfortunately the variable ```{{.Provider}}``` in this doesn't work:
[code]
output is:
[code]
And it would be nice to stick to the naming of other post-processors and name it "output" instead of "filename".

[2016-11-18 12:36] MaarthenKastanja opened #4181 "Amazon-ebs builder; ssh_keypair_name not working."
Amazon-ebs builder; option "ssh_keypair_name" not used correctly.

- Packer version from `packer version`: **0.12.0**
- Host platform: **Mac OSX 10.11.6**
- Debug log output from `PACKER_LOG=1 packer build template.json`.
- The _simplest example template and scripts_ needed to reproduce the bug.
  Include these in your gist https://gist.github.com
**https://gist.github.com/MaarthenKastanja/7392a89

[2016-11-18 13:04] inkel commented on #2479
Same use case here.

[2016-11-18 14:13] gokhansengun opened #4182 "Vagrant.box with VirtualBox builder does not include packages installed with shell provisioner"
A very simplified use case fails, I must be doing something terribly wrong, already tried [community](https://groups.google.com/forum/#!topic/packer-tool/AfnTWNZk2PM) help with no luck.

- Packer version: Packer v0.12.0
- Host: 16.1.0 Darwin Kernel Version 16.1.0
- VirtualBox version is 5.1.8r111374
- Packer debug log gist: https://gist.github.com/gokhansengun/d71227622538d207e18e91ac02df4e4f

I w

[2016-11-18 14:19] stumyp commented on #665
+1
may be something like bootstrap-vz, but better :)

[2016-11-18 14:27] rickard-von-essen commented on #4182
Try:

[code]

[2016-11-18 14:33] gokhansengun commented on #4182
Sorry, did not mention that but I am starting the test with everything clean `vagrant destroy -f` and `rm -rf builds/*`. Issue persists.

[2016-11-18 14:52] rickard-von-essen commented on #665
This is already supported with `amazon-chroot` builder using [`from_scratch`](https://www.packer.io/docs/builders/amazon-chroot.html#from_scratch) or alternatively use the [amazon-import](https://www.packer.io/docs/post-processors/amazon-import.html) post-processor to upload a OVA built with packer.

[2016-11-18 15:23] MaarthenKastanja commented on #4181
Sorry, it regarded a blocking sg that was being used. My bad.

[2016-11-18 15:23] #4181 closed

[2016-11-18 15:55] Seraf commented on #3755
Hello,

Any news on this integration ?

[2016-11-18 16:12] tameem92 commented on #4182
I have seen this issue as well. I build a packer box with virtualbox as the provider and post-processed it to vagrant but the vagrant.box has none of the shell provisioner packages i had installed. Despite the .ovf having all the correct packages.

[2016-11-18 16:15] moodwrench commented on #4179
problem seems to exist in v0.11.0 as well as 0.12.0

[2016-11-18 16:35] rickard-von-essen commented on #4180
@vtolstov do you mind creating a PR for this?

[2016-11-18 16:38] rickard-von-essen commented on #4181
Thanks for reporting back!

[2016-11-18 17:23] layer3switch opened #4183 "Feature request: clean up VMImport snapshot after packer amazon-import post-processor renames and deregisters original VMImport AMI"
amazon-import post-processor doesn't delete snapshot created during VMImport. Once renaming AMI is completed and deregistered original AMI, the original snapshot should be safe to delete.

[code]

[2016-11-18 17:43] xlr-8 opened #4184 "ansible-local: extra_arguments messing with skip-tags option"
**Packer version:**
0.12.0

**Description of problem:**
I'm running packer inside a pipeline, so I believe the problem comes from packer.
The parsing of the skip-tags parameter seems incorrect, when entered `--skip-tags="tag1,tag2"` it then becomes `--skip-tags="tag1 tag2"`.

**How reproducible:**
Always with ansible-local as long as this extra-parameter includes skipping tag.

**Steps to reproduc

[2016-11-18 18:40] mwhooker commented on #4183
duplicate of #3320

[2016-11-18 18:40] #4183 closed

[2016-11-18 18:46] mwhooker commented on #4184
looks to me like extra_arguments is a list https://www.packer.io/docs/provisioners/ansible-local.html#extra_arguments

try updating your config and let me know if that helps

[2016-11-18 18:56] rickard-von-essen commented on #4184
That solves the problem. Reopen if it doesn't solves it for you.

[2016-11-18 18:56] #4184 closed

[2016-11-18 21:57] eegilbert commented on #2715
Unfortunately this is still an issue in vSphere 6. I will post a gist of the debut out put, but I'm afraid that michaeltlombardi has the best solution for the moment.

[2016-11-18 22:40] kwilczynski commented on #3889
@The-Loeki  this is something that I was trying to convince people to do for some time.

Thank you so much for formalising what needs to be done in this issue.

[2016-11-19 00:41] xlr-8 commented on #4184
Indeed solved the problem, sorry to haven't double check the documentation.

I am not sure it's possible, but would it be worth adding a type check in packer, so that it rejects object that does not look as explained in the documentation?

If I understood the problem, it came from the fact that the coma was interpreted as a second element in the array; but what I provided really was a string, so m

[2016-11-19 01:39] DanHam commented on #4137
@rickard-von-essen Thanks for the hint regarding the "skip_clean" workaround. I will give this a try over the weekend and see if it allows my build to complete successfully in the meantime.

Can you clarify what you are sceptical about? I would like to raise some objections with the vote to close and the suggestion that this isn't a bug:

- Packer 0.10.2 handled these reboots perfectly** without t

[2016-11-19 10:22] rickard-von-essen commented on #4137
Actually it doesn't. Before 0.11.0 when ssh gets disconnected it was silently ignored. We fixed this bug in #3966.

Yes my suggestion require it to always assume a reboot. In general it's best to avoid reboots when creating a image and postpone booting a new kernel when a new instance is spawned from the image, if possible.

Unfortunately the handling of reboot was unreliable before 0.10.2 and err

[2016-11-19 10:27] rickard-von-essen commented on #4184
The reason to handle it this way is so you can pass arrays as user vars, example:

[code]

`packer build -var extra_args='[ "--diff", "-v", "--skip-tags=\'A,C\'" ]' template.json`

[2016-11-19 21:26] rickard-von-essen commented on #4182
This sequence of commands works as expected:

[code]

(Your vagrant box is missing the default ssh key)

Closing this since there is no bug here. If you still have problems follow up this on the mailing list.

[2016-11-19 21:26] #4182 closed

[2016-11-20 13:13] vtolstov commented on #4180
I'm try to fix this today.

18 Ноя 2016 г. 19:35 пользователь "Rickard von Essen" <
notifications@github.com> написал:

[2016-11-20 13:14] vtolstov commented on #4178
I have pr for this,but it fails to test, so please waiting..

18 Ноя 2016 г. 4:54 пользователь "jbarnett1981" <notifications@github.com>
написал:

[2016-11-20 18:59] gokhansengun commented on #4182
@rickard-von-essen, issue still persists for me. Could you please tell which OS and VirtualBox version you are using? As I mentioned I was already doing `vagrant destroy -f`.

[2016-11-20 20:47] bascht commented on #4106
@mwhooker is it possible that the fix in #4099 could have triggered any regressions?
I tried the last 3 versions of Packer via Atlas and both `0.12` and `0.11` run into issues, while `0.10.2` just builds fine:

### 0.12.0
[code]
### 0.11.0
[code]
### 0.10.2
[code]

Let me know if I can supply more information. It's currently happing in a customer project – if it helps I could open an Atlas Support

[2016-11-20 21:05] rickard-von-essen commented on #4106
@bascht please open a new issue.

[2016-11-20 21:59] tameem92 opened #4187 "Issue using Packer Build Qemu images."
Hello,

I have been trying to build base qemu images using packer for Ubuntu 12.04, 14.04 and 16.04. I was unable to run the vm from the Ubuntu 12.04 image created by Packer. The packer build process finishes successfully without any errors, but when using the created qcow2 image in virt-manager the vm load gets stuck on the boot steps. Reading online i found out that there was some issue with Ubu

[2016-11-20 23:48] mwhooker commented on #4106
@bascht some code was added in 0.11.0 that uses the new IAM permission. Apologies for not documenting more clearly. There's no possible regression because we added a new api call

[2016-11-21 00:19] gokhansengun commented on #4182
OK I found the issue myself, this is more of a Vagrant issue. For those who will encounter with this issue later, here is what happens.

When you use the box file produced with Packer inside Vagrant like below, Vagrant automatically add this box to its list of boxes `vagrant box list`.

`virtualbox.vm.box = "file://builds/virtualbox-ubuntu1604.box"`

Further builds in the Packer produces new boxes

[2016-11-21 05:09] rickard-von-essen commented on #4182
:+1:

[2016-11-21 05:24] tameem92 commented on #4187
I was able to build properly on Ubuntu 16.04, seems like the actual issue is only with the cloud init bug in Ubuntu 12.04.5 specifically. And Ubuntu 12.04.4 will work fine. Going to close this issue.

[2016-11-21 08:28] vtolstov commented on #4178
2016-11-20 16:14 GMT+03:00 Vasiliy Tolstov <v.tolstov@selfip.ru>:

I'm fix pr

--
Vasiliy Tolstov,
e-mail: v.tolstov@selfip.ru

[2016-11-21 08:47] xlr-8 commented on #4184
Alright, I see it makes sense; thank you for the clarifications and trick.

[2016-11-21 11:10] Holmistr commented on #3911
Hi @bhcleek , I see that you've made some progress, nice! Do you have any update on this? I'm getting the same errors as mentioned above.

[2016-11-21 13:36] vtolstov commented on #3671
@mwhooker what args we need to pass to shell script in shell-local post processor ?
In previous version we pass artifact file, but now as i understand we no need to pass anything? Or i'm wrong?

[2016-11-21 13:55] vtolstov commented on #4140
I thinks we can change default for each builder....

[2016-11-21 14:25] vtolstov commented on #3951
I'm try to implement packer files xxx.json to get needed files for this template.
May be this is incomplete, but not so bad =)

[2016-11-21 15:33] aespinosa commented on #1826
From what i grokked in https://github.com/mitchellh/packer/blob/master/common/step_download.go#L75 , it's supposed to be using sha1 instead though.

[2016-11-21 18:33] mwhooker commented on #3671
right, no arguments.

[2016-11-21 18:47] DanHam commented on #4137
OK. So from _my perspective_ 0.10.2 handled reboots perfectly - I was able to reboot, Packer would pick up where it left off on the other side and eventually make it all the way through to producing a usable image.

I'm sure that the fixes implemented in #3966 greatly improves Packer overall, but reboots in Packer versions -ge 0.11.0 now cause a build that worked previously to error and fail. With

[2016-11-21 19:46] michaeltlombardi commented on #1068
Is it _still_ the case that AMIs can't have groups assigned to them? I can't find the verbiage limiting the API to only the "All" option in the document, but neither are there examples of adding any specific group.

[2016-11-21 19:56] #4178 closed

[2016-11-21 20:10] rickard-von-essen commented on #1068
Still only all
http://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_LaunchPermission.html

[2016-11-21 20:27] michaeltlombardi commented on #1068
Derp, of course. Thank you!

[2016-11-21 23:06] crunk1 opened #4190 "Implement googlecompute Windows startup scripts."
@adjackura

We need to support startup scripts for Windows images.

See builder/googlecompute/startup.go and builder/googlecompute/step_create_instance.go:(*Config)createInstanceMetadata for startup script logic.

[2016-11-21 23:06] vtolstov commented on #3671
2016-11-21 21:33 GMT+03:00 Matthew Hooker <notifications@github.com>:

So if you have no objections, please check my pr about shell-local
post-processor

--
Vasiliy Tolstov,
e-mail: v.tolstov@selfip.ru

[2016-11-21 23:21] moodwrench commented on #4171
This issue still exists after upgrading to 0.12

[2016-11-21 23:25] moodwrench opened #4191 "Failed to send shutdown command with windows 2012 on vmware-iso (0.12)"
Version: Packer v0.11.0 and v0.12.0

[code]

we've started seeing an issue that only seems to affect windows 2012 hosts using the vmware-iso builder on a remote ESXi machine.  I reported the issue on https://github.com/mitchellh/packer/issues/4171 but was told that this issue was fixed in 0.12.0.   Weve retested and the issue remains in 0.12.0

[code]

It seems that the build completes successfull

[2016-11-21 23:25] moodwrench commented on #4191
updated output from 0.12:
2016/11/21 17:29:34 ui:     vmware-iso: SDelete is set for 1 pass.
    vmware-iso: SDelete is set for 1 pass.
2016/11/21 18:08:42 packer: 2016/11/21 18:08:42 [INFO] command 'set "CHEF_MSI_URL=" && set "CHEF_WIN_VER=" && set "PACKER_BUILDER_TYPE=vmware-iso" && set "PACKER_BUILD_NAME=vmware-iso" && set "RUBYINSTALL
ER_URL=" && set "UPDATE=true" && set "http_proxy=http://pac

[2016-11-21 23:57] kbpease commented on #3411
The issue here is that scsi id 7 is reserved under vmware for the scsi controller's use, so you have to skip that id when assigning disks to the vm.  I ran into this previously using a vmware esx5 remote, and got around it using the following to add 8 1GB disks to a VM I was creating - this is outside of Packer's control, but is in the script that invokes Packer to create the VM:

[code]

I believ

[2016-11-22 00:45] #3571 closed

[2016-11-22 13:23] erjohnso commented on #4190
+1

[2016-11-22 16:20] vanjohnson opened #4194 "Consistent SSH handshake error"
Constantly getting a "Build 'ubuntu-1404-server' errored: Timeout waiting for SSH" .  sshd is running and there are no specific hints that tell me what the issue is.  The interesting part is that each machine that I run this on (packer build ubuntu-14.04-server-amd64-v012.json) it will run once and build successfully and then never again.  That's where I am at.

- Packer v0.12.0
- Running packer o

[2016-11-22 16:25] rickard-von-essen commented on #4194
Could you fix your links.

[2016-11-22 16:29] vanjohnson commented on #4194
Fixed thanks.

[2016-11-22 17:18] rickard-von-essen commented on #4194
I believe rhel doesn't allow root login on ssh by default.

[2016-11-22 17:47] mwhooker opened #4195 "builder/docker: option to log container output"
perhaps in debug mode or verbose mode or with some other option we should be able to see the docker container output in the build output

[2016-11-22 18:15] mwhooker commented on #4195
should wait until after #4186 is in

[2016-11-22 18:27] munjeli opened #4196 "Docker build hangs on provisioning with 0.12.0"
I just upgraded to Packer 0.12.0 from 0.10.1 so I could use the ecr push feature, but the docker build now hangs on the first provisioner (even when I've switched the provisioners around). I logged into the container while it was up and could manually run the provisioning commands with no problem, and the same template worked in 0.10.1. I'll roll back and see if it works with 11, but let me know i

[2016-11-22 18:36] vanjohnson commented on #4194
Yeah I set the username to something other than root and it threw the same errors.
[code]

[2016-11-22 18:38] rickard-von-essen commented on #4194
But you don't add any user in your preseed.

[2016-11-22 18:40] mwhooker commented on #4196
interesting. what version of docker? How long would you say you wait before cancelling the build?

it'd be very helpful if you could come up with a minimal packer.json that can reproduce this. I tried with the following, but the build worked fine for me.

[code]

[2016-11-22 18:45] james-powis commented on #4196
I too have seen issues with packer hanging since upgrading to the 0.12.0 as pulled last week from github. It hangs at "waiting for SSH" stage and if you connect to VNC it immediately connects via SSH and progresses to completion. Additionally the SSH timeout never times out, so this can be hours after the build started.

[2016-11-22 18:46] james-powis commented on #4196
Forgot to mention I am using Virtualbox provisioner

[2016-11-22 18:46] munjeli commented on #4196
I am on an older docker... 1.6.2 I'll upgrade that and see if it flies. It did hang for more than a half hour at one point. I just installed 0.11.0 and am seeing the same behavior though, which makes me suspect docker. I'll check in after I upgrade that.

[2016-11-22 18:54] mwhooker commented on #4196
@james-powis where is packer trying to connect over ssh? We don't use the ssh communicator for docker builds

[2016-11-22 18:58] #2598 closed

[2016-11-22 18:59] mwhooker commented on #2598
should be fixed now

[2016-11-22 19:02] vanjohnson commented on #4194
Setting `PermitRootLogin yes` in sshd_config, didn't work for me wither.

[2016-11-22 19:53] munjeli commented on #4196
I'm gonna close this. It worked when I updated Docker.. I'm on the newest version now. Good to know, and thanks for your help :D

[2016-11-22 19:53] #4196 closed

[2016-11-22 19:59] mwhooker commented on #4196
@munjeli of course! glad we got it fixed

[2016-11-22 19:59] rickard-von-essen commented on #4195
If it's not urgent I thing it can wait for #4186

[2016-11-22 20:44] rickard-von-essen commented on #4137
After some additional thought on this maybe we should have a `posix-restart` provisioner, similar to [`windows-restart`](https://www.packer.io/docs/provisioners/windows-restart.html) that could handle this easily and gracefully.

[2016-11-22 20:51] #4180 closed

[2016-11-22 21:08] mwhooker commented on #4137
yeah I agree a restart provisioner would make this more fool-proof, and may be the way to go.

This wasn't a failure i was anticipating when we made that change, though. Would definitely like to make this work by default, or at least offer a viable workaround.

Trying to understand what exactly changed to introduce this behavior. I suppose, previously, it would silently disconnect and then try to

[2016-11-22 21:19] rickard-von-essen commented on #4137
@mwhooker Why does the provisioning fail when the clean up is disconnected? Should it use the same logic as the rest and silently ignore disconnects?

[2016-11-22 21:44] mwhooker commented on #4137
ah yeah, that's probably where the failure is. let me see if I can fix

[2016-11-23 00:04] mwhooker commented on #4137
the above pr should fix it.

as I mentioned in the PR, I don't think cleanup ever worked correctly if it happened immediately after a reboot. This should be Fixed Forever™️ now.

Thanks for the report @DanHam. Please let me know if you get a chance to test the PR. Will merge it in soon

[2016-11-23 00:42] #4137 closed

[2016-11-23 01:08] bhcleek commented on #3911
I have made progress. I'm dealing with one remaining issue, and then I need to refine the solution to be less hacky. So far I've had to make a very small change the provisioner code and supply an Ansible connection type that's forked from the `ssh` connection type and edited to with some small changes.

Unfortunately, Ansible's `powershell` shell type and `ssh` connection type don't play well toge

[2016-11-23 05:20] andrey-moor commented on #869
+1

[2016-11-23 09:28] Holmistr commented on #3911
Awesome news @bhcleek , I really appreciate this! :)

[2016-11-23 10:03] Wenzel opened #4198 "add expect_disconnect in Windows shell provisioners"
I would like to use the `Powershell` provisioner to execute the command `Enable-PSRemoting -Force -SkipNetworkProfileCheck`.

As it stops and starts the `WinRM` service, packer is disconnected and the build fails.
Could you implement `expect_disconnect` in `Windows Shell` and `Powershell` provisioners ?

Thanks !

[2016-11-23 13:03] frostarun opened #4199 "Azure ARM Available Image not working"
Hi,

    While working with Azure ARM builders , its failing to lauch a VM on West US.
**statusMessage** :The platform image 'Canonical:UbuntuServer:16.04.0-LTS:latest' is not available. Verify that all fields in the storage profile are correct.

I have seen in my console and the variant of that machine is available , But Still its saying unavailable.I have template reference :
`"storageProfile":

[2016-11-23 13:50] malaikah commented on #2433
I also am seeing issues with packer push and symlinks. My issue is that symlinks are not being dereferenced correctly. I'm seeing the issue in packer 0.10.1 and 0.12.0. The file structure is the result of composer-installed dependencies. I can't run the composer install as part of the packer build, as it needs to be able to access an internal scm system.

The structure of the files I am trying to

[2016-11-23 14:28] vanjohnson commented on #4194
I found a good enough solution in the following link.  I just didn't expect reverse lookup to take so long.  I increased my  `"ssh_wait_timeout": "10m"` instead of 2m.
https://github.com/mitchellh/packer/issues/78

[2016-11-23 14:28] #4194 closed

[2016-11-23 17:16] kidbrax opened #4200 "allow templates to be defined using yaml"
Please allow templates to be defined in YAML. It is easier to read and, more importantly, allows comments.

It is a common use case, even Amazon now allows CloudFormation to be defined with YAML.

[2016-11-23 17:44] rickard-von-essen commented on #4200
You can just do:

[code]

[2016-11-23 17:46] rickard-von-essen commented on #4200
Duplicates #1047

[2016-11-23 18:26] boumenot commented on #4199
I would not worry about raising a false issues.  I would rather to reach out to us than not.  👍

I verified the issue for West US.  I retried in a different region, South Central US, without issue, so I need to follow up internally on this.

[2016-11-23 19:34] frostarun commented on #4199
Thanks for the reply. And your site Azure ARM documentation templates are with **West US** location , people following that template might face same issue .

[2016-11-23 19:39] boumenot commented on #4199
Agreed.  West US needs to work.  If it does not than it is unacceptable, and needs to be fixed.

[2016-11-23 20:31] #4200 closed

[2016-11-23 20:33] mwhooker commented on #4200
If you'd like to submit a pull request that handles both yaml and json, please feel free to, but this isn't a priority for us.

I noticed this library which may be helpful for you https://github.com/ghodss/yaml

We may in the future however support [hcl](https://github.com/hashicorp/hcl) which supports comments.

[2016-11-23 23:50] DanHam commented on #4137
Fantastic!  @mwhooker I've just tested with the merged PR and everything is working fine.

One very welcome consequence of the fix is that it negates the need for 'pause_before' in the next provisioner. Since we are now held by the cleanup phase of the rebooting provisioner, Packer is effectively prevented from attempting to run the next provisioner and then being cut off in the middle of doing so

[2016-11-24 05:22] avishnyakov commented on #3866
Having the same issue, testing the private build available in #3766

[2016-11-24 05:29] boumenot commented on #3866
The latest release of Packer, 0.12, has all of the Azure fixes and features (including this one).  Please retry with this build.  If you still have issues open a new issue with the [debug log](https://www.packer.io/docs/other/debugging.html) and I'll investigate.

[2016-11-24 05:37] avishnyakov commented on #3866
Right, thanks for getting back.

Tested on 0.11/0.12, same outcome. Opening up a new issue.

[2016-11-24 05:45] avishnyakov opened #4201 "failed to get certificate URL, retry(0) issue with winrm"
While building azure rm images, the following issue arises:
[code]

Full workflow goes as following:
[code]

- packer --version 0.12.0
- win10 + azure rm
- packer log -  https://gist.github.com/avishnyakov/06443e90b71730ddac977bb5d3d17cb6
- packer tamples - https://gist.github.com/avishnyakov/c58061e52ee9015eacc4284b85f27f8c

Let me know if more info is needed.

[2016-11-24 05:49] avishnyakov commented on #3866
Done, here we go:
failed to get certificate URL, retry(0) issue with winrm #4201

[2016-11-24 06:00] boumenot commented on #4201
This is the real issue.

request="https://pkrkvf60qlkygkl.vault.azure.net/secrets/packerKeyVaultSecret?api-version=2015-06-01"
x-ms-request-id="fe339437-9dce-4f1d-b91b-7b120bd4347a"
body="{\"error\":{\"code\":\"Forbidden\",\"message\":\"Access denied\"}}"

The Azure builder did a poor job of making this clear.  This is usually caused by a setting the wrong ObjectID for your SPN.

[code]

[2016-11-24 06:01] rickard-von-essen commented on #4201
From the logs it looks like you are using 0.11.0.

On Nov 24, 2016 6:45 AM, "Anton VIshnyakov" <notifications@github.com>
wrote:

[2016-11-24 06:01] avishnyakov commented on #4201
Gosh, that might be the key. You are right. Saw that here and there in the posts/docs as well. Let me check.

[2016-11-24 08:15] drewsonne commented on #3117
I came across this problem too. I had the same chef cookbooks and configuration in vagrant and packer, and packer would suceed and vagrant would fail. Vagrant can run chef with msu's because the shell elevation is in the [winrm communicator](https://github.com/mitchellh/vagrant/blob/c6423e8d9d835b1fa470ffbf5a5afb123496e42d/plugins/communicators/winrm/communicator.rb#L202) and not on a per provisio

[2016-11-24 12:49] dan-rose opened #4203 "WIMRM File Uploads fail with 500/access denied error"
- Packer Version 0.11
 - Windows 10
 - VMWare Workstation 11
- gist files
[Packer.log](https://gist.github.com/dan-rose/2dd33f30ec1ec566d74381cba9812b6b)
[JSON File](https://gist.github.com/dan-rose/cb67e195e0b2a75c02b8d3320a3fcca5)
 - packer build -force -only=2012r2_vmware_NoUpload .\windows_2012_r2_vmware.json
 - Server WMI Settings configured in build process
[code]

Issue: **Error uploading f

[2016-11-24 15:07] karjona commented on #4134
Hello,
I would like to report that the exact same problem referenced here also occurs when using the hyperv-iso builder available in this pull request: #2576. The workaround suggested above by @DanHam also works for the Hyper-V builder: commenting the `cmd.Wait()` line of the hyperv-iso builder lets the packer build finish successfully.

I've only had this problem while trying to build *Windows Se

[2016-11-24 18:52] Raffaello commented on #869
:100:
:+1:
+1

[2016-11-24 19:13] jfbibeau commented on #1366
@routelastresort Thanks for your post. Definitely can confirm the QEMU builder works with a QCOW2 when setting `disk_image` set to `true`. It can even do a disk resize on the fly, brilliant. I'll see if I can submit a PR to update the docs.

[2016-11-24 22:31] avishnyakov commented on #4201
Yep, Object ID is the problem. Got the wrong one, wasn't sure which one to get. So the "Object ID" should be taken from the role assignment.  Confirming that all works with packer 0.12.0

As for the following, it does not seem to exist within azure cli on windows, which is a bit weird.

Looks really good now. VM is created, all seems to be fine.

Thanks for the help!

[2016-11-24 22:31] #4201 closed

[2016-11-25 13:50] DanHam commented on #4203
Hi Dan,

First things first. The 'non breaking error' you are seeing with the Powershell provisioner:

This issue has now been fixed, so at least that's one thing out of the way.

On to the WinRM error:

Unfortunately, yes. Same as you - I sporadically see a 500 error when uploading the VMware tools ISO to the guest. Everything works fine the majority of times I run the build. However, every so of

[2016-11-25 14:25] DanHam commented on #4203
OK. So I was just taking a look at #4069 (the fix for your 'non breaking issue') and it looks like the VMware tools upload doesn't require an elevated shell. This means that the mistake I mentioned above probably isn't the culprit here.

As such I'm now going ahead with trying the pause I mentioned instead to see if that helps.

Dan H

[2016-11-25 14:40] dan-rose commented on #4203
Hello Dan,

Thank you very much for getting back to me with a detailed answer.

I am indeed restarting the service.. I figured that it would be necessary to do so in order to make sure the configuration of the generous settings stuck..

I had read in some other posts about a possible race condition, and so already put a couple of "pause_before" options in the config json just as a precaution (also

[2016-11-25 14:54] dan-rose commented on #4203
Just as a quick note - reviewing your WinRM setup - there are two thing that you do differently to me
1. deleting pre-existing WinRM listeners
2. Increasing the number shells / concurrent sessions..

Have these fixed previous issues??

Dan

[2016-11-25 15:44] DanHam commented on #4203
No, but...

This came about because I chose to create the listeners manually rather than using ```winrm quickconfig```. Deleting any existing listener simply means I start with a clean slate.
I don't use ```winrm quickconfig``` as it automatically opens up the Windows Remote Management firewall ports for you at the same time. This is something I don't want here - Packer would be able to connect an

[2016-11-25 18:01] dan-rose commented on #4203
The issue with  **http response error: 401 - invalid content type** is caused by VMware workstation being borked on my machine.. Can use virtualbox fine

However, with your settings and a 2 min pause after starting winRM, I am stiill getting the 500 error when uploading files.. It starts to upload - and after a while fails. I also note that the files i am uploading are pretty small the largest is

[2016-11-26 05:54] hedgehog opened #4206 "Vagrant post processor changes disk size"
Using the following JSON file the virtual box is built with the correct disk space of approx 11GB.
However, when is passes through the vagrant post processor the size is reset to 4GB, which is a default value.

The preseed.cfg file is below too

[code]
preseed.cfg:

[code]

[2016-11-26 11:32] rickard-von-essen commented on #4206
Could you backup you claim with some printouts of:
- Your `Vagrantfile`
- `lsblk` in a vagrant box
- `VBoxManage --version`

[2016-11-26 12:49] johnypony3 commented on #4044
Hitting this on:

- packer 0.12.0
- virtualbox 5.0.28 r111378 (cant update because vagrant downgraded due to an issue and it doesnt work with newer versions)
- mac sierra 10.12.2 Beta (16C48b)

`
    virtualbox-iso: The term ':PACKER_BUILDER_TYPE=virtualbox-iso' is not recognized as the name of
    virtualbox-iso: a cmdlet, function, script file, or operable program. Check the spelling of th
    v

[2016-11-26 13:12] rickard-von-essen commented on #4044
@johnypony3 gist a full debug log. Most likely your install of Packer is broken.

[2016-11-26 14:53] iainelder opened #4208 "AMI persistence in Vagrant Boxes info is unclear"
The current [Vagrant Boxes](https://www.packer.io/intro/getting-started/vagrant.html) section of the intro has two apparently contradictory paragraphs.

It's unclear whether the AMI is supposed to persist after creating the Vagrant box.

Following the tutorial with packer 0.11.0, the AMI is still available after building example.json ([gist](https://gist.github.com/iainelder/f38bbbd6deeca0aafcf9e0

[2016-11-26 16:25] rickard-von-essen commented on #4208
The second paragraph is correct, the first is a bit vague.

A better phrasing could be something like:

[2016-11-26 16:26] #4100 closed

[2016-11-26 17:08] #3908 closed

[2016-11-26 17:40] #3687 closed

[2016-11-26 17:44] #3843 closed

[2016-11-26 17:51] iainelder commented on #4208
By "Amazon EBS builder", do you mean the EC2 instance (with attached EBS volume)?

I thought that the EC2 instance was always removed after creating the AMI from it, even without post-processors.

[2016-11-26 17:52] rickard-von-essen commented on #3735
Closing this since this is not something we would like to support.

[2016-11-26 17:53] rickard-von-essen commented on #1710
Closing since this is trivial with the `shell` provisioner.

[2016-11-26 17:53] #1710 closed

[2016-11-26 17:58] rickard-von-essen commented on #3832
#4202 was just added where you can add metadata for committed images. A export is _not_ a docker image, it's a export of the file system.

[2016-11-26 17:59] rickard-von-essen commented on #2193
Support for this was just added in #4202

[2016-11-26 17:59] #2193 closed

[2016-11-26 18:00] rickard-von-essen commented on #1660
Support for setting `ENV` was added in #4202.

[2016-11-26 18:00] #1660 closed

[2016-11-26 18:00] rickard-von-essen commented on #3644
Closing this since native ECR support was added in #3856.

[2016-11-26 18:00] #3644 closed

[2016-11-26 19:17] rickard-von-essen commented on #4208
No the artifact is the result. It's a data structure that stores the result and references the ami.

What the text tries to explain is that:

1) If you have a virtualbox-iso the artifact contains the directory of the export, when this is processed by the vagrant post-processor the content of that directory is put in a tar along with some metadata. This is the vagrant box and the original virtualbo

[2016-11-26 21:45] bhcleek commented on #3911
I've submitted a PR that should resolve the incompatibility of using the ansible provisioner with nodes being provisioned using the winrm communicator. You can see how to hook this up in three files:

* https://github.com/bhcleek/packer/blob/4797d8cdcf175e681aeb0c890edec7e9404a1d99/test/fixtures/provisioner-ansible/winrm.json
* https://github.com/bhcleek/packer/blob/4797d8cdcf175e681aeb0c890edec7e

[2016-11-28 01:38] LIV2 commented on #2715
I had the same issue but have no free uplinks to assign a standard switch to.
Instead, I found that you can create a new portgroup with the port binding policy set to Ephemeral and not specify the "ethernet0.dvs.portid" in vmx_data and it works.

[2016-11-28 04:50] riponbanik opened #4212 "Unknown configuration key"
packer: 0.12
builder - amazon-ebs

using the following show unknown configuration key
"disable_stop_instance": "true",
"shutdown_behavior": "stop",

[2016-11-28 05:02] cprenzberg opened #4213 "Packer building a docker image within docker container"
Hi,

I am trying to use packer inside a docker container to build docker image as follows:

[code]

However the provisioning gets stuck when trying to provision *bla.sh*.

I run docker inside the container by mounting the host's /var/run/docker.sock into the container and just using the docker binaries available from the docker release repositories as follows:

[code]

I can therefore push and pul

[2016-11-28 05:56] rickard-von-essen commented on #2715
@LIV2 thanks for the work around!

[2016-11-28 06:01] rickard-von-essen commented on #4212
Please supply the information requested in the issue template:
- Packer version (`packer version`)
- Host platform (`uname -a` etc.)
- Debug log output from `PACKER_LOG=1 packer build template.json`.
  Please paste this in a [gist](https://gist.github.com).
- The _simplest example template and scripts_ needed to reproduce the bug.
  Include these in your [gist](https://gist.github.com).

[2016-11-28 06:21] rickard-von-essen commented on #4213
Guessing a bit, but it might be caused by the docker communicationor implementation. There is a PR to switch this to use the docker api. If you would like testing that would be appreciated. #3922

[2016-11-28 07:31] frostarun commented on #4199
Hi , As you said its working with 'Central US' . Its creating two container called 'Image and System'. Its using 'Image' as temp storage for vhd and its deleting the vhd and leaves the container empty behind . Is that the process ? . It doesn't delete the Container(Image) which it created for storing temp vhd.

[2016-11-28 10:21] cprenzberg commented on #4213
Hi Rickard,

how may I test the code referenced in #3922 ?

Thanks

[2016-11-28 11:18] ferrarimarco commented on #2630
I tried with packer 0.12.0 and this issue is still valid. Here is the log:
[code]

Here are the relevant parts of the template:
[code]

[code]
I am using boxcutter/ubuntu 16.04 template.

[2016-11-28 11:31] rickard-von-essen commented on #2630
@ferrarimarco Gist full log (`PACKER_LOG=1 packer build template.json`)

[2016-11-28 11:33] ferrarimarco commented on #2630
Here it is:
[code]

[2016-11-28 14:05] alkhatib commented on #2838
Running into this error, any workarounds?

[2016-11-28 15:35] boumenot commented on #4199
The System container is auto-created when the image is _captured_.  This is the VHD you use to deploy.  The temporary image should be deleted after the build has completed.

[2016-11-28 17:29] frostarun commented on #4199
The image is getting deleted but the temp container where the temp image resisted remains empty and doesn't get deleted. That container is named as 'Image' by default.

[2016-11-28 18:03] LEALCorentin opened #4214 "ESXi builder does not create OVF/OVA/VMX"
Hello there,

I'm trying to build VMs using the ESXi builder against an ESX6. I'm doing it on Windows 7 with Packer 0.12.0 (using Git Bash to have a proper CLI). I have installed OVF Tool 4.2.0 on my laptop and add it to the path.

My problem is that I can create VMs on the ESX using Packer but if I do specify the "format" option the execution seems correct even though I am not sure of it but the

[2016-11-28 18:36] mwhooker commented on #4113
There's a PR for upgrading the library here, but it looks like some functionality will be lost #4211

[2016-11-28 18:40] mwhooker commented on #3447
If anyone would like to submit a PR for this, I'd be happy to look at it. In the mean time, this is not something we're going to support in packer core for now.

I think a viable solution would be to use a program between packer stdout and the destination log file to filter out sensitive information.

[2016-11-28 18:40] #3447 closed

[2016-11-28 18:45] boumenot commented on #4199
Correct, the container is not deleted.

The name of the container is controlled via a configuration value.

[2016-11-28 19:08] taliesins commented on #4134
https://github.com/taliesins/packer-baseboxes/blob/master/hyperv-windows-2016-serverstandard-amd64.json

Have a look at my insane shutdown approach. Don't forget to look at cmd file that calls powershell.

It appears to work between different Windows versions.

[2016-11-28 19:20] oberones opened #4215 "OpenStack builder should use an available floating IP before provisioning a new one"
The OpenStack builder should use an available floating IP before provisioning a new one from the pool. Currently, packer will fail the build if no IPs are free in the pool - even if the project has unused IPs already allocated. The only workaround is to delete unused IPs that are allocated to the project, which is cumbersome when dealing with an heavily utilized cluster. Perhaps some kind of use_a

[2016-11-28 20:06] dhoppe commented on #4161
The problem no longer occurs since I have updated to VirtualBox 5.1.10.

[2016-11-28 20:39] rickard-von-essen commented on #4161
Great to hear, and thanks for reporting back.

[2016-11-28 22:39] cprenzberg commented on #4213
I tried out the code from #3922 and it unfortunately does not solve my problem. Do you have any other guesses as to why I am having this issue using packer 0.12.0 from inside a docker 1.12.3-enabled container?

[2016-11-28 22:54] johnypony3 commented on #4044
@richard-von-essen at reinvent, when im back at the hotel ill provide

[2016-11-28 23:50] #4125 closed

[2016-11-29 02:49] #1195 closed

[2016-11-29 08:19] taliesins commented on #4044
https://github.com/taliesins/packer/commit/1526524bcc3174329bf32800e09b30c598d17e8a

I think this is what you are after. It will base 64 encode powershell snippets so they don't get interpreted before running.

@trodemaster is correct about $env

[2016-11-29 08:44] ferrarimarco commented on #2630
@rickard-von-essen  I tried with the latest devevelopment version, no changes:
[code]

[2016-11-29 12:08] LEALCorentin commented on #4214
Okay guys, that was pretty dumb...
The "remote_type" has to be 'esx5' no matter the actual version, I've set it to 'esx6' thus it was skipping the export part.

Maybe it should be a great idea to correct this because there was no obvious error and using a parameter which semantically wrong is not logical.
The solutions may be either to add an error or, maybe it is the best choice, changing 'esx5'

[2016-11-29 12:49] dan-rose commented on #4203
Definitely sorted by rebooting or logging out of my workstation. This would suggest there is a value locally created and then exceeded causing this 500 occur. My next test will be to see, whether once this occurs, i  am unable to packer build a machine with a ***different*** name. I will also try and use WinRM to connect to other servers on my domain to see what the result is once the 500 occurs -

[2016-11-29 14:30] DanHam commented on #4203
Hi Dan,

I've just had this error bite me in the proverbial 3hrs into a Windows 2012 R2 build! As you've already found, the pause between restarting WinRM and enabling network access has made no difference. At least we can both rule that theory out.

Note that the builder I was using was the virtualbox-iso builder. In other words this is not VMware specific.

You're right about that error message

[2016-11-29 14:41] rickard-von-essen commented on #2630
[code]

Could you try on another system or in a vagrant box etc?

[2016-11-29 14:44] LEALCorentin opened #4217 "OVF Tool update changes default hashing algorithm"
Hello,

This issue is about the latest version of OVF Tool used in the VMware ESX builder. It is now in version 4.2 and the default algorithm changed from SHA1 to SHA256. It is currently not possible to change Packer args used with OVF Tool as far as I know.
The SHA256 is not supported by the vSphere Client thus, it is not possible to had an OVF VM to an ESX with this method. (It is still possible

[2016-11-29 14:53] dan-rose commented on #4203
Ummm now you're asking.. I'll need to be sure of that before being more definitive. Initially I seem to remember that I thought its was a problem with my shell, because a restart seemed to fix it. Then I started resorting to logging out and this did seem to solve it, however because it takes 10mins to fail, and that also I am trying to work on and actually deliver something (!)  - I haven't as yet

[2016-11-29 14:53] dan-rose commented on #4203
whoops!

[2016-11-29 14:56] ankon opened #4218 "Document 'login_server' for ECR-based docker builds"
The documentation for the docker builder currently has this:

[code]

There is no concept of "login server" when talking about AWS ECR, so this is a term that packer "made up". It should therefore be documented what the login server is, maybe like this:

[code]
(I'm not sure whether login_server is ECR-specific, if it is it should maybe be renamed to that and the explanation of the format could mo

[2016-11-29 15:03] ferrarimarco commented on #2630
That log was generated from inside a Docker container, starting from [hashicorp/docker-hub-images Dockerfile-full](https://github.com/hashicorp/docker-hub-images/blob/master/packer/Dockerfile-full).

I just removed the `ENTRYPOINT` instruction because otherwise the container could not start at all.

[2016-11-29 15:11] eegilbert commented on #4214
The [docs](https://www.packer.io/docs/builders/vmware-iso.html#remote_type) do state that esx5 is the only supported version at the moment. If you were running a PACKER_LOG=1 packer build file.json, possibly the error is there?

[2016-11-29 15:18] rickard-von-essen commented on #2630
Ok, do you access the ubuntu repo through a volume mount into docker?

[2016-11-29 15:21] LEALCorentin commented on #4214
That's right my bad.
But if I am right the ESX6 is fully compatible with the ESX5 except for the new VM version. It doesn't make sense to put as a parameter 'esx5' while I'm using a ESX6 and everything works perfectly.
Otherwise it is said that 'esx5' is the only value accepted not that the newer versions are not supported. I don't know, I feel like this isn't clear enough.

I have run it with the

[2016-11-29 15:30] eegilbert opened #4219 "vSphere 6.5 Error handshaking with VNC"
Hello,

Just upgraded my lab to vSphere 6.5 and see this issue now with the VNC connection portion of packer build:

Error handshaking with VNC: no suitable auth schemes found. server supported: []byte{0x1}

The [GIST](https://gist.github.com/eegilbert/70e6940a87455ae2766d68799319213e) containing the debug log and JSON/shell scripts. Prior to the upgrade this was working so I suspect it's a change

[2016-11-29 15:38] ferrarimarco commented on #2630
I tried in two ways:

1. Volume mount
1. Clone the repository directly in the container with Git, to exclude any mount side effects

[2016-11-29 15:57] eegilbert commented on #4214
Interesting, I would have thought it would error with a message. When I started with Packer to vSphere I found the docs pretty clear. I understand your point about versioning, however if 6 is close enough to 5 as you mentioned, then I guess most of us just looked at the required value, shrugged and moved on. I mean he could have called it pop_tart27 :)

[2016-11-29 16:12] LEALCorentin commented on #4214
I didn't ... :)
It seems to me that even the builder should be divided depending on the usage, ESX/local.

To be honest I thought the documentation wasn't up to date, I saw examples with 'esx6' and thought this would be the way go. It wasn't logical for me to choose another version than the one I am using.

[2016-11-29 17:06] rickard-von-essen commented on #4219
Use vnc_password_disable:true

On Nov 29, 2016 16:30, "eegilbert" <notifications@github.com> wrote:

[2016-11-29 17:29] rvandegrift opened #4220 "ssh_keypair_name launches source instance without assigning the key"
I'd like to use ``ssh_keypair_name`` and ``ssh_agent_auth``, but the source instance is launched without a keypair assigned.

Key is already created:
[code]

Run packer with config from: https://gist.github.com/rvandegrift/c61bc0804d78ffabf07e0a0e4fe13425
[code]

The instance launched without an ssh key:
[code]

Debug log: https://gist.github.com/rvandegrift/fd792ba5f32eef17f019cd7b020c1317

This

[2016-11-29 17:40] rickard-von-essen commented on #2630
So what is the exact output of first:
[code]

and then:
[code]

[2016-11-29 18:08] DanHam commented on #4203
OK. Definitely confirmed from my end... there is no repeatability. I run once and the build breaks with the 500 error. I run the same build again immediately afterwards and it completes with out error.

I'll be interested to find out how you get on. Long and short though, I don't think this is related to any local shell limits or the like on the *hosting* machine - otherwise I think we'd be seeing

[2016-11-29 18:45] rickard-von-essen commented on #4220
I can confirm this and found the issue. I'll try to provide a patch later today.

[2016-11-29 19:05] trodemaster commented on #4203
I had to give up on winrm file uploads a few months ago. Not only is the method flakey it's very slow for larger files. This is due to how the mechanism works in the upstream masterzen winrm library. Using an external http server and then a powershell download script is much more reliable and faster. Winrm file upload works well for moving some scripts or tiny files but not large files.

That said

[2016-11-29 19:10] eegilbert commented on #4219
Hi Rickard, thank you. My turn to miss something obvious in the docs! :)

Working with:
"vnc_disable_password": true

Just waiting for things to progress and I will chime in when it completes

[2016-11-29 19:45] eegilbert commented on #4219
Yes, that was it thank you very much! Definitely changed between 6 and 6.5 though since I'd never needed to use it prior.

[2016-11-29 19:45] #4219 closed

[2016-11-29 20:43] DanHam commented on #4203
@trodemaster Thanks for the info with regard to the WinRM library and I've given your feature request a 👍. I can definitely see the utility in having that feature.

My problem is that it's not actually me uploading files via WinRM - it's Packer. Unfortunately, its when Packer uploads the tools ISO's (VMware tools and Virtualbox Guest additions) over WinRM that I see the failure. While I can avoid

[2016-11-29 21:19] hdatteln opened #4221 "Cannot create VM from packer Azure image"
packer version: 0.12.0

Steps to reproduce:

- Build a simple Azure VM image using packer, using this packer .json file:
https://gist.github.com/hdatteln/14f209777625f836b9952efc8fab979e
- Use the template .json file that is created from the image build process to create a new Azure VM:
         azure group deployment create [resource group] --template-file mypackerazuretemplate.json

Expected res

[2016-11-29 21:21] rickard-von-essen commented on #4220
@jen20 Looping you in #4050 there seems to be some code missing. At least when setting up [`StepKeyPair`](https://github.com/jen20/packer/blob/395d88941c2a0d3ec4a9aa2905c745f20f46617b/builder/amazon/ebs/builder.go#L104) is missing `b.config.Comm.SSHAgentAuth` so you code can never be used. Is there some code left missing in #4050?

[2016-11-29 21:40] rickard-von-essen commented on #4218
https://docs.docker.com/engine/reference/commandline/login/

[2016-11-29 22:32] boumenot commented on #4221
We build many Linux distros and Windows against Packer's master every time there is a commit, so I am fairly confident Packer is preparing the image correctly.  In the case of Ubuntu, we build the LTS flavors, but I am not aware of an issue with 16.10.

Would you please follow the [debugging](https://www.packer.io/docs/other/debugging.html) steps, and create a gist of the log output.  I will revie

[2016-11-29 23:56] hdatteln commented on #4221
Thank you for helping with this so quickly.
Your example link pointed me in the right direction;
i hadn't included the waagent command in the provisioner, to generalize the system.

After following the examples more closely and adding this line in the provisioner section, it works fine:
"/usr/sbin/waagent -force -deprovision+user && export HISTSIZE=0 && sync"

This document actually also mentions

[2016-11-29 23:56] #4221 closed

[2016-11-30 00:30] dave2 commented on #4214
It may be better to rename it to "esx" and perform a version check if there's something discovered that requires a different implementation than the current one. Or at least check it's >= 5.0 for now.

[2016-11-30 08:06] ferrarimarco commented on #2630
Here are the results with the "vanilla" template.

[code]

My edits to `ubuntu.json`:
[code]

Results:
[code]
Thanks @rickard-von-essen

[2016-11-30 10:44] elliottsam opened #4224 "Allow custom SAS URL lifetime in Azure builder"
In the Azure builder, allow custom lifetime for SAS URL, this is currently hard coded to one month

I need SAS URLs with a lifetime longer than one month, so currently am using the Azure CLI once I have built an image to create another longer lived SAS URL, would be good to have this configurable within Packer

[2016-11-30 14:12] n-my opened #4227 "ebs"
**DELETE THIS TEMPLATE BEFORE SUBMITTING**

_Only use Github issues to report bugs or feature requests, see https://www.packer.io/community/_

If you are planning to open a pull-request just open the pull-request instead of making an issue first.

FOR FEATURES:

Describe the feature you want and your use case _clearly_.

FOR BUGS:

Describe the problem and include the following information:

- Pac

[2016-11-30 14:12] #4227 closed

[2016-11-30 17:00] rommik commented on #1899
This issue still happens. Although the validation fails, the build runs as expected. I'm following the https://www.packer.io/intro/getting-started/parallel-builds.html tutorial.

[2016-11-30 17:38] LEALCorentin opened #4228 "ESX Builider | Warning in disk creation command on ESX 6 (option deprecated)"
With the ESX builder the command vmkfstools is used to create the disk. The option `-a` | `--adapterType` is used (written directly in the code) this option is deprecated thus ignored. Maybe there is something to do about it.

[2016-11-30 18:10] bsberry commented on #2401
Hit this three times today with Packer 0.12.0 running on macOS 10.11 (El Cap), running VirtualBox 5.1.10 with a Win 2012 R2 server guest. Fourth try worked.

[2016-11-30 18:47] mwhooker commented on #2401
@bsberry have you tried increasing the `post_shutdown_delay`? If yes, please open a new issue

[2016-11-30 19:10] crunk1 opened #4229 "Fix googlecompute ssh username on builds."
I would like to see a solution to the following issues:
- Having to specify an arbitrary SSH username at build is an awkward gotcha.
- The SSH username remains after the build.
- The SSH username does not have root access.

@zmarano @adjackura

[2016-11-30 19:10] crunk1 commented on #4229
Feel free to assign this to me.

[2016-11-30 19:18] bsberry commented on #2401
Thanks for the quick reply. Did not catch from the discussion in the other thread that even running 0.12.0 you have to tweak a parameter to get it to work. Will add `post_shutdown_delay` to any future VirtualBox packer builds of windows guests.

[2016-11-30 19:19] mwhooker commented on #2401
the default is 30s which may need to be increased

[2016-11-30 19:45] rickard-von-essen commented on #4218
If you want to PR a clarification we can have a look. Otherwise I'm for closing this.

[2016-11-30 19:50] rickard-von-essen commented on #4228
Do you have any references to docs? When was is removed etc. If we removed it's important that no one still relies on it.

[2016-11-30 19:51] rickard-von-essen commented on #4228
Is it ignored or does it cause an error? It's not clear from the heading vs. description.

[2016-11-30 20:01] #4220 closed

[2016-11-30 21:05] rickard-von-essen commented on #2630
Check! I got a bit lost while trying to understand this.

I think a hint on why this doesn't work is that `keep_input_artifact` is the only bool which doesn't come from the plugins. It's defined in `template/template.go`.

[2016-11-30 21:19] mwhooker commented on #3320
according to the docs

[code]

force_deregister is only used to clean up existing AMIs if there would be a conflict, so I think its current behavior is correct.

Are you just saying that you don't want any snapshots lying around after the build? I'm not sure that's possible since amazon needs a snapshot of the root ebs device to launch the AMI.

Or do you just want old snapshots cleaned up when fo

[2016-11-30 21:34] mwhooker commented on #3320
on a re-reading of the issue I think you're asking for the latter, to clean old snapshots when we clean old images. I think that makes total sense. please reopen if I got it wrong

[2016-11-30 21:34] #3320 closed

[2016-11-30 22:06] macgahe commented on #4228
Hi, I did have the same issue and I noticed I was running and old version 0.10.1. Issue was , I did install packer using brew and didn't download the latest one..

[2016-11-30 22:31] eedwardsdisco commented on #3320
@mwhooker sorry, been busy at AWS re:Invent (even stopped by the hashicorp booth to get some swag), but yes you're 100% right, looking for the ability to clean up associated snapshots when deregistering the image.

As @Constantin07 said, the behavior of leaving the snapshots after deregistering the AMIs just doesn't make sense if packer is generating the snapshots in the first place and they're us

[2016-11-30 22:33] eedwardsdisco commented on #3320
Sorry I re-read your question and realized I may have made it more confusing.

What's not desired is that when Packer deregisters an AMI due to a conflict, it leaves the snapshots behind.

[2016-11-30 22:38] MikeStankavich commented on #2401
Sounds like it would be worth the effort to revisit the idea of a retry.
I'll see if I can fit that in by the end of the year.

On Wed, Nov 30, 2016 at 1:19 PM, Matthew Hooker <notifications@github.com>
wrote:

--
Best, Mike
-------------------
*Blog*  http://mikestankavich.com
*LinkedIn*  http://linkedin.com/in/mikestankavich
*Facebook*  http://facebook.com/mike.stankavich
*Twitter*  http://twitt

[2016-11-30 22:41] mwhooker commented on #3320
okay, I think we've got the correct behavior in #4223 now.

Hope you got some good swag!

[2016-11-30 23:17] mwhooker commented on #2630
hmm, was able to solve the validate error with this branch https://github.com/mitchellh/packer/tree/nokeepintpl

but it's untested, and I'm not sure the solution is valid. I'm not 100% sure where the `KeepInputArtifact` value is actually checked. Is it done globally or per-post-processor?

[2016-12-01 00:08] riponbanik commented on #4212
Here you are -
packer version - Packer v0.11.0
uname -a - Linux xxxxx 3.13.0-74-generic #118-Ubuntu SMP Thu Dec 17 22:52:10 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux
Debug log - https://gist.github.com/riponbanik/7927cff6e38b341ddedc96d1b70f1b05
Sample template - https://gist.github.com/riponbanik/5646945249daca6d342d517b27c930ab

[2016-12-01 05:15] rickard-von-essen commented on #4212
A debug log should be setting env var PACKER_LOG. `PACKER_LOG=1 packer
validate template.json`

On Dec 1, 2016 01:08, "Ripon Banik" <notifications@github.com> wrote:

[2016-12-01 09:15] LEALCorentin commented on #4228
I am sorry for the misleading heading, this is not an error. Everything works properly it's just that the adapterType option is deprecated thus ignored but only on the ESX 6. I didn't though it could have been the ESX version in cause, later on I tried on an ESX 5.5 for another reason and saw this option was not deprecated on this one. Otherwise the default adapterType value in the ESX 6 is LSI Lo

[2016-12-01 09:23] richardowen opened #4232 "source_ami_filter ignoring owners property"
It appears that the "owners" property on "source_ami_filter" is not being used when looking for an AMI. I have found this morning that when using "self" in the owners property, it was selecting a public ubuntu AMI. You can see an example in this gist:

https://gist.github.com/richardowen/0e9b1fc89c6234b563e6a9f6a3e137fd

I have "owners": [ "self" ] in the template but the AMI it selects is ami-d17

[2016-12-01 09:44] cprenzberg commented on #4213
symptoms look similar to those in #1767

[2016-12-01 09:55] ankon commented on #4218
Fair enough. I tried improving the documentation by just adding a reference to the later section on ECR - when I opened the ticket I didn't even notice that there is section on that topic, and it would have helped me to read until there :)

[2016-12-01 10:15] rickard-von-essen commented on #4232
Thanks! Looks like there might be something missing here.

[2016-12-01 11:35] ferrarimarco commented on #2630
@mwhooker @rickard-von-essen is there something I should do/test? Thanks

[2016-12-01 14:01] weldpua2008 opened #4236 "vmware-iso Builds finished but no artifacts were created."
I am trying to create an OVA/(ovf + vmdk) with 'vmware-iso' builder.
The VM is always provisioned but artifact isn't created.

- Packer version from `packer version`: v0.12.0
- Host platform: Ubuntu 14.04.2 LTS  3.13.0-46-generic #75 x86_64
- Debug log output from `PACKER_LOG=1 packer build template.json`.
  [https://gist.github.com/weldpua2008/583249f47bf486354806761a6490bde3](https://gist.github

[2016-12-01 15:19] andywirv opened #4237 "File provisioner handles SSH connection failure differently to Shell provisioner"
Packer v0.12.0
Packer Target OS/Arch: darwin amd64

Templates and log output
https://gist.github.com/andywirv/347aa7f1f372c0f2d13430be838603a5

The Shell provisioner treats the SSH response from this Ubuntu AWS AMI as a "retryable error"
https://gist.github.com/andywirv/347aa7f1f372c0f2d13430be838603a5#file-log2-L164

whereas the File provisioner will immediately exit with a failure
https://gist.g

[2016-12-01 17:48] #4232 closed

[2016-12-01 17:51] #4218 closed

[2016-12-01 18:34] oberones commented on #869
+1

I'm surprised this isn't a thing already. Might be time to hack on some Go

[2016-12-01 19:02] rickard-von-essen opened #4238 "amazon: master crash on snapshot tags."
If `tags` are defined but no `snapshot_tags` packer crashes. I'll try to a repo soon.

[2016-12-01 19:06] rickard-von-essen commented on #4238
Reverting to a commit before #4025 "solves" it.

[2016-12-01 19:21] transamfire85 commented on #3911
@bhcleek This worked wonderfully.  Thank you so much!

[2016-12-01 19:32] rickard-von-essen commented on #4238
Ok, there seems to be a missing if statement. I'll merge a fix as soon as I have verified that it fixes the issue.

[2016-12-01 19:32] rickard-von-essen commented on #4238
Ping @artburkart

[2016-12-01 20:00] #4238 closed

[2016-12-01 20:35] mwhooker commented on #4237
hmm, using the retry logic from the shell provisioner could work. It's a bit tricky though, since we don't expect the file upload to fail ever, whereas we expect the shell provisioner to trigger reboots or that kind of thing.

I want to avoid time-based approaches if possible.

In the mean time I wonder if just putting a single no-op shell provisioner at the top of your provisioner list would acco

[2016-12-01 20:59] mwhooker commented on #3407
looks like this is fixed https://ci.appveyor.com/project/hashicorp/packer

reopen if I'm wrong

[2016-12-01 20:59] #3407 closed

[2016-12-01 21:01] mwhooker commented on #4236
it looks like the build failed, which is why there are no artifacts

[code]

unfortunately I don't know why ssh didn't connect. If you can come up with a minimal template to reproduce this I can take a look, but there's too much information missing in the gist you posted to reproduce.

[2016-12-01 21:29] brianknight10 opened #4240 "Error Building Amazon AMI with Amazon-EBS Builder in Atlas"
I have been encountering a consistent error when building Amazon AMIs with the `amazon-ebs` builder using Packer in Atlas using any Packer version greater than or equal to 11.0.

The error occurs when creating the initial security group in AWS to place the EC2 instance in. The process appears to hang on:

`==> amazon-ebs: Authorizing access to port 22 the temporary security group...`

and remains

[2016-12-01 21:38] rickard-von-essen commented on #4240
See #4059 you need to allow `ec2:DescribeSecurityGroup`.

On Dec 1, 2016 10:29 PM, "Brian Knight" <notifications@github.com> wrote:

[2016-12-02 01:30] davidobrien1985 opened #4241 "PowerShell DSC during build on Windows Server 2016"
Hi,

trying to build an AMI of Windows Server 2016 with some very basic PowerShell DSC code.
Same code works when referencing a Windows Server 2012 R2 AMI as a base and also runs interactively logged on to Windows Server 2016 on an EC2 instance.

Using the following packer.json it fails.

https://gist.github.com/davidobrien1985/f5610f48997ac9cb1132c2336062088d

`install_rds_webaccess.ps1`
https://

[2016-12-02 09:22] rickard-von-essen commented on #2471
This is working as intended, see https://www.packer.io/docs/builders/amazon.html

[2016-12-02 09:23] #2471 closed

[2016-12-02 10:36] rickard-von-essen commented on #3761
See #4243

[2016-12-02 12:17] andywirv commented on #4237
I tried out your idea of adding a Shell provisioner at the start. It triggers the retry loop as would be expected. However, what I then discovered is that the loop continues until the default 5min timeout is reached.

This looks to be a lower level issue whereby the TCP connection is not actually being terminated between attempts. In debug mode I was able to use the packer generated SSH key to log

[2016-12-03 07:27] luhkevin opened #4245 "Provisioning on CoreOS with sudo access with Azure Builder"
packer version: 0.10.1
Host platform: Ubuntu 16.04
Debug log output: https://gist.github.com/luhkevin/2db9d6940160d3ac91f199fe031918d3
Example template and scripts:
[code]

I'm trying out the packer azure builder with CoreOS, but the provisioner isn't working regarding sudo access. The details are in the log output, but essentially I'm seeing the message:

[code]

After some googling, I've found t

[2016-12-03 08:03] dan-rose commented on #4203
Thanks too. I've given the built http server an upvote.. I can see this being useful - however we also intend to build directly onto ESXI and so i don't think this would solve it.. I will investigate using an separate accessible HTTP server from which to pull the files.

Just regarding the WinRM issue itself - I have found that its related to the volume of files being uploaded - when its just some

[2016-12-03 13:04] DanHam commented on #3652
Has this been fixed in the latest version of Packer? Having recently been bitten by the WinRM 500 error I've switched to the attach method. However, I'm not seeing this - for me the resulting box is fine and has a single, empty optical drive.

If a fix hasn't been put in place, I was wondering if the issue is only occurring with a specific version of Virtualbox. If so, that might help to narrow do

[2016-12-03 16:06] hdatteln opened #4246 "Post-Processors for azure-arm builder?"
Hi,
This is a question regarding the azure-arm builder and post-processors.

I was looking for a good way to spin up either a VM in Azure, or a vagrant box from a newly packer-created Azure .vhd image, for testing right after the image has been created.
So I thought I could use a post-processor for this, but I couldn't find anything that worked for me.

- the 'vagrant' post-processor currently doe

[2016-12-04 00:49] boumenot commented on #4246
These types of questions are better handled on the forums.  See _IRC `#packer-tool` on Freenode_ or the [mailing list](https://groups.google.com/group/packer-tool) and https://www.packer.io/community/.

Having said that, there are many good examples on the [Azure/azure-quickstart-templates](https://github.com/Azure/azure-quickstart-templates) repo.  See [201-vm-specialized-vhd](https://github.com/

[2016-12-04 00:55] boumenot commented on #4245
This is all dependent upon the image, and is not an Azure specific issue.  The example you used is a good one, but in my experience the Canonical images are generally the easiest to work with.  The Ubuntu example did not have to handle this case, but it was configured not to.  Checkout the [CentOS](https://github.com/mitchellh/packer/blob/master/examples/azure/centos.json) or [Debian](https://gith

[2016-12-04 10:44] hdatteln commented on #4246
Cool, I'll move my question to the forums and rephrase it a little bit. I was wondering more about the post-processor bit, not so much about the Azure templates themselves.

[2016-12-04 10:49] chrisandchris commented on #478
+1

[2016-12-04 10:59] weldpua2008 commented on #4236
Hi,

I increased the ssh_wait_timeout and got the following issue:
https://gist.github.com/weldpua2008/5407f57f2cc7e83d46ce4e0a860e5477

[code]

[2016-12-04 12:23] weldpua2008 commented on #4236
I fixed the issue with the adding "format":"ova"

[code]

[2016-12-04 12:23] #4236 closed

[2016-12-04 14:35] boumenot commented on #4246
Maybe I do not understand your question then.  Are you asking how to deploy the VHD created by Packer in Azure inside the VM that Packer spins up to create said VHD?

Or, are you asking how to deploy the VHD after the Packer build has finished by using a post-processor?  Basically, one configuration file to create the VHD, and then deploy it?  Packer for Azure emits a template that can be used to

[2016-12-04 14:54] rickard-von-essen commented on #4229
@crunk1 Could you elaborate. What do you mean? This is very vague.

[2016-12-04 18:56] legal90 opened #4248 "`parallels-iso` builder in Packer 0.9.0+ could not build Mac OS X boxes"
TL;DR: Starting from Packer 0.9.0 `parallels-iso` builder could not build Mac OS X boxes if `iso_url` points to a remote source.

## Details:
Unlikely other guest operating systems, Mac OS X should be installed from the DMG bootable disk image, not an ISO. But it doesn't make sense for Packer, so we can freely use `*[virtualbox|vmware|parallels]-iso` builders to build such boxes.

However, in Para

[2016-12-04 20:54] rickard-von-essen opened #4249 "amazon: Custom kms key is not applied in other regions"
The implementation #4023 is a bit naïve and don't correctly handle multiple regions. ~I'll try to fix it tomorrow.~ This seems to take me a bit longer.

@mwhooker ~If you are doing a release please revert  #4023 first unless I have a fix for this since it will require different options in the template.~ See comment bellow.

[2016-12-04 21:14] caiofbpa opened #4250 "Dockerfile Provisioner"
We use Docker for development and CI, but we aren't ready to put it in production just yet. We want to use Packer to create AMIs to deploy on AWS.

We already have all steps necessary to provision a machine in our Dockerfile. It would be really nice if Packer could read supported steps (mostly RUN and ADD/COPY) from the Dockerfile and execute them in the provisioning step.

This way we could use P

[2016-12-05 03:37] davidobrien1985 commented on #4241
Forgot to say, this is on

[code]

[2016-12-05 04:43] panpan0000 opened #4251 ""playbook_dir" can't accept an array"
- Packer version
0.12
- Host platform
Ubuntu 14.04.2 LTS

- Reproduce Way
in document https://www.packer.io/docs/provisioners/ansible-local.html
it says
"playbook_paths (**array of strings**) - An array of paths to playbook files on your local system. These will be uploaded to the remote machine under staging_directory/playbooks. By default, this is empty.
But it doesn't accept array like below"
E

[2016-12-05 05:03] davidobrien1985 commented on #4241
`winrm quickconfig -q -force`

This fixed it. Strange. No reason to do that on Windows Server 2012 R2.

[2016-12-05 05:03] #4241 closed

[2016-12-05 05:55] rickard-von-essen commented on #4251
You are confusing `playbook_dir` with `playbook_paths`.

[2016-12-05 05:55] #4251 closed

[2016-12-05 06:05] dragan commented on #3911
@bhcleek Thanks for contributing a fix for using winrm within ansible and packer. I've been using a build based off your PR for a project and everything is working very well, except when using the [win_reboot module](https://docs.ansible.com/ansible/win_reboot_module.html).

I receive the following error:

[code]

When running with `-vvv`, this is what I get:

[code]

[2016-12-05 10:01] cprenzberg commented on #4213
@mitchellh any ideas here? :)

[2016-12-05 11:31] rickard-von-essen commented on #4248
IMHO it's best to add it in `common.ISOConfig` and make it available to all local builders.

[2016-12-05 12:29] legal90 commented on #4248
Thanks, I'll manage to submit a PR soon.
P.s. Spelling fixed ;)

[2016-12-05 12:45] GavinPacini opened #4252 "Support for MFA with SSH"
I am trying to use packer to keep my AMIs up to date (might seem convoluted but we are PCI compliant so everything is convoluted).

However, our AMIs employ the [google-authenticator PAM module](https://github.com/google/google-authenticator-libpam). I would appreciate if packer could prompt the user if it detects that SSH login is looking for more information (i.e. a verification code from Google

[2016-12-05 13:45] brianknight10 commented on #4240
Thanks @rickard-von-essen - it's `ec2:DescribeSecurityGroups` (with the "s" on the end) based on #4059. That certainly solves the issue.

[2016-12-05 13:45] #4240 closed

[2016-12-05 14:02] rickard-von-essen commented on #4252
This is really tricky because:

1) Packer is a automation to and should not require manual interaction.
2) SSH auth: `KeyBoardInteractive` doesn't specify which input is required, it just prints a string and waits for a response. `ssh_password` will be used as a response so you could add your MFA as a `-var` but it will be expired before ssh is available. Since the string is made for a human to in

[2016-12-05 14:26] GavinPacini commented on #4252
Hi @rickard-von-essen,

Thank you for the prompt and detailed reply. Just a note, we are using MFA comprising of google authenticator and SSH keys - no passwords involved. I agree that's more secure.

I like the idea of exempting a packer user from google authenticator with a user-script and re-enabling afterwards. I think that makes the most sense in our case.

Thanks again! Feel free to close th

[2016-12-05 18:31] luhkevin commented on #4245
Do you mean set `"ssh_pass": null`, use `"execute_command": "echo '{{user `ssh_pass`}}' | {{ .Vars }} sudo -S -E sh '{{ .Path }}'",`, and set `"ssh_password": "{{user `ssh_pass`}}"` in the builder?

Because then it asks for a password. I'm getting:
`* required variable not set: ssh_pass`

Am I supposed to set a password for the coreos image? It does not have one by default.

[2016-12-05 21:02] dragan commented on #3911
Update, I added the _winrm_host and _winrm_port attributes to the [custom connection plugin](https://github.com/bhcleek/packer/blob/4797d8cdcf175e681aeb0c890edec7e9404a1d99/test/fixtures/provisioner-ansible/connection_plugins/packer.py) for packer. However, the values will need to be set based on the VM, not the proxy/adapter.

I hard coded the values as a test. Is that information available to th

[2016-12-05 21:10] boumenot commented on #4245
See the example for details, but define a variable called ssh_pass, and set the value via a user variable.  There's a null value in the examples to make it clear that one needs to be defined, but perhaps that isn't clear.

[2016-12-05 21:17] luhkevin commented on #4245
I'm still a little bit confused. Does this workaround actually try to authenticate with the CentOS/Debian images with a password, meaning that I would have to create a custom CoreOS image with a password?

Or is the workaround simply passing these images some dummy password, that's not actually used for any sort of authentication?

[2016-12-05 21:29] luhkevin commented on #4245
Actually, it looks like using a dummy password worked, so thanks for the help on that!
Unfortunately, I was also trying to use an ansible provisioner which requires SSH access in a similar way, and that is still bothering me about a password. It's returning in stdout:

[code]

I'll try the same approach for ansible -- pass it a dummy password -- and let you know my results.

[2016-12-05 22:11] crunk1 commented on #4229
First, a clarification: the ssh user does not have root access, but does have sudo access. This is still a pain when file provisioning to protected parts of the filesystem.

Currently, when building a GCE image, the user has to provide an arbitrary ssh_username for the build (https://www.packer.io/docs/builders/googlecompute.html#gotchas).
This creates a user that gets left around after the build.

[2016-12-05 22:14] trodemaster commented on #4191
Just a quick comment..

The quoting on this doesn't look correct to me.
"shutdown_command": "shutdown /s /t 10 /f /d p:4:1 /c "Packer Shutdown""

You might try this..
"shutdown_command": "shutdown /s /t 10 /f /d p:4:1 /c \"Packer Shutdown\""

I'm using the following command successfully on VMware Fusion/Windows Server 2012r2 builds.
"shutdown_command": "shutdown /s /t 5 /f /d p:4:1"

-Blake

[2016-12-05 23:00] dtirer opened #4254 "Parallel Builds - Stop All if One Fails"
If you have several parallel builds running, is it possible to stop all the builds if one hits a failure?  if not, are there plans for this?

[2016-12-05 23:13] boumenot commented on #4245
w00t!  Let me know if it works out for you or not.

When the Azure builder creates your VM it assign it a random password in the ARM template.  The template is deployed to create the VM, and the password flows through to the deployed VM.  The password is set by guest agent (or maybe cloud-init?!?).  This password is never exposed because it is a random value that you generally do not care about.

[2016-12-05 23:13] #4245 closed

[2016-12-06 01:22] luhkevin commented on #4245
I managed to get around the password issue with ansible. I just had to pass
`"extra_arguments": [ "--extra-vars", "ansible_become_pass=Password1234" ],` and set `sudo_flags=-H -S` in ansible.cfg.

But there was another ansible issue regarding file copying, which I'll make another issue for.

[2016-12-06 08:35] rickard-von-essen commented on #4229
This is how GCE works, you specify a user and it's created by the [_GCE Accounts Daemon_](https://github.com/GoogleCloudPlatform/compute-image-packages#accounts).

It's not possible to remove a logged in user. When the VM shuts down the authorized key is removed by the accounts daemon so when the image is launched this user has neither password nor a authorized key. If this bothers you you can jus

[2016-12-06 08:35] #4229 closed

[2016-12-06 09:15] rickard-von-essen commented on #4249
I'll just updated the docs a bit. To point out that `kms_key_id` is only applied on `region` and the default kms key will be used on all `ami_regions`

[2016-12-06 09:24] #3344 closed

[2016-12-06 09:24] #3761 closed

[2016-12-06 10:34] ferrarimarco commented on #2630
@mwhooker Is there any update on this? How can I help? Thanks!

[2016-12-06 11:01] shyam2j commented on #788
Yes it woked for me also with ubuntu user. was giving error with default template

[2016-12-06 12:54] eegilbert commented on #2715
@LIV2 Would you mind sharing a gist of your vmx_data?

[2016-12-06 15:42] 419385600 opened #4257 "Packer can't pack AMI with sshd setting MACs hmac-sha2-512,hmac-sha2-256"
I have been attempting to use Packer to create an AMI based off ami-972f72e4.  When Packer attempts to SSH to the Instance it times out.  If I run the OpenSSH client I can connect to the Instance but Packer cannot.  Looking in the /var/log/secure log, I can see that Packer has opened a number of SSH connections to the Instance and ps -ef shows a number of running sshd processes but Packer itself t

[2016-12-06 15:56] rickard-von-essen commented on #4257
Duplicates #4076

[2016-12-06 15:56] #4257 closed

[2016-12-06 20:30] LIV2 commented on #2715
@eegilbert Yep. You can find it here: https://gist.github.com/LIV2/9e3179bb1ee1981bdc4f20345bba4a09

I got the portgroup id and switchid by attaching a VM to the network and inspecting its vmx file.

[2016-12-06 21:34] luhkevin commented on #4245
Just following up on that ansible issue I was having -- it was that sftp error, and I simply had to upgrade my packer version and use scp instead. It's fully working now, thanks for all the help!

[2016-12-06 21:48] bhcleek commented on #3911
From the perspective of Ansible, the adapter _is_ the thing being provisioned, so the `_winrm_host` and `_winrm_port` values would have to reflect the adapter values, not the VM.

However, rebooting using the win_reboot module will cause packer to lose the connection; if you need to reboot in the middle of provisioning, then use packer's [windows restart](https://www.packer.io/docs/provisioners/wi

[2016-12-06 22:01] moodwrench commented on #4191
I think Github's formatting screwed it up.  It's actually:
`"shutdown_command": "shutdown /s /t 10 /f /d p:4:1 /c \"Packer Shutdown\"",`

[2016-12-06 23:26] jrbury opened #4259 "Unknown configuration key subnetwork - googlecompute"
Packer Version:
 `Packer v0.12.0`

Host:
`Linux prod-spinnaker-dyvx 4.4.0-51-generic #72~14.04.1-Ubuntu SMP Thu Nov 24 19:22:30 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux`

Debug logs:
https://gist.github.com/jrbury/33fbc8fb31b62a60901e25efb19ef631

Template:
https://gist.github.com/jrbury/e88dd94a35aa7e25580db18afcd47076

Based on the packer documentation and the code at https://github.com/mitchellh

[2016-12-06 23:33] mwhooker commented on #4259
I think you've got an old version of packer

`2016/12/06 23:18:32 Starting plugin: /usr/bin/packer-builder-googlecompute []string{"/usr/bin/packer-builder-googlecompute"}`

that's how we used to do things before we compiled the builders into the main packer binary. Let me search around for some instructions but you should be able to delete all the packer- binaries and have it work as expected

[2016-12-06 23:36] mwhooker commented on #4259
it's on the download page here

`Note: Packer now ships as a single binary. When upgrading from Packer < 0.9.0, you will need to remove the old packer-* plugins from your installation path.`

https://www.packer.io/downloads.html

after doing that it should work

[2016-12-06 23:36] #4259 closed

[2016-12-06 23:39] jrbury commented on #4259
Thanks for the quick response. Once I cleaned my usr/bin directory the template validates and builds correctly.

[2016-12-06 23:43] mwhooker commented on #4249
sounds good. I'll let you close this or keep it open if you think it's something we should support, but going to untarget it from 0.12.1 since it sounds like we have a workable solution

[2016-12-06 23:45] mwhooker commented on #2630
I'm afraid I'm not able to look into this right now. I investigated briefly last week, but didn't see any obvious solution. Will gladly look at a PR that solves this issue

[2016-12-07 00:21] crunk1 commented on #4229
1.

I'm proposing creating a pseudo random/unique, ephemeral username. We then pass this username to the Accounts Daemon.

2.

True, but you can remove it via [shutdown scripts in GCE](https://cloud.google.com/compute/docs/shutdownscript).

3.

It has sudo access, not root access. We don't have the benefit of `sudo -i` in file upload post-provisioners. Yes, you can get around it by uploading to so

[2016-12-07 00:49] dragan commented on #3911
Thanks @bhcleek.

I was hoping not to break up my playbook just for reboots when I'm using Ansible to do the provisioning. I do not know the history, but what was the use case that led to the proxy/adapter?

[2016-12-07 01:10] bhcleek commented on #3911
@dragan it's due to the (necessary) architecture of packer. RE: https://github.com/mitchellh/packer/issues/3849#issuecomment-247526883

[2016-12-07 02:25] #2928 closed

[2016-12-07 05:08] rickard-von-essen commented on #4249
:+1:

On Dec 7, 2016 12:43 AM, "Matthew Hooker" <notifications@github.com> wrote:

[2016-12-07 07:40] Firxiao opened #4263 "packer ansible sudo issue"
- Packer version from `packer version`
Packer v0.12.0
ansible 2.2.0.0

- Host platform
Red Hat Enterprise Linux Server release 6.7
- Debug log output from `PACKER_LOG=1 packer build template.json`.
[log](https://gist.github.com/Firxiao/4a94e2aeb6434fa397644175b3c74c79)
- The _simplest example template and scripts_ needed to reproduce the bug.
[code]
playbook.yml
[code]
- issue:
I have tested playb

[2016-12-07 07:45] Firxiao commented on #4263
and I have tested  run packer in debug mode, and run ansible-playbook manually , It could run correctly.

[2016-12-07 08:09] ferrarimarco commented on #2630
@mwhooker what is the rationale behind [your commit](https://github.com/mitchellh/packer/commit/a11680717dee67d7bc8fe30df105cb5ed085a893)?

[2016-12-07 15:22] boumenot commented on #4245
Thanks for debugging this, and sharing with the community at large.  Glad to hear it works for you!

[2016-12-07 17:30] chlsmith commented on #3754
Might want to include this sysprep info in the documentation on https://www.packer.io/docs/builders/azure.html.  It's not clear there that you even need to sysprep the image.

[2016-12-07 19:04] mwhooker commented on #4263
I think sudo is failing because rhel isn't allowing sudo from a non-tty session. See http://unix.stackexchange.com/questions/122616/why-do-i-need-a-tty-to-run-sudo-if-i-can-sudo-without-a-password for more information

adding `-t` to `ANSIBLE_SSH_ARGS` I believe should fix

[2016-12-07 19:33] luhkevin commented on #4245
No problem. And actually, I had a quick follow-up question. The random password that gets assigned, does it actually get shipped with the image that I'm building? From what I can tell, you're saying it gets set at launch-time, and not build-time, but I just wanted to clarify.

[2016-12-07 19:39] boumenot commented on #4245
If you executed the deprovision process at the end of the build I would expect the user account to be deleted, which should remove any remnants.

Perhaps overkill, but ...

If you are really concerned about the password be recovered you will need to take more drastic measures, such as securely deleting it.  Data from VHDs can be recovered using the various un-delete or security forensic tools.

[2016-12-07 19:42] luhkevin commented on #4245
I see, the password is associated with the user I'm using to build it with. In my case, the `core` user?
And just in case, how would I go about securely deleting it?

[2016-12-07 22:00] #2930 closed

[2016-12-07 23:34] boumenot commented on #4245
Do a search for "linux secure delete."  Look for tools like shred and sfill.

[2016-12-07 23:38] chilicat commented on #1000
From the comments it is not clear if globs is implemented or the feature request is rejected

[2016-12-08 01:53] Firxiao commented on #4263
Hi Mwhooker . thanks for your reply.
I have try add ```-t```to  ```ANSIBLE_SSH_ARGS```, and cause a new issue.
[code]
could you help me have a look ? thanks a lot.

[2016-12-08 03:49] mwhooker commented on #4263
I think that error is because scp doesn't like the -t option, which unfortunately gets passed in from `ANSIBLE_SSH_ARGS`

Ultimately I think this is a bug with rhel. see https://bugzilla.redhat.com/show_bug.cgi?id=1020147#c9

My suggestion would be to use a later version. Optionally you can create a new AMI with requiretty turned off. See https://www.shell-tips.com/2014/09/08/sudo-sorry-you-must-h

[2016-12-08 03:49] #4263 closed

[2016-12-08 05:20] rickard-von-essen commented on #4263
Or you can use a user script that turns off require tty.

On Dec 8, 2016 04:49, "Matthew Hooker" <notifications@github.com> wrote:

[2016-12-08 08:49] hdatteln commented on #4246
Hi,
Right, I was wondering if there was a way to create the VHD and then deploy it, all from one configuration file, using a post-processor.
Also, there might be other post-processing steps that I might want to take after a new image artifact has been built, e.g. grab the artifact URL and stick it into a catalog list somewhere or something like that (just an example).

[2016-12-08 11:38] rickard-von-essen commented on #4229
I'm open for a PR that adds `shutdown_script_file` (and you can already add that in `metadata`). Builders should be OS/Distribution agnostic. So I don't like add removing of users into Packer. Packer is a tool for automating, it's not a template how to automate. Packer doesn't do any thing with your VM, it just talks to the GCP API and hands you a connection to run provisioning on. What the provis

[2016-12-08 16:18] willglynn opened #4264 "amazon-chroot should support instance store AMIs"
Packer currently has three EC2 AMI builders:

`amazon-ebs` and `amazon-instance` both follow the "make a box, change the box, pack the box" process. `amazon-chroot` is the "make an image, pack the image" process, which is what I want, but at present it supports only EBS-backed images, which is not what I want.

The official Amazon AMI tools support both processes: self-packing via `ec2-bundle-vol`

[2016-12-08 16:19] rbrutas opened #4265 "azure-arm builder and ansible remote provisioner does not work"
- Packer version from `packer version` - 0.12.0
- Host platform - centos 7.2 in azure
- Debug log output from `PACKER_LOG=1 packer build template.json` and packer config -
https://gist.github.com/rbrutas/9d9c38ed9bfeaeb5cb87b546d5c3d023

[2016-12-08 17:40] nickrw opened #4266 "source_ami_filter ignores AMI owner"
- Packer version 0.12.0
- Host platform Linux amd64
- Example template and debug log https://gist.github.com/nickrw/9c1522f1cdbf4d3fae2a359397c22518

Official debian AMIs are listed here https://wiki.debian.org/Cloud/AmazonEC2Image/Jessie - I used the AMI ID (`ami-7d45150e`) to find the owner ID (`379101102735`) in order to create a packer template which uses `source_ami_filter`.

This command con

[2016-12-08 17:45] nickrw commented on #4266
Ah, sorry - dupe of https://github.com/mitchellh/packer/issues/4232

[2016-12-08 17:45] #4266 closed

[2016-12-08 17:48] nowhammies opened #4267 "Builder vmware-iso type:esx5 post-processor:vagrant format:ovf can't find vm-name-flat.vmdk"
FOR BUGS:

The machine gets provisioned correctly on remote on Esxi 6.0 box. However when doing the post processing it is unable to get the files to run through the ovftool. Then resources are deleted and unless I use debug mode I can not grab the disk image to convert manually.

I made sure that VNC ports were configured on Esxi host were configured correctly.

- Packer version from `packer versi

[2016-12-08 18:37] rickard-von-essen commented on #4267
Run with `-on-error=ask` to make packer pause when there is an error.

On Dec 8, 2016 6:48 PM, "Doug Dennie" <notifications@github.com> wrote:

[2016-12-08 19:05] boumenot commented on #4265
Is this a dupe of #4263?

[2016-12-08 19:30] rbrutas commented on #4265
I don't think so, my issue is that packer ansible remote provisioner does't re-use the ssh keypair that asure-arm created when it provisioned the azure vm. I created a new one but it did not update the azure vm.

[2016-12-08 19:32] boumenot commented on #4199
I believe you are unblocked.  If you have any other issues let me know.

[2016-12-08 19:32] #4199 closed

[2016-12-08 19:37] boumenot commented on #4246
Your request sounds reasonable to me.  There is a little bit work on the builder side that needs to be done - emit an  JSON artifact document that the local shell processor can use to deploy a VM to Azure.  A simple solution may involve the use for the XPlat CLI.  I do not know enough yet.

[2016-12-08 19:45] boumenot commented on #4265
I do not know how the Ansible provider works, so this is mostly a guess.  The Azure builder generates a key pair at run time if one is not defined by the user.  The builder does not make that key available, but there is nothing that prevents the user for defining an ssh key explicitly.  If the user does, the builder will not auto-create one.  Ansible may respect this too, and use the user supplied

[2016-12-08 20:19] rbrutas commented on #4265
that resolves it.. thanks @boumenot

[2016-12-08 20:19] #4265 closed

[2016-12-08 20:22] Coaxial opened #4268 "qemu builder: `<wait30s>` trips up the `boot_command` parser/runner"
Packer v0.12.0
OS X 10.11.6
Template + log: https://gist.github.com/Coaxial/8acb830fa49edd57f0427148647df8cc

When I run `packer build`, packer misses part of the `boot_command`. Compare [this](https://gist.github.com/Coaxial/8acb830fa49edd57f0427148647df8cc#file-xenial64-json-L25) with [that](https://gist.github.com/Coaxial/8acb830fa49edd57f0427148647df8cc#file-log-log-L182-L185): it's missing se

[2016-12-08 20:38] mwhooker commented on #3671
closed via #4189

[2016-12-08 20:41] #3671 closed

[2016-12-08 21:04] rickard-von-essen commented on #3671
Awesome!

On Dec 8, 2016 21:41, "Matthew Hooker" <notifications@github.com> wrote:

[2016-12-08 21:29] mwhooker commented on #4174
going to target this for post-1.0

[2016-12-08 21:30] mwhooker commented on #4169
What's the status of this? If there's work to be done I think this will have to wait until after 1.0

[2016-12-08 22:00] jasminSPC commented on #4169
All the remarks have been addressed couple of weeks ago.

[2016-12-08 22:15] mwhooker commented on #4250
Thanks for the idea, it's kind of a neat thought.

As for the packer road map, I don't see this as getting added any time soon. We want to move away from very specific provisioners, and focus more on the broader, more general purpose ones like the shell and file provisioners.

I think a better solution might be a 3rd party tool that could parse the file and execute the changes locally. That way yo

[2016-12-08 22:15] #4250 closed

[2016-12-08 22:44] mwhooker commented on #4268
definitely something wrong with the regex. see https://play.golang.org/p/WEv5PRR_I0

[2016-12-08 22:45] mwhooker commented on #4268
the wait regex forces it to match against the end of the line. I'll see if it's just as easy as removing the `$`, but in the mean time you should be able to get away with having one command per line

[2016-12-08 23:03] mwhooker commented on #4268
@Coaxial would you mind testing the PR I just sent up? Will merge if it works okay for you.

[2016-12-09 00:51] #4268 closed

[2016-12-09 02:51] ttrifonov opened #4270 "Post-processors should be linked to builders when using the "--only" CLI option"
I am using the `--only` option to run a specific build (in my case `amazon-ebs`), but I have another builder with type `docker` and a post-processor `docker-tag` for it. Since the `--only` option doesn't run the Docker build, I can't limit the post-processor to not run and raise an error. I think post-processors should be able to be linked somehow (using a tag?) to builders, and the `--only` filte

[2016-12-09 02:52] matt-richardson opened #4271 "No output returned from PowerShell provisioner when elevated"
When I use the PowerShell provisioner, when using the `elevated_user` and `elevated_password` parameters, the output of the provisioner is not returned to the host.

Interestingly, it appears the [code is there](https://github.com/mitchellh/packer/blob/master/provisioner/powershell/elevated.go#L83) to read the scheduled task output and log it, but it never appears.

- Packer version from `packer v

[2016-12-09 02:57] mwhooker commented on #4270
I agree it could be a little more intuitive, but it should be possible with this https://www.packer.io/docs/templates/post-processors.html#run-on-specific-builds

I'm not sure we can set up the `--only` flag to apply to the post-processors, too, since they may have different names than the builders.

[2016-12-09 02:57] #4270 closed

[2016-12-09 06:37] #3911 closed

[2016-12-09 08:43] luhkevin commented on #4118
Is there a fix or workaround for this? I'm also experiencing this issue on CoreOS

[2016-12-09 10:29] rickard-von-essen commented on #4118
@pschultz You original example doesn't contain a `startup_script_file` is that correct?

@luhkevin Does it work if you instead insert the script in `metadata`?

[2016-12-09 10:31] luhkevin commented on #4118
Have not tried that yet, I'll give it a shot soon.
The script in question is just the contents of `StartupScriptLinux` in https://github.com/mitchellh/packer/blob/v0.11.0/builder/googlecompute/startup.go, correct?

[2016-12-09 11:02] rickard-von-essen commented on #4118
Yes, and I think you can use it with adaptations and put it in metadata instead.

[2016-12-09 11:32] pschultz commented on #4118
We don't use startup scripts. That's why #4102 fixed it for us.

[2016-12-09 11:49] rickard-von-essen commented on #4118
Closing, see above.

[2016-12-09 17:05] nowhammies commented on #4267
Hi I tried with the argument  `-on-error=ask` and it still cleaned up and did not ask me in the same way it did when it timed out shutting down the vm in a previous run.

[2016-12-09 18:06] taylorjstacey opened #4273 "Include support for ca-central-1 region in AWS"
Amazon added a new region for central Canada (ca-central-1). Currently there's no support for the region in Packer, which would be helpful for Canadian organizations looking to meet regulatory compliance requirements.

[2016-12-09 18:31] rickard-von-essen commented on #4273
You can use https://www.packer.io/docs/builders/amazon-ebs.html#skip_region_validation for now.

[2016-12-09 19:11] hdatteln commented on #4246
Thank you for looking into this!

[2016-12-09 19:22] #4273 closed

[2016-12-09 22:16] infoeon opened #4275 "checksum post-processor ignores "output" parameter if multiple artifacts and then disregards keep_input_artifacts=false"
Packer 0.12.0 on Windows

When using the checksum post-processor with something like the following with virtualbox-iso (and probably others):

[code]

and when there are multiple "artifacts" then the "output" parameter is ignored and the checksum files are put in the virtualbox output folder. Since these files now exist the "keep_input_artifacts": false is ignored and that entire folder remains af

[2016-12-09 22:52] vtolstov commented on #4275
Pr already created, please wait for merge

2016-12-10 1:16 GMT+03:00 infoeon <notifications@github.com>:

--
Vasiliy Tolstov,
e-mail: v.tolstov@selfip.ru

[2016-12-10 19:34] pulpfree opened #4276 "Availability Regions"
AWS has just opened a new region in Canada: ca-central-1. Attempting to use this region results in the following error: `Unknown region: ca-central-1`. Is this region going to be added soon?

Thanks,
ron

[2016-12-10 21:18] rickard-von-essen commented on #4276
Duplicates #4273, see that for work around.

[2016-12-10 21:18] #4276 closed

[2016-12-10 21:31] lorengordon commented on #3303
+1. This would be a much better solution to the problem of new regions, rather than telling people to use `skip_region_validation` now. Simply do not validate the region in the first place. If the request errors, catch it and translate/pass the error message.

[2016-12-11 09:09] rickard-von-essen commented on #4264
We have the `amazon-import` post-processor to handle importing AMI's from other builders. It's rather new and might need some additional features to suit your needs.

Definitely agree! We would appreciate a PR that add info to the docs on how to use `ec2-bundle-and-upload-image` instead.

We would happily review a PR for this, also allowing the `amazon-chroot` to only EBS or instance store backed

[2016-12-11 17:04] willglynn commented on #4264
Interesting! I had not seen this.

Well, it would let Packer support more things without needing the user to install more things. Looking at the [current `amazon-inport` post-processor](https://github.com/mitchellh/packer/blob/master/post-processor/amazon-import/post-processor.go), I think it's a perfect fit for the library:

1. Currently, `amazon-import` copies an OVA to S3 verbatim. Instead, ope

[2016-12-12 00:14] dave2 commented on #4267
Your json doesn't have `format` defined for the VMware builder, so despite `output_directory` being defined it doesn't do anything with it. What should happen in the output log is ovftool downloading the image from ESXi to local, but that doesn't happen at all, so the artifact the post-processor is trying to use is still the remote-path on ESXi being treated as local.

[2016-12-12 03:09] Firxiao commented on #4263
Thank you all, now I am trying   change sudoer file by  _shell provisioners_ , but it need a tty to run sudo command too. so is there a ssh args like _-t_ in _provisioners  shell_ ? I have checked the docs and didn't find it.

[2016-12-12 05:30] rickard-von-essen commented on #4263
You need to turn _require tty_ off before connecting, either in your Kickstart/preseed or in a user-script depending on your builder. For reference `man sshd_config` and https://github.com/chef/bento/blob/master/http/centos-6.8/ks.cfg#L70

[2016-12-12 05:59] Firxiao commented on #4263
I have try turn require tty off, just same error, I try downgrade ansible, use ansible 1.9.6 , everything is ok.
I thought this is not _requiretty_ 's problem.
@mwhooker please check if this is the packer's bug , thanks a lot.
@rickard-von-essen  I am using source ami to build ec2 ami,  not use kickstart , thanks anyway.

[2016-12-12 06:18] rickard-von-essen commented on #4263
If you gist a full template I might have some time to review and test.

[2016-12-12 07:43] Firxiao commented on #4263
@rickard-von-essen  cause I use china aws. so my template not suit to you  . if you have aws account you could  try use aws-ebs + ansible build linux ami. thank you.

[2016-12-12 12:54] ringods commented on #2711
@rickard-von-essen almost a year has passed. Are the problems with xhyve/bhyve you bumped into resolved meanwhile?

[2016-12-12 13:13] rickard-von-essen commented on #2711
From time to time I do some progress on this ;-). But most of my time goes in to smaller changes and fixes.

The thing I've been working on lately is connecting and typing `boot_command` over serial line. Currently I'm using a library that requires cgo so to get it in to Packer I also need to rewrite that to be buildable without cgo and support darwin and freebsd.

If someone wants to help this mi

[2016-12-12 13:15] smitelli opened #4277 "Packer can give misleading errors if IAM permissions are missing"
* Packer 0.12.0
* Linux (Debian Jessie, amd64)
* `amazon-ebs` builder

I upgraded a packer 0.10.0 installation to 0.12.0, and builds immediately started failing in the following manner:

    12:07:36 amazon-ebs output will be in this color.
    12:07:36
    12:07:36 ==> amazon-ebs: Prevalidating AMI Name...
    12:07:38     amazon-ebs: Found Image ID: ami-dcb57ebc
    12:07:38 ==> amazon-ebs: Crea

[2016-12-12 15:38] nowhammies commented on #4267
Thanks for the suggestion I will explicitly set it and give it a try however, according to the documentation format defaults to "ovf".  If you have a json file in which this scenario is working for you please post a gist and I will try and base my config off that.

[2016-12-12 18:04] mwhooker commented on #4277
definitely agree we could do a better job surfacing this error. thanks!

[2016-12-12 19:01] themalkolm commented on #2391
It is still in packer 0.12

[code]

Notice "cookboo" end of the output.

[code]

[2016-12-12 19:36] aairey commented on #3028
Closing beause PR #3767 was merged.

[2016-12-12 19:36] #3028 closed

[2016-12-13 01:55] MohdAhmad opened #4278 "Qemu builder fails when used with the `scsi` interface"
The qemu builder in conjunction with the `scsi` interface fails. Is this a known issue? Any idea what could be going wrong?

I am running packer inside a centos VM on vmware fusion with

*Packer v0.12.0*

*Qemu KVM*
[code]

*Centos version*
[code]

*Template*
[code]

*Packer logs*
[code]

[2016-12-13 05:53] martinb3 opened #4279 "Packer's use of the aws-sdk-go failing to authenticate"
Hello! We've been trying to use packer inside AWS' new "CodeBuild" product, and we're noticing that while the AWS CLI can authenticate successfully to various EC2 APIs, packer cannot. When we run packer, we get:

Since CodeBuild uses ECS containers, where we've assigned the appropriate IAM roles, our working theory is that packer and/or the Go SDK is failing to pull credentials from `169.254.170.2

[2016-12-13 06:30] odg0318 opened #4280 "Run an executable such as script on remote builder types."
Hello.
I should create autoscaling group, a feature of AWS, after packer is done.
AMI id is required to do that but there is no way to get it.
I made a plugin that gets image id from artifact and run script with parameters, `builder_type`, `image_id`.
The plugin works fine only when `amazon` or `googlecompute` is used as a builder.
I want this feature is added to packer's default post-processor.

[2016-12-13 06:35] odg0318 opened #4281 "specify AWS_CONFIG_FILE path"
Hello.

I think it is better that a path of `AWS_CONFIG_FILE` is specified in template.
Now, the path can be set only via environment variables.
I don't know why this configuration is missing in template and hope that it is added.
This link https://github.com/odg0318/packer/commit/d1207979b75e764300b259f1283b5da7342f707c is sample codes that I did.

As a diffrent solution, can you provide another

[2016-12-13 07:27] rickard-von-essen commented on #4279
Yes we currently don't support task-roles. I started to look into fixing this but I don't think it will happen before the holidays.

[2016-12-13 07:28] rickard-von-essen commented on #4279
Related to #4124

[2016-12-13 08:27] rickard-von-essen commented on #4280
You can already use the `manifest` post-processor in combination with `shell-local` post-processor.

[2016-12-13 08:29] rickard-von-essen commented on #4280
Also the `shell-local` post-processor have been rewritten on master, see #4189.

[2016-12-13 08:35] rickard-von-essen commented on #4281
I expect that you can use env var `AWS_CONFIG_FILE`. When #4124 is completed this should mostly work as the [awscli](http://docs.aws.amazon.com/cli/latest/userguide/cli-chap-getting-started.html). But we don't plan to add a new option for `AWS_CONFIG_FILE` it's better suited as a env var.

[2016-12-13 09:34] odg0318 commented on #4281
Thank you for your reply.

It is uncomfortable that I should always set env vars every time I build.
`docker-compose` also has a way to write env vars in a template file.
https://docs.docker.com/compose/compose-file/#/environment

What do you think of new section to set env variables in template?
Priority would process it in the following overriding order.
1. env vars on system.
2. en vars on temp

[2016-12-13 09:35] odg0318 commented on #4280
Yes, I see. I will wait for releasing master version to stable.
Thank you

[2016-12-13 09:35] #4280 closed

[2016-12-13 09:47] themalkolm commented on #869
I hacked a custom builder `packer-builder-vagrant` that works for me. It simply finds the existing vagrant box (or tries to download it) and updates `source_path` in builder definition. Works fine with packer 0.12 + vagrant 1.9.0 + VirtualBox 5.1.8 (tried both mac & windows). It requires you to slightly update your packer template. README should give you a hint how it works. Feel free to try.

htt

[2016-12-13 12:16] rickard-von-essen commented on #4281
I don't see how that adds value over defining the env var before starting packer. Also it ties the template unnecessarily to the build environment. If it's cumbersome to specify the env var each time put it in `~/.bashrc`, a bash function, a `Makefile`, or switch to a modern shell (like [fish](https://fishshell.com/) 🐟).

[2016-12-14 05:17] berney commented on #4056
@rickard-von-essen I think you should remove waiting-reply label as I have provided more info and add build-failure back as my investigation shows that the vagrant post-processor doesn't properly handle files on the remote ESXi server's filesystem, it incorrectly treats them as local files causing the build to fail with an error.

[2016-12-14 11:08] runningman84 commented on #3001
any news here? I have the same problem.

All of these combinations do not work:
[code]

[2016-12-14 12:28] runningman84 commented on #3001
@catsby do you have any working workarround?

[2016-12-14 12:44] rickard-von-essen commented on #3001
@runningman84 Can you gist a debug log and your template?

[2016-12-14 16:24] donnoman commented on #4212
I'm getting the same thing

› packer --version
0.12.0
› uname -a
Darwin Donovans-MBP.attlocal.net 14.5.0 Darwin Kernel Version 14.5.0: Sun Sep 25 22:07:15 PDT 2016; root:xnu-2782.50.9~1/RELEASE_X86_64 x86_64

Gist: https://gist.github.com/donnoman/47eb1565a821b1983a820d084ace4fd8

[2016-12-14 16:30] rickard-von-essen commented on #4212
Spelling
https://www.packer.io/docs/builders/amazon-ebs.html#shutdown_behaviour

[2016-12-14 16:52] runningman84 commented on #3001
hmm it looks like the new version of packer does not have this problem anymore. I was running 0.8.x before...

[2016-12-14 17:11] rickard-von-essen commented on #3001
Closing this. Open a new issue you can reproduce this on 0.12.0.

[2016-12-14 17:11] #3001 closed

[2016-12-14 19:06] donnoman commented on #4212
awww bloody brits, LOL

after updating spelling: Template validated successfully.

[2016-12-14 19:07] donnoman commented on #4212
can we ask for an alias spelled the way websters spells it?

Even google thinks its wrong:

Showing results for behaviour
Search instead for behviour

[2016-12-14 19:10] donnoman commented on #4212
can we ask for an EN-US alias, this won't be the last time it's reported.

[2016-12-14 19:58] rickard-von-essen commented on #4212
Actually this should be spelled as the [AWS API](http://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_RunInstances.html) spells it, which is _"InstanceInitiatedShutdownBehavior"_. Which is actually how it's [internally is spelled](https://github.com/mitchellh/packer/blob/master/builder/amazon/common/run_config.go#L49).

[2016-12-14 21:15] #4212 closed

[2016-12-15 00:13] #4113 closed

[2016-12-15 02:11] donnoman commented on #4212
Awesome thank you. 👍

[2016-12-15 07:36] odg0318 commented on #4281
Thank you

[2016-12-15 07:36] #4281 closed

[2016-12-15 15:08] wingZero21 opened #4287 "Cloudstack security groups"
Hi,

Can you advise if its currently possible to add security groups to the cloudstack packer builder templates?

Currently I cant see any option on the documentation page that allows for this.

[2016-12-16 03:24] aphuyal1 commented on #1916
I had a same issue and fixed by deleting the file ".vmx.lck" under virutal maching/<vmname> folder.

[2016-12-16 08:09] marema31 opened #4289 "Vsphere postprocessor hangs on ssl fingerprint verification"
Packer 0.12.0 on linux. Ovftools 4.10, vcenter 5.10

The postprocessor vsphere hangs forever without any message (even with PACKER_LOG=1)
[code]

I've tried to do the same operation directly with ovftools

    /usr/lib/vmware-ovftool/ovftool --acceptAllEulas --name=mytemplate --datastore=myds --diskMode=thin --network=VM\ Network mytemplate.ova vi://me:password@myvcenter/mydatacenter/host/mycluste

[2016-12-16 11:22] aairey opened #4290 "ctrl-tab not sent during boot_command"
I am trying to send a ctrl-tab as a boot_command, but cannot get it to work.

I opened an issue about this before (#3028) and thought it would be fixed after PR #3767.
However I don't think the correct scancode is sent.

[code]

I need it to ctrl-tab out of a text field in an install wizard.

IMHO, the scancode that should be sent is `94`, from [this](http://www.ee.bgu.ac.il/~microlab/MicroLab/Lab

[2016-12-16 11:24] skvl opened #4291 "qemu builder: boot_command failed to enter text"
#### Description
After `boot_wait` (10s) no input appear in *grub* menu. If I press *<tab>*, then I could see this input:
[code]

#### Packer version
Packer v0.12.0

#### Host platform
Linux

#### Log
[Log](https://gist.github.com/skvl/b5d978c1599eec9b915206cb094a9a5b)

#### Build command
[code]

[2016-12-16 12:21] skvl commented on #4291
I have tried [this](https://github.com/stardata/packer-centos7-kvm-example) example and it works! I think something bad with my `json` file.

[2016-12-16 12:31] rickard-von-essen commented on #4291
If you solved it please close, if not could you try with 0.12.1, there where at least one fix for qemu `boot_command`.

[2016-12-16 12:34] rickard-von-essen commented on #4290
Please supply a full template and log. Also it would be great if you can retry with 0.12.1, released yesterday.

---

Please supply the information requested in the issue template:
- Packer version (`packer version`)
- Host platform (`uname -a` etc.)
- Debug log output from `PACKER_LOG=1 packer build template.json`.
  Please paste this in a [gist](https://gist.github.com).
- The _simplest example

[2016-12-16 12:57] skvl commented on #4291
I really don't understand: I have copied files from example into my project and this doesn't work!

[2016-12-16 13:05] skvl commented on #4291
It's the same with 0.12.1

[2016-12-16 13:05] skvl commented on #4291
I think there is some stupid error but I miss it.

[2016-12-16 13:08] aairey commented on #4290
Updated the [gist](https://gist.github.com/aairey/b364255ef541c86d344dfc645a0da9cc).

Platform details:
* packer version: Packer v0.12.1
* uname -a: Linux hostname.domain 4.8.13-300.fc25.x86_64 #1 SMP Fri Dec 9 14:52:00 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux

[2016-12-16 13:40] ferrarimarco commented on #2630
Tried with the latest packer (0.12.1), issue still here, thanks. @mwhooker

[2016-12-16 13:48] skvl commented on #4291
I have some clue about this! It is something about `"http_directory"` argument.

[2016-12-16 13:50] skvl commented on #4291
First of all if I have directory named **common** then this appears.

[2016-12-16 14:08] dragon788 commented on #2630
@marco what if you remove the quotes surrounding the user variable macro
(the "{{" ) and leave them around the "true" where the variable is set?

On Dec 16, 2016 7:40 AM, "Marco Ferrari" <notifications@github.com> wrote:

[2016-12-16 14:26] ferrarimarco commented on #2630
@dragon788 If I understood correctly I should try with `"keep_input_artifact": "{{ user keep_input_artifact }}"`

Result was the same:
[code]

[2016-12-16 17:44] dragon788 commented on #2630
Hi Marco, actually I was thinking something more like the following (was replying from my phone earlier so was too tough to try and write out the code).

[code]

Packer (Go) is strongly typed, and that tends to bite users (myself included) when it comes to user variables.

Packer is checking user variables and apparently expects ALL of them to be text values, and then in this case you actually wan

[2016-12-16 19:14] rickard-von-essen commented on #2630
@dragon788, unfortunately that isn't even valid json.

[2016-12-16 19:20] rickard-von-essen commented on #2630
This is my analysis without looking much into the code.

1) First the template json decoded
2) Then each section (builders, post-processors, etc) split up per type.
3) User variables are substituted, and each plugin validates its part of the config.

The only boolean value that exists outside plugins are the generic `keep_input_artifact` which is handled as part of step 2). The fix in #1913 only a

[2016-12-17 00:26] gregorskii commented on #3832
Yep, apologies for the late response. I have since removed the export. The work coming down the pipe to keep/edit metadata will fix my use case, but I have not tested it yet.

Thanks!

[2016-12-17 00:26] #3832 closed

[2016-12-17 01:07] mwhooker commented on #4290
interesting. the proper scan code list for virtualbox is at http://www.win.tue.nl/~aeb/linux/kbd/scancodes-1.html according to the source code https://github.com/mitchellh/packer/blob/master/builder/virtualbox/common/step_type_boot_command.go#L109

and to me it looks like it's correct. I verified on ubuntu with [`showkey`](https://linux.die.net/man/1/showkey).

I wonder if adding a  `<wait>` in be

[2016-12-17 01:40] mwhooker commented on #4291
probably has something to do with these warnings
`Qemu stderr: Warning: no scancode found for keysym 32`

found some information about it here https://bugs.launchpad.net/qemu/+bug/1267520 which mentions the `common` directory issue.

see if you can run it from a directory without a `common` subdirectory

[2016-12-17 04:44] openface commented on #955
@beddari this is exactly the workflow I'm looking to achieve with Packer.  Do you know of any tutorials or snippets that would help a newcomer, such as myself, put this together?

[2016-12-17 06:44] aairey commented on #4290
Already tried with the additional wait, did not help.

On Sat 17 Dec 2016, 02:07 Matthew Hooker <notifications@github.com> wrote:

[2016-12-17 23:08] babatundebusari opened #4295 "[REQUEST] please "officially" support xenserver"
Any planned `OFFICIAL` support for xenserver?
Will be great to see support for xenserver(opensource project)
Makes sense that opensource project will support opensource projects

Thanks

[2016-12-18 08:22] rickard-von-essen commented on #4295
Excuse my ignorance about Xenserver, but isn't the `qemu` builder what you are looking for? It supports  xen via the accelerator option.

[2016-12-18 09:40] vtolstov commented on #4295
Sometimes ago i'm working on libvirt builder for packer, if i finish it, you can use any hypervisor that supported by libvirt

[2016-12-19 08:35] skvl commented on #4291
Yes, it is working without `common` folder.

[2016-12-19 12:31] gtirloni opened #4296 "Error exporting VM: /tmp no space left on device"
**Issue:**

Because /tmp is a memory filesystem on many Linux distributions (Fedora, Arch, etc). It may run out of space quickly and is not suitable for large boxes (e.g. Win10).

The solution suggested by systemd is to use /var/tmp instead, but I couldn't find a way to modify this behavior in Packer.

Disabling tmpfs for /tmp might incur in a system-wide performance penalty whereas only Packer is

[2016-12-19 12:52] gtirloni commented on #4296
The way to workaround this is to set the TMPDIR variable.

[2016-12-19 12:52] #4296 closed

[2016-12-19 18:59] noroutine opened #4299 "Packer 1.12.1 fails to launch openstack instance, but 1.12.0 works"
Looks like has troubles resolving names to uuids.

- Packer version 1.12.1 (1.12.0 works!)
- Host platform Ubuntu Xenial 16.04
- Error, build.json and debug log output from `PACKER_LOG=1 packer build template.json` are here https://gist.github.com/noroutine/619497f6429e1cc9748cb43fdd269d8d

[2016-12-19 19:01] mwhooker commented on #4299
Thanks for the report. we updated to a new openstack library which may have impacted this

[2016-12-19 19:41] #3563 closed

[2016-12-19 21:47] mwhooker commented on #4299
@noroutine are you able to test the patch in #4301? Let me know if you have trouble building it and I can send you a binary.

[2016-12-20 10:03] aairey commented on #4290
@mwhooker the scancodes that are passed are indeed correct but it seems the OS does not react to `1d``0f', but it should react to it's designated scancode `94`.

[2016-12-20 18:02] noroutine commented on #4299
Yip, confirmed - works now perfectly

[2016-12-20 18:09] #4299 closed

[2016-12-20 19:52] mwhooker opened #4303 "segfault in builder/amazon-ebs"
don't have a json that will reproduce this yet, but shouldn't be too hard. Thinking it might have been introduced in 46f217f255e81059baace087a12fb8dd202078b9

[code]

[2016-12-20 22:41] dave2 commented on #4277
https://github.com/mitchellh/packer/blob/master/builder/amazon/common/step_run_source_instance.go#L369

I've checked all the other attributes given on the missing list on this issue, and they all handle errors correctly, but the waiter above doesn't. I'll flick a PR to fix it shortly.

[2016-12-20 22:55] iDiogenes commented on #4303
I am using 0.12.1 and am seeing the same issue.

[2016-12-21 00:16] mwhooker commented on #4303
@iDiogenes by any chance could you tell me if you're using IAM roles and if you have the `ec2:ModifySnapshotAttribute` permission?

[2016-12-21 00:50] mwhooker commented on #4303
haven't verified but i believe it's from `blockDeviceMapping.Ebs.SnapshotId` here https://github.com/mitchellh/packer/blob/v0.12.1/builder/amazon/ebs/step_create_ami.go#L72

I don't believe `Ebs` is nil since we check for the explicitly, and therefor it must be that `snapshotId` is nil. I'm wondering if this happens if a user doesn't have the correct IAM permissions, since `ec2:ModifySnapshotAttri

[2016-12-21 00:51] mwhooker commented on #4277
I wonder if there's a way to check what permissions you have so we can check before we run

[2016-12-21 01:17] #4291 closed

[2016-12-21 01:38] dave2 commented on #4277
I did consider if we could preflight check the permissions, but quickly found myself in an IAM policy sim rabbit hole. Resource level permissions could give false negatives on access is the main issue I see, it's not immediately clear how the policy sim default resource of "*" would be interpreted given a resource-level permission.

[2016-12-21 02:17] mwhooker commented on #4290
merged in something with _might_ fix this if you care to try.

Otherwise I think the best next step is to test your theory and add a new `special` like <ctrlTab>

[2016-12-21 02:20] mwhooker opened #4306 "builder/openstack: Error updating image visibility"
relaying an issue I'm aware of but have not reproduced:

When using `image_visibility: "public"`: `Build 'openstack' errored: Error updating image visibility: Resource not found`

Will update when I know how to reproduce

nova havana, glance kilo

[2016-12-21 02:36] dave2 commented on #4267
Docs are definitely wrong then, as the code path never forces `format` to be a specific value if not set. The check on valid values is done here: https://github.com/mitchellh/packer/blob/master/builder/vmware/iso/builder.go#L166

The step to call ovftool happens here:
https://github.com/mitchellh/packer/blob/master/builder/vmware/iso/step_export.go#L38

The following gist has worked fine for me an

[2016-12-21 05:54] grothja commented on #4303
Seeing a pretty similar crash with 0.12.1 as well:

[code]

We're using IAM roles, but I tried it with a full privs role with the same result.  On the other hand, it's only crashing on a EBS builder with 2 x volumes.  I've successfully built a 1 x EBS volume AMI twice, and it has twice failed trying to build 2 x volumes.

[2016-12-21 09:12] alter opened #4307 "amazon: Packer don't reconnect to when IP changes"
Packer lost connection and doesn't detect new ip after changing instance ip.

[code]

I think Packer should not cache ip for ssh, it have to get ip from instance every time when it needs to reconnect.

Packer v0.12.1

[code]

https://gist.github.com/alter/20cd6f16ac4fd4a3b26726aa700de8d3

sample image.json:
[code]

awscli_install.sh:
[code]

aws_credentials file - file with your aws credentials

s

[2016-12-21 10:20] alter commented on #4307
Also I could describe current situation:
I can't connect to my puppet-server from all IPs, it's  too unsecure.
I've created Elastic IP in AWS, added it to firewall and now I need to assign it to instance, but after IP assignation Packer lost connection.

[2016-12-21 10:26] rickard-von-essen commented on #4307
Just double checking.. Your Puppet server isn't running in AWS?

[2016-12-21 11:17] aairey commented on #4290
@mwhooker just tested with latest Go code and am now getting the below error.

Command used:
`PACKER_LOG=1 ~/go/bin/packer build porteus-kiosk.json`

boot_command:
[code]
log output:
[code]

[2016-12-21 11:22] rickard-von-essen commented on #4290
What's your version of VirtualBox?

[2016-12-21 12:23] alter commented on #4307
it depends on many factors, it maybe aws, gce, if it aws it maybe another project/region/etc
So, generally I can't connect to it using internal ip, and I can't use only public, but not static IP, b/c it won't be in firewall.

PS: The main idea that if pulic ip of instance has been changed, Packer can't reconnect to it, but Packer has AWS credentials and I think could get current ip of instance.
I

[2016-12-21 13:04] DanHam commented on #4290
@aairey @rickard-von-essen I'm seeing this error too. I've tried installing various versions of Virtualbox but it makes no difference.

Virtualbox versions:
5.0.26
5.0.30
5.1.12

[2016-12-21 13:11] DanHam commented on #4290
My boot command looks like this:

[code]

Looking at the console it seems to be able to type the boot command up to ```text ks=http://``` and then errors

[2016-12-21 13:14] rickard-von-essen commented on #4290
@DanHam That seems like a different issue, as I understand it this is specific for `<leftCtrlOn><tab>`.

[2016-12-21 13:21] rickard-von-essen commented on #4303
That was it. Howto repro:

[code]

[2016-12-21 13:26] marksteward commented on #1000
The issue should probably be renamed. The issue was resolved with #1150 (see above):

[2016-12-21 13:33] DanHam commented on #4290
@rickard-von-essen Sorry. To clarify, I'm seeing the same error as @aairey with the latest version of the Go code. In other words that error appears to be a general problem with **any** boot command rather than being specific to a boot command that includes ```<leftCtrlOn><tab>```

From my log output:

[code]

Clearly my boot command is different to @aairey 's but I'm seeing the same error and hav

[2016-12-21 13:43] aairey commented on #4290
@DanHam Yes it is a different issue that I am now stumbling upon and that you are getting.
It is most probably related to the code in PR #4305

[2016-12-21 14:15] DanHam commented on #4290
@aairey Right. That was my suspicion too. It looks as though I should have opened a new issue... I had (incorrectly?) assumed those changes were made to try and fix the problem you were having.

[2016-12-21 14:15] rickard-von-essen commented on #4303
Adding some print outs shows that newly created EBS vols (of course) don't have any `SnapshotId`.

[code]

[2016-12-21 14:38] DanHam commented on #4290
@aairey @rickard-von-essen I've just reverted the changes made to builder/virtualbox/common/step_type_boot_command.go in #4305 and tested successfully. So there is some issue with the new code that PR introduced.

These changes are very recent - is it possible work is still in progress?

[2016-12-21 14:45] #4303 closed

[2016-12-21 14:52] rickard-von-essen commented on #4290
@DanHam Can you open a new issue.

[2016-12-21 15:34] DanHam opened #4309 "#4305 causing Virtualbox builder to fail when typing boot command"
Apologies if there is still work in progress here, but the latest merge of PR #4305 is causing my Virtualbox builds to break at the point when the boot command is sent.

My boot command looks like this:

[code]

Looking at the console it seems to be able to type the boot command up to ```text ks=http://``` and then errors

From the log:

[code]

Reverting the changes made by #4305 to builder/virtu

[2016-12-21 15:36] DanHam commented on #4290
@rickard-von-essen Done. Please feel free to delete my comments in this issue if it helps. @aairey Apologies if I've muddied the waters...

[2016-12-21 19:58] DanHam commented on #4309
After some messing around, I've found that splitting the boot command into smaller chunks avoids the error:

[code]

I've taken a peek at the ```VBoxManageControlVM.cpp``` file mentioned in the Packer log. It would seem there are some known issues with the Virtualbox code responsible for delivering the scan codes to the VM. Sending too many scan codes at once just plain breaks things, while sendin

[2016-12-21 20:43] StefanScherer opened #4310 "packer 0.12.1 VirtualBox builder uses wrong WinRM port."
Building a Windows Server 2016 guest with the VirtualBox builder does not work with Packer 0.12.1 using WinRM. It seems that packer tries the wrong port instead of its calculated port mapping.

- Packer version from `packer version`
0.12.1

- Host platform
MacOS Sierra 10.12.2

- VirtualBox version 5.1.12

- Debug log output from `PACKER_LOG=1 packer build template.json`.

Just the relevant part r

[2016-12-21 21:31] rickard-von-essen commented on #4310
I agree with your description, but according to the change log we have no changes close to this area in 0.12.1. Can you verify that it works correctly with 0.12.0?

[2016-12-21 21:51] damphyr commented on #4310
I can verify that it works with 0.10.x but fails on 0.12.x trying to build a VirtualBox Vagrant basebox with Win7 and Win10.

[2016-12-21 21:56] StefanScherer commented on #4310
I'll try. My packer virtualbox build just has "entered" my other running VMware Fusion Vagrant VM which had port 5985 mapped to the host :-)

[2016-12-21 21:57] damphyr commented on #4140
I've stumbled on this trying to get .msu files to execute.

Basically I'm trying to get a Vagrant Win7 basebox without the dreaded 100% CPU windows update bug and that involves installing three .msu files with in-between reboots just so we can run windows update again. But wusa.exe does not allow .msu execution over winRM so I thought I would do it locally - hence my landing here.

I switched back

[2016-12-21 22:02] StefanScherer commented on #4310
It seems to work with 0.12.0. This log looks promising, guest is not ready for WinRM, but packer tries the correct port:

[code]

[2016-12-21 23:13] mwhooker commented on #4309
whoops, sorry about that

[2016-12-21 23:14] #4309 closed

[2016-12-22 00:34] DanHam commented on #4309
@mwhooker No problem. Thanks for fixing so quickly.

Might be worth keeping an eye on the upstream changes to see when you might be able to reintroduce. Alternatively raise a bug report with the Virtualbox team to try and push the fix mentioned in that 'todo' closer to the front of the queue. It's probably also worth keeping in mind that the next versions of Virtualbox will have that arbitrary rat

[2016-12-22 06:31] gupta-abhishek opened #4313 "Custom KMS key encrypted root volume + AMI share is not supported, why?"
Hey,

I was trying to share an encrypted AMI. But packer fails in pre-validate step. The encrypted AMI is encrypted using custom key, but not default KMS key. So, it should be allowed.

It could be because of https://github.com/mitchellh/packer/commit/d7a7d8c85222b22ba8d140c31d2ded056d14d5cf#diff-5dba49c9dc76437bfbfbd2e93dade275

Repro step:
[code]

Simply re-adding `len(c.AMIKmsKeyId) == 0`, migh

[2016-12-22 06:58] gupta-abhishek commented on #4249
Any update on when will this feature be deployed in master?

[2016-12-22 07:27] dmlb2000 opened #4314 "Hyper-V builder should have ssh_wait_timeout parameter"
- Packer version from 0.12.1
- Host platform: Windows 10
[code]
- The _simplest example template and scripts_ needed to reproduce the bug.
This is using the bento project json templates... seems like there's some more stuff missing there as well since the template doesn't render quite right.
[code]

The original template had the `{{user 'ks_path'}}` template directive which also doesn't seem to wo

[2016-12-22 07:29] dmlb2000 commented on #4314
Seems like there's some hard coded values that might need to be parameterized in `builder/hyperv/common/step_polling_installation.go` around line 35.

[2016-12-22 08:26] rickard-von-essen commented on #4313
It's not possible to share an AMI with a encrypted vol.

[2016-12-22 12:07] gupta-abhishek commented on #4313
It is possible to share AMI with encrypted volume, as per [AWS docs](http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/EBSEncryption.html) & [blog](https://aws.amazon.com/blogs/security/how-to-create-a-custom-ami-with-encrypted-amazon-ebs-snapshots-and-share-it-with-other-accounts-and-regions/). We just need custom KMS key for that.

So, can this feature be integrated with packer?

[2016-12-22 14:07] rmoriz opened #4315 "vmware-iso: Error detecting host IP: exit status 1"
- packer 0.12.1
- VMware Fusion Version 8.5.3 (4696910)
- host: macOS 10.12.2 (16C67)
- guest: 10.12.2_16C68

packer template:

https://github.com/chef/bento/blob/2b90af31b39b409d4d0f90da4678848f65175d64/macos-10.12.json

shell:

[code]

error:

[code]

packerlog.txt => https://gist.github.com/rmoriz/efcc17f80ca859e243f6738d75c4dcf7

[2016-12-22 14:30] vtolstov opened #4316 "replace own scp with go package"
What do you think about replacing own scp logic to https://github.com/hnakamur/go-scp ?

[2016-12-22 16:42] rickard-von-essen commented on #4249
Most likely during the holidays.

[2016-12-22 16:48] rickard-von-essen commented on #4313
No actually they don't, they talk about sharing encrypted EBS snapshots. For this feature I added `snapshot_users` so you can share snapshots with another account and that in turn can copy the AMI.

[2016-12-22 16:53] rickard-von-essen commented on #4315
Could you run with `--on-error=ask` and do some troubleshooting?

[2016-12-22 17:54] rmoriz commented on #4315
While 100s of `sudo vmnet-cli --configure; sudo vmnet-cli --stop; sudo vmnet-cli --start` didn't help, a reboot of the host macOS fixed that issue.  🙄 🙄 🙄

[2016-12-22 17:54] #4315 closed

[2016-12-22 22:55] avishnyakov opened #4319 "virtualbox-windows-iso builder - can't specify same value for http_port_max / http_port_min"
As packer suggests, we can specify same port for both  http_port_max / http_port_min so that we would know the right number while running provisioners.

https://www.packer.io/docs/builders/virtualbox-iso.html

However, the following setup for virtualbox-windows-iso builder gives "* http_port_max must be greater than http_port_min":

[code]

The aim is to transfer a huge ISO file into VM. WinRM tra

[2016-12-23 00:34] avishnyakov commented on #4319
A workaround if anyone needs it.

Setup ports:
[code]

That should give random one either 8013/8014, later use the following PS and temporary file '_ping.txt' as following within powershell provisioner. Basically, checking availability on two predefined ports and then downloading required files.
[code]

Wish there were another way around to transfer huge ISOs into packer VM.

[2016-12-23 02:33] nickmalcolm commented on #2412
The above is the exact use case I'm after too. Is it possible to find this in a variable anywhere, which we can include in a `command` template?

[2016-12-23 05:56] gupta-abhishek commented on #4313
Oh! I wasn't aware of `snapshot_users`. Thanks for pointing me to it.

[2016-12-23 05:56] #4313 closed

[2016-12-23 08:47] rickard-von-essen commented on #4319
I think it's actually the docs that are wrong. The port is selected from the range [min_port, max_port).

[2016-12-23 08:58] rickard-von-essen commented on #2412
There are a endless list of variables that can be wanted in `shell-local` that expose information from the builder. This pollutes the post-processor with logic from _all_ builders.

I recommend that you use `shell` provisioner to write whatever info you need to a tmp file, the the `file` provisioner to download it and source the file in `shell-local`.

@mwhooker close?

[2016-12-23 11:34] igmar opened #4320 "[amazon-ebs] Reproducable crash during build"
- Packer version from `packer version`

0.12.1

- Host platform

12:05 $ uname -a
Darwin igmar-macb.local 16.3.0 Darwin Kernel Version 16.3.0: Thu Nov 17 20:23:58 PST 2016; root:xnu-3789.31.2~1/RELEASE_X86_64 x86_64

OSX Sierra 10.12.2

- Debug log output from `PACKER_LOG=1 packer build template.json`.

https://gist.github.com/igmar/cd5c0acb8e452f3d488ecac73386dc2a

- The _simplest example templat

[2016-12-23 11:54] rickard-von-essen commented on #4320
Duplicates #4303 which has been fixed on master.

[2016-12-23 11:55] igmar commented on #4320
The same issue indeed.

[2016-12-23 12:03] #4320 closed

[2016-12-23 13:48] jugatsu commented on #3117
@drewsonne can you share please some code snippet about how you workaround chef provisioner winrm limitations

[2016-12-23 14:25] drewsonne commented on #3117
Sure. But it ain't pretty. :-)

I have a folder of cookbooks where the dependencies are all defined by a Berksfile, and I target a single cookbook. I'm running on macos locally, so you may have to change the "shell-local" provisioners.

I have a PS script to install chef:

[code]
My Chef config file:

[code]

and then my Chef json file:

[code]

And then I have the packer file itself:

    "provis

[2016-12-23 14:32] jugatsu commented on #3117
Awesome. Thanks a lot for sharing. But it's a little bit complicated :)

[2016-12-23 14:33] drewsonne commented on #3117
@jugatsu it is complicated, yes. But I couldn't find a nicer way.

If you get something cleaner, please do let me know. It also makes me appreciate what vagrant and packer do under the hood and what I don't usually have to worry about.

[2016-12-23 15:56] nowhammies commented on #4267
Hi Dave thanks for the help.
I am able to keep the files around now which is very useful.
The documentation i was referencing was here:

https://www.packer.io/docs/builders/vmware-iso.html

format (string) - Either "ovf", "ova" or "vmx", this specifies the output format of the exported virtual machine. This defaults to "ovf". Before using this option, you need to install ovftool.

[2016-12-23 16:28] DanHam commented on #4310
This bug appears to have been introduced by PR #2576. This changed the way the WinRM port was set in helper/communicator/step_connect.go which unfortunately broke things for the Virtualbox iso builder. The ovf builder should also be affected in the same way.

I've tested a fix that should align the Virtualbox builders with the new way of doing things introduced by PR #2576 and issued a PR - #4321

[2016-12-23 16:58] StefanScherer commented on #4310
Thanks for the help

[2016-12-23 17:05] rickard-von-essen commented on #4310
@DanHam Great!

[2016-12-23 17:17] jugatsu commented on #3117
Yeah. Having oportunity to run chef-client via scheduled task by packer would we big win.

[2016-12-24 07:23] gsingh93 commented on #3121
I'm seeing those error messages as well with the same `vboxmanage_post` settings. Any idea why it happens?

[2016-12-24 08:48] rickard-von-essen commented on #3121
Please try using [`post_shutdown_delay`](https://www.packer.io/docs/builders/virtualbox-iso.html#post_shutdown_delay)

[2016-12-24 12:45] #4310 closed

[2016-12-24 13:34] StefanScherer commented on #4310
👏

[2016-12-24 14:38] mrhockeymonkey opened #4322 "Suppressing powershell output streams in packer output"
Packer version: 0.12.0
PSVersion: 5.0
OS: Windows 10

Currently when using the "powershell" provisioner i keep getting a bunch of clixml output from packer. it looks to be describing all the output streams powershell has (i.e. verbose, information, progress, etc). is there a way to suppress this?  I have added for instance $ProgressPreferance = 'SilentlyContinue' to some of my scripts but it only

[2016-12-25 15:48] grv87 opened #4323 "common/step_download: broken with some Windows's symbolic links"
Packer version: 0.12.1

Host platform: Windows 7 SP1

Builder: `virtualbox-ovf`

Under the following conditions:
* `source_path` points somewhere inside symbolic link or junction (doesn't matter whether it's absolute or relative path)
* destination of that symbolic link/junction has `\\?\` prefix

I got error:
[code]

Example and log: https://gist.github.com/grv87/773b2b0db08bde45e440fbfcf0680008