[2019-02-26 13:04] jalbstmeijer commented on #6877
Hi,
Same issue here.
Running packer 1.3.4  from a Centos6 host, using the amazon-ebs builder and Ansible provisioner to create Centos6/7 ami's.

Just hangs after this:

amazon-ebs: TASK [Gathering Facts] *********************************************************
2019/02/25 17:04:14 packer-1.3.4: 2019/02/25 17:04:14 SSH proxy: accepted connection
2019/02/25 17:04:14 packer-1.3.4: 2019/02/25 17:04:14

[2019-02-26 13:25] Neki commented on #7299
I can't unzip your archive (error message below), but the binary I get by building this commit with `make dev` does work with `-debug`.

---

[code]

[2019-02-26 14:01] azr commented on #7299
Ah, weird, sorry ! Here's a fresh build from recent go 1.12 🙂
[packer_linux_amd64.zip](https://github.com/hashicorp/packer/files/2905802/packer_linux_amd64.zip)

[2019-02-26 14:42] Wenzel opened #7349 "QEMU Xen accelerator: failed to get HVM_PARAM_IOREQ_PFN"
When building a qemu template with `xen` accelerator, packer fails with the error `failed to get HVM_PARAM_IOREQ_PFN`

- Packer version: `v1.3.3`
- Host platform: Debian Stretch
- Debug log output:

[code]

Xen has been installed using Debian package: [xen-system-amd64](https://packages.debian.org/stretch/xen-system-amd64) `4.8.5`

Template:
https://github.com/Wenzel/bug_packer_ansible/blob/master

[2019-02-26 14:50] Neki commented on #7299
I can confirm that this build also works for me :slightly_smiling_face:

[2019-02-26 14:55] azr commented on #7299
Awesome, thanks for telling me !!! So we found the cause, it's an `func init()` in a 3rd party vendor >.<

So that means we either have to fix the 3rd party or find a better one, anyway, a fix is coming.

[2019-02-26 15:52] frank3427 commented on #7316
Using the original packer json using the new packer,
==> Builds finished. The artifacts of successful builds are:
--> amazon-ebs: AMIs were created:
us-west-1: ami-04906c62e6bc8f9fd
us-west-2: ami-02ec08be8baa14997

[2019-02-26 17:35] SwampDragons commented on #7316
And everything seems to have been created properly when you check on Amazon?

[2019-02-26 17:39] SwampDragons commented on #6877
Yes, The Ansible provisioner is a community-supported plugin, which means HashiCorp's two full-time engineers who are dedicated to Packer (myself and @azr) aren't going to spend time on it other than reviewing pull requests.

We're trying to figure out a good way to share the target ip with the shell provisioner to make this easier.

[2019-02-26 19:29] e-mow commented on #7140
I tested the linux file today and the vmx files are showing the wrong data it looks like after the clone. If you look at the directory and .vmx file name they are from the vm_name and display_name in the template. However after the first phase for the os install the vmxf setting didn't get updated.

Template:
- "vm_name": "packer-{{user `vm_name`}}-02-vmware-tools",
- "display_name": "packer-{{use

[2019-02-26 19:42] ChulHul opened #7350 "Intermittent Packer Crash"
- Packer version: 1.3.4
- Host platform: Azure
- Crash text: https://gist.github.com/ChulHul/8af8111a1e67c1d54588bcb7ea633f81

I keep hitting an intermittent crash that i can't reliably reproduce... Anyone has any ideas?

[2019-02-26 19:49] luispollo commented on #2999
If it helps, I ran into a slightly different situation, where we need both proxy support **and** a bastion host accessible through that proxy in order to access EC2 instances on private subnets, however as of version 1.3.4, Packer will not allow both those settings to be configured simultaneously for some reason...

[code]

[2019-02-26 20:03] SwampDragons commented on #7350
My guess is this is a network hiccup, since WinRM is failing during an upload.

[2019-02-26 20:10] SwampDragons commented on #7140
Ah, I see. We need to overwrite the extended config, rather than just setting it if it's empty.  Try this one?
[packer.zip](https://github.com/hashicorp/packer/files/2907321/packer.zip)

[2019-02-26 22:16] SNikalaichyk commented on #7350
I also occasionally experience the same crash, but in AWS.

[code]

[2019-02-27 00:18] SwampDragons commented on #5816
I can't reproduce this on the master branch, so I think it has been fixed. I'm going to close this issue.

[2019-02-27 00:18] #5816 closed

[2019-02-27 00:19] SwampDragons commented on #3046
I can't reproduce this on a recent version of Packer, so I'm going to close. If folks are still experiencing similar problems with a modern Packer, please open a new issue :)

[2019-02-27 00:19] #3046 closed

[2019-02-27 00:24] amphied commented on #7346
Maybe this was just added or enabled recently, since the [documentation](https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/sharingamis-explicit.html) supports your claim, @rickard-von-essen

However, it works as expected: following what is outlined in [this gist](https://gist.github.com/amphied/040d9601b5aaa67af4d577e17dcf6c2f), I am able to launch an instance from the shared AMI in the secondar

[2019-02-27 06:58] chhaj5236 commented on #6382
We have updated the official doc for making this clear. See https://github.com/hashicorp/packer/pull/7329 for details.

[2019-02-27 06:58] #6382 closed

[2019-02-27 08:18] jalbstmeijer commented on #6877
Thanks for clearing that up

Yes, in my use case I need, ssh ip, ssh port and ssh key available for the shell provisioner

[2019-02-27 10:18] azr commented on #6762
Confirmed: https://github.com/hashicorp/packer/pull/6787#issuecomment-466531888 👍

[2019-02-27 16:26] azr commented on #7299
I have a fix in #7352, (could reproduce and my pr fixed it), could someone please confirm that it also works for them ? Thanks !

[2019-02-27 16:49] amy-hashi opened #7353 "Setting a env variable of a complex URL"
When attempting to set an env variable of a complex URL (containing special characters) you must enclose the value in both double and single quotes:
[code]
When attempting to use the variable later via curl, the quotes are coming through and breaking the call.

Snipped from packer.json:
[code]
Debug output:
[code]
Happening on Ubuntu v18.04LTS on GCP. Packer v1.3.4.

[2019-02-27 17:19] e-mow commented on #7140
Ran another test with the latest zip and the setting did not change in the vmx files.

Just to confirm that the old way of setting the setting in vmx_data would update the vmx file I put the code back into the template and it imported correctly into the vmx.

[2019-02-27 17:34] e-mow commented on #7140
I did notice that my previous tests were generating the vmxf file currently based on the VM Name during the stage that VMWare tools or Open-VM-Tools gets installed when using vmx-data. What I didn't realize until this set of testing is that the vmxf file is being copied to all future stages and when I delete the VM from the vCenter UI vmware will not remove the vmxf if the name does not match the

[2019-02-27 18:52] ladar opened #7354 "Feature Request: Create Cryptographically Signed Vagrant Boxes"
I've been meaning to propose this for awhile. Here goes the short version:

Could `packer` add support for embedding a `signature.asc` or something similar inside Vagrant box files it generates?

There are lots of details regarding how such a feature would work, but the first, and most pressing question, is whether adding a signature file break any of the commonly used providers? If yes, that need

[2019-02-27 19:58] eran-stratoscale opened #7355 "insecure_skip_tls_verify isn't working"
Hey,
I'm trying to use insecure_skip_tls_verify option and it doesn't seem to work.
it does't work since 1.3.4 release, probably because of #7226.
[code]
/ # packer version
Packer v1.3.4

example json:
[code]

cc: @azr, @gmmephisto

[2019-02-27 22:44] SwampDragons commented on #7353
Worked with Amy offline and found that the `use_env_var_file` option solved the issue.

[2019-02-27 22:44] #7353 closed

[2019-02-28 00:13] edulop91 commented on #7299
built branch `research_7299`
`make dev`
`packer version`
Packer v1.3.5-dev (7f5c794e5)

`packer build -debug -on-error=ask -color=false template.json` works for me!

[2019-02-28 00:25] e-mow commented on #7140
It looks like this is the line that is cloning all files in the directory outside of the VMDK and the VMX file. If this line could be updated to include "! -name '*.vmxf'" then the file wouldn't get copied to the next stage.
https://github.com/hashicorp/packer/blob/0e8afa37d5623ab5d262ef0b0eacaa45dba18206/builder/vmware/common/driver_esx5.go#L71

Injecting the proper name into the extendedConfigFi

[2019-02-28 00:33] climann opened #7356 "hcloud builder: option "rescue": "freebsd64" is broken"
**Overview**

Reproducible build failure with hcloud builder and `rescue` option set to `freebsd64`.

**Result:** Build fails with error.

`==> hcloud: Error enabling rescue mode: FreeBSD rescue system does not support SSH keys (invalid_input)`

See [log](https://gist.github.com/climann/584014c34ddac958591050b9a52a5cd9) for details.

**Expected result:**

See [packer documentation](https://www.pac

[2019-02-28 00:41] e-mow commented on #7140
Looking at the log in relation to the code linked in my last comment here is the example of the copy of the vmxf file. You will see that the stage 1 vmxf file is being copied to the 3rd stage from the second stage.

2019/02/27 22:36:10 packer: 2019/02/27 22:36:10 [DEBUG] Opening new ssh session
2019/02/27 22:36:10 packer: 2019/02/27 22:36:10 [DEBUG] starting remote command: cp "/vmfs/volumes/templ

[2019-02-28 09:08] azr commented on #7299
Awesome, thanks, on ubuntu bionic, right ?

Okay, I need to fix the tests now. 🙂

[2019-02-28 16:25] e-mow commented on #7140
I setup a go environment last night and figured out what was happening.
Your commit at the link below has the C and F in the extendedConfigFile parameter in caps. However it looks like the vmx file needs to be all in lowercase as referenced in the next link from the vmx_data inputs being forced to lower in the key.
https://github.com/hashicorp/packer/blob/c770d8d80459a91a7c6a3fb9a7aabe419a36faec/b

[2019-02-28 16:28] e-mow commented on #7140
Testing this in the custom build worked as well. Since this driver is only for ESXi it won't affect any other hypervisors or VMWare Workstation / VMWare Player.

`        filesToClone, err := d.run(nil, "find", strconv.Quote(srcDir), "! -name '*.vmdk' ! -name '*.vmx' ! -name '*.vmxf' -type f ! -size 0")`

[2019-02-28 17:21] SwampDragons commented on #7354
My gut instinct is that this is really a Vagrant feature request -- if they did cryptographic signing, then we'd be motivated to support it; but as it is I'm not sure it's worth us implementing first. Have you opened an issue with the Vagrant team?

[2019-02-28 17:41] Neki commented on #7299
I had this issue on Ubuntu 16.04 (Xenial), but I can confirm that 22df491c67e51f9086dc91a9dc5c57c1d18be00e (branch `research_7299`) does fix this.

You mentioned in your PR that `we need to press enter twice for a readline to trigger`, but I'm not encountering any issue on my Ubuntu system.

Thanks to everyone involved here, it's impressive how quickly this was identified and fixed!

[2019-02-28 18:20] SwampDragons commented on #7285
Closing this since the release is tomorrow.

[2019-02-28 18:20] #7285 closed

[2019-02-28 18:20] SwampDragons commented on #7277
Closing this since the release is tomorrow.

[2019-02-28 18:20] #7277 closed

[2019-02-28 18:21] SwampDragons commented on #6615
I've nudged upstream folks and I guess they've got a repro but need to find time to dig in, so we're gonna have to bump this again. Sorry, all.

[2019-02-28 18:22] SwampDragons commented on #7140
Sounds like you've got a patch -- care to open a PR so you can get the credit, or would you rather I apply it myself.

[2019-02-28 22:48] ladar commented on #7354
Chicken. Meet my friend, Mr. Egg.

No I haven't opened an issue on the `vagrant` repo _yet_ (it's on the list). But my take was that without any boxes to actually verify, how (and why) would `vagrant` implement it? Hence my thinking that `packer` should implement it first (assuming signatures files doesn't cause the provider plugins to reject the tarballs), so there are signed boxes for `vagrant`

[2019-02-28 23:29] #6762 closed

[2019-02-28 23:30] #3329 closed

[2019-03-01 00:20] ladar commented on #7278
I **_wish_** I had this bug. It takes 48 hours for all of my Hyper-V images to build. Sometimes longer if any of the builds get stuck at the "Waiting of ssh access stage."

In regards to a solution, I had a couple of ideas you could try (I obviously don't have the hardware to do so myself)... namely, try adding PXE (aka the Network Boot option) to your boot order. That might buy the seconds you ne

[2019-03-01 03:15] ladar commented on #6615
I just finished uploading v1.9.4. Uploading all fo the boxes single file took ~8 hours, and out of the 453 box uploads, 31 retries had to be performed.

A retry means resending the file, so it's a lot of wasted bandwidth. More importantly, the inability to upload boxes in parallel hurts the most. When run 8 upload jobs at a time, I can push them a lot faster. Based on my experiments, I'd guess the

[2019-03-01 09:59] VikGit commented on #5766
Hello,

Got the same error with Packer v1.3.4, WinRM and Chef-Solo provisioner.
[code]
The recipe is empty.

Any updates on the issue?

[2019-03-01 10:06] dave-tucker opened #7358 "Allow building AMIs for ARM64 (aarch64)"
In Nov 2018 Amazon launched A1 instance types that are based on the ARM64 (aarch64) architecture.
I would like to use Packer to create AMIs for this instance type.

I've been testing using A1 instances with the EBS Surrogate builder.
This works well until the AMI is registered at which point it's architecture is [hard-coded to x86_64](.https://github.com/hashicorp/packer/blob/master/builder/amazon

[2019-03-01 18:10] SwampDragons commented on #5766
Sorry, I haven't taken a deeper dive past reproducing because the Chef provisioner is one of our community supported ones. (Community-supported means that normally the HashiCorp engineers don't spend much engineering time on them, apart from reviewing pull requests).  If this is affecting you, the fastest way to get it fixed is probably to investigate on your own and make a PR.

[2019-03-01 18:26] #7316 closed

[2019-03-01 18:39] SwampDragons commented on #7354
@chrisroberts could use your input on this.

[2019-03-01 20:01] SwampDragons commented on #7316
@frank3427 I'd love if you could test out another build for me; turns out my PR to close this conflicted with another PR which I _think_ should have solved this for you but I'd like to make sure that when it's released it doesn't break something we thought we already fixed:

[packer.zip](https://github.com/hashicorp/packer/files/2920888/packer.zip)

[2019-03-01 21:43] ronaldfenner opened #7360 "es"
_Please read these instructions before submitting_

**DELETE THIS TEMPLATE BEFORE SUBMITTING**

_Only use GitHub issues to report bugs or feature requests, see
https://www.packer.io/community.html_

For example, _Timeouts waiting for SSH/WinRM_ are generally not bugs within packer and are better addressed by the mailing list. Ask on the mailing list if you are unsure.

If you are planning to open

[2019-03-01 23:50] #7360 closed

[2019-03-01 23:51] #7140 closed

[2019-03-02 00:25] frank3427 commented on #7316
I will test tonight

On Fri, Mar 1, 2019, 2:01 PM Megan Marsh <notifications@github.com> wrote:

[2019-03-02 00:46] SwampDragons commented on #7355
can you give the builds over at #7361 a try and let me know if that fixes things for you?

[2019-03-02 01:03] chrisroberts commented on #7354
:wave: This topic has come up previously publicly (hashicorp/vagrant#9617) as well as internally. I see this definitely being a feature that would be introduced on the Vagrant side and then added to packer once support was available. We have had discussions around what it would look like not only within Vagrant, but on Vagrant Cloud as well. At this point, however, it has mostly just been some bra

[2019-03-02 08:15] rickard-von-essen commented on #6778
Closed in #6787

[2019-03-02 08:15] #6778 closed

[2019-03-02 08:17] rickard-von-essen commented on #6690
@azr is this closed by #6787?

[2019-03-02 14:45] campanellaf commented on #5667
Should I be able to use that variable to seet the name of the new AMI as follows?
`"ami_name": "My-{{ .SourceAMIName }}-Encrypted",`

I get the following when I try the above:

[2019-03-02 16:11] rickard-von-essen commented on #5667
@campanellaf No `.SourceAMIName` can only be used in `ami_description` and the different `tags` options.

[2019-03-02 18:35] mcandre commented on #7245
As I said, in this case, I desire no provisioning to be commenced, and the guest would not respond well to any ACPI signals from Packer to shutdown. The intent is simply to execute the `boot_command` script and let the build complete at `boot_command` termination.

[2019-03-02 20:38] rickard-von-essen commented on #7245
The question is how should Packer know when install has completed and if it was successful?

[2019-03-02 21:38] frank3427 commented on #7316
I ran the new versions and it seems to be running as expected.
==> amazon-ebs: Stopping the source instance...
    amazon-ebs: Stopping instance, attempt 1
==> amazon-ebs: Waiting for the instance to stop...
==> amazon-ebs: Enabling Enhanced Networking (ENA)...
==> amazon-ebs: Creating unencrypted AMI ddh9NUe from instance
i-09e94cf9910cdde2d
    amazon-ebs: AMI: ami-0e74ad21d884c3269
==> amazon-e

[2019-03-03 07:50] jmanuelortiz opened #7362 "ssl certificate binding breaks on 0x80070520 after sysprepinstance"
Describe the problem and include the following information:

- Packer version from `Packer 1.3.4`
- Windows Server 2016

- I am including the template i am using https://gist.github.com/jmanuelortiz/ffac013e6af68e6a19c8e4445e188d38

Issue started after i added the sysprepinstance -NoShutdown as i need to change the hostname on every  instance launch.

When the packer finished to build the ami ...

[2019-03-04 03:29] ad-m opened #7363 "Missing tag for "v1.3.5""
Hello,

At https://www.packer.io/downloads.html there is link to https://github.com/hashicorp/packer/blob/v1.3.5/CHANGELOG.md . That link is not valid due missing tag "v1.3.5" in that repository.

According to https://github.com/hashicorp/packer/blob/master/CHANGELOG.md v1.3.5 was released at February 28, 2019 .

Could anybody add / push valid tag for "v1.3.5" version?

Greetings,

[2019-03-04 08:26] StefanScherer opened #7364 "Make Inspec provisioner work better for Windows builds"
Congratulations to the new Inspec provisioner and thanks @xinau for the PR #7180. I walked through several blog posts yesterday to use Serverspec, then Inspec plugins, then I found that Packer 1.3.5 now has it built-in. 🎉

I immediately tried it out for some of my Windows Packer templates and struggled here.

The provisioner spins up a small SSH proxy, but I then struggled with Inspec that it firs

[2019-03-04 08:33] StefanScherer commented on #7364
Just for reference here is a part of a packer.log with an successful Inspec test that complains about a missing file as the provision script didn't install it correctly and also didn't fail.

https://gist.github.com/StefanScherer/c325ae2fb66c87bd1b19e501bbb55150#file-successful-inspec-windows-log

So Inspec really helps also for Windows builds 🎉

[2019-03-04 10:02] azr commented on #6690
@rickard-von-essen Yes thanks for the ping 🙂

[2019-03-04 10:02] #6690 closed

[2019-03-04 10:03] azr commented on #7035
Also FYI, #6787 just got merged

[2019-03-04 10:30] azr commented on #7363
Hey @ad-m, thanks for the heads up. I just tagged 542cb1d872b4fbba57f34ebb5913a266017a38df with v1.3.5

[2019-03-04 10:30] #7363 closed

[2019-03-04 11:22] gulzaman-k opened #7365 "File Provisioner directory Uploading Problem with Ubuntu 16.04 as source AMI."

[2019-03-04 13:07] JamieMagee opened #7366 "Arch Linux chroot "chmod: not found""
- **Packer version**: 1.3.4
- **Host platform**: Arch Linux
- [Example template and output](https://gist.github.com/JamieMagee/9047d38389d048d8f935334a4b868f9d)

I understand that [packer-builder-arm-image](https://github.com/solo-io/packer-builder-arm-image) is a plugin, and not a part of the packer core, but my issue is with the shell provisioner in chroot.

Running on Arch Linux I am unable to

[2019-03-04 13:28] azr commented on #7365
Hello @gulzaman-k, we would need more info than just the title to help you. Considering that the body of the issue was files then removed, I'm going to guess the issue was solved.
So I'm closing for now as we have no info, feel free to comment/edit here or open a new issue with a better explanation if you found a bug.

[2019-03-04 13:28] #7365 closed

[2019-03-04 13:43] gulzaman-k opened #7367 "File Provisioner directory Uploading Problem with Ubuntu 16.04 as source AMI."
**File provisioner not working as expected**
When I run packer build packer.json command my File provisioner shows log as it successfully moves assets directory from source to destination,
here are the logs

[code]

but when i enable the debug mode and ssh into the AMI I can't see the directory in the AMI.
Here is my File Provisioning script.
[code]
based on the script i should have assets directo

[2019-03-04 14:13] azr commented on #7299
Hey @Neki, thanks for the update, I didn't realise about this ! I'll dig/explain more in that PR.

[2019-03-04 16:48] packernewb opened #7368 "post processor Vsphere not escaping slashes for target VM for ovftool command"
Hello packer team! This is my first post ever, so please let me know if I missed any critical information for bug reproduction. Thanks!

My environment:
Packer Version = 1.3.1
Windows 10 x64d

I am using VMware 14 Workstation installed locally, the ovftool CLI (VMware ovftool 4.3.0 (build-7948156)), my datacenter is VCSA with an ESXI host.

My plan is to clone a generic template 2012r2 windows VM,

[2019-03-04 20:47] pavel-voinov opened #7369 "ena_support doesn't work as expected on some imported AMIs"
## Environment
- Packer v1.3.3
- Host platform is AmazonLinux 2018.03
- packer is running as part of the Jenkins job.

## Description of the problem
I have AMI imported previously from official Oracle Linux 6.10 ISO by packer amazon-import post-provisioner. AMI itself is ok. I built many other AMIs based on it and launched instances.
I tried to build new AMI based on this AMI with UEK and with "EN

[2019-03-04 22:25] #7225 closed

[2019-03-04 22:39] SwampDragons commented on #7366
Thanks for opening. This sounds like a $PATH issue on your guest system.

The way to handle this on Packer's end would be to hardcode that /bin/chmod path, but we generally don't hardcode system utility paths like this, on purpose. It makes us more flexible across platforms.

Because of that, my gut instinct here is that this isn't a Packer bug so much as a platform configuration quirk. If you can

[2019-03-04 22:39] #7366 closed

[2019-03-04 23:29] hazen-io commented on #7327
Apologies in advance, as I am not a programmer.

I attempted to write up the change you recommended above, however I think skipping the shutdown at the location you recommend would start exporting the VM while it is still running.

Given my limited experience, I'm not comfortable moving the change elsewhere in the logic. Nevertheless I have stubbed the changes you recommended in the following bran

[2019-03-04 23:46] SwampDragons commented on #7368
In v1.3.3 I did make a change fixing how we escape usernames; I'd like you to give that a try just to make sure that this hasn't already been fixed.

If that doesn't work, try out this binary
[packer.zip](https://github.com/hashicorp/packer/files/2928636/packer.zip)
 where I'm escaping the slashes in the source path. If this is really the root issue I'll be pretty surprised because I would have th

[2019-03-05 00:08] SwampDragons commented on #7362
Thanks for reaching out. I did a quick search, and it looks like that error code may be related to a corrupt update download.

I've never used iis, so I don't think I'll be much help in debugging your iis or .pfx file setups.

I don't think this is a Packer bug. I think it's a failure in one of the scripts you're calling. You may get lucky if you reach out to the [mailing list](https://groups.goog

[2019-03-05 00:08] #7362 closed

[2019-03-05 00:16] SwampDragons commented on #7367
Which specific ubuntu 16.04 AMI are you using?

[2019-03-05 03:20] ablundgren opened #7373 "v 1.3.5 no longer able to copy resources from symbolic linked directories"
version 1.3.5
linux (fedora 28) x86

log:
https://gist.github.com/ablundgren/88115ba7beacc18a29a4afca52c943fc

create symbolic link to directory containing resources to be copied onto the host.  Run the build and it fails with an lstat error.

[2019-03-05 05:49] gulzaman-k commented on #7367
we are using
**`ami-08660f1c6fb6b01e7`**

[2019-03-05 08:11] gulzaman-k opened #7374 "Packer build in debug mode isn't waiting for me to press Enter Key"
### **-debug command not working as expected**
When i run packer build command with -debug option it show's the message
`Debug mode enabled. Builds will not be parallelized` but console do not ask to press enter to move to next step. on each step ` Press enter to continue. ==> amazon-ebs:` appear and build process keep on running.

[2019-03-05 10:22] Dan-Wolfy opened #7376 "Feature Request; LXD metadata templates"
Hi all,

Sorry if my google/github-fu is weak, but I am trying to use packer to build to LXD images with cloud-init and believe I need to enable templates within the metadata.yaml. So this is a feature request to add the templates sections to the metadata.yaml and to create the templates within image/templates folder.

LXD Docs; https://github.com/lxc/lxd/blob/master/doc/image-handling.md

Example

[2019-03-05 10:58] Dan-Wolfy commented on #7376
From looking into to from LXD, easiest way would be to export the image, gzip -d, tar -vuf to update the metadata.yaml and templates/* so guessing this would be a Post-Processors for lxd/lxc image to export it and decompress, then override the file and lxc/lxd image import

[2019-03-05 12:54] ad-m commented on #7374
@gulzaman-k , could update update issue title to match issue description?

[2019-03-05 16:08] azr commented on #7374
Hello there; this looks like this is a duplicate from #7299 which is currently being investigated in #7352. I will close this duplicate issue, let's carry on in the existing one(s).

[2019-03-05 16:08] #7374 closed

[2019-03-05 16:25] e-mow commented on #7364
I second this request and have a question about provisioners and how they are allowed to access the host being built.

Are provisioners allowed to access the IP of the host that is being built or does it have to use the communicator that is set in the builder? I noticed that Ansible is not allowed to talk directly to the host IP and has to use the communicator. It doesn't look like Inspec would su

[2019-03-05 17:43] SwampDragons commented on #7373
What is the last Packer version that this worked for?

[2019-03-05 18:26] SwampDragons commented on #7369
ena_support isn't a variable, it's a template option. Setting a variable won't work unless you're also setting the option inside the builder section.

Example:

[code]

Or, to modify your example template:

[code]

[2019-03-05 18:27] SwampDragons commented on #7369
I'm closing this because it's a question and not a bug/feature request, but if you still have trouble setting this up feel free to respond or reach out to the [mailing list](https://groups.google.com/forum/#!forum/packer-tool)

[2019-03-05 18:27] #7369 closed

[2019-03-05 19:01] SwampDragons commented on #7327
I thought your whole issue was that you're shutting down the VM yourself, and that Packer is failing because it's already shut down. You _want_ Packer to skip the shutdown, don't you?

Have you built the branch and given it a try?

[2019-03-05 20:00] SwampDragons commented on #7367
Hi @gulzaman-k I was able to reproduce by uploading a directory to /tmp. Packer successfully uploads the files, and I verified this by connecting to the instance after the file provisioner had run. However, it appears that the tmp directory is getting cleared when the instance is shut down. I think this is an ubuntu behavior, not a Packer bug. When I upload the file to a different location, for ex

[2019-03-05 20:00] #7367 closed

[2019-03-05 20:17] SwampDragons commented on #7373
I can't reproduce on osx or my ubuntu machine; can you provide a packer template that reproduces?

[2019-03-05 20:20] SwampDragons commented on #7356
cc @LKaemmerling

[2019-03-05 20:22] SwampDragons commented on #7354
I'm going to close this since it's moot until #9617 is closed; Ladar, if you want yo add your details to #9617 that's probably the right place to track them.

[2019-03-05 20:22] #7354 closed

[2019-03-05 20:27] SwampDragons commented on #7272
Looks like this was a question rather than a direct packer bug; closing.  If you're still having issues reach out to the [mailing list](https://groups.google.com/forum/#!forum/packer-tool)

[2019-03-05 20:27] #7272 closed

[2019-03-05 20:31] SwampDragons commented on #5843
Looks like we were never able to reproduce this, so I'm closing for now.

[2019-03-05 20:31] #5843 closed

[2019-03-05 20:37] SwampDragons commented on #3572
There's now a `skip_export` option which should provide a workaround to this. I don't think ovftool directly allows you to download using a key.

[2019-03-05 20:37] #3572 closed

[2019-03-05 20:41] SwampDragons commented on #4342
@azr do you think this is something that could be solved now that we're moving to go mod?

[2019-03-05 20:42] SwampDragons commented on #4754
Going through old issues; I think what you're asking for isn't possible -- by the time we create an ami id, the instance has been shut down, so you can't add that id to code inside of the instance.

[2019-03-05 20:42] #4754 closed

[2019-03-05 20:45] SwampDragons commented on #4871
I'm going through old issues and it appears that this is now documented: https://www.packer.io/docs/builders/amazon-ebs.html#profile

So I'm closing.  If folks are still having trouble using AWS profiles, open a new issue :)

[2019-03-05 20:45] #4871 closed

[2019-03-05 20:45] drauba opened #7379 "Feature Request: Allow Instance Principal Auth for Oracle OCI builder"
Similar to Terraform Instance Principal Authentication

https://www.terraform.io/docs/providers/oci/index.html

An instance running in an OCI Tenancy can authenticate with Instance Principal instead of providing user ocid's and private keys.

[2019-03-05 20:48] SwampDragons commented on #5379
I'm going through old issues right now -- is this still a problem?  I've seen that particular test be flaky so it may not be a "real" issue with the build.

[2019-03-05 20:51] SwampDragons commented on #5442
I'm going through old issues; I think changing the tab to spaces would cause more problems for current users of Packer than it would solve. If someone's really passionate about this and has a very compelling reason to change it the I'll reconsider, but I think for now the change isn't worth it.

[2019-03-05 20:51] #5442 closed

[2019-03-05 20:55] SwampDragons commented on #5590
Since we never got an update on this, I'm going to assume it's been solved. If the issue here is that Packer is allowed to connect to the container before it's fully ready, then there's not much else we can do about it; these kinds of races are why we have configurable waits like pause_before.

[2019-03-05 20:55] #5590 closed

[2019-03-05 21:03] shibumi commented on #5379
Hi @SwampDragons this is no issue anymore for me. Not sure about the others. I suggest you close it.

[2019-03-05 21:06] packernewb commented on #7368
Ok, so after testing today i'm still not sure where this leaves me. Turns out I was testing several things at the same time. I eliminated more fronts of failure today.

First:  I was using Git Bash for Windows. turns out that my expectation that to target the file test in directory output should be:
`output\\test.vmx`

when this works in cmd:
`output\test.vmx` (which is what packers creates).

So

[2019-03-05 23:11] ablundgren commented on #7373
It works on 1.3.4.  I will set up a small example.

[2019-03-06 00:16] ablundgren commented on #7373
[packer-test.tar.gz](https://github.com/hashicorp/packer/files/2933701/packer-test.tar.gz)

inside the packer-test/sample run:
% packer image.json

The issue actually appears to be a copy problem when crossing a symlink that goes over two .. 's .
i.e:
file ->  ../../dest/file

[2019-03-06 06:01] LKaemmerling commented on #7356
First of all thank you @climann for the detailed bug report!

Just for information: I'm working on a solution for this.

[2019-03-06 12:05] GoodMirek commented on #5065
I have also encountered the same problem, but the workaround pasted [above](https://github.com/hashicorp/packer/issues/5065#issuecomment-333746340) did not work for me. It has started to work after adding one more SSH option, which is `IdentitiesOnly=yes`.
My `provisioners` section then looks like below:

[code]

[2019-03-06 12:23] pavel-voinov commented on #7369
Thanks a lot, @SwampDragons.
I did hope that I missed something obvious and I did. It's clear now.

[2019-03-06 13:57] StefanScherer commented on #7364
OK, or we make the Inspec train Ruby gem a little bit better aware of SSH'ing into Windows machines.

I found that when I change `plat.family('windows').in_family('os')` in line 27 https://github.com/inspec/train/blob/a585b0a385e34addfec2d97eb450d6db9bd2b386/lib/train/platforms/detect/specifications/os.rb#L27  to call the `detect_windows` function, it also checks `cmd /c ver` through the SSH proxy

[2019-03-06 14:23] StefanScherer commented on #7364
I've opened https://github.com/inspec/train/pull/416 to get feedback from the Inspec maintainers about that enhancement.

[2019-03-06 15:28] e-mow commented on #7364
Awesome, I had actually looked at inspec last night as well however it was the first time I have ever looked at Ruby and I didn't get that far. If inspec accepts your change that would be great.

[2019-03-06 17:56] climann commented on #7356
Awesome! Let me know if I can help!

[2019-03-06 18:00] SwampDragons commented on #7369
No problem! Reach out if you have any more questions :)

[2019-03-06 18:28] #5379 closed

[2019-03-06 18:42] SwampDragons commented on #7368
Oh weird I did not mean to build off of 1.2.6. Sorry about that. Here's a build off master with the slash escape added.  [packer.zip](https://github.com/hashicorp/packer/files/2937792/packer.zip)

The revelation about you using a special command line is pretty important; it explains why I haven't seen someone running packer via powershell or CMD raise this issue.

I'm not sure Packer can directly

[2019-03-06 19:07] naftulikay opened #7382 "AWS EBS Builder Returns 0 on Failure Without Credentials"
I use Packer in automated, CI/CD workloads for automating the building of machine images. My primary builder is the EBS builder for AWS. I am on latest 1.3.5.

When I run Packer from my CI server, if I don't include credentials, the build obviously fails, but Packer returns a 0 exit status, so my CI server sees it as a build passed.

Can we correct Packer to return a non-zero exit code when EBS bu

[2019-03-06 20:06] naftulikay commented on #7382
I am attempting to find the source of this issue. Here are my findings:

 - Common AWS Credential Session: [builder/amazon/common/access_config.go#108 AccessConfig.Session(...)](https://github.com/naftulikay/packer/blob/ec3b0a51383f16ec522c5ed391ce3fe79232046e/builder/amazon/common/access_config.go#L108)
 - EBS Builder Credential Acquisition: [builder/amazon/ebs/builder.go#90 Builder.Run(...)](htt

[2019-03-06 22:27] naftulikay commented on #7382
I have not been successful getting an environment up to experiment with the source code. I've been able to build the binary but it seems to be ignoring my files on disk; if I enter garbage that should break Go compilation, `go build` still seems to succeed.

[2019-03-06 22:42] SwampDragons commented on #7382
Do you have debug logs (produced with PACKER_LOG=1)?  If I can see logs and what error is getting thrown it may help us understand why it isn't being picked up.

As far as your build issues -- try using the makefile to build instead and see if that helps.  e.g. call `make dev` instead of `go build` and use the packer produced in ~/go/bin

[2019-03-06 22:51] naftulikay commented on #7382
So I have done the following to try to stimulate more output to detect what's happening:

[code]

However, when I `go build` or `make dev`, this code still compiles, though it shouldn't. Git shows the file as changed because it is, but my changes aren't getting into the binary.

Here is the `PACKER_LOG=1` output:

[code]

I'm not sure if this output is helpful, but what am I missing when compiling

[2019-03-06 23:02] SwampDragons commented on #7382
What's the output from `make dev`? Does it also return 0? When you run `which packer` and `packer version` what packer what do you get?

As for my guess about what's happening here... it looks like we need to instantiate the state bag before we call

[code]

and then put the error into the state. Let me do a quick repro and build and I'll give you a binary to try out.

[2019-03-06 23:03] naftulikay commented on #7382
Output is:

[code]

Go is 1.12.

[2019-03-06 23:12] SwampDragons commented on #7382
You can suppress that annoying gomodule output by setting `GO111MODULE=off` but hmm. You're completely right that this should not be building.

[2019-03-06 23:20] SwampDragons commented on #7382
This is very strange; on my machine, packer exits 1 as expected:

[code]

I can't reproduce on my linux vm either.  I still get an exit code of 1.  Are you sure there's not a wrapping script that is eating your exit code?

[2019-03-06 23:28] naftulikay commented on #7382
I'm executing my Packer builds from a Makefile:

[code]

Because #4558 won't ever happen, I stream my output to a file and parse that file to extract the built region to AMI ID mappings and then disassemble the AMIs manually.

`tee` is swallowing the return code and returning 0 always. TIL. Prefixing the command with `set -o pipefail; ...` fixes the issue. Sorry for the trouble!

Any idea why I'm

[2019-03-07 00:17] SwampDragons commented on #7382
Huh, I didn't know that either!  Glad you've found the solution.

I'm not sure why you're seeing that behavior with build. I'm going to guess that there's something going on with your vendoring situation that's causing go install to short circuit rather than rebuild Packer... but without sitting down at your terminal I'm pretty sure I'll be terrible at helping you debug.

Are you doing this outsid

[2019-03-07 00:18] SwampDragons commented on #7382
I'm going to close this issue since we've figured out your original problem, but if you still can't get this to build can you reach out to the mailing list?  https://groups.google.com/forum/#!forum/packer-tool

[2019-03-07 00:18] #7382 closed

[2019-03-07 00:46] naftulikay commented on #7382
Will do, thanks!

[2019-03-07 08:22] tremble opened #7383 "RFE: Support running a 'cleanup' script on VMs/Instances prior to shutdown"
We would like to *always* (think finally from the try/catch/finally pattern) try to run a "final" provisioner step on our instances prior to running the shutdown / cleanup steps.

As part of our image build process we register/subscribe our Instances/VMs to Satellite so that we can install packages.  When a build fails for some reason this can then result in 'subscribed' instances which no longer

[2019-03-07 10:01] azr commented on #4342
Hey there, my first guess would be yes, if two package use the same go module with the same signature, then this error should be gone.

I'll try to reproduce and confirm.

[2019-03-07 10:11] azr commented on #4342
I confirm, this issue is already fixed on master.

[code]

[2019-03-07 10:11] #4342 closed

[2019-03-07 10:39] loibpet opened #7384 "Insufficient error handling upon ansible build errors: Error code not set correctly by packer"
**packer -v: 1.3.4**
Provisioner: ansible
Working on RedHat 7.6

Integrating packer into a CI/CD pipeline requires correct error handling, i.e. any errors during a packer build need to be caught to stop the CI/CD process. That fails with ansible.

**Setup:** provoke error in ansible with
[code]

The ansible error is identified correctly, the job stops and the error is reported:
[code]

However, pa

[2019-03-07 10:41] azr commented on #6120
Hello there, I created a PR to fix this in https://github.com/hashicorp/packer/pull/7385, please tell me if it's enough for you. 🙂

[2019-03-07 13:26] azr commented on #6897
Hello there, I think this issue could have been fixed by #6787 that has been recently merged into master. Can someone please confirm this for me ? Otherwise I'll try to see what I can do.

[2019-03-07 14:50] jmanuelortiz commented on #7362
Thanks @SwampDragons ... i will have a look this week and see with the breakpoint provisioner...

Thanks!!!

[2019-03-07 15:10] #7356 closed

[2019-03-07 17:21] #7355 closed

[2019-03-07 17:41] SwampDragons commented on #7384
I can't reproduce; on my system Packer exits 1. Are you sure that the script you're using to call Packer in your CI environment isn't eating the exit code?  For example, another user recently discovered that if you're piping Packer's output through tee, you could be seeing tee's exit code instead. (https://github.com/hashicorp/packer/issues/7382)

[2019-03-07 17:47] #7299 closed

[2019-03-07 17:57] SwampDragons commented on #7383
Thanks for opening. I _think_ this is a duplicate of #6760, so I'm going to close this to keep the conversation there. I'll add your post comment to that issue so that we have a clear record of your use case.

[2019-03-07 17:57] #7383 closed

[2019-03-07 17:58] SwampDragons commented on #6760
From #7383:

[code]

[2019-03-07 23:41] matthack commented on #6897
Hi @azr, thanks for reaching out.

I tested using the binaries you posted on Dec 17 2018 on #6787 and I'm still seeing the undesired behavior of 3 snapshots getting created with the ebs-surrogate provider.

[2019-03-08 01:04] scross01 commented on #7033
To get WinRM working for remote provisioning OCI Windows images there are a few small hurdles to jump through:

The article https://medium.com/oracledevs/managing-oracle-cloud-infrastructure-iscsi-block-volume-attachments-with-terraform-16ae46fdf3b4 covers how I got this working with Terraform, the same approach may work for Packer.

1. Create security rule on the target subnet security list to en

[2019-03-08 01:23] scross01 commented on #6844
I'd propose adding an optional `image_compartment_ocid` parameter to designate the target compartment for the image.  `compartment_ocid` would be continue to be used for the build instance.  `image_compartment_ocid` would default to the compartment id if not set for backward compatibility.

[2019-03-08 05:11] grv87 commented on #7157
@SwampDragons, could you tell a reason why this issue is closed?

[2019-03-08 10:15] azr commented on #7157
Hello @grv87 it's right up your message

a fix was merged for it ! 🙂

[2019-03-08 10:21] edward2a commented on #5744
@rickard-von-essen @mitchellh @mwhooker guys, just a thought, the HCL support has been mentioned for years now, and there is a sample implementation of YAML as you acknowledged here: https://github.com/hashicorp/packer/issues/5744

ref #4200 for visibility

Why not just take a bit of time to add this and make our (user's) life easier until HCL is supported, which at least myself, I'm not looking f

[2019-03-08 12:18] e-moshaya opened #7388 "packer keeps skipping ansible task"
I am passing --extra-vars arango_cluster=false to packer ansible provisioner which should run the task below. This works absolutely fine in test kitchen. However, in Packer it keeps skipping the task with:

[code]

[code]

[2019-03-08 13:03] vtolstov commented on #5744
some years ago i'm already provide pr to support yaml transparently (it converts inside packer yaml to struct like json), but packer team does not want to merge it.
https://github.com/hashicorp/packer/pull/4461

@rickard-von-essen or other devs, may be its time to bring this up again as hcl/hcl2 not in packer for years?

[2019-03-08 13:50] edward2a commented on #5744
@vtolstov that sets another precedent that it can be done with not much effort.

I have nothing against HCL, but as mentioned, not yet supported and also lack of official libraries for different languages is not encouraging. In fact, I understand that so far, HCL has been a Hashicorp only data model and wonder whether if pushing in that direction does not actually hinder adoption of the tools in a

[2019-03-08 14:03] e-moshaya commented on #3253
why was this issue closed when it hasn't been resolved?

[2019-03-08 14:19] blorette opened #7389 "Packer For Azure Image Build"
Using Packer to build Azure Managed Images. I have found that for Azure the ARM templates used are complied. Also, specific to the Windows Workflow, It requires Key Vault which is also built via a pre defined template.

Would like to be able to do either of the following:

Provide an already built Key Vault and configured Key Vault to be used to store and pull the certificate. This is to keep from

[2019-03-08 14:28] rickard-von-essen commented on #3253
@e-moshaya this is a old issue. If you have a similar problem I suggest that you open a new issue and supply all the requested information.

[2019-03-08 17:13] ktmorgan commented on #7306
Correct me if I'm wrong, but I think this was implemented in version 1.3.0.

https://github.com/hashicorp/packer/pull/5165

By setting these values, I am able to accomplish that.
[code]

And this is the output when running packer
[code]

[2019-03-08 23:12] SwampDragons commented on #4387
This work has been completed in #7390; if anyone wants to try out a build of the branch, they're available on that PR.

[2019-03-09 00:15] SwampDragons commented on #5744
I know that the length of time the HCL issue has been open has caused a lot of cynicism, but it's on our internal roadmap planned for v1.5.0 (probably septemberish 2019) and we have done a lot of thinking and preliminary work on it.

If you want to make or work off a fork of Packer that supports yaml in the meantime, you're welcome to do so, but I still don't want to support the extra config langu

[2019-03-09 23:41] edward2a commented on #5744
Alright, will try to ge that done. http://alt-packer.co

I was hoping it would not come to that, hopefully we will not end like RSS or that poster from CNCF.

I do not understand why the term 'cynicism' is invoked in relation to requesting an industry standard data model.
Hashicorp has created some very nice tools and an ecosystem around it, that's great, but this kind of attitude gives me the fee

[2019-03-10 06:15] SwampDragons commented on #5744
I think I might have been unclear. When I said “cynicism” I was thinking about about folks thinking we were never going to actually get around to implementing HCL; I wasn’t talking about y’all.

Sent from my iPhone

[2019-03-10 06:19] alexfeig commented on #5846
+1, I use Ansible to call packer and it would be nice to not have to worry about ports.

[2019-03-10 06:41] SwampDragons commented on #5744
Well, that was an unfortunate phone autocorrect. (YAML --> y'all in my previous comment. Edited to clarify on the github comment.) 🤦‍♀️

For what it's worth, I promise we are not trying to keep Packer inside some kind of HashiCorp walled garden. The entire philosophy of the company is that we make lots of different tools and you can use one of them or all of them, and we're happy either way. We pr

[2019-03-10 14:43] nick-korsakov opened #7392 "Virtual disk registration not removed from The Virtual Media Manager of VirtualBox in some cases"
Info:
- Packer version: v1.3.5
- Host platform: Windows 10 x86-64 (1809)
- Debug log: [output](https://gist.github.com/nick-korsakov/5dbdde56d99f6b8df907ed16b2a4711d)
- The example: [template](https://gist.github.com/nick-korsakov/570be9beca380650aa72c4cf4dc6ebc5)
- ISO: [Windows 10](https://www.microsoft.com/en-us/software-download/windows10ISO)

I would like to create VM which is closely repeats

[2019-03-10 17:43] ff-agrawal opened #7393 "Error Copying AMI (ami-id) to region (us-east-1): InvalidRequest:"
Error Copying AMI (ami-id) to region (us-east-1): InvalidRequest: Snapshot snap-id is encrypted. Creating unencrypted copy from an encrypted snapshot is not supported. I looked into the workaround mentioned here
https://github.com/hashicorp/packer/issues/6789 but I am still getting the same exception am using 1.3.5 packer version.

Kindly note its not boot volume(snapshot) that is encrypted, its a

[2019-03-10 18:17] rickard-von-essen commented on #7393
Please supply the information requested in the issue template:
- Packer version (`packer version`)
- Host platform (`uname -a` etc.)
- Debug log output from `PACKER_LOG=1 packer build template.json`.
  Please paste this in a [gist](https://gist.github.com).
- The _simplest example template and scripts_ needed to reproduce the bug.
  Include these in your [gist](https://gist.github.com).

[2019-03-10 18:38] ff-agrawal commented on #7393
Packer version (packer version) = v 1.3.5
Host platform (uname -a etc.) = Linux 4.14.101-75.76.amzn1.x86_64 #1 SMP Tue Feb 19 18:14:51 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux
Debug log output from PACKER_LOG=1 packer build template.json.
Please paste this in a gist. https://gist.github.com/ff-agrawal/fc09b6a457c11750c7968afb2c87eec2
The simplest example template and scripts needed to reproduce the

[2019-03-10 21:08] rickard-von-essen commented on #7393
Please [gist](https://gist.github.com/) a full debug log from `PACKER_LOG=1 packer build template.json`.

[2019-03-11 02:37] karl-cardenas-coding commented on #7142
v1.3.4

As everyone else on this thread, I too encounter this issue in a pipeline, however when I invoke Packer from my workstation the assumed role and respective target account is found. Just a regular config and credentials file, nothing out of the ordinary.

[2019-03-11 05:14] ff-agrawal commented on #7393
@rickard-von-essen please find debug logs at https://gist.github.com/ff-agrawal/fc09b6a457c11750c7968afb2c87eec2

[2019-03-11 05:34] rickard-von-essen commented on #7393
Could you _please_ include the _full_ log, from where packer starts to it finish. It includes valuable information for us.

[2019-03-11 05:44] ff-agrawal commented on #7393
@rickard-von-essen I have updated the logs again hopefully not it has all the info you need
https://gist.github.com/ff-agrawal/fc09b6a457c11750c7968afb2c87eec2

Kindly note I have removed chef converge part logs

[2019-03-11 14:04] meteorlad opened #7394 "win 2016 set host-passthrough ?"
Describe:

I used packer to install the blue screen of win 2016. Therefore, I conducted debugging through virt-install and found that the "-- CPU host-passthrough" parameter should be added. So how do I use the `" --CPU host-passthrough"` model in packer?

The virt-install complete command：

[code]

Env：

- packer 1.2.5
- CentOS Linux release 7.5.1804 (Core)
- qemu-kvm 1.5.3

[2019-03-11 15:57] azr commented on #5744
Hello there, I wanted to add a few things on top of what @SwampDragons said:
* HCL2 is still very fresh and terraform 0.12 ( which is using it ) has reached beta stage only very recently: https://www.hashicorp.com/blog/announcing-terraform-0-1-2-beta1 and I think we can start being optimistic about HCL2's future 🙂but these things take time generally.
*  one could use [yq](https://yq.readthedocs.io

[2019-03-11 17:39] SwampDragons commented on #7394
You probably need to set it via qemu-args: https://www.packer.io/docs/builders/qemu.html#qemuargs

[2019-03-11 17:39] #7394 closed

[2019-03-11 17:52] SwampDragons commented on #7393
Have you tried using the v1.4.0-dev binary on https://github.com/hashicorp/packer/pull/6787?

If not, here's a linux build of the master branch, which should hopefully resolve this. Please let me know if it does so I can close this issue. :)

[packer.zip](https://github.com/hashicorp/packer/files/2953566/packer.zip)

[2019-03-11 18:53] SwampDragons commented on #7142
@karl-cardenas-coding Are you also using CodeBuild?

[2019-03-11 21:29] karl-cardenas-coding commented on #7142
@SwampDragons No, I'm using Gitlab and Gitlab CI

[2019-03-11 21:50] sahotay commented on #2973
+1

[2019-03-11 22:18] rajinders commented on #7304
Here is a temporary workaround. Once packer saves image as a storage account type of HDD you can change it for Premium disk using the script here. https://blogs.technet.microsoft.com/keithmayer/2017/08/17/how-to-azure-managed-vm-images-using-premium-data-disks/

I did try this a few months ago and it worked for me.

[2019-03-11 22:21] SwampDragons commented on #4837
I think this is no longer an issue; just tested amazon-import and got an AMI whose size was 40GB.

[2019-03-11 22:21] #4837 closed

[2019-03-12 02:12] mcandre commented on #5744
I take it back. It's not that packer needs to support YAML. It's that as a society we need to ignore Crockford and establish that JSON gets to have comments. So many man months wasted on developing alternative syntaxes when we could have done this in the first place!

[2019-03-12 05:55] rickard-von-essen commented on #2973
Already implemented, see https://packer.io/docs/builders/amazon-ebs.html#run_volume_tags

[2019-03-12 07:02] rickard-von-essen commented on #7245
There is no feedback from `boot_command`   there is no way of knowing if it was successful or if it even has completed yet. Actually complete is an undefined state if you don't have any way of communicating with the OS.

[2019-03-12 17:11] J00MZ opened #7398 "packer -force azure-arm crashed "disk with name datadisk-1 already exists in Resource Group""
- `Packer v1.3.5`
- `Linux 4.4.0-1065-aws, Ubuntu 16.04.6 LTS`

Running `packer -force` via shell build step in Jenkins

`packer build -force -var-file=conf/azure.json -only=azure-arm packer.json`

failure RC is existing disk 'datadisk-1'

However, I'm reporting this since I got the below message:
[code]

- packer.json [here](https://gist.github.com/J00MZ/5cd719f1416aeb623de841d22d3a101c#file-pack

[2019-03-12 17:25] SwampDragons commented on #7393
Closing for now, but we can reopen if the provided binary doesn't work.

[2019-03-12 17:25] #7393 closed

[2019-03-12 18:18] #7247 closed

[2019-03-12 18:34] fenneh commented on #7224
Running into a very similar situation but on Azure.

When building machines in Azure we need to set proxy settings (to be able to connect), the machines being built can't have a public IP so get an internally route-able IP which we don't know in advance.

WinRM will then time out as it's trying to connect to said IP out via the proxy.

[2019-03-12 18:58] nick-korsakov opened #7399 "Floppy disk doesn't removed after Packer interrupted"
Info:
- Packer version: v1.3.5
- Host platform: Windows 10 x86-64 (1809)
- Debug log: [output](https://gist.github.com/nick-korsakov/a825caab967b0522bc1ee1d75d28b2d2)
- The example: [template](https://gist.github.com/nick-korsakov/998a33ad6062fab6e51f52212fb33813)
- ISO: [TinyCoreLinux](https://distro.ibiblio.org/tinycorelinux/10.x/x86/release/Core-current.iso)

Floppy disk (**not controller**) do

[2019-03-12 20:41] mfunger commented on #7142
v 1.3.4
Building an AMI using Jenkins and an ECS worker. The Jenkins worker assumes a role in a separate account that has all the requisite IAM policies, but I still get:
[code]

[2019-03-12 20:43] centminmod opened #7400 "digitalocean skip_clean, what about a skip_destroy ?"
For digitalocean, you have a skip_clean flag so skip clean up scripts. Is there a an option o skip destroying the temp build droplet ? If not, would be nice to have a skip_destroy option too.

Use case, is if I want to create additional snapshot images at time of packer build run. So can skip the droplet destroy and script query to run additional new snapshot images before destroying the temp drop

[2019-03-12 23:33] adamday2 commented on #7267
Forgot to reply to this earlier, but thank you @paulmey for the timely fix on this. Much appreciated!

[2019-03-13 00:00] vhaidamaka commented on #7388
@e-moshaya According to [Ansible Documenation - Using Variables](https://docs.ansible.com/ansible/latest/user_guide/playbooks_variables.html#passing-variables-on-the-command-line):

Passing `"extra_arguments": [ "--extra-vars", "'{\"myvar\":\"false\"}'"]` with escaped JSON data is not recognized by ansible:
[code]

As a solution, you can change _when statement_ for your task:
[code]

@SwampDragons

[2019-03-13 06:27] rickard-von-essen commented on #7142
@mfunger that seems unrelated and like a configuration error. Send a email to the mailing list with some more details.

[2019-03-13 06:54] marcinbojko commented on #5023
@SwampDragons - It's extremely hard when you have no clue about Go ;)
Just asking - I've hit this problem long time ago. Can we, for example, add extra variable for, I don't know, interface name to get IPs from?
Right now, for what I could guess it tries to interact with 'ManagementOS' part of VmNetworkAdapter. When it's not present, it defaults to False.
I think we can:
- when it's false on non-i

[2019-03-13 10:35] mastertinner commented on #7142
I have just run into a very similar bug. It seems, using profiles only works if the `AWS_ACCESS_KEY_ID` and `AWS_SECRET_ACCESS_KEY` environment variables are not set. I just did a test where I had the config files set up and the two mentioned environment variables set. In that case, the `aws` CLI worked as expected but `packer` didn't. When I unset the two environment variables, all of a sudden, `

[2019-03-13 11:47] rickard-von-essen commented on #7142
@mastertinner that is something unrelated, and seems to be correct according to [the documentation](https://packer.io/docs/builders/amazon.html#authentication). If it still seems wrong after reading that please open a new issue.

[2019-03-13 13:48] markododa opened #7401 "salt-masterless no_exit_on_failure has no effect"
Running packer 1.3.5 on archlinux, a packer template that worked a few weeks ago suddenly stopped working, packer catches the error code of salt-call and quits even though i have set no_exit_on_failure to true.
Here is the gist https://gist.github.com/markododa/8fcd3c0f93b312c3c5a828e61d6d1cf8

[2019-03-13 14:55] dza89 opened #7402 "Security_Group_Filter - Selecting multiple unique Security Groups"
Is it possible to select multiple unique security group ids?
For example:

I have two security groups, one for the OS layer and one for the Application layer:

"security_group_filter": {
                "filters": {
                  "tag:Name": "myawesomeOS",
                }
            },
                "filters": {
                  "tag:Name": "myawesomeApp"
            }
          },

When

[2019-03-13 15:03] azr commented on #7399
Hi @nick-korsakov, thanks for opening, could you please update your debug output by running packer with `PACKER_LOG=1` set in your env first please ? It worked for me locally ( mac os ).

[code]

[2019-03-13 15:07] rickard-von-essen commented on #7402
No, but you can just add a new tag `foo:bar` on both of them and search for that.

[2019-03-13 15:07] #7402 closed

[2019-03-13 15:18] dza89 commented on #7402
So I have one generic security group and one application specific security group.
So now I can never create multiple sets with the same generic security group, except when i give that generic security group numerous tags (one for each application)
Correct?

[2019-03-13 16:19] rickard-von-essen commented on #7402
Yes, or you use (multiple) executions of the  aws cli to generate the list of security groups and pass that as a user variable.

[2019-03-13 17:44] SwampDragons commented on #7368
I'm going to close this as "wontfix" for now because of the custom shell being used, but if you haven't found a workaround please reach out to the mailing list and we'll help you figure something out.

[2019-03-13 17:44] #7368 closed

[2019-03-13 17:50] packernewb commented on #7368
@SwampDragons

Which one is that?

[2019-03-13 17:53] SwampDragons commented on #7368
ah, sorry -- https://groups.google.com/forum/#!forum/packer-tool

[2019-03-13 19:36] PaulDotNet opened #7403 "Improve existing AMI name conflict error message"
When creating AMI with the same name packer displays the following error:

     amazon-ebs: Error: name conflicts with an existing AMI: ami-123456789

This message is somewhat misleading as it does not mention the name that is causing the problem. In environments with continuous deployment tools AMI names may be generated automatically thus making problem even more difficult to figure out. Some ne

[2019-03-13 20:59] nick-korsakov commented on #7399
Done.

P.S.: Debug output was missed due to WSL inability to pass environment variable `PACKER_LOG=1` from Linux to Windows when I ran it as `$ PACKER_LOG=1 packer.exe build template.json`.

[2019-03-13 21:07] nick-korsakov commented on #7392
Debug [output](https://gist.github.com/nick-korsakov/5dbdde56d99f6b8df907ed16b2a4711d) updated.

P.S.: Debug output was missed due to WSL inability to pass environment variable PACKER_LOG=1 from Linux to Windows when I ran it as $ PACKER_LOG=1 packer.exe build template.json.

[2019-03-13 22:35] JohnnyBopper opened #7404 "vmware-vmx Remote Cleanup Fails"
Packer Version: 1.3.5
Host Platform: ESXI
Log Output and Config: https://gist.github.com/JohnnyBopper/52420325919c4fd862338a81accb48b7

The build runs fine until it goes to destroy the VM in which case it never succeeds or fails out the build, it gets stuck attempting to destroy the VM.

I am seeing this error in the log:

Canceling the build doesn't work and the only way to cancle is to close out

[2019-03-13 23:23] #5621 closed

[2019-03-13 23:23] #6991 closed

[2019-03-13 23:23] #6443 closed

[2019-03-13 23:23] #7288 closed

[2019-03-13 23:23] #7309 closed

[2019-03-13 23:35] dev-head commented on #7295
what if you have a comma in the value that you don't want it to split against?

[2019-03-14 09:59] azr commented on #7399
Howdy, thanks for the update, the `os.Remove` probably failed but the error was not being displayed by the code.

Could you please run it again from this pr #7405 ?

Here's a windows binary in case: [packer_windows_amd64.zip](https://github.com/hashicorp/packer/files/2965777/packer_windows_amd64.zip)

[2019-03-14 10:02] programmer04 commented on #7308
I would like to implement it @SwampDragons @nsballmann , but it turned out to be a little tricky. First of all, there is no way to determinate if a string is a correct path for Windows or Linux, if it requires conversion etc. For example in Linux paths with `\` are correct e.g. `/etc/fun/test\ tt/file.txt`. Evaluation based on which platform Packer is running on can provide error when a user passe

[2019-03-14 10:08] azr commented on #7308
Howdy @programmer04, `"github.com/hashicorp/go-getter/helper/url".Parse` will change `\` to `/` for you, it's used in the step download. In general it tries to return uniformly formatted urls, eg:

https://github.com/hashicorp/packer/blob/721cad10125d3d98c4357d457b02463598861f85/common/step_download.go#L79-L82

[2019-03-14 11:46] programmer04 commented on #7308
Hi @azr thanks for a piece of advice. But this helper only works properly with Windows path on a Windows machine.
On MacOS for Windows path:
[code]
In the case of this issue, users can pass a path as a string in whatever format they want. I know that it is probably an edge case to use this filter `file_uri` for a Windows path on non Windows machine,  but still a case to consider. In solution I'd l

[2019-03-14 14:37] azr commented on #7308
@programmer04 yes this is a concern I had when I saw this func but then I couldn't come up with a case where this would happen &  be an issue. [ when using files ]. Do you have one ?
My thought is that if your are using `c:\\WINDOWS\\clock.json` then you are running on a windows system.

[2019-03-14 16:09] programmer04 commented on #7308
@azr good question. I want to make it robust for all cases. The only case which comes up my mind is when a user uses Packer on non Windows machine to build a Windows image and use proposed `file_uri` for a path which provides himself/herself explicitly as a string e.g. using the proposed `file_uri` to modify path passed as variable in a provisions section or some other little weird idea.

[2019-03-14 16:33] SwampDragons commented on #7308
Packer intentionally tries to know nothing about the operating system of the guest machine -- therein lies madness, and this is just one example of why.

It sounds to me like this is maybe a change that would cause more complexity than it would prevent. Maybe users would be better served by doing any file URI conversions themselves? It's very possible that the "best" solution is just to update the

[2019-03-14 16:36] azr commented on #7308
Yup, I agree with you there @SwampDragons. Also, the recent go-getter merge improved this issue a bit as the go-getter has a robust path mechanisms.

[2019-03-14 17:24] stephen-fox opened #7406 "macOS terminal: output gets broken"
# Description
@chrismarget and I noticed that our macOS Terminal output [gets all messed up](https://ibb.co/qjFYrBC) after Control+C'ing a build. This happened after updating our local packer git repos and building the latest ref in GitHub. It's almost like a return does not print a `\n` anymore.

This issue occurs in the latest commit in `master`. It does not occur in any existing packer releases

[2019-03-14 18:08] SwampDragons commented on #7406
thanks for the heads-up. @azr wanna take a look?

[2019-03-14 18:22] #4387 closed

[2019-03-14 20:25] vhaidamaka commented on #7406
The same behavior in the Debian buster.
GNU bash version 5.0.0(1)-release
Packer was built from the latest master.

Terminal line settings were captured by `stty --all` command before launch a packer (tty_normal) and after (tty_problem). stty is utility to change and print terminal line settings.
Here is the diff between line settings:
[code]
**icrnl** option is disabled in terminal settings after

[2019-03-14 21:20] nick-korsakov commented on #7399
`Ctrl+C` doesn't work on this build and I can't interrupt Packer to reproduce the error.

[2019-03-15 00:00] smiteshpawar opened #7408 "packer use_backing_file does not create qcow2 image with backing file"
Packer Qemu builder when set use_backing_file creates new qcow2 image that does not use original image as backing file. That causes output file to be very large instead of just diff on top of original file.

- Packer version from `packer version`
[vagrant@kvm-host ~]$ packer version
Packer v1.3.5

- Host platform
CentOS 7.5

- Debug log output from `PACKER_LOG=1 packer build template.json`.

https

[2019-03-15 05:19] johnjelinek opened #7409 "vmware-vmx exports wrong VM"
Building an ovf from vmware-vmx results in exporting the source VM and not the VM that was cloned. Here's a snippet:

[code]

`amzn2` is the name of the source vmx and the clone takes on the same name, however the datastore location of the clone exists in a folder named `amazon-2-x86_64`. I expect all actions to be done on the clone:

<img width="501" alt="Image 2019-03-15 at 12 12 03 AM" src="htt

[2019-03-15 05:33] johnjelinek commented on #7409
added `"display_name": "{{ user `name` }}",` and all seems fine now.

[2019-03-15 05:33] #7409 closed

[2019-03-15 09:53] ff-agrawal opened #7410 "Error modify AMI attributes: InvalidParameter: Snapshots encrypted with the AWS Managed CMK can’t be shared. Specify another snapshot"
@rcaught @azr on latest 1.4 packer I am getting
[code]
Kindly note I don't want my boot/root volume to be encrypted, an additional volume that I am attaching needs to be encrypted and while sharing new ami created should also have that encrypted snapshot.

[2019-03-15 09:57] azr commented on #7406
Howdy, a Close call was missing, thanks @vhaidamaka for pointing it out ! Can anyone please tell me if the binaries provided in #7411 fix this ?

[2019-03-15 10:03] azr commented on #7410
Please share your buildfile ! 🙂

[2019-03-15 10:10] #7406 closed

[2019-03-15 10:11] azr commented on #7406
Hello there I merged #7411 as I'm pretty sure it's the fix for this and it was getting in the way of another issue, please tell me if the problem persists, I'll investigate more.

[2019-03-15 10:15] ff-agrawal commented on #7410
@azr you can find debugs logs at https://gist.github.com/ff-agrawal/7cc59057c4b230d71deb6870c2dcecb5

[2019-03-15 10:50] programmer04 commented on #7308
So to wrap up:
- nothing new to implement,
- I will make a pull request, which enhances [template docs](https://github.com/hashicorp/packer/blob/master/website/source/docs/templates/engine.html.md) by providing an example about manipulating a file path with usage of `sed`

[2019-03-15 10:51] nsballmann commented on #7308
I specifically had in mind to restrict the usage of the `file_uri` filter to the template functions `pwd` and `template_dir`, because their values are acquired in a host OS dependent manner. Then the values are of known format and then the conversion *should* be trivial, maybe even built-in in Go (in Python it is, Go is unknown to me).

If you broaden the usage of the filter to *all paths* there i

[2019-03-15 10:51] ff-agrawal commented on #7410
@azr I believe you have all the information know to debug futher

[2019-03-15 10:53] azr commented on #7410
@ff-agrawal, I need your json buildfile or a simplified version of it so that it's easier to reproduce on my side, this would save me a lot of time 🙂

[2019-03-15 10:57] ff-agrawal commented on #7410
@azr I did provided the link of the template it in my previous comment https://github.com/hashicorp/packer/issues/7410#issuecomment-473230994

You can remove all the chef part and can trying creating ami with root non encrypted volume and another volume encrypted post that try sharing the ami say to Frankfurt region

[2019-03-15 11:05] azr opened #7412 "on windows interrupt ( ctrl+c ) signals are ignored"
I saw first in https://github.com/hashicorp/packer/issues/7399#issuecomment-473067968 due to the recent tty incorporation.

I already have a fix PR here: https://github.com/mattn/go-tty/pull/12 I am not 100% sure this fix will be an okay fix.

[2019-03-15 11:08] azr commented on #7399
Hello @nick-korsakov, ah sorry a recent unrelated change broke this, I am glad we saw this, now it should be better :

[windows_amd64.zip](https://github.com/hashicorp/packer/files/2970706/windows_amd64.zip)

[2019-03-15 11:20] azr commented on #7410
Thanks for adding it there, I will look into it 🙂

[2019-03-15 12:37] vhaidamaka commented on #7406
@azr I just checked your binary in #7411 on Debian stretch, everything works correctly: terminal line settings is not changed after packer launch.
Thanks.

[2019-03-15 13:03] azr commented on #7406
Awesome, great news ! Thanks for telling me @vhaidamaka

[2019-03-15 13:40] chrismarget commented on #7406
I just built 2c0f6944159d637b9242719882b9e1a8ecbbea15, the new Close() has improved my terminal experience on OSX.

[2019-03-15 14:50] stephen-fox commented on #7406
Thank you @vhaidamaka for the technical explanation and fix. I appreciate the super fast turn around from you and @azr!

[2019-03-15 17:34] nndegz opened #7413 "Allow non-zero exit codes for inspec provisioner"
Inspec has a non-zero code for tests with skipped controls that do not match or apply to the current system. Here https://github.com/inspec/inspec/issues/1825#issuecomment-382650911
[code]
#7385 adds exit codes for shell and windows provisioners and I was hoping the same could be done for inspec.

For example running the [linux patch baseline profile](https://github.com/dev-sec/linux-patch-baselin

[2019-03-15 19:08] N3WWN commented on #7327
For builds where I want packer to wait for the VM to shutdown, I use the following provisioner:

[code]
along with `"communicator": "none",`, `"shutdown_command": "",` and `"virtualbox_version_file": "",` in the builders section.

[2019-03-15 22:01] estenrye opened #7414 "Bug: Vagrant Builder stalls on interactive prompt during vagrant up when default vagrant provider is hyperv."
### Packer Version
1.3.5

### Host platform
Microsoft Windows 10 Pro
Build: 10.0.17134 Build 17134

### Builder
vagrant

### Environment Variables
$env:VAGRANT_DEFAULT_PROVIDER = 'hyperv'

### How to reproduce

[code]

### Debug Output
[debug.log](https://gist.github.com/estenrye/bcb9a4ff6cd04f5bc7f4e603c4dbc120)

### Expected Behavior
vagrant builder should successfully provision a machine with v

[2019-03-15 22:37] SwampDragons commented on #7414
Thanks for opening. If you provide a custom vagrantfile that specifies the bridge to Packer, do you still get this issue?

[2019-03-15 23:00] #7321 closed

[2019-03-15 23:01] #7403 closed

[2019-03-15 23:13] #6120 closed

[2019-03-16 00:32] estenrye commented on #7414
Hello @SwampDragons,

It appears that this is an issue of the documentation for the builder being incorrect.  The documentation points the user to use the `vagrantfile_template` attribute:

https://www.packer.io/docs/builders/vagrant.html#vagrantfile_template

This gets mapped to this attribute here:
https://github.com/hashicorp/packer/blob/24c42e4a1fbb86894f0922f29dd42c5dd5c25d71/builder/vagrant/

[2019-03-16 00:33] estenrye commented on #7414
Also of note, this attribute is also not documented:

https://github.com/hashicorp/packer/blob/75f574bd4b2e2aeaab5b30f64effb4728b0d43f2/builder/vagrant/builder.go#L61

[2019-03-16 00:45] estenrye commented on #7414
Looks like this is the line that is failing
https://github.com/hashicorp/packer/blob/75f574bd4b2e2aeaab5b30f64effb4728b0d43f2/builder/vagrant/step_ssh_config.go#L42

I think what is happening is that this function is splitting the lines on `\n` and is not trimming the result to get rid of the `\r` character that windows outputs.
https://github.com/hashicorp/packer/blob/75f574bd4b2e2aeaab5b30f64eff

[2019-03-16 07:26] hypery2k opened #7418 "Support for OpenShift"
Is there any plan to support the build integrated in OpenShift, e.g. via [Custom Build](https://docs.openshift.com/enterprise/3.2/architecture/core_concepts/builds_and_image_streams.html#custom-build)?

[2019-03-16 09:12] rickard-von-essen commented on #7418
Could you explain what is different from using the `docker` builder directly?

[2019-03-16 14:04] hypery2k commented on #7418
OpenShift doesn't allow to use the docker daemon or docker socket for security reasons, normally you just push an Dockerfile for building or using the linked custom build

[2019-03-17 01:11] mcandre commented on #7245
`boot_command` completes when all directives have completed. The final scancode or wait delay completes. For example, VBoxManage reports some exit status, or the final wait timer sends a signal over Go channels.

[2019-03-17 19:48] ChrisLundquist commented on #7376
Hey @Dan-Wolfy!

I haven't had too much time lately, as I just started a new job.
I took a quick look at this today, and I'm excited to hear what your doing with the LXD builder!

I think there are two viable approaches to add support for this.
- A post processor as you described.
- Adding config keys of "metadata_file" and "template_files[]" and adding them at build time.

I've never really used

[2019-03-18 08:12] github4rocker opened #7420 "WinRM Access to EC2 Forbidden"
Hi Guys,
I hope this is well adressed here. I also read that winrm issues should be adressed to the mailing list, but I was not able to find it. Sorry for that.

So my problem at the moment ist that I can not provision an ec2 windows (ami-04c3cf8dfea7d36eb), and I always get the message:

[code]
**AWS Base ami:**

Base AMI: **ami-04c3cf8dfea7d36eb**

**WinRM Config:**

[code]
**Packer Config:**
[c

[2019-03-18 08:34] github4rocker commented on #7420
Issue seems similar to #5629 but provided unfortunatley no solution and I tried all linked solutions in the issue :-)

[2019-03-18 08:54] rickard-von-essen commented on #7420
You find the [mailing list](https://groups.google.com/group/packer-tool) is here.

[2019-03-18 08:54] #7420 closed

[2019-03-18 09:01] github4rocker commented on #7420
thx @rickard-von-essen

[2019-03-18 11:17] MacFlurry opened #7421 "skip build if image already exists in Azure"
Hello,

I have a pipeline with jenkins
Jenkins with launch Packer to build an image, then terraform to build the infrastructure.
I would like to skip the build image from packer if the image is already built. Cause we can relaunch the pipeline several times.

How can I make packer check for the existence of build image name and skip the build process without throwing an error:

`Build 'azure-arm'

[2019-03-18 14:10] github4rocker commented on #7420
Link to the discussion: https://groups.google.com/forum/#!topic/packer-tool/W8qPUAIlz70

[2019-03-18 14:47] azr commented on #351
Hello there, the go-getter has been incorporated in packer in the following PR: https://github.com/hashicorp/packer/pull/6999, mainly the download step uses http://github.com/hashicorp/go-getter, I think it is now safe enough to close this issue 🙂

[2019-03-18 14:47] #351 closed

[2019-03-18 15:05] nndegz commented on #7413
I found a workaround, inspec has a --no-distinct-exit [flag](https://github.com/inspec/inspec/pull/3178) . It changes the exit code behaviour to use 0 and 1
[code]
You can pass it with through packer using extra_arguments
[code]

[2019-03-18 16:16] BenMitchell1979 commented on #7003
Throwing my 2-cents behind this as well. This would be a nice value add to packer to save me a step in my CI/CD

[2019-03-19 01:49] vivekaundkar opened #7422 "VMware-ISO packer build on Linux Redhat stuck at "==> vmware-iso: Waiting for WinRM to become available..."VMware-ISO packer build on Linux Redhat stuck at "==> vmware-iso: Waiting for WinRM to become available...""
I am trying to create a windows 2016 packer build using vmware-iso on a Red hat host without GUI.
Here are the things I have done
my packer build looks like this

[code]

My winrm.ps1 looks like this
netsh advfirewall firewall add rule name="WinRM-HTTP" dir=in localport=5985 protocol=TCP action=allow
winrm set winrm/config/service/auth '@{Basic="true"}'
winrm set winrm/config/service '@{AllowUnenc

[2019-03-19 06:15] rickard-von-essen commented on #7422
Please only use _GitHub Issues_ for reporting bugs and feature requests. Do not ask for general help here. Use _IRC `#packer-tool` on Freenode_ or the [mailing list](https://groups.google.com/group/packer-tool) for that.

See https://www.packer.io/community/

_If you are describing a bug or a feature request please reopen and try to add some more details to make it clearer._

[2019-03-19 06:15] #7422 closed

[2019-03-19 07:07] ekeel commented on #7303
Thank you for looking.

[2019-03-19 07:07] #7303 closed

[2019-03-19 15:59] #6163 closed

[2019-03-19 16:23] paulmey commented on #7421
IMHO, this functionality doesn't belong in Packer. Packer is a tool for building images, if you don't want to build an image, don't start Packer.
You can probably use the 'az' tool to check if the image exists and if not, launch packer. Alternatively, you could set `PACKER_LOG` and `PACKER_LOG_PATH` and look for the string "the managed image named myImage already exists" on failure.

[2019-03-19 16:23] #7421 closed

[2019-03-19 18:11] nick-korsakov commented on #7399
Hello @azr! The [output](https://gist.github.com/nick-korsakov/a825caab967b0522bc1ee1d75d28b2d2) updated.

[2019-03-19 20:59] Binternet commented on #2002
@ophintor i tried using `vpc_filter` and got this:

[code]

My solution was just to make sure I have a default VPC, that solved it for me.

[2019-03-19 21:20] SwampDragons commented on #7269
I looked at the vagrant code, and it appears that we're setting whether to keep the input artifact differently depending on the vagrant provider being used rather than the user setting. I need to inspect _why_ this is the case, but in the meantime, here's a list of the other Packer post-processors that don't appear to read keep_input_artifact:

alicloud-import
amazon-import
digitalocean-import
doc

[2019-03-19 23:03] digitalirony opened #7426 "Feature: Support esxi6 remote_type"
Add support for esxi6 as the remote_type, and allow for new hardware versions such as hardware version 14. (currently only tested for version 9).

I understand that building for esxi5 is most compatible for newer versions of esxi, however esxi5 is EOL, and building against it maybe something people want to do. However the option to build for esxi6 and newer hardware versions would be very apprecia

[2019-03-19 23:41] guidodobboletta opened #7427 "Use of AWS credentials profile ignored"
- Packer version from `packer version`:
   - 1.3.5
- Host platform
   - Ubuntu 18.04.2 LTS
- Debug log output from `PACKER_LOG=1 packer build template.json`.
   - https://gist.github.com/guidodobboletta/469b9126f8477391ff6a8b63725624da

The AWS profile option is not working on Packer even when doing things according to the [documentation](https://packer.io/docs/builders/amazon.html#authentication)

[2019-03-20 07:47] rickard-von-essen commented on #2002
@Binternet then you have a really old version of Packer, consider upgrading.

[2019-03-20 07:52] rickard-von-essen commented on #7427
This for sure works. What's the output of:
[code]

[2019-03-20 14:10] SwampDragons commented on #7414
@estenrye good catch, thanks.

[2019-03-20 14:38] madkroll commented on #6578
Hi @boumenot ,

I see you closed this task, but I'm still facing same issue, when **using async_resourcegroup_delete=true**.
When async deletion is disabled - build finishes successfully. All resources deleted.

Packer version:
+ packer -v
1.3.5

Error log:
1553091103,,ui,say,==> azure-arm: Deleting the temporary OS disk ...
1553091103,,ui,say,==> azure-arm:  -> OS Disk : '_reference-on-vhd_'
1553

[2019-03-20 15:15] guidodobboletta commented on #7427
It's empty output @rickard-von-essen

[code]

[2019-03-20 16:20] natewyatt opened #7428 "Build 'vagrant' errored: strconv.Atoi: parsing "2222\r": invalid syntax"
FOR BUGS:

My host is Windows and I'm trying to use a Vagrant builder. I have no provisioners specified. Very basic. I get the following error. It does not repro on a Mac host and I get the below error on 2 separate Windows machines. I tried hardcoding the port w/ my own build of packer but then the SSH step times out after doing that. I have verified that `Vagrant SSH` will successfully get to th

[2019-03-20 20:49] boumenot commented on #6578
Flag @paulmey because he is the new maintainer for azure-arm.

[2019-03-20 21:08] cybergoof opened #7430 "pause_before_connecting seems to be ignored"
I am running version 1.3.5 of the packer.  My templates is below.  When I run the packer, I need there to be a pause before SSH attempt because there are security changes that are made on new EC2's, and they have to be complete.

It seems that the ssh_timeout, ssh_handshake_attempts, and pause_before_connecting is all being ignored.

[code]

[2019-03-21 09:34] azr commented on #7428
Hello there, this issue should have been fixed by #7416. But please do tell me if the error still happens for you on master !

[2019-03-21 09:47] ff-agrawal commented on #7410
@azr any update on the fix

[2019-03-21 11:41] sce81 opened #7431 "Trusted Self Signed Certificate not trusted"
packer version - 1.3.4
vault - v0.11.5
certificate created via this - https://github.com/hashicorp/terraform-google-vault/tree/master/modules/private-tls-cert

and imported across all instances via - https://github.com/hashicorp/terraform-google-vault/tree/master/modules/update-certificate-store

installed on jenkins master, jenkins slave & base image used as the source_image by packer.

if i run

[2019-03-21 12:28] azr commented on #7410
Howdy @ff-agrawal, I've been tweaking around with your build file and I think a fix is that you should just not pass any `encrypt_boot` setting.

See, it's impossible to make an encrypted AMI unencrypted - AWS will deny it - but #6787 allows to not pass the encrypted setting to retain what the source image has as an encrypted setting.

In your case, if the source image's boot is not encrypted, the

[2019-03-21 16:33] paulmey commented on #7304
I've finally figured this out. I think Azure has a bug when you create an image from a deallocated VM. In Azure you can 'stop' a VM, which keeps the resources reserved for your VM. This is usually faster, but can also cause a race condition with trying to delete the disks immediately after. I switched to deallocating the VM in #7203, which releases all resources in the Azure platform. The intent w

[2019-03-21 20:01] paulmey commented on #6578
@madkroll, what is the expected behavior in your case? Should Packer retry until it deletes the VHD or should it just finish the build with a warning? (or something else completely?)

VHD's are not ARM resources and as such we can't schedule async delete for it, so it's either not going to be very async, or we're going to leave the original OS disk behind in the storage account.

[2019-03-21 20:55] madkroll commented on #6578
Value I expected from this parameter - to **reduce CI/CD time**, so money in the end. Build produced a value - and I can use it already as an input for downstream steps. And my point was to not wait until RG is removed - but start using VHD right away.
And I would appreciate any solution - which does it. So being async as much as possible here - I would put as a nice feature. If deleting VHD is a

[2019-03-21 22:15] paulmey commented on #6578
That does make sense. Assuming that people use `async_resourcegroup_delete` to optimize for time, I think we should add a flag to not fail on cleanup errors but instead display them as warnings. @riezebosch , did this issue get solved for you by the additional retries that you added in PR #6644?

[2019-03-22 00:53] riezebosch commented on #6578
No failures ever since. Have to mention though that we don't do VHD anymore.

[2019-03-22 02:09] lerlacher commented on #7240
I am impacted by this because one of my provisioners involves changing the user password to one that packer doesn't know. packer is then unable to SSH into the VM to issue the `shutdown_command`. (There are a variety of workarounds for this with different degrees of practicality and ugliness, which I'm not particularly keen to get into at this point.)

So I have been thinking (together with a cowo

[2019-03-22 07:01] ff-agrawal commented on #7410
@azr I think you misunderstood the issue, I am not making encrypted AMI unencrypted, my goal is to simply copy ami with the additional volume encrypted from one region to another region using.
The operation is pretty straight forward when done form UI and I would expect the same should be happening when done via packer.
If you need additional info we can do hangout session wherein I can walk you t

[2019-03-22 10:41] azr commented on #7410
Ah sorry - yes - I'm looking into it! 🙂

[2019-03-22 11:14] azr commented on #7410
Okay, so I just tested it and like I said before you just need to remove `"encrypt_boot": false` from your build.

By putting `"encrypt_boot": false` in your config file, packer will try to unencrypt the encrypted drive during the snapshot phase.

<details>
<summary> Here's a simplified version of your config file that worked for me : </summary>

[code]

![Screenshot 2019-03-22 at 12 11 14](https:

[2019-03-22 11:24] ff-agrawal commented on #7410
@azr where you able to able to transfer automatically say from us-east-1 to eu-central-1 via packer job

[2019-03-22 11:26] azr commented on #7410
Yes !

[2019-03-22 11:26] pbowditch opened #7432 "Enhancement: Ability To Parameterise Temporary Tags With amazon-ebs Builder"
The amazon-ebs builder adds a tag of "Name" = "Packer Builder" to temporary instances during the baking process.  This appears to be static and unable to change.

If the build fails or multiple happen in parallel we see a large number of these within our environment.  This makes it difficult for engineers inspecting the environment as well as compliance processes that use tag values for cost repor

[2019-03-22 11:29] ff-agrawal commented on #7410
let me give it a try

[2019-03-22 12:21] rickard-von-essen commented on #7432
It's only a default. Set it with `"run_tags": { "Name": "my custom name" }`.

[2019-03-22 12:21] #7432 closed

[2019-03-22 13:40] #7412 closed

[2019-03-22 13:43] ff-agrawal commented on #7410
I tried but it failed
template used: https://gist.github.com/ff-agrawal/aa0d63ad38d230ec468f2a388f290e2a

Error logs

`2019/03/22 13:30:35 packer: 2019/03/22 13:30:35 [INFO] RPC endpoint: Communicator ended with: 0
2019/03/22 13:30:35 [INFO] 858622 bytes written for 'stdout'
2019/03/22 13:30:35 [INFO] 0 bytes written for 'stderr'
2019/03/22 13:30:35 [INFO] RPC client: Communicator ended with: 0
20

[2019-03-22 15:29] azr commented on #7399
Okay, thanks for sharing, after some debugging it seems like the code will try to remove the physical location of the floppy disk and on windows, this doesn't count as an unmount. I'm still on it.

[2019-03-22 17:04] azr opened #7434 "[tty] panic on termination"
Hello there, on rare occasions, packer crashed for me:  upon termination + resizing the term windows at the same time: `panic: send on closed channel`.

I opened a pr here https://github.com/mattn/go-tty/pull/15/ to fix it.

[2019-03-22 19:09] showaltb opened #7435 "AMI Builder: ssh_username is not documented"
The `ssh_username` option is used in the examples and it's pretty self-explanatory, but it is not actually included in the list of options at https://www.packer.io/docs/builders/amazon-ebs.html

[2019-03-22 21:15] rickard-von-essen commented on #7435
The are do in this sentence:

Which links to all _communicator_ options.

[2019-03-22 21:15] #7435 closed

[2019-03-24 02:06] mcandre opened #7436 "Example configurations for qemu ARM builds?"
Hi, I am trying to build some ARM guest VM's with Packer. I've had good fortune with Packer + qemu for x86-based guests, but something is off about my ARM configurations. Can someone recommend a Packer JSON example for building ARM Vagrant boxes with qemu, to clear up some of the finer points?

# Configuration

https://github.com/mcandre/packer-templates/tree/issue-153/debian

Specifically, I'm ge

[2019-03-24 14:53] mcandre opened #7437 "qemu builder net_device validation too aggressive"
I think the hardcoded list of allowed values for `net_device` in qemu builds may have lagged behind the available virtual NIC's that qemu now offers. For example, `virtio-net-device` is offered by qemu-system-aarch64, but this value is rejected by packer for `net_device`.

[2019-03-25 11:06] dimisjim commented on #653
@phosphre
the **ssh_wait_timeout** flag has been changed to **ssh_timeout**

https://www.packer.io/docs/templates/communicator.html#ssh_timeout

[2019-03-25 16:08] riezebosch commented on #7389
This part is a bit unclear to me because I don't see the relation with a custom provided ARM template to be used. It already is possible to build one managed image in a build pipeline and base a second build on that image. I fixed this by adding the build pipeline name and build id (from Azure DevOps) as azure tags to the output and query that in the subsequent build.

[2019-03-25 16:42] blorette commented on #7389
It's simply to say that some operations for image prep are faster via
template and template extensions and others via our scripts and
configurations.

If we know that as a base, our image will always contain x package which
can be configure as an native extension, then let the template handle that.
And our build script can handle other items.

On Mon, Mar 25, 2019, 12:08 PM Manuel Riezebosch <noti

[2019-03-25 17:47] paulmey commented on #7389
Can you give an example of such an extension and/or package?

[2019-03-25 17:54] SwampDragons commented on #7410
This isn't a Packer bug -- it's an AWS behavior. https://aws.amazon.com/premiumsupport/knowledge-center/create-unencrypted-volume-cmk/

If you want to share the volume, you need to encrypt it with a non-default key.

[2019-03-25 20:34] SwampDragons commented on #7240
I think I'm okay with that but I'd definitely want to do some testing and research to make sure there's not some special case we'd be breaking.

[2019-03-25 20:42] SwampDragons commented on #7431
Looks like we need to add an "insecure" option to the Vault client's TLS config. I probably won't be able to get to this before 1.4.0 but I'll try for 1.4.1.

[2019-03-25 21:21] SwampDragons commented on #7437
Hey, thanks.  Do you know of a list of allowed values I could refer to in order to update the validation?

[2019-03-25 21:44] SwampDragons commented on #7436
I don't know of any qemu/ARM builds off the top of my head, sorry. I'm going to close since this is more of a general help question than an issue to be addressed in the Packer code... maybe reach out to the mailing list (https://groups.google.com/forum/#!forum/packer-tool)?

[2019-03-25 21:44] #7436 closed

[2019-03-25 22:25] SwampDragons commented on #7430
Hi, thanks for reaching out. Can you share your debug logs and describe what behavior you are seeing?

[2019-03-25 23:05] lerlacher commented on #7240
Here are the relevant paragraphs of the [virtualbox manual section for controlvm](https://www.virtualbox.org/manual/ch08.html#vboxmanage-controlvm):

The only special cases we could break here is where someone is using a guest OS that does not support ACPI and wants the VM to be killed off.

I don't know how we would find out if anyone is relying on that. The only idea I have to avoid this is by g

[2019-03-25 23:09] #7246 closed

[2019-03-25 23:24] #4788 closed

[2019-03-26 03:53] cybergoof commented on #7430
I paused the project and did not catch the logs, but I can describe it.

Basically, packer would immediately start attempting to SSH to the system right away without any pause.  It would also repeatedly perform the SSH (around 10 times?) before bailing. If this is not a known issue or if my config above is correct, I can rerun and provide the logs.

[2019-03-26 09:39] azr commented on #7399
Hey @nick-korsakov, could you please tell me what's a command to detach the floppy disk that worked for you?

Currently, packer tries to run `vboxmanage "storageattach" $vmName "--storagectl" "Floppy Controller" "--port" "0" "--device" "0" "--medium" "none"

[2019-03-26 16:08] Rohited3 opened #7439 "Paker is tearingdown the Instance however leaving the DISK behind"
CI build failing without any error after creating an image. The outcome of the image created through packer is perfectly fine.
After debugging found out that it’s a known Issue with Packer attached similar Bug: #7392.

[2019-03-26 16:27] azr commented on #7410
Oh right, I didn't realize that - sorry about losing both our times on this - I think this issue can be closed then!

[2019-03-26 16:27] #7410 closed

[2019-03-26 16:35] #5846 closed

[2019-03-26 16:47] SwampDragons commented on #7240
Thanks for looking into that for me :) . I'd rather gate it using an explicit config option than an environment variable, but I think that you've got the right idea here. I'd merge something that adds a config option to use ACPI instead of poweroff, especially if we keep poweroff as the default.

[2019-03-26 16:52] rickard-von-essen commented on #7439
Please supply the information requested in the issue template:
- Packer version (`packer version`)
- Host platform (`uname -a` etc.)
- Debug log output from `PACKER_LOG=1 packer build template.json`.
  Please paste this in a [gist](https://gist.github.com).
- The _simplest example template and scripts_ needed to reproduce the bug.
  Include these in your [gist](https://gist.github.com).

[2019-03-26 16:54] SwampDragons commented on #7439
If you think it's the same bug as 7392, we should close this as a duplicate and continue discusson on that issue. If you have some differences between your build and the one shared in the original post on 7392, you can share details of your debug logs and Packer config there.

[2019-03-26 16:59] SwampDragons commented on #7430
I think this is a problem with our logging; pause_before_connecting tries to connect via SSH right away, but once it successfully connects, it disconnects and waits for a certain length of time before reconnecting and starting to provision. The idea is that you use it if your SSH daemon gets up and running before final configuration is complete, so we should wait for a while _after we think we can

[2019-03-26 18:05] Rohited3 commented on #7439
Yes I believe its the same as 7392. I will close this bug and follow #7392

[2019-03-26 18:28] Rohited3 commented on #6887
Hi,
I tired with state_timeout to 7 minutes and 5 minutes. it didn't work for me.

[2019-03-26 18:29] Rohited3 commented on #7439
Sorry my bad it is related to #6887

[2019-03-26 22:31] SwampDragons commented on #7439
Thanks. If you can share some more details (config file, debug logs) on #6887, I'll take a look.

[2019-03-26 22:31] #7439 closed

[2019-03-27 12:04] sce81 commented on #7431
Hi @SwampDragons thank you for your answer! That would be great and definitely helpful. But perhaps a note of caution - it would definitely better to be able to specifically trust a certificate, rather than a global "trust anything"
thanks again!

[2019-03-27 15:47] desmondgc commented on #5787
At least adding a note in the docs saying that it probably doesn't work on recent VMware versions would save people from wasting time trying to troubleshoot like I did.

[2019-03-27 17:21] SwampDragons commented on #7431
I tend to agree; I'll have to take a closer look at the API bindings we're using and see what I can do.

[2019-03-27 17:37] lmayorga1980 commented on #1845
Google search brought me here ...

Did it with a different builder but worked...

[code]

[2019-03-28 00:22] mcandre opened #7441 "VNC viewer not launching alongside qemu builds"
Hi, I am used to packer showing a helpful GUI monitor during builds, which really assists well with debugging. This happens for VirtualBox and VMware builds, for example. And in the past, I would watch the VNC viewer come up for qemu builds as well.

However, on my new Ubuntu host, I noticed that packer is not launching a VNC viewer for qemu anymore. Packer's flags to qemu are correctly creating a

[2019-03-28 01:12] blorette commented on #7389
The VSTS agent as one, or DataDog. Or disk encryption as to ensure that the
image is provisioned with encrypted disks. Or a custom script as to run
specific configurations. Its about allowing more seamless integration
between the platforms.

<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail&utm_term=icon>
Virus-free.
www.avast.com
<https:/

[2019-03-28 07:22] riezebosch commented on #7389
My idea was to replace the custom mapping from the packer template with a one-on-one copy of the (used) ARM template which would indeed also enable the use of existing features as of being future compatible and less translation from the ARM capabilities to the azure builder configuration. I'm not quite sure how for example the AWS builder deals with this?

[2019-03-28 08:33] rickard-von-essen commented on #7441
Packer never launched a VNC viewer for you. But if you have qemu with SDL support and `headless: false` it will launch a _display_.

[2019-03-28 08:34] rickard-von-essen commented on #7441
Please supply the information requested in the issue template:
- Debug log output from `PACKER_LOG=1 packer build template.json`.
  Please paste this in a [gist](https://gist.github.com).
- The _simplest example template and scripts_ needed to reproduce the bug.
  Include these in your [gist](https://gist.github.com).

[2019-03-28 11:11] blorette commented on #7389
Would this translate to the key vault portion as well?

It would be nice, as my image build team would not have to learn arm
templates.

On Thu, Mar 28, 2019, 3:22 AM Manuel Riezebosch <notifications@github.com>
wrote:

[2019-03-28 14:19] riezebosch commented on #7389
I'm also building the Azure Pipeline Image Generation (fka VSTS) a lot and don't see how you need an extension for that during provisioning. You end up with a managed image or VHD as the output of the packer build and spin up VM's from that where you have all the freedom to use your own ARM templates.

[2019-03-28 14:42] DanHam opened #7442 "Error with packer_cache following merge of #7423"
Packer v1.4.0-dev (113c04059)

The merge of #7423 seems to have caused a few issues with the packer_cache directory. As a result I get the following error when building with virtualbox:

[code]

Files and directories that should be under `packer_cache` (and some that shouldn't be created at all?) are instead being created in the root of the working directory:

[code]

Hope that helps.

ping @azr

[2019-03-28 14:48] riezebosch commented on #7389
Mind that I'm only a contributor, I don't know anything about the future plans for the Packer Azure Builder. It is a wild idea I have because to me the current builder seems too complicated.

[2019-03-28 18:53] paulmey commented on #7389
I'm checking whether this scenario is even supported. Extensions may or may not work after deprovisioning/generalizing the image for capture.

[2019-03-28 19:07] dkrm0 opened #7443 "Builder/vagrant: No such file or directory @ rb_file_s_rename"
- Packer version: `Packer v1.3.5`
- Host platform: `Arch Linux`
- Debug log output from `PACKER_LOG=1 packer build template.json`.
[https://gist.github.com/dkrm0/f7846d927854bff04def545d716bbe05](https://gist.github.com/dkrm0/f7846d927854bff04def545d716bbe05)

- The _simplest example template and scripts_ needed to reproduce the bug.
Included in the gist.

What's odd is that, if I run `vagrant pac

[2019-03-28 19:19] SwampDragons commented on #7442
Yeah I noticed a similar issue this morning. If I create the "port" directory inside of packer_cache it works fine, but we need to figure out why packer_cache is failing to mkdirall this.

[2019-03-28 19:46] nick-korsakov commented on #7399
Hey @azr, this command helped me to detach floppy disk from vm but I need it to be deleted.
[code]

[2019-03-28 20:18] SwampDragons commented on #7442
🤦‍♀️ I just accidentally pushed the fix for this to master instead of making a PR.  See https://github.com/hashicorp/packer/commit/3aa0e51104e920c65b0b0bcf82fe2fbb91f116bc.

[2019-03-28 20:18] #7442 closed

[2019-03-29 01:03] paulmey commented on #7389
@blorette I've gotten back confirmation that this scenario (install extensions, capture image, redeploy) is currently not supported. If this changes, we can reconsider this request.

[2019-03-29 01:03] #7389 closed

[2019-03-29 01:07] blorette commented on #7389
That's not even what this request is for.

On Thu, Mar 28, 2019, 9:03 PM Paul Meyer <notifications@github.com> wrote:

[2019-03-29 02:27] adam-erickson commented on #955
Sorry, but can anybody explain these answers more clearly for a n00b?

[2019-03-29 10:35] azr commented on #7399
And, is the file still present at `C:\Users\user\AppData\Local\Temp\virtualbox782300642\floppy.vfd` ?

[2019-03-29 11:10] vtolstov commented on #955
if you combine you question, we can answer it. bare metal is very specific, somebody needs pxe boot, somebody need installer. May be some of users uses rpm-ostree.... =))

[2019-03-29 19:06] mcandre opened #7445 "qemu builder crashed during box finalization"
Wish I had more details, but I noticed this in the morning rush before work today. The qemu packer build was just about at the end, when all of a sudden Packer reported a mysterious crash during the Vagrant box finalization. Not sure why.

# Configuration

https://github.com/mcandre/packer-templates/tree/issue-153/debian

* Latest stable Packer
* Latest stable qemu
* Guest: Debian 9.8 ppc64el
* Ho

[2019-03-29 19:57] lmayorga1980 commented on #6453
I am using the winrm plugin under `connection_plugins/packer.py` and got the following...

https://raw.githubusercontent.com/ansible/ansible/devel/lib/ansible/plugins/connection/winrm.py

[code]

[2019-03-29 21:43] SwampDragons commented on #5770
Looking at this, it looks like we implement each of the functions in builder specific ways (clean_image_name behaves differently depending on whether you're in googlecompute or azure, for example).  I think it'd actually be really cool to have a single template function name `clean_resource_name` that sanitizes the variable based on whichever cloud is being built from. That would make it very gene

[2019-03-30 02:27] SwampDragons commented on #7269
On further reading, I think you were looking in the wrong place in the code. This is being handled in the core, not in individual post-processors, which would explain why we have so many that don't directly read this value.

I tested keep_input_artifact for the vagrant builder and it's behaving as I expect. I believe that this isn't actually an issue.

If you have a repro case where it isn't being

[2019-03-30 02:27] #7269 closed

[2019-03-30 11:57] i906 opened #7448 "Packer build outputs sensitive variables"
The sensitive variables are printed when running packer build.

[code]

Packer version: 1.3.5
Host platform: macOS 10.14.4
Debug log output and sample scripts: https://gist.github.com/i906/09190a87ae3b3fdfe00f42d07660dba7

[2019-03-30 20:14] nick-korsakov commented on #7399
@azr, No. Even "C:\Users\user\AppData\Local\Temp\virtualbox782300642" folder doesn't exists. But floppy still registered (see `vboxmanage list floppies` output above).

[2019-03-30 21:19] mcandre opened #7449 "qemu builder: Option to provide preseed files as CD devices"
Some guests, such as Ubuntu 18.04 ppc64el on qemu-system-ppc64 with machine pseries, do not support floppy drives. Nor is networking up at the beginning of the installation process, so for these guests, neither `floppy_files` nor `http_directory` are sufficient to get preseed files into the guest.

However, CD drives are widely supported, e.g. for ISO booting. I think if Packer added a `cd_files`

[2019-03-30 21:45] danowar2k commented on #7269
Okay no problem, one last question though...If keep_input_artifact is handled in the core (which seems reasonable), what then is this function here?

https://github.com/hashicorp/packer/blob/9f1ec211a07f8adf342446c22b888addc6e8f54b/post-processor/vagrant/virtualbox.go#L19-L21

Why does this always return false? Is this maybe a poorly named "get_KeepInputArtifactDefault" ?
(The docs for the Vagrant

[2019-03-31 06:59] rickard-von-essen commented on #7449
This feature has been on my mind for some time. The only hard ting about it is to create an ISO9660 image from files natively in Go.

[2019-04-01 08:37] #7150 closed

[2019-04-01 13:59] lmayorga1980 commented on #6453
I tried this approach but was getting this on the packer output

[code]

[2019-04-01 15:01] danports commented on #7304
@paulmey Do you have a Docker image with the fix or mitigation that I could test?

[2019-04-01 15:24] #6928 closed

[2019-04-01 15:32] SwampDragons commented on #7269
hmm. Probably the ideal situation would be to have the user-set value override the default-set function, and only to use the default when the user hasn't set a value. I'll think on this and see if it makes sense to implement.

[2019-04-01 16:02] danowar2k commented on #7269
I think the code at the moment makes sense: the post-processor decides whether its modifications lead to keeping the input artifact for the next processor, and if the post-processor decides to throw away the input artifact, the user can always tell Packer to keep the input artifact anyway.

Enabling the user to throw away the input artifact even when the processor keeps it hands the responsibility

[2019-04-01 16:23] SwampDragons commented on #6294
Turns out this behavior is intentional and was introduced here: https://github.com/hashicorp/packer/commit/f78cbb45a6c37a0b9ac99af672b2f25f198648ba

I'll see if I can get more context about the reasoning behind it before I decide whether to change it.

[2019-04-01 17:52] paulmey commented on #7304
Here's a test build: https://github.com/paulmey/packer/releases/tag/v1.4.0-c7431f408

[2019-04-01 17:57] SwampDragons commented on #7448
Thanks for reporting this. I'll take a look ASAP.

[2019-04-01 23:11] SwampDragons commented on #6294
Got a little more digging in. That code I linked above allows both the shell-local and the artifice post-processor to force keep_input_artifact=true, which does seem like a reasonable _default_ to me but you should be able to override them. The amazon-import pp should behave as you expect, but deleting the amazon-import input artifact would only delete the .ova, not all the vmx-related files in th

[2019-04-02 11:56] harshchauhan1988 opened #7453 "AWS import job stuck at “Starting rename of AMI” forever"
Trying to build AMI with the OVA import to S3. it was working all the while but now I could see the jobs are stuck at "Starting rename of AMI" In reality the import job succeeds. Please help.

In my understanding "Copy the AMI to create a new AMI (This is essentially what a rename of the AMI does)". This failure occurs 8 out of 10 times and hampering our build process badly.

*********************

[2019-04-02 13:44] nehrman opened #7454 "Packer Crash on Windows 2K16 with hyperv-iso"
Trying to build hyper-V Gen 2 image with hyperv-iso builder on Windows 2016 Server but It crashes even in the validate process with panic: runtime error : index out of range.

- Packer version: 1.3.5 and also 1.3.4
- Windows 2016 Std with Hyper-V enabled

packer template : https://gist.github.com/nehrman/0be69a91d740c04e209afb3815b86219

packer crash log : https://gist.github.com/nehrman/178ca4ee3

[2019-04-02 13:47] nehrman commented on #7454
packer templates : https://gist.github.com/nehrman/0be69a91d740c04e209afb3815b86219

[2019-04-02 14:02] azr commented on #7454
Hello @nehrman, thanks for opening and sorry for the inconvenience ! This part of packer recently changed and the panic might have been fixed.
Can you please tell me if you still have the issue using this binary from master:
[packer_windows_amd64.zip](https://github.com/hashicorp/packer/files/3034252/packer_windows_amd64.zip)

[2019-04-02 14:17] davidebelloni opened #7455 "Unrecoverable build"
Hi,
I've a build on googlecompute that use ansible remote provisioner that usually run; but after some executions, ordinarily after an error (for example timeout network, new erroneous ansible code, etc...) the build fail as described in the log.

Opening a new shell doesn't solve the problem, instead restarting the client solve (O_o)

Some advices?

Packer v1.3.5
Host platform: OS X 10.14.4
Packe

[2019-04-02 14:26] azr commented on #7454
I got an offline confirmation that this worked ! Awesome.

this probably happened in #6999

[2019-04-02 14:26] #7454 closed

[2019-04-02 14:46] azr commented on #5770
I agree this would be nice for constancy of user experience !! And I think this will just work like a charm if we just rename `clean_ami_name` to `clean_image_name`. Both func will be defined in different scopes and behave in their own way. I'll try to come up with a quick PR.

[2019-04-02 14:49] azr commented on #5770
Something like this: https://github.com/hashicorp/packer/pull/7456

[2019-04-02 14:50] moorara commented on #5770
@azr Thanks for working on this. What about the case that we need a clean string for labels on Google Cloud?

[2019-04-02 14:55] azr commented on #5770
It's already called `clean_image_name` and they should not conflict. But may be like @SwampDragons suggested I should just change them both to `clean_resource_name` ?

[2019-04-02 15:21] moorara commented on #5770
I think the latter approach makes more sense and causes less confusion.

[2019-04-02 16:36] SwampDragons opened #7457 ""provider" template option missing from vagrant builder docs"
Gotta add the provider option to the docs.

[2019-04-02 16:55] SwampDragons commented on #7269
Yeah, I think clearer naming is a good idea no matter what.

[2019-04-02 18:08] #7457 closed

[2019-04-03 02:42] Liath commented on #6453
On 2.7, I got a more interesting error by switching the `description:` field in the example from https://www.packer.io/docs/provisioners/ansible.html#winrm-communicator
to not be split across multiple lines, so:
[code]
Becomes:
[code]
Seemingly this newline breaks what ever Ansible is doing under the hood to parse these. You can test this by dropping a print statement in the file throwing the use_

[2019-04-03 03:03] Liath commented on #6453
Actually, disregard the latter half of what I just said, I had a stale connection from having this sitting in debug mode for days lol. So yeah, fixing the `description:` gets 2.7 working.

[2019-04-03 04:39] bugbuilder commented on #7306
@ktmorgan you're right

[2019-04-03 06:00] tarvip commented on #5065
Still happens with packer 1.3.5

[2019-04-03 07:29] harshchauhan1988 commented on #7453
What is the way forward on this issue? Do you have any workaround for this issue?

[2019-04-03 11:59] volkdir opened #7460 "[azure_rm] Specify a keyvault and secret."
Feature request:
Due to security reasons in our Azure Subscription we are not allowed to create key vaults. That is only allowed for user with special rights. But we like to build prepared windows images in a automatic fashion and those user can't do it.
If we run our packer template we get this error:
[code]

I assume the vault will be used to specify a secret to connect to the VM. Maybe it will

[2019-04-03 13:26] azr commented on #5770
Okay I've the old ones deprecated ( using them logs a warning ) and `clean_resource_name` is now available for Azure, AWS & GCP.

[2019-04-03 17:26] SwampDragons commented on #7448
Okay, I think I figured it out. It looks like that line is getting printed to the UI via UI.Say(), not to the logs. We weren't filtering the UI. I'll look in to implementing the filter in the UI.

[2019-04-03 17:45] SwampDragons commented on #7448
Here's a patched binary for osx that has the ui filtering in place. Can you verify that this works for you?
[packer.zip](https://github.com/hashicorp/packer/files/3040045/packer.zip)

[2019-04-03 18:11] azr commented on #7399
Hey @nick-korsakov, so I could repro on windows but I think packer can't do anything about this.
The floppy is detached from the vm and the file is removed but the `vboxmanage list floppies` will still list that floppy **until windows is restarted**. This tells me the issue _probably_ has something to do with caching on vbox'es side. I'm going to close that issue for now but please feel free to op

[2019-04-03 18:11] #7399 closed

[2019-04-03 21:19] SwampDragons commented on #7269
FYI I've got a PR here that is relevant to our conversation: #7463

I changed the naming to hopefully be clearer, added some code comments, removed redundant instances of keep_input_artifact, and changes the behavior to allow a "default discard", "default keep", and a "forced keep" so that we're only ignoring user input in really cut and dry situations where an artifact is 100% definitely needed.

[2019-04-03 21:36] SwampDragons commented on #7455
Thanks for reaching out! The ansible provisioner is one of our community-supported provisioners, which means that the HashiCorp maintainers don't spend much engineering time on it. We probably won't have much of a chance to look into the networking weirdness you're seeing here.

Which client are you restarting to fix this?

[2019-04-03 21:39] SwampDragons commented on #7418
We don't have any plans to support it, but I'd happily review a PR adding a new OpenShift builder.

[2019-04-03 21:51] SwampDragons commented on #7426
What particular version of esxi6 and hardware is not working for you with the current remote type? I know it's confusing that it's named "esx5" but it's my understanding that a lot of people use packer for esxi 6.5+

[2019-04-03 22:25] #4904 closed

[2019-04-03 22:25] #6453 closed

[2019-04-03 23:22] digitalirony commented on #7426
It works on esxi6, but it creates a VM with only hardware version 9(since this is what esxi 5 supports), you can't create a VM with hardware version 14, because esxi5 only supports up to version 9. It does WORK on esxi 6.5+, it just uses old hardware revisions, which means newer software can't take advantage of newer hard driver features etc. We tested speed between a hardware version 9 and hardwa

[2019-04-03 23:46] SwampDragons commented on #7453
I haven't had a chance to look into it yet. I'll update the ticket once I get a chance to investigate.

[2019-04-03 23:49] SwampDragons commented on #7306
Oh, cool. Thanks for the correction.

[2019-04-03 23:49] #7306 closed

[2019-04-04 05:30] rickard-von-essen commented on #7426
You can set the hardware version with [version](https://packer.io/docs/builders/vmware-iso.html#version).

[2019-04-04 06:59] davidebelloni commented on #7455
Hi,
I've to restart mi MacBook (where packer is executed)

[2019-04-04 09:56] DanHam commented on #7442
@SwampDragons Ooops! Well a fix is a fix!! Thanks for the quick turnaround.

[2019-04-04 12:04] iEpixel opened #7465 "Hyperv-iso builder keep_registred missing"
Hello, i checked the documentation and it seems that virtualbox as well as vmware have a keep_registred option. In my case I successfully built and configured a machine with hyperv.
Since I'm using windows 10 with hyper v enabled, I would like to keep the vm registred, else I need to manully create the VM with the output-hyperv-iso again.

Is it possible to add the option in near-future or do I ne

[2019-04-04 13:15] #7448 closed

[2019-04-04 14:32] danports commented on #7304
It worked! :confetti_ball: Thanks for your detective work @paulmey!

Can I assume that release was built from https://github.com/paulmey/packer/tree/revert-7203? I want to build a Docker image with the fix for our CI pipeline.

[2019-04-04 14:47] asifma commented on #7003
Would love to see this feature too, now I have to handle this in a pipeline as a additional post-task in PowerShell.

[2019-04-04 15:08] SwampDragons commented on #7465
I _think_ that you just need to set `"skip_export": true` if you want to keep the VM in hyper-v.

[2019-04-04 15:28] SwampDragons commented on #7455
Could it be an issue with your SSH Agent?

[2019-04-04 15:44] davidebelloni commented on #7455
Maybe, but in the case only with packer & ansible? This issue doesn't happen with only ansible for config management.

[2019-04-04 16:11] SwampDragons commented on #7465
If that feature doesn't solve your problem, we can reopen this issue.

[2019-04-04 16:21] danports commented on #7304
I'm having trouble building a Docker image from that branch - is there something wrong with the branch, or am I doing it wrong?
https://cloud.docker.com/repository/registry-1.docker.io/danports/packer-7304-fix/builds/a3e87860-79e9-4a8f-8180-38493837ba39

[2019-04-04 16:30] #6006 closed

[2019-04-04 21:00] iEpixel commented on #7465
Hi,
I did try it --> build has been successfull -> vm has been deleted from my hyper v manager again.

Please reopen

`  "builders": [
    {
      "type": "hyperv-iso",
      "guest_additions_mode": "disable",
      "iso_url": "{{ user `iso_url` }}",
      "iso_checksum": "{{ user `iso_checksum` }}",
      "iso_checksum_type": "md5",
      "ram_size": 2048,
      "cpu": 2,
      "vm_name": "PCo_DE

[2019-04-04 22:02] aswinrajamannar opened #7469 "Feature Request : Azure - Support managed identity in non-VM environments"
Today Packer supports specifying certificate-based bearer JWT assertion through client_jwt parameter, or automatically getting it from the IMDS endpoint available for IaaS VMs. But in scenarios like App Service Web Jobs, neither of these are an option.

In App Service for instance, there is a REST endpoint to get the token which is different from the IMDS endpoint.
https://docs.microsoft.com/en-us

[2019-04-05 03:23] gopichamada opened #7470 "when i use variables, builders and provisioners in my sample packer json file i am getting below error. can you please help me"
[code]

OUTPUT:

PS C:\Users\sweth\Desktop\pra\packerzone> packer validate .\nginx.json
Template validation failed. Errors are shown below.

Errors validating build 'amazon-ebs'. invalid 'ssh_username': template: root:1: malformed character constant: 'aws_username' in:

{{user 'aws_username'}}

[2019-04-05 03:25] gopichamada commented on #7470
can someone help me what is the issue here

[2019-04-05 08:03] hegyre commented on #7393
Hello,
Had the same issue and I confirm build from #6787 solves that.

In case it could helps, here's my config now with the #6787 Windows build:
AMI: Centos 1901_01
[code]

[2019-04-05 10:47] azr commented on #7470
Hello there, try ```{{user `aws_access_key` }}```.

Please only use _GitHub Issues_ for reporting bugs and feature requests. For general help, use IRC #packer-tool on Freenode or the [mailing list](https://groups.google.com/group/packer-tool).

See https://www.packer.io/community/

[2019-04-05 10:47] #7470 closed

[2019-04-05 13:34] azr opened #7471 "remove specific "clean_(image|ami)_name" template calls on next release"
the calls are already deprecated after #7456, on the next release we
should totally remove them.
Related to #5770

[2019-04-05 14:03] dnr1503 opened #7472 "Packer ami creation time increase"
I am getting the below failure message after 30 min of AMI creation:

==> amazon-ebs: Waiting for AMI to become ready...
==> amazon-ebs: Error waiting for AMI. Reason: <nil>
==> amazon-ebs: Error waiting for AMI. Reason: <nil>
==> amazon-ebs: Step "stepCreateAMI" failed

*********************************************
This seems to be similar to #6536 .
Even added the environment variables AWS_MAX_A

[2019-04-05 15:10] #6294 closed

[2019-04-05 15:52] laughing-penguins commented on #7349
@azr I'm also encountering this issue. I recognize that QEMU is a community plugin but has anyone been able to build an image successfully while using the XEN accelerator? Was this tested before reporting the ability to build a xen image?

[2019-04-05 16:08] Wenzel commented on #7349
I spoke with the Xen community, and this feature is broken since Xen 4.1.

Only the xl toolstack can setup a vm today, qemu by itself is not enough, as far as i understood.

[2019-04-05 16:12] #5770 closed

[2019-04-05 17:26] laughing-penguins commented on #7349
@Wenzel Thanks for the update. Perhaps packer should remove mention of being able to use Qemu to build a xen vm.

[2019-04-05 21:14] dloco01 commented on #1439
work thank you very much

[2019-04-07 18:57] jszakmeister opened #7475 "Packer cannot authenticate"
When trying to build a Fedora 29 VM using VMware Fusion 11 and the vmware-iso builder, I keep running into errors when it attempts to ssh into the VM:

I'm running Packer v1.3.5 on macOS High Sierra (10.13.6).  I've run with `-on-error=abort` so that I could check ssh'ing into the VM myself and it was successful.  From the packer logs I can see that it was pulling the correct ip address too (thoug

[2019-04-07 19:30] rickard-von-essen commented on #7475
Could you provide the content of `journalctl -r /usr/sbin/sshd` when packer is trying to connect? The sshd config including defaults from `sshd -T`.

And when you manually connect with the ssh client add `-vvv` and provide that to.o.

[2019-04-08 06:13] #7472 closed

[2019-04-08 10:31] jszakmeister commented on #7475
Interesting.  `journalctl -r /usr/sbin/sshd` is showing a bunch of repeated entries like this:

[code]

Shoot... it's trying to log in as the wrong user.  I had `ssh_username` and `ssh_password` backwards--the password as the username, and vice versa.  Arrgh.  I'm sorry I bother you guys with this.  I spent a ton of hours trying to get it figured out and not once did I look at the logs for sshd.

[2019-04-08 10:31] #7475 closed

[2019-04-08 13:04] iEpixel opened #7476 "keep_registred for hyper-v"
Hi,
I did try it --> build has been successfull -> vm has been deleted from my hyper v manager again.

Please reopen

`  "builders": [
    {
      "type": "hyperv-iso",
      "guest_additions_mode": "disable",
      "iso_url": "{{ user `iso_url` }}",
      "iso_checksum": "{{ user `iso_checksum` }}",
      "iso_checksum_type": "md5",
      "ram_size": 2048,
      "cpu": 2,
      "vm_name": "PCo_DE

[2019-04-08 16:14] SwampDragons commented on #7476
I'll reopen the original issue.

[2019-04-08 16:14] #7476 closed

[2019-04-08 16:14] SwampDragons commented on #7465
I'm going to need a simple example template that reproduces the issue and full debug logs, as asked for in the issue template.

[2019-04-08 17:15] SwampDragons commented on #7455
The ansible provisioner uses a separate SSH implementation from the rest of Packer, so it's very possible that it would only happen there.

[2019-04-08 20:10] suyashdb commented on #4569
I tried Chmod o+x on the home directory even then i am getting same error:
`docker: Error response from daemon: error while creating mount source path '/home/vhasfcbhogas/BIDS': mkdir /home/vhasfcbhogas/BIDS: permission denied.
ERRO[0000] error waiting for container: context canceled`

Any suggestions @WeatherGod @mwhooker!

Thanks!

[2019-04-08 20:17] WeatherGod commented on #4569
Each component of the path `/home/vhasfcbhogas/` needs to be executable by the docker daemon. Usually, this is the case for typical Linux installs. Furthermore, it looks like your daemon is trying to create a subdirectory, so perhaps you may need to create it ahead of time?

[2019-04-08 20:27] suyashdb commented on #4569
I did chmod every component of `/home/vhasfcbhogas` however, the docker image will create few temp folders inside for processing.. I gave no control on them as they are created during processing and get deleted latter.. Not sure how to handle this situation.

[2019-04-09 01:21] dbilleci-lightstream commented on #7131
Also interested in this.. I thought this was already merged into Packer.. We have a VM that needs to pull containers from ACR during boot.

[2019-04-09 02:45] dbilleci-lightstream opened #7478 "Azure-Arm - assign identity to the box, similar AWS-iam_instance_profile"
Use case: We're using JENKINS on-prem to initiate PACKER to spin up a VM using Azure-ARM, and use Ansible as a provisioner.

On this VM that gets spun up by Packer, we'd like to assign it a Managed Identity so that during the building process, it has access to "things" such as storage accounts, key vaults, container repos.. etc.

This is similar use case as to what AWS EBS builder has had for a lo

[2019-04-09 05:39] rickard-von-essen commented on #4569
Please only use _GitHub Issues_ for reporting bugs and feature requests. Do not ask for general help here. Use _IRC `#packer-tool` on Freenode_ or the [mailing list](https://groups.google.com/group/packer-tool) for that.

See https://www.packer.io/community/

_If you are describing a bug or a feature request please reopen and try to add some more details to make it clearer._

[2019-04-09 06:23] davidebelloni commented on #5798
Hi,
I've the same issue with builder googlecompute and provisioners ansible

[2019-04-09 06:24] davidebelloni commented on #7455
Hi,
you are right. The issue is the same as https://github.com/hashicorp/packer/issues/5798

[2019-04-09 06:34] davidebelloni commented on #5798
I've resolved adding at the beginning of ssh_config these lines:

[code]

[2019-04-09 06:34] #7455 closed

[2019-04-09 09:30] lijok opened #7481 "Packer launched by shell-local post-processor does not detect default builders, postprocessors, provisioners"
packer launched by packers shell-local post-processor, does not detect its default builders, postprocessors, provisioners.

`ui:     virtualbox-iso (shell-local): 2019/04/08 15:27:24 Packer config: &{DisableCheckpoint:false DisableCheckpointSignature:false PluginMinPort:10000 PluginMaxPort:25000 Builders:map[] PostProcessors:map[] Provisioners:map[]}`
`ui:     virtualbox-iso (shell-local): 2019/04

[2019-04-09 17:00] loibpet commented on #7384
Problem has been solved. This was indeed the reason. Sorry for that.

[2019-04-09 17:10] #7384 closed

[2019-04-09 17:14] SwampDragons commented on #7453
Not yet. I've been working on last minute details for the 1.4.0 release and have not had a chance to look at this. Thanks for your patience.

[2019-04-09 17:15] SwampDragons commented on #7481
Interesting, thanks for opening!

[2019-04-09 18:22] ad-m opened #7483 "Keeping good condition of "master" branch"
Is there a rule in this project to make the "master" branch build correctly and pass tests always? If not, is it worth introducing?

Today I received when CI daily build the project:
[code]
Full log: https://travis-ci.com/hyperonecom/h1-packer-e2e/builds/107660851

I received similar problems with building earlier in the DigitalOcean and other providers.

The presented CI job comes from constant m

[2019-04-09 19:41] markmsmith commented on #3457
Any updates on this?  I ran in to the same problem today.
I don't need any fancy recursive evaluation, just a default like in shell scripting, eg
[code]

[2019-04-10 00:00] SwampDragons commented on #7483
All PRs have to pass CI before being merged, which includes being built. What command are you running that is giving you this failure? I've built Packer multiple times today off the master branch and am not getting build errors.

[2019-04-10 02:07] chhaj5236 opened #7486 "Packer v1.3.5 seems not built correctly?"
Packer v1.3.5 should include following features:
- builder/alicloud: Update aliyun sdk to support eu-west-1 region [GH-7338]

But the binary downloaded from [https://www.packer.io/downloads.html](https://www.packer.io/downloads.html) still failed with "Unknown alicloud region: eu-west-1" error.

Then I checkout the source code of tag v1.3.5 from repository and it works as expected, and those speci

[2019-04-10 04:38] sebyx commented on #7449
I can also add that RedHat 8 beta has been released and support for floppy device has been removed.

[2019-04-10 07:43] bertramn opened #7487 "Packer docker builder does not reset ENTRYPOINT properly"
We are using packer to build a container with a parent that includes an entrypoint. In the packer build we "reset" entrypoint with `ENTRYPOINT []`. Unfortunately the container is being committed with the entrypoint of the parent still in place.

Doing this in a Dockerfile gets rid of the entrypoint from parent:

[code]

While the same in packer version does not:

[code]

- Packer version v1.3.5
-

[2019-04-10 08:58] rickard-von-essen commented on #7487
This is actually a issue with the Docker cli:

[code]

I suggest that you open an issue with Moby and link it here.

[2019-04-10 10:35] bcube opened #7488 "Couldn't find VMware tools for 'linux'!"
-CentOS 7
-packer version : 1.3.5

Error received.

[code]

[centos_base.log](https://github.com/hashicorp/packer/files/3063313/centos_base.log)

Any advice? Thanks a lot

[2019-04-10 11:03] ad-m commented on #7483
Here is our CI configuration: https://github.com/hashicorp/packer/issues/7483

[2019-04-10 11:34] ad-m commented on #7483
Here is our CI configuration how we build: https://github.com/hyperonecom/h1-packer-e2e/blob/master/Dockerfile

[2019-04-10 11:49] imranismail commented on #5065
This is still happening surprisingly

[2019-04-10 13:02] azr commented on #7488
Howdy @bcube, I think the answer is in your logs:

tools on-demand. However, to do this, you need to create a fake VM
of the proper type then click the 'install tools' option in the
VMware GUI.

Also read #6182 for more info.

I think your problem should be solved with this, so I'm going to close this issue; but please tell us if the problem persists.

[2019-04-10 13:02] #7488 closed

[2019-04-10 13:07] azr commented on #7487
The weird thing is if I pause packer (using debug mode) and run for example `docker commit -c 'ENTRYPOINT ["tini", "--"]' -c 'CMD ["top"]'` the resulting image will get the ENTRYPOINT/CMD fields updated.

[2019-04-10 13:08] azr commented on #7487
related: https://github.com/moby/moby/issues/29502

[2019-04-10 13:17] azr commented on #7483
here, because packer is out of it's supposed gopath - and in docker alpine's case it should be `/go/src/github.com/hashicorp/packer` - go 1.12 will be using go modules

[2019-04-10 13:19] azr commented on #7483
And this also tells us that the go modules are not on par and we should probably add a ci test for this. I originally did this in https://github.com/hashicorp/packer/pull/7270 but then forgot about it and it got outdated. I'll update it now.

[2019-04-10 14:38] marema31 commented on #7488
Hello @bcube , just for information, rhel7 (on which centos7 is derivated) provides openvmtools (can't remember the correct package name) that are the open source equivalent of vmware tools, theses are recommanded by vmware and RedHat since version 7 that is your case. This tools comes in two packages, one core and one only for graphical parts (not needed for servers).

[2019-04-10 16:23] SwampDragons commented on #3457
We are currently aiming to have the HCL2 integration in 6 months or so, and I believe this should be addressed by that change.

[2019-04-10 16:28] notzippy commented on #5744
The easy button : https://github.com/spf13/viper

[2019-04-10 22:35] markmsmith commented on #3457
Ok, thanks.

[2019-04-11 00:05] ad-m commented on #7483
Thank you for the information about ```GOPATH``` (Honestly, I have almost no experience in GO, but I have the support of my co-workers.) and development of the Packer. I made changes to our Packer build procedure during CI tests. I noticed a drop in build time & image size by half. Currently, building is proceeding successfully.

[2019-04-11 01:39] bcube commented on #7488
Thanks @azr  and @marema31 .

I verified my machine with yum -y install open-vm-tools" and the tool is installed.

[code]

[code]

Any advice on how to verify if my installation is correct? Thanks in advance

[2019-04-11 08:09] azr commented on #7483
Nice, no worries ! Yes, the speedup because the packer's vendors files are in the vendor folder and when building using go modules, go will download the dependencies **again** during build time.

[2019-04-11 08:22] emanuelgrama commented on #7033
Hello,

Any updates on this issue? I am facing the same problem and none of the workarounds mentioned are working for me.

Thanks

[2019-04-11 09:47] bcube commented on #5925
I am receiving the same message. I am with packer 1.3.5.
[pnda_template_base.vmx.txt](https://github.com/hashicorp/packer/files/3067999/pnda_template_base.vmx.txt)

2019/04/11 17:43:01 packer: 2019/04/11 17:43:01 Lookup up IP information...
2019/04/11 17:43:01 packer: 2019/04/11 17:43:01 GuestAddress found MAC address in VMX: 00:0c:29:64:ff:e1
2019/04/11 17:43:01 packer: 2019/04/11 17:43:01 Trying

[2019-04-11 09:48] azr commented on #6470
I believe this should be now solved with this : https://github.com/hashicorp/packer/pull/7466/files#diff-1fca62045a851051294784d1be9ba027R130

[2019-04-11 09:48] azr commented on #6912
I believe this should be now solved with this : https://github.com/hashicorp/packer/pull/7466/files#diff-1fca62045a851051294784d1be9ba027R130

[2019-04-11 20:17] SwampDragons commented on #4819
This was closed by https://github.com/hashicorp/packer/pull/7466 :D

[2019-04-11 20:17] #4819 closed

[2019-04-11 20:41] SwampDragons commented on #7304
@danports we just released v1.4.0 so you should now be able to use the official packer docker images.

[2019-04-11 20:59] SwampDragons commented on #7465
Took a second look here, and I think to add a keep_registered option all we need to do is add a little nuance here: https://github.com/hashicorp/packer/blob/master/builder/hyperv/common/step_create_vm.go#L164-L175

[2019-04-11 21:00] SwampDragons commented on #7465
The deletion is happening here: https://github.com/hashicorp/packer/blob/master/common/powershell/hyperv/hyperv.go#L621

[2019-04-11 21:07] SwampDragons commented on #7443
Thanks for opening this. I don't have any bright ideas this second, but I see a couple things worth noting in your logs:

[code]

[2019-04-11 21:43] ctbfourone commented on #5065
Ran into this with Packer 1.3.5, building on a Debian 9 host running Ansible 2.2.1.0-2+deb9u1, fwiw. Adding `-o IdentitiesOnly=yes` to the `ANSIBLE_SSH_ARGS` worked for me.

[2019-04-11 22:06] AndrewCi commented on #5845
Can you explain the conflict between ansible-local and Windows? Is it not possible to run a Packer build from a "unix" based machine to build a Windows image using ansible-local?

[2019-04-11 23:34] paulmey commented on #7304
@SwampDragons I don't think we reverted that commit in v1.4.0. It's a bug on the Azure side, but the timeline for a fix is not entirely clear. While they work on fixing their bug, my private build can be a workaround, or @danports' docker image.
@danports Docker Hub doesn't let me look at your build. In general, you'd do
[code]
That will pull sources & dependencies, revert the [offending commit](h

[2019-04-12 04:03] bcube opened #7493 "I am receiving the same message as #5925 . I am with packer 1.3.5."
I am receiving the same message. I am with packer 1.3.5.
[pnda_template_base.vmx.txt](https://github.com/hashicorp/packer/files/3067999/pnda_template_base.vmx.txt)

2019/04/11 17:43:01 packer: 2019/04/11 17:43:01 Lookup up IP information...
2019/04/11 17:43:01 packer: 2019/04/11 17:43:01 GuestAddress found MAC address in VMX: 00:0c:29:64:ff:e1
2019/04/11 17:43:01 packer: 2019/04/11 17:43:01 Trying

[2019-04-12 10:20] mykelalvis opened #7495 "No tag or changelog for 1.4.0"
- Packer version 1.4.0
- Host platform irrelevant

There appears to be no changelog or tag for 1.4.0

[2019-04-12 10:33] azr commented on #7495
Hello there, thanks ! I just tagged it now: https://github.com/hashicorp/packer/releases/tag/v1.4.0

[2019-04-12 10:33] #7495 closed

[2019-04-12 10:34] Occams opened #7496 "Packer 1.4.0: virtualbox-ovf builder fails to download source image"
- Packer version 1.4.0
- Windows Server 2016 x64
- Debug log output from `PACKER_LOG=1 packer build xxx`.
[https://gist.github.com/Occams/c2a72f07c3ac467a79566ad745645b48](url)

Download of source image fails reproducibly on different agents of our CI system. Previous version 1.3.5 works using identical configuration.

[2019-04-12 11:19] azr commented on #7496
Hello @Occams, sorry about that, please share your buildfile.

[2019-04-12 11:31] Occams commented on #7496
Hey @azr. I just updated the gist.
[https://gist.github.com/Occams/c2a72f07c3ac467a79566ad745645b48](url)

The packer build command line used is dynamically generated by scripting:

`D:\Apps\Packer\packer.exe build -force -timestamp-ui -on-error="abort" -only=vbox-preinstalled-win10 -var 'source_path_win10=D:\BuildAgent\temp\buildTmp\files\base_image\VirtualBox\agenda-base-win10.ova' -var 'dvd_dri

[2019-04-12 14:49] mykelalvis commented on #7495
TY!

[2019-04-12 14:56] azr commented on #7496
Howdy @Occams, I was able to reproduce and have fix in #7496 please tell me if that fixes it for you.

[2019-04-12 15:04] azr commented on #7496
Here's a binary in case : [packer_windows_amd64.zip](https://github.com/hashicorp/packer/files/3073883/packer_windows_amd64.zip)

[2019-04-12 15:07] gowthamakanthan commented on #5358
@SwampDragons, please let me know where i can some examples and documentation for vsphere.

[2019-04-12 17:05] danports commented on #7304
@paulmey Thanks for the `git revert` tip - that worked. I was trying to build a Docker image from my own fork of your Packer fork with the revert already baked in and that's where I ran into trouble. :man_shrugging:

My Docker image is here, if anyone else needs it until a permanent fix is made - I've confirmed that images built with this version correctly set the disk storage account type:
https:

[2019-04-12 17:41] SwampDragons commented on #5358
There are lots of examples for lots of builders available here: https://packer.io/community-tools.html

[2019-04-12 17:44] SwampDragons commented on #7304
Ah, I see. Thanks for catching that; I hadn't read closely enough.

[2019-04-12 18:05] SwampDragons commented on #7493
Hi, thanks for reaching out.  In my experience, issues connecting via SSH normally end up being "getting started" issues, rather than bugs. For these kinds of questions, it's generally better to use the [mailing list](https://groups.google.com/forum/#!forum/packer-tool) where there are more people ready to help; the GitHub issues here are generally monitored only by a few maintainers and a small s

[2019-04-12 18:05] #7493 closed

[2019-04-12 18:07] #7496 closed

[2019-04-12 18:08] #7430 closed

[2019-04-12 23:02] SwampDragons commented on #7465
I've added this option to the code; you can test out the linked branch using this binary:
[packer.zip](https://github.com/hashicorp/packer/files/3075409/packer.zip)

[2019-04-12 23:21] SwampDragons commented on #7453
I started looking into this. That CopyImage call is a third party call; if it is never returning for you, it's the fault of the AWS SDK, not of Packer.

In your original post, you said

Did this used to work and recently became flaky, or has it always been failing 8/10 times?  If it recently became flaky, when did this happen?

The logs are also confusing to me. If Packer is hanging on that CopyIm

[2019-04-12 23:29] SwampDragons commented on #7453
I've also seen these kinds of weird long amazon API hangs happen when there's something going on with credentials. Is it possible that you are using temporary keys that could be expiring before the build completes?

[2019-04-13 00:32] anilkumarmyla opened #7499 "AMI encryption not working with 1.4.0"
We have our packer json with kms key id and snapshot_users as follows
[code]

When packer build is run, we have a strange error regarding the kms key used for encryption.
[code]

This happened after we upgraded from 1.3.5 to 1.4.0 . I've checked the commit history and #7316/#7342 might likely be the cause

[2019-04-13 06:14] harshchauhan1988 commented on #7453
It became flaky recently without any change in packer version or script code.

let me follow up with AWS folks as well and see what observation they have.

I am not using Temporary credentials for this process.  I am sure that CI job is not timing out.. it keeps on waiting for completion.

[2019-04-13 11:00] iEpixel opened #7500 "Failed to add device 'Virtual CD/DVD Disk'."
Hi Megan,

i tried your fix regarding keep_registered but I couldn't test it, since i receive the following error:

[code]

I didnt had this issue before packer 1.4 and your fix.

Thank you in advance.

Kind regards

[2019-04-14 13:35] Chrislevi commented on #2886
Any news? the problem seems to consist + the --with-sdl option was removed.. any workaround?

[2019-04-14 18:44] radekg opened #7502 "Packer custom post processor panic crash"
FOR BUGS:

Describe the problem and include the following information:

- Packer version from `packer version`

`1.3.5`

- Host platform

`Darwin noan.local 18.5.0 Darwin Kernel Version 18.5.0: Mon Mar 11 20:40:32 PDT 2019; root:xnu-4903.251.3~3/RELEASE_X86_64 x86_64`

- Debug log output from `PACKER_LOG=1 packer build template.json`.

Error log in the gist: https://gist.github.com/radekg/d1fd7197

[2019-04-15 07:09] Occams commented on #7496
Hey @azr, unfortunately the proposed fix did not resolve the issue. Logfile regarding the development version is attached.

[https://gist.github.com/Occams/888f483e3372cd9cd36a6d0a542eeb4f](url)

[2019-04-15 11:10] Dan-Wolfy commented on #7376
Hi Chris,

Sorry for not replying straight away.

I am just learning Go at the moment and looking at the source code to see where it best fits :-)

Kind regards,

Dan

[2019-04-15 12:09] azr commented on #7496
Hey @Occams ! ah bummer, building on mac, I had another issue with ovf files, which is not your problem.

Trying on windows, one quick fix for this is to set the checksum type to none in the builder. I'd recommend checksumming for safety though.

[code]

[2019-04-15 14:31] swickera commented on #6470
Thanks!

[2019-04-15 14:41] azr commented on #6470
I'm going to take that thanks as a confirmation that the feature is okay to you and close this issue, please open a new issue if something's wrong with this !

[2019-04-15 14:41] #6470 closed

[2019-04-15 15:56] Dan-Wolfy commented on #7376
Having a think on this after looking at the source code.

You can add the templates and metadata to a running container but they won't take effect until it is restarted so the below stage in order of my preference.

1) New Step (and file step_templates.go ) after stepProvision and before stepPublish added to the steps in builder.go
2) Add at the end of the step_provision
3) Towards the top of the

[2019-04-15 16:40] SwampDragons commented on #7453
After my comment on Friday I spent some time coming through the open issues on the AWS SDK about hangs/timeouts. I didn't see anything exactly describing what we're seeing but there are a couple of issues around hangs in waiters.

[2019-04-15 16:42] SwampDragons commented on #7453
In your logs, in the "Aborting." line -- where is that coming from? I don't see it in your Python script. Did you manually abort and that's a Jenkins logline?

[2019-04-15 17:06] swickera commented on #6470
Not confirmed.  Will open a new issue if still a problem.

[2019-04-15 17:33] SwampDragons commented on #7500
@azr I think this may be related to the go-getter changes in 1.4.0.

@iEpixel what happens if you delete and re-download the iso?

[2019-04-15 17:44] SwampDragons commented on #7499
Hi, thanks for reaching out.

Interesting. IIRC, #7342 was intended to solve a similar problem and ended up not making it into the release because it was superceded by #6787.

We'll take a look as soon as we can.

[2019-04-15 18:12] #7465 closed

[2019-04-15 18:16] ChrisLundquist commented on #7376
I like option 1, adding a new step after provision.
We may have to figure out the exact commands we need to update the
container config.
From the builder's point of view, we probably want to reference a file,
what do you think?

Chris

On Mon, Apr 15, 2019 at 8:56 AM Dan Randle <notifications@github.com> wrote:

[2019-04-15 18:29] SwampDragons commented on #7502
Hi, thanks for reaching out.

I'm not sure if I have any good advice for you. I've never seen that gob error, but googling for it suggests that people have issues when they try to use pointers on certain structs. I've only had a chance to skim your code, but maybe if you use a type tfConfig.Config instead of a *tfConfig.Config here you can eliminate the error https://github.com/radekg/packer-terra

[2019-04-15 18:40] iEpixel commented on #7500
@SwampDragons  The iso file is pre-downloaded. Also tried with a slightly different windows version, same result. Packer can locate the iso file, but it fails to continue due the reason mentioned in the first post.

Kind regards

[2019-04-15 20:13] JohnnyBopper opened #7505 "Packer Crash"
Packer crashes during build. Tried running the latest version of 1.4.0.

- Packer version: 1.4.0
- Host platform: ESXI
- Crash log, Build log and Packer config: https://gist.github.com/JohnnyBopper/b1b29721f576b4c33d085ee20d92ea09

[2019-04-15 20:44] anilkumarmyla commented on #7499
Thank you. These are the last lines before the build fails.
[code]

Note that we create prior KMS keys in both us-east-1, us-west-2 regions and share these keys via kms key policy, with accounts that are in `snapshot_users`. Then we build the AMI in us-east-1 region using packer using the config in the description. As an end result, we would have two AMIs, one in us-east-1 and one in us-west-2 eac

[2019-04-15 21:20] SwampDragons commented on #7499
Wow this one has me a little stumped! The failing step here, "StepModifyAMIAttributes", was barely changed between these releases, and always took place post-encryption. The specific error message you're receiving here, "Encrypted snapshots with EBS default key cannot be shared" is an intentional AWS limitation (https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ebs-modifying-snapshot-permissions

[2019-04-15 22:05] anilkumarmyla commented on #7499
I'm positive we provide non-default EBS KMS keys. In contrast, these are the logs when using packer 1.3.5 with the same config

[code]

[2019-04-15 22:44] ahernyak opened #7506 "Crash (segmentation violation) when using jenkins packer plugin 1.4.0 with Debug enabled = true"
Works fine with packer 1.3.5 and 1.4.0 with Debug mode unchecked

Packer version: 1.4.0
Host platform: Ubuntu 16.04.6 LTS
Environment: Jenkins 2.164.2, Packer plugin: 1.4.0 (Debug enabled ONLY)
Packer template (full): https://gist.github.com/ahernyak/d4b284fdde6be8af485e94a93a66cd89
Log output: https://gist.github.com/ahernyak/913a0b6b4d7db7b6a30310585d4816cb
Crash log: https://gist.github.com/ahe

[2019-04-15 22:58] SwampDragons commented on #7499
I have a repro but I'm still trying to figure out root cause.

[2019-04-15 23:23] SwampDragons commented on #7499
Okay, found the issue. To work around this, you can manually add your build region to ami_regions and region_kms_key_ids. For example:

[code]

I'll work on implementing a fix now but that should get you up and running if you don't want to stay downgraded.

[2019-04-15 23:29] anilkumarmyla commented on #7499
That's good news. We can wait for the fix

[2019-04-15 23:52] SwampDragons commented on #7499
Sounds good. I've implemented the patch; you can find builds on the linked PR.

[2019-04-16 08:12] azr commented on #7505
Thanks for opening; it looks like the listener`s.l` is nil in here :

https://github.com/hashicorp/packer/blob/c214f6735b3c96cf59dfa55912e787b336917854/builder/vmware/common/step_configure_vnc.go#L108

[2019-04-16 08:23] azr commented on #7502
This error happens in `"encoding/gob"` you have to register each type to gob and when the same type is registered twice, gob panics. This time it panics because the names are identical but the types a little bit different. You have to find all the calls to `gob.RegisterName` in your project and make sure there's only one.

[2019-04-16 11:17] Dan-Wolfy commented on #7376
Hi Chris,

Hope you are well today.

I'm thinking treating it as unified tarball as have not seen any splits.

Builders config
I was thinking of using an array then splices to build out each path. Playing around with arrays and slices atm in Go.
{
  "builders": [
    {
      "type": "lxd",
      "name": "lxd-xenial",
      "image": "ubuntu-daily:xenial",
      "output_image": "ubuntu-xenial",

[2019-04-16 11:34] marcinbojko commented on #7496
Same on Linux, trying to bypassw ith checksum_type set to "none" i got:

[code]

[2019-04-16 12:15] azr commented on #7502
I usually happens in inits; one is here: https://github.com/radekg/packer-terraform-state-post-processor/blob/master/vendor/github.com/zclconf/go-cty/cty/types_to_register.go

[2019-04-16 13:33] azr commented on #7505
Howdy @JohnnyBopper, I think I have a fix in #7509. Can you please tell me if this binary works for you ?

[2019-04-16 13:44] azr commented on #7496
Hey @marcinbojko ! I'm sorry to hear that and it's weird because worked for me with my alpine ova file. Are you sure the checksum field is not set ? I'm asking because of that `VERR_TAR_BAD_CHKSUM_FIELD`.
 Please share your buildfile so that I can try to see what's wrong.

[2019-04-16 13:47] azr commented on #7500
Hey @iEpixel could you please share your buildfile and the full log ! I'll try to help you 🙂

[2019-04-16 13:53] marcinbojko commented on #7496
hey @azr, thanks for info. I've switched to 1.3.5. build new 1803 server image and now I am trying to replicate this into 1.4.0 on clean env. I'll share builds as soon as possible, thanks again.

[2019-04-16 14:06] marcinbojko commented on #7496
Hi @azr - same result.
So first stage is base stage - this goes smoothly.
https://gist.github.com/marcinbojko/88d02f07412a7699ab8f7be5019846e2

Second stage, starting from import from base stage fails:
https://gist.github.com/marcinbojko/9312ccb4fd9f59a713457722a34d4369

[code]

[2019-04-16 14:09] thompsm opened #7510 "Packer inspec provisioner test failing with \r error"
Packer inspec provisioner incorrectly determines a files user and owner

- Packer version 1.3.5 and 1.4.0
- Host platform RHEL 6, 7, and Amazon Linux 2, using the amazon-ebs builder

This is my provisioners section of my template:

[code]

file.rb has:

[code]

The output from packer shows:

[code]

If I run the same inspec test file, but directly using the inspec command outside of packer to the

[2019-04-16 14:36] azr commented on #7496
Hey @marcinbojko, do you still have the issue trying with one of those binaries ?

[darwin_amd64.zip](https://github.com/hashicorp/packer/files/3085388/darwin_amd64.zip)
[linux_amd64.zip](https://github.com/hashicorp/packer/files/3085389/linux_amd64.zip)
[windows_amd64.zip](https://github.com/hashicorp/packer/files/3085390/windows_amd64.zip)

[2019-04-16 14:40] marcinbojko commented on #7496
Sir, no sir! All is good/all is green.... for now ;)
Thanks!

[2019-04-16 14:42] azr commented on #7496
Awesome ! Your issue was the one I had too and that got fixed in #7496. Thanks for confirming ! 🙂

[2019-04-16 14:45] marcinbojko commented on #7496
I am doing my part ;) Thanks.

[2019-04-16 15:38] markmsmith opened #7511 "Download File Provisioner Fails With Docker for Mac"
## Description
When trying to build artifacts within a docker container, I encountered a problem with the File provisioner, where it wouldn't download the resulting artifacts, giving the error:
`docker: Download failed: Failed to read header from tar stream: EOF`

I've also seen failures where it just hangs forever, and other times it works for downloading an individual file but then errors for di

[2019-04-16 18:02] #7499 closed

[2019-04-16 18:24] #7505 closed

[2019-04-16 18:28] ChrisLundquist commented on #7376
I don’t have a keyboard today but I wanted to get a quick reply.

I’m with you that we want to keep the unified tarballs. I recall reading
about the split format mostly for migration from other container types. The
unified format seems like the best supported way inside LXD.

For configuration I feel reasonably certain that we want to keep the packer
file as thin as possible.

If we try to express

[2019-04-16 18:32] sweathagulabi commented on #7470
Hi Azr , tried the same but didn't work out. same error.

[2019-04-16 18:33] SwampDragons commented on #7510
@xinau Any chance you can take a peek at this?

[2019-04-16 18:36] SwampDragons commented on #7511
Thanks for the clear repro case. It works (meaning it fails :D ) for me. I'll take a look at fixing it.

[2019-04-16 18:39] xinau commented on #7510
I will take a look at it, but I'm not sure how much time I can invest the upcoming weeks.

[2019-04-16 18:54] SwampDragons commented on #7511
So, At least in your repro case, the issue appears to be a typo in your download provisioner:
the source reads `"source": "/home/root/download.txt",` when it should read `"source": "/root/download.txt",` based on where you uploaded the file to.

When I change the location to find the file in the correct place, I get a successful download.

That said, this error message is pretty useless. I'll look

[2019-04-16 20:11] SwampDragons commented on #7511
I've opened a PR to better surface error messages from docker (see the link above). If you click through, I've also attached an osx binary that you can use to check the new, better error messaging. When I used it in conjunction with your repro script, it correctly displayed that the path does not exist, rather than an EOF error.

[2019-04-16 20:30] anilkumarmyla commented on #7499
Thanks for the quick fix on this @SwampDragons , appreciate it!

[2019-04-16 20:59] SwampDragons commented on #7506
@azr Looking at the logs, this is related to the TTY changes.

[code]

[2019-04-16 21:16] SwampDragons commented on #7426
Since we received no reply, I'm going to assume rickard's suggestion was the missing link here.  Let us know if this still doesn't work for you.

[2019-04-16 21:16] #7426 closed

[2019-04-16 21:21] SwampDragons commented on #7312
@rickard-von-essen now that 7325 is merged, is this solved?

[2019-04-16 21:40] AndrewCi opened #7514 "Amazon EBS Builder leaves unencrypted snapshot behind in the AWS environment (cleanup behavior issue)"
Packer Version 1.3.5

I am using the EBS builder to create an encrypted AMI. Everything provisions properly. The template creates a temporary EC2 instance from a base AMI with the boot volume.

After the provisioners successfully run the steps follow as below:

1. Stop the source instance
2. Create an unencrypted AMI from the source stopped instance/unencrypted snapshot
3. Copy the unencrypted AMI

[2019-04-16 23:23] SwampDragons commented on #7470
you're using single quotes (`'`) instead of backtics: ````

[2019-04-16 23:24] SwampDragons commented on #7470
You need to change to backtics in all of your places where use use the `user` template engine

[2019-04-16 23:43] SwampDragons commented on #7427
After a bit of tinkering, I found that you can't capitalize

[code]

Switch it to
[code]

and you'll be good to go.

[2019-04-16 23:43] #7427 closed

[2019-04-17 02:54] gopichamada commented on #7470
It works, thanking you much for the help mate, appreciate it.

On Wed, Apr 17, 2019 at 4:54 AM Megan Marsh <notifications@github.com>
wrote:

[2019-04-17 04:31] stephenreay opened #7516 "Vagrant Cloud post-processor reports success despite failure"
After successfully building 3 vagrant images (parallels, vmware and virtualbox providers) Packer tried to upload the .box files to vagrant cloud as per the config (which worked yesterday and hasn't been changed).

A (presumably) intermittent issue on the remote server resulted in 503 errors, which packer reported, stating it will retry after 10 seconds (the same happened for all three boxes).

Aft

[2019-04-17 04:56] markmsmith commented on #7511
Good catch on the typo.  I must have missed it while pairing down the original file that was using `/home/node/`, sorry :(

I tested out the binary in your PR and can confirm I'm seeing the much better error message - thanks for the super quick response!

Hopefully the multi-file version will be implemented at some point, then I can just pull down a whole directory with:
[code]
instead of getting

[2019-04-17 05:36] rickard-von-essen commented on #7312
I don't know if this has been resolved, but but I think we can close this and reopen if we get more information.

[2019-04-17 08:55] #7511 closed

[2019-04-17 09:56] azr commented on #7506
Hey @ahernyak ! thanks for reporting ! Good catch @SwampDragons, the issue was that the interface type was set but the underlying object still nil, meaning that the if check will never be true

https://github.com/hashicorp/packer/blob/29e608e50508d8f142d5e43ff0ef686ff9014f95/packer/ui.go#L196-L198

Classic [go gotcha](http://devs.cloudimmunity.com/gotchas-and-common-mistakes-in-go-golang/index.htm

[2019-04-17 10:48] azr commented on #7516
could be related to #6615

[2019-04-17 12:23] AndrewCi commented on #7506
I'm also experiencing this error on Windows 10 Packer 1.4.0:

goroutine 2028 [running]:
github.com/hashicorp/packer/vendor/github.com/mattn/go-tty.(*TTY).readRune(0xc000062540, 0xc000000000, 0x0, 0x0)
        /Users/mmarsh/go/src/github.com/hashicorp/packer/vendor/github.com/mattn/go-tty/tty_windows.go:209 +0xd33
github.com/hashicorp/packer/vendor/github.com/mattn/go-tty.(*TTY).readString(0xc00006

[2019-04-17 12:43] andrewpwade opened #7518 "powershell provisioner: execute_command not respected when elevated"
Packer 1.4.0 with jetbrain's plugin `packer-builder-vsphere-clone`
Host: Fedora 29 (`Linux hostname 5.0.5-200.fc29.x86_64 #1 SMP Wed Mar 27 20:58:04 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux`)

with a `powershell` provisioner:
[code]

Log which shows the default `execute_command` being used https://gist.github.com/andrewpwade/df7199adc119ddcb2a28d3a6e7750045

[2019-04-17 12:44] andrewpwade commented on #7518
D'oh, despite looking twice, I managed to not see `elevated_execute_command` :man_facepalming:

[2019-04-17 12:44] #7518 closed

[2019-04-17 13:20] azr commented on #7506
Here are some more binaries to test wether my fix worked:
[windows_amd64.zip](https://github.com/hashicorp/packer/files/3089795/windows_amd64.zip)
[darwin_amd64.zip](https://github.com/hashicorp/packer/files/3089796/darwin_amd64.zip)

[2019-04-17 13:57] tonyd20 opened #7519 "Improperly formatted 'VirtualBox Builder (from an OVF/OVA)' documentation"
The documentation for [VirtualBox Builder (from an OVF/OVA)](https://www.packer.io/docs/builders/virtualbox-ovf.html) contains improperly quoted code under the section "SSH key pair automation".

The improperly formatted section is pulled in from a separate file with the line:
[code]

The partial fragment by itself appears properly formatted, but does not render correctly once included in the Virt

[2019-04-17 16:27] SwampDragons commented on #7519
Thanks! I'll fix this ASAP

[2019-04-17 16:32] SwampDragons commented on #7506
I'd love some confirmation from one of the affected parties before we merge; can either of you test those binaries for us?

[2019-04-17 16:36] #7312 closed

[2019-04-17 16:45] AndrewCi commented on #7506
windows_amd64.zip posted above did not work. Still received error below. Same template and configuration is working on 1.3.5.

goroutine 1779 [running]:
github.com/hashicorp/packer/vendor/github.com/mattn/go-tty.(*TTY).readRune(0xc000305240, 0xc000000000, 0x0, 0x0)
        /Users/azr/go/src/github.com/hashicorp/packer/vendor/github.com/mattn/go-tty/tty_windows.go:209 +0xd33
github.com/hashicorp/pa

[2019-04-17 16:56] azr commented on #7506
Hey @AndrewCi, did you also get a `No tty available` in your output log ? If not please share your full logs so that I can see what happened.

[2019-04-17 17:06] AndrewCi commented on #7506
https://gist.github.com/AndrewCi/0fe22ee3e75626ebf95ae97491480068

[2019-04-17 17:17] SwampDragons commented on #7516
503 is a permissions, most likely caused by an invalid token. But it definitely shouldn't have tried to release if the upload fails. I'll take a look.

[2019-04-17 17:21] SwampDragons commented on #7516
Can I see your specific logs for this upload cycle?  I want to narrow down what code path is being taken inside of Packer.

[2019-04-17 17:23] #7519 closed

[2019-04-17 17:23] SwampDragons commented on #7519
Closed by #7520

[2019-04-17 17:53] SwampDragons commented on #7514
Thanks for reporting. I'd say this is a bug. We should be deleting the unencrypted snapshot. I've reproduced and I'll take a look at fixing it now.

[2019-04-17 18:47] ahernyak commented on #7506
2019/04/17 18:44:45 [INFO] Packer version: 1.4.1-dev
2019/04/17 18:44:45 Packer Target OS/Arch: linux amd64
2019/04/17 18:44:45 Built with Go Version: go1.12.4
2019/04/17 18:44:45 Detected home directory from env var: /var/lib/jenkins

[2019-04-17 20:04] SwampDragons commented on #7514
I've attached binaries of a patch that'll fix this to #7521; could you try it out and confirm for me that the proposed change works for you?  (I've tested it with my own repro cases but I always like getting confirmation from the reporter)

[2019-04-17 20:10] AndrewCi commented on #7514
Which version did you update this from? Version 1.4.0 was not working for me (as per this issue https://github.com/hashicorp/packer/issues/7506). I've been using 1.3.5 as a result.

[2019-04-17 20:23] SwampDragons commented on #7514
I updated it from master, which has already fixed that crash :)

[2019-04-17 20:27] SwampDragons commented on #7514
Oops, was thinking of the wrong issue. Why do you need to run in CI with the debug flag?

[2019-04-17 20:28] AndrewCi commented on #7514
Issue #7506 was impacting me with and without the debug flag.

[2019-04-17 20:44] SwampDragons commented on #7514
Looks like Adrien's fix got us part way there; different error at least. I'll take a quick look and see if I can get you a build that fixes both.

[2019-04-17 21:13] SwampDragons commented on #7514
Looks like you're running with on-error=ask?  If you change that to on-error=abort or on-error=cleanup that should work around the bug in 7506 and allow you to test the binary I've provided on the PR to fix this issue. I'm still looking into why Adrien's fix didn't work for you.

[2019-04-17 21:52] BeverlyBrown opened #7522 "Packer 1.4.0 crashed while configuring VNC port for remote vmware-iso build"
Using a json template that worked fine with Packer version 1.3.5, I am now seeing it crash when configuring the VNC port . Output below - I attached the crash.log file.

==> Builds finished but no artifacts were created.
panic: runtime error: invalid memory address or nil pointer dereference
2019/04/17 17:40:49 packer: [signal SIGSEGV: segmentation violation code=0x1 addr=0x10 pc=0x1df735c]
2019/0

[2019-04-17 21:58] BeverlyBrown commented on #7522
My VNC port min and max are:

      "vnc_port_min": "5901",
      "vnc_port_max": "5920"

[2019-04-17 22:12] SwampDragons commented on #7506
@AndrewCi I can't reproduce on my Windows VM; can you share your packer template, and tell me what actions you're taking to get this error to happen?

[2019-04-17 22:18] SwampDragons commented on #7522
Hi, thanks for reaching out. I'm having trouble reproducing this. Can you share full example template that reproduces this error?

[2019-04-17 22:20] SwampDragons commented on #7522
Oh, actually I think this is a duplicate of https://github.com/hashicorp/packer/issues/7505 and fixed by https://github.com/hashicorp/packer/pull/7509.

I'll upload a linux binary to that PR so you can test it out.

[2019-04-17 22:24] SwampDragons commented on #7522
does this binary work for you?
[packer.zip](https://github.com/hashicorp/packer/files/3091775/packer.zip)

[2019-04-17 22:30] BeverlyBrown commented on #7522
Yes, this seems to be working. It's still buiding the VM, but it got past the point where it had crashed.
Thank you for such a quick response!

[2019-04-17 22:30] SwampDragons commented on #7522
No problem! Let us know if you find anything else :)

[2019-04-17 22:30] #7522 closed

[2019-04-17 23:51] SwampDragons commented on #7373
Rebuilding v1.3.4 from tags yields a Packer that fails the same way as it is in your logs. Once I downloaded the actual release from our site, I got the successful run, though. That means this has to do with the golang version upgrade we did between 1.3.4 and 1.3.5.  go 1.11.4, it passes, but go 1.12 fails.

I'll try to figure out what changed and whether we can work around it to preserve the old

[2019-04-18 06:03] vikranthsuravarapu opened #7523 "I am getting the following error while building image from packer"
I am getting the following error while building an image through packer :
errored: Error processing command: Retryable error: Error uploading ps script containing env vars: Error uploading file to $env:TEMP\winrmcp-bf4b7bec-470b-4273-5487-ec6776ed8314.tmp: Couldn't create shell: http response error: 401 - invalid content type

[2019-04-18 08:08] azr commented on #7434
It happening on windows too !
[code]

[2019-04-18 08:10] azr commented on #7506
Okay so #7517 fixes this issue ! Thanks for confirming @ahernyak !

@AndrewCi's issue is another one ( #7434) in the tty vendor that I fixed in #7452, I fixed it for unix but looking at the code it didn't seem it was going to happen for windows...

Reopening #7434.

[2019-04-18 08:53] radeksimko opened #7524 "builder/qemu: Support on-board NICs"
As mentioned in https://www.qemu.org/2018/05/31/nic-parameter/ the `-device` & `-netdev` flags are unfortunately not equivalent to `-nic` or (deprecated) `-net`.

Because Packer hard-codes `-device` and `-netdev` flags

https://github.com/hashicorp/packer/blob/29e608e50508d8f142d5e43ff0ef686ff9014f95/builder/qemu/step_run.go#L116

https://github.com/hashicorp/packer/blob/29e608e50508d8f142d5e43ff0

[2019-04-18 11:19] azr commented on #7434
I opened a new fix in https://github.com/mattn/go-tty/pull/25

[2019-04-18 11:30] azr commented on #7506
Okay I have a fix, please tell me if it's better for you @AndrewCi,

[darwin_amd64.zip](https://github.com/hashicorp/packer/files/3094174/darwin_amd64.zip)
[linux_amd64.zip](https://github.com/hashicorp/packer/files/3094175/linux_amd64.zip)
[windows_amd64.zip](https://github.com/hashicorp/packer/files/3094176/windows_amd64.zip)

[2019-04-18 12:13] Trolldemorted commented on #5200
Could you estimate a timeframe? Not being able to run packer on machines with not enough memory is very annoying, especially if those machines literally have access to a hyper-v core server in their local hyper-v manager.

[2019-04-18 12:39] upodroid opened #7525 "Packer hangs when I run Ansible Provisioner or ansible-playbook via shell provisioner."
##### SUMMARY
Packer hangs when I run Ansible in verbose mode. This happens with ansible provisioner and shell provisioner.

##### ANSIBLE + Packer VERSION

[code]
##### CONFIGURATION

- ansible playbook
[code]

- packer.json

[code]

##### OS / ENVIRONMENT
Google Compute Engine + Ubuntu 18.04 LTS

##### STEPS TO REPRODUCE
Build a packer image.

##### EXPECTED RESULTS

Here is a log without the ve

[2019-04-18 12:40] upodroid commented on #7525
https://gist.github.com/upodroid/1da201c7928cd78a43c847d52b72fb33

A Packer run with verbose flag. It is stuck on APT step and I had to cancel the build.

[2019-04-18 14:31] AndrewCi commented on #7506
Thank you for working on this. Unfortunately, it is still not working. It's hanging on an installation of ansible into a python virtualenv (specifically when pip is collecting the remote package and attempts to download the .tar). When I login to the server mid-build I validated that shell script generated from the inline shell builder ran successfully because everything installed properly. I also

[2019-04-18 14:32] AndrewCi commented on #7514
Issue #7506 is still a problem regardless of the mode I run in. See my comment on that issue for an update.

[2019-04-18 16:31] danopia opened #7527 "Use clean_resource_name in variables"
Feature Request: I saw that `clean_ami_name` has been generified into `clean_resource_name` by #7456. It seems that generic function should now be usable from the `variables` block to help code reuse, especially with how many resource names the EBS builder accepts.

Consider this snipped present-day template:

[code]

This currently-invalid template feels cleaner:

[code]

[code]

I see that #4073

[2019-04-18 16:45] SwampDragons commented on #7527
Hi, thanks for reaching out! The name has been made generic to make it easier for people working with multiple builders, but the function being called underneath is still scoped to the builder. This is because each cloud has different rules for what it considers valid, so we can only know how to properly scrub the information if we're inside a specific builder.

You're definitely right that your v

[2019-04-18 16:49] SwampDragons commented on #7527
Example template using isotime formatting:

[code]

If you just wanted the date, you could do something like:
`"myvar": "packer-{{isotime \"2006-01-02\"}}"`

[2019-04-18 16:50] SwampDragons commented on #7527
Since we can't support the global scoping the way this feature is currently architected, I'm going to close this. But I appreciate the suggestion and if we end up changing how it's implemented in the future I'll keep this in mind.

[2019-04-18 16:50] #7527 closed

[2019-04-18 16:56] danopia commented on #7527
Thanks for that sample template. Looks to support the reuse I'm looking for. Cheers!

[2019-04-18 17:09] SwampDragons commented on #7506
Hmm. That hang may not be related to this same issue, then. Can you please open a new issue with all the information we need to reproduce this ourselves?  (That includes a simple template that we can run to reproduce and test against, so we don't have to guess and go back and forth with you, full debug logs, and information about your environment and any script you may be using to call Packer.)

[2019-04-18 17:17] SwampDragons commented on #7525
This may be related to @AndrewCi's comment on #7506

[2019-04-18 18:12] SwampDragons commented on #7523
Hi, thanks for reaching out!  In order to help you, we need the following information:

- Packer version from `packer version`
- Host platform
- Debug log output from `PACKER_LOG=1 packer build template.json`.
  Please paste this in a gist https://gist.github.com
- The _simplest example template and scripts_ needed to reproduce the bug.
  Include these in your gist https://gist.github.com

[2019-04-18 18:13] #7514 closed

[2019-04-18 18:14] SwampDragons commented on #7514
Sounds good. I've merged the fix for this particular issue, and responded on the other one.

[2019-04-18 18:24] AndrewCi opened #7529 "Packer 1.4.0 hangs while installing ansible-2.7.10 into a python virtualenv using pip"
**SUMMARY:**
Packer 1.4.0 hangs while installing ansible-2.7.10 into a python virtualenv using pip, the Packer EBS builder, and shell provisioner. The same template and builder works on Packer 1.3.5. This is on Windows 10 64-bit.

**SAMPLE TEMPLATE/LOGS:**
https://gist.github.com/AndrewCi/3d768238412885a8e48cf4f4a58e56ea

[2019-04-18 18:25] AndrewCi commented on #7506
I made a separate issue #7525 because it doesn't appear to be isolated to the ansible provisioner itself, but might be an ansible issue in general.

[2019-04-18 20:20] SwampDragons commented on #7373
Found the upstream bug: https://github.com/golang/go/issues/30520

The good news is, this has been fixed, merged and has been backported to the 1.12 release branch https://github.com/golang/go/issues/30586

I will make sure we release 1.4.1 with the latest version of golang, but in the meantime, here's a linux build of the master branch with golang 1.12.4. I tested, and it resolves your symlink is

[2019-04-18 20:20] #7373 closed

[2019-04-18 20:22] SwampDragons commented on #7529
Thanks!

[2019-04-18 21:20] SwampDragons commented on #7529
I can't reproduce from my osx machine; the download takes a couple of seconds and then succeeds. Gonna try in my windows VM.

[2019-04-18 21:34] markododa opened #7530 "File provisioner with lxd builder acts if trailing slash is present"
Using the lxd builder, i have a simple file provisioner decleration

`{
  "type": "file",
  "source": "/root/saltstack/reactor",
  "destination": "/srv/reactor"
},
`
as per the documentation at https://www.packer.io/docs/provisioners/file.html this should create a folder /srv/reactor with the contents of the source directory.
However /srv/reactor is not created but its contents are in the /srv fol

[2019-04-18 21:41] SwampDragons commented on #7529
Can't reproduce on my 64 bit windows vm either.

[2019-04-18 21:44] jasonzio opened #7531 "Azure builder should enable "boot diagnostics" in the building VM"
The Azure builder can timeout with "Waiting for SSH to become available", but there's no way to investigate what caused the timeout. By enabling "boot diagnostics" in the building VM, at the very lease one could "Connect to serial console" to see if the log spew explained the problem.

[2019-04-18 21:47] SwampDragons commented on #7529
In the logs you shared, you're sending an interrupt about a minute after the last timestamp Packer logs. What behavior do you see if you don't send the interrupt? does it hang for minutes/hours/more?  Does it return with an EOF error?

[2019-04-18 21:48] jasonzio opened #7532 "Azure builder doesn't report meaningful error when Azure can't allocate the target VM due to capacity or allocation constraints"
If the region targeted by Packer is capacity-constrained for the chose SKU, or if the subscription used by Packer has exhausted allocation for that SKU in that region, packer will just timeout while "Waiting for SSH to become available..." instead of issuing a helpful error message.

[2019-04-18 21:55] AndrewCi commented on #7529
It hung for 30 minutes before I exited. I've tried multiple times for 10-15 minutes to no avail. It doesn't crash when I exit. When I manually logged into the server while the build was hanging I was able to verify that ansible was downloaded and installed properly. For some reason it's not sending a signal back to packer.

On 1.3.5 it takes less than a minute to run successfully.

Is anyone able

[2019-04-18 21:59] SwampDragons commented on #7529
I'll ask around and see if I can get someone to run the repro on a physical box.

Meanwhile, is there anything special about your source ami?  I'm just using the default centos7 one provided by centos.

[2019-04-18 22:00] paulmey commented on #7532
Thanks for the suggestion. Can you add some detail on how Packer should detect this situation?
I guess deployment succeeds, because Packer continues to waiting for SSH? Does VM start eventually fail?

[2019-04-18 22:44] AndrewCi commented on #7529
Amazon Linux 1 AMI

[2019-04-18 22:46] SwampDragons commented on #7529
okay lemme try with that one instead.

[2019-04-18 23:22] SwampDragons commented on #7529
That didn't do it. Gonna read some code and see if I can come at this from a different angle without repro, for now.

[2019-04-18 23:47] ndench opened #7533 "1.4.0 virtualbox "errored: Downloading file: [Empty checksum]""
I recently upgraded to Packer 1.4.0 (on the April 14) and now I receive the following error when running a packer build for a virtualbox vm:

[code]

I've created [a gist](https://gist.github.com/ndench/8a365ffa2288d0d6c3a5ee30bec7d931) which shows the easiest reproducible case as well as the packer log.

Downgrading to packer 1.3.5 fixes the issue.

Some details:
packer version: 1.4.0
virtualbox

[2019-04-19 01:22] jaca783 commented on #7510
@SwampDragons / @xinau  +1 from me!  This is also affecting my packer workflows.

[2019-04-19 04:09] ssolipuramwex commented on #7472
I have set the environment variables
"AWS_MAX_ATTEMPTS": "400"
 "AWS_POLL_DELAY_SECONDS": "10"
But still the AMI creation fails after 30mins, Is there any new variable which need to be added for the wait time for the AMI to be ready:
2019-04-18T20:19:48.5865613Z ==> amazon-ebs: Waiting for AMI to become ready...
2019-04-18T20:49:44.5817020Z ==> amazon-ebs: Error waiting for AMI. Reason: <nil>

[2019-04-19 04:47] ssolipuramwex commented on #7472
I have set the environment variables
"AWS_MAX_ATTEMPTS": "400"
"AWS_POLL_DELAY_SECONDS": "10"
But still the AMI creation fails after 30mins, Is there any new variable which need to be added for the wait time for the AMI to be ready:
2019-04-18T20:19:48.5865613Z ==> amazon-ebs: Waiting for AMI to become ready...
2019-04-18T20:49:44.5817020Z ==> amazon-ebs: Error waiting for AMI. Reason:

[2019-04-19 06:39] ulrichbayer opened #7534 "Packer 1.4.0'use of go-getter for local ISO downloads fails for vmware-iso builder"
I am using packer 1.4.0 on Windows and the vmx-builder with VMWare Workstation 15 Pro 15.0.4 build-12990004.
The switch to hashicorp/go-getter for downloading ISO files leads to the creation of symlinks for local ISO files (e.g, file:///C:/VMs/Microsoft Windows 10 Enterprise x64 EN-US LTSB 2019/SW_DVD5_WIN_ENT_LTSC_2019_64-bit_English_MLF_X21-96425.iso).
VMWare Workstation does not seem to support

[2019-04-19 07:19] bwn-a commented on #7346
I am encountering the same issue, is there a workaround to allow sharing the generated AMIs?  I have verified that sharing works with AMIs that have been encrypted with CMKs in a similar manner as @amphied

Thanks!

[2019-04-19 12:04] upodroid commented on #7525
Hi

Let me know if you have a binary with a potential fix and I'll give it a try.

[2019-04-19 16:09] SwampDragons commented on #7525
I don't yet.

[2019-04-19 16:13] SwampDragons commented on #7534
Thanks for reaching out; sorry for the regression.  I believe this is a duplicate of #7496; there are some builds on that issue which contain a patch that should solve this for you.

[2019-04-19 16:15] SwampDragons commented on #7534
Actually on closer read this looks unique. Looking at this now.

[2019-04-19 16:16] SwampDragons commented on #7472
Can you share your full logs please?

[2019-04-19 16:36] SwampDragons commented on #7533
Thanks for reaching out; sorry for the regression. I believe this is a duplicate of #7496; there are some builds on that issue which contain a patch that should solve this for you.

[2019-04-19 17:27] ErikEvenson opened #7535 "Packer Crash"
crash.log: https://gist.github.com/ErikEvenson/e55439740f44d8ef590e41877e976732

!!!!!!!!!!!!!!!!!!!!!!!!!!! PACKER CRASH !!!!!!!!!!!!!!!!!!!!!!!!!!!!

Packer crashed! This is always indicative of a bug within Packer.
A crash log has been placed at "crash.log" relative to your current
working directory. It would be immensely helpful if you could please
report the crash with Packer[1] so that we ca

[2019-04-19 17:40] SwampDragons commented on #7535
Thanks for reaching out! Sorry for this regression. I believe this is a duplicate of https://github.com/hashicorp/packer/issues/7505, and fixed in https://github.com/hashicorp/packer/pull/7509.  If you'd like binaries that include that patch, you can find them on the issue in 7509.

[2019-04-19 17:42] ErikEvenson commented on #7535
Thank-you!

[2019-04-19 17:44] SwampDragons commented on #7525
Did this happen in version 1.3.5, or is it a new bug in 1.4.0?

[2019-04-19 18:08] upodroid commented on #7525
I used 1.4.0.

I'll re run it with 1.3.5 and post the logs here.

[2019-04-19 18:10] SwampDragons commented on #7525
thanks -- also, how are you installing ansible? I want to try to reproduce exactly. Looks like you're calling packer on a linux instance?

[2019-04-19 18:40] SwampDragons commented on #7523
I'm closing now because of insufficient information, but if you can share the info I asked for, we can reopen.

[2019-04-19 18:40] #7523 closed

[2019-04-19 18:43] SwampDragons commented on #7502
I'm closing for now, but if you need more help please reach out to the [mailing list](https://groups.google.com/forum/#!forum/packer-tool) for further advice.

[2019-04-19 18:43] #7502 closed

[2019-04-19 19:04] upodroid commented on #7525
Yeah so I'm running Packer on a GCE Instance and i basically run the json file above and it spins up new GCE instance. There is an startup script I run before the provisioners are ran hence the 140s delay.

startup-script
[code]

BTW, the build ran fine with Packer 1.3.5 so it is a bug that was introduced recently.

https://gist.github.com/upodroid/1da201c7928cd78a43c847d52b72fb33 The second file.

[2019-04-19 21:32] SwampDragons commented on #7404
Thanks for opening. This is at least two bugs -- the actual deletion error, and the fact that the checking loop doesn't time out.

The lack of context cancellation is because it's happening in the cleanup phase but we should definitely have a timeout in here so this doesn't loop infinitely:
https://github.com/hashicorp/packer/blob/master/builder/vmware/common/step_register.go#L63-L78

[2019-04-19 21:48] SwampDragons commented on #7404
As for the deletion error... Are you able to manually verify the existance of the /vmfs/volumes/Packer-Datastore/packer-Win-2016-1552493650-1552493650 and is there anything inside of it at the time the builder is stuck spinning?

[2019-04-19 21:55] SwampDragons commented on #7010
I've been thinking about this some and I think the clarity benefit from deprecating the vmx_data_post feature on the vmware builder isn't worth the backwards incompatibility and confusion. It also doesn't make sense from the perspective that post-processors are (generally!) supposed to be generalizable, but this option only makes sense in the context of the vmware builders. I think we just need to

[2019-04-19 21:55] #7010 closed

[2019-04-19 21:57] SwampDragons commented on #6651
Turns out this and #7165 are the same issue; I'm going to close this one so that we can track them together.

[2019-04-19 21:57] #6651 closed

[2019-04-19 21:59] SwampDragons commented on #3628
Can someone confirm whether this is still an issue with a recent version of Packer?  #3417 was merged some time ago and I'd love to know whether it or any other of our recent changes to vmware fixed things.

[2019-04-19 22:04] SwampDragons commented on #4022
Is this still an issue? I'm planning an esxi push for myself next week and want to revisit some of these old issues if necessary.

[2019-04-19 22:11] SwampDragons commented on #4056
I'm going through old esxi issues right now to determine what to close and what to work on in my next esxi push.  Reading over this one, it sounds like the issue is that folks wanted the vagrant post-processor to use the remote artifact to create the vagrant vm.  The vagrant post-processor was definitely only written to work on a local filesystem, so I think I'd say this is expected behavior. I'll

[2019-04-19 22:11] #4056 closed

[2019-04-19 23:00] SwampDragons commented on #5953
I never head back about that binary; should I close this issue?

[2019-04-19 23:03] SwampDragons commented on #6937
Closing due to inactivity.

[2019-04-19 23:03] #6937 closed

[2019-04-20 04:47] meauses commented on #7003
In agreement with all of the above, if Packer could already add it to the shared image gallery as a post provisioners or something where you can define the image version etc, would save work and speed up any CI/CD process.

[2019-04-20 06:03] carlpett opened #7540 "Proxmox builder: Crash and docs"
Created from comment by @zaenk in #7391:

* The [docs](https://github.com/hashicorp/packer/pull/7391/files?file-filters%5B%5D=.md#diff-4d8ad6a99d84244b1840b1c869d3edd4R74) says, possible values of `os` might be `linux`, `windows`, `solaris` or `other`, but setting `linux` (for ProxMox 5.4-3) gives the following >error

[code]

Setting the option to `l26` fixed this issue.

Also the the VM disk ima

[2019-04-20 06:12] carlpett commented on #7540
Regarding docs: This seems to be a case of copy/paste error. I'll fix that. The disk not being removed is a bit tricky though, this is on Proxmox's side I believe. We don't get a reference back when the VM fails to be created, so there is no easy way to remove it.

Regarding the uint/int, it seems this was changed between the time I started working on the builder vs when it was merged: #7423. I'll

[2019-04-20 08:08] zaenk commented on #7540
I see. The disk removal matter shouldn't be an issue once the docs are fixed anyway.

Thanks for looking into it!

[2019-04-20 08:29] zaenk opened #7541 "ProxMox builder should check http status codes while typing boot command"
When the user does not have `Sys.Modify` permission on proxmox, then the boot command type calls return with an http 403, that the `proxmox-api-go` sallow.

It is an upstream issue, so I'm not expecting any fix for it, but we could  include a troubleshooting chapter into the docs of the builder about it.

- Packer version from `packer version`: 1.4.1 dev build at https://github.com/hashicorp/packe

[2019-04-20 13:08] kitkitcheung opened #7542 "Google: Add support for source_image shared from another project"
Packer version: 1.4.0

In the build json, I defined the source_image value under googlecompute builder like :

"source_image": "project/xxxx-distcompute-dev/global/images/gce-image-test-xxxxxxx"

And execute packer build, the below error throws out:

![image](https://user-images.githubusercontent.com/19661371/56457558-4932bf80-63af-11e9-95b3-73770d229efb.png)

Could please support for source_image

[2019-04-21 10:00] vikas027 opened #7544 "Comments in Packer JSON Files"
Prior to Packer v1.4.0, I was able to use a multiline comment by adding a `_description` in the root level key.

[code]

Now, in Packer v1.4.0 we need to use `_comment` as shown [here](https://www.packer.io/docs/templates/index.html#comments).

This is fine but it was actually better to use an array rather than a string to store some information of the image along with tracking numbers, etc

Can y

[2019-04-21 10:23] rickard-von-essen commented on #7542
See [source_image_project_id](https://packer.io/docs/builders/googlecompute.html#source_image_project_id)

[2019-04-21 10:23] #7542 closed

[2019-04-21 13:14] vikas027 opened #7545 "Packer 1.4.0 - Unable to use source_path in vagrant builder"
I have a json which works fine with v1.3.5 but fails with v1.4.0

### Packer File
[code]

### Error Log
[code]

[2019-04-22 03:59] kondor6c commented on #7524
Could #7437 also be related?

[2019-04-22 06:05] radeksimko commented on #7524
@kondor6c I don't believe it's related to this issue, except that we might also need a similar list of allowed devices (for all QEMU versions and architectures/binaries) for `-nic` if we make it a 1st class parameter in Packer.

I was more thinking along the lines of making `-device` and `-netdev` optional, which would at least make it possible to pass `-nic` like any other extra argument through

[2019-04-22 08:43] Binternet commented on #1489
this happens when I'm running this:
`sudo echo "test" > /root/something`

Using a standalone .sh file when I'm running a `provisioner` with `type: shell`

[2019-04-22 09:11] rickard-von-essen commented on #1489
@Binternet yes see my previous answer.

[2019-04-22 11:28] iwanchiyou commented on #7529
Hangs for hours with v1.4.0, works fine with v1.3.5 .

MacOS
Amazon Linux 2 AMI
EBS
shell builder : pip install ansible==2.7.10 or 2.5.0

[2019-04-22 12:40] GMZwinge commented on #5953
@SwampDragons Sorry, I totally forgot about this. I'll try to test it today.

[2019-04-22 13:59] stephenreay commented on #7516
Hey @SwampDragons - I don't have a log for that run. I can try to run it again but unless there's a way to trigger a 503 response artificially I'm not sure how I'll be able to provide anything useful?

[2019-04-22 15:35] JohnnyBopper commented on #7404
After upgrading to 1.4.0 Packer started crashing so I used the version that has the StepConfigureVNC fix (https://github.com/hashicorp/packer/issues/7505). With this version, the destroy step now works. I'm thinking that the issue described in https://github.com/hashicorp/packer/issues/7140 was the same that I was experiencing in regards to the destroy now working.

As far as the cancellation issu

[2019-04-22 19:03] SwampDragons commented on #7404
That's good, then. I'll take a look at adding a timeout to this loop anyway, to make sure we don't have future infinite loops, but if the deletion itself seems to be working now I won't sink more time into that.

[2019-04-22 19:10] SwampDragons commented on #7516
That's a bummer. Without logs or a way to reproduce, it's gonna be hard for me to investigate this.  There's nothing clear to me in the code that would cause the release to happen after a failed upload, but I'll try to take a look when I have a chance..

[2019-04-22 19:14] SwampDragons commented on #7529
Thanks for the secondary confirmation. That fact that it's happening for you on MacOS means that it isn't because of the windows host, which is hopefully good news for getting a repro. It's interesting to me that both of you are experiencing this on Amazon Linux AMIs.

[2019-04-22 20:04] SwampDragons commented on #7545
Thanks for the note -- I'll fix it ASAP.

[2019-04-22 20:18] SwampDragons commented on #7545
oh! this was already fixed by https://github.com/hashicorp/packer/pull/7512. What's your OS? I can build you a binary of the master branch for you to use until the 1.4.1 release.

[2019-04-22 20:19] #7545 closed

[2019-04-22 20:23] radeksimko commented on #7437
I think the chain of commands that can be used to get (more or less definite?) list is something like this

[code]
[code]
[code]

which means there is `B (binary) * T (machine type) * A (accelerator)` possible devices, if not more.

This makes me think if maintenance burden of this static list for validation purposes is actually worth it, when qemu itself returns relatively useful error when incor

[2019-04-22 21:52] SwampDragons commented on #7544
This is probably going to be rendered unnecessary when we switch to using HCL2 templates later this year, as they allow comments. As a workaround in the meantime, you can either stick to v1.3.5 or you can use jq to remove the "_description" from your packer template as part of your wrapping script.

For example:
`jq 'del(._description)' commented_template.json`

will print your template without th

[2019-04-22 21:53] SwampDragons commented on #7544
This will be closed in https://github.com/hashicorp/packer/issues/1768

[2019-04-22 22:38] ndench commented on #7533
Ah cool, thanks for that @SwampDragons. Sorry about the duplicate issue, I only checked open issues to see if it was already raised.

[2019-04-22 22:38] #7533 closed

[2019-04-22 23:53] #7535 closed

[2019-04-23 01:09] vikas027 commented on #7545
Hey @SwampDragons ,

Thanks for the response. My OS is OS X 10.14.3. When are you expecting to release version of v1.4.1?

[2019-04-23 03:09] nferch commented on #7525
I'm having a similar problem, with both 1.4.0 and 1.3.5.

running the Ansible provisioner with "-vvb" produces a hang on a lengthy apt-get upgrade task that produces a lot of output. Works fine with just "-b".

SSH'ing into the machine after the hang shows a stale `sshd`:

"""
  321 ?        Ss     0:00 /usr/sbin/sshd -D
  398 ?        Ss     0:00  \_ sshd: packer [priv]
  422 ?        S      0:00

[2019-04-23 08:32] dojolabs-ci opened #7549 "packer build ignores -parallel=false"
when executing the following build command:
 packer build -parallel=false -var version=v1.0.5 -var access_key=******* -var secret_key=********* dojo-os-ubuntu-18.04-dpdk.json
both the builders run in parallel although -parallel=false supplied
Thanks,
- Packer v1.4.0
- Fedora 29
- Debug log output from `PACKER_LOG=1 packer build template.json`.
  https://gist.github.com/dojolabs-ci/968fbfc557fdfd29

[2019-04-23 09:37] #7540 closed

[2019-04-23 09:52] azr commented on #7534
Hello @ulrichbayer, thanks for reporting, this is an issue with the layout of the go-getter. Sorry I didn't foresee this issues. I initially wanted to introduce a breaking change to the go-getter in order to fix this but I think this can be done without. Trying something.

[2019-04-23 10:11] azr commented on #7534
Turns out there is no simple way to do this without breaking the checksumming.

[2019-04-23 11:55] shantanugadgil opened #7550 "[feature request] [proxmox] allow to disable "KVM hardware virtualization""
For the new upcoming Proxmox builder, could you add the "kvm" option, and let the user **disable** this option as well.
This option has a 0/1 value using the `qm` command.

Use case:
I have installed PVE installed on my laptop under VirtualBox and the VTx is not passed through to PVE. :monkey:

- Packer version from `packer version`
Packer v1.4.1-dev

- Host platform
Linux: Ubuntu 18.04 / CentOS 7

[2019-04-23 13:40] #5091 closed

[2019-04-23 13:43] #4121 closed

[2019-04-23 13:46] #6143 closed

[2019-04-23 14:59] Dan-Wolfy commented on #7376
Update;

Right I have created 2 new steps one to handle the metadata ( opens using anything else needs doing  at that level ) and an another for template files in the tarball.
I am able to check the files exists, read content working of the files but working on the write options atm to open the default editor when the edit command is called for both templates section in the metadata and creation o

[2019-04-23 16:36] azr commented on #7529
Hello there I tried to repro on my windows machine but couldn't.
Just to check could you please try it without the `--progress-bar pretty` option ???

Also, are you using a specific terminal ? Or a CI term ?

[2019-04-23 16:59] SwampDragons commented on #7549
Hi, thanks for reaching out! I can't reproduce and your logs looks to me like the builds were properly being run in sequence instead if in parallel:

[code]

and then almost immediately the qemu build errors and fails because of a port lock issue, so the virtualbox build begins:

[code]

I think this may just be some confusion with the logs; a little bit of work is done at the very beginning to in

[2019-04-23 17:04] SwampDragons commented on #7525
@nferch your issue is probably different since the previous two are regressions new in 1.4.0. Do you have an issue open for it already?

[2019-04-23 17:07] AndrewCi commented on #7529
I tried without `--progress-bar pretty` and it still did not work. I am using cmder with admin privileges on Windows 10.

[2019-04-23 17:26] stephenreay commented on #7516
It occurred to me the bug may have occurred in the server side logic - I wonder if it returned an incorrect response (given that it had just been returning 503, which is usually “maintenance” or “overloaded” - maybe you’re thinking of 403 when you mentioned permissions?)

[2019-04-23 17:39] eak12913 commented on #7529
I'm having a similar issue but not related to ansible.

Packer template is building an AMI based on Amazon Linux
Packer version: `1.4.0`
OS: MacOS (locally) or Linux (running in CircleCI)

In my case the packer build is executing a shell script that's running a maven command to package a bunch of jars into a "fat jar".  Re-running this halts at the same point each time.

The same packer build comp

[2019-04-23 17:47] SwampDragons commented on #7529
@eak12913 would you be willing to download Packer [v1.3.5](https://releases.hashicorp.com/packer/1.3.5/) and let us know if you're seeing the same behavior there as you were in 1.2.3?

[2019-04-23 17:53] eak12913 commented on #7529
@SwampDragons, sure thing. Running with `1.3.5` right now. Update shortly.

[2019-04-23 18:00] eak12913 commented on #7529
I'm able to build the template successfully `1.3.5`.  I'm also not seeing any of the formatting issues I described above with `1.3.5`.

[2019-04-23 18:07] SwampDragons commented on #7529
Awesome, that helps confirm this may be the same issue. Thanks.

[2019-04-23 18:47] SwampDragons commented on #7529
I'm still struggling to reproduce any of your cases, which is a big bummer. That said, my gut instinct is that this is related to the tty changes we made between v1.3.5 and v1.4.0.  @azr has already made some changes that need to be merged with the master branch.  It's not a direct correlation because those were made to prevent panics, and it's a bit of a shot in the dark, but could any of you tes

[2019-04-23 18:48] SwampDragons commented on #7516
ah, possibly.

[2019-04-23 19:03] eak12913 commented on #7529
I just tried with the `1.4.1` patch build that you recommended above and I'm sorry to say that it halts just like `1.4.0` :-/

Happy to try a version with extra debugging info turned on if that will help narrow things down.

[2019-04-23 19:39] SwampDragons commented on #7529
😭

Thanks. I'll try to come up with something today.

[2019-04-23 19:59] nferch opened #7552 "Hang when running Ansible provisioner in verbose mode"
Similar symptoms to #7525, but able reproduce on 1.3.5 so not a regression.

- Packer version
[code]
- Ansible version
[code]

- Host platform
[code]
- I disabled SSH multiplexing to eliminate it as a possible source.

Debug logs and configs at https://gist.github.com/nferch/3a4bb78a724be49ece78ccfcd05f235f

[2019-04-23 20:20] SwampDragons commented on #7552
Thanks for opening a fresh issue!

[2019-04-23 22:05] #7549 closed

[2019-04-24 01:45] blackophelia commented on #7529
I've just come across exactly the same issue, but on centos 7.

[2019-04-24 05:35] nareshkumar23736 opened #7555 "Build 'vmware-iso' errored: unexpected EOF"
packer version:1.4.0
Platforms : packer installed on RHEL 7 VM and trying to create ova files using esxi vm(remote )
/opt/packer/packer build /opt/packer/json/test.json
OUTPUT:
      vmware-iso output will be in this color.

Warnings for build 'vmware-iso':

* Your vmx data contains the following variable(s), which Packer normally sets when it generates its own default vmx template. This may cause